[Unit]
Description=RavenDB v5.2
After=network.target

[Service]
LimitCORE=infinity
LimitNOFILE=65535
LimitRSS=infinity
LimitAS=infinity
LimitMEMLOCK=infinity
User=RAVENDB_USERNAME
StartLimitBurst=0
Restart=on-failure
Type=simple
TimeoutStopSec=300
ExecStart=RAVENDB_PATH/run.sh

[Install]
WantedBy=multi-user.target

