p.Normal, li.Normal
	{margin-bottom:.0001pt;
	font-size:11.0pt;
	font-family:Verdana;
	margin-left:0in; margin-right:0in; margin-top:0in}
h1
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	page-break-before:always;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:Verdana;
	}
h2
	{margin-top:14.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:150%;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:Verdana;
	}
h3
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:150%;
	page-break-after:avoid;
	font-size:11.0pt;
	font-family:Verdana;
	}
p.Toc1
	{margin-top:14.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	font-size:10.0pt;
	font-family:Verdana;
	text-transform:uppercase;
	font-weight:bold;
	}
p.Toc2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:12.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana;
	}
p.Toc3
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:24.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana;
	}
a:link
	{color:blue;
	text-decoration:underline;
	}
a:visited
	{color:purple;
	text-decoration:underline;
	}
p.Body
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:-116%;
	font-size:11.0pt;
	font-family:Verdana;
	}
p.TypedExample
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	line-height:150%;
	font-size:10.0pt;
	font-family:Verdana;
	font-weight:bold}
p.ContentsHeading
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	page-break-before:always;
	page-break-after:avoid;
	font-size:16.0pt;
	font-family:Verdana;
	font-weight:bold}
p.Step
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0.1in;
	font-size:11.0pt;
	font-family:Verdana
	}
p.StepNote
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:150%;
	font-size:10.0pt;
	font-family:Verdana;
	font-weight:bold
	}
p.Code-Background
	{margin-top:0;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:0;
	font-size:10.0pt;
	font-family:"Courier New"
	}
p.Title1
	{margin-bottom:.0001pt;
	font-size:36.0pt;
	font-family:Verdana;
	margin-left:0in; margin-right:0in; margin-top:0in}
p.Title2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	page-break-after:avoid;
	font-size:28.0pt;
	font-family:Verdana;
	}
p.CopyrightText
	{margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana;
	margin-left:0in; margin-right:0in; margin-top:0in}
p.ExerciseList
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	text-indent:-.25in;
	line-height:-116%;
	font-size:11.0pt;
	font-family:Verdana;
	}
p.LabSummary
	{margin-top:14.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:150%;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:Verdana;
	font-weight:bold;
	}
p.Code-Highlighted
	{margin-top:0;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:0;
	background:#E6E6E6;
	font-size:10.0pt;
	font-family:"Courier New"
	}
p.Stepnonumbering
	{margin-top:0;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0.5in;
	font-size:11.0pt;
	font-family:Verdana
	}
ul
	{margin-bottom:0in;}