@use "Content/scss/bs5variables";
@use "Content/scss/colors";
@use "Content/scss/sizes";
@use "Content/scss/variables";

.index-terms {
    .accordion {
        background-color: bs5variables.$accordion-bg;

        .accordion-item {
            border: colors.$border-color-light 1px solid !important;
            border-radius: bs5variables.$accordion-border-radius;

            .accordion-body {
                div {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                    gap: 0.8rem;
                }

                .term-pill {
                    display: flex;
                    padding: sizes.$gutter-xxs sizes.$gutter-xs;
                    align-items: stretch;
                    border: colors.$panel-bg-3 1px solid;
                    background-color: colors.$panel-bg-1-var;
                    border-radius: bs5variables.$accordion-border-radius;

                    &:hover {
                        transition: filter 200ms;
                        filter: brightness(1.2);

                        button {
                            display: block;
                        }
                    }
                }

                button {
                    display: none;
                }
            }
        }
    }
}
