<form data-bind="submit: saveDocument" class="cmp-xchg" autocomplete="off">

    <div class="value-editor flex-window flex-grow content-margin">
        <div class="flex-window-head">
            <div class="row">
                <div class="col-md-6">
                    <div class="documentId">
                        <div data-bind="if: isCreatingNewValue()">
                        <div class="input-group" data-bind="validationElement: key">
                            <div class="input-group-addon">Compare Exchange Key</div>
                            <input class="form-control"
                                   name="documentId"
                                   id="documentIdInput"
                                       data-bind="textInput: key, disable: $root.isBusy">
                            </div>
                        </div>
                        <div data-bind="if: !isCreatingNewValue()">
                            <span class="obj-name" data-bind="text: key"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="pull-right-md bg-warning padding padding-xs" data-bind="visible: displayExternalChange()">
                        <small>
                            <span class="icon-warning"></span> Value has been modified outside of the studio. <a href="#" data-bind="click: refresh">Click here to refresh.</a>
                        </small>
                    </p>
                </div>
            </div>
            <div class="btn-bar toolbar">
                <div class="pull-left-sm">
                    <button type="submit" class="btn btn-primary save-btn" data-bind="enable: isSaveEnabled, css: { 'btn-spinner': isSaving }">
                        <i class="icon-save"></i>
                        <span>Save</span>
                    </button>
                    <button type="button" data-bind="click: deleteValue, enable: !isCreatingNewValue() && !spinners.delete(), css: { 'btn-spinner': spinners.delete }" class="delete-btn btn btn-danger">
                        <i class="icon-trash"></i>
                        <span>Delete</span>
                    </button>
                </div>
                <div class="pull-right-sm">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-bind="click: toClipboard">
                            <i class="icon-copy-to-clipboard"></i>
                            <span>Copy to the clipboard</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="btn-group btn-group-sm pull-right" role="group">
                    <button type="button" class="btn btn-default" data-bind="enable: !isNewLineFriendlyMode(), click: formatValue"><span class="icon-indent"></span> <span>Format</span></button>
                    <button type="button" class="btn btn-default" data-toggle="button" data-bind="click: toggleAutoCollapse"><span class="icon-collapse"></span> <span>Toggle collapse</span></button>
                    <button type="button" class="btn btn-default" data-toggle="button" data-bind="click: toggleNewlineMode"><span class="icon-newline"></span> <span>Toggle new lines</span></button>
                </div>
            </div>
        </div>
        <div class="flex-window-scroll">
            <pre id="docEditor" class="form-control value-editor absolute-fill" 
                 data-bind="aceEditor: { code: valueText, fontSize:'16px', lang: 'ace/mode/raven_document' }, disable: isBusy, validationOptions: { errorsAsTitle: false }, validationElement: valueText"></pre>
        </div>
        <div data-bind="validationOptions: { errorsAsTitle: false }, validationElement: valueText">
            <div class="help-block" data-bind="validationMessage: valueText"></div>
        </div>

    </div>
</form>
