<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.1.3-Unstable" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="lodash" version="1.0.1" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="Nancy" version="0.20.0-beta1" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="0.20.0-beta1" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="2.3.0" targetFramework="net45" />
</packages>