<div class="col-md-7">
    <div class="form-group">
        <label for="databaseName">Name</label>
        <input data-bind="value: fileSystemName, valueUpdate: 'afterkeydown', customValidity: nameCustomValidityError" type="text" class="form-control" id="filesystemName" autocomplete="off" placeholder="File System Name">
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#fsAdvancedOptions">
                        Advanced Settings
                    </a>
                </h4>
            </div>
            <div id="fsAdvancedOptions" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="filesystemPath">Path</label>
                        <input data-bind="value: fileSystemPath, customValidity: pathCustomValidityError, valueUpdate: 'afterkeydown', attr: { placeholder: '~/FileSystems/' + fileSystemName() }" type="text" class="form-control" id="filesystemPath" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="filesystemLogs">Logs</label>
                        <input data-bind="value: fileSystemLogsPath, customValidity: logsCustomValidityError, valueUpdate: 'afterkeydown', attr: { placeholder: (fileSystemPath() || '~/FileSystems/' + fileSystemName()) }" type="text" class="form-control" id="filesystemLogs" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="storageEngine">Storage Engine</label>
                        <select data-bind="value: storageEngine" class="form-control" id="storageEngine">
                            <option value="">Default</option>
                            <option value="esent">Esent</option>
                            <option value="voron">Voron</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-5">
    <div>
        <label>Bundles</label>
    </div>
    <div class="btn-group-vertical" data-toggle="buttons-checkbox">
        <button type="button" class="btn btn-default" data-bind="click: toggleEncryptionBundle, css: { 'license-inactive': !isBundleActive('encryption') }">
            <i data-bind="css: { 'fa-check': isEncryptionBundleEnabled }" class="fa fa-fw"></i> Encryption
        </button>
         <button type="button" class="btn btn-default" data-bind="click: toggleVersioningBundle, css: { 'license-inactive': !isBundleActive('versioning') }">
            <i data-bind="css: { 'fa-check': isVersioningBundleEnabled }" class="fa fa-fw"></i> Versioning
        </button>
    </div>
</div>