<div class="col-md-7">
    <div class="form-group">
        <label for="timeSeriesName">Name</label>
        <input autofocus data-bind="value: resourceName, valueUpdate: 'afterkeydown', customValidity: nameCustomValidityError" type="text" class="form-control" id="timeSeriesName" autocomplete="off" placeholder="Time Series Name">
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tsAdvancedOptions">
                        Advanced Settings
                    </a>
                </h4>
            </div>
            <div id="tsAdvancedOptions" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="timeSeriesPath">Path</label>
                        <input data-bind="value: resourcePath, customValidity: pathCustomValidityError, valueUpdate: 'afterkeydown', attr: { placeholder: '~/TimeSeries/' + resourceName() }" type="text" class="form-control" id="timeSeriesPath" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-5">
    <div>
        <label>Bundles</label>
    </div>
    <div class="btn-group-vertical" data-toggle="buttons-checkbox">
    </div>
</div>