<section id="resources-page">
    <div class="text-center" data-bind="visible: resources().length == 1">
        <div class="row">
            <div data-bind="css: { 'col-md-5' : showCreateCluster(), 'col-md-12': !showCreateCluster() }">
                <h2 class="page-header text-info">
                    <i class="fa fa-database fa-5x"></i>
                    <br />
                    <br/>
                    <span data-bind="visible: has40Features()">No databases, file systems, counter storages or time series are available.</span>
                    <span data-bind="visible: !has40Features()">No databases or file systems are available.</span>
                     <br />
                    <small data-bind="visible: isGlobalAdmin() || canNavigateToAdminSettings()">
                        <span data-bind="visible: isGlobalAdmin">
                            Go ahead and <a href="#" data-bind="click: newResource">create one now</a> or 
                        </span>
                        <span data-bind="visible: canNavigateToAdminSettings">
                            <a href="#" data-bind="click: navigateToAdminSettings">manage your server</a>
                        </span>
                    </small>
                </h2>
            </div>
            <div class="col-md-2" data-bind="visible: showCreateCluster()">
                <h2 class="page-header text-info" style="border-bottom: 0">
                    <i class="fa fa-5x">&nbsp;</i><br />
                    OR
                </h2>
            </div>
            <div class="col-md-5" data-bind="visible: showCreateCluster()">
                <h2 class="page-header text-info" data-bind="visible: canCreateCluster()">
                    <i class="fa fa-cubes fa-5x"></i>
                    <br/>
                    <br/>
                    Create cluster <br/>
                    <small>Go ahead and <a href="#" data-bind="click: navigateToCreateCluster">create cluster</a></small><br/>
                    <small class="text-warning" data-bind="visible: $root.developerLicense()">Enterprise feature</small>
                </h2>
                <h2 class="page-header text-info" style="color: gray" data-bind="visible: !canCreateCluster()">
                    <i class="fa fa-cubes fa-5x"></i>
                    <br />
                    <br />
                    Create cluster <br />
                    <small>Enterprise feature. <a href="http://ravendb.net/buy" target="_blank">Upgrade your license</a></small>
                </h2>
            </div>
        </div>
    </div>
    <ul class="breadcrumb" data-bind="visible: resources().length > 1">
        <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
        <li>
            <h3>
                <a href="#resources" data-bind="visible: has40Features()">
                    Databases, File Systems, Counter Storages and Time Series
                </a>
                <a href="#resources" data-bind="visible: !has40Features()">
                    Databases and File Systems
                </a>
            </h3>
        </li>
    </ul>

    <!-- ko if: alerts().length > 0 -->
    <!-- ko foreach: alerts -->
    <div class="alert alert-dismissable" role="alert" data-bind="css: { 'alert-warning': alertLevel === 'Warning', 'alert-danger': alertLevel === 'Error' }">
        <button data-bind="click: $root.dismissAlert.bind($root, uniqueKey)" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <a data-bind="attr: { href: $root.urlForAlert($data) }"><span data-bind="text: title"></span></a>
    </div>
    <!-- /ko -->
    <!-- /ko -->

    <div class="btn-toolbar" data-bind="visible: resources().length > 1">
        <div class="btn-group">
            <div class="checkbox">
                <input id="resources_all" class="styled" type="checkbox" data-bind="checkboxTriple: resourcesSelection, event: { change: toggleSelectAll }, visible: isCheckboxVisible" title="Select all or none">
                <label for="resources_all">&nbsp;</label>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" data-bind="click: newResource, visible: isGlobalAdmin" accesskey="n" title="Create a new resource. (Alt+N)">
                <i class="fa fa-plus"></i> New Resource
            </button>
        </div>
        <div class="btn-group">
            <input type="text" accesskey="/" class="form-control" placeholder="Search" data-bind="value: searchText, valueUpdate: 'afterkeydown', visible: resources().length > 0" title="Search for a database or file system (Alt+/)">
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger" data-bind="click: deleteCheckedResources, visible: resourcesSelection()" title="Delete selected databases or file systems"><i class="fa fa-trash-o"></i></button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: toggleCheckedResources, visible: allCheckedResourcesDisabled() != null, attr: { title: allCheckedResourcesDisabled() ? 'Enable selected resources' : 'Disable selected resources' }">
                <i class="fa" data-bind="css: { 'fa-lock': !allCheckedResourcesDisabled(), 'fa-unlock': allCheckedResourcesDisabled }"></i>
            </button>
        </div>
        <div class="btn-group">
            <select data-bind="options: visibleOptions, optionsText: 'name', optionsValue: 'value', value: visibleResource" class="form-control"></select>
        </div>
        <div id="summary" class="btn-group">
            <span class="databases-summary" data-bind="text: databasesSummary"></span>
            <span data-bind="visible: isCommaNeeded">|</span>
            <span class="file-systems-summary" data-bind="text: fileSystemsSummary"></span>
        </div>
        <div class="btn-group pull-right">
            <button class="btn btn-warning" data-bind="click: navigateToAdminSettings, visible: canNavigateToAdminSettings">Manage Your Server</button>
        </div>
    </div>

    <div class="resources-container" data-bind="foreach: resources">
        <!--ko if: $data.isDatabase() -->
        <div class="resource" data-bind="visible: isVisible, click: function () { $root.selectResource($data); return true; }, css: { selected: isSelected, disabled: disabled, isLoaded: isLoaded() }">
            <div class="checkbox" data-bind="visible: $root.isGlobalAdmin(), click: function(){ $root.optionsClicked(true); return true; }, style: { display: isChecked() ? 'block' : '' }">
                <input type="checkbox" class="styled" data-bind="checked: isChecked, attr: { id: 'resource_' + $index() }">
                <label data-bind="attr: { for: 'resource_' + $index() }">&nbsp;</label>
            </div>
            <div class="details">
                <h4>
                    <!-- ko if: !$data.disabled() && $data.isLicensed() -->
                    <a class="resource-name" data-bind="attr: { href: $root.getDocumentsUrl($data) }"><i data-bind="attr: { class: iconName }" class="fa"></i> db/<span data-bind="text: name"></span></a>
                    <!-- /ko -->
                    <!-- ko if: $data.disabled() || !$data.isLicensed() -->
                    <a class="resource-name"><i data-bind="attr: { class: iconName }"></i> db/<span data-bind="text: name"></span></a>
                    <!-- /ko -->
                </h4>
                <br />
                <!-- ko if: !$data.disabled() && $data.isLicensed() -->
                <span class="stats" data-bind="style: { visibility: !!statistics() ? 'visible' : 'hidden' }, text: itemCountText"></span>
                <!-- /ko -->
                <!-- ko if: $data.disabled -->
                <span class="stats-disabled">Disabled</span>
                <!-- /ko -->
                <!-- ko if: !$data.disabled() && !$data.isLicensed() -->
                <span class="stats-disabled">Unlicensed</span>
                <!-- /ko -->
            </div>

            <!-- ko if: $data.indexingDisabled -->
            <span class="indexing-disabled"><i class="fa fa-warning text-warning" title="Indexing Disabled"></i></span>
            <!-- /ko -->
            <!-- ko if: $data.rejectClientsMode -->
            <span class="clients-rejected"><i class="fa fa-warning text-warning" title="Clients rejected mode"></i></span>
            <!-- /ko -->
            <div class="btn-group" data-bind="click: function(){ $root.optionsClicked(true); }, visible: $root.isGlobalAdmin()">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs fa-lg"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">
                            <i class="fa fa-arrow-down"></i>
                            <span>Takedowns</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation">
                                <a data-bind="click: function () { $root.toggleSelectedResources([$data]); return true; }, attr: { title: disabled() ? 'Enable Selected Database' : 'Disable Selected Database' }">
                                    <i class="fa fa-fw" data-bind="css: { 'fa-lock': !disabled(), 'fa-unlock': disabled }"></i>
                                    <span data-bind="text: disabled() ? 'Enable' : 'Disable'"></span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a data-bind="click: function () { $root.disableDatabaseIndexing($data); return true; }, attr: { title: indexingDisabled() ? 'Enable Indexing' : 'Disable Indexing' }">
                                    <i class="fa fa-fw fa-bolt" data-bind="style: { color: indexingDisabled() ?  'red' : 'green' }"></i>
                                    <span data-bind="text: indexingDisabled() ? 'Enable indexing' : 'Disable indexing'"></span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a data-bind="click: function () { $root.toggleRejectDatabaseClients($data); return true; }, attr: { title: rejectClientsMode() ? 'Accept clients mode' : 'Reject clients mode' }">
                                    <i class="fa fa-fw fa-umbrella" data-bind="style: { color: rejectClientsMode() ? 'red' : 'green' }"></i>
                                    <span data-bind="text: rejectClientsMode() ? 'Accept clients mode' : 'Reject clients mode'"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li role="presentation" class="delete-resource">
                        <a title="Delete selected database" data-bind="click: function () { $root.deleteSelectedResources([$data]); return true; }">
                            <i class="fa fa-fw fa-trash-o"></i>
                            <span>Delete</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: $data.isFileSystem() -->
        <div class="resource fs" data-bind="visible: isVisible, click: function () { $root.selectResource($data); return true; }, css: { selected: isSelected, disabled: disabled, isLoaded: isLoaded() }">
            <div class="checkbox" data-bind="visible: $root.isGlobalAdmin(), click: function () { $root.optionsClicked(true); return true; }, style: { display: isChecked() ? 'block' : '' }">
                <input type="checkbox" class="styled" data-bind="checked: isChecked, attr: { id: 'resource_' + $index() }">
                <label data-bind="attr: { for: 'resource_' + $index() }">&nbsp;</label>
            </div>
            <div class="details">
                <h4>
                    <!-- ko if: !$data.disabled() && $data.isLicensed() -->
                    <a class="resource-name" data-bind="attr: { href: $root.getFileSystemFilesUrl($data) }"><i data-bind="attr: { class: iconName }"></i> fs/<span data-bind="text: name"></span></a>
                    <!-- /ko -->
                    <!-- ko if: $data.disabled() || !$data.isLicensed() -->
                    <a class="resource-name"><i data-bind="attr: { class: iconName }"></i> fs/<span data-bind="text: name"></span></a>
                    <!-- /ko -->
                </h4>
                <br />
                <!-- ko if: !$data.disabled() && $data.isLicensed() -->
                <span class="stats" data-bind="style: { visibility: !!statistics() ? 'visible' : 'hidden' }, text: itemCountText"></span>
                <!-- /ko -->
                <!-- ko if: $data.disabled -->
                <span class="stats-disabled">Disabled</span>
                <!-- /ko -->
                <!-- ko if: !$data.disabled() && !$data.isLicensed() -->
                <span class="stats-disabled">Unlicensed</span>
                <!-- /ko -->
            </div>

            <div class="btn-group" data-bind="click: function () { $root.optionsClicked(true); }, visible: $root.isGlobalAdmin()">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs fa-lg"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a data-bind="click: function () { $root.toggleSelectedResources([$data]); return true; }, attr: { title: disabled() ? 'Enable Selected File System' : 'Disable Selected File System' }">
                            <i class="fa fa-fw" data-bind="css: { 'fa-lock': !disabled(), 'fa-unlock': disabled }"></i>
                            <span data-bind="text: disabled() ? 'Enable' : 'Disable'"></span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li role="presentation" class="delete-resource">
                        <a title="Delete selected filesystem" data-bind="click: function () { $root.deleteSelectedResources([$data]); return true; }">
                            <i class="fa fa-fw fa-trash-o"></i>
                            <span>Delete</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: $data.isCounterStorage() -->
        <div class="resource cs" data-bind="visible: isVisible, click: function () { $root.selectResource($data); return true; }, css: { selected: isSelected, disabled: disabled }">
            <div class="checkbox" data-bind="visible: $root.isGlobalAdmin(), click: function () { $root.optionsClicked(true); return true; }, style: { display: isChecked() ? 'block' : '' }">
                <input type="checkbox" class="styled" data-bind="checked: isChecked, attr: { id: 'resource_' + $index() }">
                <label data-bind="attr: { for: 'resource_' + $index() }">&nbsp;</label>
            </div>
            <div class="details">
                <h4>
                    <!-- ko if: !$data.disabled() && $data.isLicensed() -->
                    <a class="resource-name" data-bind="attr: { href: $root.getCounterStorageCountersUrl($data) }"><i data-bind="attr: { class: iconName }"></i> cs/<span data-bind="text: name"></span></a>
                    <!-- /ko -->
                    <!-- ko if: $data.disabled() || !$data.isLicensed() -->
                    <a class="resource-name"><i data-bind="attr: { class: iconName }"></i> fs/<span data-bind="text: name"></span></a>
                    <!-- /ko -->
                </h4>
                <br />
                <!-- ko if: !$data.disabled() && $data.isLicensed() -->
                <!--TODO: implement stats-->
                <span class="stats" data-bind="style: { visibility: !!statistics() ? 'visible' : 'hidden' }, text: itemCountText"></span>
                <!-- /ko -->
                <!-- ko if: $data.disabled -->
                <span class="stats-disabled">Disabled</span>
                <!-- /ko -->
                <!-- ko if: !$data.disabled() && !$data.isLicensed() -->
                <span class="stats-disabled">Unlicensed</span>
                <!-- /ko -->
            </div>

            <div class="btn-group" data-bind="click: function () { $root.optionsClicked(true); }, visible: $root.isGlobalAdmin()">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs fa-lg"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a data-bind="click: function () { $root.toggleSelectedResources([$data]); return true; }, attr: { title: disabled() ? 'Enable Selected Counter Storage' : 'Disable Selected Counter Storage' }">
                            <i class="fa fa-fw" data-bind="css: { 'fa-lock': !disabled(), 'fa-unlock': disabled }"></i>
                            <span data-bind="text: disabled() ? 'Enable' : 'Disable'"></span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li role="presentation" class="delete-resource">
                        <a title="Delete Selected Counter Storage" data-bind="click: function () { $root.deleteSelectedResources([$data]); return true; }">
                            <i class="fa fa-fw fa-trash-o"></i>
                            <span>Delete</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: $data.isTimeSeries() -->
        <div class="resource ts" data-bind="visible: isVisible, click: function () { $root.selectResource($data); return true; }, css: { selected: isSelected, disabled: disabled }">
            <div class="checkbox" data-bind="visible: $root.isGlobalAdmin(), click: function () { $root.optionsClicked(true); return true; }, style: { display: isChecked() ? 'block' : '' }">
                <input type="checkbox" class="styled" data-bind="checked: isChecked, attr: { id: 'resource_' + $index() }">
                <label data-bind="attr: { for: 'resource_' + $index() }">&nbsp;</label>
            </div>
            <div class="details">
                <h4>
                    <!-- ko if: !$data.disabled() && $data.isLicensed() -->
                    <a class="resource-name" data-bind="attr: { href: $root.getTimeSeriesUrl($data) }"><i data-bind="attr: { class: iconName }"></i> ts/<span data-bind="text: name"></span></a>
                    <!-- /ko -->
                    <!-- ko if: $data.disabled() || !$data.isLicensed() -->
                    <a class="resource-name"><i data-bind="attr: { class: iconName }"></i> fs/<span data-bind="text: name"></span></a>
                    <!-- /ko -->
                </h4>
                <br />
                <!-- ko if: !$data.disabled() && $data.isLicensed() -->
                <!--TODO: implement stats-->
                <span class="stats" data-bind="style: { visibility: !!statistics() ? 'visible' : 'hidden' }, text: itemCountText"></span>
                <!-- /ko -->
                <!-- ko if: $data.disabled -->
                <span class="stats-disabled">Disabled</span>
                <!-- /ko -->
                <!-- ko if: !$data.disabled() && !$data.isLicensed() -->
                <span class="stats-disabled">Unlicensed</span>
                <!-- /ko -->
            </div>

            <div class="btn-group" data-bind="click: function () { $root.optionsClicked(true); }, visible: $root.isGlobalAdmin()">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs fa-lg"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a data-bind="click: function () { $root.toggleSelectedResources([$data]); return true; }, attr: { title: disabled() ? 'Enable Selected Time Series' : 'Disable Selected Time Series' }">
                            <i class="fa fa-fw" data-bind="css: { 'fa-lock': !disabled(), 'fa-unlock': disabled }"></i>
                            <span data-bind="text: disabled() ? 'Enable' : 'Disable'"></span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li role="presentation" class="delete-resource">
                        <a title="Delete Selected Time Series" data-bind="click: function () { $root.deleteSelectedResources([$data]); return true; }">
                            <i class="fa fa-fw fa-trash-o"></i>
                            <span>Delete</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /ko -->
    </div>
</section>
