<div class="level-0" data-level-name="Menu">
    <ul>
        <li class="arrow-right">
            <a href="#" title="Documents"><span class="icon-documents"></span>Documents</a>
            <div class="level level-1">
                <h2>Documents</h2>
                <a class="back" href="#" title="back">back</a>
                <ul>
                    <li><a href="#" title="Documents"><span class="icon-plus"></span>Documents</a></li>
                    <li><a href="#" title="Conflicts"><span class="icon-plus"></span>Conflicts</a></li>
                    <li><a href="#" title="Patch"><span class="icon-plus"></span>Patch</a></li>
                </ul>
            </div>
        </li>
        <li class="arrow-right">
            <a href="#" title="Indexes"><span class="icon-indexes"></span>Indexes</a>
            <div class="level level-1" data-level-name="Indexes">
                <h2>Indexes</h2>
                <a class="back" href="#" title="back">back</a>
                <ul>
                    <li><a href="#" title="Indexes"><span class="icon-plus"></span>Indexes</a></li>
                    <li><a href="#" title="Transformers"><span class="icon-plus"></span>Transformers</a></li>
                </ul>
            </div>
        </li>
        <li class="arrow-right">
            <a href="#" title="Query"><span class="icon-query"></span>Query</a>
            <div class="level level-1" data-level-name="Query">
                <h2>Query</h2>
                <a class="back" href="#" title="back">back</a>
                <ul>
                    <li><a href="#" title="Query"><span class="icon-plus"></span>Query</a></li>
                    <li><a href="#" title="Reporting"><span class="icon-plus"></span>Reporting</a></li>
                    <li><a href="#" title="Data exploration"><span class="icon-plus"></span>Data exploration</a></li>
                </ul>
            </div>
        </li>
        <li class="arrow-right">
            <a href="#" title="New"><span class="icon-new"></span>New</a>
            <div class="level level-1" data-level-name="New">
                <h2>New</h2>
                <a class="back" href="#">back</a>
                <ul>
                    <li><a href="#"><span class="icon-plus"></span>Document</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Index</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Transformer</a></li>
                </ul>
            </div>
        </li>
        <h3>MANAGE</h3>
        <li class="arrow-right">
            <a href="#" title="Tasks"><span class="icon-tasks"></span>Tasks</a>
            <div class="level level-1" data-level-name="Tasks">
                <h2>Tasks</h2>
                <a class="back" href="#" title="back">back</a>
                <ul>
                    <li><a href="#"><span class="icon-plus"></span>Import Database</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Export Database</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Toggle Indexing</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Subscriptions</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Create Sample Data</a></li>
                    <li><a href="#"><span class="icon-plus"></span>CSV Import</a></li>
                </ul>
            </div>
        </li>
        <li class="arrow-right">
            <a href="#" title="Settings"><span class="icon-settings"></span>Settings</a>
            <div class="level level-1" data-level-name="Settings">
                <h2>Settings</h2>
                <a class="back" href="#">back</a>
                <ul>
                    <li><a href="#"><span class="icon-plus"></span>Database Settings</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Replication</a></li>
                    <li><a href="#"><span class="icon-plus"></span>ETL</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Custom Functions</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Studio Config</a></li>
                </ul>
            </div>
        </li>

        <li class="arrow-right">
            <a href="#" title="Stats"><span class="icon-stats"></span>Stats</a>
            <div class="level level-1" data-level-name="Stats">
                <h2>Stats</h2>
                <a class="back" href="#" title="back">back</a>
                <ul>
                    <li><a href="#"><span class="icon-plus"></span>Stats</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Indexing</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Request Tracking</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Logs</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Running Tasks</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Alerts</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Index Errors</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Replication Stats</a></li>
                    <li><a href="#"><span class="icon-plus"></span>User Info</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Map/Reduce Visualizer</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Debug</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Storage</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Gather Debug Info</a></li>
                </ul>
            </div>
        </li>

        <li class="arrow-right">
            <a href="#" title="Manage server"><span class="icon-manage-server"></span>Manage server</a>
            <div class="level level-1" data-level-name="Manage server">
                <h2>Manage server</h2>
                <a class="back" href="#" title="back">back</a>
                <ul>
                    <li><a href="#"><span class="icon-plus"></span>API Keys</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Windows Authentication</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Cluster</a></li>
                    <li class="arrow-right">
                        <a href="#"><span class="icon-plus"></span>Global Configuration</a>
                        <div class="level level-2" data-level-name="Global Configuration">
                            <h2>Global Configuration</h2>
                            <a class="back" href="#">back</a>
                            <ul>
                                <li><a href="#"><span class="icon-plus"></span>Periodic export</a></li>
                                <li><a href="#"><span class="icon-plus"></span>Cluster-wide database settings</a></li>
                                <li><a href="#"><span class="icon-plus"></span>Replication</a></li>
                                <li><a href="#"><span class="icon-plus"></span>SQL Replication</a></li>
                                <li><a href="#"><span class="icon-plus"></span>Quotas</a></li>
                                <li><a href="#"><span class="icon-plus"></span>Custom functions</a></li>
                                <li><a href="#"><span class="icon-plus"></span>Versioning</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#"><span class="icon-plus"></span>Server Smuggling</a></li>
                    <li class="arrow-right">
                        <a href="#"><span class="icon-plus"></span>Backup</a>
                        <div class="level level-2" data-level-name="Backup">
                            <h2>Backup</h2>
                            <a class="back" href="#">back</a>
                            <ul>
                                <li><a href="#"><span class="icon-plus"></span>Database</a></li>
                                <li><a href="#"><span class="icon-plus"></span>File System</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="arrow-right">
                        <a href="#"><span class="icon-plus"></span>Compact</a>
                        <div class="level level-2" data-level-name="Compact">
                            <h2>Compact</h2>
                            <a class="back" href="#">back</a>
                            <ul>
                                <li><a href="#"><span class="icon-plus"></span>Database</a></li>
                                <li><a href="#"><span class="icon-plus"></span>File System</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="arrow-right">
                        <a href="#"><span class="icon-plus"></span>Restore</a>
                        <div class="level level-2" data-level-name="Restore">
                            <h2>Restore</h2>
                            <a class="back" href="#">back</a>
                            <ul>
                                <li><a href="#"><span class="icon-plus"></span>Database</a></li>
                                <li><a href="#"><span class="icon-plus"></span>File System</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#"><span class="icon-plus"></span>Admin Logs</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Server Topology</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Traffic Watch</a></li>
                    <li><a href="#"><span class="icon-plus"></span>License Information</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Gather Debug Info</a></li>
                    <li><a href="#"><span class="icon-plus"></span>IO Test</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Disk IO Viewer</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Administrator JS Console</a></li>
                    <li><a href="#"><span class="icon-plus"></span>Studio Config</a></li>
                    <li><a href="#"><span class="icon-plus"></span>To System Database</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#" title="License"><span class="icon-license"></span>License</a></li>
    </ul>
</div>
