<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="udp" xsi:type="Network" address="udp4://localhost:7071"   layout="${logger} - ${message}${newline}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="udp" />
	</rules>
</nlog>