<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx35.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="AsyncWrapper" name="AsyncLog">
      <target name="File" xsi:type="File"
								fileName="${basedir}\Logs\${environment:Run}.csv">
        <layout xsi:type="CsvLayout">
          <column name="time" layout="${time}" />
          <column name="logger" layout="${logger}"/>
          <column name="threadid" layout="${threadid}"/>
          <column name="level" layout="${level}"/>
          <column name="message" layout="${message}" />
          <column name="exception" layout="${exception:format=tostring}" />
          <column name="thread id" layout="${threadid}" />
        </layout>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="Raven.*" writeTo="AsyncLog"/>
  </rules>
</nlog>