<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="udp" xsi:type="Network" address="udp4://localhost:7071"   layout="${logger} - ${threadid} - ${message}${newline}" />
    </targets>

    <rules>
        <logger name="*RaftEngine*" minlevel="Trace" writeTo="udp"></logger>
        <logger name="*Rachis.Behaviors*" minlevel="Trace" writeTo="udp"></logger>
        <logger name="*RaftTest*" minlevel="Trace" writeTo="udp"></logger>
    </rules>
</nlog>