<div class="flex-window stretch patch content-margin">
    <div class="flex-window-head">
        <div id="patch-target" data-bind="collapse: !test.testMode()">
            <div class="clearfix">
                <h2 class="pull-left-sm">Patch</h2>
                <div class="pull-right-sm form-inline">
                    <div class="input-group patch-save" data-bind="css: { active: inSaveMode }, validationElement: patchSaveName, validationOptions: { insertMessages: false }">
                        <input class="form-control" style="display: none" placeholder="Patch name" data-bind="textInput: patchSaveName">
                        <span class="input-group-btn">
                            <button class="btn btn-success" data-class="active" type="button" data-bind="click: savePatch, css: { 'btn-spinner': spinners.save }">
                                <i class="icon-save"></i> <span data-bind="text: inSaveMode() ? 'Save' : 'Save...'"></span>
                            </button>
                        </span>
                    </div>
                    <div class="dropdown dropdown-right loadpatch" data-bind="template: { name: 'saved-patches-dialog' }">
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="row">
                    <label class="control-label col-sm-3 col-lg-2">Type</label>

                    <div class="col-sm-9 col-lg-4 margin-bottom">
                        <div class="dropdown btn-block">
                            <button class="btn btn-block dropdown-toggle text-left" type="button" data-toggle="dropdown">
                                <span data-bind="text: patchDocument().patchOnOption"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" data-bind="foreach: patchDocument().constructor.allPatchOptions">
                                <li><a href="#" data-bind="text: $data, click: _.partial($parent.usePatchOption, $data)"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row" data-bind="visible: isDocumentMode, with: patchDocument">
                    <label class="control-label col-sm-3 col-lg-2">Document Id</label>

                    <div class="col-sm-9 col-lg-4 margin-bottom" data-bind="validationElement: selectedItem">
                        <div class="input-group">
                            <input type="text" id="selectedItem" data-bind="textInput: selectedItem" class="form-control" />
                            <ul class="dropdown-menu autocomplete-list" role="menu" style="display: none;" data-bind="autoComplete: '#selectedItem', foreach: $root.documentIdSearchResults">
                                <li role="presentation" data-bind="click: $parent.selectedItem.bind($parent, $data)">
                                    <a role="menuitem" tabindex="-1" href="#">
                                        <span data-bind="text: $data"></span>
                                    </a>
                                </li>
                            </ul>
                            <span class="input-group-btn" style="vertical-align:top">
                                <button class="btn" type="button" data-bind="click: $root.previewDocument, css: { 'btn-spinner': $root.spinners.preview }, disable: $root.spinners.preview" title="Show preview">
                                    <i class="icon-preview"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row" data-bind="visible: isIndexMode()">
                    <label class="control-label col-sm-3 col-lg-2">Index</label>

                    <div class="col-sm-9 col-lg-4 margin-bottom" data-bind="validationElement: patchDocument().selectedItem">
                        <div class="dropdown btn-block">
                            <button class="btn btn-block form-control dropdown-toggle text-left" type="button" data-toggle="dropdown">
                                <span data-bind="text: patchDocument().selectedItem() || 'Select index...'"></span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu has-info">
                                <ul class="menu max-height" data-bind="foreach: indexNames">
                                    <li><a href="#" data-bind="text: $data, click: _.partial($parent.useIndex, $data)"></a></li>
                                </ul>
                                <div class="bg-info">
                                    <i class="icon-info"></i> <span>Map-Reduce indexes are not available for patching</span>
                                </div>
                            </div>
                        </div>
                        <span class="help-block" data-bind="validationMessage: patchDocument().selectedItem"></span>
                    </div>
                </div>

                <div class="row" data-bind="visible: isCollectionMode()">
                    <label class="control-label col-sm-3 col-lg-2">Collection</label>

                    <div class="col-sm-9 col-lg-4 margin-bottom" data-bind="validationElement: patchDocument().selectedItem">
                        <div class="dropdown btn-block">
                            <button class="btn btn-block form-control dropdown-toggle text-left" type="button" data-toggle="dropdown">
                                <span data-bind="text: patchDocument().selectedItem() || 'Select collection...'"></span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <ul class="menu max-height" data-bind="foreach: collections">
                                    <li><a href="#" data-bind="text: name, click: _.partial($parent.useCollection, $data)"></a></li>
                                </ul>
                            </div>
                        </div>
                        <span class="help-block" data-bind="validationMessage: patchDocument().selectedItem"></span>
                    </div>
                </div>

                <div class="row" data-bind="visible: !isDocumentMode()">
                    <div class="col-sm-9 col-lg-4 col-sm-offset-3 col-lg-offset-2 margin-bottom">
                        <div class="checkbox">
                            <input id="checkbox2" class="styled" type="checkbox" data-bind="checked: patchDocument().patchAll">
                            <label for="checkbox2">
                                <span data-bind="visible: isCollectionMode">Patch all in collection</span>
                                <span data-bind="visible: isIndexMode()">Patch all documents matching query</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: isIndexMode">
                    <label class="control-label col-sm-3 col-lg-2 query-label">Query <small><i class="icon-info text-info"></i></small></label>

                    <div class="col-sm-9 col-lg-10 margin-bottom">
                        <div class="patch-container">
                            <div class="patch-main">
                                <pre class="form-control editor query-source"
                                     data-bind="aceEditor: { code: patchDocument().query, allowResize: false, minHeight: 100, maxHeight: 100, typeName:'query', lang:'ace/mode/lucene', completer:queryCompleter, completerHostObject: $root }"></pre>
                            </div>
                            <div class="query-controls">
                                <button class="btn btn-default btn-block text-center" data-bind="click: runQuery">
                                    <i class="icon-search"></i><span>Run</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom" data-bind="visible: !isDocumentMode()">
                    <label class="control-label col-sm-3 col-lg-2">Matching documents</label>
                    <div class="col-sm-9 col-lg-10">
                        <div class="clearfix">
                            <div class="pull-right">
                                <div class="btn-group dropdown-right">
                                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="icon-table"></i><span>Display</span>
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu colselect-dropdown slidein-style" role="menu" data-bind="dropdownPanel: true">
                                        <div data-bind="compose: $root.columnsSelector"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 300px; position:relative;">
                            <virtual-grid class="resizable patch-grid" params="controller: $root.gridController"></virtual-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-horizontal" id="patch-script">
            <label class="control-label col-sm-3 col-lg-2 patch-title">Patch script <small><i class="icon-info text-info"></i></small></label>
            <div class="col-sm-9 col-lg-10">
                <div class="patch-container">
                    <div class="patch-main">
                        <pre class="form-control patch-source" data-bind="aceEditor: { code: patchDocument().script, lang:'ace/mode/javascript' }, validationElement: patchDocument().script" style="height: 160px;"></pre>

                        <div data-bind="validationElement: patchDocument().script">
                            <div class="help-block" data-bind="validationMessage: patchDocument().script"></div>
                        </div>
                    </div>
                    <div class="patch-controls">
                        <button class="btn btn-primary btn-block btn-lg text-center" data-bind="click: runPatch">
                            <i class="icon-play2 icon-lg"></i><br />
                            <small class="kbd"><kbd>ctrl</kbd> <strong>+</strong> <kbd>enter</kbd></small>
                        </button>
                        <div class="flex-separator"></div>
                        <button class="btn btn-default btn-block text-center margin-top" data-bind="click: enterTestMode">
                            <i class="icon-rocket"></i><span>Test</span>
                        </button>
                    </div>
                    <div class="test-controls">
                        <button class="btn btn-primary btn-block text-center" data-bind="click: test.runTest, css: { 'btn-spinner' : test.spinners.testing }, disable: test.spinners.testing">
                            <i class="icon-rocket"></i><span>Test</span>
                        </button>
                        <div class="flex-separator"></div>
                        <button class="btn btn-success btn-block text-center test-close" data-bind="click: test.applyTestScript">
                            <i class="icon-check"></i><span>Use it</span>
                        </button>
                        <button class="btn btn-default btn-block text-center test-close" data-bind="click: test.closeTestMode">
                            <i class="icon-cancel"></i><span>Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="test-container" data-bind="template: { name: 'test-component' }, collapse: test.testMode()">
        </div>
    </div>
</div>
<div class="backdrop"></div>
<div class="tooltip json-preview" style="opacity: 0">
    <pre><code></code></pre>
</div>
<script type="text/html" id="test-component">
    <div class="row margin-bottom form-horizontal" data-bind="with: test">
        <label class="control-label col-sm-3 col-lg-2">Document ID</label>
        <div class="col-sm-9 col-lg-10">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group" data-bind="validationElement: documentId">
                        <input class="form-control" id="testDocumentId" data-bind="textInput: documentId">
                        <ul class="dropdown-menu autocomplete-list" role="menu" style="display: none;" data-bind="autoComplete: '#testDocumentId', foreach: documentIdSearchResults">
                            <li role="presentation" data-bind="click: _.partial($parent.onAutocompleteOptionSelected, $data)">
                                <a role="menuitem" tabindex="-1" href="#">
                                    <span data-bind="text: $data"></span>
                                </a>
                            </li>
                        </ul>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="click: loadDocument, css: { 'btn-spinner': spinners.loadingDocument }, disable: spinners.loadingDocument">
                                <i class="icon-import"></i> <span>Load</span>
                            </button>
                        </span>


                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- TODO: <small class="text-info"><i class="icon-info"></i> You can also paste your own document JSON to test</small>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row tabs-left form-horizontal">
        <div class="col-sm-3 col-lg-2">

            <ul class="nav nav-tabs nav-stacked" data-bind="with: test">
                <li class="active">
                    <a href="#preview" data-toggle="tab">
                        <i class="icon-preview"></i>
                        <span>Preview</span>
                    </a>
                </li>
                <li>
                    <a href="#puts" data-toggle="tab">
                        <i class="icon-export"></i>
                        <span>Puts</span>
                        <span class="label label-primary pull-right" data-bind="text: actions.putDocument().length || ''"></span>
                    </a>
                </li>
                <li>
                    <a href="#loads" data-toggle="tab">
                        <i class="icon-import"></i>
                        <span>Loads</span>
                        <span class="label label-primary pull-right" data-bind="text: actions.loadDocument().length || ''"></span>
                    </a>
                </li>
                <li>
                    <a href="#output" data-toggle="tab">
                        <i class="icon-rocket"></i>
                        <span>Output</span>
                        <span class="label label-primary pull-right" data-bind="text: actions.info().length || ''"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-lg-10">
            <div class="panel ">
                <div class="" data-bind="with: test">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="preview">
                            <div class="row flex-row">
                                <div class="col-sm-6 flex-vertical">
                                    <h3 class="flex-header">Before</h3>
                                    <pre class="flex-grow scroll" data-bind="html: formatAsJson(beforeDoc)"></pre>
                                </div>
                                <div class="col-sm-6 flex-vertical">
                                    <h3 class="flex-header">After</h3>
                                    <pre class="flex-grow scroll" data-bind="html: formatAsJson(afterDoc)"></pre>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade flex-vertical" id="puts" data-bind="css: { 'show-objects': showObjectsInPutSection }">
                            <div class="flex-header">
                                <div class="clearfix">
                                    <h3 class="pull-left">Puts</h3>
                                    <div class="pull-right">
                                        <div class="toggle toggle-inline">
                                            <input type="checkbox" class="styled" id="showObjects" data-bind="checked: showObjectsInPutSection">
                                            <label for="showObjects"> Show objects </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow scroll" data-bind="foreach: actions.putDocument">
                                <div class="put-item">
                                    <div class="put-heading" data-bind="text: Id"></div>
                                    <div class="put-placeholder">{ ... }</div>
                                    <pre data-bind="html: $parent.formatAsJson(Data)"></pre>
                                </div>
                            </div>

                            <p data-bind="visible: actions.putDocument().length === 0">No data available.</p>
                        </div>
                        <div class="tab-pane fade flex-vertical" id="loads">
                            <h3 class="flex-header">Loads</h3>
                            <ul class="flex-grow scroll" data-bind="foreach: actions.loadDocument">
                                <li data-bind="text: $data"></li>
                            </ul>

                            <p data-bind="visible: actions.loadDocument().length === 0">No data available.</p>
                        </div>
                        <div class="tab-pane fade flex-vertical" id="output">
                            <h3 class="flex-header">Output</h3>
                            <ul class="flex-grow scroll" data-bind="foreach: actions.info">
                                <li data-bind="text: $data"></li>
                            </ul>

                            <p data-bind="visible: actions.info().length === 0">No data available.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="saved-patches-dialog">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownLoadPatch" data-toggle="dropdown" data-bind="enable: savedPatches.hasAnySavedPatch">
        <i class="icon-patch"></i> <span>Load patch</span>
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu slidein-style" aria-labelledby="dropdownLoadPatch" data-bind="dropdownPanel: true, with: savedPatches">
        <div class="loadpatch-dropdown flex-vertical" data-bind="css: { 'show-preview': previewItem() }">
            <div class="flex-grow loadpatch-container">
                <div class="patch-preview-container flex-vertical">
                    <div class="flex-header">
                        <h3>
                            Patch preview
                        </h3>
                    </div>
                    <div class="flex-grow flex-vertical scroll">
                        <div class="bg-info padding padding-sm">
                            <div class="row">
                                <div class="col-xs-6">
                                   patch name: &nbsp;<strong data-bind="text: previewItem() ? previewItem().name() : ''"></strong>
                                </div>
                                <div class="col-xs-6">
                                    <div data-bind="with: previewItem()">
                                        for: &nbsp;<strong data-bind="text: patchOnOption"></strong> - <strong data-bind="text: selectedItem"></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pre-container">
                            <pre>
<code data-bind="html: previewCode"></code>
</pre>
                        </div>
                    </div>
                </div>
                <div class="patch-list-container flex-vertical">
                    <div class="flex-header">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>Select patch</h3>
                            </div>
                            <div class="col-xs-6">
                                <input type="search" class="form-control input-sm patch-filter" data-bind="textInput: filters.searchText" placeholder="filter">
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow scroll">
                        <ul class="patch-list" data-bind="foreach: filteredPatches">
                            <li data-bind="css: { selected: $data === $parent.previewItem() }">
                                <a href="#" class="patch-link" data-bind="click: $parent.previewPatch">
                                    <span class="name" data-bind="text: name()"></span>
                                    <span class="modified" data-bind="text: modificationDate()"></span>
                                </a>
                                <a href="#" data-bind="click: $parent.removePatch" class="patch-remove"><i class="icon-trash"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="flex-footer">
                    <div class="text-right">
                        <button class="btn btn-success btn-sm close-panel" data-bind="click: usePatch, enable: previewItem()">Load</button>
                    </div>
                </div>
            
        </div>
    </div>
</script>