@use "Content/scss/colors";
@use "Content/scss/sizes";

.parameters-table {
    background-color: colors.$panel-bg-2-var;
    padding: sizes.$gutter-xxs;
    border-radius: sizes.$gutter-xs;

    thead {
        background-color: colors.$panel-bg-2-var;
    }

    tbody {
        border-radius: sizes.$gutter-xxs;
        background-color: colors.$row-bg-var;

        tr {
            background-color: colors.$row-even-bg-var;

            td {
                border-right: 1px solid colors.$border-color-light-var;
                background-color: colors.$row-even-bg-var;
            }
        }
    }
}
