@use "Content/scss/colors";
@use "Content/scss/sizes";

.edit-ai-agent {
    .trimming-advanced {
        .accordion-button {
            border-radius: sizes.$gutter-sm !important;
            padding: sizes.$gutter-sm !important;
            background-color: colors.$panel-bg-2 !important;
        }
    }

    .parameters-cards {
        .parameter-summary {
            min-width: 0;

            h4,
            small {
                max-width: 100%;
            }
        }
    }

    .tool-icon {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: sizes.$border-radius-sm;
    }

    .tool-info {
        display: flex;
        flex-direction: column;
        gap: sizes.$gutter-xxxs;

        .tool-description {
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 1.3em;
            color: colors.$text-muted-var;
        }
    }
}
