<div>
    Let's Encrypt agreement
</div>

<div>
    
    <a href="#" data-bind="attr: { href: url }" target="_blank">click - TODO</a>
    
    <div>
        <a href="#welcome" class="btn btn-default"><i class="icon-arrow-left"></i><span>Back</span></a>
        <button type="submit" class="btn btn-primary"><span>Next</span> <i class="icon-arrow-right"></i></button>
    </div>


    <div class="bg-info padding">
        <ul>
            <li>TODO: validation </li>
            <li>handle back in code - it might be dynamic</li>
        </ul>
    </div>
</div>
      
