<div>
    Please define nodes
</div>

<div>
    
    <form class="flex-form" data-bind="submit: save">
        <div class="row">
            <div class="col-md-6">
                <div data-bind="foreach: model.nodes">
                    <div class="panel padding">
                        <div>
                            Node <span data-bind="text: nodeTag"></span>

                            <button data-bind="click: $root.editNode" class="btn btn-default pull-right" title="Edit this node">
                                <i class="icon-edit"></i>
                            </button>
                            
                            <button data-bind="click: $root.removeNode" class="btn btn-danger pull-right" title="Delete this node">
                                <i class="icon-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div data-bind="validationOptions: { errorsAsTitle: false }, validationElement: model.nodes">
                    <div class="help-block" data-bind="validationMessage: model.nodes"></div>
                </div>
            </div>
            <div class="col-md-6" data-bind="with: editedNode">
                <div class="panel padding">
                    <div>
                        Node <span data-bind="text: nodeTag"></span>
                    </div>

                    <div class="form-group" data-bind="validationElement: port">
                        <label for="port" class="control-label">Port<i class="required"></i></label>
                        <div class="flex-grow">
                            <input type="text" autocomplete="off" class="form-control" id="port"
                                   placeholder="Server port"
                                   data-bind="textInput: port">
                        </div>
                    </div>

                    <div data-bind="foreach: ips">
                        <div class="form-group" data-bind="validationElement: ip">
                            <label class="control-label" data-bind="attr: { for: 'ipInput_' + $index() }">
                                <span data-bind="visible: $index() === 0">IP address<i class="required"></i></span>
                            </label>
                            <div class="flex-grow input-group">
                                <input type="text" autocomplete="off" class="form-control"
                                       placeholder="Enter server IP address"
                                       data-bind="textInput: ip, attr: { id: 'inInput_' + $index() }">
                                <button class="btn btn-danger" data-bind="click: $parent.removeIp.bind($parent)"><i class="icon-trash"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="flex-grow">
                            <div data-bind="validationElement: ips">
                                <div class="help-block" data-bind="validationMessage: ips"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="flex-grow">
                            <button class="btn btn-default" data-bind="click: addIpAddress">
                                <i class="icon-plus"></i>
                                <span>Add another IP address</span>
                            </button>
                        </div>
                    </div>

                    <div class="form-group" data-bind="validationElement: certificate, visible: $root.provideCertificates">
                        <label for="certificate" class="control-label">Certificate<i class="required"></i></label>
                        <div class="flex-grow input-group file-input" data-bind="validationElement: certificate">
                            <input type="file" tabindex="-1" name="importFile" id="certificate" accept=""  data-bind="event: { change: _.partial(fileSelected, $element) }">
                            <span class="static-name form-control" data-bind="text: certificateFileName() || 'Select .pfx file...'"></span>
                            <span class="input-group-btn">
                            <label for="certificate" class="btn btn-default">
                                <i class="icon-document"></i>
                                <span>Browse</span>
                            </label>
                        </span>
                            <p class="help-block" data-bind="validationMessage: certificate"></p>
                        </div>
                    </div>

                    <div class="form-group" data-bind="validationElement: certificatePassword, visible: $root.provideCertificates">
                        <label for="certificatePassword" class="control-label">Certificate passphrase</label>
                        <div class="flex-grow">
                            <input type="password" autocomplete="off" class="form-control" id="certificatePassword"
                                   data-bind="textInput: certificatePassword">
                        </div>
                    </div>

                    <div class="form-group" data-bind="visible: $root.provideCertificates">
                        <label class="control-label">CN names:</label>
                        <div class="flex-grow form-control-static">
                            <ul data-bind="foreach: certificateCNs">
                                <li data-bind="text: $data"></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <div>
            <button type="button" class="btn btn-default" data-bind="click: $root.addNode">
                <i class="icon-plus"></i> <span>Add node</span>
            </button>
        </div>

        <div>
            <button type="button" class="btn btn-default" data-bind="click: back"><i class="icon-arrow-left"></i><span>Back</span></button>
            <button type="submit" class="btn btn-primary"><span>Next</span> <i class="icon-arrow-right"></i></button>
        </div>
    </form>
</div>
      
