<div>
    Please define nodes
</div>

<div>
    <form class="flex-form" data-bind="submit: save">

        <div data-bind="foreach: model.nodes">
            <div class="panel padding">
                <div>Node <span data-bind="text: getLabelFor($index())"></span>
                    <button  data-bind="click: $root.removeNode" class="btn btn-danger pull-right" title="Delete this node">
                        <i class="icon-trash"></i>
                    </button>
                </div>
 
                <div class="form-group" data-bind="validationElement: port">
                    <label for="port" class="control-label">Port<i class="required"></i></label>
                    <div class="flex-grow">
                        <input type="text" autocomplete="off" class="form-control" id="port"
                               placeholder="Server port"
                               data-bind="textInput: port">
                    </div>
                </div>

                <div class="form-group" data-bind="validationElement: ipInput">
                    <label for="ipInput" class="control-label">IPs<i class="required"></i></label>
                    <div class="flex-grow input-group">
                        <input type="text" autocomplete="off" class="form-control" id="ipInput"
                               placeholder="Enter server IP address"
                               data-bind="textInput: ipInput">
                        <button class="btn btn-primary" data-bind="click: addIp">Add IP</button>
                    </div>
                </div>

                <div>
                    IP addressess:
                    <ul data-bind="foreach: ips">
                        <li><span data-bind="text: ip"></span> <button class="btn btn-danger" data-bind="click: $parent.removeIp.bind($parent)"><i class="icon-trash"></i></button></li>
                    </ul>
                </div>

                <div class="form-group" data-bind="validationElement: certificate, visible: $root.provideCertificates">
                    <label for="certificate" class="control-label">Certificate<i class="required"></i></label>
                    <div class="flex-grow input-group file-input" data-bind="validationElement: certificate">
                        <input type="file" tabindex="-1" name="importFile" id="certificate" accept=""  data-bind="event: { change: _.partial(fileSelected, $element) }"> 
                        <span class="static-name form-control" data-bind="text: certificateFileName() || 'Select .pfx file...'"></span>
                        <span class="input-group-btn">
                            <label for="certificate" class="btn btn-default">
                                <i class="icon-document"></i>
                                <span>Browse</span>
                            </label>
                        </span>
                        <p class="help-block" data-bind="validationMessage: certificate"></p>
                    </div>
                </div>

                <div class="form-group" data-bind="validationElement: certificatePassword, visible: $root.provideCertificates">
                    <label for="ipInput" class="control-label">Certificate passphrase</label>
                    <div class="flex-grow">
                        <input type="password" autocomplete="off" class="form-control" id="certificatePassword"
                               data-bind="textInput: certificatePassword">
                    </div>
                </div>

                <div class="form-group" data-bind="visible: $root.provideCertificates">
                    <label for="ipInput" class="control-label">CN names:</label>
                    <div class="flex-grow form-control-static">
                        TODO: put CN + alternative names from cert
                    </div>
                </div>
                
            </div>
        </div>

        <div data-bind="validationOptions: { errorsAsTitle: false }, validationElement: model.nodes">
            <div class="help-block" data-bind="validationMessage: model.nodes"></div>
        </div>

        <div>
            <button type="button" class="btn btn-default" data-bind="click: $root.addNode">
                <i class="icon-plus"></i> <span>Add node</span>
            </button>
        </div>

        <div>
            <a href="#welcome" class="btn btn-default"><i class="icon-arrow-left"></i><span>Back</span></a>
            <button type="submit" class="btn btn-primary"><span>Next</span> <i class="icon-arrow-right"></i></button>
        </div>
    </form>


    <div class="bg-info padding">
        <ul>
            <li>node info drop down - visible only in secure setup</li>
            <li>ips - allow multiple</li>
            <li>in secured mode we can't provide host names - ips only ?</li>
            <li>use $index() for id/for labels</li>
            <li>Node tag is only visible in 'secure mode'</li>
        </ul>
    </div>
</div>
      
