<div>
    Please define nodes
</div>

<div>
    <form class="flex-form" data-bind="with: model.domain, submit: save">

        TODO:
    </form>

    <div>
        <a href="#welcome" class="btn btn-default"><i class="icon-arrow-left"></i><span>Back</span></a>
        <button type="submit" class="btn btn-primary"><span>Next</span> <i class="icon-arrow-right"></i></button>
    </div>


    <div class="bg-info padding">
        <ul>
            <li>TODO:</li>
            <li>handle back in code - it might be dynamic</li>
        </ul>
    </div>
</div>
      
