<div class="container">
    <div class="flex-horizontal">
        <div>
            <i class="icon-raven text-primary icon-lg"></i>
        </div>
        <div class="padding">
            <h2 class="margin-none"> <strong>RavenDB Configuration Wizard</strong></h2>
            <div class="small">
                The wizard will assist you with setting up your RavenDB server and selecting the right security option to best address your needs.
            </div>
        </div>
    </div>

    <div id="page-host-root" class="content-container">
        <div id="page-host" class="page-host" data-bind="router: { cacheViews: false }"></div>
    </div>


    <div class="hidden">
        <form method="post" download target="hidden-form" id="secureSetupForm">
            <input type="hidden" name="Options"/>
        </form>
    </div>
</div>


<footer class="status-footer">
    <div class="footer-right">
        <div class="footer-item">
            <div title="Studio Version">
                <i class="icon-client"></i> <span data-bind="text: $root.constructor.clientVersion"></span>
            </div>
        </div>
        <div class="footer-item">
            <div title="Server Version">
                <i class="icon-server"></i> <span data-bind="text: $root.constructor.buildInfo.serverBuildVersion() ? $root.constructor.buildInfo.serverBuildVersion().FullVersion : ''"></span>
            </div>
        </div>
    </div>
</footer>
