<div class="container">
    
    <h2 class="padding"> <i class="icon-raven text-primary margin-right margin-top"></i> <strong>RavenDB configuration wizard</strong></h2>
    
    <div id="page-host-root" class="content-container">
        <div id="page-host" class="page-host" data-bind="router: { cacheViews: false }"></div>
    </div>


    <div class="hidden">
        <form method="post" download target="hidden-form" id="secureSetupForm">
            <input type="hidden" name="Options"/>
        </form>
    </div>
</div>
