<div class="container">
    
    <div class="text-center text-primary">
        <i class="icon-raven icon-xl"></i>
    </div>
    <h1 class="text-center padding">RavenDB configuration wizard</h1>
    
    <div id="page-host-root" class="content-container">
        <div id="page-host" class="page-host" data-bind="router: { cacheViews: false }"></div>
    </div>


    <div class="hidden">
        <form method="post" download target="hidden-form" id="secureSetupForm">
            <input type="hidden" name="Options"/>
        </form>
    </div>
</div>
