

<h3>Welcome!</h3>

<div>
    <div class="margin-bottom">
        Choose configuration mode:
    </div>
    

    <button data-bind="click: chooseUnsecured" class="btn btn-default">Unsecured</button>
    <button data-bind="click: chooseSecured" class="btn btn-default">Secured with own certificates</button>
    <button data-bind="click: chooseGenerate" class="btn btn-default">Generate certs using Let's encrypt</button>
    
    
    <br />
    <br />
    <div class="alert alert-warning">
        TODO:
        <ul>
            <li>icons</li>
            <li>explain implications of each choice</li>
        </ul>
    </div>
</div>
      
