<div class="modal-dialog" id="destinationModal" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-cancel"></i></button>
            <h4 class="modal-title" id="myModalLabel">Choose a Task:</h4>
        </div>
        <div class="modal-body">
            <div class="padding padding-sm text-center">
                <div class="row row-sm flex-row">
                    <div class="col-sm-4 margin-bottom" title="Create new external replication task">
                        <a href="#" class="external-replication" data-bind="click: newReplicationTask" >
                            <i class="icon-external-replication"></i><br/>External Replication
                        </a>
                    </div>
                    <div class="col-sm-4 margin-bottom">
                        <a href="#" class="ravendb-etl btn-upcoming" style="pointer-events: none" data-bind="click: newEtlTask">
                            <i class="icon-ravendb-etl"></i><br/>RavenDB ETL
                        </a>
                    </div>
                    <div class="col-sm-4 margin-bottom">
                        <a href="#" class="sql-etl btn-upcoming" style="pointer-events: none" data-bind="click: newSqlEtlTask">
                            <i class="icon-sql-etl"></i><br/>SQL ETL
                        </a>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2 margin-bottom" title="Create new backup task">
                        <a href="#" class="periodic-backup" data-bind="click: newBackupTask">
                            <i class="icon-backup"></i><br/>Backup
                        </a>
                    </div>
                    <div class="col-sm-4 margin-bottom" title="Create new subscription task">
                        <a href="#" class="subscription" data-bind="click: newSubscriptionTask">
                            <i class="icon-subscription"></i><br/>Subscription
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="padding text-center">
                <a href="#">Which one should I choose?</a>
            </div>
        </div>
    </div>
</div>