<div class="content-margin edit-replication-task">
    <div class="row flex-row absolute-fill">
        <div class="col-xs-12 col-lg-6 flex-vertical">
            <div class="flex-header">
                <button data-bind="click: saveExternalReplication" class="btn btn-primary"><i class="icon-save"></i><span>Save</span></button>
                <button data-bind="click: cancelOperation" class="btn btn-default" title="Return to Ongoing Tasks View"><i class="icon-cancel"></i><span>Cancel</span></button>
            </div>
            <div class="panel">
                <form class="flex-form">
                    <div class="panel-body" data-bind="with: editedExternalReplication">
                        <h3 data-bind="visible: $parent.isAddingNewReplicationTask">New External Replication</h3>
                        <h3 data-bind="visible: !$parent.isAddingNewReplicationTask()">Edit External Replication</h3>
                        <div class="form-group">
                            <label for="taskName" class="control-label">Task Name</label>
                            <div class="flex-grow">
                                <input type="text" class="form-control" data-bind="textInput: taskName" id="taskName" placeholder="Enter a descriptive name for the replication task">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <div class="toggle" data-placement="left" data-toggle="tooltip" title="Mentor node is responsible for given ongoing task">
                                <input id="toggle3" type="checkbox" data-bind="checked: manualChooseMentor">
                                <label for="toggle3">Choose preferred mentor node manually</label>
                            </div>
                        </div>

                        <div class="form-group" data-bind="validationElement: preferredMentor, visible: manualChooseMentor">
                            <div>
                                <label class="control-label">Preferred mentor</label>
                            </div>
                            <div class="flex-grow">
                                <button class="btn btn-block dropdown-toggle" data-toggle="dropdown">
                                    <span data-bind="text: preferredMentor() ? 'Node ' + preferredMentor() : 'Select preferred mentor'"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" data-bind="foreach: $root.possibleMentors">
                                    <li><a href="#" data-bind="text: 'Node ' + $data, click: $parent.preferredMentor.bind($parent.preferredMentor, $data)"></a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="url" class="control-label">Destination URL</label>
                            <div class="flex-grow" data-bind="validationElement: destinationURL">
                                <input type="text" class="form-control" data-bind="textInput: destinationURL" id="url">     
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="databaseName" class="control-label">Destination DB</label>
                            <div class="flex-grow" data-bind="validationElement: destinationDB">
                                <input type="text" class="form-control" data-bind="textInput: destinationDB" id="databaseName">
                            </div>
                        </div>
                        <div class="flex-horizontal">
                            <div class="flex-grow">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default btn-info"
                                        data-bind="click: $root.testConnection, disable: $root.spinners.test, css: { 'btn-spinner': $root.spinners.test }">
                                    <i class="icon-rocket"></i>
                                    <span>Test connection</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="panel-addon" data-bind="with: $root.testConnectionResult">
                    <div class="padding bg-success small" data-bind="visible: Success">
                        <div>Successfully connected to node</div>
                    </div>
                    <div class="padding bg-danger small" data-bind="visible: !Success">
                        Connection test failed: <span data-bind="text: $root.fullErrorDetailsVisible() ? Error : $root.shortErrorText()"></span>
                        <div>
                            <a href="#" data-bind="click: $root.fullErrorDetailsVisible.toggle.bind($root.fullErrorDetailsVisible), text: $root.fullErrorDetailsVisible() ? 'hide details' : 'show details'"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
