    <div class="edit-subscription flex-vertical absolute-fill content-margin edit-subscription-task">
        <div class="row flex-row flex-grow flex-stretch-items">
            <div class="col-sm-12 col-lg-6 flex-vertical">
                <form data-bind="submit: saveSubscription">
                    <div class="flex-header">
                        <button type="submit" class="btn btn-primary" data-bind="enable: dirtyFlag().isDirty">
                            <i class="icon-save"></i>
                            <span>Save</span>
                        </button>
                        <button class="btn btn-default" data-bind="click: cloneSubscription, visible: !isAddingNewSubscriptionTask()" title="Clone this subscription">
                            <i class="icon-clone"></i>
                            <span>Clone</span>
                        </button>
                        <button class="btn btn-default" data-bind="click: cancelOperation" title="Return to Ongoing Tasks View">
                            <i class="icon-cancel"></i>
                            <span>Cancel</span>
                        </button>
                        <button class="btn btn-info pull-right" data-bind="click: toggleTestArea, visible: !enableTestArea()" title="Test this subscription definition">
                            <i class="icon-rocket"></i>
                            <span>Test Subscription</span>
                        </button>
                        <button class="btn btn-info pull-right" data-bind="click: toggleTestArea, visible: enableTestArea" title="Close the test area">
                            <i class="icon-rocket"></i>
                            <span>Close Test Area</span>
                        </button>
                    </div>
                    <div class="flex-grow" data-bind="with: editedSubscription">
                        <div class="panel padding flex-form">
                            <div data-bind="if: liveConnection() && !$root.isAddingNewSubscriptionTask()">
                                <div class="bg-warning inline-block padding padding-xs small" title="Note: Client connection will be disconnected upon Save !">
                                    <i class="icon-warning"></i>&nbsp;&nbsp;Warning: You are editing a live subscription connection . . .
                                </div>
                            </div>                       
                            <h3 data-bind="text: $parent.isAddingNewSubscriptionTask() ? `New Subscription` : `Edit Subscription`"></h3>
                            <div class="form-group margin-top" data-bind="validationElement: taskName">
                                <label class="control-label">Task Name</label>
                                <input type="text" class="form-control" id="taskName" placeholder="Enter a descriptive name for the subscription task (optional)"                                     
                                       data-bind="textInput: taskName, enable: $root.isAddingNewSubscriptionTask, 
                                                  attr: { 'title': $root.isAddingNewSubscriptionTask() ? 'Note: if no name is supplied then server will create one for you' : '' }" autocomplete="off" >
                            </div>
                            <label>Subscription RQL:</label>
                            <div class="pull-right"><a href="#" data-bind="click: $root.syntaxHelp"><small>Syntax <i class="icon-help"></i></small></a></div>
                            <pre class="form-control margin-top" placeholder="Enter transform script" 
                                 data-bind="aceEditor: { code: query, lang:'ace/mode/rql', completer: $root.queryCompleter.complete }, validationOptions: { errorsAsTitle: false }, validationElement: query" style="height: 160px;">
                            </pre>
                            <div data-bind="validationOptions: { errorsAsTitle: false }, validationElement: query">
                                <div class="help-block" data-bind="validationMessage: query"></div>
                            </div>
                        </div>
                        <div class="panel padding flex-form">
                            <div class="form-group">
                                <div class="toggle">
                                    <input id="use-starting-point" type="checkbox" data-bind="checked: setStartingPoint">
                                    <label for="use-starting-point">Use a defined starting point</label>
                                </div>
                            </div>
                            <div data-bind="collapse: setStartingPoint">
                                <div class="form-group">
                                    <label class="control-label">Send Documents From:</label>
                                    <div class="flex-grow">
                                        <div title="Set the starting point for the subscription task">
                                            <button class="btn btn-block dropdown-toggle text-left" data-toggle="dropdown">
                                                <span data-bind="text: startingPointType"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li title="Documents will be sent from the very first document in the collection">
                                                    <a href="#" data-bind="click: _.partial($root.setStartingPointType, 'Beginning of Time')">Beginning of Time</a>
                                                </li>
                                                <li title="Documents will be sent from the latest document in the collection">
                                                    <a href="#" data-bind="click: _.partial($root.setStartingPointType, 'Latest Document')">Latest Document</a>
                                                </li>
                                                <li title="Documents will be sent from the specified change vector related document">
                                                    <a href="#" data-bind="click: _.partial($root.setStartingPointType, 'Change Vector')">Change Vector</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" data-bind="visible: startingPointChangeVector() && setStartingPoint(), validationElement: startingChangeVector">
                                <label class="control-label">Change Vector:</label>
                                <div class="flex-grow" data-bind="validationOptions: { insertMessages: false }">
                                    <textarea rows="3" class="form-control" placeholder="Enter change vector to start sending documents from" 
                                              data-bind="textInput: startingChangeVector, enable: setStartingPoint"></textarea>
                                    <!--<button class="btn btn-default btn-block btn-upcoming"><i class="icon-preview"></i><span>&nbsp;Show related document</span></button>--> <!-- todo: we need end point for this.. -->
                                    <span class="help-block" data-bind="validationMessage: startingChangeVector"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="toggle responsible-node">
                                    <input id="responsibleNode" type="checkbox" data-bind="checked: manualChooseMentor">
                                    <label for="responsibleNode">Set preferred responsible node</label>
                                </div>
                            </div>
                            <div data-bind="validationElement: mentorNode, collapse: manualChooseMentor">
                                <div class="for-group">
                                    <div>
                                        <label class="control-label">Responsible Node</label>
                                    </div>
                                    <div class="flex-grow">
                                        <button class="btn btn-block dropdown-toggle text-left" data-toggle="dropdown">
                                            <span data-bind="text: mentorNode() ? 'Node ' + mentorNode() : 'Select preferred responsible node'"></span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" data-bind="foreach: $root.possibleMentors">
                                            <li><a href="#" data-bind="text: 'Node ' + $data, click: $parent.mentorNode.bind($parent.mentorNode, $data)"></a></li>
                                        </ul>
                                        <span class="help-block" data-bind="validationMessage: mentorNode"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-bind="if: changeVectorForNextBatchStartingPoint() && changeVectorForNextBatchStartingPoint() !== 'DoNotChange' && !setStartingPoint()">
                            <div class="panel padding" title="This change vector is the starting point for next batch"> 
                                <label for="latest-change-vector">Next batch starting point is :</label>
                                <textarea id="latest-change-vector" rows="2" class="form-control" disabled="disabled" data-bind="textInput: changeVectorForNextBatchStartingPoint"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-lg-6 flex-vertical" id="subscriptionTestArea" data-bind="visible: enableTestArea">
                <div class="panel padding flex-vertical flex-grow">
                    <div class="flex-header"> 
                        <div class="flex-horizontal">
                            <div class="flex-grow"><h3>Test Subscription</h3></div>
                            <div><button class="close" data-bind="click: toggleTestArea" title="Close the test area"><i class="icon-cancel"></i></button></div>
                        </div>
                        <div class="flex-horizontal margin-bottom margin-bottom-sm">
                            <div class="flex-grow flex-vertical">
                                <div class="input-group">
                                    <div class="input-group-addon">Results limit</div>
                                    <input type="number" min="1" class="form-control" placeholder="Set number of documents to fetch" title="Set number of documents to fetch" data-bind="textInput: testResultsLimit" />
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-info" data-bind="click: runTest, css: { 'btn-spinner': spinners.globalToggleDisable }, disable: spinners.globalToggleDisable" title="Run test with current settings">
                                    <i class="icon-rocket"></i><span>Run Test</span>
                                </button>
                            </div>
                        </div>
                        <div class="flex-horizontal">
                            <div class="flex-grow flex-vertical">
                                <div class="input-group">
                                    <div class="input-group-addon">Time limit</div>
                                    <div class="input-group flex-grow">
                                        <input type="number" min="1" class="form-control" placeholder="Set timeout for operation (Default: 15)" title="Set timeout for operation" data-bind="textInput: testTimeLimit" />
                                        <div class="input-group-addon">
                                            seconds
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="btn-group dropdown-right open">
                                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="icon-table"></i><span>Display</span>
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu colselect-dropdown slidein-style" role="menu" data-bind="dropdownPanel: true">
                                        <div data-bind="compose: $root.columnsSelector"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow scroll">
                        <div class="objects-list-container">
                            <virtual-grid class="resizable" params="controller: gridController, emptyTemplate: 'empty-test-results-template'"></virtual-grid>
                        </div>
                    </div>
                    <div class="flex-window-head">
                        <button type="button" class="btn btn-sm" data-bind="css: { active: currentTab() === 'results' }, click: _.partial(goToTab, 'results')">
                            Results &nbsp; <span class="label label-primary" data-bind="text: resultsCount().toLocaleString()"></span>
                        </button>
                        <!-- ko foreach: includesCache -->
                        <button type="button" class="btn btn-sm" data-bind="click: _.partial($root.goToTab, $data), css: { active: $parent.currentTab() === $data }">
                            <span data-bind="text: 'Includes (' + name + ')'"></span> &nbsp; <span class="label label-primary" data-bind="text: total().toLocaleString()"></span>
                        </button>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/html" id="empty-test-results-template">
    No results for the defined subscription.
</script>

<div class="tooltip json-preview lg js-subscription-task-tooltip" style="opacity: 0">
</div>
