    <div class="edit-subscription flex-vertical absolute-fill content-margin">
        <div class="row flex-row flex-grow flex-stretch-items">
            <div class="col-sm-12 col-lg-6 flex-vertical">
                <div class="flex-header">
                    <button class="btn btn-primary" data-bind="click: saveSubscription">
                        <i class="icon-save"></i>
                        <span>Save</span>
                    </button>
                    <button class="btn btn-default" data-bind="click: cloneSubscription, visible: !isAddingNewSubscriptionTask()" title="Clone this subscription">
                        <i class="icon-clone"></i>
                        <span>Clone</span>
                    </button>
                    <button class="btn btn-default" data-bind="click: cancelOperation" title="Return to Ongoing Tasks View">
                        <i class="icon-cancel"></i>
                        <span>Cancel</span>
                    </button>
                    <button class="btn btn-info pull-right" data-bind="click: toggleTestArea, visible: !enableTestArea()" title="Test this subscription definition">
                        <i class="icon-rocket"></i>
                        <span>Test Subscription</span>
                    </button>
                    <button class="btn btn-info pull-right" data-bind="click: toggleTestArea, visible: enableTestArea" title="Close the test area">
                        <i class="icon-rocket"></i>
                        <span>Close Test Area</span>
                    </button>
                </div>
                <div class="scroll" data-bind="with: editedSubscription">
                    <div class="panel padding flex-form">
                        <h3 data-bind="visible: $root.isAddingNewSubscriptionTask()">New Subscription</h3>
                        <h3 data-bind="visible: !$root.isAddingNewSubscriptionTask()">Edit Subscription</h3>
                        <div class="form-group margin-top">
                            <label class="control-label">Task Name</label>
                            <input type="text" class="form-control" id="taskName" placeholder="Enter a descriptive name for the subscription task" title="Note: if no name is supplied then server will create one for you"
                                   data-bind="textInput: taskName, attr: { disabled: !$root.isAddingNewSubscriptionTask() }">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Collection</label>
                            <div class="flex-grow" data-bind="validationOptions: { insertMessages: false }, validationElement: collection">
                                <div class="dropdown btn-block">
                                    <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" 
                                           data-bind="textInput: collection, attr: { disabled: !$root.isAddingNewSubscriptionTask(), id: 'collectionNameInput' }"  
                                           placeholder="Select a collection">
                                    <span class="caret dropdown-toggle" data-toggle="dropdown"></span>
                                    <ul class="dropdown-menu max-height" data-bind="foreach: createCollectionNameAutocompleter($data), autoComplete: '#' + 'collectionNameInput'">
                                        <li data-bind="click: _.partial($root.useCollection, $data)">
                                            <a href="#" data-bind="text: $data"></a>
                                        </li>  
                                    </ul>
                                </div>
                                <span class="help-block" data-bind="validationMessage: collection"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel padding">
                        <div class="toggle" data-bind="validationOptions: { insertMessages: false }, validationElement: includeRevisions">
                            <input id="include-revisions" type="checkbox" data-bind="checked: includeRevisions">
                            <label for="include-revisions">Include Revisions</label>
                        </div>
                        <div class="help-block" data-bind="validationMessage: includeRevisions"></div>
                    </div>
                    <div class="panel padding">
                        <label>Transform Script:&nbsp;&nbsp;<i class="icon-info text-info" id="scriptInfo"></i></label>
                        <pre class="form-control margin-top" placeholder="Enter transform script" 
                             data-bind="aceEditor: { code: script, lang:'ace/mode/javascript' }, validationOptions: { errorsAsTitle: false }, validationElement: script" style="height: 160px;">
                        </pre>
                        <div data-bind="validationOptions: { errorsAsTitle: false }, validationElement: script">
                            <div class="help-block" data-bind="validationMessage: script"></div>
                        </div>
                    </div>
                    <div class="panel padding flex-form">
                        <div class="form-group">
                            <label class="control-label">Send Documents From</label>
                            <div class="flex-grow">
                                <div class="dropdown btn-block" title="Set the starting point for the subscription task">
                                    <button class="btn btn-block dropdown-toggle text-left" type="button" data-toggle="dropdown" disabled="disabled">
                                        <span data-bind="text: startingPointType"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu max-height">
                                        <li title="Documents will be sent from the very first document in the collection">
                                            <a href="#" data-bind="click: _.partial($root.setStartingPointType, 'Beginning of Time')">Begining of Time</a>
                                        </li>
                                        <li title="Documents will be sent from the latest document in the collection">
                                            <a href="#" data-bind="click: _.partial($root.setStartingPointType, 'Latest Document')">Latest Document</a>
                                        </li>
                                        <li title="Documents will be sent from the specified change vector related document">
                                            <a href="#" data-bind="click: _.partial($root.setStartingPointType, 'Change Vector')">Change Vector</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="margin-top">
                            <div class="row flex-row" data-bind="visible: startingPointChangeVector ">
                                <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-lg-offset-4 col-lg-12">
                                    <textarea rows="3" class="form-control" placeholder="Set change vector"></textarea>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-lg-offset-4 col-lg-12">
                                    <button class="btn btn-default btn-block"><i class="icon-preview"></i><span>&nbsp;Show related document</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 flex-vertical" id="subscriptionTestArea" data-bind="visible: enableTestArea">
                <div class="panel padding flex-vertical flex-grow">
                    <div class="flex-header"> 
                        <div class="flex-horizontal">
                            <div class="flex-grow"><h3>Test Subscription</h3></div>
                            <div><button class="close" data-bind="click: toggleTestArea" title="Close the test area"><i class="icon-cancel"></i></button></div>
                        </div>
                        <div class="flex-horizontal">
                            <div class="flex-grow flex-vertical">
                                <div class="input-group">
                                    <div class="input-group-addon">Results limit</div>
                                    <input type="number" min="1" class="form-control" placeholder="Set number of documents to fetch" title="Set number of documents to fetch" data-bind="textInput: testResultsLimit" />
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-info" data-bind="click: runTest, css: { 'btn-spinner': spinners.globalToggleDisable }, disbale: spinners.globalToggleDisable" title="Run test with current settings">
                                    <i class="icon-rocket"></i><span>Run Test</span>
                                </button> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="clearfix">
                        <div class="pull-right">
                            <div class="btn-group dropdown-right open">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i class="icon-table"></i><span>Display</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu colselect-dropdown slidein-style" role="menu" data-bind="dropdownPanel: true">
                                    <div data-bind="compose: $root.columnsSelector"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-grow scroll">
                        <div class="objects-list-container">
                            <virtual-grid class="resizable" params="controller: gridController, emptyTemplate: 'empty-test-results-template'"></virtual-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/html" id="empty-test-results-template">
    No results for the defined subscription.
</script>

<div class="tooltip json-preview lg" style="opacity: 0">
    <pre><code class="white-space-pre"></code></pre>
</div>

