<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Import Database</h3>
    </div>
    <div class="panel-body">
        <h4>Import data from a .ravendbdump file into the current database.</h4>
        <p class="help-block">
            <i class="fa fa-warning text-warning"></i>
            Importing will overwrite any existing documents and indexes.
        </p>
        <div data-bind="with: activeDatabase">
            <span class="btn btn-primary btn-file" data-bind="attr: { 'disabled': isImporting() ? 'disabled' : null }">
                Choose file <input id="importDatabaseFilePicker" type="file" data-bind="event: { change: $root.fileSelected.bind($root, $element.value) }, disable: isImporting" />
            </span>
            <button class="btn btn-primary" data-bind="click: $root.importDb.bind($root), disable: !$root.hasFileSelected() || isImporting()">
                <i class="fa fa-upload"></i>
                Import Database
            </button>
            <p data-bind="visible: $root.hasFileSelected()">
                Selected file name: <span data-bind="text: $root.importedFileName()"></span>
            </p>
            <div style="margin-top: 15px">
                <p data-bind="text: importStatus, visible: $root.isUploading() || isImporting() || !!importStatus()"></p>
            </div>         
            <div class="progress progress-striped active" data-bind="visible: isImporting">
                <div class="progress-bar" role="progressbar" style="width: 100%"></div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li data-bind="click: selectOptions, css: { active: !showAdvancedOptions() }"><a href="#">General</a></li>
            <li data-bind="click: selectAdvancedOptions, css: { active: showAdvancedOptions }"><a href="#">Advanced</a></li>
        </ul>
        <br />
        <div class="btn-group-vertical" data-bind="visible: !showAdvancedOptions()">
            <label class="btn btn-default" style="" data-bind="click: includeDocuments.toggle.bind(includeDocuments), css: { active: includeDocuments }">
                <i data-bind="css: {'fa-check': includeDocuments }" class="fa fa-fw"></i> Include documents
            </label>
            <label class="btn btn-default" style=""  data-bind="click: includeIndexes.toggle.bind(includeIndexes), css: { active: includeIndexes }">
                <i data-bind="css: {'fa-check': includeIndexes }" class="fa fa-fw"></i> Include indexes
            </label>
            <label class="btn btn-default text-left" style="" data-bind="click: includeAttachments.toggle.bind(includeAttachments), css: { active: includeAttachments }">
                <i data-bind="css: {'fa-check': includeAttachments }" class="fa fa-fw"></i> Include attachments
            </label>
            <label class="btn btn-default text-left" style="" data-bind="click: includeTransformers.toggle.bind(includeTransformers), css: { active: includeTransformers }">
                <i data-bind="css: {'fa-check': includeTransformers }" class="fa fa-fw"></i> Include transformers
            </label>
            <label class="btn btn-default text-left" style="" data-bind="click: removeAnalyzers.toggle.bind(removeAnalyzers), css: { active: removeAnalyzers }">
                <i data-bind="css: {'fa-check': removeAnalyzers }" class="fa fa-fw"></i> Remove analyzers
            </label>
        </div>
        <div data-bind="visible: showAdvancedOptions">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Batch size</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="number" min="0" data-bind="value: batchSize" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <div class="checkbox">
                            <input type="checkbox" class="styled" id="strip_replicaton_info" data-bind="checked: stripReplicationInformation">
                            <label for="strip_replicaton_info">Strip replication information from documents metadata</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" class="styled" id="disable_versioning" data-bind="checked: shouldDisableVersioningBundle">
                            <label for="disable_versioning">Disable versioning bundle during import</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Expired documents</label>
                    <div class="col-sm-10">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span data-bind="visible: includeExpiredDocuments">Include</span>
                                <span data-bind="visible: !includeExpiredDocuments()">Exclude</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-bind="click: includeExpiredDocuments.bind(includeExpiredDocuments, true)">Include</a></li>
                                <li><a href="#" data-bind="click: includeExpiredDocuments.bind(includeExpiredDocuments, false)">Exclude</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--This doesn'tappear to be supported in Raven 3.-->
                <!--<div class="form-group">
                <label class="col-sm-2 control-label">Collections</label>
                <div class="col-sm-10">
                    <div class="btn-group">
                        <label class="btn btn-primary" data-bind="click: includeAllCollections.bind(includeAllCollections, true), css: { active: includeAllCollections }">
                            All collections
                        </label>
                        <label class="btn btn-primary" data-bind="click: includeAllCollections.bind(includeAllCollections, false), css: { active: !includeAllCollections() }">
                            Specified collections only
                        </label>
                    </div>
                    <div style="margin-left: 20px;" data-bind="visible: !includeAllCollections()">
                        <p class="form-control-static">Choose collections:</p>
                        <div class="btn-group-vertical" data-bind="foreach: includedCollections">
                            <label class="btn btn-primary" data-bind="text: collection, click: isIncluded.bind(isIncluded, !isIncluded()), css: { active: isIncluded }"></label>
                        </div>
                    </div>
                </div>
            </div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span>Filters</span>
                        <span class="help-block">
                            <a class="text-muted" title="External link: RavenDB filters documentation" target="_blank" href="http://ravendb.net/docs/article-page/3.0/csharp/server/administration/exporting-and-importing-data">
                                <i class="fa fa-question-circle"></i>
                                Help
                            </a>
                        </span>
                    </label>
                    <div class="col-sm-10">
                        <div class="btn-group">
                            <table class="table table-striped" style="max-width: 500px;" data-bind="visible: filters().length">
                                <thead>
                                    <tr>
                                        <th style="width: 40%;">Path</th>
                                        <th style="width: 45%;">Value</th>
                                        <th style="width: 10%">Should Match</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: filters">
                                    <tr>
                                        <td><input class="form-control" type="text" data-bind="value: Path" /></td>
                                        <td><input class="form-control" type="text" data-bind="value: Values[0]" /></td>
                                        <td>                                                
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <span data-bind="visible: ShouldMatchObservable">Should match</span>
                                                    <span data-bind="visible: !ShouldMatchObservable()">Should <strong>not</strong> match</span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#" style="text-decoration: none;" data-bind="click: ShouldMatchObservable.bind(ShouldMatchObservable, true)">Should match</a></li>
                                                    <li><a href="#" style="text-decoration: none;" data-bind="click: ShouldMatchObservable.bind(ShouldMatchObservable, false)">Should <strong>not</strong> match</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="close" data-bind="click: $root.removeFilter.bind($root, $data)" title="Remove this filter">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-default" data-bind="click: addFilter">
                                <i class="fa fa-plus"></i> Add filter
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label id="transformScriptHelp" class="col-sm-2 control-label">
                        Transform script&nbsp;
                        <i class="fa fa-info-circle help-cursor text-info"></i>
                    </label>
                    <div class="col-sm-10">
                        <pre style="height: 200px;" data-bind="aceEditor: { code: transformScript, lang: 'ace/mode/javascript' }">
                        </pre>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>
