<div class="importDatabase">
<div class="panel">
    <div class="panel-body">
        <form data-bind="submit: importDb">
            <h3>Import data from a .ravendbdump file into the current database</h3>
            <div class="bg-warning padding padding-xs margin-bottom"><small><i class="icon-warning"></i> Note: Importing will overwrite any existing documents and indexes.</small></div>
            <div class="row">
                <div class="col-sm-8 col-lg-6 col-xl-5">
                    <div class="input-group file-input" data-bind="validationElement: importedFileName">
                        <input type="file" id="importDatabaseFilePicker" data-bind="event: { change: _.partial(fileSelected, $element.value) }, disable: isImporting" tabindex="-1">
                        <span class="static-name form-control" data-bind="text: importedFileName() || 'Select file...'"></span>
                        <span class="input-group-btn">
                            <label for="importDatabaseFilePicker" class="btn btn-default">
                                <i class="icon-document"></i><span>Browse</span>
                            </label>
                        </span>
                        <p class="help-block" data-bind="validationMessage: importedFileName"></p>
                    </div>
                </div>
            </div>
            <br />
            <div data-bind="with: model">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="toggle">
                            <input id="importDocuments" type="checkbox" data-bind="checked: includeDocuments">
                            <label for="importDocuments">Include Documents</label>
                        </div>
                        <div class="margin-left margin-left-lg">
                            <div class="toggle">
                                <input id="importAttachments" type="checkbox" 
                                       data-bind="checked: includeAttachments"/>
                                <label for="importAttachments">Include Attachments</label>
                            </div>
                            <div class="toggle">
                                <input id="importLegacyAttachments" type="checkbox"
                                       data-bind="checked: includeLegacyAttachments">
                                <label for="importLegacyAttachments">Include Legacy Attachments</label>
                            </div>
                            <div class="toggle">
                                <input id="importCounters" type="checkbox" 
                                       data-bind="checked: includeCounters">
                                <label for="importCounters">Include Counters</label>
                            </div>
                            <div class="toggle">
                                <input id="importLegacyCounters" type="checkbox"
                                       data-bind="checked: includeLegacyCounters">
                                <label for="importLegacyCounters">Include Legacy Counters</label>
                            </div>
                            <div class="toggle">
                                <input id="importExpiredDocuments" type="checkbox" data-bind="checked: includeExpiredDocuments">
                                <label for="importExpiredDocuments">Include Expired Documents</label>
                            </div>
                            <div class="toggle">
                                <input id="importRevisions" type="checkbox" data-bind="checked: includeRevisionDocuments"/>
                                <label for="importRevisions">Include Revisions</label>
                            </div>
                            <div class="toggle">
                                <input id="importConflicts" type="checkbox" data-bind="checked: includeConflicts">
                                <label for="importConflicts">Include Conflicts</label>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="toggle">
                            <input id="importIndexes" type="checkbox" data-bind="checked: includeIndexes">
                            <label for="importIndexes">Include Indexes</label>
                        </div>
                        <div class="margin-left margin-left-lg">
                            <div class="toggle">
                                <input id="importAnalyzers" type="checkbox" data-bind="checked: removeAnalyzers">
                                <label for="importAnalyzers">Remove Analyzers</label>
                            </div>
                        </div>
                        <div class="toggle">
                            <input id="importIdentities" type="checkbox" data-bind="checked: includeIdentities">
                            <label for="importIdentities">Include Identities</label>
                        </div>
                        <div class="toggle">
                            <input id="importConfiguration" type="checkbox" data-bind="checked: includeDatabaseRecord">
                            <label for="importConfiguration" class="margin-right margin-right-sm">Include Configuration</label>
                            <button class="btn btn-sm" data-bind="enable: includeDatabaseRecord, click: $root.customizeConfigurationClicked">Customize</button>
                        </div>
                        <div class="toggle">
                            <input id="importCmpXch" type="checkbox" data-bind="checked: includeCompareExchange">
                            <label for="importCmpXch">Include Compare Exchange</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div data-bind="validationElement: importDefinitionHasIncludes">
                            <div class="help-block" data-bind="validationMessage: importDefinitionHasIncludes"></div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="toggle">
                        <input id="toggleEncryption" type="checkbox" data-bind="checked: model.encryptedInput">
                        <label for="toggleEncryption">Imported file is encrypted</label>
                    </div>
                </div>
            </div>

            <div class="margin-left margin-left-lg" data-bind="collapse: model.encryptedInput">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group" data-bind="validationElement: model.encryptionKey">
                            <label class="control-label">
                                Encryption Key <small class="text-muted">(Base64 Encoding)</small>
                            </label>
                            <input type="text" class="form-control" placeholder="Key" autocomplete="off"
                                   data-bind="textInput: model.encryptionKey">
                        </div>
                    </div>
                </div>
            </div>
            
            <div data-bind="collapse: showAdvancedOptions, with: model">
                <hr />
                <h3>Advanced</h3>
                <div class="margin-left margin-left-lg">
                    <div class="margin-bottom">
                        <div class="toggle">
                            <input id="useTransformScript" type="checkbox" data-bind="checked: $root.showTransformScript">
                            <label for="useTransformScript" class="use-transform-script margin-right margin-right-sm">Use Transform script </label>
                            <small id="scriptPopover"><i class="icon-info text-info"></i></small>
                        </div>
                        <div data-bind="collapse: $root.showTransformScript">
                            <pre class="form-control" style="height: 200px;" data-bind="aceEditor: { code: transformScript, lang: 'ace/mode/javascript', completer: $root.completer }, validationOptions: { errorsAsTitle: false }, validationElement: transformScript"></pre>
                            <div data-bind="validationOptions: { errorsAsTitle: false }, validationElement: transformScript">
                                <div class="help-block" data-bind="validationMessage: transformScript"></div>
                            </div>
                        </div>

                        <div data-bind="with: databaseModel">
                            <div data-bind="compose: 'database/tasks/smugglerDatabaseRecord.html'"></div>
                        </div>
                    </div>

                    <div class="flex-horizontal">
                        <div class="btn-group">
                            <button data-bind="click: _.partial($root.copyCommandToClipboard, $root.importCommandPowerShell())" class="btn btn-default">
                                <i class="icon-copy"></i>
                                <span>Copy command as PowerShell</span>
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-bind="click: _.partial($root.copyCommandToClipboard, $root.importCommandCmd())">
                                        <i class="icon-copy"></i> Copy as cURL (cmd)
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-bind="click: _.partial($root.copyCommandToClipboard, $root.importCommandBash())">
                                        <i class="icon-copy"></i> Copy as cURL (bash)
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="flex-grow">
                            <input onClick="this.select();" class="form-control" readonly data-bind="value: $root.importCommandPowerShell" />
                        </div>

                    </div>    
                </div>
            </div>
            <hr />
            <div class="progress" data-bind="visible: isUploading()">
                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" data-bind="style: { width: uploadStatus() + '%' }"> <span class="sr-only" data-bind="text: uploadStatus() + '%'"></span> </div>
            </div>
            <button class="btn btn-default" type="button" data-bind="click: showAdvancedOptions.toggle.bind(showAdvancedOptions)">
                Advanced
            </button>
            <button class="btn btn-primary" type="submit" download data-bind="css: { 'btn-spinner': isImporting() }"><span class="icon-import"></span> <span>Import Database</span></button>
        </form>
    </div>
</div>
</div>
