<div class="migrateDatabase content-margin">
    <div class="panel">
        <div class="panel-body">
            <form data-bind="submit: migrateDb">
                <h3>Migrate data from RavenDB v3.x</h3>
                <p class="bg-warning padding padding-xs small"><i class="icon-warning"></i> Note: Migration will overwrite any existing documents and indexes.</p>
                <div class="row" data-bind="with: model">
                    <div class="col-sm-8 col-lg-6 margin-top">
                        <div class="row flex-row margin-bottom">
                            <label class="control-label col-xs-12 col-sm-6 col-lg-4">Server URL</label>
                            <div class="col-xs-12 col-sm-6 col-lg-8" data-bind="validationElement: serverUrl">
                                <input data-bind="textInput: serverUrl" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row flex-row margin-bottom">
                            <label class="control-label col-xs-12 col-sm-6 col-lg-4">Database name</label>
                            <div class="col-xs-12 col-sm-6 col-lg-8" data-bind="validationElement: databaseName">
                                <input data-bind="textInput: databaseName" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row flex-row margin-bottom">
                            <label class="control-label col-xs-12 col-sm-6 col-lg-4">User name</label>
                            <div class="col-xs-12 col-sm-6 col-lg-8">
                                <input data-bind="textInput: userName" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row flex-row margin-bottom">
                            <label class="control-label col-xs-12 col-sm-6 col-lg-4">Password</label>
                            <div class="col-xs-12 col-sm-6 col-lg-8">
                                <input data-bind="textInput: password" type="password" class="form-control" />
                            </div>
                        </div>
                        <div class="row flex-row margin-bottom">
                            <label class="control-label col-xs-12 col-sm-6 col-lg-4">Domain</label>
                            <div class="col-xs-12 col-sm-6 col-lg-8">
                                <input data-bind="textInput: domain" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <button class="btn btn-primary" type="submit" data-bind="css: { 'btn-spinner': startingMigration() }, disable: startingMigration"><span class="icon-import"></span> <span>Migrate Database</span></button>
            </form>
        </div>
    </div>
</div>
