<div class="migrateDatabase">
    <div class="panel">
        <div class="panel-body">
            <form class="flex-form" data-bind="submit: migrateDb">
                <h3>Migrate data from another RavenDB Server</h3>
                <div class="bg-warning padding padding-xs"><small><i class="icon-warning"></i> Note: Migration will overwrite any existing documents and indexes.</small></div>
                <div class="row" data-bind="with: model">
                    <div class="col-sm-8 col-lg-6 margin-top">
                        <div class="form-group" data-bind="validationElement: serverUrl">
                            <label class="control-label">Server URL</label>
                            <div class="flex-grow">
                                <input data-bind="textInput: serverUrl" type="text" class="form-control" placeholder="Source server url" />
                            </div>
                        </div>

                        <div class="form-group" data-bind="validationElement: serverMajorVersion">
                            <label class="control-label">Server Version</label>
                            <div class="flex-grow">
                                <div class="form-control-static">
                                    <div data-bind="text: serverMajorVersionNumber, visible: !$root.spinners.versionDetect() && serverMajorVersionNumber()"></div>
                                    <div data-bind="visible: $root.spinners.versionDetect">
                                        <i class="global-spinner spinner-sm"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="help-block" data-bind="validationMessage: serverMajorVersion"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" data-bind="validationElement: databaseName">
                            <label class="control-label">Database name</label>
                            <div class="flex-grow">
                                <input data-bind="textInput: databaseName" type="text" class="form-control" placeholder="Source database name" />
                            </div>
                        </div>
                        
                        <div data-bind="visible: showAuthenticationMethods">
                            <div class="form-group">
                                <label class="control-label">Authentication method</label>
                                <div class="flex-grow" data-bind="validationElement: authenticationMethod">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default"
                                                data-bind="click: _.partial(authenticationMethod, 'none'), css: { active: authenticationMethod() === 'none' }">None</button>
                                        <button type="button" class="btn btn-default"
                                                data-bind="click: _.partial(authenticationMethod, 'windows'), css: { active: authenticationMethod() === 'windows' }">Windows Credentials</button>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="visible: showWindowsCredentialInputs">
                                <div class="form-group" data-bind="validationElement: userName">
                                    <label class="control-label">User name</label>
                                    <div class="flex-grow">
                                        <input data-bind="textInput: userName" type="text" class="form-control" placeholder="User name" />
                                    </div>
                                </div>
                                <div class="form-group" data-bind="validationElement: password">
                                    <label class="control-label">Password</label>
                                    <div class="flex-grow">
                                        <input data-bind="textInput: password" type="password" class="form-control" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="form-group" data-bind="validationElement: domain">
                                    <label class="control-label">Domain</label>
                                    <div class="flex-grow">
                                        <input data-bind="textInput: domain" type="text" class="form-control" placeholder="Domain" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <button class="btn btn-primary" type="submit" data-bind="css: { 'btn-spinner': spinners.migration() }, disable: spinners.migration">
                    <span class="icon-import"></span> <span>Migrate Database</span>
                </button>
            </form>
        </div>
    </div>
</div>
