<div class="modal-dialog modal-lg" role="document" id="subscriptionRqlSyntaxDialog">

<div>Entire collection documents:</div>
<pre class="margin-bottom"><span class="token keyword">from</span><span class="token string"> Orders</span></pre> 

<div>Collection documents with projection:</div> 
<pre class="margin-bottom"><span class="token keyword">from</span><span class="token string"> Orders </span><span class="token keyword">as</span> o
<span class="token keyword">load</span> o.Company <span class="token keyword">as</span> c
<span class="token keyword">select</span>
<span class="token punctuation">{</span>
     Name: c.Name.toLowerCase(),
     Country: c.Address.Country,
     LinesCount: o.Lines.length
<span class="token punctuation">}</span>

<span class="icon-warning text-warning"></span><span class="text-warning">Note: Only object literal notation can be used with the 'select'</span>
</pre>
  
</div>
