<div class="modal-dialog modal-lg" role="document" id="transformationScriptSyntaxDialog">
    <div>Simple transformation script:</div>
    <pre class="margin-bottom"><span class="token keyword">LoadTo<span class="token string">NewEmployeeCollection</span></span><span class="token punctuation"> {</span>
            Name: this.LastName + " some new data..",
            Title: this.Title + " some new data.."
<span class="token punctuation">}</span>;

<span class="text-warning">Note: The destination collection name must be concatenated to the 'LoadTo' keyword</span>
</pre>
</div>
