<div class="flex-window stretch edit-transformer content-margin">
    <div class="flex-window-head">
        <div class="toolbar">
            <div class="row rename-widget">
                <div class="col-lg-6">
                    <div class="input-group toolbar" data-bind="validationElement: editedTransformer().name">
                        <div class="input-group-addon">Transformer name</div>
                        <input class="form-control" data-bind="textInput: editedTransformer().name, enable: canEditTransformerName, hasFocus: transformerNameHasFocus">
                        <span class="input-group-btn" data-bind="visible: isEditingExistingTransformer() && !renameMode()">
                            <button class="btn btn-default" type="button" data-bind="click: enterRenameMode"><i class="icon-edit"></i> <span>Rename</span></button>
                        </span>
                        <span class="input-group-btn" data-bind="visible: renameMode">
                            <button class="btn btn-primary" type="button" data-bind="click: renameTransformer, css: { 'btn-spinner': renameInProgress }, disable: !nameChanged() || renameInProgress()">
                                <i class="icon-check"></i> <span>Apply</span>
                            </button>
                            <button class="btn btn-default" type="button" data-bind="click: cancelRename"><i class="icon-cancel"></i> <span>Cancel</span></button>
                        </span>
                    </div>
                </div>
            </div>
            
            <button class="btn btn-primary" data-bind="click: saveTransformer, enable: isSaveEnabled() && !renameMode(), css: { 'btn-spinner': isSaving }" title="Save the transformer (Alt+S)" accesskey="S">
                <i class="icon-save"></i>
                <span>Save</span>
            </button>
            
            <a data-bind="attr: { href: transformersUrl }, visible: !isEditingExistingTransformer()" class="btn btn-default"><i class="icon-cancel"></i> <span>Cancel</span></a>
            
            <button class="btn btn-default" data-bind="click: cloneTransformer, visible: isEditingExistingTransformer"><i class="icon-clone"></i><span>Clone</span></button>

            <button class="btn btn-danger" data-bind="click: deleteTransformer, visible: isEditingExistingTransformer" title="Delete the transformer">
                <i class="icon-trash"></i>
                <span>Delete</span>
            </button>
        </div>
    </div>
    <div class="flex-window-scroll">
        <div class="row absolute-fill flex-row">
            <div class="col-sm-2">
                <h2 id="transform-title">Transform <small><i class="icon-info"></i></small></h2>
            </div>
            <div class="col-sm-10 flex-vertical">
                <div class="clearfix">
                    <div class="btn-group btn-group-sm pull-right" role="group">
                        <button type="button" class="btn btn-default" title="Format transformer" data-bind="formatTransformer"><i class="icon-indent"></i> <span>Format</span></button>
                    </div>
                </div>
                <div class="flex-content flex-vertical">
                    <pre class="form-control flex-content" 
                         data-bind="aceEditor: { code: editedTransformer().transformResults, hasFocus: editorHasFocus, allowResize: true }, validationElement: editedTransformer().transformResults"></pre>

                    <div data-bind="validationElement: editedTransformer().transformResults">
                        <div class="help-block" data-bind="validationMessage: editedTransformer().transformResults"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backdrop" data-bind="css: { 'show': renameMode }"></div>