<div class="transformers">
    <div data-bind="if: transformersGroups().length === 0">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <i class="icon-xl icon-empty-set text-muted"></i>
                <h2 class="text-center">No transformers have been created for this database.</h2>
                <p class="lead text-center text-muted">Go ahead and <a href="#" data-bind="attr: { href: newTransformerUrl }">create one now</a>.</p>
            </div>
        </div>
    </div>
    <div class="clearfix toolbar" data-bind="if: transformersGroups().length">
        <div class="pull-left">
            <div class="form-inline">
                <div class="checkbox checkbox-inline align-checkboxes" title="Select all or none">
                    <input type="checkbox" class="styled" data-bind="checkboxTriple: selectionState, event: { change: toggleSelectAll }"/>
                    <label></label>
                </div>
                <input type="text" class="form-control" placeholder="Filter" title="Filter transformers (Alt+/)" data-bind="textInput: searchText"/>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Set lock mode to selected transformers"
                            data-bind="enable: selectedTransformersName().length && !globalLockChangesInProgress(), css: { 'btn-spinner': globalLockChangesInProgress() }">
                        <i class="icon-lock"></i>
                        <span>Lock</span>&nbsp;&nbsp;
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li data-bind="click: setLockModeSelectedTransformers.bind($root, 'Unlock', 'Unlock')">
                            <a href="#" title="Unlock selected indexes">
                                <i class="icon-unlock"></i>
                                <span>Unlock</span>
                            </a>
                        </li>
                        <li data-bind="click: setLockModeSelectedTransformers.bind($root, 'LockedIgnore', 'Lock')">
                            <a href="#" title="Lock selected indexes">
                                <i class="icon-lock"></i>
                                <span>Lock</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-danger" data-bind="click: deleteSelectedTransformers, enable: selectedTransformersName().length">
                    <i class="icon-trash"></i><span>Delete</span>
                </button>
            </div>
        </div>
    </div>    

    <div data-bind="foreach: transformersGroups">
        <h2 data-bind="text: entityName, visible: !groupHidden()"></h2>
        <div data-bind="foreach: transformers, visible: !groupHidden()">
            <div class="panel transformer" data-bind="visible: !filteredOut()">
                <div class="padding padding-sm">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 info-container">
                            <div class="checkbox">
                                <input type="checkbox" class="styled" data-bind="checked: $root.selectedTransformersName, checkedValue: name">
                                <label></label>
                            </div>
                            <h3 class="transformer-name">
                                <a href="#" data-bind="text: name, attr: { href: editUrl }"></a>
                            </h3>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-4 vertical-divider properties-container">
                            <div class="properties-item" data-bind="template: { name: 'lock-mode-template' }">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-2 actions-container">
                            <div class="actions">
                                <div class="btn-toolbar pull-right-sm" role="toolbar">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" data-bind="attr: { href: editUrl }"><i class="icon-edit"></i></a>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-danger" title="Delete the transformer" data-bind="click: $root.deleteTransformer.bind($root)">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="lock-mode-template">
    <span class="properties-label">Mode:</span>
    <div class="btn-group properties-value">
        <button type="button" class="btn btn-block dropdown-toggle set-size" data-toggle="dropdown" 
                data-bind="enable: !$root.localLockChangesInProgress().contains(name()), css: { 'btn-spinner': $root.localLockChangesInProgress().contains(name()) }">
            <span data-bind="visible: isLocked()">
                <i class="icon-lock"></i><span>Locked</span>
            </span>
            <span data-bind="visible: !isLocked()">
                <i class="icon-unlock"></i><span>Unlocked</span>
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li data-bind="click: $root.unlockTransformer.bind($root)">
                <a href="#">
                    <i class="icon-unlock"></i>
                    <span>Unlocked</span>
                </a>
            </li>
            <li data-bind="click: $root.lockTransformer.bind($root)">
                <a href="#">
                    <i class="icon-lock"></i>
                    <span>Locked</span>
                </a>
            </li>
        </ul>
    </div>
</script>