<ul class="breadcrumb">
    <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
    <li>
        <h3>
            <a href="#resources">
                File Systems
            </a>
        </h3>
    </li>

    <li class="active" data-bind="with: activeFilesystem">
        <span data-bind="text: name" />
    </li>
    <li class="active">
        <span>All</span>
    </li>
</ul>

<div id="fileSystemFilesPage">
    <div class="row">
        <div class="col-md-2">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" accesskey="n" data-bind="click: createFolder, enable: inRevisionsFolder() == false" title="Create folder">
                        <span>New Folder</span>
                    </button>
                </div>

                <div class="btn-group" data-bind="visible: inRevisionsFolder() == false">
                    <span class="btn btn-primary btn-file" title="Upload files">
                        <i class="fa fa-upload"></i>
                        <input id="upload" name="upload" type="file" multiple="multiple" data-bind="value: uploadFiles, fileUpload: { files: uploadFiles, directory: selectedFolder, uploads: uploadQueue, before: expandUploadQueuePanel, success: uploadSuccess.bind($data), fail: uploadFailed.bind($data) }" />
                    </span>
                </div>
                <div class="btn-group" data-bind="visible: !inRevisionsFolder()">
                    <button type="button" class="btn btn-danger" data-bind="click: deleteFolder" title="Remove folder">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-bind="click: refresh, disable: showLoadingIndicator()" title="Refresh files from server">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <span><br/></span>
            <div data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: '#uploadQueueContainer', bottomMargin: 5}" style="overflow-y: auto" >
                <div id="filesTree" data-bind="tree: { selectedNode: selectedFolder, addedNode: addedFolder, currentLevelNodes: currentLevelSubdirectories }"></div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" data-bind="style: { visibility : hasFiles() ? 'visible' : 'hidden' }">
                    <div class="checkbox">
                        <input id="files_all" class="styled" type="checkbox" data-bind="checkboxTriple: filesSelection, event: { change: toggleSelectAll }" title="Select all or none">
                        <label for="files_all">&nbsp;</label>
                    </div>
                </div>
                <div class="btn-group" data-bind="visible: hasAnyFilesSelected">
                    <button type="button" class="btn btn-default" data-bind="enable: selectedFilesIndices().length == 1, click: editSelectedFile" title="Edit selected document (F2)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="enable: selectedFilesIndices().length == 1, click: downloadSelectedFiles" title="Download selected document">
                        <i class="fa fa-download"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="enable: selectedFilesIndices().length == 1 && !inRevisionsFolder() , click: renameSelectedFile" title="Rename file">
                        <i class="fa fa-random"></i>
                    </button>
                    <button type="button" class="btn btn-danger" data-bind="enable: !inRevisionsFolder(), click: deleteSelectedFiles" title="Delete selected documents (DEL)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <div id="loadingIndicator" data-bind="visible: showLoadingIndicatorThrottled"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
                </div>
            </div>

            <div class="files-select" data-bind="visible: hasAnyFilesSelected() && !hasAllFilesSelected() && isAnyFilesAutoSelected()">
                <i class="fa fa-info-circle"></i> You have selected <strong data-bind="text: selectedFilesIndices().length.toLocaleString()"></strong> <span data-bind="text: selectedFilesText"></span>.
                <span class="select-link" data-bind="click: selectAll.bind($root)">
                    Select all <strong data-bind="text: filesCount"></strong> files in <span data-bind="text: selectedFolderName"></span>
                </span>
            </div>
            <div class="files-select" data-bind="visible: hasAllFilesSelected() && isAllFilesAutoSelected()">
                You have selected <strong data-bind="text: selectedFilesIndices().length"></strong> <span data-bind="text: selectedFilesText"></span> in
                <span data-bind="text: selectedFolderName"></span>.
                <span class="select-link" data-bind="click: selectNone.bind($root)">
                    Clear selection
                </span>
            </div>

            <div id="filesGrid" data-bind="widget: { kind: 'virtualTable', itemsSource: allFilesPagedItems, selectedIndices: selectedFilesIndices, dynamicHeightTargetSelector: '#uploadQueueContainer', gridSelector: '#filesGrid', contextMenuOptions: ['Delete'], isAnyAutoSelected: isAnyFilesAutoSelected, isAllAutoSelected: isAllFilesAutoSelected, rowsAreLoading: showLoadingIndicator, noResultsMessage: 'No files were found!' }"></div>
        </div>
    </div>
    <div class="row">
        <div id="uploadQueueContainer" data-bind="attr: { class: uploadsStatus() + ' upload-queue panel '}">
            <div class="panel-heading">
                <span><i class="fa fa-fw bold blue" data-bind="css: { 'fa-spin':  anyUploadInProgess(), 'fa-circle-o-notch': anyUploadInProgess() , 'fa-upload': !anyUploadInProgess()  }"></i>&nbsp;Upload Queue</span>
                <a href="#" id="uploadQueuePanelToggle" class="opened pull-right" style="float:right; padding-right:10px" data-bind="click: toggleCollapseUploadQueue"><i class="fa fa-angle-double-down bold red"></i></a>
            </div>
            <div class="panel-body">
                <div id="uploadQueue" >
                    <button id="clearUploadQueue" class="btn btn-default btn-sm pull-right" title="Clear queue" 
                            data-trigger="hover" data-toggle="tooltip" data-bind="click: $root.clearUploadQueue.bind($root)">
                        <i class="fa fa-ban"></i>
                    </button>
                    <div style="height:230px; overflow-y:auto">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="database-header">
                                    <td class="ko-grid-column-header"><b>File</b></td>
                                    <td class="ko-grid-column-header"><b>Status</b></td>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.uploadQueue">
                                <tr class="database-row">
                                    <td data-bind="text: fileName"></td>
                                    <td data-bind="text: status"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
