<ul class="breadcrumb">
    <li>
        <h3>
            <a href="#resources">
                File Systems
            </a>
        </h3>
    </li>

    <li class="active" data-bind="with: activeFilesystem">
        <span data-bind="text: name" />
    </li>
    <li class="active">
        <span>All</span>
    </li>
</ul>

<div id="fileSystemFilesPage"> 

    <div class="row">
        <div class="col-md-2">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" accesskey="n" data-bind="click: createFolder, enable: inRevisionsFolder() == false" title="Create folder">
                        <span>New Folder</span>
                    </button>
                </div>

                <div class="btn-group" data-bind="visible: inRevisionsFolder() == false">
                    <span class="btn btn-primary btn-file" title="Upload files">
                        <i class="fa fa-upload"></i>
                        <input id="upload" name="upload" type="file" multiple="multiple" data-bind="value: uploadFiles, fileUpload: { files: uploadFiles, directory: selectedFolder, uploads: uploadQueue, before: expandUploadQueuePanel, success: uploadSuccess.bind($data), fail: uploadFailed.bind($data) }" />
                    </span>
                </div>
            </div>
            <span><br/></span>
            <div id="filesTree" data-bind="tree: {selectedNode: selectedFolder, addedNode: addedFolder, currentLevelNodes: currentLevelSubdirectories}" ></div>
        </div>
        <div class="col-md-10">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" data-bind="style: { visibility : hasFiles() ? 'visible' : 'hidden' }">
                    <button type="button" class="btn btn-link" style="margin-left: 10px;" data-bind="click: toggleSelectAll" title="Select all or none">
                        <img data-bind="attr: { src: isSelectAll() ? 'content/images/checked.png' : 'content/images/unchecked.png' }" />
                    </button>
                </div>
                <div class="btn-group" data-bind="visible: hasAnyFileSelected">
                    <button type="button" class="btn btn-default" data-bind="enable: selectedFilesIndices().length == 1, click: editSelectedFile" title="Edit selected document (F2)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: deleteSelectedFiles" title="Delete selected documents (DEL)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="enable: selectedFilesIndices().length == 1, click: downloadSelectedFiles" title="Download selected document">
                        <i class="fa fa-download"></i>
                    </button>
                </div>
                <span></span>
            </div>
            <div class="files-select" data-bind="visible: selectedFilesIndices().length > 0">
                You have selected <strong data-bind="text: $root.selectedFilesIndices().length"></strong> <span data-bind="text: $root.selectedFilesText"></span>.
            </div>
            <div id="filesGrid" data-bind="widget: { kind: 'virtualTable', itemsSource: allFilesPagedItems, selectedIndices: selectedFilesIndices, dynamicHeightTargetSelector: '#uploadQueueContainer', gridSelector: '#filesGrid', contextMenuOptions: ['Delete'] }"></div>
        </div>
    </div>
    <div class="row">
        <div id="uploadQueueContainer" class="upload-queue panel panel-info">
            <div class="panel-heading">
                <span><i class="fa fa-upload bold blue"></i>&nbsp;Upload Queue</span>
                <a href="#" id="uploadQueuePanelToggle" class="opened pull-right" style="float:right; padding-right:10px" data-bind="click: toggleCollapseUploadQueue"><i class="fa fa-angle-double-down bold red"></i></a>
            </div>
            <div class="panel-body">
                <div id="uploadQueue" >
                    <button id="clearUploadQueue" class="btn btn-default btn-sm pull-right" title="Clear queue" 
                            data-trigger="hover" data-toggle="tooltip" data-bind="click: $root.clearUploadQueue.bind($root)">
                        <i class="fa fa-ban"></i>
                    </button>
                    <div style="height:230px; overflow-y:auto">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="database-header">
                                    <td class="ko-grid-column-header"><b>File</b></td>
                                    <td class="ko-grid-column-header"><b>Status</b></td>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.uploadQueue">
                                <tr class="database-row">
                                    <td data-bind="text: fileName"></td>
                                    <td data-bind="text: status"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>