<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Raven/Port" value="54321"/>
    <add key="Raven/WebDir" value="..\..\..\Raven.Database\Server\WebUI"/>
    <add key="Raven/DataDir" value="C:\Projects\Kimalas2\Raven.Server\Data"/>
    <add key="Raven/AnonymousAccess" value="All"/>
  </appSettings>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Analyzers"/>
		</assemblyBinding>
	</runtime>
</configuration>