<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
		<add key="Raven/WebDir" value="..\..\..\Raven.Database\Server\WebUI"/>
    <add key="Raven/DataDir" value="~\Data"/>
    <add key="Raven/AnonymousAccess" value="All"/>
  </appSettings>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
</configuration>