@selectionColor: #ffc;

html, body {
    height: 100%;
}

.page-host {
    padding: 20px 20px 50px 20px;
    position: relative;
    top: 40px;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;

    .message {
        font-size: 5em;
        line-height: 1.5em;
        -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
        text-transform: uppercase;
    }
}

.navbar-fixed-top {
    .navbar-inner {
        padding-left: 1em;
        padding-right: 1em;
    }

    .icon-home {
        font-size: 18px;
    }
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;

    &.active {
        visibility: visible;
    }
}

@media (max-width: 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

.page {
    padding: 0 10px 20px 10px;
    width: 98%;
}

.navbar-splitbutton {

    > a {
        padding-right: 5px !important;
    }

    + .dropdown {
        cursor: pointer;

        > a {
            padding-left: 6px;
            padding-right: 8px;
        }
    }
}

.database-page {

    .btn-toolbar {
        margin-bottom: 20px;
    }

    .databases-container {
        margin-top: 10px;

        .database {
            cursor: pointer;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 5px 1px silver;
            box-shadow: 0 0 5px 1px silver;
            min-width: 140px;
            min-height: 60px;
            display: inline-block;
            padding: 8px;
            margin: 0 10px 14px 0;

            @selectColor: rgb(66, 139, 202);
            @hoverColor: lighten(@selectColor, 10%);

            &:hover {
                background-color: white;
                -webkit-box-shadow: 0 0 5px 0 @hoverColor;
                box-shadow: 0 0 5px 0 @hoverColor;
            }

            &.selected {
                -webkit-box-shadow: 0 0 6px 0 @selectColor;
                box-shadow: 0 0 6px 0 @selectColor;
                background-color: @selectColor;
                
                a, .text-muted {
                    color: white;
                }
            }

            &.system-database {
                @systemDbColor: rgba(192, 192, 192, 0.21);
                background-color: @systemDbColor;

                &.selected {
                    background-color: darken(@systemDbColor, 70%);

                    a, .text-muted {
                        color: darken(@selectColor, 10%);
                    }
                }
            }
        }
    }

    .systemButton {
        color:grey;
        margin-top:50px;        
        position:absolute;
        top:-40px;
        right:25px;
    }

}

.document-collections {

    li {
        outline: none;
    }

        li:not(:first-child) {
            // All collections except the first one ("All Documents") are indented.
            padding-left: 15px;
        }
}

.indexes-container {
    margin-top: 10px;

    .index {

        .index-actions-container {
            display: none;
        }

        &:hover {
            .index-actions-container {
                display: inline-block;
            }
        }
    }

    .index-group .panel-heading {
        padding-top:0;
    }

    .index-group .panel-heading .panel-title{
        padding-top:15px;
    }
    .index-group .panel-heading {
                .indexGroup-actions-container {
            display: none;
            padding-top:5px;
        }

        &:hover {
            .indexGroup-actions-container {
                display: inline-block;
            }
        }
    }
}


#logsContainer .logRecord {
    .logName .logName-actions-container {
        display: none;
    }

    &:hover {
        .logName-actions-container {
            display: inline-block;
        }
    }
}


.settings-container {
    margin-top: 10px;

    .api-key-card, .win-auth-card {
        display: inline-block;
        width: 500px;
        margin-right: 20px;
    }

    .replication-destination-card {
           display: inline-table;
            width: 500px;
            margin-right: 20px;
    }

    .win-auth-tabs {
        padding: 15px;

        .win-auth-panels-container {
            margin-top: 15px;
        }
    }

    .database-table {
        margin-bottom: 0px;

        td {
            padding: 3px;
        }
    }

    .table-sql-replication-tables {
        margin-bottom: 0px;
    }

    .database-header, .sql-replication-tables-header {
        .narrow-column {
            width: 75px;
        }

        .narrowest-column {
            width: 1px;
        }
    }

    .database-row {
        .form-control {
            border-radius: 3px;
            height: 26px;
            font-size: 12px;
        }
    }

    .sql-replication-panel-body {
        padding-bottom: 0px;
    }

    .sql-replication-script-container {
        .editor {
            height: 100px;
        }
    }
}

.collection-style-0 {
    background-color: rgb(0, 199, 0);
}

.collection-style-1 {
    background-color: rgb(199, 0, 154);
}

.collection-style-2 {
    background-color: red;
}

.collection-style-3 {
    background-color: rgb(0, 149, 239);
}

.collection-style-4 {
    background-color: rgb(167, 0, 104);
}

.collection-style-5 {
    background-color: rgb(0, 100, 100);
}

.collection-style-6 {
    background-color: rgb(120, 50, 199);
}

.collection-style-7 {
    background-color: rgb(199, 40, 40);
}

.collection-style-8 {
    background-color: rgb(199,199,0);
}

.collection-style-9 {
    background-color: rgb(199, 0, 199);
}

.collection-style-10 {
    background-color: rgb(254, 128, 0);
}

.collection-style-11 {
    background-color: rgb(0, 149, 254);
}

.collection-style-12 {
    background-color: rgb(149, 254, 199);
}

.collection-style-13 {
    background-color: rgb(149, 0, 254);
}

.collection-style-14 {
    background-color: rgb(149, 0, 0);
}

.collection-style-15 {
    background-color: rgb(149, 254, 0);
}

.system-documents-collection {
    background-color: rgb(18, 60, 101);
}

.all-documents-collection {
    background: rgb(255,2,2); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,2,2,1) 0%, rgba(255,242,2,1) 27%, rgba(2,255,27,1) 54%, rgba(2,6,255,1) 79%, rgba(246,2,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,2,2,1)), color-stop(27%,rgba(255,242,2,1)), color-stop(54%,rgba(2,255,27,1)), color-stop(79%,rgba(2,6,255,1)), color-stop(100%,rgba(246,2,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0202', endColorstr='#f602ff',GradientType=0 ); /* IE6-9 */
}

#nprogress {
    position: absolute;
    z-index: 9999;
}

.documents-page {
    margin-top: 10px;

    .collection-color-strip {
        height: 20px;
        width: 4px;
        display: inline-block;
        vertical-align: middle;
    }
}

#editIndex {
    .map {
        height: 120px;
    }
}

#queryContainer {
    .editor {
        height: 60px;
    }

    .popover {
        max-width: 450px;
        width: 450px;
    }

    .form-horizontal {
        overflow: hidden auto;
    }
}

.ko-grid {
    /*position: absolute;
    right: 0;
    left: 0;*/
    &:focus {
        outline: 0;
    }

    .ko-grid-column-container {
        white-space: nowrap;
        overflow: hidden;

        .ko-grid-column-header {
            display: inline-block;
            font-weight: bold;
            padding: 8px;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }

    .ko-grid-viewport-container {
        position: relative;
        overflow-y: auto;
    }

    .ko-grid-viewport {
    }

    .ko-grid-row {
        position: absolute;
        background-color: rgb(249, 249, 249);
        border-top: 1px solid rgb(221, 221, 221);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;

        &.even {
            background-color: white;
        }

        &.checked {
            background-color: @selectionColor;
        }
    }

    .ko-grid-cell {
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        padding: 8px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
    }
}

.code-keyword {
    color: blue;
}

.help-cursor {
    cursor: help;
}

.breadcrumb {
    padding: 0 10px 0 10px;
}

.studio-alerts {
    position: fixed;
    top: 60px;
    left: 40%;
    z-index: 2000;
    width: 400px;
}

#editDocumentContainer {
    &:focus {
        outline: 0;
    }

    #docEditor {
        height: 500px;
    }
}

.keyboard-shortcut {
    margin-left: 20px;
}

.single-line-row-table {
    table-layout: fixed;
    width: 100%;
    overflow-x: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
    cursor: pointer;

    tbody {
        td {
            overflow: hidden;
            white-space: nowrap;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}


#editTransformerContainer .transformer {
  height: 600px;
}

#csvImportContainer .fileinputs {
    position: relative;
}

#csvImportContainer .fakefile {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#csvImportContainer .file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:~"alpha(opacity: 0)";
	opacity: 0;
	z-index: 2;
}

.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
    visibility:hidden;
}
.twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}
.twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #32aec4;

}

.tt-suggestion p {
  margin: 0;
}

#logsContainer, #alertsContainer, #indexErrorsContainer {

    table {
        outline: none;

        .selected {
            td {
                background-color: @selectionColor;
            }
        }
    }

    .log-details, .alerts-details, .index-errors-details {
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .unread {
        td {
            font-weight: bold;
        }
    }
}

#databaseSettingsContainer {
    #dbDocEditor {
        height: 500px;
    }

    .btn-toolbar {
        margin-bottom: 10px;
    }
}

.text-ellipsis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer {
    position: fixed;
    bottom: 0;
    margin-top: 50px;
    background-color: silver;
    color: black;
    border-top: 2px solid black;
    width: 100%;

    ul {
        height: 32px;
    }
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
}

.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px;
}

@media (max-width: 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

#recentErrorsDialog {
    height: 500px;
    width: 600px;

    .modal-body {
        height: 350px;
        overflow-y: auto;
    }

    .error-details, .http-status {
        width: 100%;
    }
}

#scriptedIndex {
    .map {
        height: 160px;
    }
}


// Start of Filesystems
// TODO: as this styles are apparently the same than .database-page, consider renaming the original ones to a generic name
.filesystem-page {

    .btn-toolbar {
        margin-bottom: 20px;
    }

    .filesystems-container {
        margin-top: 10px;

        .filesystem {
            cursor: pointer;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 5px 1px silver;
            box-shadow: 0 0 5px 1px silver;
            min-width: 140px;
            min-height: 60px;
            display: inline-block;
            padding: 8px;
            margin: 0 10px 14px 0;

            @selectColor: rgb(66, 139, 202);
            @hoverColor: lighten(@selectColor, 10%);

            &:hover {
                background-color: white;
                -webkit-box-shadow: 0 0 5px 0 @hoverColor;
                box-shadow: 0 0 5px 0 @hoverColor;
            }

            &.selected {
                -webkit-box-shadow: 0 0 6px 0 @selectColor;
                box-shadow: 0 0 6px 0 @selectColor;
                background-color: @selectColor;
                
                a, .text-muted {
                    color: white;
                }
            }

            &.default-filesystem {
                @systemDbColor: rgba(192, 192, 192, 0.21);
                background-color: @systemDbColor;

                &.selected {
                    background-color: darken(@systemDbColor, 70%);

                    a, .text-muted {
                        color: darken(@selectColor, 10%);
                    }
                }
            }
        }
    }

    .systemButton {
        color:grey;
        margin-top:50px;        
        position:absolute;
        top:-40px;
        right:25px;
    }

}



// End of Filesystems