html,
body {
  height: 100%;
}
.not-implemented-yet {
  position: relative;
}
.not-implemented-yet:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.table-no-borders td {
  border-top: none !important;
}
.page-host {
  padding: 20px 20px 50px 20px;
  position: relative;
  top: 40px;
}
.splash {
  text-align: center;
  margin: 10% 0 0 0;
}
.splash .message {
  font-size: 5em;
  line-height: 1.5em;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
  text-transform: uppercase;
}
.navbar-fixed-top .navbar-inner {
  padding-left: 1em;
  padding-right: 1em;
}
.navbar-fixed-top .icon-home {
  font-size: 18px;
}
.loader {
  margin: 6px 8px 4px 8px;
  visibility: hidden;
}
.loader.active {
  visibility: visible;
}
.side-panel li {
  max-width: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.panel span {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}
.page {
  padding: 0 10px 20px 10px;
  width: 98%;
}
.database-page .btn-toolbar {
  margin-bottom: 20px;
}
.database-page .databases-container {
  margin-top: 10px;
}
.database-page .databases-container .database {
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px silver;
  box-shadow: 0 0 5px 1px silver;
  min-width: 140px;
  min-height: 60px;
  display: inline-block;
  padding: 8px;
  margin: 0 10px 14px 0;
}
.database-page .databases-container .database:hover {
  background-color: white;
  -webkit-box-shadow: 0 0 5px 0 #6aa3d5;
  box-shadow: 0 0 5px 0 #6aa3d5;
}
.database-page .databases-container .database.selected {
  -webkit-box-shadow: 0 0 6px 0 #428bca;
  box-shadow: 0 0 6px 0 #428bca;
  background-color: #428bca;
}
.database-page .databases-container .database.selected a,
.database-page .databases-container .database.selected .text-muted {
  color: white;
}
.database-page .databases-container .database.system-database {
  background-color: rgba(192, 192, 192, 0.21);
}
.database-page .databases-container .database.system-database.selected {
  background-color: rgba(14, 14, 14, 0.21);
}
.database-page .databases-container .database.system-database.selected a,
.database-page .databases-container .database.system-database.selected .text-muted {
  color: #3071a9;
}
.document-collections li {
  outline: none;
}
.document-collections li:not(:first-child) {
  padding-left: 15px;
}
.indexes-container {
  margin-top: 10px;
}
.indexes-container .index .index-actions-container {
  display: none;
}
.indexes-container .index:hover .index-actions-container {
  display: inline-block;
}
.indexes-container .index-group .panel-heading {
  padding-top: 0;
}
.indexes-container .index-group .panel-heading .panel-title {
  padding-top: 15px;
}
.indexes-container .index-group .panel-heading .indexGroup-actions-container {
  display: none;
  padding-top: 5px;
}
.indexes-container .index-group .panel-heading:hover .indexGroup-actions-container {
  display: inline-block;
}
#logsContainer .logRecord .logName .logName-actions-container {
  display: none;
}
#logsContainer .logRecord:hover .logName-actions-container {
  display: inline-block;
}
.settings-container {
  margin-top: 10px;
}
.settings-container .api-key-card,
.settings-container .win-auth-card {
  display: inline-block;
  width: 500px;
  margin-right: 20px;
}
.settings-container .replication-destination-card {
  display: inline-table;
  width: 500px;
  margin-right: 20px;
}
.settings-container .win-auth-tabs {
  padding: 15px;
}
.settings-container .win-auth-tabs .win-auth-panels-container {
  margin-top: 15px;
}
.settings-container .database-table {
  margin-bottom: 0px;
}
.settings-container .database-table td {
  padding: 3px;
}
.settings-container .table-sql-replication-tables {
  margin-bottom: 0px;
}
.settings-container .database-header .narrow-column,
.settings-container .sql-replication-tables-header .narrow-column {
  width: 75px;
}
.settings-container .database-header .narrowest-column,
.settings-container .sql-replication-tables-header .narrowest-column {
  width: 1px;
}
.settings-container .database-row .form-control {
  border-radius: 3px;
  height: 26px;
  font-size: 12px;
}
.settings-container .sql-replication-panel-body {
  padding-bottom: 0px;
}
.settings-container .sql-replication-script-container .editor {
  height: 100px;
}
.collection-style-0 {
  background-color: #00c700;
}
.collection-style-1 {
  background-color: #c7009a;
}
.collection-style-2 {
  background-color: red;
}
.collection-style-3 {
  background-color: #0095ef;
}
.collection-style-4 {
  background-color: #a70068;
}
.collection-style-5 {
  background-color: #006464;
}
.collection-style-6 {
  background-color: #7832c7;
}
.collection-style-7 {
  background-color: #c72828;
}
.collection-style-8 {
  background-color: #c7c700;
}
.collection-style-9 {
  background-color: #c700c7;
}
.collection-style-10 {
  background-color: #fe8000;
}
.collection-style-11 {
  background-color: #0095fe;
}
.collection-style-12 {
  background-color: #95fec7;
}
.collection-style-13 {
  background-color: #9500fe;
}
.collection-style-14 {
  background-color: #950000;
}
.collection-style-15 {
  background-color: #95fe00;
}
.system-documents-collection {
  background-color: #123c65;
}
.all-documents-collection {
  background: #0206ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0202), color-stop(27%, #fff202), color-stop(54%, #02ff1b), color-stop(79%, #0206ff), color-stop(100%, #f602ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0202', endColorstr='#f602ff', GradientType=0);
  /* IE6-9 */
}
#nprogress {
  position: absolute;
  z-index: 9999;
}
.documents-page {
  margin-top: 10px;
}
@media (max-device-height: 1024px) {
  .documents-page a {
    font-size: 12px !important;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.collection-color-strip {
  height: 20px;
  width: 4px;
  display: inline-block;
  vertical-align: middle;
}
#editIndex .map {
  height: 120px;
}
#queryContainer .editor {
  height: 60px;
}
#queryContainer .popover {
  max-width: 450px;
  width: 450px;
}
#queryContainer .form-horizontal {
  overflow: hidden auto;
}
#queryContainer .side-panel li {
  max-width: 100% !important;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ko-grid:focus {
  outline: 0;
}
.ko-grid .ko-grid-column-container {
  white-space: nowrap;
  overflow: hidden;
}
.ko-grid .ko-grid-column-container .ko-grid-column-header {
  display: inline-block;
  font-weight: bold;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ko-grid .ko-grid-viewport-container {
  position: relative;
  overflow-y: auto;
}
.ko-grid .ko-grid-row {
  position: absolute;
  background-color: #f9f9f9;
  border-top: 1px solid #dddddd;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.ko-grid .ko-grid-row.even {
  background-color: white;
}
.ko-grid .ko-grid-row.checked {
  background-color: #ffffcc;
}
.ko-grid .ko-grid-cell {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding: 8px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.code-keyword {
  color: blue;
}
.help-cursor {
  cursor: help;
}
@media (max-device-height: 1024px) {
  .breadcrumb h3 {
    font-size: 16px !important;
    display: inline-block !important;
  }
  .breadcrumb a {
    font-size: 14px !important;
    display: inline-block !important;
  }
  .breadcrumb span {
    font-size: 14px !important;
    display: inline-block !important;
  }
  .breadcrumb i {
    font-size: 15px !important;
    display: inline-block !important;
  }
}
.studio-alerts {
  position: fixed;
  top: 60px;
  left: 40%;
  z-index: 2000;
  width: 400px;
}
#editDocumentContainer:focus {
  outline: 0;
}
#editDocumentContainer #docEditor {
  height: 500px;
}
#editDocumentContainer .document-addition-data {
  margin-top: 95px;
  padding-top: 10px;
  padding-bottom: 40px;
}
#editDocumentContainer hr {
  border-color: red;
  margin-top: 5px;
}
#editDocumentContainer .query-metadata {
  padding-top: 20px;
}
.keyboard-shortcut {
  margin-left: 20px;
}
.single-line-row-table {
  table-layout: fixed;
  width: 100%;
  overflow-x: hidden;
  -ms-word-break: break-all;
  word-break: break-all;
  cursor: pointer;
}
.single-line-row-table tbody td {
  overflow: hidden;
  white-space: nowrap;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#shellHeader {
  /* When the screen width < 1150, shrink down the padding between the nav bar items. */
  /* Tiny screens (phones, etc) will collapse the navbar into a drop down. */
}
#shellHeader .container-fluid {
  padding-right: 15px;
  padding-left: 5px;
}
#shellHeader #goToDocInput {
  width: 10em;
}
@media (max-width: 1150px) {
  #shellHeader .nav li a {
    padding-left: 8px;
    padding-right: 8px;
  }
  #shellHeader .databases {
    padding-right: 0px;
  }
  #shellHeader .navbar-form {
    padding-left: 5px;
    padding-right: 5px;
  }
  #shellHeader .navbar-form #goToDocInput {
    width: 8em;
  }
}
@media (max-width: 767px) {
  #shellHeader #topNavBarCollapse {
    padding-left: 40px;
  }
}
#shellHeader .navbar-splitbutton > a {
  padding-right: 5px !important;
}
#shellHeader .navbar-splitbutton + .dropdown {
  cursor: pointer;
}
#shellHeader .navbar-splitbutton + .dropdown > a {
  padding-left: 0;
  padding-right: 8px;
}
#shellFooter {
  /*ul {
        width: 100% !important;
    }

    li {
        max-width: 20% !important;
        margin: 0;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;

        a {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-left: 5% !important;
            padding-right: 5% !important;
            font-size: 100% !important;
        }
    }

    span {
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }*/
}
@media (max-width: 767px) {
  #shellFooter {
    display: none;
  }
}
@media (max-width: 1150px) {
  #shellFooter .status-link {
    display: none;
  }
  #shellFooter .server-build-link {
    display: none;
  }
}
#editTransformerContainer .transformer {
  height: 600px;
}
.auto-complete {
  background-color: white;
}
#logsContainer table,
#alertsContainer table,
#indexErrorsContainer table {
  outline: none;
}
#logsContainer table .selected td,
#alertsContainer table .selected td,
#indexErrorsContainer table .selected td {
  background-color: #ffffcc;
}
#logsContainer .log-details,
#alertsContainer .log-details,
#indexErrorsContainer .log-details,
#logsContainer .alerts-details,
#alertsContainer .alerts-details,
#indexErrorsContainer .alerts-details,
#logsContainer .index-errors-details,
#alertsContainer .index-errors-details,
#indexErrorsContainer .index-errors-details {
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
#logsContainer .unread td,
#alertsContainer .unread td,
#indexErrorsContainer .unread td {
  font-weight: bold;
}
#databaseSettingsContainer #dbDocEditor {
  height: 500px;
}
#databaseSettingsContainer .btn-toolbar {
  margin-bottom: 10px;
}
.text-ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
footer {
  position: fixed;
  bottom: 0;
  margin-top: 50px;
  background-color: silver;
  color: black;
  border-top: 2px solid black;
  width: 100%;
}
footer ul {
  height: 32px;
}
.splash .message {
  font-size: 5em;
  line-height: 1.5em;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
}
.splash .icon-spinner {
  text-align: center;
  display: inline-block;
  font-size: 5em;
  margin-top: 50px;
}
.navbar-fixed-top .navbar-inner {
  padding-left: 1em;
  padding-right: 1em;
}
.navbar-fixed-top .icon-home {
  font-size: 18px;
}
#recentErrorsDialog {
  height: 500px;
  width: 600px;
}
#recentErrorsDialog .modal-body {
  height: 350px;
  overflow-y: auto;
}
#recentErrorsDialog .error-details,
#recentErrorsDialog .http-status {
  width: 100%;
}
#scriptedIndex .map {
  height: 160px;
}
.advanced-replication-settings {
  cursor: pointer;
}
.popover-lg {
  max-width: 800px;
  width: 600px;
}
.filesystem-page .btn-toolbar {
  margin-bottom: 20px;
}
.filesystem-page .filesystems-container {
  margin-top: 10px;
}
.filesystem-page .filesystems-container .filesystem {
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px silver;
  box-shadow: 0 0 5px 1px silver;
  min-width: 140px;
  min-height: 60px;
  display: inline-block;
  padding: 8px;
  margin: 0 10px 14px 0;
}
.filesystem-page .filesystems-container .filesystem:hover {
  background-color: white;
  -webkit-box-shadow: 0 0 5px 0 #6aa3d5;
  box-shadow: 0 0 5px 0 #6aa3d5;
}
.filesystem-page .filesystems-container .filesystem.selected {
  -webkit-box-shadow: 0 0 6px 0 #428bca;
  box-shadow: 0 0 6px 0 #428bca;
  background-color: #428bca;
}
.filesystem-page .filesystems-container .filesystem.selected a,
.filesystem-page .filesystems-container .filesystem.selected .text-muted {
  color: white;
}
.filesystem-page .filesystems-container .filesystem.default-filesystem {
  background-color: rgba(192, 192, 192, 0.21);
}
.filesystem-page .filesystems-container .filesystem.default-filesystem.selected {
  background-color: rgba(14, 14, 14, 0.21);
}
.filesystem-page .filesystems-container .filesystem.default-filesystem.selected a,
.filesystem-page .filesystems-container .filesystem.default-filesystem.selected .text-muted {
  color: #3071a9;
}
.filesystem-page .systemButton {
  color: grey;
  margin-top: 50px;
  position: absolute;
  top: -40px;
  right: 25px;
}
#editFileContainer:focus {
  outline: 0;
}
#editFileContainer #fileMetadataEditor {
  height: 500px;
}
#editFileContainer .document-addition-data {
  margin-top: 95px;
  padding-top: 10px;
  padding-bottom: 40px;
}
#editFileContainer hr {
  border-color: red;
  margin-top: 5px;
}
/*# sourceMappingURL=app.css.map */