html,
body {
  height: 100%;
}
.page-host {
  padding: 20px 20px 50px 20px;
  position: relative;
  top: 40px;
}
.splash {
  text-align: center;
  margin: 10% 0 0 0;
}
.splash .message {
  font-size: 5em;
  line-height: 1.5em;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
  text-transform: uppercase;
}
.navbar-fixed-top .navbar-inner {
  padding-left: 1em;
  padding-right: 1em;
}
.navbar-fixed-top .icon-home {
  font-size: 18px;
}
.loader {
  margin: 6px 8px 4px 8px;
  visibility: hidden;
}
.loader.active {
  visibility: visible;
}
@media (max-width: 979px) {
  .page-host {
    top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}
.page {
  padding: 0 10px 20px 10px;
  width: 98%;
}
.databases-container {
  margin-top: 10px;
  padding: 10px;
}
.databases-container .database {
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px silver;
  box-shadow: 0 0 5px 1px silver;
  margin-right: 10px;
  min-width: 140px;
  min-height: 60px;
  display: inline-block;
  padding: 8px;
}
.databases-container .database:hover {
  background-color: white;
  -webkit-box-shadow: 0 0 5px 1px #6aa3d5;
  box-shadow: 0 0 5px 1px #6aa3d5;
}
.databases-container .database.selected {
  -webkit-box-shadow: 0 0 5px 1px #428bca;
  box-shadow: 0 0 5px 1px #428bca;
}
.document-collections {
  margin-top: 40px;
}
.document-collections li {
  outline: none;
}
.document-collections li:not(:first-child) {
  padding-left: 15px;
}
.indexes-container {
  margin-top: 10px;
  padding: 10px;
}
.indexes-container .panel-group {
  margin-bottom: 30px;
}
.indexes-container a .icon-expand-alt {
  display: none;
}
.indexes-container a.collapsed .icon-collapse-alt {
  display: none;
}
.indexes-container a.collapsed .icon-expand-alt {
  display: inline;
}
.collection-style-0 {
  background-color: #00c700;
}
.collection-style-1 {
  background-color: #c7009a;
}
.collection-style-2 {
  background-color: red;
}
.collection-style-3 {
  background-color: #0095ef;
}
.collection-style-4 {
  background-color: #a70068;
}
.collection-style-5 {
  background-color: #006464;
}
.collection-style-6 {
  background-color: #7832c7;
}
.collection-style-7 {
  background-color: #c72828;
}
.collection-style-8 {
  background-color: #c7c700;
}
.collection-style-9 {
  background-color: #c700c7;
}
.collection-style-10 {
  background-color: #fe8000;
}
.collection-style-11 {
  background-color: #0095fe;
}
.collection-style-12 {
  background-color: #95fec7;
}
.collection-style-13 {
  background-color: #9500fe;
}
.collection-style-14 {
  background-color: #950000;
}
.collection-style-15 {
  background-color: #95fe00;
}
.all-documents-collection {
  background: #ff0202;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0202), color-stop(27%, #fff202), color-stop(54%, #02ff1b), color-stop(79%, #0206ff), color-stop(100%, #f602ff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ff0202 0%, #fff202 27%, #02ff1b 54%, #0206ff 79%, #f602ff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0202', endColorstr='#f602ff', GradientType=0);
  /* IE6-9 */

}
#nprogress {
  position: absolute;
  z-index: 9999;
}
.documents-page .collection-color-strip {
  height: 20px;
  width: 4px;
  display: inline-block;
  vertical-align: middle;
}
.ko-grid {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}
.ko-grid:focus {
  outline: 0;
}
.ko-grid .ko-grid-column-container {
  white-space: nowrap;
  overflow: hidden;
}
.ko-grid .ko-grid-column-container .ko-grid-column-header {
  display: inline-block;
  font-weight: bold;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ko-grid .ko-grid-viewport-container {
  position: relative;
  overflow-y: auto;
}
.ko-grid .ko-grid-row {
  position: absolute;
  background-color: #f9f9f9;
  border-top: 1px solid #dddddd;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.ko-grid .ko-grid-row.even {
  background-color: white;
}
.ko-grid .ko-grid-row.checked {
  background-color: #ffc;
}
.ko-grid .ko-grid-cell {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding: 8px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.breadcrumb {
  padding: 0 10px 0 10px;
}
.studio-alerts {
  position: fixed;
  top: 60px;
  left: 45%;
  right: 45%;
  z-index: 2000;
  width: 300px;
}
#editDocumentContainer:focus {
  outline: 0;
}
#editDocumentContainer #docEditor {
  height: 500px;
}
.keyboard-shortcut {
  margin-left: 20px;
}
footer {
  position: fixed;
  bottom: 0;
  margin-top: 50px;
  background-color: silver;
  color: black;
  border-top: 2px solid black;
  width: 100%;
}
footer ul {
  height: 32px;
}
.splash .message {
  font-size: 5em;
  line-height: 1.5em;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
}
.splash .icon-spinner {
  text-align: center;
  display: inline-block;
  font-size: 5em;
  margin-top: 50px;
}
.navbar-fixed-top .navbar-inner {
  padding-left: 1em;
  padding-right: 1em;
}
.navbar-fixed-top .icon-home {
  font-size: 18px;
}
@media (max-width: 979px) {
  .page-host {
    top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}
