@selectionColor: #ffc;

html, body {
    height: 100%;
}

.not-implemented-yet {
  position: relative;
}

.not-implemented-yet:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;  
}

.table-no-borders td
{
    border-top: none !important;
}

.page-host {
    padding: 20px 20px 50px 20px;
    position: relative;
    top: 40px;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;

    .message {
        font-size: 5em;
        line-height: 1.5em;
        -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
        text-transform: uppercase;
    }
}

.navbar-fixed-top {
    .navbar-inner {
        padding-left: 1em;
        padding-right: 1em;
    }

    .icon-home {
        font-size: 18px;
    }
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;

    &.active {
        visibility: visible;
    }
}

.side-panel {
    li {
        max-width: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
}

.panel span {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.page {
    padding: 0 10px 20px 10px;
    width: 98%;
}

.database-page {

    .btn-toolbar {
        margin-bottom: 20px;
    }

    .databases-container {
        margin-top: 10px;

        .database {
            cursor: pointer;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 5px 1px silver;
            box-shadow: 0 0 5px 1px silver;
            min-width: 140px;
            min-height: 60px;
            display: inline-block;
            padding: 8px;
            margin: 0 10px 14px 0;

            @selectColor: rgb(66, 139, 202);
            @hoverColor: lighten(@selectColor, 10%);

            &:hover {
                background-color: white;
                -webkit-box-shadow: 0 0 5px 0 @hoverColor;
                box-shadow: 0 0 5px 0 @hoverColor;
            }

            &.selected {
                -webkit-box-shadow: 0 0 6px 0 @selectColor;
                box-shadow: 0 0 6px 0 @selectColor;
                background-color: @selectColor;

                a, .text-muted {
                    color: white;
                }
            }

            &.system-database {
                @systemDbColor: rgba(192, 192, 192, 0.21);
                background-color: @systemDbColor;

                &.selected {
                    background-color: darken(@systemDbColor, 70%);

                    a, .text-muted {
                        color: darken(@selectColor, 10%);
                    }
                }
            }
        }
    }
}

.document-collections {

    li {
        outline: none;
    }

        li:not(:first-child) {
            // All collections except the first one ("All Documents") are indented.
            padding-left: 15px;
        }
}

.indexes-container {
    margin-top: 10px;

    .index {
        .index-actions-container {
            display: none;
        }

        &:hover {
            .index-actions-container {
                display: inline-block;
            }
        }
    }

    .index-group {
        .panel-heading {
            padding-top: 0;

            .panel-title {
                padding-top: 15px;
            }

            .indexGroup-actions-container {
                display: none;
                padding-top: 5px;
            }

            &:hover {
                .indexGroup-actions-container {
                    display: inline-block;
                }
            }
        }
    }
}


#logsContainer .logRecord {
    .logName .logName-actions-container {
        display: none;
    }

    &:hover {
        .logName-actions-container {
            display: inline-block;
        }
    }
}


.settings-container {
    margin-top: 10px;

    .api-key-card, .win-auth-card {
        display: inline-block;
        width: 500px;
        margin-right: 20px;
    }

    .replication-destination-card {
        display: inline-table;
        width: 500px;
        margin-right: 20px;
    }

    .win-auth-tabs {
        padding: 15px;

        .win-auth-panels-container {
            margin-top: 15px;
        }
    }

    .database-table {
        margin-bottom: 0px;

        td {
            padding: 3px;
        }
    }

    .table-sql-replication-tables {
        margin-bottom: 0px;
    }

    .database-header, .sql-replication-tables-header {
        .narrow-column {
            width: 75px;
        }

        .narrowest-column {
            width: 1px;
        }
    }

    .database-row {
        .form-control {
            border-radius: 3px;
            height: 26px;
            font-size: 12px;
        }
    }

    .sql-replication-panel-body {
        padding-bottom: 0px;
    }

    .sql-replication-script-container {
        .editor {
            height: 100px;
        }
    }
}

.collection-style-0 {
    background-color: rgb(0, 199, 0);
}

.collection-style-1 {
    background-color: rgb(199, 0, 154);
}

.collection-style-2 {
    background-color: red;
}

.collection-style-3 {
    background-color: rgb(0, 149, 239);
}

.collection-style-4 {
    background-color: rgb(167, 0, 104);
}

.collection-style-5 {
    background-color: rgb(0, 100, 100);
}

.collection-style-6 {
    background-color: rgb(120, 50, 199);
}

.collection-style-7 {
    background-color: rgb(199, 40, 40);
}

.collection-style-8 {
    background-color: rgb(199,199,0);
}

.collection-style-9 {
    background-color: rgb(199, 0, 199);
}

.collection-style-10 {
    background-color: rgb(254, 128, 0);
}

.collection-style-11 {
    background-color: rgb(0, 149, 254);
}

.collection-style-12 {
    background-color: rgb(149, 254, 199);
}

.collection-style-13 {
    background-color: rgb(149, 0, 254);
}

.collection-style-14 {
    background-color: rgb(149, 0, 0);
}

.collection-style-15 {
    background-color: rgb(149, 254, 0);
}

.system-documents-collection {
    background-color: rgb(18, 60, 101);
}

.all-documents-collection {
    background: rgb(2,6,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,2,2,1) 0%, rgba(255,242,2,1) 27%, rgba(2,255,27,1) 54%, rgba(2,6,255,1) 79%, rgba(246,2,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,2,2,1)), color-stop(27%,rgba(255,242,2,1)), color-stop(54%,rgba(2,255,27,1)), color-stop(79%,rgba(2,6,255,1)), color-stop(100%,rgba(246,2,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,2,2,1) 0%,rgba(255,242,2,1) 27%,rgba(2,255,27,1) 54%,rgba(2,6,255,1) 79%,rgba(246,2,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0202', endColorstr='#f602ff',GradientType=0 ); /* IE6-9 */
}

#nprogress {
    position: absolute;
    z-index: 9999;
}

.documents-page {
    margin-top: 10px;

    @media(max-device-height:1024px) {
        a {
            font-size: 12px !important;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.collection-color-strip {
    height: 20px;
    width: 4px;
    display: inline-block;
    vertical-align: middle;
}

#editIndex {
    .map {
        height: 120px;
    }
}

#queryContainer {
    .editor {
        height: 60px;
    }

    .popover {
        max-width: 450px;
        width: 450px;
    }

    .form-horizontal {
        overflow: hidden auto;
    }

    .side-panel {

        li {
            max-width: 100% !important;
            margin-top: 5%;
            margin-bottom: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}

.ko-grid {
    &:focus {
        outline: 0;
    }

    .ko-grid-column-container {
        white-space: nowrap;
        overflow: hidden;

        .ko-grid-column-header {
            display: inline-block;
            font-weight: bold;
            padding: 8px;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }

    .ko-grid-viewport-container {
        position: relative;
        overflow-y: auto;
    }

    .ko-grid-viewport {
    }

    .ko-grid-row {
        position: absolute;
        background-color: rgb(249, 249, 249);
        border-top: 1px solid rgb(221, 221, 221);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;

        &.even {
            background-color: white;
        }

        &.checked {
            background-color: @selectionColor;
        }
    }

    .ko-grid-cell {
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        padding: 8px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
    }
}

.code-keyword {
    color: blue;
}

.help-cursor {
    cursor: help;
}

.breadcrumb {

    @media(max-device-height:1024px) {

        h3 {
            font-size: 16px !important;
            display: inline-block !important;
        }

        a {
            font-size: 14px !important;
            display: inline-block !important;
        }

        span {
            font-size: 14px !important;
            display: inline-block !important;
        }

        i {
            font-size: 15px !important;
            display: inline-block !important;
        }
    }
}

.studio-alerts {
    position: fixed;
    top: 60px;
    left: 40%;
    z-index: 2000;
    width: 400px;
}

#editDocumentContainer {

    &:focus {
        outline: 0;
    }

    #docEditor {
        height: 500px;
    }

    .document-addition-data {
        margin-top: 95px;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    hr {
        border-color: red;
        margin-top: 5px;
    }

    .query-metadata {
        padding-top: 20px;
    }
}

.keyboard-shortcut {
    margin-left: 20px;
}

.single-line-row-table {
    table-layout: fixed;
    width: 100%;
    overflow-x: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
    cursor: pointer;

    tbody {
        td {
            overflow: hidden;
            white-space: nowrap;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}

#shellHeader {
    .container-fluid {
        padding-right: 15px;
        padding-left: 5px;
    }

    #goToDocInput {
        width: 10em;
    } 

    /* When the screen width < 1150, shrink down the padding between the nav bar items. */ 
    @media (max-width: 1150px) {
        .nav {
            li {
                a {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }

        .databases {
            padding-right: 0px;
        }

        .navbar-form {
            padding-left: 5px;
            padding-right: 5px;

            #goToDocInput {
                width: 8em;
            } 
        }
    }

    /* Tiny screens (phones, etc) will collapse the navbar into a drop down. */
    @media(max-width: 767px) {
        #topNavBarCollapse {
            padding-left: 40px;
        }
    }

    .navbar-splitbutton {
        > a {
            padding-right: 5px !important;
        }

        + .dropdown {
            cursor: pointer;

            > a {
                padding-left: 0;
                padding-right: 8px;
            }
        }
    }
}

#shellFooter {
    @media(max-width: 767px) {
        display: none;
    }

    @media(max-width: 1150px) {
        // When we're in a small width window, we don't have enough space to show everything in the footer.
        // Hide the status link and the server build link.
        .status-link {
            display: none;
        }

        .server-build-link {
            display: none;
        }
    }

    /*ul {
        width: 100% !important;
    }

    li {
        max-width: 20% !important;
        margin: 0;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;

        a {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-left: 5% !important;
            padding-right: 5% !important;
            font-size: 100% !important;
        }
    }

    span {
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }*/
}

#editTransformerContainer .transformer {
    height: 600px;
}

.auto-complete {
    background-color: white;
}

#logsContainer, #alertsContainer, #indexErrorsContainer {
    table {
        outline: none;

        .selected {
            td {
                background-color: @selectionColor;
            }
        }
    }

    .log-details, .alerts-details, .index-errors-details {
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .unread {
        td {
            font-weight: bold;
        }
    }
}

#databaseSettingsContainer {
    #dbDocEditor {
        height: 500px;
    }

    .btn-toolbar {
        margin-bottom: 10px;
    }
}

.text-ellipsis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer {
    position: fixed;
    bottom: 0;
    margin-top: 50px;
    background-color: silver;
    color: black;
    border-top: 2px solid black;
    width: 100%;

    ul {
        height: 32px;
    }
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
}

.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px;
}

#recentErrorsDialog {
    height: 500px;
    width: 600px;

    .modal-body {
        height: 350px;
        overflow-y: auto;
    }

    .error-details, .http-status {
        width: 100%;
    }
}

#scriptedIndex {
    .map {
        height: 160px;
    }
}

.advanced-replication-settings {
    cursor: pointer;
}

.popover-lg
{
    max-width: 800px;
    width: 600px;
}

// Start of Filesystems
// TODO: as this styles are apparently the same than .database-page, consider renaming the original ones to a generic name
.filesystem-page {

    .btn-toolbar {
        margin-bottom: 20px;
    }

    .filesystems-container {
        margin-top: 10px;

        .filesystem {
            cursor: pointer;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 5px 1px silver;
            box-shadow: 0 0 5px 1px silver;
            min-width: 140px;
            min-height: 60px;
            display: inline-block;
            padding: 8px;
            margin: 0 10px 14px 0;

            @selectColor: rgb(66, 139, 202);
            @hoverColor: lighten(@selectColor, 10%);

            &:hover {
                background-color: white;
                -webkit-box-shadow: 0 0 5px 0 @hoverColor;
                box-shadow: 0 0 5px 0 @hoverColor;
            }

            &.selected {
                -webkit-box-shadow: 0 0 6px 0 @selectColor;
                box-shadow: 0 0 6px 0 @selectColor;
                background-color: @selectColor;

                a, .text-muted {
                    color: white;
                }
            }

            &.default-filesystem {
                @systemDbColor: rgba(192, 192, 192, 0.21);
                background-color: @systemDbColor;

                &.selected {
                    background-color: darken(@systemDbColor, 70%);

                    a, .text-muted {
                        color: darken(@selectColor, 10%);
                    }
                }
            }
        }
    }

    .systemButton {
        color: grey;
        margin-top: 50px;
        position: absolute;
        top: -40px;
        right: 25px;
    }
}

#editFileContainer {

    &:focus {
        outline: 0;
    }

    #fileMetadataEditor {
        height: 500px;
    }

    .document-addition-data {
        margin-top: 95px;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    hr {
        border-color: red;
        margin-top: 5px;
    }
}

// End of Filesystems


