.server {
	border: solid 1px dodgerblue;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	width: 400px;
}

div.navbar-fixed-top h1 {
	font-size: 16px;
}

a[ng-click] {
	cursor: pointer;
}

.value-title {
	font-weight: bold;
	width: 200px;
}