*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
[Hh]elp/
*.suo
*.sln.cache
_ReSharper.*/
*.user
/Data/Data
/Data/IndexDefinitions/
/Data/Index/
/Data/logs/
/Data/system/
/Data/temp/
*.InstallLog
/Raven.Database/Raven.Database.g.csproj
/test/storage.raven
/Raven.Web/Data/
/SharedLibs/Sources/Json-52373/trunk/Working/
VERSION
AssemblyInfo.cs
/Samples/Raven.Samples.IndexReplication/Server/Esent.Interop.dll
/Samples/Raven.Samples.IndexReplication/Server/ICSharpCode.NRefactory.dll
/Samples/Raven.Samples.IndexReplication/Server/Lucene.Net.dll
/Samples/Raven.Samples.IndexReplication/Server/Newtonsoft.Json.dll
/Samples/Raven.Samples.IndexReplication/Server/Raven.Database.dll
/Samples/Raven.Samples.IndexReplication/Server/Raven.Server.exe
/Samples/Raven.Samples.IndexReplication/Server/Raven.Storage.Esent.dll
/Samples/Raven.Samples.IndexReplication/Server/Rhino.Licensing.dll
/Samples/Raven.Samples.IndexReplication/Server/log4net.dll
/Samples/MvcMusicStore/Server/Esent.Interop.dll
/Samples/MvcMusicStore/Server/ICSharpCode.NRefactory.dll
/Samples/MvcMusicStore/Server/Lucene.Net.dll
/Samples/MvcMusicStore/Server/Newtonsoft.Json.dll
/Samples/MvcMusicStore/Server/Raven.Database.dll
/Samples/MvcMusicStore/Server/Raven.Server.exe
/Samples/MvcMusicStore/Server/Raven.Storage.Esent.dll
/Samples/MvcMusicStore/Server/Rhino.Licensing.dll
/Samples/MvcMusicStore/Server/log4net.dll
/Samples/MvcMusicStore/Server/Esent.Interop.dll
/Samples/MvcMusicStore/Server/ICSharpCode.NRefactory.dll
/Samples/MvcMusicStore/Server/Lucene.Net.dll
/Samples/MvcMusicStore/Server/Newtonsoft.Json.dll
/Samples/MvcMusicStore/Server/Raven.Database.dll
/Samples/MvcMusicStore/Server/Raven.Server.exe
/Samples/MvcMusicStore/Server/Raven.Storage.Esent.dll
/Samples/MvcMusicStore/Server/Rhino.Licensing.dll
/Samples/MvcMusicStore/Server/log4net.dll
/Samples/Raven.Sample.EventSourcing/Server/Esent.Interop.dll
/Samples/Raven.Sample.EventSourcing/Server/ICSharpCode.NRefactory.dll
/Samples/Raven.Sample.EventSourcing/Server/Lucene.Net.dll
/Samples/Raven.Sample.EventSourcing/Server/Newtonsoft.Json.dll
/Samples/Raven.Sample.EventSourcing/Server/Raven.Database.dll
/Samples/Raven.Sample.EventSourcing/Server/Raven.Server.exe
/Samples/Raven.Sample.EventSourcing/Server/Raven.Storage.Esent.dll
/Samples/Raven.Sample.EventSourcing/Server/Rhino.Licensing.dll
/Samples/Raven.Sample.EventSourcing/Server/log4net.dll
/Samples/Raven.Sample.Failover/Servers/Shard1/Esent.Interop.dll
/Samples/Raven.Sample.Failover/Servers/Shard1/ICSharpCode.NRefactory.dll
/Samples/Raven.Sample.Failover/Servers/Shard1/Lucene.Net.dll
/Samples/Raven.Sample.Failover/Servers/Shard1/Newtonsoft.Json.dll
/Samples/Raven.Sample.Failover/Servers/Shard1/Raven.Database.dll
/Samples/Raven.Sample.Failover/Servers/Shard1/Raven.Server.exe
/Samples/Raven.Sample.Failover/Servers/Shard1/Raven.Storage.Esent.dll
/Samples/Raven.Sample.Failover/Servers/Shard1/Rhino.Licensing.dll
/Samples/Raven.Sample.Failover/Servers/Shard1/log4net.dll
/Samples/Raven.Sample.Failover/Servers/Shard2/Esent.Interop.dll
/Samples/Raven.Sample.Failover/Servers/Shard2/ICSharpCode.NRefactory.dll
/Samples/Raven.Sample.Failover/Servers/Shard2/Lucene.Net.dll
/Samples/Raven.Sample.Failover/Servers/Shard2/Newtonsoft.Json.dll
/Samples/Raven.Sample.Failover/Servers/Shard2/Raven.Database.dll
/Samples/Raven.Sample.Failover/Servers/Shard2/Raven.Server.exe
/Samples/Raven.Sample.Failover/Servers/Shard2/Raven.Storage.Esent.dll
/Samples/Raven.Sample.Failover/Servers/Shard2/Rhino.Licensing.dll
/Samples/Raven.Sample.Failover/Servers/Shard2/log4net.dll
/Samples/Raven.Sample.Replication/Servers/Shard1/Esent.Interop.dll
/Samples/Raven.Sample.Replication/Servers/Shard1/ICSharpCode.NRefactory.dll
/Samples/Raven.Sample.Replication/Servers/Shard1/Lucene.Net.dll
/Samples/Raven.Sample.Replication/Servers/Shard1/Newtonsoft.Json.dll
/Samples/Raven.Sample.Replication/Servers/Shard1/Raven.Database.dll
/Samples/Raven.Sample.Replication/Servers/Shard1/Raven.Server.exe
/Samples/Raven.Sample.Replication/Servers/Shard1/Raven.Storage.Esent.dll
/Samples/Raven.Sample.Replication/Servers/Shard1/Rhino.Licensing.dll
/Samples/Raven.Sample.Replication/Servers/Shard1/log4net.dll
/Samples/Raven.Sample.Replication/Servers/Shard2/Esent.Interop.dll
/Samples/Raven.Sample.Replication/Servers/Shard2/ICSharpCode.NRefactory.dll
/Samples/Raven.Sample.Replication/Servers/Shard2/Lucene.Net.dll
/Samples/Raven.Sample.Replication/Servers/Shard2/Newtonsoft.Json.dll
/Samples/Raven.Sample.Replication/Servers/Shard2/Raven.Database.dll
/Samples/Raven.Sample.Replication/Servers/Shard2/Raven.Server.exe
/Samples/Raven.Sample.Replication/Servers/Shard2/Raven.Storage.Esent.dll
/Samples/Raven.Sample.Replication/Servers/Shard2/Rhino.Licensing.dll
/Samples/Raven.Sample.Replication/Servers/Shard2/log4net.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard1/Esent.Interop.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard1/ICSharpCode.NRefactory.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard1/Lucene.Net.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard1/Newtonsoft.Json.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard1/Raven.Database.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard1/Raven.Server.exe
/Samples/Raven.Sample.ShardClient/Servers/Shard1/Raven.Storage.Esent.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard1/Rhino.Licensing.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard1/log4net.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard2/Esent.Interop.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard2/ICSharpCode.NRefactory.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard2/Lucene.Net.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard2/Newtonsoft.Json.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard2/Raven.Database.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard2/Raven.Server.exe
/Samples/Raven.Sample.ShardClient/Servers/Shard2/Raven.Storage.Esent.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard2/Rhino.Licensing.dll
/Samples/Raven.Sample.ShardClient/Servers/Shard2/log4net.dll