# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs       text diff=csharp eol=crlf filter=raven-spacify
*.sln      text merge=union eol=crlf filter=raven-spacify
*.csproj   text merge=union eol=crlf filter=raven-spacify
*.vbproj   text merge=union filter=raven-spacify
*.fsproj   text merge=union filter=raven-spacify
*.dbproj   text merge=union filter=raven-spacify
*.ascx     text eol=crlf filter=raven-spacify
*.xaml     text eol=crlf filter=raven-spacify
*.cmd      text eol=crlf filter=raven-spacify
*.ps1      text eol=crlf filter=raven-spacify
*.coffee   text eol=crlf filter=raven-spacify
*.config   text eol=crlf filter=raven-spacify
*.css      text eol=crlf filter=raven-spacify
*.nuspec   text eol=crlf filter=raven-spacify
*.scss     text eol=crlf filter=raven-spacify
*.cshtml   text eol=crlf filter=raven-spacify
*.htm      text eol=crlf filter=raven-spacify
*.html     text eol=crlf filter=raven-spacify
*.js       text eol=crlf filter=raven-spacify
*.ts       text eol=crlf filter=raven-spacify
*.msbuild  text eol=crlf filter=raven-spacify
*.resx     text merge=union filter=raven-spacify
*.ruleset  text filter=raven-spacify
*.Stylecop text filter=raven-spacify
*.targets  text eol=crlf filter=raven-spacify
*.tt       text filter=raven-spacify
*.txt      text eol=crlf filter=raven-spacify
*.vb       text eol=crlf filter=raven-spacify
*.vbhtml   text eol=crlf filter=raven-spacify
*.xml      text eol=crlf filter=raven-spacify
*.xunit    text eol=crlf filter=raven-spacify
*.java     text eol=lf filter=raven-spacify

*.bmp binary
*.gif binary
*.ico binary
*.jpg binary
*.png binary

# Standard to msysgit
*.doc	diff=astextplain
*.DOC	diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.dot   diff=astextplain
*.DOT   diff=astextplain
*.pdf   diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain
