*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
*.user
/Data/Data
/Data/IndexDefinitions/
/Data/Index/
/Data/logs/
/Data/system/
/Data/temp/
*.InstallLog
/Raven.Database/Raven.Database.g.csproj
/test/storage.raven
/Raven.Web/Data/
/SharedLibs/Sources/Json-52373/trunk/Working/
VERSION
AssemblyInfo.cs