[Bb]in
[Oo]bj
*resharper.user
build/
[Hh]elp/
*.suo
*.js.map
*.less.map
*.css.map
*.sln.cache
_ReSharper.*/
*.user
packages/*/
/Data/Data
/Data/IndexDefinitions/
/Data/Index/
/Data/logs/
/Data/system/
/Data/temp/
*.InstallLog
/test/storage.raven
/Raven.Web/Data/
/VERSION
/Samples/*/Server/*.dll
/Samples/*/Server/Raven.Server.exe
/Samples/*/Server/Raven.Server.log
/Samples/*/Server/Raven.Server.log.*
/Samples/*/Servers/Shard*/*.dll
/Samples/*/Servers/Shard*/Raven.Server.exe
/Samples/*/Servers/Shard*/Raven.Server.log
/Samples/*/Servers/Shard*/Raven.Server.log.*
/Samples/Raven.Sample.Replication/Servers/*
ClientBin/
/Raven.Tests.Silverlight.Results.xml
*.g.3.5.csproj
*.g.csproj
*.g.4.csproj
*.g.45.csproj
*.docstates
StyleCop.Cache
*.dotCover
RavenDB*.nupkg
*.orig
*.ncrunchsolution
Raven.Web/Tenants/
Raven.Web/NLog.config
*.*crunch*
Testresults
/Raven.Client.MvcIntegration/Content/ravendb-profiler.min.js
/*.shfbproj_Fitzchak
Raven.Studio/Settings.dat

Raven.Studio.Html5/Scripts/typings/ace/aceExt.js
Raven.Studio.Html5/Scripts/typings/ace/aceExt.js.map
Raven.Studio.Html5/Content/app.min.css
Raven.Studio.Html5/Content/app.less.map
Raven.Studio.Html5/Content/app.css.map
Raven.Studio.Html5/optimized-build/

#include our custom PVC build packages, used in the optimized build of Raven Studio.
!Raven.Studio.Html5/pvc-packages/bin/
!Raven.Studio.Html5/pvc-packages/bin/*

/Raven.Web/Assemblies
/test.log
Tools/Raven.Filesystem.CreateSample/packages/
/invalid-test-output.txt
/last-test.txt
RavenDB.sln.ide/
/Raven.Web/Raven/CompiledIndexCache
_NCrunch_RavenDB/
/Raven.Tests.Web/CompiledIndexCache
.vs/
/Raven.Database/LuceneQueryParser.Language.analyzer.lst
/Raven.Database/LuceneQueryParser.Language.grammar.lst

# DNX
*project.lock.json
artifacts/


# DNX Studio
src/Raven.Studio/node_modules/
src/Raven.Studio/test.log
src/Raven.Studio/wwwroot/App/**/*.js
src/Raven.Studio/wwwroot/App/**/*.js.map

src/Raven.Studio/typescript/endpoints.ts
src/Raven.Studio/typescript/configuration.ts
src/Raven.Studio/typings/server/include.ts
src/Raven.Studio/typings/**/*.d.ts
src/Raven.Studio/typings/globals
!src/Raven.Studio/typings/_studio/**/*.d.ts

/src/Raven.Studio/wwwroot/Content/**/*.css.map
/src/Raven.Studio/wwwroot/Content/**/*.css
/src/Raven.Studio/wwwroot/Content_old/awesome-bootstrap-checkbox.css
/src/Raven.Studio/wwwroot/lib

test/FastTests/Databases/
/test/Tryouts/Logs
/test/FastTests/Logs
/test/SlowTests/test-timings.xml

/src/Raven.Server/**/Logs

test/Studio/setup/tests.js
test/Studio/js/
/Databases/
/Logs

release
temp

!scripts/assets/bin
/.idea
.vscode
/test/Tryouts/Databases/*
bench/Micro.Benchmark/BenchmarkDotNet.Artifacts/
/src/Raven.Server/*.DotSettings
/src/librvnpal/osxcross
