<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: close" aria-hidden="true">
                <i class="icon-cancel"></i>
            </button>
            <h4 class="modal-title" data-bind="text: title"></h4>
        </div>
        <div class="modal-body">
            <p data-bind="html: subTitleHtml"></p>
            <ul data-bind="foreach: indexesInfoForDelete()" style="max-height: 200px; overflow-y: auto;">
                <li class="padding padding-xs">
                    <strong data-bind="text: $data.indexName"></strong>
                    <small data-bind="if: $data.reduceOutputCollection">
                         <!-- The span code below is formatted like this becuase otherwise we get extra spaces in ui -->
                        <span class="margin-left margin-left-sm">(</span><span 
                            data-bind="text: $data.ReferenceCollection ? 'Reduce Results Collections:' : 'Reduce Results Collection:'"></span>
                            <span data-bind="text: $data.reduceOutputCollection"></span><span data-bind="if: $data.ReferenceCollection"><span 
                            data-bind="text: ', ' + $data.ReferenceCollection"></span></span><span>)</span>
                    </small>
                </li>
            </ul>
            <div data-bind="if: warning" class="flex-horizontal text-warning bg-warning margin margin-top-lg">
                <small class="flex-start padding padding-xs">
                    <i class="icon-warning"></i>
                </small>
                <small data-bind="html: warning" class="padding padding-xs">
                </small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
            <button type="button" class="btn btn-danger" data-bind="click: deleteIndexes">Delete</button>
        </div>
    </div>
</div>