<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" tabindex="-1">
        <div class="modal-header">
            <div class="flex-horizontal">
                <div class="flex-grow">
                    <h3 class="modal-title">Indexing error details</h3>
                </div>
                <div>
                    <button type="button" class="close" data-bind="click: $root.close" aria-hidden="true">
                        <i class="icon-cancel"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="modal-details">
                <div class="details-item">
                    <div class="row">
                        <div class="col-md-4 text-right">Index Name</div>
                        <div class="col-md-8 details-value" data-bind="text: currentError().IndexName"></div>
                    </div>
                </div>
                <div class="details-item">
                    <div class="row">
                        <div class="col-md-4 text-right">Document ID</div>
                        <div class="col-md-8 details-value" data-bind="text: currentError().Document"></div>
                    </div>
                </div>
                
                <div class="details-item">
                    <div class="row">
                        <div class="col-md-4 text-right">Time</div>
                        <div class="col-md-8 details-value">
                            <span class="js-time-value">
                                <span data-bind="text: currentError().LocalTime" class="margin-right-sm"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="details-item">
                    <div class="row">
                        <div class="col-md-4 text-right">Action</div>
                        <div class="col-md-8 details-value" data-bind="text: currentError().Action"></div>
                    </div>
                </div>
            </div>
            <div data-bind="if: currentError().Error">
                <pre class="margin-top error-messages"><code data-bind="text: currentError().Error">
</code></pre>
            </div>
        </div>
        <div class="modal-footer">
            <div class="flex-horizontal">
                <div>
                    <button type="button" class="btn btn-default" data-bind="click: previousError, enable: canNavigateToPreviousError">
                        <i class="icon-arrow-left"></i> <span>Previous</span>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: nextError, enable: canNavigateToNextError">
                        <i class="icon-arrow-right"></i> <span>Next</span> 
                    </button>
                </div>
                <div class="flex-separator"></div>
                <button type="button" class="btn btn-default" data-bind="click: $root.close">Close</button>
            </div>
        </div>
    </div>
</div>
