<div class="errors flex-vertical absolute-fill content-margin">
    <div class="flex-header">
        <div class="flex-horizontal clearfix">
            <div class="input-group">
                <input type="text" accesskey="/" class="form-control" placeholder="Filter (Error column)" title="Filter index errors (Alt+/)" data-bind="textInput: searchText" />
            </div>
            <div class="btn-group" data-bind="visible: hasErrors">
                <select id="visibleIndexesSelector" size="5" multiple="multiple"
                        data-bind="options: erroredIndexNames, selectedOptions: selectedIndexNames, optionsText: 'name', optionsValue: 'name'">
                </select>
            </div>
            <div class="btn-group" data-bind="visible: hasErrors">
                <select id="visibleActionsSelector" size="5" multiple="multiple"
                        data-bind="options: erroredActionNames, selectedOptions: selectedActionNames, optionsText: 'name', optionsValue: 'name'">
                </select>
            </div>
            <div>
                <button class="btn btn-danger" title="Click to clear errors from ALL nodes"
                        data-bind="visible: errorInfoItems().length > 1 && hasErrors, click: clearIndexErrorsForAllItems, enable: selectedIndexNames().length,
                                   text: clearErrorsBtnText, requiredAccess: 'DatabaseReadWrite'">
                </button>
            </div>
            <div>
                <button class="btn btn-default" data-bind="click: refresh" title="Click to refresh">
                    <i class="icon-refresh"></i><span>Refresh</span>
                </button>
            </div>
        </div>
    </div>
    <div class="flex-grow">
        <div class="scroll-stretch">
            <div data-bind="foreach: errorInfoItems">
                <div class="panel error-info-item">
                    <div data-bind="attr: { 'data-state-text': badgeText, class: 'state ' + badgeClass() }"></div>
                    <div class="padding error-info-item flex-vertical">
                        <div class="flex-horizontal">
                            <div class="data margin-right-lg">
                                <span>Node Tag:</span>
                                <span class="data-content margin-left-xs" data-bind="text: location.nodeTag"></span>
                            </div>
                            <div class="data margin-right-lg" data-bind="if: location.shardNumber !== undefined">
                                <span>Shard:</span>
                                <span class="data-content margin-left-xs" data-bind="text: '$' + location.shardNumber.toLocaleString()"></span>
                            </div>
                            <div class="data flex-grow" data-bind="visible: state() === 'loading', if: state() === 'loading'">
                                <span class="global-spinner spinner-sm"></span>
                                <span>Loading...</span>
                            </div>
                            <div class="data flex-grow" data-bind="visible: state() === 'loaded', if: state() === 'loaded'">
                                <span>Error count:</span>
                                <span class="data-content margin-left-xs" data-bind="text: totalErrorCount().toLocaleString()"></span>
                            </div>
                            <div class="data flex-grow" data-bind="visible: state() === 'error', if: state() === 'error'">
                                <span>Error:</span>
                                <span class="data-content margin-left-xs" data-bind="text: errMsg"></span>
                            </div>
                            <div class="btn-group" data-bind="visible: !errMsg()">
                                <button class="btn btn-default" title="Click for errors details"
                                        data-bind="visible: totalErrorCount, click: _.partial($root.toggleDetails, $data)">
                                    <i class="icon-info"></i><span data-bind="text: showDetails() ? 'Close details' : 'Open details'"></span>
                                </button>
                                <button class="btn btn-danger"
                                        data-bind="visible: totalErrorCount(), click: _.partial($root.clearIndexErrorsForItem, $data), enable: $root.selectedIndexNames().length,
                                                   attr: { title: clearErrorsBtnTooltip() }, requiredAccess: 'DatabaseReadWrite'">
                                    <i class="icon-trash"></i><span data-bind="text: $root.clearErrorsBtnText"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="collapse panel-addon" data-bind="collapse: showDetails">
                        <div class="padding flex-horizontal">
                            <div class="flex-grow">
                                <div class="panel-body grid">
                                    <virtual-grid data-bind="attr: { class: 'resizable ' + gridClass }"
                                                  params="controller: gridController, emptyTemplate: emptyTemplate">
                                    </virtual-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-bind="attr: { class: 'tooltip json-preview lg ' + tooltipClass }" style="opacity: 0">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="no-index-errors-template">
    No errors found
</script>

<script type="text/html" id="no-matching-index-errors-template">
    <span class="text-danger">No errors are matching your search criteria</span>
</script>

<script type="text/html" id="errored-index-errors-template">
    <span class="text-danger">Unable to load data</span>
</script>
