<style>
    #metricsContainer {
        position: relative;
    }
    #metricsContainer canvas, #metricsContainer svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    .brush .extent {
        fill-opacity: .3;
        stroke: #ff5500;
        shape-rendering: crispEdges;
    }
    rect.pane {
        fill: none;
        pointer-events: all;
    }

    .tooltip { /* copied from storare report - externalize me ! */
        box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.45);
        position: absolute;
        text-align: center;
        background: #2c3333;
        color: #a9adad;
        border: 0px;
        padding:8px 16px;
        border-radius: 2px;
        pointer-events: none;
        opacity:1;
        transform: translateY(-30px);
    }
</style>

<button class="btn btn-default" data-bind="click: exportAsJson">Export</button>

<span style="margin-left: 30px">
    Import: <input style="display: inline" id="importFilePicker" type="file" data-bind="event: { change: fileSelected }" />
</span>


<section id="indexingPerformance" style="position: relative">
    <section id="metricsContainer">
        <div class="tooltip" style="opacity: 0">
        </div>
    </section>
</section>
