<div class="indexes content-margin no-transition" data-bind="css: { 'no-transition': indexesCount() > 50 }">
    <div data-bind="visible: sortedGroups().length === 0">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <i class="icon-xl icon-empty-set text-muted"></i>
                <h2 class="text-center text-muted">No indexes have been created for this database.</h2>
                <p class="lead text-center text-muted">Go ahead and <a href="#" data-bind="attr: { href: newIndexUrl }">create one now</a>.</p>
            </div>
        </div>
    </div>
    <div class="flex-vertical absolute-fill" data-bind="visible: sortedGroups().length">
        <div class="flex-header">
            <div class="clearfix toolbar" data-bind="if: sortedGroups().length">
                <div class="pull-left">
                    <div class="form-inline">
                        <div class="checkbox checkbox-primary checkbox-inline align-checkboxes" title="Select all or none" data-bind="requiredAccess: 'DatabaseReadWrite'">
                            <input type="checkbox" class="styled" data-bind="checkboxTriple: indexesSelectionState, event: { change: toggleSelectAll }" />
                            <label></label>
                        </div>
                        <div class="btn-group-label" data-label="Filter">
                            <input type="text" accesskey="/" class="form-control" placeholder="Index Name" title="Filter indexes" data-bind="textInput: searchText" />
                            <div class="dropdown dropdown-right">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-bind="css: { active: hasAnyStateFilter }">
                                    <span>Index Status</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu settings-menu" data-bind="dropdownPanel: true, template: { name: 'indexes-filter-status-template' }">
                                </div>
                            </div>
                        </div>
                        <div class="indexesToolbar-actions", data-bind="requiredAccess: 'DatabaseReadWrite'">
                            <div class="btn-group-label" data-bind="css: { active: selectedIndexesName().length }" data-label="Selection" role="group">
                                <button class="btn btn-danger" data-bind="click: deleteSelectedIndexes, enable: selectedIndexesName().length">
                                    <i class="icon-trash"></i><span>Delete</span>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" title="Set the indexing state for the selected indexes"
                                            data-bind="enable: $root.globalIndexingStatus() === 'Running' && selectedIndexesName().length && !spinners.globalLockChanges(),
                                                       css: { 'btn-spinner': spinners.globalLockChanges() }" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-play"></i><span>Set indexing state...</span>
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="margin-left margin-top margin-top-sm" data-bind="visible: isCluster">
                                            <label><strong>Cluster Wide</strong></label>
                                        </li>
                                        <li data-bind="click: _.partial(enableSelectedIndexes, true), visible: isCluster">
                                            <a href="#" title="Enable indexing on ALL cluster nodes">
                                                <i class="icon-play"></i>
                                                <span>Enable</span>
                                            </a>
                                        </li>
                                        <li data-bind="click: _.partial(disableSelectedIndexes, true), visible: isCluster">
                                            <a href="#" title="Disable indexing on All cluster nodes">
                                                <i class="icon-cancel"></i>
                                                <span>Disable</span>
                                            </a>
                                        </li>
                                        <li class="divider" data-bind="visible: isCluster"></li>
                                        <li class="margin-left margin-top margin-top-sm" data-bind="visible: isCluster">
                                            <label><strong>Local Node</strong></label>
                                        </li>
                                        <li data-bind="click: _.partial(enableSelectedIndexes, false),
                                                       attr: { title: 'Enable indexing on node ' + localNodeTag() }">
                                            <a href="#">
                                                <i class="icon-play"></i>
                                                <span>Enable</span>
                                            </a>
                                        </li>
                                        <li data-bind="click: _.partial(disableSelectedIndexes, false),
                                                       attr: { title: 'Disable indexing on node ' + localNodeTag() }">
                                            <a href="#">
                                                <i class="icon-cancel"></i>
                                                <span>Disable</span>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li data-bind="click: resumeSelectedIndexes,
                                                       attr: { title: 'Resume indexing on node ' + localNodeTag() }">
                                            <a href="#">
                                                <i class="icon-play"></i>
                                                <span>Resume</span>
                                            </a>
                                        </li>
                                        <li data-bind="click: pauseSelectedIndexes,
                                                       attr: { title: 'Pause indexing on node ' + localNodeTag() }">
                                            <a href="#">
                                                <i class="icon-pause"></i>
                                                <span>Pause</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" title="Set the lock mode for the selected indexes"
                                            data-bind="enable: selectedIndexesName().length && !spinners.globalLockChanges(), 
                                                       css: { 'btn-spinner': spinners.globalLockChanges() }" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-lock"></i><span>Set lock mode...</span>
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li data-bind="click: unlockSelectedIndexes">
                                            <a href="#" title="Unlock selected indexes">
                                                <i class="icon-unlock"></i>
                                                <span>Unlock</span>
                                            </a>
                                        </li>
                                        <li data-bind="click: lockSelectedIndexes">
                                            <a href="#" title="Lock selected indexes">
                                                <i class="icon-lock"></i>
                                                <span>Lock</span>
                                            </a>
                                        </li>
                                        <li data-bind="click: lockErrorSelectedIndexes">
                                            <a href="#" title="Lock (Error) selected indexes">
                                                <i class="icon-lock-error"></i>
                                                <span>Lock (Error)</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a class="btn btn-primary" data-bind="attr: { href: newIndexUrl }">
                                <i class="icon-plus"></i>
                                <span>New index</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pull-right" id="toggleIndexing" data-bind="requiredAccess: 'DatabaseReadWrite'">
                    <button class="btn btn-default disable-indexing" title="Pause indexing process for ALL indexes until restart - Local node"
                            data-bind="click: stopIndexing, visible: $root.globalIndexingStatus() !== 'Paused', 
                                       attr: { title: 'Pause indexing process for ALL indexes until restart - On node ' + localNodeTag() },
                                       enable: !spinners.globalStartStop() && $root.globalIndexingStatus() !== 'Disabled', css: { 'btn-spinner': spinners.globalStartStop() }">
                        <i class="icon-pause"></i>
                        <span>Pause indexing until restart - Local node</span>
                    </button>
                    <button class="btn btn-success enable-indexing" title="Resume indexing process"
                            data-bind="click: startIndexing, visible: $root.globalIndexingStatus() === 'Paused', enable: !spinners.globalStartStop(), css: { 'btn-spinner': spinners.globalStartStop() }">
                        <i class="icon-play"></i>
                        <span>Resume indexing</span>
                    </button>
                </div>
            </div>
            <div>
                <small class="on-base-background" data-bind="html: searchCriteriaDescription"></small>
            </div>
        </div>
        <div class="flex-grow scroll">
            <div data-bind="foreach: sortedGroups">
                <h2 class="on-base-background" data-bind="text: entityName, visible: !groupHidden(), attr: { title: 'Collection: ' + entityName }"></h2>
                <div data-bind="foreach: indexes, visible: !groupHidden()">
                    <div data-bind="css: { 'sidebyside-indexes': replacement }, visible: !filteredOut()">
                        <div class="panel panel-state panel-hover index" data-bind="template: { name: 'index-template' }, css: { 'has-replacement': replacement }">
                        </div>
                        <div class="sidebyside-actions" data-bind="with: replacement, visible: replacement">
                            <div class="panel panel-state panel-warning">
                                <div class="state state-swap"> <i class="icon-swap"></i> </div>
                                <div class="padding flex-horizontal">
                                    <div class="title">Side by side</div>
                                    <div class="flex-separator"></div>
                                    <button class="btn btn-sm btn-warning" data-bind="click: _.partial($root.forceSideBySide, $data.parent), css: { 'btn-spinner': _.includes($root.spinners.swapNow(), parent.name) }, disable: _.includes($root.spinners.swapNow(), parent.name)">
                                        <i class="icon-force"></i> <span>Swap now</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div data-bind="with: replacement">
                            <div class="panel panel-state panel-hover index" data-bind="template: { name: 'index-template' }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="index-template">
    <div class="padding padding-sm">
        <div data-bind="attr: { class: 'state ' + badgeClass(), 'data-state-text' : badgeText() }"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-xl-4 info-container">
                <div class="flex-horizontal">
<!--                // TODO: may want to fix the below checkbox with strategy of invisibilityHidden ??? -->
                    <div class="checkbox" data-bind="requiredAccess: 'DatabaseReadWrite'">
                        <input type="checkbox" class="styled" data-bind="checked: $root.selectedIndexesName, checkedValue: name" />
                        <label></label>
                    </div>
                    <h3 class="index-name flex-grow"> 
                        <a href="#" data-bind="text: name, attr: { href: editUrl(), title: 'Index: ' + name }"></a>
                    </h3>
                    <i class="icon-new-counter" data-bind="visible: sourceType() === 'Counters'" title="Index source: Counters"></i>
                    <i class="icon-timeseries" data-bind="visible: sourceType() === 'TimeSeries'" title="Index source: Time Series"></i>
                    <i class="icon-documents" data-bind="visible: sourceType() === 'Documents'" title="Index source: Documents"></i>
                </div>
               
                <div class="flex-horizontal clear-left index-info nospacing">
                    <div class="index-type-icon" data-placement="right" data-toggle="tooltip" data-animation="true" data-html="true" data-bind="tooltipText: mapReduceIndexInfoTooltip">
                            <span data-bind="if: reduceOutputCollectionName() && !patternForReferencesToReduceOutputCollection()"><i class="icon-output-collection"></i></span>
                            <span data-bind="if: patternForReferencesToReduceOutputCollection"><i class="icon-reference-pattern"></i></span>
                    </div>
                    <div class="index-type">
                        <span data-bind="text: typeForUI"></span>
                        <!--<span data-bind="visible: isTestIndex">&nbsp; <span class="label label-warning">TEST INDEX</span></span>-->
                        <span data-bind="visible: replacement" class="margin-left margin-left-sm"><span class="label label-warning">OLD</span></span>
                        <span data-bind="visible: parent" class="margin-left margin-left-sm"><span class="label label-warning">NEW</span></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-xl-5 vertical-divider properties-container" data-bind="if: !isFaulty()">
                <div class="properties-item state-selector">
                    <span class="properties-label">State:</span>
                    <div class="btn-group properties-value">
                        <button type="button" class="btn set-size dropdown-toggle" data-toggle="dropdown"
                                data-bind="css: { 'btn-spinner': _.includes($root.spinners.localState(), name) },
                                           enable: $root.globalIndexingStatus() === 'Running'  && !_.includes($root.spinners.localState(), name),
                                           requiredAccess: 'DatabaseReadWrite', requiredAccessOptions: { strategy: 'disable' }">
                            <span class="text-warning" data-bind="visible: isPausedState() && !isErrorState()">
                                <i class="icon-cancel"></i>
                                <span>Paused until restart</span>
                            </span>
                            <span data-bind="visible: isNormalState()">
                                <i class="icon-check"></i>
                                <span>Normal</span>
                            </span>
                            <span data-bind="visible: isIdleState()">
                                <i class="icon-coffee"></i>
                                <span>Idle</span>
                            </span>
                            <span class="text-danger" data-bind="visible: isDisabledState()">
                                <i class="icon-cancel"></i>
                                <span>Indexing disabled</span>
                            </span>
                            <span class="text-danger" data-bind="visible: isErrorState()">
                                <i class="icon-danger"></i>
                                <span>Error</span>
                            </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-bind="visible: canBeEnabled() && $root.isCluster()">
                                <a href="#" data-bind="click: _.partial($root.enableIndex, $data, true)" title="Enable indexing on ALL cluster nodes">
                                    <i class="icon-play"></i>
                                    <span>Enable indexing - Cluster wide</span>
                                </a>
                            </li>
                            <li data-bind="visible: canBeEnabled()">
                                <a href="#" data-bind="click: _.partial($root.enableIndex, $data, false), attr: { title: 'Enable indexing on node ' + $root.localNodeTag() }">
                                    <i class="icon-play"></i>
                                    <span data-bind="text: $root.isCluster() ? 'Enable indexing - Local node' : 'Enable indexing'"></span>
                                </a>
                            </li>
                            <li data-bind="visible: canBeDisabled() && $root.isCluster()">
                                <a href="#" data-bind="click: _.partial($root.disableIndex, $data, true)" title="Disable indexing on ALL cluster nodes">
                                    <i class="icon-cancel"></i>
                                    <span>Disable indexing - Cluster wide</span>
                                </a>
                            </li>
                            <li data-bind="visible: canBeDisabled()">
                                <a href="#" data-bind="click: _.partial($root.disableIndex, $data, false), attr: { title: 'Disable indexing on node ' + $root.localNodeTag() }">
                                    <i class="icon-cancel"></i>
                                    <span data-bind="text: $root.isCluster() ? 'Disable indexing - Local node' : 'Disable indexing'"></span>
                                </a>
                            </li>
                            <li data-bind="visible: canBePaused()">
                                <a href="#" class="text-warning" data-bind="click: $root.pauseUntilRestart" title="Pause until restart">
                                    <i class="icon-pause"></i>
                                    <span>Pause indexing until restart</span>
                                </a>
                            </li>
                            <li data-bind="visible: canBeResumed()">
                                <a href="#" class="text-success" data-bind="click: $root.resumeIndexing" title="Resume indexing">
                                    <i class="icon-play"></i>
                                    <span>Resume indexing</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="properties-item priority" data-bind="if: !isSideBySide()">
                    <span class="properties-label">Priority:</span>
                    <div class="btn-group properties-value">
                        <button type="button" class="btn set-size dropdown-toggle" data-toggle="dropdown"
                                data-bind="css: { 'btn-spinner': _.includes($root.spinners.localPriority(), name) }, enable: !_.includes($root.spinners.localPriority(), name),
                                           requiredAccess: 'DatabaseReadWrite', requiredAccessOptions: { strategy: 'disable' }">
                            <span data-bind="visible: isNormalPriority()">
                                <i class="icon-check"></i>
                                <span>Normal</span>
                            </span>
                            <span data-bind="visible: isLowPriority()">
                                <i class="icon-coffee"></i>
                                <span>Low</span>
                            </span>
                            <span data-bind="visible: isHighPriority()">
                                <i class="icon-force"></i>
                                <span>High</span>
                            </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-bind="click: $root.lowPriority" title="Low">
                                    <i class="icon-coffee"></i><span>Low</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: $root.normalPriority" title="Normal">
                                    <i class="icon-check"></i><span>Normal</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: $root.highPriority" title="High">
                                    <i class="icon-force"></i><span>High</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="properties-item mode" data-bind="css: { 'hidden': type === 'AutoMap' || type === 'AutoMapReduce' || isSideBySide() }">
                    <span class="properties-label">Mode:</span>
                    <div class="btn-group properties-value">
                        <button type="button" class="btn set-size dropdown-toggle" data-toggle="dropdown"
                                data-bind="css: { 'btn-spinner': _.includes($root.spinners.localLockChanges(), name) }, enable: !_.includes($root.spinners.localLockChanges(), name),
                                           requiredAccess: 'DatabaseReadWrite', requiredAccessOptions: { strategy: 'disable' }">
                            <span data-bind="visible: lockMode() === 'Unlock'">
                                <i class="icon-unlock"></i><span>Unlocked</span>
                            </span>
                            <span data-bind="visible: lockMode() === 'LockedIgnore'">
                                <i class="icon-lock"></i><span>Locked</span>
                            </span>
                            <span data-bind="visible: lockMode() === 'LockedError'">
                                <i class="icon-lock-error"></i><span>Locked (Error)</span>
                            </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-bind="click: $root.unlockIndex" title="Unlocked: The index is unlocked for changes; apps can modify it, e.g. via IndexCreation.CreateIndexes().">
                                    <i class="icon-unlock"></i>
                                    <span>Unlock</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" data-bind="click: $root.lockIndex" title="Locked: The index is locked for changes; apps cannot modify it. Programmatic attempts to modify the index will be ignored.">
                                    <i class="icon-lock"></i>
                                    <span>Lock</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: $root.lockErrorIndex" title="Locked + Error: The index is locked for changes; apps cannot modify it. An error will be thrown if an app attempts to modify it.">
                                    <i class="icon-lock-error"></i>
                                    <span>Lock (Error)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="properties-item entriesCount">
                    <div class="properties-value value-only">
                        <div class="set-size">
                            <i class="icon-list"></i><span data-bind="text: $root.pluralize(entriesCount(), 'entry', 'entries')"></span>
                        </div>
                    </div>
                </div>
                <div class="properties-item staleness" data-bind="visible: isStale()">
                    <div class="properties-value value-only">
                        <div class="set-size">
                            <a title="Show stale reason" href="#" class="text-warning" data-bind="click: $root.showStaleReasons">
                                <i class="icon-reset"></i><span>Stale</span>&nbsp;&nbsp;<i class="icon-help"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="properties-item text-success staleness" data-bind="visible: !isStale()">
                    <div class="properties-value value-only">
                        <div class="set-size">
                            <i class="icon-check"></i><span>Up to date</span>
                        </div>
                    </div>
                </div>
                <div class="properties-item errors" data-bind="visible: errorsCount()">
                    <div class="properties-value value-only">
                        <a title="View indexing errors" data-bind="attr: { href: $root.indexErrorsUrl() }">
                            <div class="set-size text-danger">
                                <i class="icon-index-errors"></i><span><span data-bind="text: errorsCount"></span> Errors</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-xl-3 actions-container">
                <div class="actions">
                    <div class="btn-toolbar pull-right-sm" role="toolbar">
                        <div class="btn-group" role="group" data-bind="if: !isFaulty()">
                            <a class="btn btn-default" data-bind="attr: { href: queryUrl() }"><i class="icon-search"></i><span>Query</span></a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-bind="attr: { href: termsUrl() }">
                                        <i class="icon-terms"></i> Terms 
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group" role="group">
                            <a class="btn btn-default" data-bind="attr: { href: editUrl() }, visible: !isAutoIndex() && !$root.isReadOnlyAccess()" title="Edit index"><i class="icon-edit"></i></a>
                            <a class="btn btn-default" data-bind="attr: { href: editUrl() }, visible: isAutoIndex() || $root.isReadOnlyAccess()" title="View index"><i class="icon-preview"></i></a>
                        </div>
                        <div class="btn-group" role="group" data-bind="if: isFaulty">
                            <button class="btn btn-default" data-bind="click: $root.openFaultyIndex" title="Open index"><i class="icon-arrow-filled-up"></i></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" data-bind="click: $root.resetIndex, requiredAccess: 'DatabaseReadWrite'" title="Reset index"><i class="icon-reset"></i></button>
                            <button class="btn btn-danger" data-bind="click: $root.deleteIndex, requiredAccess: 'DatabaseReadWrite'" title="Delete the index"><i class="icon-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="with: progress, visible: !isErrorState() && !isFaulty()">
            <hr class="small" />
            <div class="progress-container">
                <div class="progress-overall">
                    <div class="flex-horizontal" data-bind="with: globalProgress">
                        <h3 class="flex-grow"><span data-bind="text: formattedTimeLeftToProcess"></span></h3>
                        <div class="percentage" data-bind="text: percentageFormatted,  css: { 'text-success': completed }, attr: { title: textualProgress }"></div>
                    </div>
                    <div class="progress" data-bind="with: globalProgress">
                        <div data-bind="css: { 'progress-bar-striped': !completed && !isDisabled, 'progress-bar-primary': !completed, 'active': !completed && !isDisabled, 'progress-bar-success': completed }, style: { width: percentageFormatted }, attr: { 'aria-valuenow': percentage, title: textualProgress } "
                             class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only" data-bind="text: percentageFormatted() + ' Completed'"></span>
                        </div>
                    </div>
                </div>
                <div class="collections-container">
                    <!-- ko foreach: collections -->
                    <div class="panel collection-progress">
                        <div class="collection-name" data-bind="text: name, attr: { title: name }"></div>
                        <div class="documents">
                            <div class="clearfix" data-bind="with: documentsProgress">
                                <small class="name">Documents</small>
                                <small class="percentage" data-bind="text: percentageFormatted(), css: { 'text-success': completed }, attr: { title: textualProgress}"></small>
                            </div>
                            <div class="progress" data-bind="with: documentsProgress">
                                <div data-bind="css: { 'progress-bar-striped': !completed && !isDisabled, 'progress-bar-primary': !completed, 'active': !completed && !isDisabled, 'progress-bar-success': completed }, style: { width: percentageFormatted }, attr: { 'aria-valuenow': percentage, title: textualProgress } "
                                     class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <span class="sr-only" data-bind="text: percentageFormatted() + ' Completed'"></span>
                                </div>
                            </div>
                        </div>
                        <div class="tombstones">
                            <div class="clearfix" data-bind="with: tombstonesProgress">
                                <small class="name">Tombstones</small>
                                <small class="percentage" data-bind="text: percentageFormatted(), css: { 'text-success': completed }, attr: { title: textualProgress }"></small>
                            </div>
                            <div class="progress" data-bind="with: tombstonesProgress">
                                <div data-bind="css: { 'progress-bar-striped': !completed && !isDisabled, 'progress-bar-primary': !completed, 'active': !completed && !isDisabled, 'progress-bar-success': completed }, style: { width: percentageFormatted }, attr: { 'aria-valuenow': percentage, title: textualProgress } "
                                     class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <span class="sr-only" data-bind="text: percentageFormatted() + ' Completed'"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="indexes-filter-status-template">
    <div class="settings-item">
        <div class="margin-left margin-right margin-right-sm">
            <div class="flex-horizontal">
                <div class="control-label flex-grow">Normal</div>
                <div class="flex-noshrink">
                    <div class="toggle toggle-success">
                        <input type="checkbox" class="styled" data-bind="checkedValue: 'Normal', checked: indexStatusFilter">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="flex-horizontal">
                <div class="control-label flex-grow">Error / Faulty</div>
                <div class="flex-noshrink">
                    <div class="toggle toggle-danger">
                        <input type="checkbox" class="styled" data-bind="checkedValue: 'ErrorOrFaulty', checked: indexStatusFilter">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="flex-horizontal">
                <div class="control-label flex-grow">Stale</div>
                <div class="flex-noshrink">
                    <div class="toggle toggle-warning">
                        <input type="checkbox" class="styled" data-bind="checkedValue: 'Stale', checked: indexStatusFilter">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="flex-horizontal">
                <div class="control-label flex-grow">Paused</div>
                <div class="flex-noshrink">
                    <div class="toggle toggle-warning">
                        <input type="checkbox" class="styled" data-bind="checkedValue: 'Paused', checked: indexStatusFilter">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="flex-horizontal">
                <div class="control-label flex-grow">Disabled</div>
                <div class="flex-noshrink">
                    <div class="toggle toggle-warning">
                        <input type="checkbox" class="styled" data-bind="checkedValue: 'Disabled', checked: indexStatusFilter">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="flex-horizontal">
                <div class="control-label flex-grow">Idle</div>
                <div class="flex-noshrink">
                    <div class="toggle toggle-warning">
                        <input type="checkbox" class="styled" data-bind="checkedValue: 'Idle', checked: indexStatusFilter">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-warning auto-update-container">
            <div class="flex-horizontal">
                <div class="control-label flex-grow">With indexing errors only</div>
                <div class="flex-noshrink">
                    <div class="toggle toggle-danger">
                        <input type="checkbox" class="styled" data-bind="checked: showOnlyIndexesWithIndexingErrors">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-info auto-update-container">
            <div class="flex-horizontal">
                <div class="control-label flex-grow">Auto refresh</div>
                <div class="flex-noshrink">
                    <div class="toggle toggle-info">
                        <input type="checkbox" class="styled" data-bind="checked: autoRefresh">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="margin-right margin-right-sm">
                <small>Automatically refreshes the list of indexes. Might result in list flickering.</small>
            </div>
        </div>
    </div>
</script>
