<div class="errors content-margin">
    <div class="flex-window stretch">
        <div class="flex-header">
            <div class="toolbar clearfix">
                <div class="input-group">
                    <input type="text" accesskey="/" class="form-control" placeholder="Filter" title="Filter index errors (Alt+/)" data-bind="textInput: searchText"/>
                </div>
            </div>
        </div>
        <div class="flex-window-scroll">
            <div class="scroll-stretch">
                <div class="panel-body">
                    <virtual-grid class="resizable virtual-grid" params="controller: gridController, emptyTemplate: 'empty-index-errors-template'"></virtual-grid>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="empty-index-errors-template">
    No errors found.
</script>
<div class="tooltip json-preview lg" style="opacity: 0">
    <pre><code class="white-space-pre"></code></pre>
</div>
