<div class="indexes">
    <div class="clearfix">
        <div class="pull-left">
            <div class="form-inline">
                <div class="checkbox checkbox-inline align-checkboxes" title="Select all or none">
                    <input type="checkbox" class="styled" data-bind="checkboxTriple: indexesSelectionState, event: { change: toggleSelectAll }" />
                    <label></label>
                </div>
                <div class="input-group">
                    <input type="text" accesskey="/" class="form-control" placeholder="Filter" title="Filter indexes (Alt+/)" data-bind="textInput: searchText" />
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" title="Set lock mode for selected indexes" 
                            data-bind="enable: selectedIndexesName().length && !globalLockChangesInProgress(), css: { 'btn-spinner': globalLockChangesInProgress() }" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-lock"></i><span>Lock</span>
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li data-bind="click: setLockModeSelectedIndexes.bind($root, 'Unlock', 'Unlock')">
                            <a href="#" title="Unlock selected indexes">
                                <i class="icon-unlock"></i>
                                <span>Unlock</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li data-bind="click: setLockModeSelectedIndexes.bind($root, 'LockedIgnore', 'Lock')">
                            <a href="#" title="Lock selected indexes">
                                <i class="icon-lock"></i>
                                <span>Lock</span>
                            </a>
                        </li>
                        <li data-bind="click: setLockModeSelectedIndexes.bind($root, 'SideBySide', 'Lock Side By Side')">
                            <a href="#" title="Lock (Side by Side) selected indexes">
                                <i class="icon-lock-sidebyside"></i>
                                <span>Lock (Side by Side)</span>
                            </a>
                        </li>
                        <li data-bind="click: setLockModeSelectedIndexes.bind($root, 'LockedError', 'Locked Error')">
                            <a href="#" title="Lock (Error) selected indexes">
                                <i class="icon-lock-error"></i>
                                <span>Lock (Error)</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-danger" data-bind="click: deleteSelectedIndexes, enable: selectedIndexesName().length"><i class="icon-trash"></i><span>Delete</span></button>
            </div>
        </div>
        <div class="pull-right" id="toggleIndexing">
            <button class="btn btn-warning btn-toggle disable-indexing" 
                    data-bind="click: stopIndexing, visible: indexingEnabled(), enable: !globalStartStopInProgress(), css: { 'btn-spinner': globalStartStopInProgress() }">
                <i class="icon-pause"></i>
                <span>Disable indexing until restart</span>
            </button>
            <button class="btn btn-success btn-toggle enable-indexing" 
                    data-bind="click: startIndexing, visible: !indexingEnabled(), enable: !globalStartStopInProgress(), css: { 'btn-spinner': globalStartStopInProgress() }">
                <i class="icon-play"></i>
                <span>Enable indexing</span>
            </button>
        </div>
    </div>
    <hr />
    <div data-bind="foreach: sortedGroups">
        <h2 data-bind="text: entityName, visible: !groupHidden()"></h2>
        <div data-bind="foreach: indexes, visible: !groupHidden()">
            <div class="panel" data-bind="visible: !filteredOut()">
                <div class="padding padding-sm">
                    <div data-bind="attr: { class: 'state ' + badgeClass() }"></div>
                    <div class="row">
                        <div class="col-sm-6 col-xl-4 col-flex info-container">
                            <div class="checkbox">
                                <input type="checkbox" class="styled" data-bind="checked: $root.selectedIndexesName, checkedValue: name">
                                <label></label>
                            </div>
                            <h3 class="index-name"><a href="#" data-bind="text: name, attr: { href: queryUrl(), title: name }"></a></h3>
                            <div class="index-type">
                                <span data-bind="text: type"></span>
                                &nbsp; <span data-bind="visible: isTestIndex" class="label label-warning">TEST INDEX</span>    
                            </div>
                        </div>
                        <div class="col-sm-12 col-xl-5 col-flex vertical-divider properties-container" data-bind="if: !isFaulty()">
                            <div class="properties-item staleness" data-bind="visible: isStale()">
                                <div class="properties-value value-only"><i class="icon-reset"></i><span>Stale</span></div>
                            </div>
                            <div class="properties-item text-success staleness" data-bind="visible: !isStale()">
                                <div class="properties-value value-only">
                                    <i class="icon-check"></i><span>Up to date</span>
                                </div>
                            </div>
                            <div class="properties-item entriesCount">
                                <div class="properties-value value-only"><i class="icon-list"></i><span data-bind="text: $root.pluralize(entriesCount, 'entry', 'entries')"></span></div>
                            </div>
                            <div class="properties-item priority" data-bind="template: { name: 'priority-template' }">
                            </div>
                            <div class="properties-item status" data-bind="template: { name: 'lock-mode-template' }">
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3 col-flex actions-container">
                            <div class="actions">
                                <div class="btn-toolbar pull-right-sm" role="toolbar">
                                    <div class="btn-group" role="group" data-bind="if: !isFaulty()">
                                        <a class="btn btn-info" data-bind="attr: { href: queryUrl() }"><i class="icon-search"></i><span>Query</span></a>
                                    </div>
                                    <div class="btn-group" role="group" data-bind="if: !isFaulty()">
                                        <a class="btn btn-default" data-bind="attr: { href: editUrl() }" title="Edit index"><i class="icon-edit"></i></a>
                                        <button class="btn btn-warning" data-bind="click: $root.resetIndex.bind($root, $data)" title="Reset index"><i class="icon-reset"></i></button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-danger" data-bind="click: $root.deleteIndex.bind($root)" title="Delete the index"><i class="icon-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="priority-template">
    <span class="properties-label">Priority:</span>
    <div class="btn-group btn-group-xs">
        <button type="button" class="btn properties-value dropdown-toggle" data-toggle="dropdown"
                data-bind="css: { 'btn-spinner': $root.localPriorityInProgress().contains(name) }, enable: $root.indexingEnabled() && !$root.localPriorityInProgress().contains(name)">
            <span data-bind="visible: pausedUntilRestart()">
                <i class="icon-cancel"></i>
                <span>Disabled until restart</span>
            </span>
            <span data-bind="visible: !pausedUntilRestart() && isNormalPriority()">
                <i class="icon-check"></i>
                <span>Normal</span>
            </span>
            <span data-bind="visible: !pausedUntilRestart() && isIdle()">
                <i class="icon-coffee"></i>
                <span>Idle</span>
            </span>
            <span data-bind="visible: !pausedUntilRestart() && isDisabled()">
                <i class="icon-cancel"></i>
                <span>Disabled</span>
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" data-bind="click: $root.normalPriority.bind($root, $data)" title="Normal">
                    <i class="icon-check"></i><span>Normal</span>
                </a>
            </li>
            <li>
                <a href="#" data-bind="click: $root.idlePriority.bind($root, $data)" title="Idle">
                    <i class="icon-coffee"></i><span>Idle</span>
                </a>
            </li>
            <li>
                <a href="#" data-bind="click: $root.disabledPriority.bind($root, $data)" title="Disabled">
                    <i class="icon-cancel"></i><span>Disabled</span>
                </a>
            </li>
            <li data-bind="visible: canBePaused()">
                <a href="#" data-bind="click: $root.disableUntilRestart.bind($root, $data)" title="Disable until restart">
                    <i class="icon-cancel"></i><span>Disable until restart</span>
                </a>
            </li>
            <li data-bind="visible: canBeResumed()">
                <a href="#" data-bind="click: $root.resumeIndexing.bind($root, $data)" title="Resume indexing">
                    <i class="icon-check"></i><span>Resume indexing</span>
                </a>
            </li>
        </ul>
    </div>
</script>

<script type="text/html" id="lock-mode-template">
    <span class="properties-label">Mode:</span>
    <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-block properties-value dropdown-toggle" data-toggle="dropdown" 
                data-bind="css: { 'btn-spinner': $root.localLockChangesInProgress().contains(name) }, enable: !$root.localLockChangesInProgress().contains(name)">
            <span data-bind="visible: lockMode() === 'Unlock'">
                <i class="icon-unlock"></i><span>Unlock</span>
            </span>
            <span data-bind="visible: lockMode() === 'SideBySide'">
                <i class="icon-lock-sidebyside"></i><span>Locked (side-by-side)</span>
            </span>
            <span data-bind="visible: lockMode() === 'LockedIgnore'">
                <i class="icon-lock"></i><span>Locked</span>
            </span>
            <span data-bind="visible: lockMode() === 'LockedError'">
                <i class="icon-lock-error"></i><span>Locked (Error)</span>
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" data-bind="click: $root.unlockIndex.bind($root, $data)" title="Unlocked: The index is unlocked for changes; apps can modify it, e.g. via IndexCreation.CreateIndexes().">
                    <i class="icon-unlock"></i>
                    <span>Unlock</span>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" data-bind="click: $root.lockIndex.bind($root, $data)" title="Locked: The index is locked for changes; apps cannot modify it. Programmatic attempts to modify the index will be ignored.">
                    <i class="icon-lock"></i>
                    <span>Lock</span>
                </a>
            </li>
            <li>
                <a href="#" data-bind="click: $root.lockSideBySide.bind($root, $data)" title="Side-by-side: The index is locked for changes; apps cannot modify it. Programmatic attempts to modify the index will be ignored. Index be can only updated via side-by-side index.">
                    <i class="icon-lock-sidebyside"></i>
                    <span>Lock (Side by Side)</span>
                </a>
            </li>
            <li>
                <a href="#" data-bind="click: $root.lockErrorIndex.bind($root, $data)" title="Locked + Error: The index is locked for changes; apps cannot modify it. An error will be thrown if an app attempts to modify it.">
                    <i class="icon-lock-error"></i>
                    <span>Lock (Error)</span>
                </a>
            </li>
        </ul>
    </div>
</script>