<div class="modal-dialog modal-lg" role="document" id="mapIndexSyntaxDialog">
    <div class="modal-content">
        <div class="margin-top margin-right margin-bottom margin-bottom-lg">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-cancel"></i></button>
        </div>
        <div class="modal-header margin-top">
            <div class="well well-sm">
                The Map function projects the fields to search on or to group by for the Reduce function.<br/>
                When using Multi-Maps, each Map function should project the same set of fields.
            </div>
        </div>
        <div class="modal-body">
            <div class="margin-bottom">
                The following examples index data for companies located in USA.
            </div>
            <div class="row">                
                <div class="col-md-6">
                    <h3 class="margin-top">
                        <strong>LINQ </strong>Map Example:
                    </h3>
<pre>
<span class="token keyword">from </span>company <span class="token keyword">in </span><span class="token builtin">docs.Companies</span>
<span class="token keyword">where </span>company.Address.Country <span class="token operator">== </span>"USA"
<span class="token keyword">select new </span>{
     company.<span class="token string">Name</span>,
     company.<span class="token string">Phone</span>,
     City = company.Address.<span class="token string">City</span>
}


</pre>
                </div>
                <div class="col-md-6">
                    <h3 class="margin-top">
                        <strong>JavaScript </strong>Map Example:
                    </h3>
<pre>
<span class="token keyword">map</span>(<span class="token string">"Companies"</span>, (company) <span class="token operator">=></span> {
    <span class="token keyword">if </span>(company.Address.Country <span class="token operator">=== </span>"USA") {
        <span class="token keyword">return</span> {
            Name: company.<span class="token string">Name</span>,
            Phone: company.<span class="token string">Phone</span>,
            City: company.Address.<span class="token string">City</span>
        };
    }
})
</pre>
                </div>
            </div>
        </div>
    </div>
</div>
