<div class="flex-window stretch query content-margin" id="queryContainer">
    <div class="flex-window-head">
        <div class="row margin-bottom">
            <div class="col-sm-2">
                <h2 class="query-title">Query <small><i class="icon-info text-info"></i></small></h2>
            </div>
            <div class="col-sm-10">
                <div class="query-container">
                    <div class="query-main">
                        <div class="has-warning query-error" data-bind="visible: containsAsterixQuery">
                            <div class="help-block">
                                <i class="icon-warning"></i> <span>The Query contains <strong>*.*</strong>. Did you intend to use <strong>*:*</strong> ?</span>
                            </div>
                        </div>

                        <div class="btn-group btn-group-sm pull-right" role="group">
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                        data-bind="enable: recentQueries().length">
                                    <i class="icon-recent"></i><span>Recent</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    <ul class="menu max-height" data-bind="foreach: recentQueries">
                                        <li>
                                            <a href="#" data-bind="click: _.partial($root.runRecentQuery, $data)">
                                                <span data-bind="visible: queryText">
                                                    <span data-bind="text: queryText"></span>
                                                </span>
                                                <span data-bind="visible: showFields">
                                                    <span class="text-muted">|</span>
                                                    <span>show fields</span>
                                                </span>
                                                <span data-bind="visible: indexEntries">
                                                    <span class="text-muted">|</span>
                                                    <span>index entries</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="icon-settings"></i><span>Settings</span>
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu settings-menu" data-bind="dropdownPanel: true, template: { name: 'settings-template' }">
                                </div>
                            </div>
                        </div>
                        <pre class="form-control editor query-source" 
                             data-bind="aceEditor: { code: criteria().queryText, allowResize: false, minHeight: 180, maxHeight: 180, lang:'ace/mode/rql', completer: queryCompleter.complete }, validationOptions: { errorsAsTitle: false }, validationElement: criteria().queryText"></pre>
                        
                        <div data-bind="validationOptions: { errorsAsTitle: false }, validationElement: criteria().queryText">
                            <div class="help-block" data-bind="validationMessage: criteria().queryText"></div>
                        </div>
                    </div>
                    <div class="query-controls">
                        <button class="btn btn-primary btn-block btn-lg text-center run-query" data-bind="click: runQuery, css: { 'btn-spinner': isLoading }">
                            <i class="icon-play2 icon-lg"></i><br />
                            <small class="kbd"><kbd>ctrl</kbd> <strong>+</strong> <kbd>enter</kbd></small>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <h2 class="pull-left-sm">
            Results
            <a target="_blank" href="#" title="Show raw output" data-bind="attr: { href: rawJsonUrl }"><i class="icon-link"></i></a>
        </h2>
    </div>

    <div class="flex-window-scroll flex-window stretch">
        <div class="flex-window-head">
            <div class="clearfix">
                <div class="results-info pull-left">
                    <div  data-bind="visible: queryStats() && hasEditableIndex(), if: queryStats() && hasEditableIndex()"  class="dropdown" >
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span>
                                <i class="icon-index"></i> <span>Index '</span><span data-bind="text: queriedIndexLabel"></span>'
                            </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            
                            <li>
                                <a href="#" data-bind="attr: { href: editIndexUrl }">
                                    <strong><i data-bind="attr: { class: isAutoIndex() ? 'icon-preview' : 'icon-edit' }"></i> <span data-bind="text: isAutoIndex() ? 'View index' : 'Edit index'"></span></strong>
                                </a>
                            </li>

                            <li class="has-disable-reason" 
                                data-original-title="Available only for static and auto indexes">
                                <a href="#" data-bind="css: { 'disabled' : isDynamicIndex }, attr: { 'data-original-title': !isDynamicIndex() ? '' : 'Available only for static and auto indexes', href: termsUrl }" title="Navigate to index terms">
                                    <i class="icon-terms"></i> <span>View index terms</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" data-bind="attr: { href: indexPerformanceUrl }" title="Navigate to index performance">
                                    <i class="icon-traffic-watch"></i> <span>Index performance</span>
                                </a>
                            </li>

                            <li class="has-disable-reason"  data-original-title="Available only for map/reduce indexes">
                                
                                <a href="#" data-bind="visible: isMapReduceIndex, attr: { href: visualizerUrl }" title="Map/Reduce Visualizer">
                                    <i class="icon-map-reduce-visualizer"></i> <span>Map/Reduce Visualizer</span>
                                </a>

                                <a data-bind="visible: !isMapReduceIndex()" class="disabled has-disable-reason" title="Available only for map/reduce indexes">
                                    <i class="icon-map-reduce-visualizer"></i> <span>Map/Reduce Visualizer</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <small data-bind="if: queryStats, visible: queryStats">
                        <strong data-bind="if: !hasEditableIndex(), visible: !hasEditableIndex()">
                            <i class="icon-documents"></i><span data-bind="text: queriedIndexDescription"></span>
                        </strong>
                        <span data-bind="visible: queriedIndex() && queriedIndex().indexOf('collection') === 0">&nbsp;collection</span>
                        &nbsp;was used to get the results in
                        <strong data-bind="text: queryStats().DurationInMs + ' ms'"></strong>.
                    </small>
                </div>
                <div class="btn-group btn-group-sm pull-right" role="group">
                    <div class="btn-group has-disable-reason" data-bind="attr: { 'data-original-title': !canDeleteDocumentsMatchingQuery() ? 'Available only for map indexes' : '' }">
                        <button type="button" class="btn btn-danger btn-sm" data-bind="enable: canDeleteDocumentsMatchingQuery, click: deleteDocsMatchingQuery"><i class="icon-trash"></i> <span>Delete documents</span></button>
                    </div>
                    <!-- TODO: csv enabled for: isStaticIndexSelected -->
                    <!-- TODO <button type="button" class="btn btn-default" disabled="disabled"><i class="icon-csv-export"></i> <span>Export CSV</span></button>-->
                    <button class="btn btn-default statistics" data-bind="click: openQueryStats">
                        <i class="icon-stats"></i><span>Statistics</span>
                    </button>

                    <div class="btn-group dropdown-right">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="icon-table"></i><span>Display</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu colselect-dropdown colselect-sm slidein-style" role="menu" data-bind="dropdownPanel: true">
                            <div data-bind="compose: $root.columnsSelector"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel flex-window-scroll">
            <div class="has-error results-error" data-bind="visible: staleResult()">
                <div class="help-block">
                    <i class="icon-danger"></i><span>Index is stale, possibly not all results are displayed. <a href="#" data-bind="click: refresh">Refresh.</a></span>
                </div>
            </div>
            <div class="has-error results-error" data-bind="visible: dirtyResult() && !staleResult()">
                <div class="help-block">
                    <i class="icon-danger"></i><span>Data has changed. Your results may contain duplicates or non-current entries. <a href="#" data-bind="click: refresh">Refresh.</a></span>
                </div>
            </div>
            <div class="scroll-stretch">
                <div class="panel-body">
                    <virtual-grid class="resizable" params="controller: gridController, emptyTemplate: 'empty-query-template'"></virtual-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="empty-query-template">
    No results found.
</script>

<script type="text/html" id="initial-results-template">
    TODO You'll see results here. Go ahead and type in your query.
</script>

<div class="tooltip json-preview" style="opacity: 0">
    <pre><code></code></pre>
</div>

<script type="text/html" id="settings-template">
    <div class="row settings-item">
        <div class="col-xs-offset-1 col-xs-6">
            <div class="control-label">Cache enabled</div>
        </div>
        <div class="col-xs-5">
            <div class="toggle">
                <input type="checkbox" class="styled" data-bind="checked: cacheEnabled">
                <label></label>
            </div>
        </div>
    </div>
    <div class="row settings-item">
        <div class="col-xs-offset-1 col-xs-6">
            <div class="control-label">Show stored index fields only</div>
        </div>
        <div class="col-xs-5">
            <div class="toggle">
                <input type="checkbox" class="styled" data-bind="checked: criteria().showFields">
                <label></label>
            </div>
        </div>
    </div>
    <div class="row settings-item">
        <div class="col-xs-offset-1 col-xs-6">
            <div class="control-label">Show the raw index entries instead of matching documents</div>
        </div>
        <div class="col-xs-5">
            <div class="toggle">
                <input type="checkbox" class="styled" data-bind="checked: criteria().indexEntries, disable: isDynamicIndex">
                <label></label>
            </div>
        </div>
    </div>
</script>

<!--
<div>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" title="Delete all documents matching the query (map index only)">
            <button class="btn btn-danger" data-bind="enable: enableDeleteButton, click: deleteDocsMatchingQuery">
                <i class="icon-trash"></i>
            </button>
        </div>
    </div>
    <br />
    <div class="alert alert-warning" data-bind="visible: isTestIndex()" role="alert">This is test index which operates on limited data set.</div>

    <form class="form-horizontal container-fluid" role="form">
        <div class="form-group" data-bind="visible:isWarning()">
            <span class="col-md-offset-1 col-md-10 text-danger"><i class="fa fa-warning"></i> <span data-bind="text:warningText()"></span></span>
        </div>

        <div class="form-group">
            <div class="form-group col-md-12">
                <div class="col-md-11 query-results">
                    <div id="queryResultsPanel" class="panel panel-default">
                        <div class="panel-body" data-bind="visible: isLoading">
                            <span>Loading, please wait <i class="fa fa-spinner fa-spin fa-2x"></i></span>
                        </div>
                customColumns: currentColumnsParams,
                isMapReduceIndex: isMapReduceIndex,
                selectedIndices: selectedResultIndices
                --
                    <div id="queryResultsGrid"
                         data-bind="widget: { kind: 'virtualTable', itemsSource: queryResults, gridSelector: '#queryResultsGrid', useContextMenu: true, showIds: true, showCheckboxes: true, maxHeight: '450px', collections: collections, contextMenuOptions: ['copyitems', 'CopyIDs' , 'Delete'], noResultsMessage: 'No results were found. For NotAnalyzed fields you may wish to search with [[term]].'}"></div>
                        <div class="panel-body">
                            <div class="suggestion-box" data-bind="visible: $root.showSuggestions, foreach: $root.indexSuggestions">
                                <div>Did you mean <a data-bind="text: Suggestion, click: $root.applySuggestion.bind($root, $data)" href="#"></a> for the field <i data-bind="text: FieldName"></i>?</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
-->
