<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		 xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">

  <Fragment>
    <?include IISSettings.wxi ?>

    <!-- Create a new website to install there -->
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="CreateNewRaveWebSite" Guid="{06A732B9-A902-4255-B50C-C1BBF6205731}" KeyPath="yes">
        <Condition><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
        <iis:WebSite Id="NewRavenWebSite" Description='[WEBSITE_DESCRIPTION]' Directory='NEW_WEB_SITE_DIRECTORY'>
          <iis:WebAddress Id="NewWebSiteAddress" Port="[WEBSITE_PORT]" Header="[WEBSITE_HOSTNAME]" />
        </iis:WebSite>
        <CreateFolder />
      </Component>

			<Component Id="AddFirewallExceptionForNonDefaultPort" Guid="{165E54BD-C4A4-4726-B144-B506943BA4BC}" KeyPath="yes">
				<Condition><![CDATA[WEBSITE_TYPE = "NEW" AND WEBSITE_PORT <> 80]]></Condition>
				<fire:FirewallException Id="Firewall.IIS.NewWebSite" Name="RavenDB - IIS - [WEBSITE_DESCRIPTION]" Port="[WEBSITE_PORT]" 
																Protocol="tcp" Scope="any" Program="System" IgnoreFailure="yes" />
			</Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLFOLDER">

      <Component Id="DefaultWebSiteApplicationPool_New" Guid="{5358DD73-9D8D-43BF-9248-2040CFC41F61}" KeyPath="yes" Win64="yes">
        <Condition>
          <![CDATA[NOT CUSTOM_APPLICATION_POOL AND WEBSITE_TYPE = "NEW"]]>
        </Condition>
        <iis:WebVirtualDir Id="VirtualDir0_New"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="NewRavenWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties0_New" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application0_New" Name="[WEBSITE_VD]">
            <iis:WebApplicationExtension CheckPath="no" Script="yes" Executable="[ASPNETISAPIDLL]" Verbs="GET,HEAD,POST"/>
          </iis:WebApplication>
        </iis:WebVirtualDir>
      </Component>

      <Component Id="UseExistingApplicationPool_New" Guid="{609F969B-8184-417B-9D05-5EE8A7692481}" KeyPath="yes" Win64="yes">
        <Condition><![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "EXISTING" AND WEBSITE_TYPE = "NEW"]]></Condition>
        <iis:WebAppPool Id="AppPool1_New"
                        Name="[WEB_APP_POOL_NAME]"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <iis:WebVirtualDir Id="VirtualDir1_New"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="NewRavenWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties1_New" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application1_New" Name="[WEBSITE_VD]" WebAppPool="AppPool1_New">
            <iis:WebApplicationExtension CheckPath="no" Script="yes" Executable="[ASPNETISAPIDLL]" Verbs="GET,HEAD,POST"/>
          </iis:WebApplication>
        </iis:WebVirtualDir>
      </Component>

      <Component Id="NewApplicationPoolWithApplicationPoolIdentity_New" Guid="{D08D8A4A-31BD-436D-B2D0-EC8C6C9DD6B1}" KeyPath="yes" Win64="yes">
        <Condition><![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "NEW" AND APPLICATION_POOL_IDENTITY_TYPE = "ApplicationPoolIdentity" AND WEBSITE_TYPE = "NEW"]]></Condition>
        <iis:WebAppPool Id="AppPool2_New"
                        Name="[WEB_APP_POOL_NAME]"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <!-- no identity specified will make that default ApplicationPoolIdentity will be used -->
        <iis:WebVirtualDir Id="VirtualDir2_New"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="NewRavenWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties2_New" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application2_New" Name="[WEBSITE_VD]" WebAppPool="AppPool2_New">
            <iis:WebApplicationExtension CheckPath="no" Script="yes" Executable="[ASPNETISAPIDLL]" Verbs="GET,HEAD,POST"/>
          </iis:WebApplication>
        </iis:WebVirtualDir>
      </Component>

      <Component Id="NewApplicationPoolWithLocalServiceIdentity_New" Guid="{203658CA-E7D2-48EE-AB2C-FBAF3B4555D1}" KeyPath="yes" Win64="yes">
        <Condition>
          <![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "NEW" AND APPLICATION_POOL_IDENTITY_TYPE = "LocalService" AND WEBSITE_TYPE = "NEW"]]>
        </Condition>
        <iis:WebAppPool Id="AppPool3_New"
                        Name="[WEB_APP_POOL_NAME]"
                        Identity="localService"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <iis:WebVirtualDir Id="VirtualDir3_New"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="NewRavenWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties3_New" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application3_New" Name="[WEBSITE_VD]" WebAppPool="AppPool3_New">
            <iis:WebApplicationExtension CheckPath="no" Script="yes" Executable="[ASPNETISAPIDLL]" Verbs="GET,HEAD,POST"/>
          </iis:WebApplication>
        </iis:WebVirtualDir>
      </Component>

      <Component Id="NewApplicationPoolWithLocalSystemIdentity_New" Guid="{05396449-CCD3-4A2A-BA4F-552C0BC55F61}" KeyPath="yes" Win64="yes">
        <Condition>
          <![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "NEW" AND APPLICATION_POOL_IDENTITY_TYPE = "LocalSystem" AND WEBSITE_TYPE = "NEW"]]>
        </Condition>
        <iis:WebAppPool Id="AppPool4_New"
                        Name="[WEB_APP_POOL_NAME]"
                        Identity="localSystem"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <iis:WebVirtualDir Id="VirtualDir4_New"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="NewRavenWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties4_New" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application4_New" Name="[WEBSITE_VD]" WebAppPool="AppPool4_New">
            <iis:WebApplicationExtension CheckPath="no" Script="yes" Executable="[ASPNETISAPIDLL]" Verbs="GET,HEAD,POST"/>
          </iis:WebApplication>
        </iis:WebVirtualDir>
      </Component>

      <Component Id="NewApplicationPoolWithNetworkServiceIdentity_New" Guid="{708A3B8B-7C8A-4B16-B5AC-E53FD78DF041}" KeyPath="yes" Win64="yes">
        <Condition>
          <![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "NEW" AND APPLICATION_POOL_IDENTITY_TYPE = "NetworkService" AND WEBSITE_TYPE = "NEW"]]>
        </Condition>
        <iis:WebAppPool Id="AppPool5_New"
                        Name="[WEB_APP_POOL_NAME]"
                        Identity="networkService"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <iis:WebVirtualDir Id="VirtualDir5_New"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="NewRavenWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties5_New" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application5_New" Name="[WEBSITE_VD]" WebAppPool="AppPool5_New">
            <iis:WebApplicationExtension CheckPath="no" Script="yes" Executable="[ASPNETISAPIDLL]" Verbs="GET,HEAD,POST"/>
          </iis:WebApplication>
        </iis:WebVirtualDir>
      </Component>

      <Component Id="NewApplicationPoolWithOtherIdentity_New" Guid="{909ED83E-B447-4E0A-85D4-9F767A027B91}" KeyPath="yes" Win64="yes">
        <Condition>
          <![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "NEW" AND APPLICATION_POOL_IDENTITY_TYPE = "other" AND WEBSITE_TYPE = "NEW"]]>
        </Condition>
        <util:User Id="OtherAppPoolUser_New"
                   CreateUser="no"
                   Name="[WEB_APP_POOL_IDENTITY_NAME]"
                   Password="[WEB_APP_POOL_IDENTITY_PWD]"
                   Domain="[WEB_APP_POOL_IDENTITY_DOMAIN]"/>
        <iis:WebAppPool Id="AppPool6_New"
                        Name="[WEB_APP_POOL_NAME]"
                        Identity="other"
                        User="OtherAppPoolUser"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <iis:WebVirtualDir Id="VirtualDir6_New"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="NewRavenWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties6_New" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application6_New" Name="[WEBSITE_VD]" WebAppPool="AppPool6_New">
            <iis:WebApplicationExtension CheckPath="no" Script="yes" Executable="[ASPNETISAPIDLL]" Verbs="GET,HEAD,POST"/>
          </iis:WebApplication>
        </iis:WebVirtualDir>
      </Component>

    </DirectoryRef>

    <ComponentGroup Id="IISConfigurationBasedOnNewRavenWebSite">
      <ComponentRef Id="CreateNewRaveWebSite" />
			<ComponentRef Id="AddFirewallExceptionForNonDefaultPort" />
      <ComponentRef Id="NewApplicationPoolWithOtherIdentity_New" />
      <ComponentRef Id="DefaultWebSiteApplicationPool_New" />
      <ComponentRef Id="UseExistingApplicationPool_New" />
      <ComponentRef Id="NewApplicationPoolWithApplicationPoolIdentity_New" />
      <ComponentRef Id="NewApplicationPoolWithLocalServiceIdentity_New" />
      <ComponentRef Id="NewApplicationPoolWithLocalSystemIdentity_New" />
      <ComponentRef Id="NewApplicationPoolWithNetworkServiceIdentity_New" />
      <ComponentRef Id="NewApplicationPoolWithOtherIdentity_New" />
    </ComponentGroup>

  </Fragment>
</Wix>
