<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>

    <!-- Install to existing web site -->
    <iis:WebSite Id="ExistingWebSite" Description='[WEBSITE_DESCRIPTION]' SiteId='[WEBSITE_ID]'>
      <iis:WebAddress Id="AllUnassigned" Port="80" />
    </iis:WebSite>

    <DirectoryRef Id="INSTALLFOLDER">

      <Component Id="DefaultWebSiteApplicationPool" Guid="{5358DD73-9D8D-43BF-9248-2040CFC41F63}" KeyPath="yes" Win64="yes">
        <Condition>
          <![CDATA[NOT CUSTOM_APPLICATION_POOL AND WEBSITE_TYPE = "EXISTING"]]>
        </Condition>
        <iis:WebVirtualDir Id="VirtualDir0"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="ExistingWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties0" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application0" Name="[WEBSITE_VD]" />
        </iis:WebVirtualDir>
      </Component>

      <Component Id="UseExistingApplicationPool" Guid="{609F969B-8184-417B-9D05-5EE8A769248E}" KeyPath="yes" Win64="yes">
        <Condition><![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "EXISTING" AND WEBSITE_TYPE = "EXISTING"]]></Condition>
        <iis:WebAppPool Id="AppPool1"
                        Name="[WEB_APP_POOL_NAME]"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <iis:WebVirtualDir Id="VirtualDir1"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="ExistingWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties1" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application1" Name="[WEBSITE_VD]" WebAppPool="AppPool1" />
        </iis:WebVirtualDir>
      </Component>

      <Component Id="NewApplicationPoolWithApplicationPoolIdentity" Guid="{D08D8A4A-31BD-436D-B2D0-EC8C6C9DD6B0}" KeyPath="yes" Win64="yes">
        <Condition><![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "NEW" AND APPLICATION_POOL_IDENTITY_TYPE = "ApplicationPoolIdentity" AND WEBSITE_TYPE = "EXISTING"]]></Condition>
        <iis:WebAppPool Id="AppPool2"
                        Name="[WEB_APP_POOL_NAME]"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <!-- no identity specified will make that default ApplicationPoolIdentity will be used -->
        <iis:WebVirtualDir Id="VirtualDir2"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="ExistingWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties2" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application2" Name="[WEBSITE_VD]" WebAppPool="AppPool2" />
        </iis:WebVirtualDir>
      </Component>

      <Component Id="NewApplicationPoolWithLocalServiceIdentity" Guid="{203658CA-E7D2-48EE-AB2C-FBAF3B4555D5}" KeyPath="yes" Win64="yes">
        <Condition>
          <![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "NEW" AND APPLICATION_POOL_IDENTITY_TYPE = "LocalService" AND WEBSITE_TYPE = "EXISTING"]]>
        </Condition>
        <iis:WebAppPool Id="AppPool3"
                        Name="[WEB_APP_POOL_NAME]"
                        Identity="localService"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <iis:WebVirtualDir Id="VirtualDir3"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="ExistingWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties3" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application3" Name="[WEBSITE_VD]" WebAppPool="AppPool3" />
        </iis:WebVirtualDir>
      </Component>

      <Component Id="NewApplicationPoolWithLocalSystemIdentity" Guid="{05396449-CCD3-4A2A-BA4F-552C0BC55F6F}" KeyPath="yes" Win64="yes">
        <Condition>
          <![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "NEW" AND APPLICATION_POOL_IDENTITY_TYPE = "LocalSystem" AND WEBSITE_TYPE = "EXISTING"]]>
        </Condition>
        <iis:WebAppPool Id="AppPool4"
                        Name="[WEB_APP_POOL_NAME]"
                        Identity="localSystem"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <iis:WebVirtualDir Id="VirtualDir4"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="ExistingWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties4" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application4" Name="[WEBSITE_VD]" WebAppPool="AppPool4" />
        </iis:WebVirtualDir>
      </Component>

      <Component Id="NewApplicationPoolWithNetworkServiceIdentity" Guid="{708A3B8B-7C8A-4B16-B5AC-E53FD78DF048}" KeyPath="yes" Win64="yes">
        <Condition>
          <![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "NEW" AND APPLICATION_POOL_IDENTITY_TYPE = "NetworkService" AND WEBSITE_TYPE = "EXISTING"]]>
        </Condition>
        <iis:WebAppPool Id="AppPool5"
                        Name="[WEB_APP_POOL_NAME]"
                        Identity="networkService"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <iis:WebVirtualDir Id="VirtualDir5"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="ExistingWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties5" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application5" Name="[WEBSITE_VD]" WebAppPool="AppPool5" />
        </iis:WebVirtualDir>
      </Component>

      <Component Id="NewApplicationPoolWithOtherIdentity" Guid="{909ED83E-B447-4E0A-85D4-9F767A027B9A}" KeyPath="yes" Win64="yes">
        <Condition>
          <![CDATA[CUSTOM_APPLICATION_POOL AND APPLICATION_POOL_TYPE = "NEW" AND APPLICATION_POOL_IDENTITY_TYPE = "other" AND WEBSITE_TYPE = "EXISTING"]]>
        </Condition>
        <util:User Id="OtherAppPoolUser"
                   CreateUser="no"
                   Name="[WEB_APP_POOL_IDENTITY_NAME]"
                   Password="[WEB_APP_POOL_IDENTITY_PWD]"
                   Domain="[WEB_APP_POOL_IDENTITY_DOMAIN]"/>
        <iis:WebAppPool Id="AppPool6"
                        Name="[WEB_APP_POOL_NAME]"
                        Identity="other"
                        User="OtherAppPoolUser"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"/>
        <iis:WebVirtualDir Id="VirtualDir6"
                  Alias="[WEBSITE_VD]"
                  Directory="INSTALLFOLDER"
                  WebSite="ExistingWebSite">
          <iis:WebDirProperties Id="VirtualDirProperties6" AnonymousAccess="yes" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="Application6" Name="[WEBSITE_VD]" WebAppPool="AppPool6" />
        </iis:WebVirtualDir>
      </Component>

    </DirectoryRef>

    <ComponentGroup Id="IISConfigurationBasedOnExistingWebSite">
      <ComponentRef Id="NewApplicationPoolWithOtherIdentity" />
      <ComponentRef Id="DefaultWebSiteApplicationPool" />
      <ComponentRef Id="UseExistingApplicationPool" />
      <ComponentRef Id="NewApplicationPoolWithApplicationPoolIdentity" />
      <ComponentRef Id="NewApplicationPoolWithLocalServiceIdentity" />
      <ComponentRef Id="NewApplicationPoolWithLocalSystemIdentity" />
      <ComponentRef Id="NewApplicationPoolWithNetworkServiceIdentity" />
      <ComponentRef Id="NewApplicationPoolWithOtherIdentity" />
    </ComponentGroup>

  </Fragment>
</Wix>