<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
    <?include ConfigurationInitialize.wxi ?>

    <!-- Install to default web site -->
    <iis:WebSite Id="DefaultWebSite" Description='Default Web Site'>
      <iis:WebAddress Id="AllUnassigned" Port="80" />
    </iis:WebSite>

    <DirectoryRef Id="MYWEBWEBSITE">
      <!-- Configuring app pool -->
      <Component Id="MyWebAppPoolCmp" Guid="" KeyPath="yes">
        <util:User Id="MyWebAppPoolUser"
                   CreateUser="no"
                   Name="[WEB_APP_POOL_IDENTITY_NAME]"
                   Password="[WEB_APP_POOL_IDENTITY_PWD]"
                   Domain="[WEB_APP_POOL_IDENTITY_DOMAIN]" />
        <iis:WebAppPool Id="MyWebAppPool"
                        Name="[WEB_APP_NAME]"
                        Identity="other"
                        User="MyWebAppPoolUser" />
      </Component>

      <!-- Configure virtual dir -->
      <Component Id="MyWebVirtualDirCmp"
             Guid="{751DEB01-ECC1-48ff-869A-65BCEE9E0528}"
             KeyPath="yes" >
        <iis:WebVirtualDir Id="MyWebVirtualDir"
                  Alias="[VIRTUAL_DIR_VAL]" Directory="MYWEBWEBSITE"
                  WebSite="DefaultWebSite">
          <iis:WebDirProperties Id="MyWebVirtDirProperties"
             AnonymousAccess="no" BasicAuthentication="no"
             WindowsAuthentication="yes" />
          <iis:WebApplication Id="MyWebWebApplication"
             Name="[VIRTUAL_DIR_VAL]" />
        </iis:WebVirtualDir>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="MyWebIssConfiguration">
      <ComponentRef Id="MyWebVirtualDirCmp" />
      <ComponentRef Id="MyWebAppPoolCmp" />
    </ComponentGroup>

  </Fragment>
</Wix>