<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
    <?include IISSettings.wxi ?>

    <!-- Install to default web site -->
    <iis:WebSite Id="SelectedWebSite" Description='[WEBSITE_DESCRIPTION]'>
      <iis:WebAddress Id="AllUnassigned" Port="80" />
    </iis:WebSite>

    <DirectoryRef Id="INSTALLFOLDER">
      <!-- Configuring app pool -->
      <Component Id="DefaultApplicationPoolComponent" Guid="{50D5E86E-4ED9-4E9A-8904-09A2B94CEE2D}" KeyPath="yes">
        <!--<util:User Id="ApplicationPoolUser"
                   CreateUser="no"
                   Name="[WEB_APP_POOL_IDENTITY_NAME]"
                   Password="[WEB_APP_POOL_IDENTITY_PWD]"
                   Domain="[WEB_APP_POOL_IDENTITY_DOMAIN]"/>-->
        <iis:WebAppPool Id="RavenAppPool"
                        Name="[WEB_APP_POOL_NAME]"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"
                       />
      
      <!--<iis:WebAppPool Id="RavenAppPool"
                        Name="[WEB_APP_POOL_NAME]"
                        Identity="other"
                        User="ApplicationPoolUser"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0" />-->
      </Component>

      <!-- Configure virtual dir -->
      <Component Id="VirtualDirectoryComponent"
             Guid="{751DEB01-ECC1-48ff-869A-65BCEE9E0528}"
             KeyPath="yes" >
        <iis:WebVirtualDir Id="MyWebVirtualDir"
                  Alias="[VIRTUAL_DIR_VAL]" 
                  Directory="INSTALLFOLDER"
                  WebSite="SelectedWebSite">
          <iis:WebDirProperties Id="MyWebVirtDirProperties"
             AnonymousAccess="yes" 
                                BasicAuthentication="no"
             WindowsAuthentication="no"  />
          <iis:WebApplication Id="MyWebWebApplication"
             Name="[VIRTUAL_DIR_VAL]" WebAppPool="RavenAppPool" />
        </iis:WebVirtualDir>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="IssConfiguration">
      <ComponentRef Id="VirtualDirectoryComponent" />
      <ComponentRef Id="DefaultApplicationPoolComponent" />
    </ComponentGroup>

  </Fragment>
</Wix>