<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id='Bin'>
        <Component Id="Raven.Web" Guid="135622C2-2005-4316-90E8-B54887128834">
          <File Id="Raven.Web" Name='$(var.Raven.Web.ProjectName).dll' DiskId='1' Source='$(var.Raven.Web.TargetPath)' KeyPath='yes' />
        </Component>
    </DirectoryRef>
    <DirectoryRef Id='INSTALLFOLDER'>
      <Component Id="Raven.Web.Config" Guid="{B2E0822E-B80A-4BA2-851B-CA025BC61333}">
        <File Id='web.config' Name='web.config' DiskId='1' Source='$(var.SolutionDir)\DefaultConfigs\Web.config'>
        </File>
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>