<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
		<DirectoryRef Id='Bin'>
			<Component Id="Raven.Web" Guid="135622C2-2005-4316-90E8-B54887128834">
				<File Id="Raven.Web" Name='$(var.Raven.Web.ProjectName).dll' DiskId='1' Source='$(var.Raven.Web.TargetPath)' KeyPath='yes' />
				<File Id='Microsoft.Owin' Name='Microsoft.Owin.dll' DiskId='1' Source='$(var.Raven.Web.TargetDir)\Microsoft.Owin.dll' />
				<File Id='Microsoft.Owin.Host.SystemWeb' Name='Microsoft.Owin.Host.SystemWeb.dll' DiskId='1' Source='$(var.Raven.Web.TargetDir)\Microsoft.Owin.Host.SystemWeb.dll' />
				<File Id='Owin' Name='Owin.dll' DiskId='1' Source='$(var.Raven.Web.TargetDir)\Owin.dll' />
				<File Id="Html.Studio.Web" Name="Raven.Studio.Html5.zip" DiskId="1" Source="..\artifacts\Raven.Studio.Html5.zip" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id='INSTALLFOLDER'>
			<Component Id="Raven.Web.Config.IIS_7_And_8" Guid="{B2E0822E-B80A-4BA2-851B-CA025BC61333}" Permanent="yes" NeverOverwrite="yes">
				<Condition><![CDATA[IISMAJORVERSION >= "#7" OR IISMAJORVERSION = "#10"]]></Condition>
				<File Id='web.config' Name='web.config' DiskId='1' Source='$(var.SolutionDir)\DefaultConfigs\Web.config'>
				</File>
				<util:XmlFile Id="SetDataDirIIS"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]@key='Raven/DataDir'[\]]"
						 Name="value"
						 File="[#web.config]"
						 Value="[RAVEN_DATA_DIR]\System"
						 SelectionLanguage="XSLPattern"
						 Sequence="5" />

				<util:XmlFile Id="AddEmptyIndexStoragePathSettingIIS"
						 Action="createElement"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings"
						 Name="add"
						 File="[#web.config]"
						 SelectionLanguage="XSLPattern"
						 Sequence="6" />
				<util:XmlFile Id="AddIndexStoragePathIIS"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
						 Name="key"
						 Value="Raven/IndexStoragePath"
						 File="[#web.config]"
						 SelectionLanguage="XSLPattern"
						 Sequence="7" />
				<util:XmlFile Id="SetIndexStoragePathIIS"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]@key='Raven/IndexStoragePath'[\]]"
						 Name="value"
						 File="[#web.config]"
						 Value="[RAVEN_INDEX_DIR]"
						 SelectionLanguage="XSLPattern"
						 Sequence="8" />

				<util:XmlFile Id="AddEmptyTransactionJournalsPathSettingIIS"
						 Action="createElement"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings"
						 Name="add"
						 File="[#web.config]"
						 SelectionLanguage="XSLPattern"
						 Sequence="9" />
				<util:XmlFile Id="AddTransactionJournalsPathIIS"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
						 Name="key"
						 Value="Raven/TransactionJournalsPath"
						 File="[#web.config]"
						 SelectionLanguage="XSLPattern"
						 Sequence="10" />
				<util:XmlFile Id="SetTransactionJournalsPathIIS"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]@key='Raven/TransactionJournalsPath'[\]]"
						 Name="value"
						 File="[#web.config]"
						 Value="[RAVEN_STORAGE_LOGS_DIR]"
						 SelectionLanguage="XSLPattern"
						 Sequence="11" />

				<util:XmlFile Id="SetWorkingDataDirIIS"
											 Action="setValue"
											 Permanent="yes"
											 ElementPath="/configuration/appSettings/add[\[]@key='Raven/WorkingDir'[\]]"
											 Name="value"
											 File="[#web.config]"
											 Value="[RAVEN_WORKING_DIR]"
											 SelectionLanguage="XSLPattern"
											 Sequence="12" />

				<util:XmlFile Id="AddEmptyFileSystemDataDirPathSetting_IIS"
											Action="createElement"
											Permanent="yes"
											ElementPath="/configuration/appSettings"
											Name="add"
											File="[#web.config]"
											SelectionLanguage="XSLPattern"
											Sequence="13" />
				<util:XmlFile Id="AddFileSystemDataDirPath_IIS"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
											Name="key"
											Value="Raven/FileSystem/DataDir"
											File="[#web.config]"
											SelectionLanguage="XSLPattern"
											Sequence="14" />
				<util:XmlFile Id="SetFileSystemDataDirPath_IIS"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]@key='Raven/FileSystem/DataDir'[\]]"
											Name="value"
											File="[#web.config]"
											Value="[RAVENFS_DATA_DIR]"
											SelectionLanguage="XSLPattern"
											Sequence="15" />

			</Component>
			<Component Id="Raven.Web.Config.IIS_6" Guid="{0D39076B-E488-44DD-9E07-57732A515601}" Permanent="yes" NeverOverwrite="yes">
				<Condition><![CDATA[IISMAJORVERSION < "#7" AND IISMAJORVERSION <> "#10"]]></Condition>
				<File Id='web_iis6.config' Name='web.config' DiskId='1' Source='$(var.SolutionDir)\DefaultConfigs\Web_IIS6.config'>
				</File>
				<util:XmlFile Id="SetDataDirIIS6"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]@key='Raven/DataDir'[\]]"
						 Name="value"
					 File="[#web_iis6.config]"
						 Value="[RAVEN_DATA_DIR]\System"
						 SelectionLanguage="XSLPattern"
						 Sequence="5" />
				<util:XmlFile Id="AddEmptyIndexStoragePathSettingIIS6"
						 Action="createElement"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings"
						 Name="add"
							File="[#web_iis6.config]"
						 SelectionLanguage="XSLPattern"
						 Sequence="6" />
				<util:XmlFile Id="AddIndexStoragePathIIS6"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
						 Name="key"
						 Value="Raven/IndexStoragePath"
						 File="[#web.config]"
						 SelectionLanguage="XSLPattern"
						 Sequence="7" />
				<util:XmlFile Id="SetIndexStoragePathIIS6"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]@key='Raven/IndexStoragePath'[\]]"
						 Name="value"
						 File="[#web.config]"
						 Value="[RAVEN_INDEX_DIR]"
						 SelectionLanguage="XSLPattern"
						 Sequence="8" />

				<util:XmlFile Id="AddEmptyTransactionJournalsPathSettingIIS6"
						 Action="createElement"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings"
						 Name="add"
							File="[#web_iis6.config]"
						 SelectionLanguage="XSLPattern"
						 Sequence="9" />
				<util:XmlFile Id="AddTransactionJournalsPathIIS6"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
						 Name="key"
						 Value="Raven/TransactionJournalsPath"
						 File="[#web.config]"
						 SelectionLanguage="XSLPattern"
						 Sequence="10" />
				<util:XmlFile Id="SetTransactionJournalsPathIIS6"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]@key='Raven/TransactionJournalsPath'[\]]"
						 Name="value"
						 File="[#web.config]"
						 Value="[RAVEN_STORAGE_LOGS_DIR]"
						 SelectionLanguage="XSLPattern"
						 Sequence="11" />

				<util:XmlFile Id="SetWorkingDataDirIIS6"
						 Action="setValue"
						 Permanent="yes"
						 ElementPath="/configuration/appSettings/add[\[]@key='Raven/WorkingDir'[\]]"
						 Name="value"
						 File="[#web_iis6.config]"
						 Value="[RAVEN_WORKING_DIR]"
						 SelectionLanguage="XSLPattern"
						 Sequence="12" />

				<util:XmlFile Id="AddEmptyFileSystemDataDirPathSetting_IIS6"
											Action="createElement"
											Permanent="yes"
											ElementPath="/configuration/appSettings"
											Name="add"
											File="[#web_iis6.config]"
											SelectionLanguage="XSLPattern"
											Sequence="13" />
				<util:XmlFile Id="AddFileSystemDataDirPath_IIS6"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
											Name="key"
											Value="Raven/FileSystem/DataDir"
											File="[#web_iis6.config]"
											SelectionLanguage="XSLPattern"
											Sequence="14" />
				<util:XmlFile Id="SetFileSystemDataDirPath_IIS6"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]@key='Raven/FileSystem/DataDir'[\]]"
											Name="value"
											File="[#web_iis6.config]"
											Value="[RAVENFS_DATA_DIR]"
											SelectionLanguage="XSLPattern"
											Sequence="15" />

			</Component>
			<Component Id="PersistWebSiteValues" Guid="{BA5C1D27-7DD0-4521-BE13-4BC0A57D9D1D}">
				<RegistryKey Action="create" Root="HKLM"
                     Key="SOFTWARE\[Manufacturer]\[ProductName]\v3.5">
					<RegistryValue Name="WEBSITE_DESCRIPTION" Type="string" Value="[WEBSITE_DESCRIPTION]"/>
					<RegistryValue Name="WEBSITE_ID" Type="string" Value="[WEBSITE_ID]"/>
					<RegistryValue Name="WEBSITE_VD" Type="string" Value="[WEBSITE_VD]"/>
					<RegistryValue Name="WEBSITE_PATH" Type="string" Value="[WEBSITE_PATH]"/>
					<RegistryValue Name="WEBSITE_PORT" Type="string" Value="[WEBSITE_PORT]"/>
					<RegistryValue Name="WEBSITE_HOSTNAME" Type="string" Value="[WEBSITE_HOSTNAME]"/>
				</RegistryKey>
			</Component>
			<Component Id="Raven.Web.Shortcut" Guid="0C2BD57F-4FE3-425E-9E74-D22BF6495041">
        <Condition>WINDOWS_EXPLORER_AVAILABLE</Condition>
				<CreateFolder />
				<util:InternetShortcut
					Id="IISLocalhostShortcut"
					Directory="DesktopFolder"
					Name="RavenDB Studio"
					Target="http://localhost:[WEBSITE_PORT]/[WEBSITE_VD]" Type="url" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
