<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
	<Fragment>

    <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR"/>
    <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR64"/>

    <Property Id="ASPNETREGISTERED32">
      <RegistrySearch Id="ASPNETREG32" Root="HKLM" Key="Software\Microsoft\ASP.NET\4.0.30319.0" Name="Path" Type="raw" />
    </Property>

    <Property Id="ASPNETREGISTERED64">
      <RegistrySearch Id="ASPNETREG64" Root="HKLM" Key="Software\Microsoft\ASP.NET\4.0.30319.0" Name="Path" Type="raw" Win64="yes" />
    </Property>

    <SetProperty Id="ASPNETREGISTERED" Sequence="execute" Before="ConfigureIIs" Value="1" Action="SetASPNETREGISTERED32">
      <![CDATA[NOT VersionNT64 AND ASPNETREGISTERED32]]>
    </SetProperty>

    <SetProperty Id="ASPNETREGISTERED" Sequence="execute" Before="ConfigureIIs" Value="1" Action="SetASPNETREGISTERED64">
      <![CDATA[VersionNT64 AND ASPNETREGISTERED64]]>
    </SetProperty>

    <SetProperty Id="ASPNETISAPIDLL" Sequence="execute" Before="ConfigureIIs"
                 Value="[NETFRAMEWORK40FULLINSTALLROOTDIR]aspnet_isapi.dll" Action="SetASPNETISAPIDLL32">
      <![CDATA[NOT VersionNT64]]>
    </SetProperty>

    <SetProperty Id="ASPNETISAPIDLL" Sequence="execute" Before="ConfigureIIs"
             Value="[NETFRAMEWORK40FULLINSTALLROOTDIR64]aspnet_isapi.dll" Action="SetASPNETISAPIDLL64">
      <![CDATA[VersionNT64]]>
    </SetProperty>

    <SetProperty Id="ASPNETREGIIS" Sequence="execute" Before="ConfigureIIs"
             Value="[NETFRAMEWORK40FULLINSTALLROOTDIR]aspnet_regiis.exe" Action="SetASPNETREGIIS32">
      <![CDATA[NOT VersionNT64]]>
    </SetProperty>

    <SetProperty Id="ASPNETREGIIS" Sequence="execute" Before="ConfigureIIs"
                 Value="[NETFRAMEWORK40FULLINSTALLROOTDIR64]aspnet_regiis.exe" Action="SetASPNETREGIIS64">
      <![CDATA[VersionNT64]]>
    </SetProperty>
    
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="EnableASPNet4Extension" Permanent="yes" Guid="{6449C546-034B-444F-B544-2DC2F2CE16C5}">
        <CreateFolder />
        <iis:WebServiceExtension Id="ASPNet4Extension" Group="ASP.NET v4.0.30319" Allow="yes"
                                 File="[ASPNETISAPIDLL]" Description="ASP.NET v4.0.30319"
                                 UIDeletable="no"/>
      </Component>
    </DirectoryRef>
    
	</Fragment>
</Wix>