<style>
.column {
    display: inline-block;
    cursor: pointer;

    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;

    border-bottom: 1px solid #ddd;
    margin: 0px;
    padding: 5px;

    height: 30px;
}

.selected .column {
    background-color: #ffffcc;
}

</style>
<section id="runningTasksContainer" style="width: 100%" data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }">
    <div style="height: 65%; position: relative;">
        <button type="button" class="btn btn-default" data-bind="click: fetchTasks"><i class="fa fa-refresh"></i></button>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active" data-bind="click: setFilterTypeAll">
                <input type="radio" name="options" id="option0"> <span data-bind="text: 'All tasks (' + allTasks().length + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterTypeSuggestionQuery, visible: suggestionQueryCount() > 0">
                <input type="radio" name="options" id="option1"> <span data-bind="text: 'Suggestion Query (' + suggestionQueryCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterTypeBulkInsert, visible: bulkInsertCount() > 0">
                <input type="radio" name="options" id="option2"> <span data-bind="text: 'Bulk insert (' + bulkInsertCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterTypeIndexBulkOperation, visible: indexBulkOperationCount() > 0">
                <input type="radio" name="options" id="option3"> <span data-bind="text: 'Bulk operation (' + indexBulkOperationCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterTypeIndexDeleteOperation, visible: indexDeleteOperationCount() > 0">
                <input type="radio" name="options" id="option4"> <span data-bind="text: 'Index delete (' + indexDeleteOperationCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterTypeImportDatabase, visible: importDatabaseCount() > 0">
                <input type="radio" name="options" id="option5"> <span data-bind="text: 'Import database (' + importDatabaseCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterTypeRestoreDatabase, visible: restoreDatabaseCount() > 0">
                <input type="radio" name="options" id="option6"> <span data-bind="text: 'Restore database (' + restoreDatabaseCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterTypeRestoreFilesystem, visible: restoreFilesystemCount() > 0">
                <input type="radio" name="options" id="option7"> <span data-bind="text: 'Restore filesystem (' + restoreFilesystemCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterTypeCompactDatabase, visible: compactDatabaseCount() > 0">
                <input type="radio" name="options" id="option8"> <span data-bind="text: 'Compact database (' + compactDatabaseCount() + ')'"></span>
            </label>
            <label class="btn btn-default" data-bind="click: setFilterTypeCompactFilesystem, visible: compactFilesystemCount() > 0">
                <input type="radio" name="options" id="option9"> <span data-bind="text: 'Compact filesystem (' + compactFilesystemCount() + ')'"></span>
            </label>
	        <label class="btn btn-default" data-bind="click: setFilterTypeIoTest, visible: ioTestCount() > 0">
		        <input type="radio" name="options" id="option10"> <span data-bind="text: 'IO test (' + ioTestCount() + ')'"></span>
	        </label>
			<label class="btn btn-default" data-bind="click: setFilterTypeNewIndexPrecomputedBatch, visible: newIndexPrecomputedBatchCount() > 0">
				<input type="radio" name="options" id="option11"> <span data-bind="text: 'New Index (' + newIndexPrecomputedBatchCount() + ')'"></span>
			</label>
        </div>
        <form class="form-inline" style="display: inline-block; vertical-align: middle;">
            <input type="text" class="form-control col-md-8" placeholder="Search" data-bind="value: searchText, valueUpdate: 'afterkeydown'" />
        </form>
        <div id="runningTasksTableContainer" style="overflow-y: auto; overflow-x: auto; position: absolute; top: 40px; bottom: 10px; width: 100%;">
            <span style="white-space: nowrap">
                <div class="column column-header"  style="width: 40px;">
                    <span>Kill</span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[0]() + 'px' }">
                    <span class="column-handle" column="0"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'TaskType')">Type</span>
                    <span data-bind="visible: $root.sortColumn() === 'TaskType'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[1]() + 'px' }">
                    <span class="column-handle" column="1"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'TimeStamp')">Started</span>
                    <span data-bind="visible: $root.sortColumn() === 'TimeStamp'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[2]() + 'px' }">
                    <span class="column-handle" column="2"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'TaskStatus')">Status</span>
                    <span data-bind="visible: $root.sortColumn() === 'TaskStatus'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[3]() + 'px' }">
                    <span class="column-handle" column="3"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'Payload')">Payload</span>
                    <span data-bind="visible: $root.sortColumn() === 'Payload'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                <div class="column column-header" data-bind="style: { width: $root.columnWidths[4]() + 'px' }">
                    <span class="column-handle" column="4"></span>
                    <span data-bind="click: $root.sortBy.bind($root, 'ExceptionText')">Exception</span>
                    <span data-bind="visible: $root.sortColumn() === 'ExceptionText'">
                        <span class="fa fa-sort-asc" data-bind="visible: $root.sortAsc"></span>
                        <span class="fa fa-sort-desc" data-bind="visible: !$root.sortAsc()"></span>
                    </span>
                </div>
                
            </span>
            <div style="white-space: nowrap" data-bind="foreach: filteredAndSortedTasks, delegatedHandler: 'click'">
                <div style="display: block; white-space: nowrap" class="logRecord log-table-row" data-click="selectTask" data-bind="visible: IsVisible, css: { warning: TaskStatus === 'Canceled', danger: TaskStatus === 'Faulted', 'selected': $data === $parent.selectedTask() }">
                    <div class="column" style="width: 40px"><button  data-bind="visible: Killable, click: $root.taskKill.bind($root, $data)" class="btn btn-link negative-margin"><i class="fa fa-bolt"></i></button></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[0]() + 'px' }, text: TaskType"></div> 
                    <div class="column" data-bind="style: { width: $root.columnWidths[1]() + 'px' }, text: TimeStampText, attr: { title: TimeStampText }"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[2]() + 'px' }, text: TaskStatus"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[3]() + 'px' }, text: Payload"></div>
                    <div class="column" data-bind="style: { width: $root.columnWidths[4]() + 'px' }, text: ExceptionText, attr: { title: ExceptionText }"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="log-details panel panel-default">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-2 text-right control-label">Type</label>
                <div class="col-md-10" data-bind="with: selectedTask">
                    <p class="form-control-static" data-bind="text: TaskType"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right control-label">Started</label>
                <div class="col-md-10" data-bind="with: selectedTask">
                    <p class="form-control-static" data-bind="text: TimeStampText"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right control-label">Status</label>
                <div class="col-md-10" data-bind="with: selectedTask">
                    <p class="form-control-static" data-bind="text: TaskStatus"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right control-label">Payload</label>
                <div class="col-md-10" data-bind="with: selectedTask">
                    <p class="form-control-static" data-bind="text: Payload"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right control-label">Exception</label>
                <div class="col-md-10" data-bind="with: selectedTask">
                    <p class="form-control-static">
                        <!-- ko if: $root.noExceptionText -->
                        <span data-bind="text: ExceptionText"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: $root.noExceptionText -->
                        <span>-</span>
                        <!-- /ko -->
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
        <div class="clearfix"></div>
    </div>
</section>
