<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
	<div style="float:right">
		<p><button id="singleGet" >Get single session</button></p>
		<p><button id="multiGet">Get multiple sessions</button></p>
	</div>
	
	<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
	<script>
		$('#singleGet').on('click', function() {
			$.getJSON('@Url.Action("SingleSessionGet", "Home")');
		});

		$('#multiGet').on('click', function() {
			$.getJSON('@Url.Action("MultiSessionGet", "Home")');
		});
	</script>
	

	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>Welcome to ASP.NET Web API!</h1>
				<h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
			</hgroup>
			<p>
				ASP.NET Web API allows you to expose your applications, data and services to the
				web directly over HTTP.
			</p>
		</div>
	</section>
	<section class="content-wrapper main-content clear-fix">
		<h3>We suggest the following steps:</h3>
		<ol class="round">
			<li class="one">
				<h5>Getting Started</h5>
				ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
				a broad range of clients, including browsers and mobile devices. ASP.NET Web API
				is an ideal platform for building RESTful applications on the .NET Framework.
				<a href="http://go.microsoft.com/fwlink/?LinkId=245160">Learn more…</a>
			</li>

			<li class="two">
				<h5>Add NuGet packages and jump-start your coding</h5>
				NuGet makes it easy to install and update free libraries and tools.
				<a href="http://go.microsoft.com/fwlink/?LinkId=245161">Learn more…</a>
			</li>
			<li class="three">
				<h5>Find Web Hosting</h5>
				You can easily find a web hosting company that offers the right mix of features
				and price for your applications.
				<a href="http://go.microsoft.com/fwlink/?LinkId=245164">Learn more…</a>
			</li>
		</ol>
	</section>
</div>
