<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <CustomAction Id="UpdateIISPropsWithSelectedAppPool" BinaryKey="Raven.Setup.CustomActions.CA.dll"
                  DllEntry="UpdateIISPropsWithSelectedAppPool" Execute="immediate"
                  Return="check" />

    <CustomAction Id="UpdateIISAppPoolUser" BinaryKey="Raven.Setup.CustomActions.CA.dll"
                  DllEntry="UpdateIISAppPoolUser" Execute="immediate"
                  Return="check" />
   
    <Property Id="APPLICATION_POOL_TYPE" Value="NEW" />

    <Property Id="APPPOOL" Value="0"/>
    <EnsureTable Id="ComboBox"/>
    
    <UI>
      <Dialog Id="AppPoolSettingsDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Condition Action="disable"><![CDATA[APPLICATION_POOL_TYPE = "NEW" AND WEB_APP_POOL_NAME = ""]]></Condition>
          <Condition Action="enable"><![CDATA[APPLICATION_POOL_TYPE = "EXISTING" OR (WEB_APP_POOL_NAME <> "")]]></Condition>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please configure application pool</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Application Pool Settings</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Type="RadioButtonGroup" Property="APPLICATION_POOL_TYPE" Id="PoolNewOrExisting" Width="240" Height="33" X="15" Y="56">
          <RadioButtonGroup Property="APPLICATION_POOL_TYPE">
            <RadioButton Text="Create a new one" Value="NEW" Height="17" Width="170" X="0" Y="0" />
            <RadioButton Text="Use an existing one (Integrated mode, .NET Framework v4.0)" Value="EXISTING" Height="17" Width="240" X="0" Y="15" />
          </RadioButtonGroup>
        </Control>
        <Control Id="PoolNameLabel" Type="Text" X="40" Y="94" Width="52" Height="15" TabSkip="no" Text="&amp;Pool name:" />
        <Control Id="PoolNameEdit" Type="Edit" X="98" Y="92" Width="224" Height="15" Property="WEB_APP_POOL_NAME" Text="{80}">
          <Condition Action="show"><![CDATA[APPLICATION_POOL_TYPE = "NEW"]]></Condition>
          <Condition Action="hide"><![CDATA[APPLICATION_POOL_TYPE = "EXISTING"]]></Condition>
        </Control>
        <Control Id="SelectAppPoolComboBox" Type="ComboBox" X="98" Y="92" Width="224" Height="16"
                Property="APPPOOL" Sorted="yes" ComboList="yes">
          <Condition Action="show"><![CDATA[APPLICATION_POOL_TYPE = "EXISTING"]]></Condition>
          <Condition Action="hide"><![CDATA[APPLICATION_POOL_TYPE = "NEW"]]></Condition>
        </Control>
        <Control Id="IdentityLabel" Type="Text" X="40" Y="114" Width="52" Height="15" TabSkip="no" Text="&amp;Identity:">
          <Condition Action="show"><![CDATA[APPLICATION_POOL_TYPE = "NEW"]]></Condition>
          <Condition Action="hide"><![CDATA[APPLICATION_POOL_TYPE = "EXISTING"]]></Condition>
        </Control>
        <Control Type="ComboBox" Property="APPLICATION_POOL_IDENTITY_TYPE" Id="IdentityComboBox" Width="224" Height="16" X="98" Y="112">
          <Condition Action="show"><![CDATA[APPLICATION_POOL_TYPE = "NEW"]]></Condition>
          <Condition Action="hide"><![CDATA[APPLICATION_POOL_TYPE = "EXISTING"]]></Condition>
        </Control>
        <Control Id="DomainPoolLabel" Type="Text" X="40" Y="135" Width="43" Height="15" TabSkip="no" Text="&amp;Domain:">
          <Condition Action="show"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE = "other" AND APPLICATION_POOL_TYPE = "NEW"]]></Condition>
          <Condition Action="hide"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE <> "other" OR APPLICATION_POOL_TYPE = "EXISTING"]]></Condition>
        </Control>
        <Control Id="DomainPoolEdit" Type="Edit" X="98" Y="135" Width="225" Height="15" Property="WEB_APP_POOL_IDENTITY_DOMAIN" Text="{80}">
          <Condition Action="show"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE = "other" AND APPLICATION_POOL_TYPE = "NEW"]]></Condition>
          <Condition Action="hide"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE <> "other" OR APPLICATION_POOL_TYPE = "EXISTING"]]></Condition>
        </Control>
        <Control Id="LoginPoolLabel" Type="Text" X="41" Y="156" Width="39" Height="15" TabSkip="no" Text="&amp;Login:">
          <Condition Action="show"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE = "other" AND APPLICATION_POOL_TYPE = "NEW"]]></Condition>
          <Condition Action="hide"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE <> "other" OR APPLICATION_POOL_TYPE = "EXISTING"]]></Condition>
        </Control>
        <Control Id="LoginPoolEdit" Type="Edit" X="98" Y="154" Width="225" Height="15" Property="WEB_APP_POOL_IDENTITY_NAME" Text="{80}">
          <Condition Action="show"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE = "other" AND APPLICATION_POOL_TYPE = "NEW"]]></Condition>
          <Condition Action="hide"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE <> "other" OR APPLICATION_POOL_TYPE = "EXISTING"]]></Condition>
        </Control>
        <Control Id="PasswordPoolLabel" Type="Text" X="40" Y="174" Width="48" Height="15" TabSkip="no" Text="&amp;Password:">
          <Condition Action="show"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE = "other" AND APPLICATION_POOL_TYPE = "NEW"]]></Condition>
          <Condition Action="hide"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE <> "other" OR APPLICATION_POOL_TYPE = "EXISTING"]]></Condition>
        </Control>
        <Control Id="PasswordPoolEdit" Type="Edit" X="98" Y="172" Width="225" Height="15" Property="WEB_APP_POOL_IDENTITY_PWD" Text="{80}" Password="yes">
          <Condition Action="show"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE = "other" AND APPLICATION_POOL_TYPE = "NEW"]]></Condition>
          <Condition Action="hide"><![CDATA[APPLICATION_POOL_IDENTITY_TYPE <> "other" OR APPLICATION_POOL_TYPE = "EXISTING"]]></Condition>
        </Control>
      </Dialog>
    </UI>
	</Fragment>
</Wix>