<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="PoolSettingsDlg" Width="370" Height="270"
               Title="Application Pool Settings - [ProductName]" NoMinimize="yes">
        <!-- name of the application pool -->
        <Control Id="PoolNameLabel" Type="Text" X="45" Y="73"
            Width="100" Height="15" TabSkip="no" Text="&amp;Pool name:" />
        <Control Id="PoolNameEdit" Type="Edit" X="45" Y="85"
            Width="220" Height="18" Property="WEB_APP_NAME" Text="{80}" />
        <!-- domain -->
        <Control Id="DomainPoolLabel" Type="Text" X="45" Y="105"
            Width="100" Height="15" TabSkip="no" Text="&amp;Domain for AppPool:" />
        <Control Id="DomainPoolEdit" Type="Edit" X="45" Y="117"
            Width="220" Height="18"
            Property="WEB_APP_POOL_IDENTITY_DOMAIN" Text="{80}" />
        <!-- Login -->
        <Control Id="LoginPoolLabel" Type="Text" X="45" Y="137"
          Width="100" Height="15" TabSkip="no" Text="&amp;Login for AppPool:" />
        <Control Id="LoginPoolEdit" Type="Edit" X="45" Y="149"
          Width="220" Height="18" Property="WEB_APP_POOL_IDENTITY_NAME" Text="{80}" />
        <!-- Password -->
        <Control Id="PasswordPoolLabel" Type="Text" X="45" Y="169"
          Width="100" Height="15" TabSkip="no" Text="&amp;Password for AppPool:" />
        <Control Id="PasswordPoolEdit" Type="Edit" X="45" Y="181"
          Width="220" Height="18" Property="WEB_APP_POOL_IDENTITY_PWD"
          Text="{80}" Password="yes" />
        <!-- Back button -->
        <Control Id="Back" Type="PushButton" X="180" Y="243"
          Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="IisSetupDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243"
          Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="InstallDirDlg">
            <!--if settings are correct, allow next dialog-->
            <![CDATA[WEB_APP_NAME <> "" or WEB_APP_POOL_IDENTITY_DOMAIN <> 
                          "" or WEB_APP_POOL_IDENTITY_NAME <> "" 
                          or WEB_APP_POOL_IDENTITY_PWD <> ""]]>
          </Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243"
                Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0"
          Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23"
               Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please enter AppPool Configuration for IIS</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0"
                 Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6"
                 Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Application Pool Settings</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
    </UI>
	</Fragment>
</Wix>