<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<CustomAction Id="UpdateIISPropsWithSelectedWebSite" BinaryKey="Raven.Setup.CustomActions.CA.dll" DllEntry="UpdateIISPropsWithSelectedWebSite" Execute="immediate" Return="check" />
		<CustomAction Id="OpenWebSiteDirectoryChooser" BinaryKey="Raven.Setup.CustomActions.CA.dll" DllEntry="OpenWebSiteDirectoryChooser" Execute="immediate" Return="check" />
		<CustomAction Id="SetApplicationPoolIdentityType" BinaryKey="Raven.Setup.CustomActions.CA.dll" DllEntry="SetApplicationPoolIdentityType" Execute="immediate" Return="check" />
		<Property Id="CUSTOM_APPLICATION_POOL" Value="1" />
		<Property Id="WEBSITE" Value="1" />
		<EnsureTable Id="ComboBox" />
		<Property Id="WEBSITE_TYPE" Value="NEW" />
		<UI>
			<Dialog Id="WebSiteSettingsDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back" />
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
					<Condition Action="disable"><![CDATA[WEBSITE_TYPE = "NEW" AND (WEBSITE_DESCRIPTION = "" OR WEBSITE_PATH = "" OR WEBSITE_PORT = "")]]></Condition>
					<Condition Action="enable"><![CDATA[(WEBSITE_TYPE = "EXISTING") OR (WEBSITE_TYPE = "NEW" AND (WEBSITE_DESCRIPTION <> ""  AND WEBSITE_PATH <> "" AND WEBSITE_PORT <> ""))]]></Condition>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel" />
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Please enter the web site configuration</Text>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\WixUI_Font_Title}IIS settings</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Type="RadioButtonGroup" Property="WEBSITE_TYPE" Id="SiteNewOrExisting" Width="280" Height="20" X="78" Y="64">
					<RadioButtonGroup Property="WEBSITE_TYPE">
						<RadioButton Text="Create a new one" Value="NEW" Height="17" Width="90" X="0" Y="0" />
						<RadioButton Text="Use an existing one" Value="EXISTING" Height="17" Width="100" X="120" Y="0" />
					</RadioButtonGroup>
				</Control>
				<Control Id="WebSiteLabel" Type="Text" X="40" Y="94" Width="64" Height="9" TabSkip="no" Text="&amp;Web site name:" />
				<Control Id="WebSiteEdit" Type="Edit" X="110" Y="92" Width="220" Height="15" Property="WEBSITE_DESCRIPTION">
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
				</Control>
				<Control Id="WebSiteComboBox" Type="ComboBox" X="110" Y="92" Width="220" Height="16" Property="WEBSITE" Sorted="yes" ComboList="yes">
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
				</Control>
				<Control Id="VirtualDirLabel" Type="Text" X="40" Y="113" Width="67" Height="15" TabSkip="no" Text="&amp;Virtual directory:">
				</Control>
				<Control Id="VirtualDirEdit" Type="Edit" X="110" Y="110" Width="220" Height="15" Property="WEBSITE_VD" Text="{80}" />
				<Control Type="Text" Id="websitePathLabel" Width="58" Height="10" X="40" Y="134" Text="Web site path:">
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
				</Control>
				<Control Id="NewWebSitePath" Type="Edit" X="110" Y="131" Width="186" Height="15" Property="WEBSITE_PATH" Text="[WEBSITE_PATH]">
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
				</Control>
				<Control Type="PushButton" Id="btnChange" Width="29" Height="17" X="300" Y="130" Text="&amp;Select" TabSkip="no">
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
          <Condition Action="disable">NOT WINDOWS_EXPLORER_AVAILABLE</Condition>
          <Condition Action="enable">WINDOWS_EXPLORER_AVAILABLE</Condition>
				</Control>
				<Control Type="Text" Id="hostNameLabel" Width="50" Height="11" X="40" Y="156" Text="&amp;Host name:" TabSkip="no">
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
				</Control>
				<Control Type="Edit" Id="webSiteHostName" Width="220" Height="15" X="110" Y="152" Property="WEBSITE_HOSTNAME" Text="[WEBSITE_HOSTNAME]">
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
				</Control>
				<Control Type="Text" Id="WebSitePortLabel" Width="50" Height="11" X="40" Y="174" Text="&amp;Port:" TabSkip="no">
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
				</Control>
				<Control Type="Edit" Id="WebSitePortEdit" Width="71" Height="15" X="110" Y="172" Property="WEBSITE_PORT" Text="[WEBSITE_PORT]">
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
				</Control>
				<Control Type="PushButton" Id="checkPort" Width="75" Height="17" X="185" Y="171">
					<Text>Check availability</Text>
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
				</Control>
				<Control Type="Text" Id="portInfo" Width="91" Height="17" X="262" Y="174" Property="PORT_AVAILABILITY" Text="[PORT_AVAILABILITY]">
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
				</Control>
				<Control Id="RevokePortReservation" Type="CheckBox" X="110" Y="190" Width="250" Height="15" Property="REVOKE_PORT_RESERVATION" CheckBoxValue="1" TabSkip="no">
					<Text>{\SmallInfo}&amp;Revoke URL reservation for this port in HTTP.SYS</Text>
					<Condition Action="show"><![CDATA[WEBSITE_TYPE = "NEW"]]></Condition>
					<Condition Action="hide"><![CDATA[WEBSITE_TYPE = "EXISTING"]]></Condition>
				</Control>
				<Control Id="CustomAppPoolCheckBox" Type="CheckBox" X="45" Y="218" Width="250" Height="15" Property="CUSTOM_APPLICATION_POOL" CheckBoxValue="1" TabSkip="no">
					<Text>Use a &amp;custom application pool instead of the web site's default</Text>
				</Control>
			</Dialog>
			<Publish Dialog="WebSiteSettingsDlg" Control="btnChange" Event="DoAction" Value="OpenWebSiteDirectoryChooser" Order="1">1</Publish>
			<Publish Dialog="WebSiteSettingsDlg" Control="btnChange" Property="WEBSITE_PATH" Value="[WEBSITE_PATH]" Order="2">1</Publish>
		</UI>
	</Fragment>
</Wix>