<div class='session-information'>
    <table class='session-table'>
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Http Result
                </th>
                <th>
                    Method
                </th>
                <th>
                    Url
                </th>
                <th>
                    Query
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {{each Requests}}
            <tr>
                <td>
                    ${Status}
                </td>
                <td>
                    ${HttpResult}
                </td>
                <td>
                    ${Method}
                </td>
                <td>
                    ${$item.url(Url)}
                </td>
                <td>
                    <pre>${$item.query(Url)}</pre>
                </td>
                <td>
                    <ul>
                        <li><a href="#" class='copy-full-url'>Copy Full Url</a></li>
                        <li><a href="#" class='show-request-details'>Request Details</a></li>
                    </ul>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
