<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
    <?include ServiceSettings.wxi ?>
    
    <DirectoryRef Id='INSTALLFOLDER'>
      <Component Id="Raven.Server" Guid="70BBCA5D-5EC0-4D96-80FD-823AD8759B2E">
        <File Id='Nlog.dll_Service' Name='Nlog.dll' DiskId='1' Source='$(var.Raven.Server.TargetDir)\Nlog.dll' />
        <File Id='Raven.Server.exe.config' Name='Raven.Server.exe.config' DiskId='1' Source='$(var.SolutionDir)\DefaultConfigs\RavenDb.exe.config' />
        <File Id="Raven.Server" Name='$(var.Raven.Server.ProjectName).exe' DiskId='1' Source='$(var.Raven.Server.TargetPath)' KeyPath='yes'>
        </File>
       
        <util:XmlFile Id="ModifyPort"
                 Action="setValue"
                 Permanent="yes"
                 ElementPath="/configuration/appSettings/add[\[]@key='Raven/Port'[\]]"
                 Name="value"
                 File="[#Raven.Server.exe.config]"
                 Value="[SERVICE_PORT]"
                 SelectionLanguage="XSLPattern"
                 Sequence="1" />
        <util:XmlFile Id="AddEmptySetting"
                 Action="createElement"
                 Permanent="yes"
                 ElementPath="/configuration/appSettings"
                 Name="add"
                 File="[#Raven.Server.exe.config]"
                 SelectionLanguage="XSLPattern"
                 Sequence="2" />
        <util:XmlFile Id="AddRavenLicensePathKey"
                 Action="setValue"
                 Permanent="yes"
                 ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
                 Name="key"
                 Value="Raven/LicensePath"
                 File="[#Raven.Server.exe.config]"
                 SelectionLanguage="XSLPattern"
                 Sequence="3" />
        <util:XmlFile Id="SetLicenseFilePath"
                 Action="setValue"
                 Permanent="yes"
                 ElementPath="/configuration/appSettings/add[\[]@key='Raven/LicensePath'[\]]"
                 Name="value"
                 File="[#Raven.Server.exe.config]"
                 Value="[RAVEN_LICENSE_FILE_PATH]"
                 SelectionLanguage="XSLPattern"
                 Sequence="4" />
      </Component>
      <Component Id="PersistServiceValues" Guid="{54DE475A-D1B2-4536-9598-A77AA3BC0264}" >
        <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" >
          <RegistryValue Type="string" Name="SERVICE_NAME" Value="[SERVICE_NAME]"  />
        </RegistryKey>
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>