<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		 xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
	<Fragment>
		<?include ServiceSettings.wxi ?>

		<DirectoryRef Id='INSTALLFOLDER'>
			<Component Id="Raven.Server" Guid="70BBCA5D-5EC0-4D96-80FD-823AD8759B2E">
				<File Id="Raven.Server" Name='$(var.Raven.Server.ProjectName).exe' DiskId='1' Source='$(var.Raven.Server.TargetPath)' KeyPath='yes' />
				<File Id="Html.Studio.Server" Name="Raven.Studio.Html5.zip" DiskId="1" Source="..\artifacts\Raven.Studio.Html5.zip" />

				<fire:FirewallException Id="Firewall.Raven.Server" Name="RavenDB - Service - [SERVICE_PORT]" Port="[SERVICE_PORT]"
																Protocol="tcp" Scope="any" IgnoreFailure="yes" Program="System" />
			</Component>
			<Component Id="PersistServiceValues" Guid="{54DE475A-D1B2-4536-9598-A77AA3BC0264}" >
				<RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\v3.5" >
					<RegistryValue Type="string" Name="SERVICE_NAME" Value="[SERVICE_NAME]"  />
					<RegistryValue Type="string" Name="SERVICE_PORT" Value="[SERVICE_PORT]" />
				</RegistryKey>
			</Component>

			<Component Id="Raven.Server.Config.File" Guid="2DBA3C81-E507-4811-90A0-D3807AC40C9C" Permanent="yes" NeverOverwrite="yes">
				<File Id='Raven.Server.exe.config' Name='Raven.Server.exe.config' DiskId='1' Source='$(var.SolutionDir)\DefaultConfigs\RavenDb.exe.config' KeyPath='yes' />
				<util:XmlFile Id="ModifyPort"
												 Action="setValue"
												 Permanent="yes"
												 ElementPath="/configuration/appSettings/add[\[]@key='Raven/Port'[\]]"
												 Name="value"
												 File="[#Raven.Server.exe.config]"
												 Value="[SERVICE_PORT]"
												 SelectionLanguage="XSLPattern"
												 Sequence="1" />
				<util:XmlFile Id="SetDataDir"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]@key='Raven/DataDir'[\]]"
											Name="value"
											File="[#Raven.Server.exe.config]"
											Value="[RAVEN_DATA_DIR]\System"
											SelectionLanguage="XSLPattern"
											Sequence="5" />
				<util:XmlFile Id="AddEmptyIndexStoragePathSetting"
											Action="createElement"
											Permanent="yes"
											ElementPath="/configuration/appSettings"
											Name="add"
											File="[#Raven.Server.exe.config]"
											SelectionLanguage="XSLPattern"
											Sequence="6" />
				<util:XmlFile Id="AddIndexStoragePath"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
											Name="key"
											Value="Raven/IndexStoragePath"
											File="[#Raven.Server.exe.config]"
											SelectionLanguage="XSLPattern"
											Sequence="7" />
				<util:XmlFile Id="SetIndexStoragePath"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]@key='Raven/IndexStoragePath'[\]]"
											Name="value"
											File="[#Raven.Server.exe.config]"
											Value="[RAVEN_INDEX_DIR]"
											SelectionLanguage="XSLPattern"
											Sequence="8" />

				<util:XmlFile Id="AddTransactionJournalsPathSetting"
											Action="createElement"
											Permanent="yes"
											ElementPath="/configuration/appSettings"
											Name="add"
											File="[#Raven.Server.exe.config]"
											SelectionLanguage="XSLPattern"
											Sequence="9" />
				<util:XmlFile Id="AddTransactionJournalsPath"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
											Name="key"
											Value="Raven/TransactionJournalsPath"
											File="[#Raven.Server.exe.config]"
											SelectionLanguage="XSLPattern"
											Sequence="10" />
				<util:XmlFile Id="SetTransactionJournalsPath"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]@key='Raven/TransactionJournalsPath'[\]]"
											Name="value"
											File="[#Raven.Server.exe.config]"
											Value="[RAVEN_STORAGE_LOGS_DIR]"
											SelectionLanguage="XSLPattern"
											Sequence="11" />
				<util:XmlFile Id="AddEmptyWorkingDirPathSetting"
											Action="createElement"
											Permanent="yes"
											ElementPath="/configuration/appSettings"
											Name="add"
											File="[#Raven.Server.exe.config]"
											SelectionLanguage="XSLPattern"
											Sequence="12" />
				<util:XmlFile Id="AddWorkingDirPath"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
											Name="key"
											Value="Raven/WorkingDir"
											File="[#Raven.Server.exe.config]"
											SelectionLanguage="XSLPattern"
											Sequence="13" />
				<util:XmlFile Id="SetWorkingDirPath"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]@key='Raven/WorkingDir'[\]]"
											Name="value"
											File="[#Raven.Server.exe.config]"
											Value="[RAVEN_WORKING_DIR]"
											SelectionLanguage="XSLPattern"
											Sequence="14" />

				<util:XmlFile Id="AddEmptyFileSystemDataDirPathSetting"
											Action="createElement"
											Permanent="yes"
											ElementPath="/configuration/appSettings"
											Name="add"
											File="[#Raven.Server.exe.config]"
											SelectionLanguage="XSLPattern"
											Sequence="15" />
				<util:XmlFile Id="AddFileSystemDataDirPath"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]not(@key)[\]] "
											Name="key"
											Value="Raven/FileSystem/DataDir"
											File="[#Raven.Server.exe.config]"
											SelectionLanguage="XSLPattern"
											Sequence="16" />
				<util:XmlFile Id="SetFileSystemDataDirPath"
											Action="setValue"
											Permanent="yes"
											ElementPath="/configuration/appSettings/add[\[]@key='Raven/FileSystem/DataDir'[\]]"
											Name="value"
											File="[#Raven.Server.exe.config]"
											Value="[RAVENFS_DATA_DIR]"
											SelectionLanguage="XSLPattern"
											Sequence="17" />
			</Component>
			<Component Id="Raven.Server.Shortcut" Guid="C7A448B6-5E3B-4705-B2D6-3766D83E8924">
        <Condition>WINDOWS_EXPLORER_AVAILABLE</Condition>
				<CreateFolder />
				<util:InternetShortcut
					Id="ServerLocalhostShortcut"
					Directory="DesktopFolder"
					Name="RavenDB Studio"
					Target="http://localhost:[SERVICE_PORT]" Type="url" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
