@use "Content/scss/sizes";

.chatbot {
    z-index: calc(var(--zindex-notification-center) - 1);

    .prompt-textarea {
        border-radius: sizes.$border-radius;
        field-sizing: content;
        min-height: 75px !important;
        max-height: 200px;
        resize: none;
    }
}
