@use "Content/scss/bs5variables";
@use "Content/scss/colors";

@keyframes pulse-opacity {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.chatbot-nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border: 1px solid transparent !important;
    border-radius: 50% !important;
    position: relative;
    background: colors.$ai-gradient !important;
    background-size: 200% auto !important;
    background-origin: border-box !important;
    transition: bs5variables.$transition-base;
    z-index: 0;
    will-change: box-shadow;

    &::before {
        content: "";
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        background: colors.$body-bg-var;
        transition: bs5variables.$transition-base;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        z-index: -1;
        box-shadow:
            0 0 8px #ffffff50,
            -3px 0 12px #388ee970,
            3px 0 12px #7b51ff70;
        animation: pulse-opacity 4s ease-in-out infinite;
        transition: bs5variables.$transition-base;
    }

    i {
        position: relative;
        z-index: 1;
        font-size: 16px;
        color: colors.$text-emphasis-var;
        transition: bs5variables.$transition-base;
    }

    &:hover,
    &.active {
        border-color: #7299fc !important;
        box-shadow:
            inset 0 -4px 8px #ffffff30,
            inset -4px 0 8px #7b51ff,
            inset 4px 0 8px #388ee9,
            inset 4px 0 4px #7b51ff !important;

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 0;
            animation: none;
        }

        i {
            color: var(--bs-white);

            &::before {
                -webkit-text-fill-color: var(--bs-white);
                color: var(--bs-white);
            }
        }
    }
}
