<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand hidden-xs" href="#">RavenDB</a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li data-bind="with: notificationCenter">
                    <a href="#" id="notification-toggle" class="btn-toggle" data-bind="{ click: showNotifications.toggle.bind(showNotifications), css: { 'active': showNotifications() } }">
                        <span class="icon-notifications"></span>
                        <span class="notification-counter show" data-bind="text: totalItemsCount(), attr: { 'data-count': totalItemsCount() }, css: { 'show': alertCountAnimation() }"></span>
                    </a>
                </li>
                <li><a target="_blank" data-bind="attr: { href: currentHelpLink }" class="icon-help"></a></li>
                <li><a href="#" class="icon-search btn-toggle visible-xs-inline-block visible-sm-inline-block" data-target=".inputs-container" data-class="show-inputs"></a></li>
                <li><a href="#" class="icon-menu btn-toggle visible-xs-inline-block visible-sm-inline-block" data-target="#main-menu" data-class="show-menu"></a></li>
            </ul>
            <div class="inputs-container hidden-xs">
                <div class="search-prerelease"><i class="icon-search"></i><span>search</span> <span class="text-muted"> | in development</span></div>
                <!--<div class="search-container">
                    <input type="search" class="form-control omnisearch" placeholder="search" />
                    <div class="icon-search"></div>
                    <div class="autocomplete-list box-container">
                        <div class="scroller">
                            <section>
                                <h4>Menu</h4>
                                <ul>
                                    <li><a href="#"><span class="icon-documents"></span>Compact</a></li>
                                </ul>
                            </section>
                            <section>
                                <h4>Documents</h4>
                                <ul>
                                    <li>
                                        <a href="#"><span class="icon-document-group" style="color:#93278f;"></span>Companies</a>
                                        <ul>
                                            <li><a href="#"><span class="icon-document" style="color:#93278f;"></span>Companies/1</a></li>
                                            <li><a href="#"><span class="icon-document" style="color:#93278f;"></span>Companies/2</a></li>
                                            <li><a href="#"><span class="icon-document" style="color:#93278f;"></span>Companies/3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"><span class="icon-document-group" style="color:#ff0351;"></span>Computers</a>
                                        <ul>
                                            <li><a href="#"><span class="icon-document" style="color:#ff0351;"></span>Computers/1</a></li>
                                            <li><a href="#"><span class="icon-document" style="color:#ff0351;"></span>Companies/2</a></li>
                                            <li><a href="#"><span class="icon-document" style="color:#ff0351;"></span>Companies/3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="more">MORE</a></li>
                                </ul>
                            </section>
                            <section>
                                <h4>Indexes</h4>
                                <ul>
                                    <li><a href="#"><span class="icon-arrow-filled-right"></span>Orders/ByCompany</a></li>
                                </ul>
                            </section>
                            <section>
                                <h4>Transformers</h4>
                                <ul>
                                    <li><a href="#"><span class="icon-arrow-filled-right"></span>Orders/Company</a></li>
                                </ul>
                            </section>
                            <section class="text-center">
                                <div class="global-spinner"></div>
                            </section>
                        </div>
                    </div>
                </div>-->
                <div class="resource-switcher-container" data-bind="with: resourceSwitcher">
                    <div class="form-control btn-toggle resource-switcher">
                        <span class="database" data-bind="text: $root.activeResource() ? $root.activeResource().name:''"></span>
                    </div>
                    <div class="box-container">
                        <div class="resource-filter-container">
                            <input type="search" class="database-filter form-control" data-bind="textInput: filter" placeholder="filter" />
                        </div>
                        <div class="scroller">
                            <section>
                                <ul class="database-list" data-bind="foreach: filteredResources">
                                    <li><a href="#" data-bind="click: $parent.selectResource.bind($parent, $data), text: name" class="database"></a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<script type="text/html" id="leafMenuItem">
    <li data-bind="with: item, css: { 'active': menu.activeItem() === item }">
        <a data-bind="click: $parent.menu.navigate.bind($parent.menu), visible: nav === true, attr: { href: path, title: title }">
            <i data-bind="css: css"></i>
            <span data-bind="text: title"></span>
        </a>
    </li>
</script>

<script type="text/html" id="intermediateMenuItem">
    <li class="arrow-right">
        <a data-bind="attr: { title: item.title }, click: menu.handleIntermediateItemClick.bind(menu), css: { 'active': item.isOpen }">
            <i data-bind="css: item.css"></i>
            <span data-bind="text: item.title"></span>
        </a>
        <div data-bind="click: menu.handleLevelClick.bind(menu), css: { 'level-show': item.isOpen, ['level-' + (item.depth() + 1) ]: true }, attr: { 'data-level-name': item.title, 'data-level': item.depth() + 1 }" class="level">
            <h2>
                <a class="back" title="back"
                   data-bind="click: menu.back.bind(menu)"></a>
                <!-- ko text: item.title --><!-- /ko -->
            </h2>

            <ul data-bind="foreach: item.children">
                <!-- ko template: { name: type + 'MenuItem', data: { item: $data, level: $parent.level + 1, menu: $parent.menu }} -->
                <!-- /ko -->
            </ul>
        </div>

</script>

<script type="text/html" id="separatorMenuItem">
    <!-- ko if: !!item.title -->
    <h3 data-bind="text: item.title"></h3>
    <!-- /ko -->
    <!-- ko if: !item.title -->
    <hr />
    <!-- /ko -->
</script>

<nav id="main-menu" class="main-menu"
     data-bind="with: mainMenu, attr: { 'data-level': mainMenu.level }">
    <div class="level-0"
         data-level="0"
         data-level-name="Menu"
         data-bind="click: handleLevelClick">
        <ul data-bind="foreach: items">
            <!-- ko template: { name: type + 'MenuItem', data: { item: $data, menu: $parent }} -->
            <!-- /ko -->
        </ul>
    </div>
</nav>

<div data-bind="compose: 'notifications/notificationCenter.html'"></div>

<div id="page-host-root" class="container-fluid content-container">
    <div class="content-container-margin">
        <div id="page-host" class="page-host" data-bind="router: { cacheViews: false }"></div>
    </div>
</div>

<div class="prerelease-alert bg-prerelease">
    <p>
        PRERELEASE SOFTWARE
    </p>
</div>

