.session-table > tbody > tr > td
{
    border-bottom: 1px dashed orange;
    padding-bottom: 2px;
    padding-top: 2px;
}
.session-table > tbody > tr > th
{
    border-bottom: 1px dashed orange;
    padding-bottom: 2px;
    padding-top: 2px;
}

.session-table > tbody > tr > td
{
    padding-left: 10px;
}


.rdbprofilerbutton
{
    position: absolute;
    left: 0;
    top: 0;
    background: Orange;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.1em;
    z-index: 2147483647;
    cursor: pointer;
}

.ravendb-profiler-results
{
    position: absolute;
    left: 0;
    top: 1em;
    border: 1px solid black;
    background: white;
    padding: 1em;
    border-radius: 5px;
    z-index: 2147483647;
}
.rdbResultHolder
{
    padding-left: 1em;
}

.request-details
{
    position: absolute;
    left: 10px;
    top: 100px;
    border: 2px solid black;
    background-color: White;
    min-height: 300px;
    min-width: 600px;
    max-height: 600px;
    max-width: 100%;
    padding: 15px;
    overflow: auto;
    
}

.request-details-table td
{
    padding: 10px;
    margin-left: 10px;
}

.request-details-table th
{
    padding: 10px;
    margin-left: 10px;
}

pre.query {
	margin: 0;
	border: none;
	background-color: white;
}

.ravendb-profiler-results h1 {
	font-size: 24px;
}