<div class="conflicts-page flex-horizontal flex-stretch-items absolute-fill content-margin">
    <div class="flex-vertical">
        <div class="conflicts-list-container flex-vertical flex-grow" style="position:relative;">
            <virtual-grid class="resizable virtual-grid" params="controller: gridController, emptyTemplate: 'no-conflicts-found-template'"></virtual-grid>
        </div>
    </div>
    <div class="flex-vertical flex-grow" data-bind="visible: hasDetailsLoaded">
        
        <h2 data-bind="text: 'Resolving conflict for: ' + documentId()"></h2>

        <div class="conflicted-files flex-stretch-items flex-horizontal" data-bind="foreach: conflictItems">
            <div class="file">
                <pre data-bind="visible: !deletedMarker()"><code data-bind="html: formattedValue"></code></pre>
                <pre data-bind="visible: deletedMarker()"><code>Document was removed.</code></pre>
            </div>
        </div>
        
        <div class="margin-bottom">
            <button class="btn btn-primary" data-bind="click: saveDocument"><i class="icon-save"></i> <span>Save</span></button>
            <button type="button" data-bind="click: deleteDocument" class="btn btn-danger">
                <i class="icon-trash"></i>
                <span>Delete</span>
            </button>
        </div>

        <div class="result-file flex-grow">
            <pre id="docEditor" class="form-control absolute-fill"
                 data-bind="aceEditor: { code: suggestedResolution, fontSize:'16px', lang: 'ace/mode/json' }, attr: { disabled: isBusy }, validationElement: suggestedResolution"></pre>
        </div>
            
        <div data-bind="validationElement: suggestedResolution">
            <div class="help-block" data-bind="validationMessage: suggestedResolution"></div>
        </div>
    </div>
</div>

<script type="text/html" id="no-conflicts-found-template">
    No conflicts found.
</script>