@use "Content/scss/bs5variables";

.about-view-dropdown .popover {
    width: 500px;
    max-width: 90vw;
    font-size: bs5variables.$font-size-sm;
    border: none;
    color: bs5variables.$text-color-var;
    box-shadow: bs5variables.$box-shadow, 0 0 100px 0 inset rgba(var(--bs-info-rgb), 0.2);
    border-radius: bs5variables.$border-radius-lg;
}
