@each $key, $value in $theme-colors {
    .bg-#{$key} {
        color: color-contrast($value);
    }
}

@each $key, $value in $theme-colors {
    .bg-faded-#{$key} {
        background-color: mix($panel-bg-1, $value, 80%);
        color: mix($text-emphasis-color, $value, 30%);
    }
}
