.btn-xs {
    @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-border-radius-sm);
}

.btn-outline-secondary {
    @include button-outline-variant($secondary-outline); //fix outline button contrast
}

.btn-outline-node {
    @include button-outline-variant($node-color);
}

.btn-outline-shard {
    @include button-outline-variant($shard-color);
}

.btn-text {
    --#{$prefix}btn-color: #{$text-color-var};
    --#{$prefix}btn-hover-color: #{$text-emphasis-var};
    --#{$prefix}btn-hover-bg: transparent;
    --#{$prefix}btn-active-color: #{$text-emphasis-var};
    --#{$prefix}btn-active-bg: transparent;
    --#{$prefix}btn-active-border-color: transparent;
    --#{$prefix}btn-disabled-color: #{$text-muted-var};
    --#{$prefix}btn-disabled-bg: transparent;
    --#{$prefix}btn-disabled-border-color: transparent;
    --#{$prefix}btn-focus-shadow-rgb: var(--#{$prefix}body-color-rgb);
}

.rounded-group {
    & > .btn {
        border-radius: $border-radius-lg;
        &:first-child {
            padding-left: $gutter-xs;
        }
        &:last-child {
            padding-right: $gutter-xs;
        }
    }
}
