@use "Content/scss/colors";
@use "Content/scss/sizes";

.code {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: sizes.$gutter-xxs;
    background-color: colors.$well-bg-var;

    .code-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: sizes.$gutter-xxs sizes.$gutter-xs;
        border-bottom: 1px solid colors.$panel-bg-1-var;
        font-size: 0.875em;

        .btn {
            font-size: 0.875em;
            padding: 0;
        }
    }

    .code-classes {
        height: unset;
        padding: sizes.$gutter-sm;
        background-color: colors.$well-bg-var;
        border-radius: sizes.$gutter-xxs;

        > code {
            min-width: 0;
        }

        .wrapped {
            white-space: pre-wrap; /* Since CSS 2.1 */
            word-wrap: break-word;
        }
    }
}
