@use "Content/scss/sizes";
@use "Content/scss/colors";

.code {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: sizes.$gutter-xxs;
    background-color: colors.$well-bg-var;

    .code-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: sizes.$gutter-xxs sizes.$gutter-xs;
        border-bottom: 1px solid colors.$panel-bg-1-var;
    }

    .code-classes {
        height: unset;
        padding: sizes.$gutter-xs;
        background-color: var(--well-bg);
        border-radius: sizes.$gutter-xxs;

        .wrapped {
            white-space: pre-wrap; /* Since CSS 2.1 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word;
        }
    }
}
