@use "Content/scss/bs5variables";

.feature-availability-table {
    $table-border-radius: bs5variables.$border-radius-md;
    border: bs5variables.$border-width solid bs5variables.$border-color-light;
    border-radius: $table-border-radius;
    text-align: center;
    margin-bottom: bs5variables.$gutter-lg;

    --license-color: var(--bs-secondary);

    .developer {
        --license-color: var(--license-developer);
    }
    .community {
        --license-color: var(--license-community);
    }
    .professional {
        --license-color: var(--license-professional);
    }
    .enterprise {
        --license-color: var(--license-enterprise);
    }

    table {
        border-collapse: unset;
        margin-bottom: bs5variables.$gutter * -1 !important;
        th,
        td {
            border: 0;
        }
        th {
            color: bs5variables.$text-muted-var;
        }

        .current {
            background-color: var(--faded-primary);
        }

        thead {
            th {
                padding-top: bs5variables.$gutter-sm !important;
                font-weight: normal;
                .license-dot {
                    color: var(--license-color);
                }
                &.current {
                    border: bs5variables.$border-width solid var(--license-color);
                    border-bottom: none;
                    font-weight: bold;
                    color: bs5variables.$text-emphasis-var;
                }
            }
        }
        tbody {
            .current {
                border: bs5variables.$border-width solid var(--license-color);
                border-top: 0;
                border-bottom: 0;
            }

            th {
                font-size: bs5variables.$font-size-xs;
                font-weight: normal;
                border-bottom: 0;
                text-align: left;
            }

            tr.current-indicator-row {
                td,
                th {
                    &.current {
                        border-bottom: bs5variables.$border-width solid var(--license-color);
                        border-radius: 0 0 $table-border-radius $table-border-radius;
                        color: var(--license-color);
                        text-transform: uppercase;
                        letter-spacing: 0.16em;
                        font-weight: bold;
                        font-size: bs5variables.$font-size-xs;
                    }
                }
            }
        }
    }
}
