@use "Content/scss/variables";

@for $i from 1 through 6 {
    $zIndexBackdrop: #{variables.$zindex-modal + (5 * $i)};
    $zIndexContent: #{variables.$zindex-modal + (5 * $i) + 2};
    .modal-backdrop.show:nth-of-type(#{$i}) {
        z-index: $zIndexBackdrop;
    }
    div[role="dialog"][aria-modal="true"]:nth-of-type(#{$i}) {
        z-index: $zIndexContent !important;
    }
}
