@use "Content/scss/bs5variables";

.node-set {
    display: inline-flex;
    flex-wrap: wrap;
    padding: bs5variables.$gutter-xxs * 0.5 bs5variables.$gutter-xs;
    border-left: 4px solid;
    border-radius: bs5variables.$border-radius;

    .node-set-list {
        display: flex;
        flex-direction: row;
    }

    .node-set-label {
        margin: bs5variables.$gutter-xxs * 0.5 bs5variables.$gutter-sm * 0.5;
        i {
            transform: scale(1.2);
            margin-right: 0.2em;
        }

        .node-set-label-name {
            font-weight: 600;
        }
    }

    .node-set-item {
        margin: bs5variables.$gutter-xxs * 0.5 bs5variables.$gutter-sm * 0.5;

        i {
            margin-right: 0.2em;
            display: inline-block;
        }

        .node-set-item-name {
            position: relative;
            font-weight: 800;
            color: bs5variables.$text-emphasis-var;
        }
    }
    .form-label {
        margin-bottom: 0;
        cursor: pointer;
    }
    .form-check {
        margin-top: bs5variables.$gutter-xxs;
        min-height: 0;
    }
}
