@use "sass:math";
@use "Content/scss/bs5variables";

$status-border-radius: bs5variables.$gutter-xs;

.rich-panel-item {
    & + .rich-panel-item {
        margin-top: bs5variables.$gutter-sm;
    }

    .rich-panel-header {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .rich-panel-select {
            width: bs5variables.$gutter;
            height: bs5variables.$gutter;
            margin: 0 bs5variables.$gutter-xxs 0 0;
            min-height: auto;
        }

        .rich-panel-info,
        .rich-panel-actions {
            padding: bs5variables.$gutter-xs bs5variables.$gutter-sm;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .rich-panel-actions {
            justify-content: end;
            flex-grow: 1;
        }
    }

    &.active {
        &::before {
            $width: bs5variables.$gutter;

            content: "active";
            position: absolute;
            top: 0;
            left: ($width * -1) + $status-border-radius - 2;
            border-radius: 0 $status-border-radius $status-border-radius 0;
            height: 100%;
            width: $width;
            line-height: $width - $status-border-radius;
            z-index: 1;
            writing-mode: vertical-rl;
            transform: rotate(180.1deg);
            text-align: center;
            color: bs5variables.$black;
            box-shadow: ($width * -1 + $status-border-radius) 0px 0px 0px bs5variables.$primary-var inset;
            font-size: bs5variables.$badge-font-size;
            font-weight: bs5variables.$badge-font-weight;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
    }

    .rich-panel-status {
        writing-mode: vertical-rl;
        transform: rotate(180.1deg);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border-radius: 0 $status-border-radius $status-border-radius 0 !important;
    }

    .rich-panel-details {
        padding: bs5variables.$gutter-xs math.div(bs5variables.$gutter, 2);
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;

        .rich-panel-details-right {
            display: flex;
            justify-content: end;
            flex-grow: 1;
            align-items: flex-end;
            flex-wrap: wrap;
        }

        .rich-panel-detail-item {
            margin: bs5variables.$gutter-xs math.div(bs5variables.$gutter, 2);
        }

        .rich-panel-detail-item-sm {
            margin: bs5variables.$gutter-xs math.div(bs5variables.$gutter, 2);
            font-size: bs5variables.$font-size-sm;
        }

        .detail-item-label {
            font-size: bs5variables.$font-size-xs;
            color: bs5variables.$text-muted-var;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            line-height: 1.1em;
            margin-bottom: 2px;
        }
        .detail-item-content {
            display: flex;
            align-items: center;
            line-height: 1.4em;

            & > i {
                margin-right: bs5variables.$gutter-xxs;
            }

            a:not(:hover) {
                color: inherit;
            }
        }

        .value {
            margin-left: bs5variables.$gutter-xxs;
            font-weight: bold;
            color: bs5variables.$text-emphasis-var;
        }

        .progress-circle .state-indicator {
            margin-top: -3px;
            margin-bottom: -3px;
        }
    }
}
