@use 'sass:math';
@use "Content/scss/variables";
@use "Content/scss/colors";
@use "Content/scss/sizes";

.rich-panel-item {

    & + .rich-panel-item {
        margin-top: sizes.$gutter;
    }

    .rich-panel-header {        
        padding: sizes.$gutter-sm;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .rich-panel-select {
            width: sizes.$gutter;
            height: sizes.$gutter;
            margin-right: sizes.$gutter-sm;
        }
    }

    .rich-panel-details {
        padding: sizes.$gutter-xs math.div(sizes.$gutter, 2);
        padding-left: sizes.$gutter-md;
        display: flex;

        .rich-panel-detail-item {
            padding: sizes.$gutter-xs math.div(sizes.$gutter, 2);
            display: flex;
            align-items: center;

            & > i {
                margin-right: sizes.$gutter-xxs;
            }

            .value {
                margin-left: sizes.$gutter-xxs;
                font-weight: bold;
                color: colors.$white;
            }

            .progress-circle .state-indicator {
                margin-top: -3px;
                margin-bottom: -3px;
            }
        }
    }
}
