<div id="about-page" class="content-margin">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <i class="icon-logo text-primary"></i>
                    <h3 class="text-center">Server: <span data-bind="text: serverVersion().FullVersion"></span></h3>
                    <h3 class="text-center">Studio: <span data-bind="text: clientVersion()"></span></h3>


                </div>
                <div class="col-sm-6 text-center">
                       <div>
                        <div class="roundborder upcoming">
                            <i class="icon-document"></i>
                        </div>
                        <h3>LICENSE</h3>
                        <h4 data-bind="text: licenseType"></h4>
                    </div>
   
                    <div>
                        <div data-bind="visible: formattedExpiration">
                            Expires on: <span data-bind="text: formattedExpiration"></span>
                        </div>
                        <div data-bind="visible: shortDescription">
                            <span data-bind="text: shortDescription"></span>
                        </div>
                    </div>
                    <button class="btn btn-lg" data-bind="click: register, visible: !registered()">Register</button>
                </div>
                <div class="col-sm-6 text-center">                   
                        <div>
                            <div class="roundborder upcoming">
                                <i class="icon-help"></i>
                            </div>
                            <h3>SUPPORT</h3>
                            <h4>Upcoming in final release</h4>
                            <!--<p data-bind="visible: formattedExpiration">&nbsp;</p>-->
                            <!--<p data-bind="visible: shortDescription">&nbsp;</p>-->
                        </div>
                    <a data-bind="click: openFeedbackForm" class="btn btn-lg">Feedback</a>
                </div>
            </div>

            <hr />



            <p class="text-center">
                <small>Copyright &copy; 2017 Hibernating Rhinos. All rights reserved</small>
            </p>
        </div>
    </div>
</div>