<div id="about-page" class="content-margin">
    <div class="about-info">
        <div class="text-center">
            <a href="https://ravendb.net/" target="_blank" class="visible-block"><i class="icon-logo text-primary"></i></a>
            <div class="social margin-bottom margin-lg on-base-background">
                <a href="https://www.facebook.com/RavenDB-265907650186374/" target="_blank"><i class="icon-facebook"></i></a>
                <a href="https://twitter.com/ravendb" target="_blank"><i class="icon-twitter"></i></a>
                <a href="https://www.linkedin.com/company/hibernating-rhinos-ltd-" target="_blank"><i class="icon-linkedin"></i></a>
            </div>
            <hr/>
            <div class="margin-top">
                <div class="about-grid">
                    <div class="big-label on-base-background">
                        <i class="icon-server"></i>
                        <div class="content">
                            <small>Server version</small>
                            <strong data-bind="text: serverVersion().FullVersion"></strong>
                        </div>
                    </div>
                    <div class="big-label on-base-background">
                        <i class="icon-client"></i>
                        <div class="content">
                            <small>Studio version</small>
                            <strong data-bind="text: clientVersion()"></strong>
                        </div>
                    </div>
                    <div>
                        <a data-bind="click: openFeedbackForm" class="btn btn-info big-button">
                            <i class="icon-rocket"></i>
                            <div class="content">
                                <small>Help us improve</small>
                                <strong>Send Feedback</strong>
                            </div>
                        </a>
                    </div>
                    <div>
                        <div class="flex-horizontal flex-stretch-items">
                            <button data-bind="click: openLatestVersionDownload" class="btn btn-primary big-button">
                                <i class="icon-client"></i>
                                <div class="content">
                                    <small data-bind="html: newVersionAvailableHtml"></small>
                                    <strong data-bind="visible: !isNewVersionAvailable(), text: currentServerVersion"></strong>
                                    <strong data-bind="visible: isNewVersionAvailable">Download Now</strong>
                                </div>
                            </button>
                            <button data-bind="disable: spinners.latestVersionUpdates, click: refreshLatestVersionInfo, css: { 'btn-spinner': spinners.latestVersionUpdates }"
                                    class="btn btn-primary">
                                <i class="icon-refresh"></i>
                            </button>
                        </div>
                        <div class="text-center margin-top" data-bind="if: isNewVersionAvailable">
                            <a href="#" data-bind="attr: { href: latestVersionWhatsNewUrl }" target="_blank">See What's New</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-top">
            <small>Copyright © 2009 - 2020 Hibernating Rhinos. All rights reserved.</small>
        </div>
    </div>
    <div class="about-properties-container" data-bind="css: { 'no-license': !hasLicense() }">
        <div class="license-info panel flex-vertical">
            <div class="header">
                <div class="padding">
                    <h2>License information</h2>
                    <div class="flex-horizontal margin-top margin-bottom">
                        <div data-bind="attr: { class: 'roundborder flex-noshrink ' + licenseCssClass() }">
                            <i class="icon-license-information"></i>
                        </div>
                        <div class="big-label">
                            <div class="content">
                                <small>Type</small>
                                <strong data-bind="text: licenseTypeText"></strong>
                            </div>
                        </div>
                        <div class="big-label" data-bind="visible: formattedExpiration">
                            <div class="content">
                                <small data-bind="text: expiresText"></small>
                                <strong data-bind="html: formattedExpiration"></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="license-id-container padding" data-bind="visible: licenseId">
                    <div class="big-label">
                        <div class="content text-center">
                            <small>License ID</small>
                            <strong data-bind="text: licenseId"></strong>
                        </div>
                    </div>

                    <div class="big-label">
                        <div class="content text-center">
                            <small>License To</small>
                            <strong data-bind="text: licensedTo"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="license-properties-container padding" data-bind="visible: hasLicense">
                <div class="license-properties">
                    <div class="name">Eligible for Commercial Use</div>
                    <div class="value"><i data-bind="attr: { class: developerLicense() ? 'icon-cancel' : 'icon-checkmark' }"></i></div>
                    <div class="name">Number of databases</div><div class="value"><i class="icon-infinity"></i></div>
                    <div class="name">Single database size</div><div class="value"><i class="icon-infinity"></i></div>
                    <div class="name">Management Studio (GUI)</div><div class="value"><i class="icon-checkmark"></i></div>
                    <h4>Clustering</h4>
                    <div class="name">Max cluster size</div><div class="value">
                                                                 <strong data-bind="text: maxClusterSize, visible: maxClusterSize() > 0"></strong>
                                                                 <i class="icon-infinity" data-bind="visible: maxClusterSize() === 0"></i>
                                                            </div>
                    <div class="name">Max cores in cluster</div><div class="value"><strong data-bind="text: maxCores"></strong></div>
                    <div class="name">Max cluster memory usage</div><div class="value"><strong data-bind="text: maxMemory() + ' GB RAM'"></strong></div>
                    <div class="name">Highly available tasks</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasHighlyAvailableTasks') }"></i></div>
                    <div class="name">Dynamic database distribution</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasDynamicNodesDistribution') }"></i></div>
                    <h4>Monitoring</h4>
                    <div class="name">Server Dashboard</div><div class="value"><i class="icon-checkmark"></i></div>
                    <div class="name">SNMP</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasSnmpMonitoring') }"></i></div>
                    <h4>Extensions</h4>
                    <div class="name">Document Revisions</div><div class="value"><i class="icon-checkmark"></i></div>
                    <div class="name">Document Expiration</div><div class="value"><i class="icon-checkmark"></i></div>
                    <div class="name">Attachments</div><div class="value"><i class="icon-checkmark"></i></div>
                    <div class="name">Counters</div><div class="value"><i class="icon-checkmark"></i></div>

                    <h4>External Replication</h4>
                    <div class="name">Immediate</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasExternalReplication') }"></i></div>
                    <div class="name">Delayed</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasDelayedExternalReplication') }"></i></div>
                    <h4>Pull Replication</h4>

                    <div class="name">Hub</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasPullReplicationAsHub') }"></i></div>
                    <div class="name">Sink</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasPullReplicationAsSink') }"></i></div>

                    <h4>Backups</h4>
                    <div class="name">Local</div><div class="value"><i class="icon-checkmark"></i></div>
                    <div class="name">Cloud & Remote</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasCloudBackups') }"></i></div>
                    <div class="name">Snapshot backups</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasSnapshotBackups') }"></i></div>
                    <div class="name">Encrypted backups</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasEncryptedBackups') }"></i></div>

                    <h4>ETL</h4>
                    <div class="name">SQL ETL</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasSqlEtl') }"></i></div>
                    <div class="name">RavenDB ETL</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasRavenEtl') }"></i></div>
                    <h4>Security</h4>
                    <div class="name">Certificates</div><div class="value"><i class="icon-checkmark"></i></div>
                    <div class="name">Encryption in transit</div><div class="value"><strong>TLS 1.2 & X.509</strong></div>
                    <div class="name">Storage encryption</div><div class="value"><i data-bind="attr: { class: licenseAttribute('HasEncryption') }"></i></div>
                </div>
            </div>
            <div class="padding">
                <div class="license-actions flex-horizontal">
                    <!-- ko if: !registered() -->
                    <button class="btn btn-primary flex-grow" 
                            data-bind="click: register, 
                                       enable: isActivateLicenseEnabled,
                                       attr: { title: isActivateLicenseEnabled() ? 'Register a new license' : 'Registering new license is disabled in the server configuration' }"> 
                            <span>REGISTER LICENSE</span>
                    </button>
                    <!-- /ko -->
                    <!-- ko if: registered() -->
                    <button class="btn btn-primary flex-grow"
                            data-bind="click: register, 
                                       visible: accessManager.canReplaceLicense,
                                       enable: isActivateLicenseEnabled,
                                       attr: { title: isActivateLicenseEnabled() ? 'Replace current license with another license' : 'Replacing license is disabled in the server configuration' }">
                            <i class="icon-replace"></i><span>REPLACE LICENSE</span>
                    </button>
                    <button class="btn btn-info flex-grow"
                            data-bind="click: forceLicenseUpdate,
                                       visible: canForceUpdate, 
                                       disable: spinners.forceLicenseUpdate() || !isForceUpdateEnabled(),
                                       css: { 'btn-spinner': spinners.forceLicenseUpdate },
                                       attr: { title: isForceUpdateEnabled() ? 'Apply the license that was set for you' : 'Force license update is disabled in the server configuration' }">
                            <i class="icon-force"></i><span>FORCE UPDATE</span>
                    </button>
                    <button class="btn btn-info flex-grow"
                            data-bind="click: renewLicense,
                                       visible: canRenewLicense, 
                                       disable: spinners.renewLicense() || !isRenewLicenseEnabled(),
                                       css: { 'btn-spinner': spinners.renewLicense },
                                       attr: { title: isRenewLicenseEnabled() ? 'Renew license, expiration date will be extended' : 'Renew is disabled in the server configuration' }">
                            <i class="icon-reset"></i><span>RENEW LICENSE</span>
                    </button>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="support-info panel flex-vertical">
            <div class="header">
                <div class="padding">
                    <h2>Support plan</h2>
                    <div class="flex-horizontal margin-top margin-bottom">
                        <div data-bind="attr: { class: 'roundborder flex-noshrink ' + supportCssClass() }">
                            <i class="icon-support"></i>
                        </div>
                        <div class="big-label">
                            <div class="content">
                                <small>Type</small>
                                <strong data-bind="text: supportLabel"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="attr: { class: supportTableCssClass() + ' support-properties flex-grow' }">
                <div class="top-row community">
                    <h4 data-bind="text: isCloud() ? 'Free' : 'Community'"></h4>
                    <strong>Essential support<br/> to get started</strong>
                </div>
                <div class="top-row professional" data-bind="visible: !isCloud()">
                    <h4>Professional</h4>
                    <strong>Priority support<br /> for professional<br /> projects</strong>
                </div>
                <div class="top-row production" data-bind="visible: !isCloud()">
                    <h4>Production</h4>
                    <strong>Top-tier support<br /> for enterprise and<br /> mission-critical<br /> projects</strong>
                </div>
                <div class="top-row grid-span-2 production" data-bind="visible: isCloud">
                    <h4>Cloud Support</h4>
                    <strong>Top support for<br /> all your cloud projects</strong>
                </div>
                <div class="community">
                    <i class="icon-group"></i>
                    Support via our<br /> community forum
                </div>
                <div class="grid-span-2 professional production">
                    <i class="icon-user"></i>
                    Access to RavenDB core developers
                </div>
                <div class="community"></div>
                <div class="grid-span-2 professional production">
                    <i class="icon-phone"></i>
                    Email &amp; Phone support
                </div>
                <div class="community"></div>
                <div class="professional" data-bind="visible: !isCloud()">
                    <i class="icon-clock"></i>
                    Next day SLA<br />
                    <small class="text-muted">Sun-Thu | 8:00-18:00<br /> GMT+2</small>
                </div>
                <div class="production" data-bind="css: { 'grid-span-2' : isCloud }">
                    <i class="icon-clock"></i>
                    2 hour SLA<br />
                    <small class="text-muted">We're here for you <br />24/7</small>
                </div>
                <div class="community">
                    <a href="https://groups.google.com/forum/#!forum/ravendb" target="_blank" class="btn btn-info btn-block">
                        <i class="icon-newtab"></i> <span>ACCESS</span>
                    </a>
                </div>
                <div class="grid-span-2 professional production" data-bind="visible: canUpgradeSupport">
                    <a target="_blank" class="btn btn-success btn-block" data-bind="attr: { href: isCloud() ? 'https://cloud.ravendb.net/pricing#support-options' : 'http://ravendb.net/support' }">
                        <i class="icon-umbrella"></i> <span>UPGRADE</span>
                    </a>
                </div>
            </div>
            <div class="padding" data-bind="visible: !hasLicense()">
                <a href="https://groups.google.com/forum/#!forum/ravendb" target="_blank" class="btn btn-info btn-block"><i class="icon-newtab"></i> <span>ACCESS</span></a>
            </div>
        </div>
    </div>
</div>
