<div class="modal-dialog modal-lg" role="document" id="chooseThemeModal">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3>Set UI Theme:</h3>
            
            <div class="theme-previews">
                <div class="theme theme-dark" data-bind="click: _.partial(useTheme, 'dark'), css: { 'active': currentTheme() === 'dark' }">
                    <img src="Content/img/dark-theme.png" class="img-responsive" />
                    <h2 class="theme-title">DARK</h2>
                </div>
                <div class="theme theme-blue" data-bind="click: _.partial(useTheme, 'blue'), css: { 'active': currentTheme() === 'blue' }">
                    <img src="Content/img/blue-theme.png" class="img-responsive" />
                    <h2 class="theme-title">BLUE</h2>
                </div>
                <div class="theme theme-light" data-bind="click: _.partial(useTheme, 'light'), css: { 'active': currentTheme() === 'light' }">
                    <img src="Content/img/light-theme.png" class="img-responsive" />
                    <h2 class="theme-title">LIGHT</h2>
                </div>
            </div>
        </div>
    </div>
</div>
