<div class="modal-dialog" role="document" id="feedbackModal">
    <form data-bind="submit: send" novalidate>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" data-bind="with: model">
                    <div class="clearfix">
                        <!--<button type="button" data-bind="click: close" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="icon-cancel"></i></button>-->
                        <img src="Content/img/feedback.png" class="img-responsive margin-bottom margin-center" />
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" data-bind="validationElement: name">
                                <input type="text" placeholder="Name" class="form-control" data-bind="textInput: name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" data-bind="validationElement: email">                                
                                <input type="email" placeholder="Email" class="form-control" data-bind="textInput: email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-bind="validationElement: message">
                        <textarea class="form-control" placeholder="Message" rows="6" data-bind="textInput: message">
                        </textarea>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" data-bind="css: { 'btn-spinner': spinners.send }, disable: spinners.send"><i class="icon-rocket"></i> <span>Send</span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
