<section id="alertsContainer" style="width: 100%" data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }">
    <div style="height: 75%; position: relative;">
        <button type="button" class="btn btn-default" data-bind="click: fetchAlerts"><i class="fa fa-refresh"></i></button>
        <div id="alertTableContainer" style="overflow-y: auto; position: absolute; bottom: 10px; top: 80px; width: 100%;">
            <table class="table table-condensed single-line-row-table" data-bind="event: { keydown: tableKeyDown }" tabindex="1">
                <thead>
                    <tr>
                        <th style="width: 5%">Level</th>
                        <th style="width: 10%">Observed</th>
                        <th style="width: 10%">Reported</th>
                        <th style="width: 15%">Title</th>
                        <th style="width: 40%">Message</th>
                        <th style="width: 20%">Exception</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: allAlerts, delegatedHandler: 'click'">
                    <tr data-click="selectAlert" data-bind="css: { warning: alertLevel === 'Warn', danger: alertLevel === 'Error' || alertLevel === 'Fatal', 'selected': $data === $parent.selectedAlert() }">
                        <td data-bind="text: alertLevel"></td>
                        <td data-bind="text: observed"></td>
                        <td data-bind="text: createdAt"></td>
                        <td data-bind="text: title"></td>
                        <td data-bind="text: message"></td>
                        <td data-bind="text: exception"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="alerts-details panel panel-default" style="height: 20%;">
        <div class="row">
            <label class="col-md-1 text-right control-label">Title</label>
            <div class="col-md-10" data-bind="with: selectedAlert">
                <p class="form-control-static text-ellipsis" data-bind="text: title, attr: { title: title }"></p>
            </div>
        </div>
        <div class="row">
            <label class="col-md-1 text-right control-label">Message</label>
            <div class="col-md-10" data-bind="with: selectedAlert">
                <p class="form-control-static text-ellipsis" data-bind="text: message, attr: { title: message }"></p>
            </div>
        </div>
        <div class="row">
            <label class="col-md-1 text-right control-label">Reported</label>
            <div class="col-md-10" data-bind="with: selectedAlert">
                <p class="form-control-static" data-bind="text: createdAt"></p>
            </div>
        </div>
        <div class="row">
            <label class="col-md-1 text-right control-label">Level</label>
            <div class="col-md-10" data-bind="with: selectedAlert">
                <p class="form-control-static" data-bind="text: alertLevel, css: { 'text-warning': alertLevel === 'Warn', 'text-danger': alertLevel === 'Error' || alertLevel === 'Fatal' }"></p>
            </div>
        </div>
    </div>
</section>