<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Backup Database</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="glyphicon glyphicon-info-sign"></div>
                Backup your database
            </div>
            <div class="panel-body">
                <label>
                    <span>Location</span>
                    <input data-bind="value: backupLocation" placeholder="C:\path-to-your-backup-folder">
                </label>
            </div>
        </div>

        <button class="btn btn-primary" data-bind="click: startBackup, disable: isBusy">
            <span class="glyphicon glyphicon-floppy-save"></span>
            <span>Start Backup</span>
        </button>
        
        <div class="panel-body">
            <div data-bind="foreach: backupStatusMessages">
                <div data-bind="text: '[' + Timestamp+ ']\t' + Severity +':\t'+ Message"></div>
            </div>
        </div>
    </div>
</div>