<style>
.licenseInactive {
    color: hsl(0, 0%, 80%) !important;
    background-color: hsl(208, 25%, 53%) !important;
    box-shadow: none !important;
    border: 1px solid rgb(53, 126, 189) !important;
}

</style>
<div class="messageBox" tabindex="-1">
    <form data-bind="submit: nextOrCreate">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: cancel" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create Database</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="databaseName">Name</label>
                        <input required type="text" class="form-control" id="databaseName" placeholder="Database Name" data-bind="value: databaseName, valueUpdate: 'keyup', hasfocus: databaseNameFocus" autocomplete="off">
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#advancedOptions">
                                        Advanced Settings
                                    </a>
                                </h4>
                            </div>
                            <div id="advancedOptions" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="databasePath">Path</label>
                                        <input data-bind="value: databasePath, valueUpdate: 'keyup', attr: { placeholder: '~/Databases/' + databaseName() }" type="text" class="form-control" id="databasePath" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label for="databaseLogs">Logs</label>
                                        <input data-bind="value: databaseLogs, valueUpdate: 'keyup', attr: { placeholder: '~/Databases/' + databaseName() }" type="text" class="form-control" id="databaseLogs" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label for="databaseIndexes">Indexes</label>
                                        <input data-bind="value: databaseIndexes, valueUpdate: 'keyup', attr: { placeholder: '~/Databases/' + databaseName() + '/Indexes/' }" type="text" class="form-control" id="databaseIndexes" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div>
                      <label>Bundles:</label>
                    </div>
                    <div class="btn-group-vertical" data-toggle="buttons">
                        <label class="btn btn-primary" data-bind="click: toggleCompressionBundle, css: { licenseInactive: !isCompressionBundleActive() }">
                            <input type="checkbox" data-bind="enable: isCompressionBundleActive"> Compression
                        </label>
                        <label id="encryptionCheckbox" class="btn btn-primary" data-bind="click: toggleEncryptionBundle, css: { licenseInactive: !isEncryptionBundleActive() }">
                            <input type="checkbox"> Encryption
                        </label>
                        <label class="btn btn-primary" data-bind="click: toggleExpirationBundle, css: { licenseInactive: !isExpirationBundleActive() }">
                            <input type="checkbox"> Expiration
                        </label>
                        <label class="btn btn-primary" data-bind="click: toggleQuotasBundle, css: { licenseInactive: !isQuotasBundleActive() }">
                            <input type="checkbox"> Quotas
                        </label>
                        <label class="btn btn-primary" data-bind="click: toggleReplicationBundle, css: { licenseInactive: !isReplicationBundleActive() }">
                            <input type="checkbox"> Replication
                        </label>
                        <label class="btn btn-primary" data-bind="click: toggleSqlReplicationBundle, css: { licenseInactive: !isSqlReplicationBundleActive() }">
                            <input type="checkbox"> Sql Replication
                        </label>
                        <label class="btn btn-primary" data-bind="click: toggleVersioningBundle, css: { licenseInactive: !isVersioningBundleActive() }">
                            <input type="checkbox"> Versioning
                        </label>
                        <label class="btn btn-primary active" data-bind="click: togglePeriodicExportBundle, css: { licenseInactive: !isPeriodicExportBundleActive() }">
                            <input type="checkbox"> Periodic Export
                        </label>
                        <label class="btn btn-primary" data-bind="click: toggleScriptedIndexBundle, css: { licenseInactive: !isScriptedIndexBundleActive() }">
                            <input type="checkbox"> Scripted Index
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
