<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Create Sample Data</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="glyphicon glyphicon-info-sign"></div>
                Create sample data for this database.
                <br>
                This will only work if you don't have any documents in the database.
            </div>
        </div>

        <button class="btn btn-primary" data-bind="click:generateSampleData">
            <div class="glyphicon glyphicon-cutlery"></div>
            Create Sample Data
        </button>
    </div>
</div>