<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Create Sample Data</h3>
    </div>
    <div class="panel-body">
        <p>
            <i class="fa fa-info-circle text-info"></i>
            Creating sample data requires an empty database.<br />
        </p>
        <div class="btn-group">
            <button class="btn btn-primary" data-bind="click: generateSampleData">
                <i class="fa fa-magic"></i>
                Create sample data
            </button>
        </div>
        <button class="btn btn-link" data-bind="click: showSampleDataClass , enable: isEnable">
            <!--<i class="fa fa-file-code-o"></i>-->
            Show sample data classes
        </button>

        <div class="progress progress-striped active" data-bind="visible: isBusy">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
    </div>
</div>