<div class="alert alert-danger">
    <p>Note: not implemented yet</p>
    <a href="http://issues.hibernatingrhinos.com/issue/RavenDB-2060">You can track progress here</a>
</div>
<div id="csvImportContainer" class="panel panel-default not-implemented-yet">

    <div class="panel-heading">
        <h3 class="panel-title">Csv Import</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="glyphicon glyphicon-info-sign"></div>
                Import a csv file into a collection. Each column will be treated as a property.
            </div>
        </div>
        <div id="addfileContainer">
            <form id="sendFileForm" action="/" enctype="multipart/form-data">
                <div class="fileinputs">
                    <div class="fakefile">
                        <button class="btn btn-primary">
                            <span class="glyphicon glyphicon-floppy-save"></span>
                            <span>Csv Import</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>