<div id="csvImportContainer" class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Csv Import</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="glyphicon glyphicon-info-sign"></div>
                Import a csv file into a collection. Each column will be treated as a property.
            </div>
        </div>
        <div id="addfileContainer">
            <input id="csvFilePicker" type="file" data-bind="event: { change: fileSelected }" />
            <br />
            <div class="btn-toolbar" data-bind="visible: hasFileSelected">
                <div class="btn-group">
                    <button class="btn btn-primary" data-bind="click: importCsv">
                        <div class="glyphicon glyphicon-floppy-save"></div>
                        Csv Import
                    </button>
                </div>
            </div>
            <br />
            <div class="progress progress-striped active" data-bind="visible: isImporting">
                <div class="progress-bar" role="progressbar" style="width: 100%"></div>
            </div>
        </div>

    </div>
</div>