<div data-bind="text: console.log('BINDING TO: ', $root)"></div>
<form class="custom-functions-form" id="customFunctionsContainer">
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
            <div class="navbar-form">
                <button type="submit" class="btn btn-primary use-bootstrap-tooltip" data-bind="click: saveChanges, enable: isSaveEnabled" title="Save Changes (Alt+S)" accesskey="S"><i class="fa fa-save"></i></button>
            </div>
        </div>
    </nav>

    <div class="row">
        <pre class="editor" data-bind="aceEditor: { code: documentText, theme: 'ace/theme/github', fontSize:'18px', lang: 'ace/mode/javascript' }"></pre>
    </div>
</form>                                                                                                           