<div class="documents-page">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked document-collections" data-bind="foreach: collections">
                <li data-bind="event: { mousedown: $parent.selectCollection.bind($parent) }, css: { active: $data === $parent.selectedCollection() }, visible: documentCount() > 0 || isAllDocuments || isSystemDocuments">
                    <a href="javascript:void(0)">
                        <div class="collection-color-strip" data-bind="css: colorClass"></div>
                        <span data-bind="text: name"></span>
                        <span class="text-muted" data-bind="visible: !isSystemDocuments, css: { 'text-muted': $data !== $parent.selectedCollection() }, text: '(' + documentCount() + ')'"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-bind="click: toggleSelectAll" title="Select all or none">
                            <img style="height: 18px;" data-bind="attr: { src: isSelectAll() ? 'content/images/checked.png' : 'content/images/unchecked.png' }" />
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary use-bootstrap-tooltip" accesskey="n" data-bind="click: newDocument" title="Create new document (Alt+N)">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default use-bootstrap-tooltip" data-bind="click: selectColumns" title="Choose columns...">
                            <i class="fa fa-table"></i>
                        </button>
                    </div>
                    <div class="btn-group" data-bind="visible: hasAnyDocumentsSelected">
                        <button type="button" class="btn btn-default use-bootstrap-tooltip" data-bind="click: editSelectedDoc" title="Edit selected document (F2)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-default use-bootstrap-tooltip" data-bind="click: deleteSelectedDocs" title="Delete selected documents (DEL)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <div class="btn-group" data-bind="visible: hasAnyDocumentsSelected">
                        <button type="button" class="btn btn-default use-bootstrap-tooltip" data-bind="click: copySelectedDocs" title="Copy selected documents (Ctrl+C, D)">
                            <i class="fa fa-copy"></i>
                        </button>
                        <button type="button" class="btn btn-default use-bootstrap-tooltip" data-bind="click: copySelectedDocIds" title="Copy selected document IDs (Ctrl+C, I)">
                            <i class="fa fa-clipboard"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="documentsGrid" data-bind="widget: { kind: 'virtualTable', customColumns: currentColumnsParams, itemsSource: currentCollectionPagedItems, selectedIndices: selectedDocumentIndices, gridSelector: '#documentsGrid' }"></div>
        </div>
    </div>
</div>

<div id="collections-context-menu">
    <ul class="dropdown-menu" role="menu">
        <li data-bind="click: $root.deleteCollection"><a tabindex="-1" href="#">Delete</a></li>
    </ul>
</div>