<section>
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-primary">
                <i class="fa fa-save"></i>
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus"></i>
                Add
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Map</a></li>
                <li data-bind="visible: !hasExistingReduce()"><a href="#">Reduce</a></li>
                <li><a href="#">Field</a></li>
                <li data-bind="visible: !hasExistingTransform()" title="Transform - deprecated. Use Result Transformers instead"><a class="text-muted" href="#">Transform</a></li>
                <li><a href="#">Spatial Field</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span data-bind="text: priorityText"></span>
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li><a href="#">Normal</a></li>
                <li><a href="#">Idle</a></li>
                <li><a href="#">Disabled</a></li>
                <li><a href="#">Abandoned</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn btn-default" title="Run the index">
                <i class="fa fa-play"></i>
            </a>
            <a class="btn btn-default" href="#" title="Navigate to index terms">Terms</a>
            <a class="btn btn-default" href="#" title="Navigate to index stats">Stats</a>
        </div>

        <div class="btn-group">
            <button class="btn btn-default" title="Refresh from server, discarding any unsaved changes">
                <i class="fa fa-refresh"></i>
            </button>
            <button class="btn btn-danger" title="Delete index">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>

    <div data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }">
        <br />
        <form class="form-horizontal" role="form" data-bind="with: editedIndex">
            <div class="form-group">
                <label for="indexName" class="col-md-1 control-label">Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="indexName" placeholder="Index name" data-bind="value: name" />
                </div>
            </div>
            <div class="form-group">
                <label id="indexMapsLabel" style="cursor: help;" class="col-sm-1 control-label" data-placement="auto right" data-original-title="Index maps" data-trigger="hover">
                    Maps
                    <i class="fa fa-info-circle text-info"></i>
                </label>
                <div data-bind="foreach: maps">
                    <div class="col-md-10">
                        <textarea class="col-md-10 form-control" rows="5" placeholder="from order in docs.Orders where order.IsShipped select new { order.Amount }" data-bind="value: $data"></textarea>
                    </div>
                    <button type="button" class="close pull-left" aria-hidden="true" title="Remove this map from the index">&times;</button>
                </div>
            </div>
            <div class="form-group" data-bind="if: reduce">
                <label id="indexReduceLabel" style="cursor: help;" for="indexReduce" class="col-md-1 control-label" data-placement="auto right" data-original-title="Index reduce" data-trigger="hover">
                    Reduce
                    <i class="fa fa-info-circle text-info"></i>
                </label>
                <div class="col-md-10">
                    <textarea class="form-control" id="indexReduce" rows="8" placeholder="Reduce" data-bind="value: reduce"></textarea>
                </div>
                <button type="button" class="close pull-left" aria-hidden="true" title="Remove the Reduce function from the index">&times;</button>
            </div>
            <div class="form-group" data-bind="if: transformResults">
                <label id="indexTransformLabel" style="cursor: help;" for="indexTransform" class="col-md-1 control-label" data-placement="auto right" data-original-title="Index transform" data-trigger="hover">
                    <span class="text-danger">Transform</span>
                    <i class="fa fa-info-circle text-info"></i>
                </label>
                <div class="col-md-10">
                    <textarea class="form-control" id="indexTransform" rows="5" placeholder="Transform" data-bind="value: transformResults"></textarea>
                </div>
                <button type="button" class="close pull-left" aria-hidden="true" title="Remove Transform Results from the index">&times;</button>
            </div>
            <div class="form-group" data-bind="visible: luceneFields().length > 0">
                <label class="col-sm-1 control-label">
                    Fields
                </label>
                <div class="col-md-5" data-bind="foreach: luceneFields">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="col-md-11">
                                    <input type="text" class="form-control" data-bind="value: name" title="Name of the field to configure" placeholder="FieldName" />
                                </div>
                                <div>
                                    <button type="button" class="close" aria-hidden="true" title="Remove this field from the index">&times;</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <label class="control-label col-md-3">Storage</label>
                                    <div class="col-md-9">
                                        <select class="form-control" data-bind="options: ['Yes', 'No'], value: stores"></select>
                                    </div>
                                    <label class="control-label col-md-3">Sort</label>
                                    <div class="col-md-9">
                                        <select class="form-control" data-bind="options: ['None', 'String', 'Int', 'Float', 'Long', 'Double', 'Short', 'Custom', 'Byte', 'StringVal'], value: sort"></select>
                                    </div>
                                    <label class="control-label col-md-3">Term Vector</label>
                                    <div class="col-md-9">
                                        <select class="form-control" data-bind="options: ['No', 'Yes', 'WithPositions', 'WithOffsets', 'WithPositionsAndOffsets'], value: termVector"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label col-md-3">Indexing</label>
                                    <div class="col-md-9">
                                        <select class="form-control" data-bind="options: ['No', 'Analyzed', 'NotAnalyzed', 'Default'], value: indexing"></select>
                                    </div>
                                    <label class="control-label col-md-3" data-bind="visible: indexing() === 'Analyzed'">Analyzer</label>
                                    <div class="col-md-9" data-bind="visible: indexing() === 'Analyzed'">
                                        <input type="text" class="form-control" data-bind="value: analyzer, attr: { title: analyzer }" />
                                    </div>
                                    <label class="control-label col-md-3">Suggestion</label>
                                    <div class="col-md-9">                                        
                                        <select class="form-control" title="The suggestion distance algorithm" data-bind="options: ['None', 'Default', 'Levenshtein', 'JaroWinkler', 'NGram'], value: suggestionDistance"></select>
                                        <input type="number" class="form-control" title="The suggestion accuracy" step="0.1" min="0.0" max="1.0" data-bind="value: suggestionAccuracy, visible: suggestionDistance() !== 'None'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" data-bind="visible: spatialFields().length > 0">
                <label class="col-sm-1 control-label">
                    Spatial Fields
                </label>
                <div class="col-md-5" data-bind="foreach: spatialFields, visible: spatialFields().length > 0">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="col-md-11">
                                    <input type="text" class="form-control" data-bind="value: name" title="Name of the spatial field to configure" placeholder="spatial field name" />
                                </div>
                                <div>
                                    <button type="button" class="close" aria-hidden="true" title="Remove this spatial field from the index">&times;</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <label class="control-label col-md-3">Type</label>
                                    <div class="col-md-9">
                                        <select class="form-control" data-bind="options: ['Geography', 'Cartesian'], value: type"></select>
                                    </div>
                                    <label class="control-label col-md-3">Strategy</label>
                                    <div class="col-md-9">
                                        <select class="form-control" data-bind="options: availableStrategies, value: strategy"></select>
                                    </div>
                                    <label class="control-label col-md-3">Min X</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" data-bind="value: minX" />
                                    </div>
                                    <label class="control-label col-md-3">Max X</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" data-bind="value: maxX" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label col-md-7" data-bind="visible: canSpecifyUnits">Circle Radius Units</label>
                                    <div class="col-md-5" data-bind="visible: canSpecifyUnits">
                                        <select class="form-control" data-bind="options: ['Kilometers', 'Miles'], value: circleRadiusUnits"></select>
                                    </div>
                                    <label class="control-label col-md-7" data-bind="visible: canSpecifyTreeLevel">Max Tree Level</label>
                                    <div class="col-md-5" data-bind="visible: canSpecifyTreeLevel">
                                        <input type="number" class="form-control" data-bind="value: maxTreeLevel" />
                                    </div>
                                    <label class="control-label col-md-7">Min Y</label>
                                    <div class="col-md-5">
                                        <input type="number" class="form-control" data-bind="value: minY" />
                                    </div>
                                    <label class="control-label col-md-7">Max Y</label>
                                    <div class="col-md-5">
                                        <input type="number" class="form-control" data-bind="value: maxY" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label col-md-3">Precision</label>
                                    <div class="col-md-5">
                                        <p class="form-control-static" style="white-space: nowrap" data-bind="text: precision"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>