<div id="editDocumentContainer" tabindex="-1">
    <!-- We use a container with a tab index so that we can capture keyboard events, such as CTRL+S. -->
    <ul class="breadcrumb">
        <li>
            <h3>
                <i class="fa fa-file-text-o"></i>
                <a href="#documents" data-bind="click: navigateToDocuments">
                    Documents
                </a>
            </h3>
        </li>
        <!-- ko ifnot: isCreatingNewDocument -->
        <li data-bind="with: metadata">
            <a href="#" data-bind="text: ravenEntityName, attr: { href: '#documents?collection=' + ravenEntityName }, click: $root.navigateToCollection.bind($root, ravenEntityName)"></a>
        </li>
        <!-- /ko -->
        <li class="active">
            <span data-bind="visible: !isCreatingNewDocument(), text: editedDocId"></span>
            <span data-bind="visible: isCreatingNewDocument">New Document</span>
        </li>
    </ul>

    <div class="btn-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-primary use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: saveDocument, enable: userSpecifiedId" title="Save (Alt+S)" accesskey="S"><i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: refreshDocument" title="Refresh (Alt+R)" accesskey="R"><i class="fa fa-refresh"></i></button>
            <button type="button" class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: formatDocument" title="Format document (Alt+[)" accesskey="["><i class="fa fa-align-justify"></i></button>
            <button type="button" class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: deleteDocument" title="Delete (Alt+shift+Del)"><i class="fa fa-trash-o"></i></button>
        </div>

        <div class="btn-group" data-bind="with: docsList">
            <button type="button" class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: $root.firstDocument.bind($root)" title="Go to first document (Alt+Home)"><i class="fa fa-step-backward"></i></button>
            <button type="button" class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: $root.previousDocumentOrLast.bind($root)" title="Go to previous document (Alt+PageUp)"><i class="fa fa-caret-left"></i></button>
            <button type="button" class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="text: 'Doc ' + (currentItemIndex() + 1) + ' of ' + totalResultCount()"></button>
            <button type="button" class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: $root.nextDocumentOrFirst.bind($root)" title="Go to next document (Alt+PageDown)"><i class="fa fa-caret-right"></i></button>
            <button type="button" class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: $root.lastDocument.bind($root)" title="Go to last document (Alt+End)"><i class="fa fa-step-forward"></i></button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-9">
            <div class="row" data-bind="with: metadata">
                <div class="col-md-12">
                    <input type="text" class="form-control" data-placement="top" accesskey="i" placeholder="document id" data-bind="value: $root.userSpecifiedId, valueUpdate: 'afterkeyup', attr: { disabled: $root.isBusy }" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li accesskey="d" class="use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="top" data-bind="click: activateDoc, css: { active: isEditingMetadata() === false }" title="Edit document data (Alt+Shift+D)"><a style="cursor: pointer;">Data</a></li>
                        <li accesskey="m" class="use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="top" data-bind="click: activateMeta, css: { active: isEditingMetadata }" title="Edit document metadata (Alt+Shift+M)"><a style="cursor: pointer;">Metadata</a></li>
                    </ul>
                    <pre id="docEditor" class="form-control" data-bind="attr: { disabled: isBusy }, dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer', bottomMargin: 20 }"></pre>
                </div>
            </div>
        </div>
        <div class="form-group panel panel-default col-md-3 document-addition-data side-panel">
            <div class="col-md-12" data-bind="with: metadata">
                <h4><strong>Metadata</strong></h4>
                <hr />
                <div class="row">
                    <div class="col-md-5">
                        <label>Raven-Clr-Type</label>
                    </div>
                    <div class="col-md-7">
                        <span data-bind="text: ravenClrType"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>Raven-Entity-Name</label>
                    </div>
                    <div class="col-md-7">
                        <span data-bind="text: ravenEntityName"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>Etag</label>
                    </div>
                    <div class="col-md-7">
                        <span data-bind="text: etag"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>Last-Modified</label>
                    </div>
                    <div class="col-md-7">
                        <span data-bind="text: lastModified"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 query-metadata">
                <h4 ><strong>Recent Documents</strong></h4>
                <hr />
                <div data-bind="foreach: topRecentDocuments"><a class="btn btn-default" data-bind="text:$data.docId, attr:{href:$data.docUrl}"></a></div>
            </div>
            <div class="col-md-12 query-metadata">
                <h4 ><strong>Related Documents</strong></h4>
                <hr />
                <div data-bind="foreach: relatedDocumentHrefs"><a class="btn btn-default" data-bind="text:$data.id, attr:{href:$data.href}"></a></div>
            </div>
        </div>
    </div>
</div>