<div class="filesystems-page">

    <div class="alert alert-danger">
        TODO: Implement this page.
    </div>

    <ul class="breadcrumb">
        <li>
            <h3>
                <a href="#filesystems">
                    File Systems
                </a>
            </h3>
        </li>
        <li data-bind="with: activeFilesystem">
            <a data-bind="text: name"></a>
        </li>
        <li>
            <a>Synchronization</a>
        </li>
        <!--<li class="active">
            <span data-bind="text: currentBreadcrumbTitle"></span>
        </li>-->
    </ul>

</div>
