<div class="alert alert-danger">
    <p>Note: not implemented yet</p>
    <a href="http://issues.hibernatingrhinos.com/issue/RavenDB-2058">You can track progress here</a>
</div>
<div class="panel panel-default not-implemented-yet">
    <div class="panel-heading">
        <h3 class="panel-title">Import Database</h3>
    </div>
    <div class="panel-body">
        <h5 class="pull-left">Import data to the current database.</h5>
        <div class="alert alert-warning pull-right">
            <i class="fa fa-warning"></i>
            Importing will overwrite any existing documents and indexes.
        </div>
        <br />
        <br />
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-primary" data-bind="">
                    <div class="glyphicon glyphicon-import"></div>
                    Import Database
                </button>
            </div>
        </div>
        <br />
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Options</a></li>
            <li><a href="#">Advanced</a></li>
        </ul>
        <br />
        <div class="btn-group-vertical" data-toggle="buttons">
            <label class="btn btn-default active">
                <input type="checkbox"> Include documents
            </label>
            <label class="btn btn-default active">
                <input type="checkbox"> Include indexes
            </label>
            <label class="btn btn-default">
                <input type="checkbox"> Include attachments
            </label>
            <label class="btn btn-default active">
                <input type="checkbox"> Include transformers
            </label>
            <label class="btn btn-default">
                <input type="checkbox"> Remove analyzers
            </label>
        </div>
    </div>
</div>