<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Import Database</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="glyphicon glyphicon-info-sign"></div>
                Import data to the current database.
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="glyphicon glyphicon-warning-sign"></div>
                Importing will overwrite any existing documents and indexes.
            </div>
        </div>
        
        <button class="btn btn-primary" data-bind="">
            <div class="glyphicon glyphicon-import"></div>
            Import Database
        </button>

        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <label>
                        <input type="checkbox">
                        <span>Include Documents</span>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox">
                        <span>Include Indexes</span>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox">
                        <span>Include Attachments</span>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox">
                        <span>Include Transformers</span>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox">
                        <span>Remove Analyzers</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>