<style type="text/css">
    
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}
text.trace {
    font-size: 11px;
}
.box {
    fill: #158CBA;
    fill-opacity: 0.2;
    stroke: #158CBA;
    stroke-width: 1.5px;
}
.notUserCode {
    fill-opacity: 0.4;
}
.headerLine {
    stroke: #158CBA;
    stroke-width: 1.5px;
}
</style>

<section id="infoPackageSection">
   <svg id="parallelStacks" width="1200" height="600" transform="translate(0.5,0.5)" preserveAspectRatio="xMinYMin slice"></svg>
</section>