<section class="metricsContainer">
    
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span data-bind="text: currentIndexName"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li data-bind="click: $root.setSelectedIndex.bind($root, null)">
                <a href="#">
                    <span>All indexes</span>
                </a>
            </li>
            <li class="divider"></li>
            <!-- ko foreach: availableIndexes -->
            <li data-bind="click: $root.setSelectedIndex.bind($root, $data.PublicName)"><a href="#" data-bind="    text: $data.PublicName"></a></li>
            <!-- /ko -->
        </ul>
    </div>
    <h3>Indexing Performance</h3>
    
    <div id="indexPerfContainer" class="with-3d-shadow with-transitions" data-bind="visible: allIndexPerfChartVisible() == false">
        <svg  height="400"></svg>
    </div>
    <div id="allIndexesPerfContainer" class="with-3d-shadow with-transitions" data-bind="visible: allIndexPerfChartVisible">
        <svg  data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }"></svg>
    </div>
</section>