<section class="metricsBatchSizeContainer">
    <h3>
        Indexing Batch Size
        <small><a href="#" target="_blank" title="URL for raw index batch size metrics. Opens in a new tab." data-bind="text: indexBatchSizeQueryUrl, attr: { href: indexBatchSizeQueryUrl }"></a></small>
    </h3>
    
    <div id="actualIndexingBatchSizeContainer" class="with-3d-shadow with-transitions">
        <svg data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }"></svg>
    </div>
</section>