<div id="queryContainer">
    <ul class="breadcrumb">
        <li>
            <h3>
                <a href="#databases">
                    Databases
                </a>
            </h3>
        </li>
        <li data-bind="with: activeDatabase">
            <a data-bind="text: name"></a>
        </li>
        <li>
            <a>Indexes</a>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span data-bind="text: selectedIndex"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" data-bind="foreach: indexNames">
                    <li data-bind="click: $root.setSelectedIndex.bind($root, $data)"><a href="#" data-bind="text: $data"></a></li>
                </ul>
            </div>
        </li>
        <li class="active">
            <a>Query</a>
        </li>
    </ul>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button class="btn btn-primary use-bootstrap-tooltip" title="Run the query (Alt+R)" accesskey="R" data-bind="enable: hasSelectedIndex, click: runQuery"><i class="fa fa-play"></i></button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle use-bootstrap-tooltip" data-toggle="dropdown" title="Add a transformer or sorting option to the query (Alt+A)" accesskey="A" data-bind="enable: hasSelectedIndex">
                    <i class="fa fa-plus"></i> Add <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-bind="click: addSortBy">Sort By</a></li>
                    <li data-bind="visible: !transformer()"><a href="#" data-bind="click: addTransformer">Transformer</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle use-bootstrap-tooltip" data-toggle="dropdown" title="Configure advanced query options (Alt+C)" accesskey="C" data-bind="enable: hasSelectedIndex">
                    <i class="fa fa-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Default operator</a> <label class="btn btn-default">OR</label><label class="btn btn-default">AND</label></li>
                    <li><a href="#">Show Fields</a></li>
                    <li><a href="#">Index Entries</a></li>
                </ul>
            </div>
            <a class="btn btn-default use-bootstrap-tooltip" data-bind="attr: { href: editIndexUrl }, enable: hasSelectedIndex" title="Edit the index (F2)"><i class="fa fa-pencil"></i></a>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Recent Queries <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sort By</a></li>
                <li><a href="#">Transformer</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn btn-default use-bootstrap-tooltip" data-bind="attr: { href: termsUrl }, enable: hasSelectedIndex" title="Navigate to index terms">Terms</a>
            <a class="btn btn-default use-bootstrap-tooltip" data-bind="attr: { href: statsUrl }, enable: hasSelectedIndex" title="Navigate to index stats">Stats</a>
        </div>

        <div class="btn-group">
            <button class="btn btn-danger use-bootstrap-tooltip" title="Delete all documents matching the query" data-bind="enable: hasSelectedIndex, click: deleteDocsMatchingQuery"><i class="fa fa-trash-o"></i></button>
        </div>
    </div>
    <br />

    <form class="form-horizontal" role="form" data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }">
        <div class="form-group">
            <label id="indexQueryLabelContainer" class="col-sm-1 control-label" data-placement="auto right" data-original-title="Index Query" data-trigger="hover">
                <span id="indexQueryLabel" class="help-cursor">
                    Query
                    <i class="fa fa-info-circle text-info"></i>
                </span>
                <a target="_blank" title="External link: Lucene query syntax documentation" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html"><i class="fa fa-question-circle text-muted"></i></a>
            </label>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-11">
                        <pre class="form-control editor" data-bind="aceEditor: { code: queryText }"></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" data-bind="visible: sortBys().length > 0">
            <label class="col-sm-1 control-label">
                Sort By
            </label>
            <div class="col-md-5" data-bind="foreach: sortBys">
                <div class="panel" data-bind="css: { 'panel-default': fieldName, 'panel-warning': !fieldName() }">
                    <div class="panel-heading">
                        <div class="btn-group col-md-11">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span data-bind="text: fieldNameOrDefault"></span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" data-bind="foreach: $root.indexFields">
                                <li><a href="#" data-bind="text: $data, click: $parent.fieldName.bind($data)"></a></li>
                            </ul>
                        </div>
                        <div>
                            <button type="button" class="close use-bootstrap-tooltip" data-bind="click: $root.removeSortBy.bind($root, $data)" title="Remove this sort from the query">&times;</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group">
                            <label class="btn btn-primary" data-bind="click: ascending.bind(true), css: { active: ascending }">
                                Ascending
                            </label>
                            <label class="btn btn-primary" data-bind="click: descending.bind(true), css: { active: descending }">
                                Descending
                            </label>
                            <label class="btn btn-primary" data-bind="click: rangeAscending.bind(true), css: { active: rangeAscending }">
                                Range Ascending
                            </label>
                            <label class="btn btn-primary" data-bind="click: rangeDescending.bind(true), css: { active: rangeDescending }">
                                Range Descending
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" data-bind="visible: transformer() != null">
            <label id="indexQueryLabelContainer" class="col-sm-1 control-label">
                Transformer
            </label>
            <div class="col-md-5">
                <div class="panel" data-bind="css: { 'panel-default': transformer, 'panel-warning': !transformer() }">
                    <div class="panel-heading">
                        <div class="btn-group col-md-11">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span data-bind="text: transformer() ? transformer : 'Select a transformer'"></span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" data-bind="foreach: $root.allTransformers">
                                <li><a href="#" data-bind="text: name, click: $root.selectTransformer.bind($root, $data)"></a></li>
                            </ul>
                        </div>
                        <div>
                            <button type="button" class="close use-bootstrap-tooltip" data-bind="click: $root.removeTransformer.bind($root)" title="Remove this sort from the query">&times;</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label id="indexQueryLabelContainer" class="col-sm-1 control-label">
                Results
            </label>
            <div class="col-md-11">
                <div id="queryResultsPanel" class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table table-condensed" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Duration</th>
                                    <th>Index</th>
                                    <th>Etag</th>
                                    <th>JSON</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-bind="with: queryStats">
                                    <td data-bind="text: TotalResults"></td>
                                    <td data-bind="text: IsStale ? 'Stale' : 'Up to date'"></td>
                                    <td data-bind="text: DurationMilliseconds + 'ms'"></td>
                                    <td><a data-bind="text: $root.selectedIndex, attr: { href: $root.selectedIndexEditUrl }"></a></td>
                                    <td data-bind="text: ResultEtag"></td>
                                    <td><a data-bind="attr: { href: '#' }">Raw JSON</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div id="queryResultsGrid" data-bind="widget: { kind: 'virtualTable', documentsSource: queryResults, selectedIndices: selectedResultIndices, gridSelector: '#queryResultsGrid', useContextMenu: false, showIds: false, showCheckboxes: false, maxHeight: '450px' }"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>