<div class="messageBox query-stats" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: cancel" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Query Stats</h4>
    </div>
    <div class="modal-body" data-bind="with: queryStats">

        
        <div class="row">
            <div>
                <div class="form-group">
                    <ul class="list-group">
                        <li class="list-group-item"><div><strong class="col-sm-6 pull-left">Total Results:</strong><span class="pull-right col-sm-6" data-bind="text: TotalResults"></span></div></li>
                        <li class="list-group-item"><div><strong class="col-sm-6 pull-left">Status</strong><span class="pull-right col-sm-6" data-bind="text: IsStale === true ? 'Stale' : 'Up to date'"></span></div></li>
                        <li class="list-group-item"><strong class="col-sm-6 pull-left">Duration:</strong><span class="pull-right col-sm-6" data-bind="text: ((typeof (DurationMilliseconds) !== 'undefined') ? DurationMilliseconds : '??? ') + 'ms'"></span></li>
                        <li class="list-group-item"><strong class="col-sm-6 pull-left">Index:</strong><span class="pull-right col-sm-6"><a data-bind="text: IndexName, click: $root.goToIndex.bind($root)"></a></span></li>
                        <li class="list-group-item" data-bind="visible:$root.didDynamicChangeIndex === true"><strong class="col-sm-6 pull-left"><span class="pull-right col-sm-6"><a target='_blank' data-bind="attr: { href: $root.rawJsonUrl  + '&explain=true'}">Index Explain</a></span></strong></li>
                        <li class="list-group-item"><strong class="col-sm-6 pull-left">ETag:</strong><span class="pull-right col-sm-6" data-bind="text: ResultEtag"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bind="click: cancel">OK</button>
    </div>
</div>