<div id="queryContainer">
    <ul class="breadcrumb">
        <li>
            <h3>
                <a href="#databases">
                    Databases
                </a>
            </h3>
        </li>
        <li data-bind="with: activeDatabase">
            <a data-bind="text: name, attr: { href: $parent.appUrls.documents }"></a>
        </li>
        <li>
            <a data-bind="attr: { href: appUrls.indexes }">Indexes</a>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span data-bind="text: selectedIndexLabel"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <!-- ko foreach: indexes -->
                    <li data-bind="click: $root.setSelectedIndex.bind($root, $data.name)"><a href="#" data-bind="text: $data.name"></a></li>
                    <!-- /ko -->
                    <li class="divider"></li>
                    <!-- ko foreach: collectionNames -->
                    <li data-bind="click: $root.setSelectedIndex.bind($root, 'dynamic/' + $data)">
                        <a href="#">
                            <span class="text-muted">dynamic/</span>
                            <span data-bind="text: $data"></span>
                        </a>
                    </li>
                    <!-- /ko -->
                    <li class="divider"></li>
                    <li data-bind="click: $root.setSelectedIndex.bind($root, 'dynamic')">
                        <a href="#">
                            <span class="text-muted">dynamic/</span>
                            <span>All Documents</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="active">Query</li>
    </ul>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button class="btn btn-primary use-bootstrap-tooltip" title="Run the query (Alt+R)" accesskey="R" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="enable: hasSelectedIndex, click: runQuery"><i class="fa fa-play"></i></button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle use-bootstrap-tooltip" data-toggle="dropdown" title="Add a transformer or sorting option to the query (Alt+A)" accesskey="A" data-trigger="hover" data-placement="bottom" data-bind="enable: hasSelectedIndex">
                    <i class="fa fa-plus"></i> Add <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li data-bind="visible: selectedIndex() !== 'All Documents'"><a class="use-bootstrap-tooltip" href="#" data-trigger="hover" data-toggle="tooltip" data-placement="right" data-bind="click: addSortBy" accesskey="O" title="Add a field to sort by (Alt+O)">Sort By</a></li>
                    <li data-bind="visible: !transformer()"><a href="#" class="use-bootstrap-tooltip" data-bind="click: addTransformer" accesskey="T" title="Add a transformer to transform the results of the query (Alt+T)" data-placement="right">Transformer</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle use-bootstrap-tooltip" data-placement="right" data-toggle="dropdown" title="Configure advanced query options" data-bind="enable: hasSelectedIndex">
                    <i class="fa fa-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li style="padding-left: 20px;">
                        <div class="btn-group">
                            <label class="btn btn-default use-bootstrap-tooltip" data-placement="right" data-trigger="hover" data-toggle="tooltip" data-bind="click: setOperatorOr, css: { active: isDefaultOperatorOr }" title="Set the default operator to OR">Or</label>
                            <label class="btn btn-default use-bootstrap-tooltip" data-placement="right" data-trigger="hover" data-toggle="tooltip" data-bind="click: setOperatorAnd, css: { active: !isDefaultOperatorOr() }" title="Set the default operator to AND">And</label>
                        </div>
                    </li>
                    <li><a href="#"><label class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="right" data-bind="click: toggleShowFields, css: { active: showFields }" title="Show fields from matching index entries instead of matching documents">Show Fields</label></a></li>
                    <li><a href="#"><label class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="right" data-bind="click: toggleIndexEntries, css: { active: indexEntries }" title="Show the raw index entries instead of matching documents">Index Entries</label></a></li>
                </ul>
            </div>
            <a class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="attr: { href: editIndexUrl }, enable: hasSelectedIndex" title="Edit the index (F2)"><i class="fa fa-pencil"></i></a>
            <button type="button" class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: selectColumns" title="Choose columns...">
                <i class="fa fa-table"></i>
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Recent Queries <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" data-bind="foreach: recentQueries">
                <li>
                    <a href="#" data-bind="click: $root.runRecentQuery.bind($root, $data)">
                        <span data-bind="text: IndexName === 'dynamic' ? 'All Documents' : IndexName"></span>
                        <span data-bind="visible: QueryText">
                            <span class="text-muted">|</span>
                            <span data-bind="text: QueryText"></span>
                        </span>
                        <span data-bind="visible: Sorts.length">
                            <span class="text-muted">| sort by</span>
                            <span data-bind="text: $root.getRecentQuerySortsText($index())"></span>
                        </span>
                        <span data-bind="visible: TransformerName">
                            <span class="text-muted">| transform by</span>
                            <span data-bind="text: TransformerName"></span>
                        </span>
                        <span data-bind="visible: ShowFields">
                            <span class="text-muted">|</span>
                            <span>show fields</span>
                        </span>
                        <span data-bind="visible: ShowFields">
                            <span class="text-muted">|</span>
                            <span>index entries</span>
                        </span>
                        <span data-bind="visible: ShowFields">
                            <span class="text-muted">|</span>
                            <span>AND operator</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="attr: { href: termsUrl }, enable: hasSelectedIndex" title="Navigate to index terms">Terms</a>
            <a class="btn btn-default use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="attr: { href: statsUrl }, enable: hasSelectedIndex" title="Navigate to index stats">Stats</a>
        </div>

        <div class="btn-group use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom"  title="Delete all documents matching the query">
            <button class=" btn btn-danger" data-bind="enable: hasSelectedIndex, click: deleteDocsMatchingQuery">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
    <br />

    <form class="form-horizontal" role="form" data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }">
        <div class="form-group">
            <label id="indexQueryLabelContainer" class="col-sm-1 control-label" data-placement="auto right" data-original-title="Index Query" data-trigger="hover">
                <span id="indexQueryLabel" class="help-cursor">
                    Query
                    <i class="fa fa-info-circle text-info"></i>
                </span>
                <a target="_blank" class="use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" title="External link: Lucene query syntax documentation" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html"><i class="fa fa-question-circle text-muted"></i></a>
            </label>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-11">
                        <pre id="queryEditor" class="form-control editor" data-bind="aceEditor: { code: queryText }, valueUpdate: 'afterkeydown'"></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" data-bind="visible: sortBys().length > 0">
            <label class="col-sm-1 control-label">
                Sort By
            </label>
            <div class="col-md-9" data-bind="foreach: sortBys">
                <div class="col-xs-12 col-sm-9 col-md-6 col-lg-3" style="padding-left: 0">
                    <div class="panel" data-bind="css: { 'panel-default': fieldName, 'panel-warning': !fieldName() }">
                        <div class="panel-heading">
                            <div class="btn-group col-md-11">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span data-bind="text: fieldNameOrDefault"></span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" data-bind="foreach: $root.indexFields">
                                    <li><a href="#" data-bind="text: $data, click: $parent.fieldName.bind($data)"></a></li>
                                </ul>
                            </div>
                            <div>
                                <button type="button" class="close use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: $root.removeSortBy.bind($root, $data)" title="Remove this sort from the query">&times;</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="btn-group">
                                <label class="btn btn-primary" data-bind="click: isAscending.bind($data,true), css: { active: isAscending() }">
                                    Ascending
                                </label>
                                <label class="btn btn-primary" data-bind="click: isAscending.bind($data,false), css: { active: !isAscending() }">
                                    Descending
                                </label>
                                <label class="btn btn-primary" data-bind="click: toggleRange.bind($data), css: { active: isRange }">
                                    Range
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" data-bind="visible: transformer() != null">
            <label id="indexQueryLabelContainer" style="overflow-x: hidden; text-overflow: ellipsis;" class="col-md-1 control-label">
                <span>Transformer</span>
            </label>
            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-3">
                <div class="panel" data-bind="css: { 'panel-default': transformer, 'panel-warning': !transformer() }">
                    <div class="panel-heading">
                        <div class="btn-group col-md-11">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span data-bind="text: transformer() ? transformer : 'Select a transformer'"></span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" data-bind="foreach: $root.allTransformers">
                                <li><a href="#" data-bind="text: name, click: $root.selectTransformer.bind($root, $data)"></a></li>
                            </ul>
                        </div>
                        <div>
                            <button type="button" class="close use-bootstrap-tooltip" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-bind="click: $root.removeTransformer.bind($root)" title="Remove this sort from the query">&times;</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<ul class="list-group" data-bind="foreach: relatedDocumentHrefs">
                <li class="list-group-item"><a data-bind="text:$data.id, attr:{href:$data.href}"></a></li>
            </ul>-->
        <div class="form-group">
            <div class="form-group col-md-12">
                <label id="indexQueryLabelContainer" class="control-label col-md-1">
                    Results
                </label>
                <div class="col-md-9 query-results">
                    <div id="queryResultsPanel" class="panel panel-default">
                        <div class="panel-body">
                            <div id="queryResultsGrid" data-bind="widget: { kind: 'virtualTable', customColumns: currentColumnsParams, itemsSource: queryResults, selectedIndices: selectedResultIndices, gridSelector: '#queryResultsGrid', useContextMenu: true, showIds: true, showCheckboxes: true, maxHeight: '450px', isIndexMapReduce:isIndexMapReduce }"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group panel panel-default col-md-2 side-panel">
                    <div class="panel-body"><strong>Query stats</strong></div>
                    <ul class="list-group" data-bind="with: queryStats">
                        <li class="list-group-item" data-bind="text: 'Total Results: ' + TotalResults"></li>
                        <li class="list-group-item" data-bind="text: 'Status: ' + IsStale === true ? 'Stale' : 'Up to date'"></li>
                        <li class="list-group-item" data-bind="text: 'Duration: ' + ((typeof (DurationMilliseconds) !== 'undefined') ? DurationMilliseconds : '??? ') + 'ms'"></li>
                        <li class="list-group-item">
                            Index:
                            <a data-bind="text: IndexName, attr: { href: $root.selectedIndexEditUrl }"></a>
                        </li>
                        <li class="list-group-item" data-bind="visible:$root.didDynamicChangeIndex() === true">
                            <a target='_blank' data-bind="attr: { href: $root.rawJsonUrl()  + '&explain=true'}">Index Explain</a>
                        </li>
                        <li class="list-group-item" data-bind="text: 'ETag: ' + ResultEtag"></li>
                    </ul>

                </div>
            </div>

        </div>
    </form>
</div>