<ul class="breadcrumb">
    <li>
        <h3>
            <a href="#databases">
                Databases
            </a>
        </h3>
    </li>
    <li data-bind="with: activeDatabase">
        <a data-bind="text: name"></a>
    </li>
    <li class="active">
        <span>Settings</span>
    </li>
</ul>

<div class="alert alert-danger">
    TODO: finish implementing this page.
    <ul>
        <li>Implement Windows Auth section</li>
        <li>Implement Sql Replication page for databases with SQL replication enabled: <a href="http://ravendb.net/docs/2.5/server/extending/bundles/sql-replication?version=2.5">http://ravendb.net/docs/2.5/server/extending/bundles/sql-replication?version=2.5</a></li>
    </ul>
</div>

<div class="settings-container row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: router.navigationModel">
            <li data-bind="css: { active: isActive }, visible: $parent.routeIsVisible($data)">
                <a data-bind="attr: { href: hash }, text: title"></a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <!--ko router: { transition:'entrance', cacheViews:true }--><!--/ko-->
    </div>
</div>