<div class="panel-group" data-bind="foreach: data">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"  data-bind="text: 'Connection idetifier: ' + Id, attr: { href: '#statsDebugChangesCollapse' + $index() }"></a>
            </h4>
        </div>
        <div class="panel-collapse collapse in" data-bind="attr: { id: 'statsDebugChangesCollapse' + $index() }">
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Connected</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: Connected"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watch all documents</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: WatchAllDocuments"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watch all indexes</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: WatchAllIndexes"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watch config</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: WatchConfig"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watch conflicts</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: WatchConflicts"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watch sync</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: WatchSync"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watch cancellations</label>
                        <div class="col-md-10">
                            <p class="form-control-static" data-bind="text: WatchCancellations"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watch document prefixes</label>
                        <div class="col-md-10">
                            <ul data-bind="foreach: WatchDocumentPrefixes">
                                <li data-bind="text: $data"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watch documents in collection</label>
                        <div class="col-md-10">
                            <ul data-bind="foreach: WatchDocumentsInCollection">
                                <li data-bind="text: $data"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watch indexes</label>
                        <div class="col-md-10">
                            <ul data-bind="foreach: WatchIndexes">
                                <li data-bind="text: $data"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watch documents</label>
                        <div class="col-md-10">
                            <ul data-bind="foreach: WatchDocuments">
                                <li data-bind="text: $data"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Watched folders</label>
                        <div class="col-md-10">
                            <ul data-bind="foreach: WatchedFolders">
                                <li data-bind="text: $data"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>