<ul class="breadcrumb">
    <li>
        <h3>
            <a href="#databases">
                Databases
            </a>
        </h3>
    </li>
    <li data-bind="with: activeDatabase">
        <a data-bind="text: name, attr: { href: $parent.appUrls.documents }"></a>
    </li>
    <li class="active">
        <span data-bind="text: currentRouteTitle"></span>
    </li>
</ul>

<div>
    <div class="row">
		<div class="col-md-2">
			<ul class="nav nav-list nav-pills nav-stacked" data-bind="foreach: router.navigationModel">
				<li data-bind="css: { active: isActive }">
					<a data-bind="attr: { href: hash }, text: title"></a>
				</li>
			</ul>
		</div>
        <div class="col-md-10" data-bind="router: { cacheViews: false }">
        </div>
    </div>
</div>