<section>
    <form class="form-horizontal" role="form">
        <div data-bind="visible: !data() || data().length == 0" class="text-center">
            <h4 class="page-header text-info">No Tasks debug info to display!</h4>
        </div>

        <!-- ko foreach: data -->
        <div class="form-group">
            <label class="col-md-4 control-label">Id</label>
            <div class="col-md-8">
                <p class="form-control-static" data-bind="text: Id"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Index Id</label>
            <div class="col-md-8">
                <p class="form-control-static" data-bind="text: IndexId"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Index name</label>
            <div class="col-md-8">
                <p class="form-control-static" data-bind="text: IndexName"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Added time</label>
            <div class="col-md-8">
                <p class="form-control-static" data-bind="text: AddedTime"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Type</label>
            <div class="col-md-8">
                <p class="form-control-static" data-bind="text: Type"></p>
            </div>
        </div>
        <hr />
        <!-- /ko -->
    </form>
</section>