<section>
    <form class="form-horizontal" role="form">
        <div data-bind="visible: !data() || data().length == 0" class="text-center">
            <h4 class="page-header text-info">No Tasks debug info to display!</h4>
        </div>

        <div data-bind="if: data() && data().length > 0">
            <a class="btn btn-default" target="_blank" href="#" data-bind="attr: { href: detailsUrl }">View raw data</a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Index Id</th>
                        <th>Index Name</th>
                        <th>Task Count</th>
                        <th>Min Date</th>
                        <th>Max Date</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: data">
                    <tr>
                        <td data-bind="text: Type"></td>
                        <td data-bind="text: IndexId"></td>
                        <td data-bind="text: IndexName"></td>
                        <td data-bind="text: Count"></td>
                        <td data-bind="text: MinDate"></td>
                        <td data-bind="text: MaxDate"></td>
                    </tr>
                </tbody>
            </table>    
        </div>
        
    </form>
</section>
