<div class="panel panel-default form-horizontal" role="form">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-4 control-label">Warn when using System Database</div>
            <div class="col-md-8">
                <div class="btn-group" data-toggle="buttons-radio">
                    <button class="btn" data-bind="click: warnWhenUsingSystemDatabaseToggle, css: { 'btn-primary active': warnWhenUsingSystemDatabase }, enable: !warnWhenUsingSystemDatabase()">On</button>
                    <button class="btn" data-bind="click: warnWhenUsingSystemDatabaseToggle, css: { 'btn-primary active': !warnWhenUsingSystemDatabase() }, enable: warnWhenUsingSystemDatabase">Off</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">Remind to upgrade (muted for a week)</div>
            <div class="col-md-8">
                <div class="btn-group" data-toggle="buttons-radio">
                    <button class="btn" data-bind="click: remingToUpgradeToggle, css: { 'btn-primary active': remindToUpgrade }, enable: !remindToUpgrade()">On</button>
                    <button class="btn" data-bind="click: remingToUpgradeToggle, css: { 'btn-primary active': !remindToUpgrade() }, enable: remindToUpgrade">Off</button>
                </div>
            </div>
        </div>
    </div>
</div>