<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Toggle Indexing</h3>
    </div>
    <div class="panel-body">
        Enable and disable indexing
    </div>

    <button data-bind="click: disableIndexing, visible: indexingStatus() != 'Paused'">
        <span class="glyphicon glyphicon-stop"></span>
        <span>Disable Indexing</span>
    </button>
    
    <button data-bind="click: enableIndexing, visible: indexingStatus() != 'Indexing'">
        <span class="glyphicon glyphicon-play"></span>
        <span>Enable Indexing</span>
    </button>
    
    <div>
        Current Status: <span data-bind="text: indexingStatus"></span>
    </div>
</div>