
<div class="btn-group">
    <a class="btn btn-primary use-bootstrap-tooltip" data-bind="attr: { href: newTransformerUrl}" title="Add a new transformer (Alt+N)" accesskey="N"><i class="fa fa-plus"></i></a>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default use-bootstrap-tooltip" data-bind="click: collapseAll" title="Collapse all transformer groups (Alt+Minus)" accesskey="-"><i class="fa fa-minus-square-o"></i></button>
    <button type="button" class="btn btn-default use-bootstrap-tooltip" data-bind="click: expandAll" title="Expand all transformer groups(Alt+Plus)" accesskey="+"><i class="fa fa-plus-square-o"></i></button>
</div>
