<div id="upgradeContainer">
    <div class="text-center">
        <div data-bind="visible: inProgress" class="alert alert-warning" role="alert">
            <br /><br />
            <h2>Database upgrade in progress.</h2>
            <h4>For upgrade details please look into the server logs.</h4>
            
            <br /><br />
            <i class="fa fa-spin fa-5x fa-cog"></i>
        </div>
        
        <div data-bind="visible: !inProgress()" class="alert alert-info" role="alert">
            <br /><br />
            <h2>Upgrade completed</h2>
            
            <br /><br />
            <i class="fa fa-check fa-5x"></i>
        </div>
    </div>
</div>
