<div class="documents-page no-outline" tabindex="0">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar">
            <!-- TODO: create a page in documentation -->
            <!--<a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>-->
            <div class="btn-group">
                <button type="button" class="btn btn-link" style="margin-left: 10px;" data-bind="click: toggleSelectAll, visible: hasPoints" title="Select all or none">
                    <img data-bind="checkboxTriple: pointsSelection" />
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" accesskey="n" data-bind="click: newPoint" title="Create a new point (Alt+N)">
                    <i class="fa fa-plus"></i> New Point
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-bind="click: refresh, disable: showLoadingIndicator() || isInitialized() == false" title="Refresh from server">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="btn-group" data-bind="visible: hasAnyPointsSelected">
                <button type="button" class="btn btn-default" data-bind="click: changePoint, enable: selectedPointsIndices().length == 1" title="Change Point Value">
                    <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: deleteSelectedPoints, attr: { title: selectedPointsIndices().length == 1 ? 'Delete Point' : 'Delete Points' }">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
            <div class="btn-group">
                <div id="loadingIndicator" data-bind="visible: showLoadingIndicatorThrottled">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>
            <div style="float: right">
                <div style="float: left; margin-right: 20px">
                    <div>
                        <span class="time-series-label">Type</span>
                        <span data-bind="text: type"></span>
                    </div>
                    <div>
                        <span class="time-series-label">Key</span>
                        <span data-bind="text: key"></span>
                    </div>
                    <div>
                        <span class="time-series-label">Points</span>
                        <span data-bind="text: pointsCount"></span>
                    </div>
                </div>
                <div style="float: left; margin-right: 20px">
                    <div>
                        <span class="time-series-label">Min</span>
                        <span data-bind="text: minPoint"></span>
                    </div>
                    <div>
                        <span class="time-series-label">Max</span>
                        <span data-bind="text: maxPoint"></span>
                    </div>
                </div>
                <div style="float: left; margin-right: 20px">
                    <div>
                        <label>
                            <input type="checkbox" data-bind="checked: isFilterActive">
                            Filter
                        </label>
                    </div>
                    <div>
                        <span class="time-series-label">Start</span>
                        <input type="text" class="form-control" data-bind="value: startPointFilter, attr: { placeholder: minPoint }, enable: isFilterActive">
                    </div>
                    <div>
                        <span class="time-series-label">End</span>
                        <input type="text" class="form-control" data-bind="value: endPointFilter, attr: { placeholder: maxPoint }, enable: isFilterActive">
                    </div>
                </div>
            </div>
        </div>
        <div class="documents-select" data-bind="visible: hasAnyPointsSelected() && !hasAllPointsSelected() && isAnyPointsAutoSelected()">
            <i class="fa fa-info-circle"></i> You have selected <strong data-bind="text: selectedPointsIndices().length"></strong> <span data-bind="text: selectedPointsText"></span>.
            <span class="select-link" data-bind="click: selectAll">
                Select all <strong data-bind="text: pointsCount"></strong> <span data-bind="text: selectedPointsText"></span> in <span data-bind="text: key"></span>
            </span>
        </div>
        <div class="documents-select" data-bind="visible: hasAllPointsSelected() && isAllPointsAutoSelected()">
            You have selected <strong data-bind="text: selectedPointsIndices().length"></strong> <span data-bind="text: selectedPointsText"></span> in
            <span data-bind="text: name"></span>.
            <span class="select-link" data-bind="click: selectNone">
                Clear selection
            </span>
        </div>

        <div id="pointsGrid" data-bind="widget: { kind: 'virtualTable', itemsSource: pointsList, selectedIndices: selectedPointsIndices, gridSelector: '#pointsGrid', rowsAreLoading: showLoadingIndicator, isAnyAutoSelected: isAnyPointsAutoSelected, isAllAutoSelected: isAllPointsAutoSelected, contextMenuOptions: ['ChangeValue', 'Delete'], showIds: false, noResultsMessage: 'No points were found!' }"></div>
    </div>
</div>