<div class="messageBox" tabindex="-1">
    <form data-bind="submit: nextOrCreate">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: cancel" aria-hidden="true"></button>
            <h4 class="modal-title">Create Counter Storage</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="counterStorageName">Name</label>
                        <input required type="text" class="form-control" id="counterStorageName" placeholder="Counter Storage Name" data-bind="value: counterStorageName, valueUpdate: 'afterkeydown', hasfocus: counterStorageNameFocus">
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#advancedOptions">
                                        Advanced Settings
                                    </a>
                                </h4>
                            </div>
                            <div id="advancedOptions" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="counterStoragePath">Path</label>
                                        <input data-bind="value: counterStoragePath, valueUpdate: 'afterkeydown', attr: { placeholder: '~/Counters/' + counterStorageName() }" type="text" class="form-control" id="databasePath">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>