<div class="messageBox" tabindex="-1" style="width: 715px;">
    <form data-bind="submit: startServerLogging" id="log-config-form" onkeypress="return event.keyCode != 13;">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: cancel" aria-hidden="true">
                <i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title">Custom logging</h4>
        </div>
        
        <div class="modal-body">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="maxEntries" class="col-sm-4 control-label">Max log entries</label>
                        <div class="col-sm-8">
                          <input type="number" data-bind="value: logConfig.maxEntries" class="form-control" id="maxEntries" required max="30000" min="1">
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-hover" data-bind="css: { 'custom-table': isScrollNeeded }">
                <thead>
                    <tr>
                        <th class="col-md-4">Category</th>
                        <th class="col-md-4">Level</th>
                        <th class="col-md-4">Stack traces?</th>
                        <th class="col-md-2">Options</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: logConfig.entries, css: { 'custom-table-tbody': isScrollNeeded }">
                    <tr>
                        <td class="col-md-4"><input class="form-control" required type="text" data-bind="value: category" /></td>
                        <td class="col-md-4">
                            <select class="form-control" required data-bind="value: level">
                                <option value="Debug">Debug</option>
                                <option value="Info">Info</option>
                                <option value="Warn">Warning</option>
                                <option value="Error">Error</option>
                                <option value="Fatal">Fatal</option>
                            </select>
                        </td>
                        <td class="col-md-4">
                            <button type="button" class="btn-link" data-bind="click: toggleStackStace">
                                <img data-bind="checkbox: includeStackTrace">
                            </button>
                        </td>
                        <td class="col-md-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" data-bind="click: $root.deleteRow.bind($root, $data)"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Ok</button>
            <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
            <button type="button" class="btn pull-left btn-default" data-bind="click: addCategory">
                <i class="fa fa-plus"></i> Add new category
            </button>
        </div>
    </form>
</div>

