<div data-bind="visible: isForbidden" class="text-center">
    <h4 class="page-header text-info">You are not authorized to view this page!</h4>
</div>

<div role="tabpanel" data-bind="visible: isForbidden() == false">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#compactDb" aria-controls="compactDb" role="tab" data-toggle="tab">Database</a></li>
        <li role="presentation"><a href="#compactFs" aria-controls="compactFs" role="tab" data-toggle="tab">File system</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="compactDb">
            <form class="form-horizontal" role="form" data-bind="submit: startDbCompact">
                <div class="panel panel-default" data-bind="with: dbCompactOptions">
                    <div class="panel-heading panel-info">
                        <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
                        <button type="submit" class="btn btn-primary" data-bind="disable: $parent.isBusy">
                            <i class="fa fa-hdd-o fa-fw" data-bind="visible: !$parent.isBusy()"></i>
                            <i class="fa fa-spinner fa-spin fa-fw" data-bind="visible: $parent.isBusy"></i>
                            <span>Start Compaction</span>
                        </button>
                        <button type="button" class="btn btn-default" data-bind="visible: $parent.isBusy, css: { 'active': keepDown }, click: function () { this.toggleKeepDown() }">KeepDown</button>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="databaseName" class="col-sm-2 control-label">Database to compact</label>
                            <div class="col-sm-5">
                                <input tabindex="2" autocomplete="off" required type="text" name="databaseName" class="form-control" id="databaseName" data-bind="textInput: resourceName, disable: $parent.isBusy, customValidity: nameCustomValidityError" placeholder="Database name to compact">
                                <ul class="dropdown-menu scrollable-resource-menu" role="menu" style="display: none;" data-bind="autoComplete: '#databaseName', foreach: searchResults">
                                    <li role="presentation" data-bind="click: $parent.resourceName.bind($parent, $data)">
                                        <a role="menuitem" tabindex="-1" href="#">
                                            <span class="text" data-bind="text: $data"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-2">
                                <i class="fa fa-warning text-warning"></i> <span class="text-muted">Compaction takes database offline.</span>
                            </div>
                        </div>

                        <div class="bs-code-output" data-title="Log" data-bind="visible: compactStatusMessages().length, dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer', bottomMargin: '10px' }">
                            <pre>
<!-- ko foreach: compactStatusMessages --><div data-bind="text: $data"></div><!-- /ko -->
<div data-bind="text: 'Last Progress Message: ' + compactStatusLastUpdate(), visible: $parent.isBusy()"></div>
</pre>
                        </div>
                    </div>
                </div>
                

            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="compactFs">
            <form class="form-horizontal" role="form" data-bind="submit: startFsCompact">
                <div class="panel panel-default" data-bind="with: fsCompactOptions">
                    <div class="panel-heading panel-info">
                        <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
                        <button type="submit" class="btn btn-primary" data-bind="disable: $parent.isBusy">
                            <i class="fa fa-hdd-o fa-fw" data-bind="visible: !$parent.isBusy()"></i>
                            <i class="fa fa-spinner fa-spin fa-fw" data-bind="visible: $parent.isBusy"></i>
                            <span>Start Compaction</span>
                        </button>
                        <button type="button" class="btn btn-default" data-bind="visible: $parent.isBusy, css: { 'active': keepDown }, click: function () { this.toggleKeepDown() }">KeepDown</button>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="filesystemName" class="col-sm-2 control-label">Filesystem to compact</label>
                            <div class="col-sm-5">
                                <input tabindex="2" autocomplete="off" required type="text" name="filesystemName" class="form-control" id="filesystemName" data-bind="textInput: resourceName, disable: $parent.isBusy, customValidity: nameCustomValidityError" placeholder="File System name to compact">
                                <ul class="dropdown-menu scrollable-resource-menu" role="menu" style="display: none;" data-bind="autoComplete: '#filesystemName', foreach: searchResults">
                                    <li role="presentation" data-bind="click: $parent.resourceName.bind($parent, $data)">
                                        <a role="menuitem" tabindex="-1" href="#">
                                            <span class="text" data-bind="text: $data"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-2">
                                <i class="fa fa-warning text-warning"></i> <span class="text-muted">Compaction takes file system offline.</span>
                            </div>
                        </div>
                        <div class="bs-code-output" data-title="Log" data-bind="visible: compactStatusMessages().length, dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer', bottomMargin: '10px' }">
                            <pre>
<!-- ko foreach: compactStatusMessages --><div data-bind="text: $data"></div><!-- /ko -->
<div data-bind="text: 'Last Progress Message: ' + compactStatusLastUpdate(), visible: $parent.isBusy()"></div>
</pre>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
