<form class="form-horizontal" role="form" data-bind="submit: performMigration">
    <div data-bind="visible: !settingsAccess.canWrite()" class="text-center">
        <h4 class="page-header text-info">You are not authorized to view this page!</h4>
    </div>
    <div class="panel panel-default" data-bind="visible: settingsAccess.canWrite()">
        <div class="panel-heading panel-info">
            Server Smuggling
        </div>
        <div class="panel-body">

            <div data-bind="with: targetServer">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Destination server Url</label>
                    <div class="col-sm-5">
                        <input required type="text" class="form-control" data-bind="value: url, valueUpdate: 'afterkeydown', disable: $root.inProgress()"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Credentials</label>
                    <div class="col-sm-5">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bind="disable: $root.inProgress()">
                                <span data-bind="visible: !isUserCredentials() && !isApiKeyCredentials()">None</span>
                                <span data-bind="visible: isUserCredentials">User</span>
                                <span data-bind="visible: isApiKeyCredentials">API key</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-bind="click: useNoCredentials">None</a></li>
                                <li class="divider"></li>
                                <li><a href="#" data-bind="click: useUserCredentials">User</a></li>
                                <li><a href="#" data-bind="click: useApiKeyCredentials">API key</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-bind="if: isUserCredentials, visible: isUserCredentials">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">User Name</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" data-bind="value: username, valueUpdate: 'afterkeydown', disable: $root.inProgress()"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" data-bind="value: password, valueUpdate: 'afterkeydown', disable: $root.inProgress()"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Domain</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" data-bind="value: domain, valueUpdate: 'afterkeydown', disable: $root.inProgress()"/>
                        </div>
                    </div>
                </div>
                <div data-bind="if: isApiKeyCredentials, visible: isApiKeyCredentials">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">API Key</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" data-bind="value: apiKey, valueUpdate: 'afterkeydown', disable: $root.inProgress()"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Select databases to migrate <br/>
                </label>
                <div class="col-sm-9">
                    <div>
                        <table class="table table-condensed table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    <button type="button" class="btn-link" data-bind="click: toggleSelectAll, visible: hasResources, disable: $root.inProgress()" title="Select all or none">
                                        <img data-bind="checkboxTriple: resourcesSelection">
                                    </button>
                                </th>
                                <th>Name</th>
                                <th class="text-center">
                                    <button type="button" class="btn-link" data-bind="click: toggleSelectAllIncremental, visible: hasResources, disable: $root.inProgress() || noIncremental()" title="Select all or none">
                                        <img data-bind="checkboxTriple: incrementalSelection, needOpacity: noIncremental">
                                    </button>
                                    Incremental
                                </th>
                                <th class="text-center">
                                    <button type="button" class="btn-link" data-bind="click: toggleSelectAllStripReplication, visible: hasResources, disable: $root.inProgress() || noStripReplication()" title="Select all or none">
                                        <img data-bind="checkboxTriple: stripReplicationSelection, needOpacity: noStripReplication">
                                    </button>
                                    Strip replication information
                                </th>
                                <th class="text-center">
                                    <button type="button" class="btn-link" data-bind="click: toggleSelectAllDisableVersioning, visible: hasResources, disable: $root.inProgress() || noDisableVersioning()" title="Select all or none">
                                        <img data-bind="checkboxTriple: disableVersioningSelection, needOpacity: noDisableVersioning">
                                    </button>
                                    Disable versioning bundle
                                </th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: resources">
                            <tr>
                                <td class="text-center">
                                    <button type="button" class="btn-link" data-bind="click: $root.toggleSelection.bind($root), disable: $root.inProgress()">
                                        <img data-bind="checkbox: $root.isSelected($data)">
                                    </button>
                                </td>
                                <td>
                                    <span style="font-weight: normal" data-bind="text: resource.name"></span>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn-link" data-bind="click: $root.toggleIncremental.bind($root), disable: $root.inProgress() || $root.isSelected($data) === false">
                                        <img data-bind="checkbox: incremental, needOpacity: $root.isSelected($data) === false">
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn-link" data-bind="visible: hasReplicationBundle, click: $root.toggleStripReplicationInformation.bind($root), disable: $root.inProgress() || $root.isSelected($data) === false">
                                        <img data-bind="checkbox: stripReplicationInformation, needOpacity: $root.isSelected($data) === false">
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn-link" data-bind="visible: hasVersioningBundle, click: $root.toggleDisableVersioningBundle.bind($root), disable: $root.inProgress() || $root.isSelected($data) === false">
                                        <img data-bind="checkbox: shouldDisableVersioningBundle, needOpacity: $root.isSelected($data) === false">
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="submit" class="btn btn-warning" data-bind="enable: submitEnabled"><span data-bind="visible: $root.inProgress()" class="fa fa-spinner fa-spin"></span> Run migration</button>
                        <button type="button" class="btn btn-default" data-bind="click: toggleJson, text: (showJsonRequest() ? 'Hide JSON' : 'Show JSON')"></button>
                        <button type="button" class="btn btn-default" data-bind="click: toggleCurl, text: (showCurlRequest() ? 'Hide curl' : 'Show curl')"></button>
                    </div>
                </div>

                <div data-bind="visible: showCurlRequest()">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Curl Command</label>
                        <div class="col-sm-9">
                            <pre data-bind="text: curlRequest"></pre>
                        </div>
                    </div>
                </div>

                <div data-bind="visible: showJsonRequest()">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Method</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" readonly="readonly" value="POST"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Payload</label>
                        <div class="col-sm-9">
                            <pre class="jsContent" data-bind="html: jsonRequest"></pre>
                        </div>
                    </div>
                </div>

                <div class="bs-code-output" data-title="Log" data-bind="visible: resultsVisible">
                    <pre>
<!-- ko foreach: $root.messages --><div data-bind="text: $data"></div><!-- /ko -->
</pre>
                </div>
            </div>
        </div>
    </div>
</form>
