<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RavenDB" connectionString="Url=http://localhost:8080;Database=Load"/>
	</connectionStrings>
	<appSettings>
		<add key="DataPath" value="C:\Work\ravendb-1.2\Raven.SimulatedWorkLoad\Data"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>