<div class="columns-list-container flex-vertical">
    <div class="flex-header">
        <div class="checkbox">
            <input id="checkbox1" class="styled" type="checkbox">
            <label for="checkbox1">
                Select All
            </label>
        </div>
    </div>
    <div class="flex-grow">
        <ul class="column-list scroll">
            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox1" class="styled" type="checkbox">
                        <label for="checkbox1">
                            id
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit disabled" data-toggle="tooltip" data-placement="bottom" title="Unavailable on default column"><i class="icon-edit disabled"></i></a>
                <a href="#" class="column-remove disabled" data-toggle="tooltip" data-placement="bottom" title="Unavailable on default column"><i class="icon-trash disabled"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>

            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox2" class="styled" type="checkbox">
                        <label for="checkbox2">
                            First Name (first_name)
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit disabled" data-toggle="tooltip" data-placement="bottom" title="Unavailable on default column"><i class="icon-edit disabled"></i></a>
                <a href="#" class="column-remove disabled" data-toggle="tooltip" data-placement="bottom" title="Unavailable on default column"><i class="icon-trash disabled"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>

            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox3" class="styled" type="checkbox">
                        <label for="checkbox3">
                            middle_name
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>

            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox4" class="styled" type="checkbox">
                        <label for="checkbox4">
                            last_name
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>
            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox5" class="styled" type="checkbox">
                        <label for="checkbox5">
                            age
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>
            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox5" class="styled" type="checkbox">
                        <label for="checkbox5">
                            email
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>
            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox1" class="styled" type="checkbox">
                        <label for="checkbox1">
                            id
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>

            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox2" class="styled" type="checkbox">
                        <label for="checkbox2">
                            First Name (first_name)
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>

            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox3" class="styled" type="checkbox">
                        <label for="checkbox3">
                            middle_name
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>

            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox4" class="styled" type="checkbox">
                        <label for="checkbox4">
                            last_name
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>
            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox5" class="styled" type="checkbox">
                        <label for="checkbox5">
                            age
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>
            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox5" class="styled" type="checkbox">
                        <label for="checkbox5">
                            email
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>
            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox1" class="styled" type="checkbox">
                        <label for="checkbox1">
                            id
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>

            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox2" class="styled" type="checkbox">
                        <label for="checkbox2">
                            First Name (first_name)
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>

            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox3" class="styled" type="checkbox">
                        <label for="checkbox3">
                            middle_name
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>

            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox4" class="styled" type="checkbox">
                        <label for="checkbox4">
                            last_name
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>
            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox5" class="styled" type="checkbox">
                        <label for="checkbox5">
                            age
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>
            <li>
                <div class="column-name">
                    <div class="checkbox">
                        <input id="checkbox5" class="styled" type="checkbox">
                        <label for="checkbox5">
                            email
                        </label>
                    </div>
                </div>
                <a href="#" class="column-edit"><i class="icon-edit"></i></a>
                <a href="#" class="column-remove"><i class="icon-trash"></i></a>
                <a href="#" class="column-rearrange"><i class="icon-menu"></i></a>
            </li>
        </ul>
    </div>
    <div class="flex-footer">
        <div class="column-add-new active">
            <div class="form">
                <div class="binding">
                    <input class="form-control input-sm" placeholder="Binding" />
                </div>
                <div class="alias">
                    <input class="form-control input-sm" placeholder="Alias" />
                </div>
                <div>
                    <button class="btn btn-success btn-sm">
                        <i class="icon-plus"></i>
                    </button>
                </div>
            </div>

            <div class="error-message bg-danger padding padding-sm">
                Can't add, syntax error:<br/>
                <strong>"Unexpected token"</strong>
            </div>
            <hr/>
        </div>

        <div class="clearfix">
            <div class="pull-left">
                <button class="btn btn-sm">Set as default</button>
                <button class="btn btn-primary btn-sm"><i class="icon-plus"></i> <span>Add custom column</span></button>
            </div>
            <div class="pull-right">
                <button class="btn btn-sm">Close</button>
                <button class="btn btn-success btn-sm"><i class="icon-save"></i> <span>Apply</span></button>
            </div>
        </div>
    </div>
</div>
