<ul class="breadcrumb">
    <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>    
    <li>
        <h3>
            <a href="#resources">
                File Systems
            </a>
        </h3>
    </li>
    <li class="active" data-bind="with: activeFilesystem">
        <a data-bind="text: name, attr: { href: $parent.appUrls.filesystemFiles }"></a>
    </li>
    <li class="active">
        <span>Status</span>
    </li>
</ul>

<div class="filesystems-page">
    <button class="btn btn-primary" data-bind="click: synchronizeNow" title="Sync Now (Alt+S)" accesskey="S"><i class="fa fa-refresh"></i> Sync Now</button>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span>Outgoing synchronizations</span>
                        <span class="glyphicon glyphicon-export"></span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#outgoing-active">
                                    <span>Active</span>
                                    <span class="text-muted" data-bind="text: '('+ activeOutgoing.totalCount() +')'"></span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#outgoing-pending">
                                    <span>Pending</span>
                                    <span class="text-muted" data-bind="text: '('+ pendingOutgoing.totalCount() +')'"></span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="outgoing-active" class="tab-pane fade in active">
                                <div data-bind="with: activeOutgoing">
                                    <div style="height: 392px; overflow-y: auto">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr class="database-header">
                                                    <td class="ko-grid-column-header"><b>File Name</b></td>
                                                    <td class="ko-grid-column-header"><b>Etag</b></td>
                                                    <td class="ko-grid-column-header"><b>Destination Url</b></td>
                                                    <td class="ko-grid-column-header"><b>Type</b></td>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: items">
                                                <tr class="database-row">
                                                    <td data-bind="text: FileName"></td>
                                                    <td data-bind="text: FileEtag"></td>
                                                    <td data-bind="text: DestinationUrl"></td>
                                                    <td data-bind="text: TypeDescription"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <ul class="pagination pull-right" data-bind="foreach: allPages, visible: allPages().length > 1">
                                            <li data-bind="css: { active: pageNumber === ($parent.pageIndex() + 1) }"><a href="#" data-bind="text: pageNumber, click: function() { $parent.moveToPage(pageNumber-1); }"></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div id="outgoing-pending" class="tab-pane fade">
                                <div data-bind="with: pendingOutgoing">
                                    <div style="height: 392px; overflow-y: auto">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr class="database-header">
                                                    <td class="ko-grid-column-header"><b>File Name</b></td>
                                                    <td class="ko-grid-column-header"><b>Etag</b></td>
                                                    <td class="ko-grid-column-header"><b>Destination Url</b></td>
                                                    <td class="ko-grid-column-header"><b>Type</b></td>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: items">
                                                <tr class="database-row">
                                                    <td data-bind="text: FileName"></td>
                                                    <td data-bind="text: FileEtag"></td>
                                                    <td data-bind="text: DestinationUrl"></td>
                                                    <td data-bind="text: TypeDescription"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <ul class="pagination pull-right" data-bind="foreach: allPages, visible: allPages().length > 1">
                                            <li data-bind="css: { active: pageNumber === ($parent.pageIndex() + 1) }"><a href="#" data-bind="text: pageNumber, click: function() { $parent.moveToPage(pageNumber-1); }"></a></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-import"></span>
                        <span>Incoming synchronizations</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#incoming-active">
                                    <span>Active</span>
                                    <span class="text-muted" data-bind="text: '('+ activeIncoming.totalCount() +')'"></span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#incoming-finished">
                                    <span>Finished</span>
                                    <span class="text-muted" data-bind="text: '('+ finishedIncoming.totalCount() +')'"></span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="incoming-active" class="tab-pane fade in active">
                                <div data-bind="with: activeIncoming">
                                    <div style="height: 392px; overflow-y: auto">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr class="database-header">
                                                    <td class="ko-grid-column-header"><b>File Name</b></td>
                                                    <td class="ko-grid-column-header"><b>Etag</b></td>
                                                    <td class="ko-grid-column-header"><b>Destination Url</b></td>
                                                    <td class="ko-grid-column-header"><b>Type</b></td>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: items">
                                                <tr class="database-row">
                                                    <td data-bind="text: FileName"></td>
                                                    <td data-bind="text: FileEtag"></td>
                                                    <td data-bind="text: DestinationUrl"></td>
                                                    <td data-bind="text: TypeDescription"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <ul class="pagination pull-right" data-bind="foreach: allPages, visible: allPages().length > 1">
                                            <li data-bind="css: { active: pageNumber === ($parent.pageIndex() + 1) }"><a href="#" data-bind="text: pageNumber, click: function() { $parent.moveToPage(pageNumber-1); }"></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div id="incoming-finished" class="tab-pane fade">
                                <div data-bind="with: finishedIncoming">
                                    <div style="height: 392px; overflow-y: auto">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr class="database-header">
                                                    <td class="ko-grid-column-header"><b>File Name</b></td>
                                                    <td class="ko-grid-column-header"><b>Etag</b></td>
                                                    <td class="ko-grid-column-header"><b>Type</b></td>
                                                    <td class="ko-grid-column-header"><b>Exception</b></td>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: items">
                                                <tr class="database-row">
                                                    <td data-bind="text: FileName"></td>
                                                    <td data-bind="text: FileEtag"></td>
                                                    <td data-bind="text: TypeDescription"></td>
                                                    <td>
                                                        <span data-bind="visible: AdditionalInfo() != null"><a href="#" data-bind="click: function() { $root.showException(AdditionalInfo()); }">Details</a></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <ul class="pagination pull-right" data-bind="foreach: allPages, visible: allPages().length > 1">
                                            <li data-bind="css: { active: pageNumber === ($parent.pageIndex() + 1) }"><a href="#" data-bind="text: pageNumber, click: function() { $parent.moveToPage(pageNumber-1); }"></a></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Synchronization sources
                    </h4>
                </div>
                <div class="panel-body">
                    <div>
                        <ul class="nav nav-tabs" data-bind="foreach: sourceSynchronizationInformations, visible: sourceSynchronizationInformations().length">
                            <li data-bind="css: { active:  $index() == 0 }">
                                <a data-toggle="tab" data-bind="text: SourceServerUrl, attr: { href: '#source-tabs-' + $index() }"></a>
                            </li>
                        </ul>
                        <div class="tab-content" data-bind="foreach: sourceSynchronizationInformations, visible: sourceSynchronizationInformations().length">
                            <div class="tab-pane fade in" data-bind="attr: { id: 'source-tabs-' + $index() }, css: { active:  $index() == 0 }">
                                <form class="form-horizontal col-md-12" role="form">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Etag of last synchronized file: </label>
                                        <div class="col-md-10">
                                            <p class="form-control-static" data-bind="text: LastSourceFileEtag"></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <h4 class="text-info text-center" data-bind="visible: !sourceSynchronizationInformations().length">No synchronization sources found.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
