{
  "version": "4.0.0",
  "dependencies": {

  },

  "frameworks": {
    "netstandard1.3": {
      "bin": {
        "assembly": "netstandard1.3\\Raven.NewClient.dll",
        "pdb": "netstandard1.3\\Raven.NewClient.pdb"
      }
    }
  }
}
