<div class='request-details'>
    <div>
        <h2>${Method} ${$item.url(Url)}</h2>
    </div>
    <p />
    <div>
        <table class='request-details-table'>
            <thead>
                <th>
                    Status
                </th>
                <th>
                    Http Result
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        ${Status}
                    </td>
                    <td>
                        ${HttpResult}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p />
    {{if $item.query(Url).length > 0}}
    <div>
        <h3>Query</h3>
        <pre class="query">${$item.query(Url)}</pre>
    </div>
    {{/if}}

    <p />
    <a href='#' class='ravendb-close'>Close</a>
    <p />
    <h2>Posted Data</h2>
    <pre class="prettyprint">${PostedData || "none"}</pre>
    

    <h2>Result</h2>
    <pre class="prettyprint">${Result}</pre>
    
    <a href='#' class='ravendb-close'>Close</a>
</div>
