<div class='session-information'>
	<table class='session-table'>
		<thead>
			<tr>
				<th>
					Duration
				</th>
				<th>
					Status
				</th>
				<th>
					Http Result
				</th>
				<th>
					Method
				</th>
				<th>
					Url
				</th>
				<th>
					Query
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			{{each Requests}}
			<tr>
				<td>
					${$item.round(DurationMilliseconds)} ms
				</td>
				<td>
					${Status}
				</td>
				<td>
					${HttpResult}
				</td>
				<td>
					${Method}
				</td>
				<td>
					${$item.url(Url)}
				</td>
				<td>
					<pre class="query">${$item.query(Url)}</pre>
				</td>
				<td>
					<ul>
						<li><a href="#" class='show-full-url' request-index="${$index}">Show Url</a></li>
						<li><a href="#" class='show-request-details' request-index="${$index}">Request Details</a></li>
					</ul>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
