@use "Content/scss/bs5variables";
@use "Content/scss/colors";
@use "Content/scss/sizes";
@use "Content/scss/variables";

.used-ids-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: sizes.$gutter-xs;
}

.used-id-pill {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 calc(50% - sizes.$gutter-xs);
    background-color: colors.$well-bg-var;
    border-radius: sizes.$border-radius-pill;
    padding: sizes.$gutter-xxs sizes.$gutter-sm sizes.$gutter-xxs sizes.$gutter-xxs;
    gap: sizes.$gutter-xs;

    .vector-pill {
        display: block;
        background-color: colors.$panel-bg-1-var;
        padding: sizes.$gutter-xxs sizes.$gutter-sm;
        border-radius: sizes.$border-radius-pill;
        line-height: variables.$line-height-small;
        transition: all 0.2s sizes.$global-easing;
        &:hover {
            filter: bs5variables.$hover-filter-var;
            cursor: pointer;
            transition: none;
        }
    }
}

.potential-unused-id-pill {
    border: bs5variables.$border-width solid bs5variables.$border-color-light-var;
    padding: sizes.$gutter-xxs sizes.$gutter-sm;
    border-radius: sizes.$border-radius-pill;
    line-height: variables.$line-height-small;
    transition: all 0.2s sizes.$global-easing;
    cursor: pointer;
    &:hover {
        filter: bs5variables.$hover-filter-var;
        transition: none;
    }
    &.added {
        background-color: colors.$well-bg-var;
        opacity: 0.4;
    }
}
