<div class="modal-dialog add-new-node-to-db-group" role="document">
    <div class="modal-content neo-modal" tabindex="-1">
        <div class="modal-header">
            <div class="d-flex align-items-center">
                <img src="../../../Content/img/sharding/shard.svg" alt="Shard" class="img-responsive margin-center" style="width:24px;"/>
                <h3 class="flex-grow margin-none margin-left-xxs">Add a new shard</h3>
            </div>
        </div>
        <div class="modal-body">
            <h4>Replication Configuration <i class="icon-info" title="Set the number of nodes that will contain the database"></i></h4>
            <!-- TODO: Add context -->
            <div class="form-group">
                <div class="input-group" title="Set the number of nodes that will contain the database" data-bind="validationElement: replicationFactor">
                    <span class="input-group-addon">Replication factor</span>
                    <input class="form-control" type="number" min="1" title="Set the number of nodes that will contain the database" placeholder="Enter number of nodes" data-bind="numericInput: replicationFactor">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-right">
                <button type="button" class="btn btn-default" data-bind="click: close"><i class="icon-cancel"></i><span>Cancel</span></button>
                <button data-bind="click: addShard, disable: spinners.addShard, css: { 'btn-spinner': spinners.addShard }" type="button" class="btn btn-primary">
                    <i class="icon-plus"></i><span>Add shard</span>
                </button>
            </div>
        </div>
    </div>
</div>
