<div class="col-md-7">
    <div class="form-group">
        <label for="counterStorageName">Name</label>
        <input autofocus data-bind="value: resourceName, valueUpdate: 'afterkeydown', customValidity: nameCustomValidityError" type="text" class="form-control" id="counterStorageName" autocomplete="off" placeholder="Counter Storage Name">
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#csAdvancedOptions">
                        Advanced Settings
                    </a>
                </h4>
            </div>
            <div id="csAdvancedOptions" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="alert alert-danger" role="alert" data-bind="visible: voronWarningVisible">
                        Running Voron in 32-bit mode is error prone. Set Raven/Voron/AllowOn32Bits in configuration to allow Voron on 32-bit.
                    </div>
                    <div class="form-group">
                        <label for="counterStoragePath">Path</label>
                        <input data-bind="value: resourcePath, customValidity: pathCustomValidityError, valueUpdate: 'afterkeydown', attr: { placeholder: '~/Counters/' + resourceName() }" type="text" class="form-control" id="counterStoragePath" autocomplete="off">
                    </div>
                    <div class="form-group" data-bind="visible: tempPathVisible">
                        <label for="counterStorageTempPath">Temp</label>
                        <input data-bind="value: resourceTempPath, customValidity: tempCustomValidityError, valueUpdate: 'afterkeydown', attr: { placeholder: '~/' + resourceName() }" type="text" class="form-control" id="counterStorageTempPath" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
