<div class="modal-dialog modal-lg" role="document" id="newDatabase">
    <form data-bind="submit: createDatabase" autocomplete="off">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-bind="click: close" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="icon-cancel"></i></button>
                <h4 class="modal-title" id="newDatabaseLabel">
                    <i class="icon-new-database"></i>
                    <span>New database <span data-bind="visible: databaseModel.isFromBackup">from backup</span></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="modal-settings-panel">
                    <div class="modal-settings-panel-main">
                        <div class="form-group" data-bind="validationElement: databaseModel.name">
                            <h3>NAME</h3>
                            <input type="text" id="resourceName" data-bind="textInput: databaseModel.name" autofocus class="form-control" placeholder="Enter database name">
                        </div>
                        
                        <div class="form-group" data-bind="visible: databaseModel.isFromBackup, validationElement: databaseModel.backupDirectory">
                            <h3>BACKUP DIRECTORY</h3>
                            <div class="input-group">
                                <input type="text" id="backupDirectory" 
                                       data-bind="textInput: databaseModel.backupDirectory, hasFocus: databaseModel.isFocusOnBackupDirectory, disable: databaseModel.spinners.fetchingRestorePoints()" 
                                       class="form-control" placeholder="Enter backup directory path">
                            </div>
                        </div>
                        
                        <div class="form-group" data-bind="visible: databaseModel.isFromBackup">
                            <h3>RESTORE POINT</h3>
                            <div data-bind="validationElement: databaseModel.selectedRestorePoint, validationOptions: { insertMessages: false }">
                                <div class="dropdown btn-block">
                                    <button class="btn btn-block dropdown-toggle text-left" type="button" data-toggle="dropdown" 
                                            data-bind="disable: databaseModel.restorePoints().length == 0, attr: { title: databaseModel.restorePoints().length == 0 ? 'No restore points in selected directory' : '' }, , disable: databaseModel.spinners.fetchingRestorePoints()">
                                        <span data-bind="text: databaseModel.restorePoints().length == 0 ? 'Select backup directory' : (!databaseModel.selectedRestorePoint() ? 'Select restore point..' : databaseModel.selectedRestorePoint()), textinput: databaseModel.selectedRestorePoint"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu max-height" data-bind="foreach: databaseModel.restorePoints">
                                        <li><a href="#" data-bind="text: $data.Key, click: $parent.databaseModel.useRestorePoint.bind($parent.databaseModel, $data), attr: { 'title': 'File name: ' + $data.Details.FileName }"></a></li>
                                    </ul>
                                </div>
                                <span class="help-block" data-bind="validationMessage: databaseModel.selectedRestorePoint"></span>
                            </div>
                        </div>

                        <div class="settings-group" data-bind="foreach: getAvailableSections()">
                            <div class="checkbox settings-item nocheck" data-bind="css: { 'active': $root.currentAdvancedSection() === name }, visible: alwaysEnabled">
                                <label data-bind="text: name, click: _.partial($root.showAdvancedConfigurationFor, name)">
                                </label>
                                <button type="button" class="btn pull-right btn-toggle"
                                        data-bind="click: _.partial($root.showAdvancedConfigurationFor, name), css: { 'btn-danger': enabled() && validationGroup && !validationGroup.isValid() }">
                                    <i data-bind="attr: { 'class' : validationGroup && !validationGroup.isValid() ? 'icon-danger' : 'icon-settings' }"></i>
                                </button>
                            </div>
                            <div class="toggle settings-item" data-bind="css: { 'active': $root.currentAdvancedSection() === name }, visible: !alwaysEnabled">
                                <input class="styled" type="checkbox" data-bind="checked: enabled, attr: { id: 'section_' + $index() }">
                                <label data-bind="text: name, attr: { 'for': 'section_' + $index() }">
                                </label>
                                <button type="button" class="btn pull-right btn-toggle"
                                        data-bind="click: _.partial($root.showAdvancedConfigurationFor, name), css: { 'btn-danger': enabled() && validationGroup && !validationGroup.isValid() }">
                                    <i data-bind="attr: { 'class' : enabled() && validationGroup && !validationGroup.isValid() ? 'icon-danger' : 'icon-settings' }"></i>
                                </button>
                            </div>
                        </div>
                        <div class="flex-separator"></div>
                        <button type="submit" class="btn btn-success btn-block" data-bind="css: { 'btn-spinner': spinners.create }, disable: spinners.create"><i class="icon-plus"></i><span>Create</span></button>

                    </div>
                    <div class="modal-settings-panel-slideout">
                        <div>
                            <div class="encryption" data-bind="template: { name: 'create-db-encryption' }, visible: advancedVisibility.encryption()">
                            </div>
                        </div>
                        <div>
                            <div class="replication" data-bind="template: { name: 'create-db-replication' }, visible: advancedVisibility.replication()">
                            </div>
                        </div>
                        <div>
                            <div class="path" data-bind="template: { name: 'create-db-path' }, visible: advancedVisibility.path()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/html" id="create-db-path">
    <div data-bind="with: databaseModel.path">
        <h3>Paths configuration</h3>
        <div class="form-group row" data-bind="validationElement: dataPath">
            <div class="col-md-4">
                <label class="control-label">Path</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" data-bind="textInput: dataPath, attr: { placeholder: '~/' + $root.databaseModel.name() }" />
            </div>
        </div>
        <div class="form-group row" data-bind="validationElement: journalsPath">
            <div class="col-md-4">
                <label class="control-label">Journals</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" data-bind="textInput: journalsPath, attr: { placeholder: '~/' + $root.databaseModel.name() }" />
            </div>
        </div>
        <div class="form-group row" data-bind="validationElement: indexesPath">
            <div class="col-md-4">
                <label class="control-label">Indexes</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" data-bind="textInput: indexesPath, attr: { placeholder: $root.indexesPathPlaceholder() }" />
            </div>
        </div>
        <div class="form-group row" data-bind="validationElement: tempPath">
            <div class="col-md-4">
                <label class="control-label">Temp</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" data-bind="textInput: tempPath, attr: { placeholder: '~/' + $root.databaseModel.name() }" />
            </div>
        </div>
    </div>
</script>


<script type="text/html" id="create-db-replication">
    <h3>Replication configuration</h3>
    <div data-bind="with: databaseModel.replication">
        <div class="form-group" style="min-height: 62px">
            <div class="input-group" data-bind="css: { 'has-warning': (!$root.databaseModel.isFromBackup && $root.showReplicationFactorWarning()) }, validationElement: replicationFactor">
                <span class="input-group-addon">Replication factor</span>
                <input type="number" min="0" data-bind="numericInput: replicationFactor, disable: $root.databaseModel.isFromBackup || $root.disableReplicationFactorInput" class="form-control">
                <div class="help-block" data-bind="visible: !$root.databaseModel.isFromBackup && $root.showReplicationFactorWarning">
                    With replication factor set to 1 data won't be replicated.
                </div>
                <div class="help-block" data-bind="visible: $root.databaseModel.isFromBackup">
                    The backup will be restored only to the current node <br/>
                    After restore this database can be added to other nodes using the 'Manage group' button
                </div>
            </div>
        </div>

        <div class="toggle">
            <input class="styled" type="checkbox" id="manual_mode" data-bind="checked: manualMode, disable: $root.databaseModel.isFromBackup || $root.enforceManualNodeSelection">
            <label for="manual_mode">Set replication nodes manually</label>
        </div>
        <small class="toggle-caption" data-bind="visible: !manualMode()">Replication nodes will be selected randomly among cluster's nodes.</small>
        <small class="toggle-caption" data-bind="visible: manualMode()">Select replication nodes from the list below.</small>

        <div class="panel panel-info padding" data-bind="visible: manualMode()">
            <small>Available nodes</small>
            <div class="checkbox">
                <input type="checkbox" id="toggle_all_in_cluster" class="styled" data-bind="checkboxTriple: $root.selectionState, event: { change: $root.toggleSelectAll }">
                <label for="toggle_all_in_cluster"><i class="icon-cluster"></i><span>All cluster nodes</span></label>
            </div>
            <div data-bind="foreach: $root.clusterNodes">
                <div class="checkbox checkbox-info" data-bind="validationOptions: { errorsAsTitle: false, insertMessages: false }">
                    <input class="styled" type="checkbox" data-bind="attr: { id: 'cluster_node_' + $index() }, checked: $parent.nodes, checkedValue: $data">
                    <label data-bind="attr: { for: 'cluster_node_' + $index() }">
                        <i class="icon-cluster-node"></i><span data-bind="text: tag()"></span> &nbsp; <small data-bind="text: serverUrl()"></small>
                    </label>
                </div>
            </div>
        </div>
        <div data-bind="validationElement: nodes">
            <div class="help-block" data-bind="validationMessage: nodes"></div>
        </div>  
    </div>
</script>

<script type="text/html" id="create-db-encryption">
    <h3>Encryption configuration</h3>
    <div class="margin-bottom" data-bind="validationElement: databaseModel.encryption.key">
        <label class="control-label">
            Key <small class="text-muted">(Base64 Encoding)</small>
        </label>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Key" autocomplete="off"
                   data-bind="textInput: databaseModel.encryption.key">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: generateEncryptionKey">
                    <i class="icon-reset"></i>
                </button>
            </span>
        </div>
    </div>

    <p>QR Code:</p>
    <div class="text-center">
        <div id="encryption_qrcode">
        </div>
    </div>
       
    <div class="text-center" id="savingKeyData">
        <span  class="has-disable-reason" data-bind="attr: { 'data-original-title': disableSavingKeyData() ? 'Validate database name & key !' : '' }">
            <button type="button" class="btn btn-default btn-sm" data-bind="click: copyEncryptionKeyToClipboard, attr: { disabled: disableSavingKeyData }">
                <i class="icon-copy"></i> <span>Copy to clipboard</span>
            </button>            
        </span>
        
        <span class="has-disable-reason" data-bind="attr: { 'data-original-title': disableSavingKeyData() ? 'Validate database name & key !' : '' }">
            <button type="button" class="btn btn-default btn-sm" data-bind="click: downloadEncryptionKey, attr: { disabled: disableSavingKeyData }">
                <i class="icon-export"></i> <span>Download encryption key</span>
            </button>
        </span>

        <span class="has-disable-reason" data-bind="attr: { 'data-original-title': disableSavingKeyData() ? 'Validate database name & key !' : '' }">
            <button type="button" class="btn btn-default btn-sm" data-bind="click: printEncryptionKey, attr: { disabled: disableSavingKeyData() }">
                <i class="icon-print"></i><span>Print encryption key</span>
            </button>
        </span>
    </div>   

    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox" data-bind="validationOptions: { insertMessages: false }">
                <input class="styled" type="checkbox" id="saved_key_confirm" data-bind="checked: databaseModel.encryption.confirmation">
                <label for="saved_key_confirm">I have saved the encryption key.</label>
            </div>

            <div data-bind="validationElement: databaseModel.encryption.confirmation">
                <div class="help-block" data-bind="validationMessage: databaseModel.encryption.confirmation"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="bg-info padding padding-sm small">
                <i class="icon-warning"></i> 
                Save this key in a safe place as it will Not be available again!<br/>
                If you lose this key you could lose access to your data.
            </p>
        </div>
    </div>
</script>