<div class="modal-dialog modal-lg" role="document" id="newDatabase">
    <form data-bind="submit: createDatabase" autocomplete="off">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-bind="click: close" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="icon-cancel"></i></button>
                <h4 class="modal-title" id="newDatabaseLabel">
                    <i class="icon-database"></i>
                    <span>New database</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="modal-settings-panel">
                    <div class="modal-settings-panel-main">
                        <div class="form-group" data-bind="validationElement: databaseModel.name">
                            <h3>NAME</h3>
                            <input type="text" id="resourceName" data-bind="textInput: databaseModel.name" autofocus class="form-control">
                        </div>

                        <div class="settings-group" data-bind="foreach: getAvailableSections()">
                            <div class="checkbox settings-item nocheck" data-bind="css: { 'active': $root.currentAdvancedSection() === name }, visible: alwaysEnabled">
                                <label data-bind="text: name, click: _.partial($root.showAdvancedConfigurationFor, name)"></label>
                                <button type="button" class="btn pull-right btn-toggle"
                                        data-bind="click: _.partial($root.showAdvancedConfigurationFor, name), css: { 'btn-danger': enabled() && validationGroup && !validationGroup.isValid() }">
                                    <i data-bind="attr: { 'class' : validationGroup && !validationGroup.isValid() ? 'icon-danger' : 'icon-settings' }"></i>
                                </button>
                            </div>
                            <div class="checkbox settings-item" data-bind="css: { 'active': $root.currentAdvancedSection() === name }, visible: !alwaysEnabled">
                                <input class="styled" type="checkbox" data-bind="checked: enabled, attr: { id: 'section_' + $index() }">
                                <label data-bind="text: name, attr: { 'for': 'section_' + $index() }"></label>
                                <button type="button" class="btn pull-right btn-toggle"
                                        data-bind="click: _.partial($root.showAdvancedConfigurationFor, name), css: { 'btn-danger': enabled() && validationGroup && !validationGroup.isValid() }">
                                    <i data-bind="attr: { 'class' : enabled() && validationGroup && !validationGroup.isValid() ? 'icon-danger' : 'icon-settings' }"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-settings-panel-slideout">
                        <div>
                            <div class="encryption" data-bind="template: { name: 'create-db-encryption' }, visible: advancedVisibility.encryption()">
                            </div>
                        </div>
                        <div>
                            <div class="replication" data-bind="template: { name: 'create-db-replication' }, visible: advancedVisibility.replication()">
                            </div>
                        </div>
                        <div>
                            <div class="path" data-bind="template: { name: 'create-db-path' }, visible: advancedVisibility.path()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-block" data-bind="css: { 'btn-spinner': spinners.create }, disable: spinners.create"><i class="icon-plus"></i><span>Create</span></button>
            </div>
        </div>
    </form>
</div>


<script type="text/html" id="create-db-path">
    <div data-bind="with: databaseModel.path">
        <h3>Paths configuration</h3>
        <div class="form-group row" data-bind="validationElement: dataPath">
            <div class="col-md-4">
                <label class="control-label">Path</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" data-bind="textInput: dataPath, attr: { placeholder: '~/' + $root.databaseModel.name() }" />
            </div>
        </div>
        <div class="form-group row" data-bind="validationElement: journalsPath">
            <div class="col-md-4">
                <label class="control-label">Journals</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" data-bind="textInput: journalsPath, attr: { placeholder: '~/' + $root.databaseModel.name() }" />
            </div>
        </div>
        <div class="form-group row" data-bind="validationElement: indexesPath">
            <div class="col-md-4">
                <label class="control-label">Indexes</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" data-bind="textInput: indexesPath, attr: { placeholder: $root.indexesPathPlaceholder() }" />
            </div>
        </div>
        <div class="form-group row" data-bind="validationElement: tempPath">
            <div class="col-md-4">
                <label class="control-label">Temp</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" data-bind="textInput: tempPath, attr: { placeholder: '~/' + $root.databaseModel.name() }" />
            </div>
        </div>
    </div>
</script>


<script type="text/html" id="create-db-replication">
    <h3>Replication configuration</h3>
    <div data-bind="with: databaseModel.replication">
        <div style="min-height:150px;">
            <div class="form-group row" data-bind="validationElement: replicationFactor">
                <div class="col-md-12">
                    <label class="control-label">Replication factor</label>
                </div>
                <div class="col-md-8">
                    <input type="number" data-bind="numericInput: replicationFactor, disable: $root.disableReplicationFactorInput" class="form-control">
                </div>
            </div>

            <p class="bg-warning padding padding-xs" data-bind="visible: $root.showReplicationFactorWarning">With replication factor set to 1 data won't be replicated.</p>
        </div>


        <p data-bind="visible: !manualMode()">Replication nodes will be selected randomly among cluster's nodes.</p>
        <p data-bind="visible: manualMode">Please select replication nodes from the list below.</p>

        <div class="checkbox checkbox-inline">
            <input class="styled" type="checkbox" id="manual_mode" data-bind="checked: manualMode, disable: $root.enforceManualNodeSelection">
            <label for="manual_mode">Set replication nodes manually.</label>
        </div>



        <div data-bind="visible: manualMode()">
            <h4>Replication nodes</h4>

            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="toggle_all_in_cluster" class="styled" data-bind="checkboxTriple: $root.selectionState, event: { change: $root.toggleSelectAll }">
                        <label for="toggle_all_in_cluster">All</label>
                    </div>
                </div>
            </div>

            <div data-bind="foreach: $root.clusterNodes">
                <div class="checkbox">
                    <input class="styled" type="checkbox" data-bind="attr: { id: 'cluster_node_' + $index() }, checked: $parent.nodes, checkedValue: $data">
                    <label data-bind="attr: { for: 'cluster_node_' + $index() }, text: tag() + ' (' + serverUrl() + ')'"></label>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="create-db-encryption">
    <h3>Encryption configuration</h3>
    <div class="margin-bottom" data-bind="validationElement: databaseModel.encryption.key">
        <label class="control-label">
            Key <small class="text-muted">(Base64 Encoding)</small>
        </label>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Key" autocomplete="off"
                   data-bind="textInput: databaseModel.encryption.key">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: generateEncryptionKey">
                    <i class="icon-reset"></i>
                </button>
            </span>
        </div>
    </div>


    <p>QR Code:</p>
    <div class="text-center">
        <div id="encryption_qrcode">

        </div>
    </div>


    <div class="text-center">
        <button type="button" class="btn btn-default btn-sm" data-bind="click: copyEncryptionKeyToClipboard"><i class="icon-copy"></i> <span>Copy to clipboard</span></button>
        <button type="button" class="btn btn-default btn-sm" data-bind="click: downloadEncryptionKey"><i class="icon-export"></i> <span>Download encryption key</span></button>
        <button type="button" class="btn btn-default btn-sm" data-bind="click: printEncryptionKey"><i class="icon-print"></i><span>Print encryption key</span></button>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox" data-bind="validationOptions: { insertMessages: false }">
                <input class="styled" type="checkbox" id="saved_key_confirm" data-bind="checked: databaseModel.encryption.confirmation">
                <label for="saved_key_confirm">I saved the encryption key.</label>
            </div>

            <div data-bind="validationElement: databaseModel.encryption.confirmation">
                <div class="help-block" data-bind="validationMessage: databaseModel.encryption.confirmation"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="bg-info padding padding-sm small">
                <i class="icon-warning"></i> Save this key in a safe place. If you lose this key you could lose access to your data.
            </p>
        </div>
    </div>
</script>