<div class="modal-dialog" role="document">
    <div class="modal-content" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: cancel" aria-hidden="true">
                <i class="fa fa-times"></i>
            </button>
            <h3 class="modal-title">Save Your Encryption Key</h3>
        </div>
        <div class="modal-body">
            <h4>
                <strong>Save this key in a safe place.</strong>
            </h4>
            <div>
                <input readonly="readonly" type="text" class="form-control input-lg col-sm-9" id="key" placeholder="Key" autofocus="" data-bind="value: key, click: clickKey">
            </div>
            <div class="clearfix"></div>
            <br />
            <p>
                <i class="fa fa-warning text-warning"></i> If you lose your key, you could lose access to your data.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bind="click: ok">OK</button>
        </div>
    </div>
</div>