<style>
    .settings-container {
        overflow-x: hidden;
        overflow-y: auto;
        min-width: 75vw;
        min-height: 60vh;
        max-height: 60vh;
    }
</style>
<div class="modal-dialog" role="document">
    <div class="modal-content" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: close" aria-hidden="true">
                <i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title">Database Settings</h4>
        </div>
        <div class="modal-body">
            <div class="settings-container row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked" data-bind="foreach: routes">
                        <li data-bind="css: { active: $root.isActive(moduleId) }">
                            <a href="#" data-bind="text: title, click: $root.showView.bind($root, moduleId)"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10 composite-view" data-bind="compose: content"></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click: close">Close</button>
        </div>
    </div>
</div>