<div class="databases flex-vertical absolute-fill content-margin" data-bind="css: { 'databases_compact': compactView() }">
    <div class="flex-header">
        <div class="databasesToolbar">
            <div class="databasesToolbar-actions">
                <div class="btn-group-label" data-bind="css: { active: selectedDatabases().length }, visible: accessManager.canSetState || accessManager.canDelete" data-label="Selection" role="group">
                    <button class="btn btn-danger" data-bind="visible: accessManager.canDelete, enable: selectedDatabasesWithoutLock().length, click: deleteSelectedDatabases">
                        <i class="icon-trash"></i>
                        <span>Delete</span>
                    </button>
                    <div class="btn-group" data-bind="visible: accessManager.canSetState">
                        <button type="button" class="btn btn-default dropdown-toggle" title="Set the status (enabled/disabled) of selected databases"
                                data-bind="enable: selectedDatabases().length && !spinners.globalToggleDisable(), css: { 'btn-spinner': spinners.globalToggleDisable() }" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-play"></i><span>Set state...</span>
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-bind="click: enableSelectedDatabases">
                                <a href="#" title="Enable">
                                    <i class="icon-unlock"></i>
                                    <span>Enable</span>
                                </a>
                            </li>
                            <li data-bind="click: disableSelectedDatabases">
                                <a href="#" title="Disable">
                                    <i class="icon-lock"></i>
                                    <span>Disable</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" data-bind="visible: accessManager.canDelete">
                        <button type="button" class="btn btn-default dropdown-toggle" title="Set the delete lock mode for the selected databases"
                                data-bind="enable: selectedDatabases().length && !spinners.globalToggleDisable(), 
                                                       css: { 'btn-spinner': spinners.globalToggleDisable() }" data-toggle="dropdown" aria-haspopup="true">
                            <i class="icon-lock"></i><span>Set delete lock mode...</span>
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-bind="click: unlockSelectedDatabases">
                                <a href="#" title="Allow to delete selected databases">
                                    <i class="icon-trash-cutout icon-addon-check"></i>
                                    <span>Allow databases delete</span>
                                </a>
                            </li>
                            <li data-bind="click: lockSelectedDatabases">
                                <a href="#" title="Prevent deletion of selected databases. An error will not be thrown if an app attempts to delete.">
                                    <i class="icon-trash-cutout icon-addon-cancel"></i>
                                    <span>Prevent databases delete</span>
                                </a>
                            </li>
                            <li data-bind="click: lockErrorSelectedDatabases">
                                <a href="#" title="Prevent deletion of selected databases. An error will be thrown if an app attempts to delete.">
                                    <i class="icon-trash-cutout icon-addon-exclamation"></i>
                                    <span>Prevent databases delete (Error)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group" data-bind="visible: accessManager.canCreateNewDatabase">
                    <button type="button" class="btn btn-primary" data-bind="click: newDatabase">
                        <i class="icon-new-database"></i>
                        <span>New database</span>
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#" data-bind="click: newDatabaseFromBackup">
                                <i class="icon-restore-backup"></i> New database from backup (Restore)
                            </a>
                        </li>
                        <li>
                            <a href="#" data-bind="click: newDatabaseFromLegacyDatafiles">
                                <i class="icon-restore-backup"></i> New database from v3.x (legacy) data files
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="databasesToolbar-filter">
                <div class="checkbox checkbox-primary checkbox-inline align-checkboxes">
                    <input type="checkbox" class="styled" data-bind="checkboxTriple: selectionState, event: { change: toggleSelectAll }">
                    <label></label>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Filter" accesskey="/" title="Filter databases (Alt+/)" data-bind="textInput: filters.searchText">
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Filter visible databases">
                        <span data-bind="visible: !filters.localOnly()">Show all</span>
                        <span data-bind="visible: filters.localOnly">Show local (Node <span data-bind="text: clusterManager.localNodeTag"></span>)</span>
                        &nbsp;&nbsp;
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li data-bind="click: _.partial(filters.localOnly, false)">
                            <a href="#" title="Show all databases available in cluster">
                                <span>Show all</span>
                            </a>
                        </li>
                        <li data-bind="click: _.partial(filters.localOnly, true)">
                            <a href="#" title="Show only databases which are relevant for current node">
                                <span>Show local (Node <span data-bind="text: clusterManager.localNodeTag"></span>)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- TODO
            <div class="flex-separator"></div>
            <div class="toggle toggle-primary databasesToolbar-toggleCompactView pull-right">
                <input id="compactViewInput" name="compactView" class="styled" type="checkbox" data-bind="checked: $root.compactView" />
                <label for="compactViewInput">
                    Compact View
                </label>
            </div>-->
        </div>
    </div>
    <div data-bind="if: databases().sortedDatabases().length === 0, visible: databases().sortedDatabases().length === 0" class="content-margin">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <i class="icon-xl icon-empty-set text-muted"></i>
                <h2 class="text-center text-muted">No databases have been created</h2>
                <p class="lead text-center text-muted" data-bind="visible: accessManager.canCreateNewDatabase">
                    Go ahead and <a href="#" data-bind="click: newDatabase">&nbsp;create one now</a><br />
                    or <a href="#" data-bind="click: newDatabaseFromBackup">create one from backup</a>
                </p>
                <p class="lead text-center text-muted"></p>
            </div>
        </div>
    </div>
    <div class="flex-grow scroll js-scroll-container" data-bind="if: databases().sortedDatabases().length, visible: databases().sortedDatabases().length">
        <div class="database-counter on-base-background">
            <span>
                <strong data-bind="text: databases().sortedDatabases().length"></strong> Databases
            </span>
            <span data-bind="visible: $root.databasesByState().online">
                <strong class="text-success" data-bind="text: $root.databasesByState().online"></strong> Online
            </span>
            <span data-bind="visible: $root.databasesByState().errored">
                <strong class="text-danger" data-bind="text: $root.databasesByState().errored"></strong> Errored
            </span>
            <span data-bind="visible: $root.databasesByState().disabled">
                <strong class="text-warning" data-bind="text: $root.databasesByState().disabled"></strong> Disabled
            </span>
            <span data-bind="visible: $root.databasesByState().offline">
                <strong class="text-muted" data-bind="text: $root.databasesByState().offline"></strong> Offline
            </span>
            <span data-bind="visible: $root.databasesByState().remote">
                <strong class="text-muted" data-bind="text: $root.databasesByState().remote"></strong> Remote
            </span>
        </div>
        <div data-bind="foreach: databases().sortedDatabases">
            <div data-bind="click: $root.databasePanelClicked, scrollTo: isCurrentlyActiveDatabase(), visible: !filteredOut(),
                            attr: { class: 'panel panel-hover panel-state database-item ' + badgeClass() + ' ' + (isCurrentlyActiveDatabase() ? 'active blink-style-basic' : '') + ' ' + ($root.createIsLocalDatabaseObservable(name)() ? 'relevant' : '') }">
                <div data-bind="attr: { 'data-state-text': $root.createIsLocalDatabaseObservable(name)() ? badgeText : 'remote', class: 'state ' + ($root.createIsLocalDatabaseObservable(name)() ? badgeClass() : 'state-remote') }"></div>
                <div class="padding">
                    <div class="database-header">
                        <div class="info-container flex-horizontal">
                            <div class="checkbox">
                                <input type="checkbox" class="styled" data-bind="checked: $root.selectedDatabases, checkedValue: name, disable: isBeingDeleted">
                                <label></label>
                            </div>
                            <div class="name">
                                <span title="Database is disabled" data-bind="visible: !canNavigateToDatabase()">
                                    <small><i data-bind="attr: { class: $root.createIsLocalDatabaseObservable(name)() ? 'icon-database-home': 'icon-database' }"></i></small>
                                    <span data-bind="text: name"></span>
                                </span>
                                <a data-bind="attr: { title: name, href: $root.createAllDocumentsUrlObservable($data), target: $root.createIsLocalDatabaseObservable(name)() ? undefined : '_blank' },
                                              css: { 'link-disabled': isBeingDeleted }, visible: canNavigateToDatabase()" href="#">
                                    <small><i data-bind="attr: { class: $root.createIsLocalDatabaseObservable(name)() ? 'icon-database-home': 'icon-database' }"></i></small><span data-bind="text: name"></span>
                                </a>
                            </div>
                            <div class="member">
                                <!-- ko foreach: _.slice(nodes(), 0, 5) -->
                                <a data-bind="attr: { href: $root.createAllDocumentsUrlObservableForNode($parent, $data), target: tag() === $root.clusterManager.localNodeTag() ? undefined : '_blank',
                                                      title: 'Click to navigate to this database on node ' + tag() },
                                              css: { 'link-disabled': $parent.isBeingDeleted }">
                                    <small><i data-bind="attr: { class: cssIcon }"></i><span data-bind="text: 'Node ' + tag()"></span></small>
                                </a>
                                <!-- /ko -->
                                <!-- ko foreach: deletionInProgress -->
                                <div>
                                    <div title="Deletion in progress" class="text-warning pulse">
                                        <small><i class="icon-trash"></i><span data-bind="text: 'Node ' + $data"></span></small>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <div data-bind="visible: nodes().length > 5">
                                    <a href="#" data-bind="attr: { href: $root.createManageDbGroupUrlObsevable($data) }" data-toggle="more-nodes-tooltip">
                                        <small><i class="icon-dbgroup"></i><span>+<span data-bind="text: nodes().length - 5"></span> more</span></small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="actions-container flex-grow">
                            <span data-bind="visible: isLoading">
                                <span class="global-spinner spinner-sm"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                            <div class="actions">
                                <a class="btn btn-default" href="#" title="Manage the Database Group"
                                   data-bind="css: { 'disabled': !canNavigateToDatabase() || isBeingDeleted() }, 
                                              attr: { href: $root.createManageDbGroupUrlObsevable($data), target: $root.createIsLocalDatabaseObservable(name)() ? undefined : '_blank' }">
                                    <i class="icon-manage-dbgroup"></i>
                                    <span>Manage group</span>
                                </a>
                                <div class="btn-group">
                                    <button class="btn btn-default" data-bind="click: $root.toggleDatabase, visible: $root.accessManager.canDisableEnableDatabase,
                                                                    css: { 'btn-spinner': inProgressAction },
                                                                    disable: isBeingDeleted() || inProgressAction()">
                                        <span data-bind="visible: inProgressAction(), text: inProgressAction()"></span>
                                        <i class="icon-database-cutout icon-addon-play2" data-bind="visible: !inProgressAction() && disabled()"></i>
                                        <span data-bind="visible: !inProgressAction() && disabled()">Enable</span>
                                        <i class="icon-database-cutout icon-addon-cancel" data-bind="visible: !inProgressAction() && !disabled()"></i>
                                        <span data-bind="visible: !inProgressAction() && !disabled()">Disable</span>
                                    </button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            data-bind="disable: isBeingDeleted() || inProgressAction(), 
                                                       visible: online() && $root.isAdminAccessByDbName($data.name)">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li data-bind="visible: online() && !indexingPaused() && !indexingDisabled()">
                                            <a href="#" data-bind="click: $root.togglePauseDatabaseIndexing">
                                                <i class="icon-pause"></i> Pause indexing
                                            </a>
                                        </li>
                                        <li data-bind="visible: indexingPaused()">
                                            <a href="#" data-bind="click: $root.togglePauseDatabaseIndexing">
                                                <i class="icon-play"></i> Resume indexing
                                            </a>
                                        </li>
                                        <li data-bind="visible: !indexingDisabled() && $root.accessManager.canDisableIndexing()">
                                            <a href="#" data-bind="click: $root.toggleDisableDatabaseIndexing">
                                                <i class="icon-cancel"></i> Disable indexing
                                            </a>
                                        </li>
                                        <li data-bind="visible: indexingDisabled() && $root.accessManager.canDisableIndexing()">
                                            <a href="#" data-bind="click: $root.toggleDisableDatabaseIndexing">
                                                <i class="icon-play"></i> Enable indexing
                                            </a>
                                        </li>
                                        <li class="divider" data-bind="visible: $root.createIsLocalDatabaseObservable(name) &&  $root.accessManager.canCompactDatabase()"></li>
                                        <li data-bind="visible: $root.createIsLocalDatabaseObservable(name)() && $root.accessManager.canCompactDatabase()">
                                            <a data-bind="visible: disabled" title="The database is disabled" class="has-disable-reason disabled" data-placement="top">
                                                <i class="icon-compact"></i> Compact database
                                            </a>
                                            <a href="#" data-bind="click: $root.compactDatabase, visible: !disabled()">
                                                <i class="icon-compact"></i> Compact database
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-success" data-bind="click: _.partial($root.updateDatabaseInfo, name), enable: canNavigateToDatabase(), disable: isBeingDeleted" title="Refresh database statistics">
                                    <i class="icon-refresh-stats"></i>
                                </button>
                                <div class="btn-group" data-bind="visible: $root.accessManager.canDelete">
                                    <button class="btn" data-bind="click: $root.deleteDatabase, disable: isBeingDeleted() || lockMode() !== 'Unlock',
                                                                   css: { 'btn-danger': lockMode() === 'Unlock', 'btn-default': lockMode() !== 'Unlock', 'btn-spinner': isBeingDeleted() || _.includes($root.spinners.localLockChanges(), name) },
                                                                   attr: { title: lockMode() === 'Unlock' ? 'Remove database' : 'Database cannot be deleted because of the set lock mode' }">
                                        <i class="icon-trash" data-bind="visible: lockMode() === 'Unlock'"></i>
                                        <i class="icon-trash-cutout icon-addon-cancel" data-bind="visible: lockMode() === 'PreventDeletesIgnore'"></i>
                                        <i class="icon-trash-cutout icon-addon-exclamation" data-bind="visible: lockMode() === 'PreventDeletesError'"></i>
                                    </button>
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" data-bind="css: { 'btn-danger': lockMode() === 'Unlock', 'btn-default': lockMode() !== 'Unlock' }">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="#" data-bind="click: $root.allowDatabaseDelete" title="Allow to delete database">
                                                <i class="icon-trash-cutout icon-addon-check"></i> Allow database delete
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-bind="click: $root.preventDatabaseDelete" title="Prevent deletion of database. An error will not be thrown if an app attempts to delete the database.">
                                                <i class="icon-trash-cutout icon-addon-cancel"></i> Prevent database delete 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-bind="click: $root.preventDatabaseDeleteWithError" title="Prevent deletion of database. An error will be thrown if an app attempts to delete the database.">
                                                <i class="icon-trash-cutout icon-addon-exclamation"></i> Prevent database delete (Error)
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-addon" 
                     data-bind="template: { name: hasLoadError() ? 'invalid-database-properties-template': 'valid-database-properties-template' }, visible: $root.createIsLocalDatabaseObservable(name)">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="invalid-database-properties-template">
    <div class="padding">
        <div class="addons-container flex-wrap">
            <div class="text-danger flex-grow">
                <small>
                    <i class="icon-exclamation"></i>
                    <span data-bind="text: loadError"></span>
                </small>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="valid-database-properties-template">
    <div class="padding">
        <div class="addons-container flex-wrap">
            <div class="database-properties">
                <div class="encryption">
                    <small title="This database is encrypted" data-bind="visible: isEncrypted"><i class="icon-key text-success"></i></small>
                    <small title="This database is not encrypted" data-bind="visible: !isEncrypted()"><i class="icon-unencrypted text-muted"></i></small>
                </div>
                <div data-bind="if: databaseAccessText">
                    <div class="database-access" title="Database access level">
                        <i data-bind="attr: { class: databaseAccessColor() + ' ' + databaseAccessClass() }"></i>
                        <small data-bind="text: databaseAccessText" ></small>
                    </div>
                </div>
                <div class="storage">
                    <small><i class="icon-drive"></i></small>
                    <a class="set-size" data-toggle="size-tooltip"
                       data-bind="attr: { href: $root.storageReportUrl($data) }, css: { 'link-disabled': !canNavigateToDatabase() || isBeingDeleted() }">
                        <small data-bind="text: $root.formatBytes(totalSize() + totalTempBuffersSize())"></small>
                    </a>
                </div>
                <div class="documents">
                    <small><i class="icon-document-group"></i></small>
                    <a class="set-size" title="Number of documents. Click to view the Document List."
                       data-bind="attr: { href: $root.createAllDocumentsUrlObservable($data)}, css: { 'link-disabled': !canNavigateToDatabase() || isBeingDeleted() },">
                        <small data-bind="text: (documentsCount() || 0).toLocaleString()"></small>
                    </a>
                </div>
                <div class="indexes">
                    <small><i class="icon-index"></i></small>
                    <a class="set-size" title="Number of indexes. Click to view the Index List."
                       data-bind="attr: { href: $root.indexesUrl($data) }, css: { 'link-disabled': !canNavigateToDatabase() || isBeingDeleted() }">
                        <small data-bind="text: (indexesCount() || 0).toLocaleString()"></small>
                    </a>
                </div>
                <!--ko if: !uptime()-->
                <div class="uptime text-muted">
                    <small><i class="icon-recent"></i></small>
                    <small>Offline</small>
                </div>
                <!--/ko-->
                <!--ko if: uptime()-->
                <div class="uptime">
                    <small><i class="icon-recent"></i></small>
                    <span title="The database uptime">
                        <small class="hidden-compact">Up for</small>
                        <small data-bind="text: uptime()"></small>
                    </span>
                </div>
                <!--/ko-->
                <div class="backup">
                    <div class="properties-value value-only">
                        <a class="set-size" title="Click to navigate to Backups view"
                           data-bind="css: { 'link-disabled': !canNavigateToDatabase() || isBeingDeleted() }, attr: { href: $root.backupsViewUrl($data), class: backupStatus() }">
                            <small><i class="icon-backup"></i></small>
                            <small data-bind="text: lastBackupText"></small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="database-properties-right">
                <div class="indexing-errors text-danger" data-bind="visible: indexingErrors()">
                    <small><i class="icon-exclamation"></i></small>
                    <a class="set-size text-danger" title="Indexing errors. Click to view the Indexing Errors."
                       data-bind="attr: { href: $root.indexErrorsUrl($data) }, css: { 'link-disabled': !canNavigateToDatabase() || isBeingDeleted() }">
                        <small data-bind="text: indexingErrors().toLocaleString()"></small>
                        <small class="hidden-compact" data-bind="text: $root.pluralize(indexingErrors().toLocaleString(), 'indexing error', 'indexing errors', true)"></small>
                    </a>
                </div>
                <div class="indexing-paused text-warning" data-bind="visible: indexingPaused() && !indexingDisabled()">
                    <small><i class="icon-pause"></i></small>
                    <a class="set-size text-warning" title="Indexing is paused. Click to view the Index List."
                       data-bind="attr: { href: $root.indexesUrl($data) }">
                        <small>Indexing paused</small>
                    </a>
                </div>
                <div class="indexing-disabled text-danger" data-bind="visible: indexingDisabled()">
                    <span class="set-size" title="Indexing is disabled">
                        <small><i class="icon-lock"></i></small>
                        <small>Indexing disabled</small>
                    </span>
                </div>
                <div class="alerts text-warning" data-bind="visible: alerts()">
                    <div class="set-size">
                        <small><i class="icon-warning"></i></small>
                        <a class="set-size text-warning" title="Click to view alerts in Notification Center" href="#"
                           data-bind="click: _.partial($root.openNotificationCenter, $data), css: { 'link-disabled': !canNavigateToDatabase() }">
                            <small data-bind="text: alerts().toLocaleString()"></small>
                            <small data-bind="text: $root.pluralize(alerts().toLocaleString(), 'alert', 'alerts', true)"></small>
                        </a>
                    </div>
                </div>
                <div class="performance-hints text-info" data-bind="visible: performanceHints()">
                    <div class="set-size">
                        <small><i class="icon-rocket"></i></small>
                        <a class="set-size text-info" title="Click to view hints in Notification Center" href="#"
                           data-bind="click: _.partial($root.openNotificationCenter, $data), css: { 'link-disabled': !canNavigateToDatabase() }">
                            <small data-bind="text: performanceHints().toLocaleString()"></small>
                            <small class="hidden-compact" data-bind="text: $root.pluralize(performanceHints().toLocaleString(), 'performance hint', 'performance hints', true)"></small>
                        </a>
                    </div>
                </div>
                <div class="clients-rejection" data-bind="visible: rejectClients()">
                    <div class="set-size text-warning" title="Clients rejection mode">
                        <small><i class="icon-umbrella"></i></small>
                        <small>Clients rejection mode</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
