<div class="destinations flex-vertical absolute-fill content-margin manage-db-group">
    <div class="row flex-row flex-grow flex-stretch-items">
        <div class="col-sm-12 col-lg-6 flex-vertical">
            <div class="flex-header flex-horizontal">
                <div data-bind="visible: inSortableMode">
                    Drag elements to set their order. Click 'Save' when finished.
                </div>
                <div class="flex-separator">
                </div>
                <div data-bind="visible: inSortableMode">
                    <button class="btn btn-primary" data-bind="click: saveNewOrder, enable: dirtyFlag().isDirty()">
                        <i class="icon-save"></i>
                        <span>Save</span>
                    </button>
                    <button class="btn btn-default" data-bind="click: cancelReorder">
                        <i class="icon-cancel"></i>
                        <span>Cancel</span>
                    </button>
                </div>
                <div data-bind="visible: !inSortableMode()">
                    <button class="btn btn-default" data-bind="click: enableNodesSort, enable: nodes().length > 1, requiredAccess: 'Operator'">
                        <i class="icon-reorder"></i>
                        <span>Reorder nodes</span>
                    </button>
                    <button class="btn btn-primary" data-bind="click: addNode, enable: addNodeEnabled, requiredAccess: 'Operator'">
                        <i class="icon-plus"></i>
                        <span>Add node to group</span>
                    </button>
                    <div class="dropdown dropdown-right">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">
                            <i class="icon-settings"></i><span>Settings</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu settings-menu" 
                             data-bind="dropdownPanel: true, template: { name: 'db-group-settings-template' }">
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="visible: inSortableMode">
                <div class="flex-form">
                    <div class="form-group">
                        <label class="control-label">After failure recovery</label>
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"
                                        data-bind="click: _.partial(fixOrder, false), css: { active: !fixOrder() }">
                                    Shuffle nodes order
                                </button>
                                <button type="button" class="btn btn-default"
                                        data-bind="click: _.partial(fixOrder, true), css: { active: fixOrder() }">
                                    Try to maintain nodes order
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll flex-grow nodes-list" data-bind="css: { 'sort-mode' : inSortableMode }">
                <div class="not-deleted-nodes" data-bind="foreach: nodes">
                    <div class="panel destination-item panel-hover">
                        <div data-bind="attr: { 'data-state-text': badgeText,  class: 'state ' + badgeClass() +' nowrap' } "></div>
                        <div class="padding padding-sm destination-info">
                            <div class="info-container flex-horizontal flex-grow">
                                <div class="node flex-grow">
                                    <h5>NODE</h5>
                                    <h3 class="destination-name" data-bind="attr: { title: type() }">
                                        <i data-bind="attr: { class: cssIcon }"></i><span data-bind="text: 'Node ' + tag()"></span>
                                    </h3>
                                </div>
                                <div data-bind="visible: responsibleNode">
                                    <div class="text-center">
                                        <i class="icon-cluster-node" title="Database group node that is responsible for caught up of this node"></i>
                                        <span data-bind="text: responsibleNode" title="Database group node that is responsible for caught up of this node"></span>
                                    </div>
                                </div>
                                <div class="status" data-bind="visible: !$root.inSortableMode()">
                                    <!-- TODO
                                    <h5>STATUS</h5>
                                    <div class="btn-group dropdown-right">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span>Enabled</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Enable</a></li>
                                            <li><a href="#">Disable</a></li>
                                        </ul>
                                    </div>-->
                                </div>
                            </div>
                            <div class="actions-container" data-bind="visible: !$root.inSortableMode()">
                                <div class="actions">
                                    <!-- TODO:
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="icon-play"></i> <span>Actions</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Promote node immediately</a></li>
                                        </ul>
                                    </div>-->
                                    <div class="dropdown dropdown-right" data-bind="visible: $root.lockMode() === 'Unlock', requiredAccess: 'Operator'">
                                        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="icon-disconnected"></i> <span>Delete from group</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" data-bind="click: _.partial($parent.deleteNodeFromGroup, $data, false)"><i class="icon-trash"></i> <span>Soft Delete</span>&nbsp;&nbsp;<small>(stop replication and keep database files on the node)</small></a></li>
                                            <li><a href="#" data-bind="click: _.partial($parent.deleteNodeFromGroup, $data, true)"><i class="icon-alerts text-danger"></i> <span class="text-danger">Hard Delete</span>&nbsp;&nbsp;<small>(stop replication and remove database files on the node)</small></a></li>
                                        </ul>
                                    </div>
                                    <div class="has-disable-reason" data-original-title="Database cannot be deleted from node because of the set lock mode" 
                                         data-bind="visible: $root.lockMode() !== 'Unlock', requiredAccess: 'Operator'">
                                        <div class="btn btn-default disabled">
                                            <i class="icon-trash-cutout" 
                                               data-bind="css: { 'icon-addon-exclamation': $root.lockMode() === 'PreventDeletesError', 'icon-addon-cancel': $root.lockMode() === 'PreventDeletesIgnore' }"></i> 
                                            <span>Delete from group</span>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-addon" data-bind="visible: lastError">
                            <div class="padding small" data-bind="css: { 'bg-danger': badgeClass() === 'state-danger', 'bg-warning': badgeClass() === 'state-warning' }">
                                <div data-bind="text: lastErrorShort()"></div>
                                <div>
                                    <a href="#" data-bind="click: _.partial($root.showErrorDetails, tag())">show details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deleted-nodes" data-bind="foreach: deletionInProgress">
                    <div class="panel destination-item panel-hover">
                        <div data-state-text="Deleting" class="state state-warning"></div>
                        <div class="padding padding-sm destination-info">
                            <div class="info-container flex-horizontal flex-grow">
                                <div class="node flex-grow">
                                    <h5>NODE</h5>
                                    <h3 class="destination-name pulse text-warning" title="Deletion in progress">
                                        <i class="icon-trash"></i><span data-bind="text: 'Node ' + $data"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-lg-6 flex-vertical">
            <div class="flex-horizontal flex-header">
                <h3 class="on-base-background">Database Group Topology</h3>
                <div class="flex-separator"></div>
                <button data-bind="click: graph.enterFullScreen" class="btn btn-default">
                    <i class="icon-fullscreen"></i>
                    <span>Full screen mode</span>
                </button>
                <!-- TODO
                <div class="btn-group dropdown-right">
                    <button class="btn btn-default dropdown-toggle" disabled="disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="icon-export"></i><span>Download topology</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">.zip</a></li>
                    </ul>
                </div>-->
            </div>
            <div class="panel flex-grow" id="databaseGroupGraphContainer">
                <h3>Database Group Topology</h3>
                <button class="btn btn-default exit-button" data-bind="click: graph.exitFullScreen">
                    <i class="icon-exit-fullscreen"></i>
                    <span>Exit full screen</span>
                </button>
            </div>
            <div data-bind="compose: 'partial/databaseGroupLegend.html'"></div>
        </div>
    </div>
</div>

<script type="text/html" id="db-group-settings-template">
    <div class="settings-item padding padding-xs">
        <div class="flex-horizontal">
            <div class="control-label flex-grow">Allow dynamic database distribution</div>
            <div class="flex-noshrink">
                <div class="toggle">
                    <input type="checkbox" class="styled"
                           data-bind="checked: dynamicDatabaseDistribution, enable: enableDynamicDatabaseDistribution,
                                      requiredAccess: 'Operator', requiredAccessOptions: { strategy: 'disable' }">
                    <label></label>
                </div>
            </div>
        </div>
        <div class="help-block text-warning bg-warning" data-bind="visible: dynamicDatabaseDistributionWarning">
            <span data-bind="text: dynamicDatabaseDistributionWarning"></span>
        </div>
    </div>
</script>
