<div id="dashboard" class="content-margin">
    <div class="dashboard-items">
        <div class="flex-vertical dashboard-nodecpu">

            <div class="dashboard-item dashboard-node">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 title="Node Tag">
                            <i class="icon-server"></i><span data-bind="text: 'Node ' + clusterManager.localNodeTag()"></span>
                        </h2>
                        <div title="Node url">
                            <i class="icon-link"></i><span data-bind="text: clusterManager.localNodeUrl"></span>
                        </div>
                        <button data-bind="click: $root.fakeDraw">Draw FAKE data</button>
                        <button data-bind="click: $root.handler">Refresh</button>
                        <div>
                            <i class="icon-clock"></i><span>Up for <strong class="text-success">TODO</strong> days</span>
                        </div>
                        <div data-bind="visible: usingHttps">
                            <i class="icon-lock"></i><span>Secured <small><a href="#" data-bind="attr: { href: certificatesUrl }">Manage certificates</a></small></span>
                        </div>
                        <div class="flex-horizontal" data-bind="with: clusterManager.topology">
                            <div><i class="icon-cluster"></i><span>Cluster</span></div>
                            <div title="Members count" data-bind="visible: membersCount">
                                <i class="icon-cluster-member"></i> <span data-bind="text: membersCount"></span>
                            </div>
                            <div title="Promotables count" data-bind="visible: promotablesCount">
                                <i class="icon-cluster-promotable"></i> <span data-bind="text: promotablesCount"></span>
                            </div>
                            <div title="Watchers count" data-bind="visible: watchersCount">
                                <i class="icon-cluster-watcher"></i> <span data-bind="text: watchersCount"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="dashboard-item dashboard-cpu-memory" data-bind="with: machineResourcesSection">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-processor"></i> <span>CPU & MEMORY</span> </h3>
                    </div>

                    <div class="panel-body">
                        <div class="infogrid">
                            <div class="infogrid-label" data-bind="with: resources">
                                <div><i class="icon-processor"></i><span>CPU</span></div>
                                <div><strong data-bind="text: cpuUsage().toFixed(2) + '%', attr: { class: cpuUsageClass() }"></strong></div>
                            </div>
                            <div class="infogrid-graph" >
                                <div class="graph-container fix-size" id="cpuChart">
                                    
                                </div>
                            </div>
                            <div class="infogrid-label" data-bind="with: resources">
                                <div><i class="icon-memory"></i><span>MEM</span></div>
                                <div data-bind="attr: { title: memoryUsage().toLocaleString() + ' out of ' + totalMemory().toLocaleString() }">
                                    <strong data-bind="text: $root.sizeFormatter(memoryUsage()), attr: { class: memoryUsageClass }"></strong> / 
                                    <span data-bind="text: $root.sizeFormatter(totalMemory())"></span>
                                </div>
                                <div><small><a href="#">see details</a></small></div>
                            </div>
                            <div class="infogrid-graph">
                                <div class="graph-container fix-size" id="memoryChart">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-item dashboard-traffic" data-bind="with: trafficSection">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-traffic"></i> <span>TRAFFIC</span></h3>
                </div>
                <div class="panel-body flex-vertical">
                    <div class="infogrid">
                        <div class="infogrid-label">
                            <div class="margin-bottom"># Total Requests/s<br/>
                                <strong data-bind="text: totalRequestsPerSecond().toLocaleString()"></strong></div>
                            <div># Writes/s<br/> <strong data-bind="text: totalWritesPerSecond().toLocaleString()"></strong></div>
                            <div># Data Writes/s<br /> <strong data-bind="text: $root.sizeFormatter(totalDataWritesPerSecond())"></strong></div>
                        </div>
                        <div class="infogrid-graph">
                            <div class="graph-container fix-size" id="trafficChart"></div>
                        </div>
                    </div>
                    <div class="list-container">
                        <div class="list absolute-fill fix-size">
                            <virtual-grid class="resizable no-margin" params="controller: gridController, condensed: true"></virtual-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-item dashboard-databases" data-bind="with: databasesSection">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-database"></i> <span>DATABASES</span></h3>
                </div>
                <div class="panel-body flex-vertical">
                    <div class="flex-horizontal">
                        <div>Total: <strong data-bind="text: totalDatabases"></strong></div>
                        <div>Online: <strong data-bind="text: totalOnlineDatabases"></strong></div>
                        <div>Offline: <strong data-bind="text: totalOfflineDatabases"></strong></div>
                    </div>
                    <div class="list-container">
                        <div class="list absolute-fill fix-size">
                            <virtual-grid class="resizable no-margin" params="controller: gridController, condensed: true"></virtual-grid>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="dashboard-item dashboard-indexing" data-bind="with: indexingSpeedSection">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-indexing"></i> <span>INDEXING</span></h3>
                </div>
                <div class="panel-body flex-vertical">
                    <div class="flex-horizontal flex-stretch-items flex-grow">

                        <div class="infogrid margin-right margin-right-sm">
                            <div class="infogrid-label">
                                <div># Docs indexed/s<br/>
                                    <strong data-bind="text: totalIndexedPerSecond().toLocaleString()"></strong>
                                </div>
                            </div>
                            <div class="infogrid-graph">
                                <div class="graph-container" id="indexingChart"></div>
                            </div>
                            <div class="infogrid-label">
                                <div class="margin-bottom">
                                    # Docs mapped/s<br />
                                    <strong data-bind="text: totalMappedPerSecond().toLocaleString()"></strong>
                                </div>
                                <div>
                                    # Docs reduced/s<br />
                                    <strong data-bind="text: totalReducedPerSecond().toLocaleString()"></strong>
                                </div>
                            </div>
                            <div class="infogrid-graph">
                                <div class="graph-container" id="reduceChart"></div>
                            </div>
                        </div>
                        <div class="list-container">
                            <div class="list absolute-fill">
                                <virtual-grid class="resizable no-margin" params="controller: gridController, condensed: true"></virtual-grid>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard-item dashboard-storage" data-bind="with: driveUsageSection">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-storage"></i><span>STORAGE</span></h3>
                </div>
                <div class="panel-body flex-vertical">
                    <div class="flex-horizontal flex-stretch-items flex-grow">
                        <div class="margin-right ">
                            <div class="text-center margin-bottom">
                                Total Docs size: <strong data-bind="text: $root.sizeFormatter(totalDocumentsSize())"></strong>
                            </div>
                            <div class="graph-container fix-size" id="storageChart">
                                
                            </div>
                        </div>
                        <div class="flex-grow flex-vertical fix-size" data-bind="foreach: table">
                            <div class="flex-horizontal">
                                <div data-bind="text: mountPoint"></div>
                                <div class="flex-separator"></div>
                                <div><small> <span data-bind="text: $root.sizeFormatter(totalDocumentsSpaceUsed()) + ' used'"></span> / <span data-bind="text: $root.sizeFormatter(freeSpace()) + ' free', attr: { class: freeSpaceLevelClass }"></span> </small></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" data-bind="style: { width: percentageUsage() + '%' }">
                                        <span class="sr-only" data-bind="text: percentageUsage() + '%'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-container">
                                <div class="list absolute-fill">
                                    <virtual-grid class="resizable no-margin" params="controller: gridController, condensed: true"></virtual-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
