<div id="dashboard-container" class="content-margin">
    <div class="dashboard-items" data-bind="css: { 'no-databases': noDatabases }">
        <div class="flex-vertical dashboard-nodecpu">
            <div class="dashboard-item dashboard-node">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 title="Node Tag" class="text-primary">
                            <i data-bind="attr: { class: osIcon }"></i><span data-bind="text: 'Node ' + clusterManager.localNodeTag()"></span>
                        </h2>
                        <div title="Node url">
                            <i class="icon-link"></i><span data-bind="text: clusterManager.localNodeUrl"></span>
                        </div>
                        <div data-bind="attr: { title: 'Server start time: ' + formattedStartTime() }">
                            <i class="icon-clock"></i><span>Up for <strong data-bind="text: formattedUpTime" class="text-success"></strong></span>
                        </div>
                        <div data-bind="visible: usingHttps">
                            <i class="icon-lock"></i><span>Secured <small><a href="#" data-bind="attr: { href: certificatesUrl }">Manage certificates</a></small></span>
                        </div>
                        <div class="flex-horizontal" data-bind="with: clusterManager.topology">
                            <div><i class="icon-cluster"></i><span>Cluster</span></div>
                            <div title="Members count" data-bind="visible: membersCount">
                                <i class="icon-cluster-member"></i> <span data-bind="text: membersCount"></span>
                            </div>
                            <div title="Promotables count" data-bind="visible: promotablesCount">
                                <i class="icon-cluster-promotable"></i> <span data-bind="text: promotablesCount"></span>
                            </div>
                            <div title="Watchers count" data-bind="visible: watchersCount">
                                <i class="icon-cluster-watcher"></i> <span data-bind="text: watchersCount"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-item dashboard-cpu-memory" data-bind="with: machineResourcesSection, visible: accessManager.showCPUAndMemGraph">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="icon-processor"></i> <span>CPU & MEMORY</span> </h3>
                    </div>
                    <div class="panel-body flex-horizontal flex-stretch-items">
                        <div class="infogrid flex-grow">
                            <div class="infogrid-label">
                                <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
                                <div data-bind="with: resources">
                                    <div>
                                        <i class="icon-processor"></i><span>CPU</span>
                                        <span data-bind="with: $root.node">
                                        <span data-bind="if: utilizedCores">
                                            (<strong data-bind="text: utilizedCores, css: cssCores" data-toggle="tooltip" title="Assigned CPU cores limit" data-animation="true"></strong>
                                            /<strong data-bind="text: numberOfCores" data-toggle="tooltip" title="Total CPU cores count" data-animation="true"></strong>)
                                        </span>
                                    </span>
                                    </div>
                                    <div data-placement="bottom" data-toggle="tooltip" title="Machine CPU usage" data-animation="true">
                                        <i class="icon-server machine-usage"></i>
                                        <strong data-bind="text: machineCpuUsage().toFixed(0) + '%', attr: { class: machineCpuUsageClass() }" ></strong>
                                    </div>
                                    <div data-placement="bottom" data-toggle="tooltip" title="RavenDB CPU usage" data-animation="true">
                                        <i class="icon-raven process-usage"></i>
                                        <strong data-bind="text: processCpuUsage().toFixed(0) + '%', attr: { class: processCpuUsageClass() }"></strong>
                                    </div>
                                </div>
                            </div>
                            <div class="infogrid-graph" >
                                <div class="graph-container" id="cpuChart">
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="infogrid-label dashboard-memory">
                                <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
                                <div data-bind="with: resources">
                                    <div><i class="icon-memory"></i><span>MEM</span>
                                        <span data-bind="visible: isLowMemory">
                                        <i class="icon-warning text-warning" data-toggle="tooltip" data-html="true" data-bind="attr: { 'data-original-title': lowMemoryTooltip }" data-animation="true"></i>
                                    </span>
                                    </div>
                                    <div>
                                        <div data-toggle="tooltip" data-html="true" data-bind="tooltipText: totalMemoryTooltip" data-animation="true">
                                            <i class="icon-server icon-document-group"></i>
                                            <strong class="text-success" data-bind="text: $root.sizeFormatter(totalMemory())"></strong>
                                        </div>

                                        <div data-toggle="tooltip" data-html="true" data-bind="tooltipText: machineMemoryUsageTooltip" data-animation="true">
                                            <i class="icon-server machine-usage"></i>
                                            <strong class="text-success" data-bind="text: $root.sizeFormatter(usedMemory())"></strong>
                                        </div>

                                        <div data-toggle="tooltip" title="RavenDB Working Set" data-animation="true">
                                            <i class="icon-raven process-usage"></i>
                                            <strong class="text-success" data-bind="text: $root.sizeFormatter(processMemoryUsage())"></strong>
                                        </div>
                                    </div>

                                    <!-- TODO
                                    <div><small><a href="#">see details</a></small></div>
                                     -->
                                </div>
                            </div>
                            <div class="infogrid-graph">
                                <div class="graph-container" id="memoryChart">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-item dashboard-traffic" data-bind="with: trafficSection">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-traffic"></i> <span>TRAFFIC</span></h3>
                </div>
                <div class="panel-body flex-vertical">
                    <div class="infogrid">
                        <div class="infogrid-label">
                            <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
                            <div data-bind="style: { visibility: $root.spinners.loading()? 'hidden' : 'visible' }">
                                <!-- using visibility here to reserve space -->
                                <div class="margin-bottom">
                                    Requests/s<br />
                                    <i class="total-requests-legend legend-rect"></i>
                                    <strong data-bind="text: totalRequestsPerSecond().toLocaleString()"></strong>
                                </div>
                                <div class="margin-bottom" data-toggle="tooltip" data-placement="right" data-html="true" data-bind="tooltipText: writesPerSecondTooltip" data-animation="true">
                                    Writes/s<br /> <i class="total-writes-legend legend-rect">
                                    </i> <strong data-bind="text: totalWritesPerSecond().toLocaleString()"></strong>
                                </div>
                                <div data-toggle="tooltip" data-placement="right" data-html="true" data-bind="tooltipText: writeBytesPerSecondTooltip" data-animation="true">
                                    Data Written/s<br /> <i class="total-written-legend legend-rect"></i>
                                    <strong data-bind="text: $root.sizeFormatter(totalDataWritesPerSecond())"></strong>
                                </div>
                            </div>
                        </div>
                        <div class="infogrid-graph">
                            <div class="graph-container" id="trafficChart"></div>
                        </div>
                    </div>
                    <div class="list-container">
                        <div class="create-database" data-bind="visible: $root.noDatabases() && !$root.spinners.loading()">
                            <div><i class="icon-empty-set"></i><span>No data</span></div>
                            <button  data-bind="click: $root.newDatabase" class="btn btn-primary btn-xs text-uppercase" >Create Database</button>
                        </div>
                        <div class="list absolute-fill">
                            <virtual-grid class="resizable no-margin" params="controller: gridController, condensed: true"></virtual-grid>
                            <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-item dashboard-databases" data-bind="with: databasesSection">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-database"></i> <span>DATABASES</span></h3>
                </div>
                <div class="panel-body flex-vertical">

                    <div class="flex-horizontal margin-bottom">
                        <div> 
                            <small class="text-uppercase margin-right margin-sm">Total:</small>
                            <strong>
                                <span data-bind="text: totalDatabases"></span>
                                <i class="icon-database"></i>
                            </strong>
                        </div>
                        <div class="flex-grow"></div>
                        <div class="margin-right">
                            <small class="text-uppercase margin-right margin-sm">Online:</small>
                            <strong class="text-success">
                                <span data-bind="text: totalOnlineDatabases"></span>
                                <i class="icon-database-cutout icon-addon-check"></i>
                            </strong>
                        </div>
                        <div class="margin-right">
                            <small class="text-uppercase margin-right margin-sm">Offline:</small>
                            <strong class="text-muted">
                                <span data-bind="text: totalOfflineDatabases"></span>
                                <i class="icon-database-cutout icon-addon-clock"></i>
                            </strong>
                        </div>
                        <div>
                            <small class="text-uppercase margin-right margin-sm">Disabled:</small>
                            <strong class="text-warning">
                                <span data-bind="text: totalDisabledDatabases"></span>
                                <i class="icon-database-cutout icon-addon-cancel"></i>
                            </strong>
                        </div>
                    </div>

                    <div class="list-container">
                        <div class="create-database" data-bind="visible: $root.noDatabases() && !$root.spinners.loading()">
                            <div><i class="icon-empty-set"></i><span>No data</span></div>
                            <button  data-bind="click: $root.newDatabase" class="btn btn-primary btn-xs text-uppercase" >Create Database</button>
                        </div>
                        <div class="list absolute-fill">
                            <virtual-grid class="resizable no-margin" params="controller: gridController, condensed: true"></virtual-grid>
                            <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-item dashboard-indexing" data-bind="with: indexingSpeedSection">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-indexing"></i> <span>INDEXING</span></h3>
                </div>
                <div class="panel-body flex-vertical">
                    <div class="flex-horizontal flex-stretch-items flex-grow">
                        <div class="infogrid margin-right margin-right-sm">
                            <div class="infogrid-label">
                                <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
                                <div data-bind="style: { visibility: $root.spinners.loading()? 'hidden' : 'visible' }"> <!-- using visibility here to reserve space -->
                                    # Docs indexed/s<br/>
                                    <i class="indexed-legend legend-rect"></i>
                                    <strong data-bind="text: totalIndexedPerSecond().toLocaleString()"></strong>
                                </div>
                            </div>
                            <div class="infogrid-graph">
                                <div class="graph-container" id="indexingChart"></div>
                            </div>
                            <div class="separator"></div>
                            <div class="infogrid-label">
                                <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
                                <div class="margin-bottom" data-bind="style: { visibility: $root.spinners.loading()? 'hidden' : 'visible' }">
                                    Docs mapped/s<br />
                                    <i class="mapped-legend legend-rect"></i>
                                    <strong data-bind="text: totalMappedPerSecond().toLocaleString()"></strong>
                                </div>
                                <div data-bind="style: { visibility: $root.spinners.loading()? 'hidden' : 'visible' }">
                                    Mapped entries reduced/s<br />
                                    <i class="reduced-legend legend-rect"></i>
                                    <strong data-bind="text: totalReducedPerSecond().toLocaleString()"></strong>
                                </div>
                            </div>
                            <div class="infogrid-graph">
                                <div class="graph-container" id="reduceChart"></div>
                            </div>
                        </div>
                        <div class="list-container">
                            <div class="list absolute-fill">
                                <virtual-grid class="resizable no-margin" params="controller: gridController, condensed: true"></virtual-grid>
                                <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-item dashboard-storage" data-bind="with: driveUsageSection">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="flex-horizontal">
                        <h3 class="panel-title"><i class="icon-storage"></i><span>STORAGE</span></h3>
                        <div class="flex-separator"></div>
                        <div class="toggle toggle-right input-xs">
                            <input id="include-temp" class="styled" type="checkbox" data-bind="checked: includeTemporaryBuffers">
                            <label for="include-temp" class="properties-label">
                                Include temporary buffers
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel-body flex-vertical">
                    <div class="flex-horizontal flex-stretch-items flex-grow">
                        <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
                        <div class="margin-right" data-bind="style: { visibility: $root.spinners.loading()? 'hidden' : 'visible' }">
                            <div class="text-center margin-bottom">
                                Total DB(s) size: <strong data-bind="text: $root.sizeFormatter(totalDocumentsSize())"></strong>
                            </div>
                            <div class="graph-container" id="storageChart">
                            </div>
                        </div>
                        <div class="flex-grow flex-vertical drive-usage-container" data-bind="foreach: table">
                            <div data-bind="text: mountPointLabel"></div>
                            <div class="flex-horizontal disk-usage flex-noshrink">
                                <div class="usage server-usage">
                                    <i class="usage-rect"></i>
                                    <strong data-bind="text: $root.sizeFormatter(totalDocumentsSpaceUsed(), 0)"></strong>
                                    <small>RAVENDB</small>
                                </div>
                                <div class="usage total-usage">
                                    <i class="usage-rect"></i>
                                    <strong data-bind="text: $root.sizeFormatter(usedSpace(), 0)"></strong>
                                    <small>USED</small>
                                </div>
                                <div class="usage free-space" data-bind="css: { 'free-space-warning': isLowSpace }">
                                    <i class="usage-rect"></i>
                                    <i class="icon-warning"></i>
                                    <strong data-bind="text: $root.sizeFormatter(freeSpace(), 0)"></strong>
                                    <small>FREE</small>
                                </div>
                                <div class="flex-separator"></div>
                                <div class="total-capacity">
                                    <strong data-bind="text: $root.sizeFormatter(totalCapacity(), 0)"></strong>
                                    <small>TOTAL</small>
                                </div>
                            </div>
                            <div class="usage-bars">
                                <div class="used" data-bind="style: { width: usedSpacePercentage() + '%' }">
                                    <div class="ravendb" data-bind="style: { width: ravendbToUsedSpacePercentage() + '%' }"></div>
                                </div>
                            </div>
                            <div class="list-container">
                                <div class="list absolute-fill">
                                    <virtual-grid class="resizable no-margin" params="controller: gridController, condensed: true"></virtual-grid>
                                    <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tooltip" style="opacity: 0; display: none">
    </div>
</div>
