<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LightningDB" version="0.8.0.52232" targetFramework="net45" />
  <package id="ManagedEsent" version="1.8.3.2" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="System.Data.SQLite.x64" version="1.0.89.0" targetFramework="net45" />
</packages>