<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="33E4CC2B-22C3-41B5-91A6-4AE1456C95CE" Name="TestProduct" Language="1033" Version="0.0.0.1" Manufacturer="WixEdit" UpgradeCode="E966D1AE-F7BA-42FC-952E-6D0953D67E5C">
        <Package Description="Test file in a Product" Comments="Simple test" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles" />
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
        </Feature>
        <UI>
            <Dialog Id="InstallationType" Width="370" Height="270">
                <Control Type="ComboBox" Property="SelectType_Prop" Id="SelectType" Width="111" Height="16" X="172" Y="109">
                    <ComboBox Property="SelectType_Prop">
                        <ListItem Text="IIS application" Value="iis" />
                        <ListItem Text="System service" Value="service" />
                    </ComboBox>
                </Control>
                <Control Type="Text" Id="SelectTypeText" Width="130" Height="10" X="34" Y="112">
                    <Text>Select RavenDB installation type:</Text>
                </Control>
                <Control Type="PushButton" Id="Next" Width="56" Height="17" X="285" Y="236">
                    <Text>Next</Text>
                    <Publish Event="NewDialog" Value="IisSetupDlg">SelectType_Prop == "iis"</Publish>
                </Control>
                <Control Type="Bitmap" Id="bitmap" Width="370" Height="50" X="0" Y="0" />
                <Control Type="ListBox" Property="listbox_Prop" Id="listbox" Width="50" Height="13" X="65" Y="149">
                    <ListBox Property="listbox_Prop">
                        <ListItem Text="aaa" Value="" />
                        <ListItem Text="bbb" Value="" />
                    </ListBox>
                </Control>
            </Dialog>
        </UI>
        <UIRef Id="WixUI_Minimal" />
    </Product>
</Wix>