<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- Set version based on build_number env. variable. -->
  <?ifdef env.BUILD_NUMBER ?>
  <?define PRODUCTVERSION="2.5.$(env.BUILD_NUMBER)"?>
  <?else?>
  <?define PRODUCTVERSION="2.5.0"?>
  <?endif?>
  
  <Product Id="*" Name="RavenDB" Language="1033" Version="$(var.PRODUCTVERSION)" Manufacturer="Hibernating Rhinos LTD" UpgradeCode="79a41e9e-dc99-4df8-9820-1de16e63c655">
    <Package InstallerVersion="300" Compressed="yes" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' />

    <PropertyRef Id="IISMAJORVERSION"/>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <?include Settings.wxi ?>
    <?include Conditions.wxi ?>
    <?include Binaries.wxi ?>

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="InstallFolderFromRegistry"
                       Root="HKLM"
                       Key="SOFTWARE\[Manufacturer]\[ProductName]"
                       Name="RAVEN_INSTALLATION_PATH"
                       Type="raw" />
    </Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLFOLDER" Name="RavenDB">
        <Component Id="StoreInstallationPath" Guid="{1313C2AF-E8AD-46B6-9EA8-A60C5134CC8F}">
          <RegistryKey Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]" Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Name="RAVEN_INSTALLATION_PATH" Value="[INSTALLFOLDER]"></RegistryValue>
          </RegistryKey>
        </Component>
        <Directory Id="Bin" Name="bin">
        </Directory>
      </Directory>
      <Directory Id="NEW_WEB_SITE_DIRECTORY" />
    </Directory>

    <Feature Id='Service' 
             Title='RavenDB Service' 
             Description='RavenDB Windows service'
             Display='expand' 
             ConfigurableDirectory='INSTALLFOLDER'>
      <ComponentRef Id='StoreInstallationPath' />
      <ComponentRef Id='Raven.Server' />
      <ComponentRef Id='Raven.Database.Service' />
      <ComponentRef Id='Raven.Abstractions.Service' />
      <ComponentRef Id='PersistServiceValues' />
    </Feature>

    <Feature Id='IIS'
             Title='RavenDB IIS'
             Description='RavenDB hosted by IIS'
             Display='expand'
             ConfigurableDirectory='INSTALLFOLDER'>
      <ComponentRef Id='StoreInstallationPath' />
      <ComponentRef Id='Raven.Web' />
      <ComponentRef Id='Raven.Database.Web' />
      <ComponentRef Id='Raven.Abstractions.Web' />
      <ComponentRef Id='Raven.Web.Config.IIS_7_And_8' />
      <ComponentRef Id='Raven.Web.Config.IIS_6' />
      <ComponentRef Id="EnableASPNet4Extension" />
      <ComponentRef Id="DisableWebDAVExtensionIIS6" />
      <ComponentGroupRef Id="IISConfigurationBasedOnExistingWebSite" />
      <ComponentGroupRef Id="IISConfigurationBasedOnNewRavenWebSite" />
      <ComponentRef Id="PersistWebSiteValues" />
    </Feature>

    <UIRef Id="InstallerUI" />
    
    <WixVariable Id="WixUILicenseRtf" Value="License\RavenDB.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Images\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Images\dialog.bmp" />

    <?include CustomActions/General.wxi ?>
    <?include CustomActions/Service.wxi ?>
    <?include CustomActions/IIS.wxi ?>
    
    <InstallUISequence>
      <Show Dialog="CustomFatalError" OnExit="error" Overridable="yes" />
    </InstallUISequence>
    <AdminUISequence>
      <Show Dialog="CustomFatalError" OnExit="error" Overridable="yes" />
    </AdminUISequence>
    
  </Product>
</Wix>
