<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="RavenDB" Language="1033" Version="2.5.0.0" Manufacturer="Hibernating Rhinos LTD" UpgradeCode="79a41e9e-dc99-4df8-9820-1de16e63c655">
    <Package InstallerVersion="200" Compressed="yes" />
    
    <!--InstallPrivileges="elevated" InstallScope="perMachine"-->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' />
 
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <?include Settings.wxi ?>
    <?include Conditions.wxi ?>
    <?include Binaries.wxi ?>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--<Directory Id="ProgramFilesFolder">
        <Directory Id='HibernatingRhinos' Name='HibernatingRhinos'>-->
          <Directory Id="INSTALLFOLDER" Name="RavenDB">
            <Directory Id="Bin" Name="bin">
            </Directory>
          <!--</Directory>
        </Directory>-->
      </Directory>

      <!--<Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="RavenDB">
          <Component Id="ProgramMenuDir" Guid="ECB41950-1566-4EE1-93E9-5B8E23B77D80">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>-->

      <!--<Directory Id="DesktopFolder" Name="Desktop" />-->

    </Directory>

    <Feature Id='Service' 
             Title='RavenDB Service' 
             Description='RavenDB Windows service'
             Display='expand' 
             ConfigurableDirectory='INSTALLFOLDER'>
      <ComponentRef Id='Raven.Server' />
      <ComponentRef Id='Raven.Database.Service' />
      <ComponentRef Id='Raven.Abstractions.Service' />
      <ComponentRef Id='Raven.Server.ProvidedServiceName' />
    </Feature>

    <Feature Id='IIS'
             Title='RavenDB IIS'
             Description='RavenDB hosted by IIS'
             Display='expand'
             ConfigurableDirectory='INSTALLFOLDER'>
      <ComponentRef Id='Raven.Web' />
      <ComponentRef Id='Raven.Database.Web' />
      <ComponentRef Id='Raven.Abstractions.Web' />
      <ComponentRef Id='Raven.Web.Config'/>
      
      <!-- Include IIS Configuration. -->
      <ComponentGroupRef Id="IssConfiguration" />
      <ComponentRef Id="PersistWebSiteValues" />
    </Feature>

    <UIRef Id="InstallerUI" />
    
    <WixVariable Id="WixUILicenseRtf" Value="License\RavenDB.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Images\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Images\dialog.bmp" />

    <Property Id="SERVICE_NAME_FROM_REGISTRY">
      <RegistrySearch Id="ServiceNaneFromRegistry"
                      Root="HKLM"
                      Key="SOFTWARE\[Manufacturer]\[ProductName]"
                      Name="ServiceName"
                      Type="raw" />
    </Property>

    <!-- Service custom actions -->
    <CustomAction Id="InstallRavenService_Cmd" Property="InstallRavenService"
              Value="&quot;[INSTALLFOLDER]Raven.Server.exe&quot; /service-name=&quot;[SERVICE_NAME]&quot; /install" Execute="immediate"/>
    <CustomAction Id="InstallRavenService" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no"/>

    <CustomAction Id="UninstallRavenService_Cmd" Property="UninstallRavenService"
              Value="&quot;[INSTALLFOLDER]Raven.Server.exe&quot; /service-name=&quot;[SERVICE_NAME_FROM_REGISTRY]&quot; /uninstall" Execute="immediate"/>
    <CustomAction Id="UninstallRavenService" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no"/>
    
    <!-- IIS custom actions -->
    <CustomAction Id="GetIISWebSites" BinaryKey="Raven.Setup.CustomActions.CA.dll" DllEntry="GetWebSites"
                  Execute="immediate" Return="check" />

    <CustomAction Id="GetAppPools" BinaryKey="Raven.Setup.CustomActions.CA.dll" DllEntry="GetAppPools"
                  Execute="immediate" Return="check" />

    <CustomAction Id="SetIISInstallFolder" Directory="INSTALLFOLDER" Value="[WEBSITE_PATH]\[WEBSITE_VD]" />
    
    <CustomAction Id="SetupPerformanceCountersForIISUser" BinaryKey="Raven.Setup.CustomActions.CA.dll" DllEntry="SetupPerformanceCountersForIISUser"
                  Execute="immediate" Return="check" />

    <CustomAction Id="SetLogFileLocation" BinaryKey="Raven.Setup.CustomActions.CA.dll" DllEntry="SetLogFileLocation"
                  Execute="immediate" Return="check" />

    <InstallExecuteSequence>
      <Custom Action="InstallRavenService_Cmd" After="CostFinalize">
        <![CDATA[(&Service=3) AND NOT(!Service=3)]]>
      </Custom>
      <Custom Action='InstallRavenService' Before='InstallFinalize'>
        <![CDATA[(&Service=3) AND NOT(!Service=3)]]>
      </Custom>

      <Custom Action="UninstallRavenService_Cmd" After="CostFinalize">
        <![CDATA[(&Service=2) AND (!Service=3)]]>
      </Custom>
      <Custom Action='UninstallRavenService' Before="RemoveFiles">
        <![CDATA[(&Service=2) AND (!Service=3)]]>
      </Custom>

      <Custom Action='SetupPerformanceCountersForIISUser' Before='InstallFinalize'>
        <![CDATA[(&IIS=3) AND NOT(!IIS=3)]]>
      </Custom>
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action='SetLogFileLocation' After='CostFinalize'>1</Custom>
      <Show Dialog="CustomFatalError" OnExit="error" Overridable="yes" />
    </InstallUISequence>
    <AdminUISequence>
      <Custom Action='SetLogFileLocation' After='CostFinalize'>1</Custom>
      <Show Dialog="CustomFatalError" OnExit="error" Overridable="yes" />
    </AdminUISequence>
    
  </Product>
</Wix>