<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="Raven/DataDir" value="~\Data\System" />
    <add key="Raven/AnonymousAccess" value="Admin" />
  </appSettings>
  <system.web>
    <authentication mode="Windows" />
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.5" />
    <hostingEnvironment idleTimeout="Infinite" shutdownTimeout="300" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
  </system.web>
	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<asp scriptErrorSentToBrowser="true" />
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <!--  allowing special characters in path to allow for '+' in document IDs -->
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="1000000000" />
      </requestFiltering>
    </security>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Kent.Boogaart.HelperTrinity" publicKeyToken="cc96fa93a217f7a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>