<configuration>
	<appSettings>
		<add key="Raven/DataDir" value="~\Data"/>
		<add key="Raven/AnonymousAccess" value="All"/>
	</appSettings>
	<system.web>
		<authentication mode="Windows"/>
		<compilation debug="true"/>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="All" path="*" verb="*" type="Raven.Web.ForwardToRavenRespondersFactory, Raven.Web"/>
		</handlers> 
		<security>
			<!--  allowing special characters in path to allow for '+' in document IDs -->
			<requestFiltering allowDoubleEscaping="true"/>
		</security>
	</system.webServer>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
</configuration>
