<div>
    <div class="cluster-dashboard-item-header">
        <h3> <i class="icon-database"></i> <span>Storage per database</span></h3>
        <button class="btn btn-warning btn-sm" data-bind="click: remove">
            <i class="icon-trash"></i>
        </button>
        <button class="btn btn-default btn-sm" data-bind="click: toggleFullscreen">
            <i data-bind="css: { 'icon-fullscreen': !fullscreen(), 'icon-exit-fullscreen': fullscreen }"></i>
        </button>
    </div>

    <div class="databases-list" style="position: relative;">
        <div class="list-container">
            <div class="list absolute-fill">
                <virtual-grid class="resizable no-margin" params="controller: gridController, condensed: true, disableStripes: true"></virtual-grid>
                <div class="absolute-center loading" data-bind="visible: $root.spinners.loading"><div class="global-spinner"></div></div>
            </div>
        </div>
    </div>
</div>
