<div>
    <div class="cluster-dashboard-item-header">
        <h3> <i class="icon-license-information"></i> <span>License</span></h3>
        <button class="btn btn-warning btn-sm" data-bind="click: remove">
            <i class="icon-trash"></i>
        </button>
    </div>

    <div class="license-information">

        <div class="license-item">
            <i class="icon-license"></i>
            <div>
                <h4>License type</h4>
                <div class="license-item-value">Enterprise</div>
            </div>
        </div>

        <div class="license-item">
            <i class="icon-calendar"></i>
            <div>
                <h4>License Expiration</h4>
                <div class="license-item-value">
                    2021 November 17th<br/>
                    <small>in 9 months 17 days</small>
                </div>
            </div>
        </div>

        <div class="license-item">
            <i class="icon-support"></i>
            <div>
                <h4>Support type</h4>
                <div class="license-item-value">Community</div>
            </div>
        </div>

        <div class="license-item">
            <i class="icon-certificate"></i>
            <div>
                <h4>Server Certificate Expiration</h4>
                <div class="license-item-value">2021 February 27th<br/>
                    <small class="text-warning">11 days</small>
                </div>
            </div>
        </div>


        <a href="#" class="btn btn-sm margin-left">License details</a>

    </div>

</div>
