<div>
    <div class="cluster-dashboard-item-header">
        <h3> <i class="icon-storage"></i> <span>Storage</span></h3>
        <button class="btn btn-warning btn-sm" data-bind="click: remove">
            <i class="icon-trash"></i>
        </button>
        <button class="btn btn-default btn-sm" data-bind="click: toggleFullscreen">
            <i class="icon-fullscreen"></i>
        </button>
    </div>
    <div class="property-container">
        <div class="property">
            <div class="flex-horizontal">
                <div class="nodes-container nodes-storage" data-bind="foreach: nodeStats">
                    <div data-bind="attr: { class: 'nodes-item node-' + tag } ">
                        <div class="nodes-item-header">
                            <div class="node-label" data-bind="text: tag"></div>
                        </div>
                        <div class="global-spinner spinner-sm" data-bind="visible: !hasData()"></div>
                        <div class="details-list" data-bind="foreach: mountPoints">
                            <div class="mount" data-bind="text: mountPointLabel, visible: $parent.mountPoints().length > 1"></div>
                            <div class="storage-legend">
                                <div class="storage-ravendb" data-toggle="tooltip" data-placement="top" title="RavenDB" 
                                     data-bind="text: $root.sizeFormatter(ravenSize())"></div>
                                <div class="storage-used" data-toggle="tooltip" data-placement="top" title="Storage Used"
                                    data-bind="text: $root.sizeFormatter(usedSpace())"></div>
                                <div class="storage-free" data-toggle="tooltip" data-placement="top" title="Free"
                                    data-bind="text: $root.sizeFormatter(freeSpace())"></div>
                                <div class="flex-grow"></div>
                                <div class="storage-total" data-toggle="tooltip" data-placement="top" title="Storage Available"
                                    data-bind="text: $root.sizeFormatter(totalCapacity())"></div>
                            </div>
                            <div class="storage-chart">
                                <div class="storage-used" data-bind="style: { width: usedSpacePercentage() + '%' }">
                                    <div class="storage-ravendb" data-bind="style: { width: ravendbToUsedSpacePercentage() + '%' }"></div>
                                </div>
                                <div class="storage-free">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
