<div class="panel panel-state resource">
    <div class="padding padding-sm">
        <div class="state {{ stateClass }}" data-state-text="{{ stateText }}"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-xl-4 info-container">
                <div class="checkbox">
                    <input type="checkbox" class="styled">
                    <label></label>
                </div>
                <h3 class="resource-name">
                    <i class="icon-{{ type }} text-danger"></i>
                    <a title="{{ name }}" href="#">{{ name }}</a>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-xl-6  vertical-divider properties-container">
                {{#if size}}
                <div class="properties-item">
                    <div class="properties-value value-only">
                        <div class="set-size">
                            <i class="icon-drive"></i>
                            <span>{{size}}</span>
                        </div>
                    </div>
                </div>
                {{/if}}

                {{#if docs}}
                <div class="properties-item">
                    <div class="properties-value value-only">
                        <div class="set-size">
                            <i class="icon-document-group"></i>
                            <span>{{docs}} documents</span>
                        </div>
                    </div>
                </div>
                {{/if}} {{#if indexes}}
                <div class="properties-item">
                    <div class="properties-value value-only">
                        <div class="set-size">
                            <i class="icon-index"></i>
                            <span>{{indexes}} indexes</span>
                        </div>
                    </div>
                </div>
                {{/if}} {{#if files}}
                <div class="properties-item">
                    <div class="properties-value value-only">
                        <div class="set-size">
                            <i class="icon-filesystem"></i>
                            <span>{{files}} files</span>
                        </div>
                    </div>
                </div>
                {{/if}} {{#if errors}}
                <div class="properties-item">
                    <div class="properties-value value-only text-danger">
                        <div class="set-size">
                            <i class="icon-exclamation"></i>
                            <span>{{errors}} errors</span>
                        </div>
                    </div>
                </div>
                {{/if}} {{#if alerts}}
                <div class="properties-item">
                    <div class="properties-value value-only text-warning">
                        <div class="set-size">
                            <i class="icon-warning"></i>
                            <span>{{alerts}} alerts</span>
                        </div>
                    </div>
                </div>
                {{/if}} {{#if backedUp }}
                <div class="properties-item">
                    <div class="properties-value value-only {{backedUpClass}}">
                        <div class="set-size">
                            <i class="icon-backup"></i>
                            <span>{{backedUp}}</span>
                        </div>
                    </div>
                </div>
                {{/if}} {{#if upFor}}
                <div class="properties-item">
                    <div class="properties-value value-only ">
                        <div class="set-size">
                            <i class="icon-recent"></i>
                            <span>Up for {{ upFor }}</span>
                        </div>
                    </div>
                </div>
                {{/if}} {{#if indexingDisabled}}
                <div class="properties-item">
                    <div class="properties-value value-only text-warning">
                        <div class="set-size">
                            <i class="icon-pause"></i>
                            <span>Indexing disabled</span>
                        </div>
                    </div>
                </div>
                {{/if}} {{#if clientRejectionMode}}
                <div class="properties-item">
                    <div class="properties-value value-only text-warning">
                        <div class="set-size">
                            <i class="icon-umbrella"></i>
                            <span>Clients rejection mode</span>
                        </div>
                    </div>
                </div>
                {{/if}}

            </div>
            <div class="col-xs-12 col-sm-6 col-xl-2  actions-container">
                <div class="actions">
                    <div class="btn-toolbar pull-right-sm" role="toolbar">
                        <div class="btn-group">
                            {{#ifEq stateText 'offline' }}
                                <button class="btn btn-default">
                                    <i class="icon-load"></i>
                                    <span>Load</span>
                                </button>
                            {{/ifEq}}
                            {{#ifEq stateText 'disabled' }}
                                <button class="btn btn-default">
                                    <i class="icon-unlock"></i>
                                    <span>Enable</span>
                                </button>
                            {{/ifEq}}
                            {{#ifEq stateText 'online' }}
                                <button class="btn btn-default">
                                    <i class="icon-lock"></i>
                                    <span>Disable</span>
                                </button>
                            {{/ifEq}}
                            {{#ifEq stateText 'online' 'disabled'}}
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <i class="icon-pause"></i> Disable indexing
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-umbrella"></i> Reject clients mode
                                    </a>
                                </li>
                            </ul>
                            {{/ifEq}}
                        </div>
                        <button class="btn btn-danger">
                            <i class="icon-trash"></i>
                            <span>Delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
