@use "Content/scss/sizes";
@use "Content/scss/colors";

$filtering-input-baseheight: 35px !default;
$filtering-input-bg: colors.$well-bg-var !default;
$filtering-input-border-radius: $filtering-input-baseheight !default;
$filtering-input-bg: $toggle-bg !default;

// Text inputs for filtering that will go in pair with multi-toggle component
.form-control.filtering-input {
    background: $filtering-input-bg;
    border-radius: $filtering-input-border-radius;
    border: sizes.$border-width solid colors.$border-color-light-var;
    height: $filtering-input-baseheight;
    font-size: 0.8rem;
    min-width: 10rem;
    padding-left: sizes.$gutter-sm;
    padding-right: sizes.$gutter-sm;
}
