<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target
			xsi:type="AsyncWrapper"
			name="AsyncLog">

      <target xsi:type="SplitGroup">
        <target xsi:type="HttpEndpoint" />
        <!-- create log files with a max size of 256 MB -->
        <target name="File" xsi:type="File"
                archiveAboveSize="268435456"
								fileName="${basedir}\Logs\${shortdate}.log">
          <layout xsi:type="CsvLayout">
            <column name="time" layout="${longdate}" />
            <column name="logger" layout="${logger}"/>
            <column name="level" layout="${level}"/>
            <column name="message" layout="${message}" />
            <column name="exception" layout="${exception:format=tostring}" />
          </layout>
        </target>
      </target>
    </target>


    <target xsi:type="ColoredConsole"
						name="Colored-Console"
						useDefaultRowHighlightingRules="true"
						layout="${message} ${exception}"/>

  </targets>
  <rules>
    <logger name="*" writeTo="AsyncLog"/>
  </rules>
</nlog>