:root {
    --menu-width: @menu-width;
}

body,
html {
    width: 100%;
    height: 100%;
}

body:not(.setup-shell) {
    overflow: hidden;
}

#applicationHost {
    width: 100%;
    height: 100%;

    .layout-container {
        height: 100%;
        flex-grow: 1;
        display: grid;
        grid-template-rows: auto @navbar-height 1fr auto auto;
        grid-template-columns: var(--menu-width) 1fr;
        grid-template-areas: "alert alert" "navbar navbar" "menu content" "footer footer";

        .top-alert {
            grid-area: alert;
        }

        .navbar {
            grid-area: navbar;
        }

        .main-menu {
            grid-area: menu;
        }

        .content-container {
            grid-area: content;
        }

        .notification-center-container {
            grid-area: content;
            justify-self: end;
            height: 100%;
            position: relative;
        }

        .status-footer {
            grid-area: footer;
        }

        #resizeArea {
            @resizeAreaWidth: 10px;

            grid-row: 2 ~"/" 4; // Span across navbar and menu and escape "/" character
            grid-column: 1 ~"/" 1;
            justify-self: end;
            margin-right: -@resizeAreaWidth/2;
            width: @resizeAreaWidth;
            position: relative;
            z-index: @zindex-menu-resize;
            cursor: col-resize;

            &::before {
                content: '';
                position: absolute;
                left: (@resizeAreaWidth/2) - 1;
                height: 100%;
                border-left: 2px solid @gray-200;
                transform-origin: center;
                opacity: 0;
                transform: scaleX(.1);
                transition: transform .2s ease-in, opacity .1s ease-in-out;
            }

            &:hover {
                &::before {
                    transform: scaleX(1);
                    opacity: 1;
                }
            }
        }

        &.collapse-menu {
            --menu-width: 40px;

            @media (max-width: @screen-sm-max) {
                .btn-collapse-menu, .btn-expand-menu {
                    display: none;
                }
            }

            .navbar .navbar-header .navbar-brand {
                font-size: 26px;

                .icon-logo {
                    &::before {
                        content: '\e9b4' !important;
                    }
                }
            }

            #resizeArea {
                display: none;
            }
        }



        .notifications-pin-toggle {
            background-color: transparent;
            display: inline-block;
            cursor: pointer;
            height: 30px;
            min-width: 30px;
            border: none;
            text-align: center;

            i {
                display: block;
                top: 0;
            }

            .icon-pinned {
                display: none;
                color: @brand-primary;
            }

            &:hover i {
                color: @text-emphasis;
            }
        }

        &.pin-notifications {
            #notification-center {
                transition: none;
            }
        }

        &.show-search {
            @media (max-width: @screen-sm-max) {
                .search-container {
                    .slidein-style;
                    box-shadow: 0 0 0 1px @gray-lighter;
                    display: block;
                    z-index: 20;
                }
            }
        }

        &.show-notifications {
            #notification-center {
                transform: translateX(0%);
            }


            &.pin-notifications {
                grid-template-rows: auto @navbar-height 1fr auto auto;
                grid-template-columns: var(--menu-width) 1fr @right-panel-width;
                grid-template-areas: "alert alert alert" "navbar navbar navbar" "menu content notifications" "footer footer footer";

                .notification-center-container {
                    grid-area: notifications;
                    justify-self: initial;

                    & > .durandal-wrapper {
                        height: 100%;
                    }

                    #notification-center {
                        transform: none;
                        box-shadow: none;
                    }
                }

                .notifications-pin-toggle {
                    .icon-pinned {
                        display: block;
                    }

                    .icon-pin {
                        display: none;
                    }
                }
            }
        }
    }
}

.page-host {
    & > .durandal-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.no-transition {
    &, * {
        transition: none !important;
    }
}

.browser-alert {
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .browser-message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: fadeout(@gray-lighter,10%);
        color: @gray-darker;
        z-index: 9999;
        text-align: center;
        padding: @grid-gutter-width;
        width: 380px;
        max-width: 90%;

        .checkbox {
            margin-top: 15px;
        }

        .browser-links {
            margin: @grid-gutter-width -@grid-gutter-width;
            display: flex;

            a {
                width: 50%;
                display: block;
                padding: @grid-gutter-width/2;
                color: @gray-lighter;
                font-weight: bold;

                i {
                    display: block;
                }

                &.chrome {
                    background-color: #4885ed;

                    &:hover {
                        background-color: lighten(#4885ed,5%);
                    }
                }

                &.firefox {
                    background-color: #FF6611;

                    &:hover {
                        background-color: lighten(#FF6611,5%);
                    }
                }
            }
        }
    }
}

body {
    &.loading-active {
        #applicationHost {
            opacity: 0;
        }

        .loading-overlay {
            opacity: 1;
            height: 100%;
            transform: translateY(0);

            .loading-info {
                opacity: 1;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }

    &.processing {
        .processing-spinner {
            transform: translateX(0%) translateY(0%);

            &:hover {
                opacity: 0.2;
            }

            &:before {
                .spin-style;
                border: 6px solid fadeout(@gray-lighter,50%);
                border-top-color: @gray-lighter;
            }
        }
    }
}

.top-alert {
    .padding.padding-xs;
    display: block;
    width: 100%;
    font-size: 16px;
    height: @top-alert-height;
    text-align: center;
    line-height: 19px;
    color: @gray-dark;
    font-weight: bold;
    background-color: darken(@brand-warning-light, 10%);
    text-transform: uppercase;
}

.absolute-fill {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.ace_editor {
        position: absolute;
    }
}

.ace_editor.ace_autocomplete .ace_completion-highlight {
    text-shadow: 0 0 1px @gray-lighter !important;
    font-weight: bold !important;
    color: @brand-primary !important;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.scroll {
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: auto;
    flex-shrink: 1;
}

.scroll-horizontal {
    overflow-x: auto;
}

.flex-separator {
    flex-grow: 1;
}

.col-sm-auto {
    @media (min-width:@screen-sm) {
        width: initial;
    }
}

.col-sm-grow {
    @media (min-width:@screen-sm) {
        width: auto;
        flex-grow: 1;
    }
}

.col-md-grow {
    @media (min-width:@screen-md) {
        width: auto;
        flex-grow: 1;
    }
}

.col-lg-grow {
    @media (min-width:@screen-lg) {
        width: auto;
        flex-grow: 1;
    }
}

.col-xl-grow {
    @media (min-width:@screen-xl) {
        width: auto;
        flex-grow: 1;
    }
}

.tooltip {
    .slidein-style;
}

.json-preview {
    button.copy {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);

        span {
            display: none;
        }

        &:hover {
            span {
                display: inline;
            }
        }
    }

    .dateContainer {
        border-color: @gray-darker;
        background-color: @gray-dark;
        color: @gray-light;
        padding: 13px;
        font-size: 11px;

        .dateValue {
            color: @gray-lighter;
            display: inline-block;
        }

        .dateLabel {
            display: inline-block;
            width: 50px;
        }
    }
}


.flex-vertical, .flex-horizontal, .flex-row, .form-group {
    .flex-noshrink {
        flex-shrink: 0;
    }

    .flex-basis-0 {
        flex-basis: 0;
    }

    .flex-grow {
        flex-grow: 1;
        position: relative;
    }

    &.flex-stretch-items {
        align-items: stretch;
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }

    .flex-start {
        align-self: flex-start;
    }

    .flex-end {
        align-self: flex-end;
    }

    .flex-center {
        align-self: center;
    }

    &.flex-content-center {
        justify-content: center;
    }
}

.flex-horizontal {
    display: flex;
    align-items: center;
    max-width: 100%;

    &:not(.nospacing) {
        & > div + div {
            margin-left: @grid-gutter-width/4;
        }
    }
}

.flex-vertical {
    display: flex;
    flex-direction: column;

    .flex-header {
        position: relative;
        flex-shrink: 0;
        margin-bottom: @grid-gutter-width/4;
    }

    .flex-grow {
        flex-grow: 1;
        position: relative;
    }

    .flex-footer {
        position: relative;
        margin-top: @grid-gutter-width/4;
    }
}

.status-footer {
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    justify-content: space-between;
    align-items: stretch;
    background-color: @gray-dark;
    color: @footer-color;

    @media (max-width: @screen-sm-max) {
        flex-wrap: wrap;
    }

    a {
        padding: @grid-gutter-width/8 @grid-gutter-width/2;
        display: inline-block;
        transition: color .1s ease;
        height: 100%;

        &:not(.text-danger):not(.text-warning) {
            color: inherit;
        }

        .label {
            opacity: .7;
            transition: opacity .1s ease;
        }

        &.btn {
            top: -1px;
            position: relative;
            height: ~"calc(100% + 1px)";
            display: flex;
            align-items: center;

            i {
                font-size: 22px !important;
                top: -1px !important;
            }
        }

        &:hover, &:active, &:focus {
            text-decoration: none !important;
            color: #FFF;

            .label {
                opacity: 1;
            }
        }

        &.indexes-link {
            padding-right: 0;
        }

        &.stale-indexes-link {
            padding-left: 0;
        }
    }

    span {
        margin-right: @grid-gutter-width/4;
    }

    .separator {
        color: fadeout(@gray,30%);
    }

    .footer-right, .footer-left {
        border-top: 1px solid fadeout(gray,60%);
        display: flex;
        flex-grow: 1;
        align-items: stretch;
    }

    .footer-right {
        margin-left: auto;
        justify-content: flex-end;
    }

    .spinner {
        padding: @grid-gutter-width/8 @grid-gutter-width/2;
    }

    .global-spinner {
        align-self: center;
        line-height: 15px;
    }

    .footer-item {
        white-space: nowrap;

        & + .footer-item {
            border-left: 1px solid fadeout(@gray,60%);
        }

        a {
            text-decoration: none !important;
        }
    }
}

.navbar {
    grid-area: navbar;
    height: @navbar-height-xs;
    border-bottom: 1px solid @layout-border;
    display: flex;
    align-items: center;

    @media (min-width:@screen-md) {
        height: @navbar-height;
    }

    #navbar {
        margin-left: @grid-gutter-width;
        margin-right: @grid-gutter-width;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar-header {
        border-right: 1px solid @layout-border;
        height: @navbar-height;
        width: var(--menu-width);

        .navbar-brand {
            color: @brand-primary;
            font-size: 54px;
            line-height: @navbar-height;
            margin: 0 !important;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 100%;
            height: 100%;
            transition: opacity @menu-transition-ease;
            display: block;
            text-align: center;

            i {
                top: 0;
            }
        }
    }

    .navbar-right {
        @media (max-width:@screen-sm-max) {
            display: block;
            margin: 0 -15 0 0px;
            text-align: right;
        }

        margin-left: @grid-gutter-width/2;

        li {
            display: inline-block;
            position: relative;

            a.active {
                position: relative;
                color: @gray-dark;

                &:before {
                    .bounceinonce-style;
                    left: 0;
                    content: '';
                    position: absolute;
                    width: 70%;
                    margin: -10% 15%;
                    padding-top: 70%;
                    border-radius: 50%;
                    background-color: @gray-lighter;
                    z-index: 0;
                }
            }

            .notification-counter {
                .bouncein-style;
                position: absolute;
                width: 18px;
                height: 18px;
                font-size: 11px;
                line-height: 17px;
                font-weight: 900;
                color: #FFF;
                text-align: center;
                bottom: 2px;
                right: 10px;
                background-color: @brand-primary;
                border-radius: 50%;
                display: none;

                &.success {
                    background-color: @brand-success;
                }

                &.info {
                    background-color: @brand-info;
                }

                &.warning {
                    background-color: @brand-warning;
                }

                &.danger {
                    background-color: @brand-danger;
                }

                &.pop {
                    &:after {
                        position: absolute;
                        left: 0;
                        top: 0;
                        content: '';
                        opacity: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        z-index: @zindex-navbar;
                        border: 1px solid @brand-primary;
                        //background-color: @brand-primary;
                        .fadeoutzoom-style;
                    }
                }
            }
        }

        [class*=" icon-"],
        [class^="icon-"] {
            font-size: 16px;
        }

        @media (min-width:@screen-md) {
            float: right;
        }

        @media (min-width:@screen-xs) {
            [class*=" icon-"],
            [class^="icon-"] {
                font-size: 26px;
            }
        }
    }

    .menu-collapse-button {
        display: none;

        @media (min-width:@screen-md) {
            display: block;
            display: none; //HIDDEN WHILE IN DEVELOPMENT
            position: absolute;
            top: 17px;
            right: 10px;
            padding: 10px;
            font-size: 30px;
            cursor: pointer;
            text-decoration: none;
            color: @gray;

            &:hover {
                color: @gray-light;
            }
        }
    }

    .server-environment {
        background-color: @main-menu-hover;
        padding: 2px @grid-gutter-width/2;
        height: 38px;
        margin-right: @grid-gutter-width/2;
        line-height: 13px;
        text-align: center;

        small {
            text-transform: uppercase;
            font-size: 10px;
        }
    }

    .inputs-container {
        clear: both;
        transition: margin-left @menu-transition-ease, max-height @menu-transition-ease;
        height: 38px;
        flex-grow: 1;
        position: relative;

        .form-control {
            border-color: @layout-border;
            background-color: transparent;
        }

        .database-switcher-container,
        .search-container {
            position: relative;

            .box-container a {
                color: @text-emphasis;
                text-decoration: none;
                display: block;
                margin: 0 (@grid-gutter-width / -4);
                padding: 1px (@grid-gutter-width / 2);

                &.disabled {
                    cursor: not-allowed;
                    opacity: .5;
                }

                &.non-relevant {
                    cursor: not-allowed;
                    opacity: .5;
                }

                strong {
                    color: @text-emphasis;
                }

                &:hover, &.active {
                    background-color: @panel-bg;
                }

                &.more {
                    color: @brand-primary;
                    font-weight: bold;
                    font-size: 12px;

                    &:before {
                        .icon-style;
                        content: "\e91e";
                        font-size: 110%;
                        margin-right: 3px;
                        top: 1px;
                    }
                }

                .label {
                    float: right;
                    margin-top: 5px;
                    margin-left: 5px;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                ul {
                    a {
                        padding-left: (@grid-gutter-width);
                    }
                }
            }

            h4 {
                margin: 0 (@grid-gutter-width / 4);

                & + ul {
                    a {
                        padding-left: (@grid-gutter-width);
                    }

                    ul {
                        a {
                            padding-left: (@grid-gutter-width * 3/2);
                        }
                    }
                }
            }

            .database-filter-container {
                position: relative;

                .database-filter {
                    background-color: transparent !important;
                    border-color: @gray !important;
                    padding: 2px (@grid-gutter-width / 2);
                    height: 28px;
                    margin-bottom: (@grid-gutter-width / 4);

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            .box-container {
                .shadow-style;
                padding: 36px (@grid-gutter-width / 4) (@grid-gutter-width / 4);
                background-color: @dropdown-bg;
                display: none;
                width: 100%;
                position: absolute;
                top: @grid-gutter-width / 4;

                .scroller {
                    max-height: 0;
                    overflow: auto;
                }

                overflow-y: auto;

                section {
                    padding: (@grid-gutter-width /2) (@grid-gutter-width / 4);
                    background-color: @well-bg; //@well-bg;
                    & + section {
                        margin-top: (@grid-gutter-width / 4);
                    }
                }
            }

            &.active {
                z-index: 23;

                .database-switcher {
                    background-color: @dropdown-bg;
                    border-color: @dropdown-bg;
                }

                .box-container {
                    .slidein-style;

                    .scroller {
                        .topexpand-style;
                        max-height: 60vh;
                    }

                    display: block;
                }

                .omnisearch {
                    border-color: @dropdown-bg;
                }
            }
        }

        .database-switcher-container {
            .resources-link {
                .slidein-style;
                position: absolute;
                top: 6px;
                padding: 1px 6px;
                right: 40px;
                z-index: 21;
                display: none;

                &:hover {
                    background-color: @gray;
                }
            }

            .database-switcher {
                .label {
                    opacity: 1;
                }
            }

            &.active {
                .database-switcher {
                    padding-right: 80px;

                    .label {
                        opacity: 0;
                    }
                }

                .resources-link {
                    display: block;
                }
            }

            .database {
                &:before {
                    margin-right: 10px;
                    font-size: 20px;
                    position: relative;
                    top: 3px;
                }
            }

            .database {
                &:before {
                    .icon-style;
                    content: "\e926";
                    color: @brand-database-color;
                }
            }

            .database-filter {
                background-color: @gray-base;
                border-color: @gray-base;
                margin-bottom: 5px;
            }
        }

        .search-container {

            @media (max-width:@screen-sm-max) {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            @media (min-width:@screen-md) {
                transition: right @menu-transition-ease;
                z-index: 22;

                &.active {
                    background-color: @body-bg;
                    border-color: @dropdown-bg;
                }
            }
        }

        .autocomplete-list {
            [class*=" icon-"],
            [class^="icon-"] {
                margin-right: 7px;
            }
        }

        .database-list {

            li a {
                display: flex !important;
                align-items: center;

                & > div {
                    flex-shrink: 0;
                }

                .name {
                    flex-shrink: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .badge {
                    margin-left: @gutter-xs;
                }
            }

            .label {
                text-transform: uppercase;
                width: 97px;
            }
        }

        @media (min-width: @screen-md) {
            clear: none;
            background-color: transparent;
            max-height: none;
            position: relative;

            .database-switcher-container {
                position: absolute;
                left: 0;
                right: 51%;
            }

            .search-container {
                position: absolute;
                right: 0;
                left: 51%;

                input:focus {
                    & + .search-autocomplete {
                        display: block;
                    }
                }
            }
        }

        &.show-inputs {
            display: block !important;
        }

        .omnisearch {
            z-index: 21;
            padding-left: 45px;
            position: relative;
            padding-top: 4px;
            background-color: @body-bg;

            & + .icon-search {
                z-index: 22;
                position: absolute;
                font-size: 22px;
                color: @text-color;
                top: 7px;
                left: 12px;
            }

            &:focus {
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }

        .database-switcher {
            position: relative;
            z-index: 20;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 40px;

            .database {
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:after {
                .icon-style;
                display: block;
                position: absolute;
                right: 10px;
                top: 10px;
                content: "\e918";
            }
        }
    }
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: left @menu-transition-ease;
    overflow: auto;

    .content-margin {
        flex-grow: 1;
        margin: @grid-gutter-width;
        position: relative;
    }
}

.page-host {
    width: 100%; // fix full width;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

#menu-toggle {
    color: @brand-primary;
}

@media (orientation: portrait) {
    .edit-document {
        flex-direction: column;
    }
}

#right-options-panel {
    transition: transform @menu-transition-ease, margin-right @menu-transition-ease;
    flex-shrink: 0;



    @media (orientation: portrait) {
        flex-direction: row;
        height: 450px;
        padding: 0 @gutter @gutter;

        .document-properties {
            width: 45%;
            flex-basis: 45%;
            margin-right: @gutter;
            margin-bottom: 0;
            flex-shrink: 0;
        }
    }

    @media (orientation: landscape) {
        width: @right-panel-width;
        flex-basis: @right-panel-width;
    }

    @media (min-width: @screen-md) {
        top: @navbar-height;
    }

    .collapse-options-panel-container {
        position: absolute;
        right: 100%;
        top: -2px;

        .collapse-options-panel, .show-options-panel {
            border: none;
            width: @gutter;
            height: @gutter;
            line-height: @gutter;
            text-align: center;
            padding: 0;
        }

        .show-options-panel {
            display: none;
        }
    }

    &.collapse {
        margin-right: -@right-panel-width;

        .collapse-options-panel-container {
            .collapse-options-panel {
                display: none;
            }

            .show-options-panel {
                display: block;
            }
        }
    }

    .search-documents {
        position: relative;
        padding: @grid-gutter-width/4 @grid-gutter-width/4 0;

        .form-control {
            background-color: transparent;
            font-size: 13px;
            padding: 4px 8px 4px @grid-gutter-width;
            height: auto;
            line-height: 1;
        }

        .icon-search {
            position: absolute;
            top: 12px;
            left: @grid-gutter-width/2;
        }
    }
}

.nav-tabs.nav-stacked {
    .label.pull-right {
        margin-top: 5px;
    }
}

.clear-button {
    position: absolute;
    right: 0;
    transform: translateY(-100%);
}

.btn-link {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    margin: 0;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: @brand-primary;
    }
}

.connection-lost {
    .backdrop;
    opacity: 1;
    background-color: fadeout(@gray-base, 20%);
    text-align: center;
    display: none;

    .absolute-center {
        .panel;
        padding: @grid-gutter-width;
    }

    h3 {
        color: @brand-danger;
        margin-bottom: @grid-gutter-width/2;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        margin-bottom: @grid-gutter-width/2;
    }

    img {
        margin-bottom: @grid-gutter-width/2;
    }
}

.color-definitions {
    display: none;
}

.small-label {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 800;
    color: @text-muted;
    letter-spacing: .12em;
}

.collapse-margin-fix {
    padding: 1px 0;
}

.input-group-addon {
    align-self: stretch;
}


.no-text-transform {
    text-transform: none !important;
}
