.leaflet-default-icon-path {
    background-image: url(../img/leaflet/marker-icon.png);
}

.leaflet-control-layers-toggle {
    background-image: url(../img/leaflet/layers.svg);
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(../img/leaflet/layers.svg);
    background-size: contain;
}
