<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: close, clickBubble: false" aria-hidden="true">
                <i class="icon-cancel"></i>
            </button>
            <h4 class="modal-title" data-bind="text: title"></h4>
        </div>
        <div class="modal-body">
            <p class="confirmationMessage" data-bind="html: confirmationMessageAsHtml"></p>
        </div>
        <div class="modal-footer" data-bind="foreach: options">
            <button type="button" class="btn" data-bind="text: $data, click: $root.onOptionClicked.bind($root), clickBubble: false, 
                    css: { 'btn-default': $index() !== $root.options.length - 1, 'btn-primary': $index() === $root.options.length - 1 }">                
            </button>
        </div>
    </div>
</div>
