[Unit]
Description=RavenDB NoSQL Database
After=network.target

[Service]
LimitCORE=infinity
LimitNOFILE=65535
LimitRSS=infinity
LimitAS=infinity
LimitMEMLOCK=infinity
User=ravendb
StartLimitBurst=0
Restart=on-failure
Type=simple
TimeoutStopSec=300
Environment="RAVEN_DataDir=/var/lib/ravendb/data"
Environment="RAVEN_Indexing_NugetPackagesPath=/var/lib/ravendb/nuget"
Environment="RAVEN_Logs_Path=/var/log/ravendb/logs"
Environment="RAVEN_Security_AuditLog_FolderPath=/var/log/ravendb/audit"
Environment="RAVEN_Security_MasterKey_Path=/etc/ravendb/security/master.key"
Environment="RAVEN_Setup_Certificate_Path=/etc/ravendb/security/server.pfx"
Environment="HOME=/var/lib/ravendb"
ExecStart=/usr/lib/ravendb/server/Raven.Server -c "/etc/ravendb/settings.json"

[Install]
WantedBy=multi-user.target
