<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Backbone.js" version="1.1.0" targetFramework="net45" />
  <package id="jQuery" version="2.0.3" targetFramework="net45" />
  <package id="RequireJS" version="2.1.9" targetFramework="net45" />
  <package id="underscore.js" version="1.5.2" targetFramework="net45" />
</packages>