.session-table  tr td
{
    border-bottom: 1px dashed orange;
    padding-bottom: 2px;
    padding-top: 2px;
}
.session-table  tr th
{
    border-bottom: 1px dashed orange;
    padding-bottom: 2px;
    padding-top: 2px;
}

.session-table tr td
{
    padding-left: 10px;
}

.rdbprofilerbutton
{
    position: absolute;
    left: 0;
    top: 0;
    background: Orange;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.1em;
}

.ravendb-profiler-results
{
    display: none;
    position: absolute;
    left: 0;
    top: 1em;
    border: 1px solid black;
    background: white;
    padding: 2em;
    border-radius: 5px;
}
.rdbResultHolder
{
    padding-left: 1em;
}
