// TODO replace all panels widh cards -> remove css
.panel {
    background-color: $panel-bg-1;
    color: $text-color;
}

.small-label {
    font-size: 0.6rem;
    color: $text-muted-var;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    line-height: 1.1em;
    font-weight: 600;
}

.md-label {
    font-size: 0.875em;
    color: var(--text-color);
    line-height: 1.1em;
    font-weight: 600;
    margin-bottom: $gutter-xs;
    i {
        margin-left: $gutter-xxs/2;
    }
}

// DASHED NEW ITEM PLACEHOLDER
.item-new {
    background-color: transparent !important;
    border: $border-width dashed $border-color-light;
}

.item-disabled {
    filter: contrast(85%);
    mix-blend-mode: luminosity;
    opacity: 0.4;
    transition: all 0.2s $global-easing;
}

.item-busy {
    filter: contrast(75%) brightness(0.75);
    mix-blend-mode: luminosity;
    cursor: progress;
}

.item-reorder {
    cursor: move;
    outline: 1px dashed $border-color;
    outline-offset: 3px;
}

// Button Group With Label
.btn-group-label {
    border-top: 1px solid $gray-300;
    margin-top: -5px;
    padding-top: 4px;
    position: relative;
    &:before {
        content: attr(data-label);
        position: absolute;
        top: -14px;
        color: $gray-300;
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
    }
}

// Separate two buttons that are in a group
.btn-group {
    > :not(.btn-check:first-child) + .btn,
    > .btn-group:not(:first-child) {
        margin-left: 1px;
    }
}

.popover-container-fix {
    position: absolute;
    width: 100%;
    z-index: $zindex-popover;
}

// Fix caret margin for dropdowns with no text (no support on firefox)
.dropdown-toggle:has(.visually-hidden) {
    &::after {
        margin-left: 0;
    }
}

// Spinner with primary color gradient
.spinner-gradient {
    $spinner-width: 3px;
    border: none;
    background-image: conic-gradient(
        rgba(112, 105, 238, 0) 30deg,
        rgba(112, 105, 238, 0.33) 90deg,
        rgba(112, 105, 238, 0.66) 150deg,
        rgba(var(--bs-primary-rgb), 0.75) 240deg,
        rgba(var(--bs-primary-rgb), 1) 360deg
    );
    -webkit-mask: radial-gradient(
        farthest-side,
        transparent calc(100% - ($spinner-width + 1px)),
        #fff calc(100% - $spinner-width),
        #fff calc(100% - 1px),
        transparent 100%
    );
    mask: radial-gradient(
        farthest-side,
        transparent calc(100% - ($spinner-width + 1px)),
        #fff calc(100% - $spinner-width),
        #fff calc(100% - 1px),
        transparent 100%
    );
    animation: spin 1.3s infinite cubic-bezier(0.85, 0.2, 0.2, 0.85);
}

.spinner-border-xs {
    width: $spinner-width-xs;
    height: $spinner-height-xs;
    border-width: $spinner-border-width-xs;
}

.form-control,
.form-select {
    min-height: 37px;

    &::placeholder {
        color: $text-muted-var;
        opacity: 0.5;
    }
}

.clearable-input {
    position: relative;

    .clear-button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 4px;
        align-text: center;

        button {
            flex-grow: 1;
            border-radius: $gutter;
            font-size: 0.75em;
            box-shadow: none;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;

            &:not(:hover) {
                background-color: transparent;
            }
        }
    }
}

// Vertical separator inside the badge
.badge {
    .vr {
        margin: -2px 6px;
        width: 2px;
    }
}

.absolute-fill {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: $input-focus-color;
    -webkit-box-shadow: 0 0 0 30px $input-focus-bg inset !important;
}

input,
select {
    &:disabled {
        pointer-events: all !important;
        cursor: not-allowed !important;
        opacity: 0.66 !important;
    }
}

// box-shadow for modals
@each $key, $value in $theme-colors {
    .modal-border.bulge-#{$key} {
        --bulge-color: #{$value};
        box-shadow: 0 0 0 3px rgba(var(--bs-body-bg-rgb), 1), 0px -4px 0px 2px var(--bulge-color);
    }
}

// custom alerts colors
@each $key, $value in $theme-colors {
    $color: mix($text-emphasis-color, $value, 30%);
    $bg: mix($panel-bg-1, $value, 80%);
    $border-color: mix($text-emphasis-color, $value, 30%);

    .alert-#{$key} {
        --#{$prefix}alert-color: #{$color};
        --#{$prefix}alert-bg: #{$bg};
        --#{$prefix}alert-border-color: #{$border-color};
    }
}

.w-fit-content {
    width: fit-content;
}
