// TODO replace all panels widh cards -> remove css
.panel {
    background-color: $panel-bg-1;
    color: $text-color;
}

.small-label {
    font-size: 0.6rem;
    color: $text-muted-var;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    line-height: 1.1em;
    margin-bottom: 2px;
}

// DASHED NEW ITEM PLACEHOLDER
.item-new {
    background-color: transparent !important;
    border: $border-width dashed $border-color-light;
}

.item-disabled {
    filter: contrast(75%) brightness(0.75);
    mix-blend-mode: luminosity;
}

.item-busy {
    filter: contrast(75%) brightness(0.75);
    mix-blend-mode: luminosity;
    cursor: progress;
}

.item-reorder {
    cursor: move;
    outline: 1px dashed $border-color;
    outline-offset: 3px;
}

// Button Group With Label
.btn-group-label {
    border-top: 1px solid $gray-300;
    margin-top: -5px;
    padding-top: 4px;
    position: relative;
    &:before {
        content: attr(data-label);
        position: absolute;
        top: -14px;
        color: $gray-300;
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
    }
}

// Separate two buttons that are in a group
.btn-group {
    > :not(.btn-check:first-child) + .btn,
    > .btn-group:not(:first-child) {
        margin-left: 1px;
    }
}

.small-label {
    font-size: 0.7rem;
    color: $text-muted-var;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1.1em;
    font-weight: 700;
}

.popover-container-fix {
    position: absolute;
    width: 100%;
    z-index: $zindex-popover;
}
