// TODO replace all panels widh cards -> remove css
.panel {
    background-color: $panel-bg-1;
    color: $text-color;
}

.sticky-header {
    position: sticky;
    top: 0;
    margin: $gutter * -1;
    margin-bottom: 0;
    padding: $gutter $gutter $gutter-sm;
    background-color: rgba($body-bg, 0.9);
    z-index: 1000;
    backdrop-filter: blur(2px);
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-emphasis {
    color: $text-emphasis-var;
}

input {
    &[type="checkbox"],
    &[type="radio"] {
        cursor: pointer;
    }
}

@mixin check-variant($color) {
    .form-check-input {
        border-color: $color;

        &:focus {
            box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width rgba($color, $input-btn-focus-color-opacity);
        }

        &:checked {
            background-color: $color;
            border-color: $color;
        }
    }

    &.form-switch {
        .form-check-input {
            background-image: escape-svg(
                url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{rgba($text-muted-color, .6)}'/></svg>")
            );

            &:focus {
                background-image: escape-svg(
                    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$text-emphasis-color}'/></svg>")
                );
            }

            &:checked {
                background-image: escape-svg(
                    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$panel-bg-1}'/></svg>")
                );
            }
        }
    }
}

@each $color, $value in $theme-colors {
    .form-check-#{$color} {
        @include check-variant($value);
    }
}
@mixin check-size-variant($ratio, $name) {
    .form-check-#{$name} {
        min-height: $form-check-min-height * $ratio;
        padding-left: $form-check-padding-start * $ratio;
        margin-bottom: $form-check-margin-bottom * $ratio;

        .form-check-input {
            margin-left: $form-check-padding-start * -1 * $ratio;
            width: $form-check-input-width * $ratio;
            height: $form-check-input-width * $ratio;
            //margin-top: ($line-height-base - $form-check-input-width) * .5  * $ratio;
        }

        &.form-check-reverse {
            padding-right: $form-check-padding-start * $ratio;

            .form-check-input {
                margin-right: $form-check-padding-start * -1 * $ratio;
            }
        }
    }
}

@include check-size-variant(1.61, "lg");
@include check-size-variant(0.61, "sm");

.btn-xs {
    @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-border-radius-sm);
}

.hr-title {
    display: flex;
    align-items: center;
    margin-bottom: $gutter-sm;

    h1,
    h2,
    h3,
    h4,
    h5 {
        //margin: 0 6px 1px 0;
        text-transform: uppercase;
    }

    hr {
        flex-grow: 1;
        margin: 0;
    }
}

$additional-utilities: (
    "background-color": (
        property: background-color,
        class: bg,
        values: map-merge($theme-colors-faded, ()),
    ),
);

@each $key, $utility in $additional-utilities {
    @include generate-utility($utility, "-faded");
}
