@use "sass:math";

@mixin padding {
    padding: $gutter-sm;

    @media (min-width: $screen-sm) {
        padding: $gutter;
    }
}

@mixin padding-sm {
    padding: $gutter-sm;

    @media (min-width: $screen-sm) {
        padding: $gutter-sm;
    }
}

@mixin padding-sm {
    padding: $gutter-sm;

    @media (min-width: $screen-sm) {
        padding: $gutter-sm;
    }
}

@mixin padding-lg {
    padding: $gutter;

    @media (min-width: $screen-sm) {
        padding: $gutter-lg;
    }
}

$directions: ("top", "right", "bottom", "left");

.nomargin {
    margin: 0 !important;
}

.margin {
    margin: math.div($gutter, $gutter-ratio);

    @each $name, $value in $gutters {
        &.margin-#{$name} {
            margin: math.div($value, $gutter-ratio);
        }
    }

    @media (min-width: $screen-sm) {
        margin: $gutter;

        @each $name, $value in $gutters {
            &.margin-#{$name} {
                margin: $value;
            }
        }
    }
}

.no-padding {
    padding: 0 !important;
}

.padding {
    padding: math.div($gutter, $gutter-ratio);

    @media (min-width: $screen-sm) {
        padding: $gutter;
    }

    @each $name, $value in $gutters {
        &.padding-#{$name} {
            padding: math.div($value, $gutter-ratio);

            @media (min-width: $screen-sm) {
                padding: $gutter;
                padding: $value;
            }
        }
    }
}

//GENERATE padding-xs padding-sm etc.
@each $name, $value in $gutters {
    .padding-#{$name} {
        padding: math.div($value, $gutter-ratio);

        @media (min-width: $screen-sm) {
            padding: $gutter;
            padding: $value;
        }
    }
}

@each $direction in $directions {
    .margin-#{$direction} {
        margin-#{$direction}: math.div($gutter, $gutter-ratio) !important;

        @media (min-width: $screen-sm) {
            margin-#{$direction}: $gutter !important;
        }
    }

    @each $name, $value in $gutters {
        .margin-#{$direction}-#{$name} {
            margin-#{$direction}: math.div($value, $gutter-ratio) !important;

            @media (min-width: $screen-sm) {
                margin-#{$direction}: $value !important;
            }
        }
    }
}

@each $direction in $directions {
    .padding-#{$direction} {
        padding-#{$direction}: math.div($gutter, $gutter-ratio);

        @media (min-width: $screen-sm) {
            padding-#{$direction}: $gutter !important;
        }
    }

    @each $name, $value in $gutters {
        .padding-#{$direction}-#{$name} {
            padding-#{$direction}: math.div($value, $gutter-ratio) !important;

            @media (min-width: $screen-sm) {
                padding-#{$direction}: $value !important;
            }
        }
    }
}

.flex-vertical,
.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-horizontal-sm {
    @media (min-width: $screen-sm) {
        display: flex;
    }
}

.flex-vertical {
    flex-direction: column;
}

.flex-grow-sm {
    flex-grow: math.div(1, $gutter-ratio);
}

.flex-grow {
    flex-grow: 1;
}

.flex-grow-lg {
    flex-grow: $gutter-ratio;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-self-center {
    align-self: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

@keyframes bg-pulse {
    from {
        background-color: rgba(var(--pulse-bg), 0.1);
    }

    to {
        background-color: rgba(var(--pulse-bg), 0.4);
    }
}

.bg-pulse {
    animation: bg-pulse 1s cubic-bezier(0.5, 0, 1, 0.5) alternate infinite;
    &.bg-primary {
        --pulse-bg: var(--bs-primary-rgb);
    }
    &.bg-success {
        --pulse-bg: var(--bs-success-rgb);
    }
    &.bg-info {
        --pulse-bg: var(--bs-info-rgb);
    }
    &.bg-warning {
        --pulse-bg: var(--bs-warning-rgb);
    }
    &.bg-danger {
        --pulse-bg: var(--bs-danger-rgb);
    }
}
