.panel {
	background-color: $panel-bg-1;
	color: $text-color;
}

input {
	&[type=checkbox], &[type=radio] {
		cursor: pointer;
	}
}


// Color switches


@mixin switch-variant($color) {
	
	$form-switch-focus-color:         $color;
	$form-switch-focus-bg-image:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>") !default;

	$form-switch-checked-color:       $color;
	$form-switch-checked-bg-image:    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-checked-color}'/></svg>") !default;


	&:focus {
		background-image: escape-svg($form-switch-focus-bg-image);
	}

	&:checked {	
		background-image: escape-svg($form-switch-checked-bg-image);
	}
}

@each $color, $value in $theme-colors {
	.form-switch-#{$color} {
	  @include switch-variant($value);
	}
  }

// $form-switch-color:               rgba(0, 0, 0, .25) !default;
// $form-switch-bg-image:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color}'/></svg>") !default;

