@use "sass:math";

$global-easing: cubic-bezier(0, 0.5, 0.5, 1);
$global-easing-in-out: cubic-bezier(0.6, 0, 0.6, 1);
$global-easing-out: cubic-bezier(0.5, 0, 1, 0.5);

$gutter: 30px;
$gutter-ratio: 1.6180;
$gutter-md: $gutter * $gutter-ratio;
$gutter-lg: $gutter-md * $gutter-ratio;
$gutter-xl: $gutter-lg * $gutter-ratio;
$gutter-sm: math.div($gutter, $gutter-ratio);
$gutter-xs: math.div($gutter-sm, $gutter-ratio);
$gutter-xxs: math.div($gutter-xs, $gutter-ratio);

$gutters: (
    xxs: $gutter-xxs,
    xs: $gutter-xs,
    sm: $gutter-sm,
    nr: $gutter,
    md: $gutter-md,
    lg: $gutter-lg,
    xl: $gutter-xl
);

$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-sm: 768px; $screen-sm-min: $screen-sm !default;
$screen-md: 992px; $screen-md-min: $screen-md !default;
$screen-lg: 1200px; $screen-lg-min: $screen-lg !default;
$screen-xs-max: ($screen-sm-min - 1) !default; $screen-sm-max: ($screen-md-min - 1) !default; $screen-md-max: ($screen-lg-min - 1) !default;


