<!-- License Modal -->
<div class="modal fade" id="licenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel">License request</h1>
            </div>
            <img src="content/img/beta-license.png" class="img-responsive" />
            <div class="modal-body">
                <div class="form-container row">
                    <section id="licenseRequestForm" class="col-xs-6">
                        <p class="lead text-center">
                            To obtain your <span class="font-normal text-primary">free BETA license</span> <span class="nobr">please fill out the form below.</span>
                        </p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="inputEmail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCompany" class="col-sm-3 control-label">Company</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputCompany">
                                </div>
                            </div>
                        </form>
                    </section>

                    <section id="enterLicenseKey"  class="col-xs-6">
                        <p class="lead text-center">
                            Already got a license? <br/> Please paste your license key below.
                        </p>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="inputLicenseKey" class="col-sm-3 control-label">License key</label>
                                <div class="col-sm-8">
                                    <textarea rows="5" class="form-control" id="inputLicenseKey"
placeholder='e.g. { "LicenseId": "12345ABCD" ... }'></textarea>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">
                    <i class="icon-recent"></i>
                    <span>Dismiss for now<span>
                    </button>
                    <button type="button" class="btn btn-default btn-toggle" data-class="enterKey" data-target=".form-container">
                        Enter license key
                    </button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
