<!-- Export database -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flex-horizontal">
                    <div class="flex-grow">
                        <h3 class="modal-title" id="myModalLabel">Export progress</h3>
                    </div>
                    <div class="flex-grow text-right">
                        <span class="text-muted">Time elapsed:</span> 00:01:20
                    </div>
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-cancel"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
               <div class="export-list">
                   <div class="export-legend">
                       <div class="name">
                       </div>
                       <div class="status status-processed">
                           status
                       </div>
                       <div class="read">
                           read
                       </div>
                       <div class="skipped">
                           skipped
                       </div>
                       <div class="errors">
                           errors
                       </div>
                   </div>

                   <div class="export-item">
                       <div class="name">
                           <h3>Documents</h3>
                       </div>
                       <div class="status status-processed">
                           <i class="icon-check"></i> <span>Processed</span>
                       </div>
                       <div class="read">
                           9 999 999 999
                       </div>
                       <div class="skipped">
                           0
                       </div>
                       <div class="errors">
                           0
                       </div>
                   </div>

                   <div class="export-item">
                       <div class="name">
                           <h3>Identities</h3>
                       </div>
                       <div class="status status-skipped">
                           <i class="icon-skip"></i> <span>Skipped</span>
                       </div>
                       <div class="read">
                           9 999 999 999
                       </div>
                       <div class="skipped text-muted">
                           0
                       </div>
                       <div class="errors text-muted">
                           0
                       </div>
                   </div>

                   <div class="export-item">
                       <div class="name">
                           <h3>Indexes</h3>
                       </div>
                       <div class="status status-processed">
                           <i class="icon-check"></i> <span>Processed</span>
                       </div>
                       <div class="read">
                            9 999 999 999
                       </div>
                       <div class="skipped text-muted">
                           
                       </div>
                       <div class="errors">
                           2
                       </div>
                   </div>

                   <div class="export-item">
                       <div class="name">
                           <h3>RevisionDocuments</h3>
                       </div>
                       <div class="status status-processing">
                           <span class="global-spinner spinner-sm"></span> <span>Processing</span>
                       </div>
                       <div class="read">
                           458
                       </div>
                       <div class="skipped text-muted">
                           -
                       </div>
                       <div class="errors text-muted">
                           -
                       </div>
                   </div>

                   <div class="export-item">
                       <div class="name">
                           <h3>Identities</h3>
                       </div>
                       <div class="status status-waiting">
                           <i class="icon-waiting"></i> <span>Pending</span>
                       </div>
                       <div class="read text-muted">
                           -
                       </div>
                       <div class="skipped">
                           
                       </div>
                       <div class="errors text-muted">
                           -
                       </div>
                   </div>
               </div>
                <div class="clearfix">
                    <div class="pull-right">
                        <button class="btn btn-default btn-sm">
                            Show details
                        </button>
                    </div>
                </div>
                <pre class="margin-top">
                    <code>
TUTAJ ACE
"[8:18:12 INFO] Read 1,000 documents.",
"[8:18:12 INFO] Finished processing Documents. Read: 1061. Skipped: 0. Errored: 0.",
"[8:18:12 INFO] Started processing RevisionDocuments.",
"[8:18:12 INFO] Finished processing RevisionDocuments. Read: 0. Errored: 0.",
"[8:18:12 INFO] Started processing Indexes.",
"[8:18:12 INFO] Finished processing Indexes. Read: 3. Errored: 0.",
"[8:18:12 INFO] Started processing Identities.",
"[8:18:12 INFO] Finished processing Identities. Read: 0. Errored: 0."
                    </code>
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-danger">
                    <i class="icon-cancel"></i> <span>Abort</span>
                </button>
            </div>
        </div>
    </div>
</div>
