<!-- License Modal -->
<div class="modal fade" id="licenseLimitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">Licensing limit</h3>
            </div>

            <img src="content/img/license_multiple.png" class="img-responsive"/>
            <div class="modal-body">
                <p class="lead text-center">
                    This feature is not available in our <span class="font-normal text-primary">Free license</span>
                </p>
                <p class="text-center">
                    Check out <a href="https://ravendb.net/buy" target="_blank">our website</a> to find a license
                    suitable for you
                </p>
            </div>

            <img src="content/img/license.png" class="img-responsive"/>
            <div class="modal-body">
                <p class="lead text-center">
                    This feature is available in our <span class="font-normal text-primary">Business license</span>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">
                    <i class="icon-cancel"></i>
                    <span>Dismiss</span>
                </button>
                <a href="https://ravendb.net/buy" class="btn btn-primary">
                    <i class="icon-raven"></i>
                    <span>Buy license</span>
                </a>
            </div>
        </div>
    </div>
</div>
