<!-- new Destination Modal -->
<div class="modal fade" id="destinationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-cancel"></i></button>
                <h4 class="modal-title" id="myModalLabel">Choose destination type:</h4>
            </div>
            <div class="padding padding-sm text-center">
                <div class="row row-sm flex-row">
                    <div class="col-sm-4">
                        <h3>REPLICATION</h3>
                        <a href="#" class="raven-replication">
                            <i class="icon-raven"></i><br />
                            RavenDB
                        </a>
                    </div>
                    <hr class="hr-vertical">
                    <div class="col-sm-8">
                        <h3>ETL</h3>
                        <div class="row row-sm">
                            <div class="col-sm-6">
                                <a href="#" class="sql-etl">
                                    <i class="icon-sql-replication"></i><br />
                                    SQL
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="#" class="raven-etl">
                                    <i class="icon-raven"></i><br />
                                    RavenDB
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding text-center">
                <a href="#">Witch one should I choose?</a>
            </div>
        </div>
    </div>
</div>
