.connection-strings-panels {
    .icon-sparkles::before {
        background: linear-gradient(135.89deg, #2fb4d2, #6972ee);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
