<div class="synchronization-group panel panel-default" >

    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="btn-group">
                <div class="checkbox">
                    <input id="files_all" class="styled" type="checkbox" data-bind="value: isSelectAll, event: { change: toggleSelectAll }" title="Select all or none">
                    <label for="files_all">&nbsp;</label>
                </div>
            </span>
            <span class="btn-group">
                <button class="btn btn-primary" data-bind="click: resolveWithLocalVersion">Resolve with Local</button>
                <button class="btn btn-primary" data-bind="click: resolveWithRemoteVersion">Resolve with Remote</button>
            </span>
        </h4>
        <div class="clearfix"></div>
    </div>

    <div class="synchronization-group-content">
        <div class="panel-body">

            <h4 class="text-info text-center" data-bind="visible: conflicts().length === 0">
                You've got no conflicts.
            </h4>

            <p data-bind="visible: conflicts().length">
                You've got <span data-bind="text: conflicts().length"></span> conflicts:
            </p>

            <div data-bind="foreach: conflicts">
                <div class="checkbox">
                    <input class="styled" type="checkbox" data-bind="checked: $root.selectedConflicts, checkedValue: fileName, attr: { id: 'conflict_' + $index() }">
                    <label data-bind="text: fileName, attr: { for: 'conflict_' + $index() }"></label>
                </div>
            </div>
        </div>
    </div>
</div>
