<form data-bind="submit: $root.saveChanges" class=" form-horizontal" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left panel-title">Synchronization Destinations</div>
            <div class="pull-right">
                <button type="button" class="btn btn-default" data-bind="click: createNewDestination" title="Add a replication destination (Alt+N)" accesskey="N">
                    <i class="fa fa-plus"></i> Add destination
                </button>
                <button type="submit" class="btn btn-primary" data-bind="enable: isSaveEnabled" title="Save synchronization destinations (Alt+S)" accesskey="S"><i class="fa fa-save"></i></button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" data-bind="with: replicationsSetup">
            <div class="alert alert-warning" data-bind="visible: destinations().length === 0">
                You've got no synchronization destinations set up.
            </div>
            <div data-bind="foreach: destinations">
                <div class="panel replication-destination-card" data-bind="css: { 'panel-danger': !isValid(), 'panel-info': isValid() && !disabled(), 'panel-warning': isValid() && disabled() }">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span data-bind="text: name"></span>
                            <button data-bind="click: $root.removeDestination.bind($root)" title="Remove this replication destination" type="button" class="close" aria-hidden="true"><i class="fa fa-times"></i></button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Disabled</label>
                            <div class="col-sm-7">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary" data-bind="click: enable, css: { active: !disabled() }">
                                        <input type="radio" name="options"> Enabled
                                    </label>
                                    <label class="btn btn-primary" data-bind="click: disable, css: { active: disabled }">
                                        <input type="radio" name="options"> Disabled
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Url</label>
                            <div class="col-sm-7">
                                <input required type="url" class="form-control" data-bind="value: url, valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">File System</label>
                            <div class="col-sm-7">
                                <input required type="text" class="form-control" data-bind="value: filesystem, valueUpdate: 'afterkeydown'" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Credentials</label>
                            <div class="col-sm-7">
                                <button type="button" class="btn btn-default" data-bind="click: toggleUserCredentials, css: {active:isUserCredentials}">User</button>
                                <button type="button" class="btn btn-default" data-bind="click: toggleApiKeyCredentials, css: {active:isApiKeyCredentials}">ApiKey</button>
                            </div>
                        </div>
                        <div data-bind="if: isUserCredentials, visible: isUserCredentials">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">User Name</label>
                                <div class="col-sm-7">
                                    <input required type="text" class="form-control" data-bind="value: username, valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Password</label>
                                <div class="col-sm-7">
                                    <input required type="text" class="form-control" data-bind="value: password, valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Domain</label>
                                <div class="col-sm-7">
                                    <input required type="text" class="form-control" data-bind="value: domain, valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                        </div>
                        <div data-bind="if: isApiKeyCredentials, visible: isApiKeyCredentials">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">API Key</label>
                                <div class="col-sm-7">
                                    <input required type="text" class="form-control" data-bind="value: apiKey, valueUpdate: 'afterkeydown'" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
