<div class="synchronization-group panel panel-default" >

    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="pull-right text-height-fix" data-toggle="collapse" data-bind="attr: { href: '#conflictsCollapse' }">
                <span>Conflicts</span>
                <span class="text-muted" data-bind="text: '(' + conflicts().length + ')'"></span>
            </a>
            <span class="btn-group">
                <div class="checkbox">
                    <input id="files_all" class="styled" type="checkbox" data-bind="value: isSelectAll, event: { change: toggleSelectAll }" title="Select all or none">
                    <label for="files_all">&nbsp;</label>
                </div>
            </span>
            <span class="btn-group">
                <button class="btn btn-primary" data-bind="click: resolveWithLocalVersion">Resolve with Local</button>
                <button class="btn btn-primary" data-bind="click: resolveWithRemoteVersion">Resolve with Remote</button>
            </span>
        </h4>
        <div class="clearfix"></div>
    </div>

    <div class="synchronization-group-content panel-collapse in" data-bind="attr: { id: 'conflictsCollapse' }">
        <div class="panel-body">

            <div class="alert alert-warning" data-bind="visible: conflicts().length === 0">
                You've got no conflicts.
            </div>

            <table class="table-no-borders">
                <tbody data-bind="foreach: conflicts">
                    <tr>
                        <td style="padding: 0">
                            <h5 class="pull-left">
                                <a>
                                    <input type="checkbox" data-bind="attr: { value: fileName }, checked: $root.selectedConflicts" />
                                    <span data-bind="text: fileName"></span>
                                </a>
                            </h5>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
