<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="AsyncWrapper" name="AsyncTargetWrapper">
      <target
        name="FileTarget"
        xsi:type="File"
        createDirs="true"
        fileName="${basedir}/Logs/${shortdate}.log"
        archiveNumbering="DateAndSequence"
        header="Date|Level|Resource|Component|Logger|Message|Other"
        layout="${longdate}|${level:uppercase=true}|${event-properties:item=Resource}|${event-properties:item=Component}|${logger}|${message:withexception=true}|${event-properties:item=Other}"
        footer="Date|Level|Resource|Component|Logger|Message|Other"
        concurrentWrites="false"
        writeFooterOnArchivingOnly="true"
        archiveAboveSize="134217728"
        enableArchiveFileCompression="true" />
    </target>
    <target xsi:type="Null" name="NullTarget" />
  </targets>
  <rules>
    <logger ruleName="Raven_System" name="System.*" finalMinLevel="Warn" writeTo="NullTarget" />
    <logger ruleName="Raven_Microsoft" name="Microsoft.*" finalMinLevel="Warn" writeTo="NullTarget" />
    <logger ruleName="Raven_Default_Audit" name="Audit" levels="Info" writeTo="NullTarget" final="true" />
    <logger ruleName="Raven_Default" name="*" levels="Info,Warn,Error,Fatal" writeTo="AsyncTargetWrapper" />
  </rules>
</nlog>
