<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <CustomAction Id="OpenLicenseFileChooser" Return="check" Execute="immediate" BinaryKey="Raven.Setup.CustomActions.CA.dll" DllEntry="OpenLicenseFileChooser" />
    <CustomAction Id="LicenseFileExists" Return="check" Execute="immediate" BinaryKey="Raven.Setup.CustomActions.CA.dll" DllEntry="LicenseFileExists" />

    <UI>
      <TextStyle Id="Red8" FaceName="Tahoma" Size="8" Red="210" Green="0" Blue="0" />
      <TextStyle Id="SmallInfo" FaceName="Tahoma" Size="7" Red="0" Green="0" Blue="0" Italic="yes" />
      <Dialog Id="LicenseFileChooser" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Condition Action="disable"><![CDATA[RAVEN_LICENSE_VALID = "False"]]></Condition>
          <Condition Action="enable"><![CDATA[RAVEN_LICENSE_VALID = "True"]]></Condition>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}License file</Text>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Specify the location for a license file</Text>
        </Control>
        <Control Type="Edit" Id="txtFilePath" Width="283" Height="15" X="30" Y="68" Property="RAVEN_LICENSE_FILE_PATH" Text="[RAVEN_LICENSE_FILE_PATH]" />
        <Control Type="PushButton" Id="btnChange" Width="56" Height="17" X="30" Y="86" Text="&amp;Browse">
          <Condition Action="disable">NOT WINDOWS_EXPLORER_AVAILABLE</Condition>
          <Condition Action="enable">WINDOWS_EXPLORER_AVAILABLE</Condition>
        </Control>
        <Control Type="Text" Id="error" Width="280" Text="{\Red8}[RAVEN_LICENSE_ERROR]" Property="RAVEN_LICENSE_ERROR" Height="15" X="30" Y="52" />
        <Control Type="Text" Id="userName" Width="280" Text="[RAVEN_LICENSE_USER_NAME]" Property="RAVEN_LICENSE_USER_NAME" Height="10" X="30" Y="105" />
        <Control Type="Text" Id="type" Width="280" Text="[RAVEN_LICENSE_TYPE]" Property="RAVEN_LICENSE_TYPE" Height="10" X="30" Y="114" />
        <Control Type="Text" Id="expiration" Width="280" Text="[RAVEN_LICENSE_EXPIRATION]" Property="RAVEN_LICENSE_EXPIRATION" Height="10" X="30" Y="123" />
        <Control Type="Text" Id="attributes1" Width="150" Text="[RAVEN_LICENSE_ATTRIBUTES1]" Property="RAVEN_LICENSE_ATTRIBUTES1" Height="90" X="30" Y="132" />
        <Control Type="Text" Id="attributes2" Width="150" Text="[RAVEN_LICENSE_ATTRIBUTES2]" Property="RAVEN_LICENSE_ATTRIBUTES2" Height="90" X="180" Y="132" />
        <Control Type="Text" Id="ossLicenseInfo" Width="302" Text="{\SmallInfo}For open source projects, please request a free license from support@hibernatingrhinos.com" Height="10" X="30" Y="224" />
      </Dialog>
      <Publish Dialog="LicenseFileChooser" Control="btnChange" Event="DoAction" Value="OpenLicenseFileChooser" Order="1">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="btnChange" Property="RAVEN_LICENSE_FILE_PATH" Value="[RAVEN_LICENSE_FILE_PATH]" Order="2">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="txtFilePath" Event="DoAction" Value="LicenseFileExists" Order="3">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="txtFilePath" Property="LICENSE_FILE_EXISTS" Value="[LICENSE_FILE_EXISTS]" Order="4">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="txtFilePath" Property="RAVEN_LICENSE_ERROR" Value="[RAVEN_LICENSE_ERROR]" Order="5">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="txtFilePath" Property="RAVEN_LICENSE_TYPE" Value="[RAVEN_LICENSE_TYPE]" Order="5">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="txtFilePath" Property="RAVEN_LICENSE_USERID" Value="[RAVEN_LICENSE_USERID]" Order="5">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="txtFilePath" Property="RAVEN_LICENSE_EXPIRATION" Value="[RAVEN_LICENSE_EXPIRATION]" Order="5">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="txtFilePath" Property="RAVEN_LICENSE_USER_NAME" Value="[RAVEN_LICENSE_USER_NAME]" Order="5">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="txtFilePath" Property="RAVEN_LICENSE_ATTRIBUTES1" Value="[RAVEN_LICENSE_ATTRIBUTES1]" Order="5">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="txtFilePath" Property="RAVEN_LICENSE_ATTRIBUTES2" Value="[RAVEN_LICENSE_ATTRIBUTES2]" Order="5">1</Publish>
    </UI>
	</Fragment>
</Wix>