<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="InstallerUI">

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="CustomFatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />

      <UIRef Id="WixUI_Common" />

      <UIRef Id="WixUI_ErrorProgressText" />

      <ProgressText Action="SetupPerformanceCountersForIISUser">Granting permissions to performance counters</ProgressText>
      <ProgressText Action="InstallRavenService">Installing [SERVICE_NAME] service</ProgressText>
      <ProgressText Action="RegisterAspNet">ASP.NET is being registed on IIS (aspnet_regiis.exe -ir)</ProgressText>
      <ProgressText Action="UpdateAspNetMapping">ASP.NET mapping is being applied to the virtual directory (aspnet_regiis.exe -s)</ProgressText>
      <ProgressText Action="DisallowApplicationPoolOverlappingRotation">Disallowing application pool overlapping rotation</ProgressText>
			<ProgressText Action="SetLoadUserProfile">Setting LoadUserProfile = true</ProgressText>
			

			<DialogRef Id="WebSiteSettingsDlg" />

      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="TargetEnvironment" Order="3">LicenseAccepted = "1"</Publish>

      <Publish Dialog="TargetEnvironment" Control="Next" Event="NewDialog" Value="LicenseFileChooser" Order="1"><![CDATA[RAVEN_TARGET_ENVIRONMENT = "PRODUCTION"]]></Publish>
      <Publish Dialog="TargetEnvironment" Control="Next" Event="NewDialog" Value="InstallationType" Order="2"><![CDATA[RAVEN_TARGET_ENVIRONMENT = "DEVELOPMENT"]]></Publish>
      <Publish Dialog="TargetEnvironment" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="TargetEnvironment" Control="Cancel" Event="SpawnDialog" Value="CancelDlg" Order="1">1</Publish>

      <Publish Dialog="LicenseFileChooser" Control="Next" Event="NewDialog" Value="InstallationType"><![CDATA[RAVEN_LICENSE_VALID = "True"]]></Publish>
      <Publish Dialog="LicenseFileChooser" Control="Back" Event="NewDialog" Value="TargetEnvironment">1</Publish>
      <Publish Dialog="LicenseFileChooser" Control="Cancel" Event="SpawnDialog" Value="CancelDlg" Order="1">1</Publish>

      <Publish Dialog="InstallationType" Control="Next" Event="DoAction" Value="SetInstallationTypeToService" Order="1"><![CDATA[NOT IISMAJORVERSION OR IISMAJORVERSION <= "#5"]]></Publish>
      <Publish Dialog="InstallationType" Control="Next" Event="AddLocal" Value="All" Order="2">1</Publish>
      <Publish Dialog="InstallationType" Control="Next" Event="Remove" Value="Service" Order="3"><![CDATA[RAVEN_INSTALLATION_TYPE = "IIS"]]></Publish>
      <Publish Dialog="InstallationType" Control="Next" Event="Remove" Value="IIS" Order="4"> <![CDATA[RAVEN_INSTALLATION_TYPE = "SERVICE"]]></Publish>
      <Publish Dialog="InstallationType" Control="Next" Event="DoAction" Value="GetIISWebSites" Order="4"><![CDATA[RAVEN_INSTALLATION_TYPE = "IIS" AND NOT IIS_WEBSITES_INITIALIZED]]></Publish>
      <Publish Dialog="InstallationType" Control="Next" Event="DoAction" Value="GetAppPools" Order="5"><![CDATA[RAVEN_INSTALLATION_TYPE = "IIS" AND NOT IIS_APPPOOLS_INITIALIZED]]></Publish>
      <Publish Dialog="InstallationType" Control="Next" Event="NewDialog" Value="MissingIISComponentsDlg" Order="6"><![CDATA[RAVEN_INSTALLATION_TYPE = "IIS" AND MISSING_IIS_COMPONENTS]]></Publish>
      <Publish Dialog="InstallationType" Control="Next" Event="NewDialog" Value="WebSiteSettingsDlg" Order="7"><![CDATA[RAVEN_INSTALLATION_TYPE = "IIS" AND NOT MISSING_IIS_COMPONENTS]]></Publish>
      <Publish Dialog="InstallationType" Control="Next" Event="NewDialog" Value="ServiceSettings" Order="7"><![CDATA[RAVEN_INSTALLATION_TYPE = "SERVICE"]]></Publish>
      <Publish Dialog="InstallationType" Control="Back" Event="NewDialog" Value="LicenseFileChooser" Order="1"><![CDATA[RAVEN_TARGET_ENVIRONMENT = "PRODUCTION"]]></Publish>
      <Publish Dialog="InstallationType" Control="Back" Event="NewDialog" Value="TargetEnvironment" Order="2"><![CDATA[RAVEN_TARGET_ENVIRONMENT = "DEVELOPMENT"]]></Publish>
      <Publish Dialog="InstallationType" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>

      <Publish Dialog="MissingIISComponentsDlg" Control="Back" Event="NewDialog" Value="InstallationType">1</Publish>
      <Publish Dialog="MissingIISComponentsDlg" Control="Exit" Event="EndDialog" Value="Exit">1</Publish>
      
      <Publish Dialog="ServiceSettings" Control="Next" Event="NewDialog" Value="InstallDirDlg"><![CDATA[SERVICE_NAME <> "" AND SERVICE_PORT <> ""]]></Publish>
      <Publish Dialog="ServiceSettings" Control="Back" Event="NewDialog" Value="InstallationType">1</Publish>
      <Publish Dialog="ServiceSettings" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>
      <Publish Dialog="ServiceSettings" Control="checkPort" Event="DoAction" Value="CheckPortAvailability" Order="1">1</Publish>
      <Publish Dialog="ServiceSettings" Control="checkPort" Property="PORT_AVAILABILITY" Value="[PORT_AVAILABILITY]" Order="2">1</Publish>
      

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="ServiceSettings"><![CDATA[RAVEN_INSTALLATION_TYPE = "SERVICE"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="PerformanceCounterDlg"><![CDATA[RAVEN_INSTALLATION_TYPE = "IIS"]]></Publish>

      <Publish Dialog="WebSiteSettingsDlg" Control="Next" Event="DoAction" Value="UpdateIISPropsWithSelectedWebSite" Order="1">1</Publish>
      <Publish Dialog="WebSiteSettingsDlg" Control="Next" Event="DoAction" Value="UpdateIISAppPoolUser" Order="2"><![CDATA[NOT CUSTOM_APPLICATION_POOL]]></Publish>
      <Publish Dialog="WebSiteSettingsDlg" Control="Next" Event="DoAction" Value="SetApplicationPoolIdentityType" Order="2"><![CDATA[CUSTOM_APPLICATION_POOL AND NOT APPLICATION_POOL_IDENTITY_TYPE_INITIALIZED]]></Publish>
      <Publish Dialog="WebSiteSettingsDlg" Control="Next" Event="NewDialog" Value="AppPoolSettingsDlg" Order="3"><![CDATA[CUSTOM_APPLICATION_POOL]]></Publish>
      <Publish Dialog="WebSiteSettingsDlg" Control="Next" Event="NewDialog" Value="PerformanceCounterDlg" Order="3"><![CDATA[NOT CUSTOM_APPLICATION_POOL]]></Publish>
      <Publish Dialog="WebSiteSettingsDlg" Control="Back" Event="NewDialog" Value="InstallationType">1</Publish>
      <Publish Dialog="WebSiteSettingsDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>

      
      <Publish Dialog="AppPoolSettingsDlg" Control="Next" Event="DoAction" Value="UpdateIISPropsWithSelectedAppPool" Order="1">1</Publish>
      <Publish Dialog="AppPoolSettingsDlg" Control="Next" Event="DoAction" Value="UpdateIISAppPoolUser" Order="2">1</Publish>
      <Publish Dialog="AppPoolSettingsDlg" Control="Next" Event="NewDialog" Value="PerformanceCounterDlg" Order="3">1</Publish>
      <Publish Dialog="AppPoolSettingsDlg" Control="Back" Event="NewDialog" Value="WebSiteSettingsDlg">1</Publish>
      <Publish Dialog="AppPoolSettingsDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>


      
      <Publish Dialog="PerformanceCounterDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="PerformanceCounterDlg" Control="Back" Event="NewDialog" Value="AppPoolSettingsDlg"><![CDATA[CUSTOM_APPLICATION_POOL]]></Publish>
      <Publish Dialog="PerformanceCounterDlg" Control="Back" Event="NewDialog" Value="WebSiteSettingsDlg"><![CDATA[NOT CUSTOM_APPLICATION_POOL]]></Publish>
      <Publish Dialog="PerformanceCounterDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>
    </UI>
  </Fragment>
</Wix>
