
<ul class="breadcrumb">
    <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>    
    <li>
        <h3>
            <a href="#resources">
                File Systems
            </a>
        </h3>
    </li>
    <li class="active" data-bind="with: activeFilesystem">
        <a data-bind="text: name, attr: { href: $parent.appUrls.filesystemFiles }"></a>
    </li>
    <li class="active">
        <span>Search</span>
    </li>
</ul>

<div class="filesystems-page">

    <div class="panel panel-default panel-wo-margin">
        <div class="panel-heading">
            <form class="form-inline">
                <div class="row" style="padding: 0 10px 0 10px">
                    <div class="input-group col-lg-12">
                        <input type="text" class="form-control" data-bind="value: searchText" placeholder="E.g. __fileName:MyFile* AND __directoryName:/subfolder" />
                        <a class="input-group-addon" style="width: 30px" href="#" data-bind="click: clear">
                           <i class="fa fa-times"></i>
                        </a>
                        <a href="#" data-bind="click: search" class="input-group-addon" style="width: 30px">
                            <i class="fa fa-search"></i>
                        </a>
                        <a href="#" class="btn btn-danger input-group-addon" style="width: 30px" title="Delete all files matching the query" data-bind="click: deleteFilesMatchingQuery">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
            </form>
            <br />
            <h5 class="pull-left">Add search filter: </h5>
            <button class="btn btn-danger pull-right" data-bind="click: resetIndex" title="Reset index"><i class="fa fa-undo"></i> Reset index</button>
            <div class="pull-left" style="padding: 0 10px 0 10px">
                <div class="btn-group">
                    <button id="fileNameStartsWith" type="button" class="btn btn-default" data-bind="click: fileNameStartsWith">File name starts with...</button>
                    <button id="fileNameEndsWith" type="button" class="btn btn-default" data-bind="click: fileNameEndsWith">File name ends with...</button>
                    <button id="fileSizeBetween" type="button" class="btn btn-default" data-bind="click: fileSizeBetween">File size...</button>
                    <button id="hasMetadata" type="button" class="btn btn-default" data-bind="click: hasMetadata">Has metadata...</button>
                    <button id="inFolder" type="button" class="btn btn-default" data-bind="click: inFolder">In folder...</button>
                    <button id="lastModifiedBetween" type="button" class="btn btn-default" data-bind="click: lastModifiedBetween">Last modified...</button>
                </div>
                
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="panel-body" style="position: relative">
            <div id="filesGrid" data-bind="widget: { kind: 'virtualTable', itemsSource: allFilesPagedItems, selectedIndices: selectedFilesIndices, gridSelector: '#filesGrid', useContextMenu: false, selectionEnabled: false, container: '.filesystems-page'}"></div>
        </div>

    </div>

</div>
