<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Raven/Port" value="*"/>
		<add key="Raven/DataDir/Legacy" value="~\Database\System"/>
    <add key="Raven/DataDir" value="~\Databases\System"/>
    <add key="Raven/AnonymousAccess" value="Admin"/>
	<add key="Raven/AccessControlAllowOrigin" value="*" />
  </appSettings>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
		<gcServer enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Analyzers;Plugins"/>
		</assemblyBinding>
	</runtime>
</configuration>