<configuration>
	<appSettings>
		<add key="Raven/DataDir" value="~\Database\System"/>
		<add key="Raven/AnonymousAccess" value="Admin"/>
	</appSettings>

	<system.web>

		<hostingEnvironment idleTimeout="Infinite" shutdownTimeout="300"/>
    <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,:,\,?" executionTimeout="1200" />

	</system.web>

	<system.webServer>
		<urlCompression doStaticCompression="true" doDynamicCompression="false" />
 		<handlers>
			<add name="All" path="*" verb="*" type="Raven.Web.ForwardToRavenRespondersFactory, Raven.Web"/>
		</handlers>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
		</modules>
	</system.webServer>

	<runtime>
		<loadFromRemoteSources enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Analyzers;Plugins"/>
		</assemblyBinding>
	</runtime>
</configuration>
