<configuration>
	<appSettings>
		<add key="Raven/DataDir" value="~\Data"/>
		<add key="Raven/AnonymousAccess" value="Get"/>
	</appSettings>
	<system.webServer>
		<handlers>
			<add name="All" path="*" verb="*"
						type="Raven.Web.ForwardToRavenRespondersFactory, RavenWeb"/>
		</handlers>
	</system.webServer>
</configuration>
