<configuration>	<appSettings>		<add key="Raven/DataDir" value="~\Database\System"/>		<add key="Raven/AnonymousAccess" value="Get"/>	</appSettings>	<system.web>		<hostingEnvironment idleTimeout="Infinite" shutdownTimeout="300"/>	</system.web>	<system.webServer>		<handlers>			<add name="All" path="*" verb="*" type="Raven.Web.ForwardToRavenRespondersFactory, Raven.Web"/>		</handlers>		<modules runAllManagedModulesForAllRequests="true">			<remove name="WebDAVModule" />		</modules>	</system.webServer>	<runtime>		<loadFromRemoteSources enabled="true"/>		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">			<probing privatePath="Analyzers"/>		</assemblyBinding>	</runtime></configuration>