<configuration>
	<appSettings>
		<add key="Raven/WorkingDir" value="APPDRIVE:\Raven\" />
		<add key="Raven/DataDir/Legacy" value="~\Database\System"/>
		<add key="Raven/DataDir" value="~\Databases\System"/>
		<add key="Raven/AnonymousAccess" value="Admin"/>
		<add key="Raven/Licensing/AllowAdminAnonymousAccessForCommercialUse" value="false" />
		<add key="Raven/AccessControlAllowOrigin" value="*" />
	</appSettings>

	<system.web>
		<httpHandlers>
			<add path="*" verb="*" type="Raven.Web.ForwardToRavenRespondersFactory, Raven.Web"/>
        </httpHandlers> 
	</system.web>

	<runtime>
		<loadFromRemoteSources enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Analyzers;Plugins"/>
		</assemblyBinding>
	</runtime>
</configuration>
