<configuration>
	<appSettings>
		<add key="Raven/DataDir" value="~\Database\System"/>
		<add key="Raven/AnonymousAccess" value="Admin"/>
	</appSettings>

	<system.web>
		<httpHandlers>
			<add path="*" verb="*" type="Raven.Web.ForwardToRavenRespondersFactory, Raven.Web"/>
        </httpHandlers> 
	</system.web>

	<runtime>
		<loadFromRemoteSources enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Analyzers;Plugins"/>
		</assemblyBinding>
	</runtime>
</configuration>
