<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet" value="https://nuget.org/api/v2/" />
        <add key="dotnet-core" value="https://www.myget.org/F/dotnet-core/api/v3/index.json" />
        <add key="xunit" value="https://www.myget.org/F/xunit/api/v3/index.json" />
        <add key="aspnetvnext" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
    </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>
