<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Rhino.DivanDB.SampleData.Properties.Settings.NwindConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Nwind.mdb"
        providerName="System.Data.OleDb" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
