<div class="messageBox" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: cancel" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sure?</h4>
    </div>
    <div class="modal-body">
        <p data-bind="visible: files().length === 1">
            <span>You're deleting</span>
            <strong data-bind="with: files()[0]">
                <span data-bind="text: __metadata.id"></span>
            </strong>
        </p>
        <div data-bind="visible: files().length > 1">
            <span>You're deleting</span>
            <strong data-bind="text: files().length"></strong>
            <span>files:</span>
            <br />
            <ul data-bind="foreach: files" style="max-height: 100px; overflow-y: auto;">
                <li data-bind="text: $data.id"></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: cancel">Nevermind</button>
        <button type="button" class="btn btn-primary" data-bind="click: deleteFiles">Yep, delete</button>
    </div>
</div>