<div class="alert alert-danger">
    <p>Note: not implemented yet</p>
    <a href="http://issues.hibernatingrhinos.com/issue/RavenDB-2065">You can track progress here</a>
</div>

<div class="filesystems-page not-implemented-yet">

    <ul class="breadcrumb">
        <li>
            <h3>
                <a href="#filesystems">
                    Files
                </a>
            </h3>
        </li>
        <li data-bind="with: activeFilesystem">
            <a data-bind="text: name"></a>
        </li>
        <li>
            <a>Synchronization</a>
        </li>
    </ul>

    <div class="col-md-12">

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary use-bootstrap-tooltip" data-bind="click: addDestination" title="Add a new destination (Alt+N)" accesskey="N"><i class="fa fa-plus"></i> Add destination</a>
            </div>

            <div class="btn-group">
                <a class="btn btn-primary use-bootstrap-tooltip" data-bind="click: synchronizeNow" title="Sync Now (Alt+S)" accesskey="S"><i class="fa fa-refresh"></i> Sync Now</a>
            </div>
        </div>

        <br />

        <div data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }">

            <!-- Destinations -->
            <div class="synchronization-container panel-group" id="destinationsAccordion">
                <div class="synchronization-group panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-bind="attr: { href: '#destinationsCollapse' }">
                                <span>Destinations</span>
                                <span class="text-muted" data-bind="text: '(' + destinations().length + ')'"></span>
                            </a>
                        </h4>
                    </div>

                    <div class="synchronization-group-content panel-collapse in" data-bind="attr: { id: 'destinationsCollapse' }" id="destinationsCollapse">
                        <div class="panel panel-default" style="overflow: visible;">
                            <div class="panel-body" data-bind="foreach: destinations">
                                <div class="synchronization panel panel-default">
                                    <div class="panel-body">
                                        <h4 class="pull-left">
                                            <a class="use-bootstrap-tooltip">
                                                <span data-bind="text: $data"></span>
                                            </a>
                                        </h4>
                                        <div class="pull-right synchronization-actions-container">
                                            <button class="btn btn-danger use-bootstrap-tooltip" title="" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-original-title="Delete the destination">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                            <button class="btn btn-warning indexes-controls use-bootstrap-tooltip" title="" data-trigger="hover" data-toggle="tooltip" data-placement="bottom" data-original-title="Synchronize Now">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="synchronization-group panel panel-default" data-bind="visible: isConflictsVisible()">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-bind="attr: { href: '#conflictsCollapse' }">
                                <span>Conflicts</span>
                                <span class="text-muted" data-bind="text: '(' + conflicts().length + ')'"></span>
                            </a>
                        </h4>
                    </div>

                    <div class="synchronization-group-content panel-collapse in" data-bind="attr: { id: 'conflictsCollapse' }" id="conflictsCollapse">
                        <div class="panel panel-default" style="overflow: visible;">
                            <div class="panel-body" data-bind="foreach: conflicts">
                                <div class="synchronization panel panel-default">
                                    <div class="panel-body">
                                        <h4 class="pull-left">
                                            <a class="use-bootstrap-tooltip">
                                                <span data-bind="text: $data"></span>
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="synchronization-group panel panel-default" data-bind="visible: isOutgoingActivityVisible()">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-bind="attr: { href: '#outgoingActivityCollapse' }">
                                <span>Outgoing Activity</span>
                                <span class="text-muted" data-bind="text: '(' + outgoingActivity().length + ')'"></span>
                            </a>
                        </h4>
                    </div>

                    <div class="synchronization-group-content panel-collapse in" data-bind="attr: { id: 'outgoingActivityCollapse' }" id="outgoingActivityCollapse">
                        <div class="panel panel-default" style="overflow: visible;">
                            <div class="panel-body" data-bind="foreach: outgoingActivity">
                                <div class="synchronization panel panel-default">
                                    <div class="panel-body">
                                        <h4 class="pull-left">
                                            <a class="use-bootstrap-tooltip">
                                                <span data-bind="text: $data"></span>
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
