<!--<div class="alert alert-danger">
        <p>Note: not implemented yet</p>
        <a href="http://issues.hibernatingrhinos.com/issue/RavenDB-2064">You can track progress here</a>
    </div>-->

<div class="filesystems-page">

    <div class="panel panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <div class="row" style="padding: 0 10px 0 10px">
                    <div class="input-group col-lg-12">
                        <input type="text" class="form-control" data-bind="value: searchText" placeholder="E.g. __fileName:MyFile* AND __directory:/subfolder" />
                        <span class="input-group-addon" style="width: 30px">
                            <a href="#" data-bind="click: clear" ><i class="fa fa-times"></i></a>
                        </span>
                        <span class="input-group-addon" style="width: 30px">
                            <a href="#" data-bind="click: search"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </form>
            <br />
            <h5>Add search filter</h5>
            <div class="row" style="padding: 0 10px 0 10px">
                <div class="btn-group">
                    <button id="fileNameStartsWith" type="button" class="btn btn-default" data-bind="click: fileNameStartsWith">File name starts with...</button>
                    <button id="fileNameEndsWith" type="button" class="btn btn-default" data-bind="click: fileNameEndsWith">File name ends with...</button>
                    <button id="fileSizeBetween" type="button" class="btn btn-default" data-bind="click: fileSizeBetween">File size...</button>
                    <button id="hasMetadata" type="button" class="btn btn-default" data-bind="click: hasMetadata">Has metadata...</button>
                    <button id="inFolder" type="button" class="btn btn-default" data-bind="click: inFolder">In folder...</button>
                    <button id="lastModifiedBetween" type="button" class="btn btn-default" data-bind="click: lastModifiedBetween">Last modified...</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div id="filesGrid" data-bind="widget: { kind: 'virtualTable', itemsSource: allFilesPagedItems, selectedIndices: selectedFilesIndices, gridSelector: '#filesGrid', contextMenuOptions: [], selectionEnabled: false }"></div>
        </div>
    </div>
</div>