<div class="messageBox" tabindex="-1">

    <form data-bind="submit: applyFilter">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: cancel" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add search filter</h4>
        </div>
        <div class="modal-body form-inline">
            <div class="form-group">
                <label>File size between: </label>
                <input type="text" class="form-control" data-bind="value: minSizeText" />
                <label> and: </label>
                <input type="text" class="form-control" data-bind="value: maxSizeText" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
    </form>

</div>