<!--<div class="alert alert-danger">
    <p>Note: not implemented yet</p>
    <a href="http://issues.hibernatingrhinos.com/issue/RavenDB-2065">You can track progress here</a>
</div>-->

<div class="filesystems-page">

    <ul class="breadcrumb">
        <li>
            <h3>
                <a href="#filesystems">
                    Files
                </a>
            </h3>
        </li>
        <li data-bind="with: activeFilesystem">
            <a data-bind="text: name"></a>
        </li>
        <li>
            <a>Synchronization</a>
        </li>
    </ul>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary use-bootstrap-tooltip" data-bind="click: addDestination" title="Add a new destination (Alt+N)" accesskey="N"><i class="fa fa-plus"></i> Add destination</a>
        </div>

        <div class="btn-group">
            <a class="btn btn-primary use-bootstrap-tooltip" data-bind="click: synchronizeNow" title="Sync Now (Alt+S)" accesskey="S"><i class="fa fa-refresh"></i> Sync Now</a>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <!-- Destinations -->
            <div class="synchronization-container panel-group" id="destinationsAccordion">
                <div class="synchronization-group panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-bind="attr: { href: '#destinationsCollapse' }">
                                <span>Destinations</span>
                                <span class="text-muted" data-bind="text: '(' + destinations().length + ')'"></span>
                            </a>
                        </h4>
                    </div>

                    <div class="synchronization-group-content panel-collapse in" data-bind="attr: { id: 'destinationsCollapse' }">
                            <div class="panel-body" data-bind="foreach: $root.destinations">
                                <div class="synchronization panel panel-default">
                                    <div class="panel-body">
                                        <h4 class="pull-left">
                                            <a class="use-bootstrap-tooltip">
                                                <span data-bind="text: $data.ServerUrl"></span>
                                                <span data-bind="text: $data.FileSystem"></span>
                                            </a>
                                        </h4>
                                        <div class="pull-right">
                                            <button class="btn btn-danger use-bootstrap-tooltip" data-bind="click: $root.deleteDestination.bind($root, $data)" title="Delete destination">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                            <button class="btn btn-success use-bootstrap-tooltip" data-bind="click: $root.synchronizeWithDestination.bind($root, $data.ServerUrl)" title="Synchronize Now">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="synchronization-group panel panel-default" data-bind="visible: isConflictsVisible()">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="pull-right" data-toggle="collapse" data-bind="attr: { href: '#conflictsCollapse' }">
                            <span>Conflicts</span>
                            <span class="text-muted" data-bind="text: '(' + conflicts().length + ')'"></span>
                        </a>
                        <span class="btn-group">
                            <button type="button" class="btn btn-default" data-bind="click: toggleSelectAll" title="Select all or none">
                                <img style="height: 18px;" data-bind="attr: { src: isSelectAll() ? 'content/images/checked.png' : 'content/images/unchecked.png' }" />
                            </button>
                            <button class="btn btn-primary" data-bind="click: resolveWithLocalVersion">Resolve with Local</button>
                            <button class="btn btn-primary" data-bind="click: resolveWithRemoteVersion">Resolve with Remote</button>
                        </span>
                    </h4>
                    <div class="clearfix"></div>
                </div>

                <div class="synchronization-group-content panel-collapse in" data-bind="attr: { id: 'conflictsCollapse' }">
                    <div class="panel-body" >
                        <table class="table-no-borders">
                            <tbody data-bind="foreach: conflicts">
                                <tr>
                                    <td style="padding:0px">
                                        <h5 class="pull-left">
                                            <a class="use-bootstrap-tooltip">
                                                <input type="checkbox" data-bind="attr: { value: fileName }, checked: $root.selectedConflicts" />
                                                <span data-bind="text: fileName"></span>
                                            </a>
                                        </h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="synchronization-group panel panel-default" data-bind="visible: isOutgoingActivityVisible()">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-bind="attr: { href: '#outgoingActivityCollapse' }">
                            <span>Outgoing Activity</span>
                            <span class="text-muted" data-bind="text: '('+ outgoingActivity().length +')'"></span>
                        </a>
                    </h4>
                </div>
                <div class="synchronization-group-content panel-collapse in" data-bind="attr: { id: 'outgoingActivityCollapse' }" id="outgoingActivityCollapse">
                        
                        <div class="panel-body" style="padding-bottom:15px" >
                            <div style="height:392px; overflow-y:auto">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="database-header">
                                            <td class="ko-grid-column-header"><b>File Name</b></td>
                                            <td class="ko-grid-column-header"><b>Destination Url</b></td>
                                            <td class="ko-grid-column-header"><b>Type</b></td>
                                            <td class="ko-grid-column-header"><b>Status</b></td>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: $root.outgoingActivity">
                                        <tr class="database-row">
                                            <td data-bind="text: fileName"></td>
                                            <td data-bind="text: DestinationUrl"></td>
                                            <td data-bind="text: Type"></td>
                                            <td data-bind="text: Status"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="synchronization-group panel panel-default" data-bind="visible: isIncomingActivityVisible()">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-bind="attr: { href: '#incomingActivityCollapse' }">
                            <span>Incoming Activity</span>
                            <!--<!-- ko if: incomingActivityPagedList().totalResultCount() < 50 -->
                                <span class="text-muted" data-bind="text: '(' + incomingActivityPagedList().totalResultCount() + ')'"></span>
                            <!--<!-- /ko -->
                            <!--<!-- ko if: incomingActivityPagedList().totalResultCount() >= 50 -->
                                <!--<span class="text-muted" data-bind="text: '(last ' + incomingActivityPagedList().totalResultCount() + ')'"></span>-->
                            <!-- /ko -->
                        </a>
                    </h4>
                </div>

                <div class="synchronization-group-content panel-collapse in" data-bind="attr: { id: 'incomingActivityCollapse' }" id="incomingActivityCollapse">
                    <div class="panel-body" style="height:422px; padding-bottom:15px">
                        <div id="incomingGrid" data-bind="widget: { kind: 'virtualTable', itemsSource: incomingActivityPagedList, maxHeight: '350px', gridSelector: '#incomingGrid', contextMenuOptions: [], selectionEnabled: false }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

