<form class="custom-functions-form" id="customFunctionsContainer">
    <div data-bind="visible: $root.settingsAccess.isForbidden()" class="text-center">
        <h4 class="page-header text-info">You are not authorized to view this page!</h4>
    </div>
    <div class="panel panel-default" data-bind="visible: !$root.settingsAccess.isForbidden() && !$root.canUseGlobalConfigurations()">
        <div class="panel-body">
            <div class="text-center">
                <h3 class="text-info">
                    Enterprise feature. <a href="http://ravendb.net/buy" target="_blank">Upgrade your license</a>.
                </h3>
            </div>
        </div>
    </div>
    <div class="panel panel-default" data-bind="visible: !$root.settingsAccess.isForbidden() && $root.canUseGlobalConfigurations()">
        <div class="panel-heading">
            <button type="submit" class="btn btn-primary" data-bind="click: saveChanges, enable: isSaveEnabled, visible: activated()" title="Save Changes (Alt+S)" accesskey="S"><i class="fa fa-save"></i></button>
            <button type="button" class="btn btn-default" data-bind="click: $root.activateConfig.bind($root), visible: !activated(), disable: $root.settingsAccess.isReadOnly()">
                <i class="fa fa-plus"></i> Create global configuration for Custom Functions
            </button>
            <button type="button" class="btn btn-danger" data-bind="click: $root.disactivateConfig.bind($root), visible: activated(), disable: $root.settingsAccess.isReadOnly()">
                <i class="fa fa-trash"></i> Remove global configuration for Custom Functions
            </button>
            <div class="pull-right padd-top-10 text-warning" data-bind="visible: $root.developerLicense()">Enterprise feature</div>
        </div>
        <div class="panel-body">
            <p data-bind="visible: !activated()">
                <i class="fa fa-info-circle text-info"></i> Global configuration for Custom functions is not currently defined.
            </p>
            <div data-bind="visible: activated()">
                <div>
                    <span style="margin-left: 10px">You can create custom JavaScript functions here by writing simple <a href="http://wiki.commonjs.org/wiki/Modules/1.1" target="about:blank">commonjs module</a>.
                    </span>
                    <span id="customFunctionsExample" class="help-cursor" data-placement="auto right" data-original-title="Delete Script" data-trigger="hover">See the example. <i class="fa fa-info-circle text-info"></i>
                    </span>
                </div>
                <pre class="editor" id="customFunctionsEditor" data-bind="aceEditor: { code: documentText, readOnly: $root.settingsAccess.isReadOnly(), fontSize: '18px', lang: 'ace/mode/javascript' }, dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer', bottomMargin: 40 }"></pre>
            </div>
        </div>
    </div>
</form>
