@use "Content/scss/bs5variables";

// TODO @mateusz add missing styles
.react-select-container {
    border: 1px solid bs5variables.$border-color-light-var;
    border-radius: bs5variables.$input-border-radius;

    .react-select__control {
        border: none;
        background-color: bs5variables.$well-bg-var;
        box-shadow: none;
        min-width: 200px;

        &:hover {
            box-shadow: 0 0 0 0.25rem rgba(bs5variables.$primary-var, 0.25);
        }

        .react-select__value-container {
            * {
                color: bs5variables.$text-color-var;
            }

            .react-select__single-value--is-disabled {
                color: bs5variables.$text-muted-var;
            }

            .react-select__multi-value {
                background-color: bs5variables.$panel-bg-2-var;

                .react-select__multi-value__remove {
                    background-color: bs5variables.$panel-bg-2-var;

                    &:hover {
                        background-color: bs5variables.$panel-bg-3-var;
                    }
                }
            }
        }

        .react-select__indicator-separator {
            display: none;
        }
    }

    .react-select__control--is-disabled {
        background-color: bs5variables.$panel-bg-1-var;

        .react-select__dropdown-indicator {
            color: bs5variables.$text-muted-var;
        }
    }

    .react-select__menu {
        border: 1px solid bs5variables.$border-color-light-var;
        border-radius: bs5variables.$border-radius;
        background-color: bs5variables.$panel-bg-2-var;
        z-index: 5;

        .react-select__menu-list {
            .react-select__option {
                padding: bs5variables.$gutter-xxs bs5variables.$gutter-xs;
                background-color: transparent;
                color: bs5variables.$text-color-var;

                &:hover {
                    background-color: bs5variables.$panel-bg-3-var;
                    color: bs5variables.$link-color;
                }
            }

            hr {
                margin: 0 bs5variables.$gutter-xxs;
            }
        }
    }
}
