<div class="row">
    
    <div class="col-xl-5 col-xs-12">
        <div class="form-inline toolbar" role="form">

            <div class="input-group">
                <input type="text" accesskey="/" class="form-control" placeholder="Filter indexes" title="Filter Indexes (Alt+/)" data-bind="textInput: searchText, enable: hasIndexes" />
            </div>

            <button class="btn btn-default" data-bind="click: expandIndexes, enable: indexesVisible, visible: !isIndexesExpanded()" title="Expand indexes IO stats details"><span>Expand</span></button>
            <button class="btn btn-default" data-bind="click: collapseIndexes, enable: indexesVisible, visible: isIndexesExpanded" title="Collapse indexes IO stats details"><span>Collapse</span></button>

            <button class="btn btn-default" data-bind="click: exportAsJson, enable: hasAnyData" title="Export current IO stats graph to a file">
                <i class="icon-export"></i><span>Export</span>
            </button>

            <div data-bind="visible: isImport">
                <br />
                <button class="btn btn-default" data-bind="click: closeImport, visible: isImport" title="Return to currently selected database IO stats graph">
                    <i class="icon-cancel"></i><span data-bind="text: 'Close import (' + importFileName() + ')'">Close import</span>
                </button>
            </div>

            <div class="input-group file-input" title="Import IO stats graph file">
                <input type="file" id="importFilePicker" data-bind="event: { change: fileSelected }" tabindex="-1" accept=".json" style="width: 10px">
                <label for="importFilePicker" class="btn btn-default" data-bind="visible: !isImport()">
                    <i class="icon-import"></i><span>Import</span>
                </label>
            </div>

            <div>
                <div class="toggle toggle-inline" data-bind="visible: !isImport()">
                    <input type="checkbox" class="styled" id="autoScroll" data-bind="checked: autoScroll">
                    <label for="autoScroll"> Auto scroll </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-7 col-xs-12" data-bind="visible: hasAnyData">
        <div id="IOMetricsLegend">
            <div class="legend_container">
                <div class="legend_start_range">0</div>
                <div class="arrow_down" data-bind="style: {left: itemSizePositionJW()}, visible: itemHoveredJW"></div>
                <div class="legend_end_range" data-bind="text: $root.computedHumanSize(maxSizeJW)"></div>
                <img data-bind="attr: { src: $data.constructor.legendImageStrJW }"/>
                <div class="legend_title">Journal Write</div>
            </div>
            <div class="legend_container">
                <div class="legend_start_range">0</div>
                <div class="arrow_down" data-bind="style: {left: itemSizePositionDF()}, visible: itemHoveredDF"></div>
                <div class="legend_end_range" data-bind="text: $root.computedHumanSize(maxSizeDF)"></div>
                <img data-bind="attr: { src: $data.constructor.legendImageStrDF }" />
                <div class="legend_title">Data Flush</div>
            </div>
            <div class="legend_container">
                <div class="legend_start_range">0</div>
                <div class="arrow_down" data-bind="style: {left: itemSizePositionDS()}, visible: itemHoveredDS"></div>
                <div class="legend_end_range" data-bind="text: $root.computedHumanSize(maxSizeDS)"></div>
                <img data-bind="attr: { src: $data.constructor.legendImageStrDS }" />
                <div class="legend_title">Data Sync</div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="row" data-bind="visible: !hasAnyData()">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <i class="icon-xl icon-empty-set text-muted"></i>
            <h2 class="text-center">No data.</h2>
        </div>
</div>

<div id="ioStats" style="position: relative" data-bind="visible: hasAnyData">
    <section class="metricsContainer" id="IOMetricsContainer">
        <div class="tooltip" style="opacity: 0">
        </div>
    </section>
</div>