<div class="row">
    
    <div class="col-xl-5 col-xs-12">
        <div class="form-inline toolbar" role="form">

            <div class="input-group">
                <input type="text" accesskey="/" class="form-control" placeholder="Filter indexes" title="Filter Indexes (Alt+/)" data-bind="textInput: searchText, enable: hasIndexes" />
            </div>

            <button class="btn btn-default" data-bind="click: expandIndexes, enable: indexesVisible, visible: !isIndexesExpanded()" title="Expand indexes IO stats details"><span>Expand</span></button>
            <button class="btn btn-default" data-bind="click: collapseIndexes, enable: indexesVisible, visible: isIndexesExpanded" title="Collapse indexes IO stats details"><span>Collapse</span></button>

            <button class="btn btn-default" data-bind="click: exportAsJson, enable: hasAnyData" title="Export current IO stats graph to a file">
                <i class="icon-export"></i><span>Export</span>
            </button>

            <div data-bind="visible: isImport">
                <br />
                <button class="btn btn-default" data-bind="click: closeImport, visible: isImport" title="Return to currently selected database IO stats graph">
                    <i class="icon-cancel"></i><span data-bind="text: 'Close import (' + importFileName() + ')'">Close import</span>
                </button>
            </div>

            <div class="input-group file-input" title="Import IO stats graph file">
                <input type="file" id="importFilePicker" data-bind="event: { change: fileSelected }" tabindex="-1" accept=".json" style="width: 10px">
                <label for="importFilePicker" class="btn btn-default" data-bind="visible: !isImport()">
                    <i class="icon-import"></i><span>Import</span>
                </label>
            </div>

            <div>
                <div class="toggle toggle-inline" data-bind="visible: !isImport()">
                    <input type="checkbox" class="styled" id="autoScroll" data-bind="checked: autoScroll">
                    <label for="autoScroll"> Auto scroll </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-7 col-xs-12" data-bind="visible: hasAnyData">
        <div id="IOMetricsLegend">
            <div class="row">
                <span class="col-md-1 hidden-sm hidden-xs"><strong class="legendText">Legend:</strong></span>
                <span class="col-md-2 col-xs-3"><strong class="legendHeading legendText" data-bind="style: {color: 'black', 'background-color': $data.constructor.eventsColors.JournalWriteHighSizeColor}">Journal Write</></strong></span>
                <span class="col-md-2 col-xs-3 legendHeading"><strong class="legendHeading legendText" data-bind="style: {color: 'black', 'background-color': $data.constructor.eventsColors.DataFlushHighSizeColor}">Voron Data Flush</></strong></span>
                <span class="col-md-2 col-xs-3 legendHeading"><strong class="legendHeading legendText" data-bind="style: {color: 'black', 'background-color': $data.constructor.eventsColors.DataSyncHighSizeColor}">Voron Data Sync</></strong></span>
            </div>
            <div class="row">
                <span class="col-md-offset-1 col-md-2 col-xs-3">
                    <span class="legendColor" data-bind="style: {'background-color': $data.constructor.eventsColors.JournalWriteHighSizeColor}"></span>
                    &nbsp;&gt;&nbsp;<span class="legendText" data-bind="text: $root.computedHumanSize(journalWriteHighSizeLevel)"></span>
                </span>
                <span class="col-md-2 col-xs-3">
                    <span class="legendColor" data-bind="style: {'background-color': $data.constructor.eventsColors.DataFlushHighSizeColor}"></span>
                    &nbsp;&gt;&nbsp;<span class="legendText" data-bind="text: $root.computedHumanSize(dataFlushHighSizeLevel)"></span>
                </span>
                <span class="col-md-2 col-xs-3">
                    <span class="legendColor" data-bind="style: {'background-color': $data.constructor.eventsColors.DataSyncHighSizeColor}"></span>
                    &nbsp;&gt;&nbsp;<span class="legendText" data-bind="text: $root.computedHumanSize(dataSyncHighSizeLevel)"></span>
                </span>
            </div>
            <div class="row">
                <span class="col-md-offset-1 col-md-2 col-xs-3">
                    <span class="legendColor" data-bind="style: {'background-color': $data.constructor.eventsColors.JournalWriteMedSizeColor}"></span>
                    <span class="legendText">&nbsp;<span data-bind="text: $root.computedHumanSize(journalWriteLowSizeLevel)"></span>&nbsp;&mdash;&nbsp;<span data-bind="text: $root.computedHumanSize(journalWriteHighSizeLevel)"></span></span>
                </span>
                <span class="col-md-2 col-xs-3">
                    <span class="legendColor" data-bind="style: {'background-color': $data.constructor.eventsColors.DataFlushMedSizeColor}"></span>
                    <span class="legendText">&nbsp;<span data-bind="text: $root.computedHumanSize(dataFlushLowSizeLevel)"></span>&nbsp;&mdash;&nbsp;<span data-bind="text: $root.computedHumanSize(dataFlushHighSizeLevel)"></span></span>
                </span>
                <span class="col-md-2 col-xs-3">
                    <span class="legendColor" data-bind="style: {'background-color': $data.constructor.eventsColors.DataSyncMedSizeColor}"></span>
                    <span class="legendText">&nbsp;<span data-bind="text: $root.computedHumanSize(dataSyncLowSizeLevel)"></span>&nbsp;&mdash;&nbsp;<span data-bind="text: $root.computedHumanSize(dataSyncHighSizeLevel)"></span></span>
                </span>
            </div>
            <div class="row">
                <span class="col-md-offset-1 col-md-2 col-xs-3">
                    <span class="legendColor" data-bind="style: {'background-color': $data.constructor.eventsColors.JournalWriteLowSizeColor}"></span>
                    <span class="legendText">&nbsp;0&nbsp;&mdash;&nbsp;<span data-bind="text: $root.computedHumanSize(journalWriteLowSizeLevel)"></span></span>
                </span>
                <span class="col-md-2 col-xs-3">
                    <span class="legendColor" data-bind="style: {'background-color': $data.constructor.eventsColors.DataFlushLowSizeColor}"></span>
                    <span class="legendText">&nbsp;0&nbsp;&mdash;&nbsp;<span data-bind="text: $root.computedHumanSize(dataFlushLowSizeLevel)"></span></span>
                </span>
                <span class="col-md-2 col-xs-3">
                    <span class="legendColor" data-bind="style: {'background-color': $data.constructor.eventsColors.DataSyncLowSizeColor}"></span>
                    <span class="legendText">&nbsp;0&nbsp;&mdash;&nbsp;<span data-bind="text: $root.computedHumanSize(dataSyncLowSizeLevel)"></span></span>
                </span>
            </div>
        </div>
    </div>
</div>

<br />
<div class="row" data-bind="visible: !hasAnyData()">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <i class="icon-xl icon-empty-set text-muted"></i>
            <h2 class="text-center">No data.</h2>
        </div>
</div>
<div id="ioStats" style="position: relative" data-bind="visible: hasAnyData">
    <section class="metricsContainer" id="IOMetricsContainer">
        <div class="tooltip" style="opacity: 0">
        </div>
    </section>
</div>