<style>

    #replicationStatsContainer {
        font: 11px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: steelblue;
    }

    rect.outputCounts, rect.inputCounts {
        fill-opacity: 0.8;
        cursor: pointer;
    }

    rect.outputCounts:hover, rect.inputCounts:hover {
        fill-opacity: 1;
    }
    .legend rect {
        cursor: pointer;
    }

    .legend_bg {
        fill: white;
        fill-opacity: 0.8;
        stroke: #ccc;
    }

    .legendHidden {
        fill-opacity: 0.2;   
    }

</style>
<section id="replicationStatsContainer" style="width: 100%" data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }">
    <div class="page-header" data-bind="visible: statsAvailable() == false">
        <h3><i class="fa fa-info-circle text-info"></i> No SQL Replication stats available. <small>Either this database isn't <a target="_blank" data-bind="attr: { href: documentationLink }">setup for SQL Replication</a> or it hasn't occurred in some time.</small></h3>
    </div>
    
    <div data-bind="visible: statsAvailable()">
        <svg id="replicationStatsGraph" transform="translate(0.5,0.5)" preserveAspectRatio="xMinYMin slice"></svg>
    </div>
</section>
