<section data-bind="if: stats, dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer' }">
    <form class="form-horizontal col-md-10" role="form">
        <div class="form-group">
            <label class="col-md-2 control-label">Storage Engine</label>
            <div class="col-md-10">
                <p class="form-control-static" data-bind="text: stats().storageEngine"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Database Id</label>
            <div class="col-md-10">
                <p class="form-control-static" data-bind="text: stats().dataBaseId"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Document Count</label>
            <div class="col-md-10">
                <p class="form-control-static" data-bind="text: stats().countOfDocuments"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Last Document Etag</label>
            <div class="col-md-10">
                <p class="form-control-static" data-bind="text: stats().lastDocEtag"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Transformers Count</label>
            <div class="col-md-10">
                <p class="form-control-static" data-bind="text: stats().countOfTransformers"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Index Count</label>
            <div class="col-md-10">
                <p class="form-control-static" data-bind="text: stats().countOfIndexes"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Last Indexing Time</label>
            <div class="col-md-8">
                <p class="form-control-static" data-bind="text: stats().lastIndexingDateTime"></p>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label">64 Bit</label>
            <div class="col-md-8">
                <p class="form-control-static" data-bind="text: stats().is64Bit"></p>
            </div>
        </div>

       

        <div class="form-group">
            <label class="col-md-2 control-label">Indexes</label>
            <div class="col-md-10">
                <div class="panel-group" id="indexStatsAccordion" data-bind="foreach: stats().indexes">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseOne" data-bind="attr: { href: '#statsIndexCollapse' + $index() }">
                                    <span data-bind="text: name"></span>
                                    <!--<span class="text-muted">- <span data-bind="text: DocsCountLocale"></span>Entries</span>-->
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" data-bind="attr: { id: 'statsIndexCollapse' + $index() }">
                            <div class="panel-body">
                                <div class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Index Id</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: indexId"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Type</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: type"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Is Stale</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: isStale"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Lock</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: lockMode"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Priority</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: priority, css: { 'text-muted': priority === 'Idle', 'text-warning': priority === 'Disabled', 'text-danger': priority === 'Abandoned' }"></p>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label class="col-md-2 control-label">Created</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: CreatedTimestampText"></p>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group">
                                        <label class="col-md-2 control-label">Entries</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: DocsCountLocale"></p>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group" data-bind="if: IndexingAttempts !== null">
                                        <label class="col-md-2 control-label">Runs</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="css: { 'text-success': IndexingAttempts === IndexingSuccesses, 'text-warning': IndexingSuccesses > 0 && IndexingSuccesses < IndexingAttempts, 'text-danger': IndexingAttempts > 0 && IndexingSuccesses === 0 }">
                                                <span data-bind="visible: IndexingAttempts > 0, text: IndexingAttemptsLocale"></span>
                                                <span data-bind="visible: IndexingAttempts === 0" class="text-muted">Never run</span>
                                                <span data-bind="visible: IndexingAttempts === IndexingSuccesses && IndexingAttempts > 0">- all successful</span>
                                                <span data-bind="visible: IndexingSuccesses > 0 && IndexingSuccesses < IndexingAttempts, text: 'attempts ' + (IndexingAttempts - IndexingSuccesses) + ' failed'"></span>
                                                <span data-bind="visible: IndexingAttempts > 0 && IndexingSuccesses === 0">- all failed</span>
                                            </p>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group">
                                        <label class="col-md-2 control-label">Docs indexed from</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: LastIndexedTimestampText"></p>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group" data-bind="if: IndexingAttempts !== null">
                                        <label class="col-md-2 control-label">Maps reduced from</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="css: { 'text-success': ReduceIndexingAttempts === ReduceIndexingSuccesses, 'text-warning': ReduceIndexingSuccesses > 0 && ReduceIndexingSuccesses < ReduceIndexingAttempts, 'text-danger': ReduceIndexingAttempts > 0 && ReduceIndexingSuccesses === 0 }">
                                                <span data-bind="visible: ReduceIndexingAttempts > 0, text: ReduceIndexingAttemptsLocale"></span>
                                                <span data-bind="visible: !ReduceIndexingAttempts" class="text-muted">Never run</span>
                                                <span data-bind="visible: ReduceIndexingAttempts === ReduceIndexingSuccesses && ReduceIndexingAttempts > 0">- all successful</span>
                                                <span data-bind="visible: ReduceIndexingSuccesses > 0 && ReduceIndexingSuccesses < ReduceIndexingAttempts, text: 'attempts, ' + (ReduceIndexingAttempts - ReduceIndexingSuccesses) + ' failed'"></span>
                                                <span data-bind="visible: ReduceIndexingAttempts > 0 && ReduceIndexingSuccesses === 0">- all failed</span>
                                            </p>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group" data-bind="visible: IsMapReduce">
                                        <label class="col-md-2 control-label">Last reduce</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: LastReducedTimestampText"></p>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group">
                                        <label class="col-md-2 control-label">Last query</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: LastQueryTimestampText"></p>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group">
                                        <label class="col-md-2 control-label">Last indexed Etag</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: LastIndexedEtag"></p>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group" data-bind="visible: IsMapReduce">
                                        <label class="col-md-2 control-label">Last reduced Etag</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: LastReducedEtag"></p>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group">
                                        <label class="col-md-2 control-label">Is on RAM</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static" data-bind="text: IsOnRam"></p>
                                        </div>
                                    </div>-->
                                    <!--<div class="form-group">
                                        <label class="col-md-2 control-label">Entities</label>
                                        <div class="col-md-8" data-bind="with: ForEntityName">
                                            <p class="form-control-static" data-bind="text: $data.join(', ')"></p>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
