<section data-bind="if: stats">

    <h2>General Stats</h2>
    
    <div class="row" data-bind="with: stats">
        
        <div class="col-xs-12 visible-sm visible-xs">
            <table class="table table-condensed table-striped table-responsive bg-info">
                <tbody>
                <tr>
                    <td>Database Id</td>
                    <td data-bind="text: dataBaseId"></td>
                </tr>
                <tr>
                    <td>Documents Count</td>
                    <td data-bind="text: countOfDocuments"></td>
                </tr>
                <tr>
                    <td>Indexes Count</td>
                    <td data-bind="text: countOfIndexes"></td>
                </tr>
                <tr>
                    <td>Transformers Count</td>
                    <td data-bind="text: countOfTransformers"></td>
                </tr>
                <tr>
                    <td>Last Document Etag</td>
                    <td data-bind="text: lastDocEtag"></td>
                </tr>
                <tr>
                    <td>64 Bit</td>
                    <td data-bind="text: is64Bit"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-7 visible-md visible-lg">
            <table class="table table-condensed table-striped table-responsive table-bordered bg-info">
                <tbody>
                <tr>
                    <td class="row"><span class="col-md-6">Documents Count</span><span class="col-md-3" data-bind="text: countOfDocuments" style="float: right"></span></td>
                    <td class="row"><span class="col-md-6">Last Document Etag</span><span class="col-md-3" data-bind="text: lastDocEtag" style="float: right"></span></td>
                </tr>
                <tr>
                    <td class="row"><span class="col-sm-6">Indexes Count</span><span class="col-sm-3" data-bind="text: countOfIndexes" style="float: right"></span></td>
                    <td class="row"><span class="col-sm-6">Transformers Count</span><span class="col-sm-3" data-bind="text: countOfTransformers" style="float: right"></span></td>
                </tr>
                <tr>
                    <td class="row"><span class="col-sm-6">64 Bit</span><span class="col-sm-3" data-bind="text: is64Bit" style="float: right"></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2" class="row"><span class="col-sm-3">Database Id</span><span class="col-sm-8" data-bind="text: dataBaseId"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr />
    <h2>Indexes Stats by type</h2>
    <br />

    <h3 class="text-center" data-bind="visible: stats().indexesByType().length === 0">No indexes have been created for this database.</h3>

    <div data-bind="foreach: stats().indexesByType">

        <h3 data-bind="text: indexType"></h3>

        <div class="row">
            <div data-bind="foreach: indexes">
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <a href="#" data-bind="attr: { href: $root.urlForIndexPerformance(name) } ">
                                <span class="text" data-bind="text: name"></span>
                            </a><br/>
                            Id: <span data-bind="text: indexId"></span>
                            <span class="badge badge-warning" data-bind="visible: isStale">Stale</span> <!-- TODO: How to move to the right side ? -->
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <br />
    </div>

</section>
