@use "Content/scss/colors";

.ai-assistant-button {
    background-color: var(--well-bg) !important;
    background-image: linear-gradient(
        270deg,
        rgba(56, 142, 233, 0.05) 0%,
        rgba(86, 115, 243, 0.2) 75%,
        rgba(123, 81, 254, 0.3) 100%
    );
    color: var(--text-color) !important;

    &:hover {
        background-color: var(--bs-gray-500) !important;
        color: var(--text-emphasis) !important;
    }

    &:disabled {
        opacity: 0.75 !important;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(120deg, #4ac8f9 13.4%, #5058ff 50%, #8b42f5 86.6%);
        border-radius: var(--bs-border-radius-pill);
        z-index: -1;
        margin: -1px;
    }
}
