<div id="editCounterContainer" tabindex="-1">
    <!-- We use a container with a tab index so that we can capture keyboard events, such as CTRL+S. -->
    <ul class="breadcrumb">
        <li>
            <h3>
                <a href="#resources">
                    Counters
                </a>
            </h3>
        </li>
        <li>
            <a href="#" data-bind="text: groupName, attr: { href: groupLink }"></a>
        </li>
        <li class="active">
            <span data-bind="text: counterName"></span>
        </li>
    </ul>

    <div class="btn-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-bind="click: refresh" title="Refresh (Alt+R)" accesskey="R"><i class="fa fa-refresh"></i></button>
            <button type="button" class="btn btn-default" data-bind="click: change" title="Change Counter Value"><i class="fa fa-wrench"></i></button>
            <button type="button" class="btn btn-default" data-bind="click: reset" title="Reset Counter"><i class="fa fa-recycle"></i></button>
            <button type="button" class="btn btn-danger" data-bind="click: deleteCounter" title="Delete Counter (Alt+Shift+Del)"><i class="fa fa-trash-o"></i></button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12" data-bind="with: counter">
                <h4><strong>Summary</strong></h4>
                <div class="row">
                    <div class="col-md-5">
                        <label>Counter Name</label>
                    </div>
                    <div class="col-md-7">
                        <span data-bind="text: $root.counterName"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>Group Name</label>
                    </div>
                    <div class="col-md-7">
                        <span data-bind="text: $root.groupName"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>Total</label>
                    </div>
                    <div class="col-md-7">
                        <span data-bind="text: total"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>Local Server ID</label>
                    </div>
                    <div class="col-md-7">
                        <span data-bind="text: localServerId"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>Last Updated by Server</label>
                    </div>
                    <div class="col-md-7">
                        <span data-bind="text: lastUpdateByServer"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label>Number of Servers</label>
                    </div>
                    <div class="col-md-7">
                        <span data-bind="text: numOfServers"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
            </div>
            <div class="col-md-12" data-bind="with: counter">
                <h4><strong>Values by Server</strong></h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Server ID</th>
                        <th>Value</th>
                        <th>Etag</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: serverValues">
                    <tr>
                        <td data-bind="text: serverId"></td>
                        <td data-bind="text: value"></td>
                        <td data-bind="text: etag"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group panel panel-default col-md-4 counter-recent side-panel" data-bind="visible: topRecentCounters().length > 0">
            <div class="col-md-12 counter-recent-internal">
                <h4><strong>Recent Counters</strong></h4>
                <hr />
                <div class="counters-links-container" data-bind="foreach: topRecentCounters">
                    <a class="counter-link" data-bind="attr: { href: counterUrl }">
                        <span data-bind="text: groupName"></span>
                        <span style="color: green; font-weight: bold"> | </span>
                        <span data-bind="text: counterName"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    
</div>
