<div class="modal-dialog" role="document">
    <div class="modal-content" tabindex="-1">
        <form data-bind="submit: nextOrCreate">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click: cancel" aria-hidden="true"></button>
                <h4 class="modal-title" data-bind="text: (isNew() ? 'Create ' : 'Update ' ) + 'Counter'"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div data-bind="with: editedCounter">
                        <div class="col-md-12" data-bind="visible: isNew() == false">
                            <label class="col-md-4" for="total">Current Value:</label>
                            <div class="col-md-7">
                                <span id="total" data-bind="text: getValue()"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-4" for="group">Group:</label>
                            <div class="col-md-7">
                                <!-- ko if: isNew() -->
                                <input required type="text" class="form-control" id="group" placeholder="Group Name" data-bind="value: group, customValidity: groupCustomValidityError, valueUpdate: 'afterkeydown'">
                                <!-- /ko -->
                                <!-- ko ifnot: isNew() -->
                                <span data-bind="text: group"></span>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-4" for="counterName">Counter Name:</label>
                            <div class="col-md-7">
                                <!-- ko if: isNew() -->
                                <input required type="text" class="form-control" id="counterName" placeholder="Counter Name" data-bind="value: counterName, customValidity: counterNameCustomValidityError, valueUpdate: 'afterkeydown'">
                                <!-- /ko -->
                                <!-- ko ifnot: isNew() -->
                                <span data-bind="text: counterName"></span>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-4" for="counterDelta" data-bind="text: isNew() ? 'Initial Value' : 'Change'"></label>
                            <div class="col-md-7" style="display: inline-block">
                                <input required type="number" class="form-control" id="counterDelta" placeholder="Counter Delta" data-bind="value: delta, customValidity: deltaCustomValidityError, valueUpdate: 'afterkeydown'">
                            </div>
                        </div>
                        <div class="col-md-12" data-bind="visible: isNew()">
                            *Using an existing group and counter name will update its value
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
                <button type="submit" class="btn btn-primary" data-bind="text: isNew() ? 'Create' : 'Update'"></button>
            </div>
        </form>
    </div>
</div>