<div class="panel panel-default">    
    <div class="panel-heading">
        <h3 class="panel-title">Export File System</h3>
    </div>
    <div class="panel-body">
        <h4 class="pull-left">Export your file system to a .ravenfsdump file.</h4>
        <br />
        <br />
        <div class="btn-toolbar">
            <div>
                <form class="navbar-form navbar-left" data-bind="submit: startExport">
                    <!-- ko with: activeFilesystem -->
                    <button class="btn btn-primary" type="submit" data-bind="disable: isExporting" download>
                        <i class="fa fa-spinner fa-spin fa-fw" data-bind="visible: isExporting"></i>
                        <i class="fa fa-download" data-bind="visible: !isExporting()"></i>
                        Export File System
                    </button>
                    <!-- /ko -->

                    <div class="checkbox" data-bind="visible: !chooseDifferntFileName()">
                        <input type="checkbox" class="styled" id="different_name" data-bind="checked: chooseDifferntFileName">
                        <label for="different_name">Override file name</label>
                    </div>
                    <div data-bind="visible: chooseDifferntFileName" class="form-group">
                        <input class="form-control" type="text" name="fileName" data-bind="visible: chooseDifferntFileName, value: noneDefualtFileName" title="Insert a file name to ovveride the default one." placeholder="Exported File Name">
                    </div>

                    <!-- ko with: activeFilesystem -->
                    <div style="margin-top: 15px">
                        <p data-bind="text: exportStatus"></p>
                    </div>
                    <!-- /ko -->
                </form>
            </div>
        </div>
        <br />
        <div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Batch size</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="number" min="0" data-bind="value: batchSize" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
