<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id='INSTALLFOLDER'>
      <Component Id="Raven.Abstractions" Guid="910AF9F7-8A0D-4EA1-88DF-87AE4A6CD4E8">
        <File Id='Raven.Abstractions' Name='$(var.Raven.Abstractions.ProjectName).dll' DiskId='1' Source='$(var.Raven.Abstractions.TargetPath)' />
        <!-- Referenced assemblies -->
        <!--<File Id='Microsoft.CompilerServices.AsyncTargetingPack.Net4.dll' Name='Microsoft.CompilerServices.AsyncTargetingPack.Net4.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Microsoft.CompilerServices.AsyncTargetingPack.Net4.dll' />-->
        <!--<File Id='.dll' Name='.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\.dll' />
         <File Id='.dll' Name='.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\.dll' />-->
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>