<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
   
      <Component Id='Raven.Database.Service' Guid='{987E96A5-43A4-4F55-B3BC-4C7A927DF5C6}' Directory='INSTALLFOLDER'>
        <File Id='Raven.Database.Service' Name='$(var.Raven.Database.ProjectName).dll' DiskId='1' Source='$(var.Raven.Database.TargetPath)' />

        <!-- Raven.Database references -->
        <File Id='AWS.Extensions.dll.Service' Name='AWS.Extensions.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\AWS.Extensions.dll' />
        <File Id='AWSSDK.dll.Service' Name='AWSSDK.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\AWSSDK.dll' />
        <File Id='Esent.Interop.dll.Service' Name='Esent.Interop.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Esent.Interop.dll' />
        <File Id='GeoAPI.dll.Service' Name='GeoAPI.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\GeoAPI.dll' />
        <File Id='ICSharpCode.NRefactory.dll.Service' Name='ICSharpCode.NRefactory.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\ICSharpCode.NRefactory.dll' />
        <File Id='ICSharpCode.NRefactory.CSharp.dll.Service' Name='ICSharpCode.NRefactory.CSharp.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\ICSharpCode.NRefactory.CSharp.dll' />

        <!--<File Id='ICSharpCode.NRefactory.Xml.dll' Name='ICSharpCode.NRefactory.Xml.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\ICSharpCode.NRefactory.Xml.dll' />-->

        <File Id='Jint.Raven.dll.Service' Name='Jint.Raven.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Jint.Raven.dll' />
        <File Id='Lucene.Net.dll.Service' Name='Lucene.Net.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Lucene.Net.dll' />
        <File Id='Lucene.Net.Contrib.FastVectorHighlighter.dll.Service' Name='Lucene.Net.Contrib.FastVectorHighlighter.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Lucene.Net.Contrib.FastVectorHighlighter.dll' />
        <File Id='Lucene.Net.Contrib.Spatial.NTS.dll.Service' Name='Lucene.Net.Contrib.Spatial.NTS.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Lucene.Net.Contrib.Spatial.NTS.dll' />
        <File Id='Mono.Cecil.dll.Service' Name='Mono.Cecil.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Mono.Cecil.dll' />

        <File Id='NetTopologySuite.dll.Service' Name='NetTopologySuite.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\NetTopologySuite.dll' />

        <File Id='PowerCollections.dll.Service' Name='PowerCollections.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\PowerCollections.dll' />

        <File Id='Spatial4n.Core.NTS.dll.Service' Name='Spatial4n.Core.NTS.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Spatial4n.Core.NTS.dll' />
      </Component>

    <Component Id='Raven.Database.Web' Guid='{987E96A5-43A4-4F55-B3BC-4C7A927DF5C3}' Directory='Bin'>
      <File Id='Raven.Database' Name='$(var.Raven.Database.ProjectName).dll' DiskId='1' Source='$(var.Raven.Database.TargetPath)' />

      <!-- Raven.Database references -->
      <File Id='AWS.Extensions.dll' Name='AWS.Extensions.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\AWS.Extensions.dll' />
      <File Id='AWSSDK.dll' Name='AWSSDK.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\AWSSDK.dll' />
      <File Id='Esent.Interop.dll' Name='Esent.Interop.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Esent.Interop.dll' />
      <File Id='GeoAPI.dll' Name='GeoAPI.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\GeoAPI.dll' />
      <File Id='ICSharpCode.NRefactory.dll' Name='ICSharpCode.NRefactory.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\ICSharpCode.NRefactory.dll' />
      <File Id='ICSharpCode.NRefactory.CSharp.dll' Name='ICSharpCode.NRefactory.CSharp.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\ICSharpCode.NRefactory.CSharp.dll' />

      <!--<File Id='ICSharpCode.NRefactory.Xml.dll' Name='ICSharpCode.NRefactory.Xml.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\ICSharpCode.NRefactory.Xml.dll' />-->

      <File Id='Jint.Raven.dll' Name='Jint.Raven.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Jint.Raven.dll' />
      <File Id='Lucene.Net.dll' Name='Lucene.Net.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Lucene.Net.dll' />
      <File Id='Lucene.Net.Contrib.FastVectorHighlighter.dll' Name='Lucene.Net.Contrib.FastVectorHighlighter.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Lucene.Net.Contrib.FastVectorHighlighter.dll' />
      <File Id='Lucene.Net.Contrib.Spatial.NTS.dll' Name='Lucene.Net.Contrib.Spatial.NTS.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Lucene.Net.Contrib.Spatial.NTS.dll' />
      <File Id='Mono.Cecil.dll' Name='Mono.Cecil.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Mono.Cecil.dll' />

      <File Id='NetTopologySuite.dll' Name='NetTopologySuite.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\NetTopologySuite.dll' />

      <File Id='PowerCollections.dll' Name='PowerCollections.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\PowerCollections.dll' />

      <File Id='Spatial4n.Core.NTS.dll' Name='Spatial4n.Core.NTS.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Spatial4n.Core.NTS.dll' />
    </Component>

  </Fragment>
</Wix>