<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
      <Component Id="Raven.Abstractions.Web" Guid="910AF9F7-8A0D-4EA1-88DF-87AE4A6CD4E8" Directory="Bin">
        <File Id='Raven.Abstractions.Web' Name='$(var.Raven.Abstractions.ProjectName).dll' DiskId='1' Source='$(var.Raven.Abstractions.TargetPath)' />
        <!-- Referenced assemblies -->
        <!-- <File Id='Microsoft.CompilerServices.AsyncTargetingPack.Net4.dll.Web' Name='Microsoft.CompilerServices.AsyncTargetingPack.Net4.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Microsoft.CompilerServices.AsyncTargetingPack.Net4.dll' /> -->
      </Component>

    <Component Id="Raven.Abstractions.Service" Guid="910AF9F7-8A0D-4EA1-88DF-87AE4A6CD4E9" Directory="INSTALLFOLDER">
      <File Id='Raven.Abstractions.Service' Name='$(var.Raven.Abstractions.ProjectName).dll' DiskId='1' Source='$(var.Raven.Abstractions.TargetPath)' />
      <!-- Referenced assemblies -->
      <!-- <File Id='Microsoft.CompilerServices.AsyncTargetingPack.Net4.dll.Service' Name='Microsoft.CompilerServices.AsyncTargetingPack.Net4.dll' DiskId='1' Source='$(var.Raven.Database.TargetDir)\Microsoft.CompilerServices.AsyncTargetingPack.Net4.dll' /> -->
    </Component>
  </Fragment>
</Wix>