<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
   
      <Component Id='Raven.Database.Service' Guid='{987E96A5-43A4-4F55-B3BC-4C7A927DF5C6}' Directory='INSTALLFOLDER'>
        <File Id='Raven.Database.Service' Name='$(var.Raven.Database.ProjectName).dll' DiskId='1' Source='$(var.Raven.Database.TargetPath)' />
      </Component>

    <Component Id='Raven.Database.Web' Guid='{987E96A5-43A4-4F55-B3BC-4C7A927DF5C3}' Directory='Bin'>
      <File Id='Raven.Database' Name='$(var.Raven.Database.ProjectName).dll' DiskId='1' Source='$(var.Raven.Database.TargetPath)' />
    </Component>

  </Fragment>
</Wix>