<div class="content-margin conflict-resolution">
    <div class="row flex-row absolute-fill">
        <div class="col-xs-12 col-lg-6 flex-vertical">
            <form class="flex-form" data-bind="submit: save">
                <div class="flex-header">
                    <button type="submit" class="btn btn-primary" 
                            data-bind="disable: $root.spinners.save() || !$root.dirtyFlag().isDirty(), css: { 'btn-spinner': $root.spinners.save }, requiredAccess: 'ReadWrite'">
                        <i class="icon-save"></i><span>Save</span>
                    </button>
                </div>
                <div class="flex-header">
                    <div class="flex-row">
                        <h3 class="on-base-background">Collection-specific conflict resolution scripts:</h3>
                        <button type="button" id="addNewScript" data-bind="click: addNewScript, requiredAccess: 'ReadWrite'"
                                title="Add a per-collection conflict resolution script" class="btn btn-info pull-right">
                            <i class="icon-plus"></i><span>Add</span>
                        </button>
                    </div>
                </div>
                <div class="scroll">
                    <div class="scripts-list" id="scriptsList" data-bind="with: model">
                        <div data-bind="if: perCollectionResolvers().length === 0 && !editedScriptSandbox()">
                            <div>
                                <h3 class="text-center text-muted">No scripts have been defined</h3>
                            </div>
                        </div>
                        <div data-bind="foreach: perCollectionResolvers">
                            <div class="panel item" data-bind="css: { active: $data === $parent.scriptSelectedForEdit() }">
                                <div class="padding padding-sm">
                                    <div class="flex-horizontal">
                                        <div class="flex-grow info">
                                            <div class="collection-name" title="Collection name">
                                                <span data-bind="text: collection"></span>
                                                <span class="text-warning" data-bind="visible: dirtyFlag().isDirty">*</span>
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <button data-bind="click: $root.editScript.bind($parent, $data)" class="btn btn-default">
                                                <span data-bind="visible: !$root.isReadOnlyAccess()"><i class="icon-edit" title="Edit script"></i></span>
                                                <span data-bind="visible: $root.isReadOnlyAccess"><i class="icon-preview" title="View script"></i></span>
                                            </button>
                                            <button data-bind="click: $root.removeScript, requiredAccess: 'ReadWrite'" class="btn btn-danger">
                                                <i class="icon-trash" title="Delete script"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="toggle on-base-background">
                        <input id="resolveToLatest" type="checkbox" data-bind="checked: model().resolveToLatest, requiredAccess: 'ReadWrite', requiredAccessOptions: { strategy: 'disable' }">
                        <label for="resolveToLatest">If no script was defined for a collection, resolve the conflict using the latest version.</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-lg-6 flex-vertical" data-bind="with: model().editedScriptSandbox()">
            <div class="flex-grow">
                <div id="editTransform" class="panel">
                    <div class="padding padding-sm">
                         <div class="form-group">
                            <label><strong>Collection:</strong></label>
                            <div class="flex-grow"
                                 data-bind="validationOptions: { insertMessages: false }, validationElement: collection">
                                <div class="dropdown btn-block">
                                    <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown"
                                           data-bind="textInput: collection, attr: { disable: $root.collections().length === 0 }"
                                           placeholder="Select a collection">
                                    <span class="caret dropdown-toggle" data-toggle="dropdown"></span>
                                    <ul class="dropdown-menu"
                                        data-bind="foreach: $root.createCollectionNameAutocompleter(collection)">
                                        <li data-bind="click: _.partial($root.model().useCollection, $data)">
                                            <a href="#" data-bind="text: $data"></a>
                                        </li>
                                    </ul>
                                </div>
                                <span class="help-block" data-bind="validationMessage: collection"></span>
                            </div>
                        </div>
                        <label><strong>Script:</strong></label>
                        <span class="pull-right"><a href="#" data-bind="click: $root.syntaxHelp"><small>Syntax <i class="icon-help"></i></small></a></span>
                        <div data-bind="validationElement: script">
                        <pre class="form-control editor margin-bottom"
                             data-bind="aceEditor: { code: script, fontSize: '14px', lang: 'ace/mode/javascript', readOnly: $root.isReadOnlyAccess() },
                                        validationOptions: { errorsAsTitle: false }, validationElement: script"
                             style="height: 300px;"></pre>
                            <div data-bind="validationOptions: { errorsAsTitle: false }, validationElement: script">
                                <div class="help-block" data-bind="validationMessage: script"></div>
                            </div>
                        </div>
                        <div class="flex-noshrink">
                            <button type="button" class="btn btn-success"
                                    data-bind="click: $root.saveEditedScript, attr: { title : ($root.model().scriptSelectedForEdit() ? 'Update' : 'Add') + ' this conflict resolution script' }, requiredAccess: 'ReadWrite'">
                                <i class="icon-tick"></i> <span data-bind="text: $root.model().scriptSelectedForEdit() ? 'Update' : 'Add'"></span>
                            </button>
                            <button type="button" title="Cancel" class="btn btn-default"
                                    data-bind="click: $root.cancelEditedScript"><i class="icon-cancel"></i>
                                <span>Cancel</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
