<form class="custom-functions-form" id="customFunctionsContainer">
    <div class="docEditor flex-window flex-grow content-margin">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="submit" class="btn btn-primary" data-bind="click: saveChanges, enable: isSaveEnabled, disable: spinners.save(), css: { 'btn-spinner': spinners.save() }" title="Save Changes (Alt+S)" accesskey="S">
                    <i class="icon-save"></i>
                    <span>Save</span>
                </button>
                <span style="margin-left: 10px">
                    You can create custom JavaScript functions here by writing simple <a href="http://wiki.commonjs.org/wiki/Modules/1.1" target="about:blank">commonjs module</a>.
                </span>
                <span id="customFunctionsExample" class="help-cursor" data-placement="auto right" data-original-title="Custom function example" data-trigger="hover">
                    See the example. <small><i class="icon-info"></i></small>
                </span>
            </div>
            <div class="flex-window-scroll">
                <pre class="editor" id="customFunctionsEditor" data-bind="aceEditor: { code: documentText, fontSize: '18px', lang: 'ace/mode/javascript' }, validationElement: documentText"></pre>
            </div>
            <div data-bind="validationElement: documentText">
                <div class="help-block" data-bind="validationMessage: documentText"></div>
            </div>
        </div>
    </div>
</form>                  