<div id="databaseSettingsContainer" class="content-margin flex-vertical">
    <!-- ko if: isForbidden-->
    <div class="text-center">
        <h4 class="page-header text-info">You are not authorized to view this page!</h4>
    </div>
    <!-- /ko -->
    <!-- ko if: !isForbidden() -->
    <form class="flex-grow flex-vertical">
        <div data-bind="visible: !inEditMode()" class="flex-horizontal">
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-bind="click: _.partial(refreshFromServer, true)" title="Refresh">
                    <i class="icon-refresh"></i>
                    <span>Refresh</span>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: enterEditMode" title="Edit database record.">
                    <i class="icon-edit"></i>
                    <span>Edit</span>
                </button>
            </div>
            <div class="toggle">
                <input id="hideEmptyValues" class="margin-left margin-left-lg" type="checkbox" data-bind="checked: hideEmptyValues">
                <label for="hideEmptyValues">Hide empty values</label>
            </div>
        </div>
        <div data-bind="visible: inEditMode()">
            <button type="button" class="btn btn-primary" data-bind="click: save">
                <i class="icon-save"></i>
                <span>Save</span>
            </button>
            <button type="button" class="btn btn-default" data-bind="click: exitEditMode">
                <i class="icon-cancel"></i>
                <span>Cancel</span>
            </button>
        </div>
        <div class="flex-horizontal">
            <div class="flex-grow"></div>
            <button class="btn btn-default btn-sm" data-bind="click: toggleCollapse, css: { 'active': !isDocumentCollapsed() }">
                <i data-bind="attr: { class: isDocumentCollapsed() ? 'icon-unfold' : 'icon-fold'} "></i>
                <span data-bind="text: isDocumentCollapsed() ? 'Expand record' : 'Collapse record'"></span>
            </button>
        </div>
        <pre id="dbDocEditor" class="form-control flex-grow" data-bind="aceEditor: { code: documentText, lang: 'ace/mode/json', readOnly: !inEditMode() }" style="height: 500px"></pre>
    </form>
    <!-- /ko -->
</div>
