<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: cancel" aria-hidden="true">
                <i class="icon-cancel"></i>
            </button>
            <h4 class="modal-title">Enforce Revision Configuration</h4>
        </div>
        <div class="modal-body">
            <div class="toggle">
                <input id="IncludeForceCreated" type="checkbox" data-bind="checked: model.includeForceCreated" />
                <label for="IncludeForceCreated">Include Force Created Revisions</label>
            </div>
            <div class="toggle">
                <input id="Collections" type="checkbox" data-bind="checked: model.includeAllCollections" />
                <label for="Collections">Enforce on all collections</label>
            </div>
            <div data-bind="visible: !collections.length && !model.includeAllCollections()">
                No collections available
            </div>
            <div id="collapseCollections" data-bind="collapse: !model.includeAllCollections(), visible: collections.length">
                <div class="border margin-left-lg">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Select collections:</h4>
                        </div>
                    </div>
                    <hr/>
                    <div class="row limit-height" data-bind="foreach: collections">
                        <div class="col-sm-6">
                            <div class="toggle toggle-info" data-bind="validationOptions: { insertMessages: false }">
                                <input class="styled" type="checkbox" 
                                       data-bind="attr: { id: 'collection_' + $index() }, value: $data, checked: $root.model.includedCollections" />
                                <label data-bind="attr: { for: 'collection_' + $index() }, text: $data">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div data-bind="validationOptions: { errorsAsTitle: false }, validationElement: model.includedCollections">
                        <div class="help-block" data-bind="validationMessage: model.includedCollections"></div>
                    </div>
                </div>
            </div>
            
            <hr />
            
            <div class="margin-top margin-top-lg margin-bottom margin-bottom-lg">
                Clicking <strong>Enforce</strong> will enforce the current revision configuration definitions<br>
                <strong>on all existing revisions</strong> in the database per collection.<br>
                Revisions might be removed depending on the current configuration rules.
            </div>

            <div class="bg-warning text-warning padding padding-sm flex-horizontal">
                <small class="flex-start margin-right"><i class="icon-warning"></i></small>
                <small>
                    For collections without a specific revision configuration:
                    <br />
                    <br />
                    <ul class="no-padding-left">
                        <li>
                            Non-conflicting documents:<br />
                            If Document Defaults are defined & enabled, it will be applied.<br />
                            If not defined, or if disabled, <strong>all non-conflicting document revisions will be deleted</strong>.
                        </li>
                        <br />
                        <li>
                            Conflicting documents:<br />
                            If Conflicting Document Defaults are enabled, it will be applied to conflicting document revisions.
                            If disabled, <strong>all conflicting document revisions will be deleted</strong>.
                        </li>
                    </ul>
                </small>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
            <button type="button" class="btn btn-primary" data-bind="click: confirm">Enforce Revision Configuration</button>
        </div>
    </div>
</div>
