<div class="content-container">
    <form data-bind="submit: saveChanges" novalidate>
        <div class="content-margin">
            <div class="toolbar">
                <button type="submit" class="btn btn-primary" data-bind="enable: isSaveEnabled, css: { 'btn-spinner': spinners.save }, requiredAccess: 'ReadWrite'">
                    <i class="icon-save"></i> <span>Save</span>
                </button>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="panel padding margin-bottom">
                        <div class="toggle">
                            <input id="toggleOverride" class="styled" type="checkbox" data-bind="checked: enabled, requiredAccess: 'ReadWrite', requiredAccessOptions: { strategy: 'disable' }">
                            <label for="toggleOverride">
                                Enable document expiration
                            </label>
                        </div>
                        <div class="flex-horizontal">
                            <div class="flex-start" >
                                <div class="checkbox">
                                    <input id="specifyDeleteFrequency" class="styled" type="checkbox"
                                           data-bind="checked: specifyDeleteFrequency, enable: enabled">
                                    <label for="specifyDeleteFrequency">
                                        Manually specify delete frequency
                                    </label>
                                </div>
                            </div>
                            <div class="flex-grow" data-bind="validationElement: deleteFrequencyInSec">
                                <div class="input-group">
                                    <input class="form-control" type="number" min="0" placeholder="Default (60)" data-bind="numericInput: deleteFrequencyInSec, enable: specifyDeleteFrequency" />
                                    <div class="input-group-addon">
                                        seconds
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="bg-info padding">
                        <div class="flex-horizontal margin-bottom">
                            <div class="flex-start"><i class="icon-info"></i></div>
                            <div>
                                <div> Enabling the document expiration will delete documents whose time has passed. </div>
                                <div>
                                    To set the expiration time, enter the appropriate date in the <code>@expires</code> property in the document's metadata.
                                    The document will automatically be deleted at the specified time.<br/>  
                                    <strong>Note</strong>: RavenDB scans which documents are to be deleted at the frequency specified.<br/>
                                    So actual deletion time can increase by (up to) that value.
                                </div>
                            </div>
                        </div>
                        <pre data-bind="html: expirationSampleFormatted"></pre>
                    </div>
                </div>                
            </div>
        </div>
    </form>
</div>
