<div class="content-container">
    <form data-bind="submit: saveChanges">

        <div class="content-margin">
            <div class="toolbar">
                <button type="submit" class="btn btn-primary" data-bind="enable: isSaveEnabled, css: { 'btn-spinner': spinners.save }">
                    <i class="icon-save"></i> <span>Save</span>
                </button>
            </div>

            
            <div class="row">
                <div class="col-sm-7">
                    <div class="panel padding margin-bottom">
                        <div class="toggle">
                            <input id="toggleOverride" class="styled" type="checkbox" data-bind="checked: enabled">
                            <label for="toggleOverride">
                                Enable document expiration
                            </label>
                        </div>

                        <div class="flex-horizontal">
                            <div class="flex-start" >
                                <div class="checkbox">
                                    <input id="specifyDeleteFrequency" class="styled" type="checkbox"
                                           data-bind="checked: specifyDeleteFrequency, enable: enabled">
                                    <label for="specifyDeleteFrequency">
                                        Manually specify delete frequency (in seconds)
                                    </label>
                                </div>
                            </div>
                            <div class="flex-grow" data-bind="validationElement: deleteFrequencyInSec">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Default (60)" data-bind="numericInput: deleteFrequencyInSec, enable: specifyDeleteFrequency" />
                                    <div class="input-group-addon">
                                        seconds
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="bg-info padding flex-horizontal">
                        <div class="flex-start"><i class="icon-info"></i></div>
                        <div>
                            <div> Expiration serves a very simple purpose: it deletes the documents whose time passed. </div>
                            <div>
                                All you need to do is to set the <code>@expires</code> property in metadata
                                for the appropriate date, and, at the specified time, the document will be automatically deleted.
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </form>

</div>
