<div class="content-container">
    <form data-bind="submit: saveChanges" novalidate>
        <div class="content-margin">
            <div class="toolbar">
                <button type="submit" class="btn btn-primary" data-bind="enable: isSaveEnabled, css: { 'btn-spinner': spinners.save }, requiredAccess: 'Admin'">
                    <i class="icon-save"></i> <span>Save</span>
                </button>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="panel padding margin-bottom">
                        <div class="toggle">
                            <input id="toggleOverride" class="styled" type="checkbox" data-bind="checked: enabled, requiredAccess: 'Admin', requiredAccessOptions: { strategy: 'disable' }">
                            <label for="toggleOverride">
                                Enable document refresh
                            </label>
                        </div>
                        <div class="flex-horizontal">
                            <div class="flex-start" >
                                <div class="checkbox">
                                    <input id="specifyRefreshFrequency" class="styled" type="checkbox"
                                           data-bind="checked: specifyRefreshFrequency, enable: enabled">
                                    <label for="specifyRefreshFrequency">
                                        Manually specify refresh frequency
                                    </label>
                                </div>
                            </div>
                            <div class="flex-grow" data-bind="validationElement: refreshFrequencyInSec">
                                <div class="input-group">
                                    <input class="form-control" type="number" min="0" placeholder="Default (60)" data-bind="numericInput: refreshFrequencyInSec, enable: specifyRefreshFrequency" />
                                    <div class="input-group-addon">
                                        seconds
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="bg-info padding">
                        <div class="flex-horizontal margin-bottom">
                            <div class="flex-start"><i class="icon-info"></i></div>
                            <div>
                                <p>
                                    Enabling <strong>'Document Refresh'</strong> will refresh documents that have a <code>@refresh</code> flag in the metadata at the time specified by the flag.<br>
                                    At that time RavenDB will <strong>remove</strong> the <code>@refresh</code> flag causing the document to automatically update.<br>
                                </p>
                                <p>
                                    As a result, and depending on your tasks and indexing configuration:
                                    <ul>
                                        <li>A document will be re-indexed </li>
                                        <li>Ongoing-tasks such as Replication, ETL, Subscriptions, etc. will be triggered</li>
                                    </ul>
                                </p>
                                <p> 
                                    <strong>To set the refresh time:</strong> enter the appropriate date in the metadata <code>@refresh</code> property.
                                </p>
                                <p>
                                    <strong>Note:</strong> RavenDB scans which documents should be refreshed at the frequency specified.<br>
                                    The actual refresh time can increase (up to) that value.
                                </p>
                            </div>
                        </div>
                        <pre data-bind="html: refreshSampleFormatted"></pre>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
