<form role="form" class="revisions flex-vertical absolute-fill content-margin" data-bind="submit: saveChanges" novalidate autocomplete="off">
    <div class="row flex-row flex-grow flex-stretch-items">
        <div class="col-sm-12 col-lg-8">
            <div class="flex-header flex-horizontal" data-bind="requiredAccess: 'ReadWrite'">
                <div class="form-inline">
                    <div class="checkbox checkbox-primary checkbox-inline align-checkboxes" title="Select all or none">
                        <input type="checkbox" class="styled" data-bind="checkboxTriple: selectionState, event: { change: toggleSelectAll }" />
                        <label></label>
                    </div>
                    <div class="toolbar-actions">
                        <div class="btn-group btn-group-label" data-label="Selection" data-bind="css: { active: selectedItems().length }">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bind="enable: selectedItems().length">
                                <i class="icon-play"></i><span>Set status</span>
                                &nbsp;&nbsp;
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-bind="click: enableSelected" title="Enable revisions for this collection">
                                        <i class="icon-play"></i><span>Enable</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-bind="click: disableSelected" title="Disable revisions for this collection">
                                        <i class="icon-stop"></i><span>Disable</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <button type="submit" class="btn btn-primary" title="Save Changes" 
                                data-bind="enable: isSaveEnabled, css: { 'btn-spinner': spinners.save() }">
                            <i class="icon-save"></i> <span>Save</span>
                        </button>
                    </div>
                </div>
                <div class="flex-separator"></div>
                <div>
                    <a class="btn btn-default" data-bind="attr: { href: revertRevisionsUrl }" title="Revert all documents in the database to a specific point in time">
                        <i class="icon-revert-revisions"></i><span>Revert Revisions</span>
                    </a>
                </div>
                <div>
                    <button class="btn btn-default" data-bind="click: enforceConfiguration, 
                         disable: isSaveEnabled(),
                         attr: { title: enforceButtonTitle }">
                        <i class="icon-revisions"></i><span>Enforce Configuration</span>
                    </button>
                </div>
            </div>
            <div class="scroll flex-grow margin-top margin-top-lg">
                <div class="hr-title margin-top">
                    <h5 class="no-text-transform">
                        <i class="icon-default"></i>
                        <span>Defaults</span>
                    </h5><hr>
                </div>
                <div data-bind="with: defaultDocumentConfiguration" class="margin-top">
                    <div class="panel panel-info panel-state revisions-item" data-bind="css: { active: $data === $root.currentBackingItem() }, template: { name: 'revisions-config-item-template' }">
                    </div>
                </div>
                <div data-bind="with: defaultConflictConfiguration">
                    <div class="panel panel-state panel-info revisions-item" data-bind="css: { active: $data === $root.currentBackingItem() }, template: { name: 'revisions-config-item-template' }">
                    </div>
                </div>
                <div class="hr-title margin-top">
                    <h5 class="no-text-transform">
                        <i class="icon-folder"></i>
                        <span>Collections</span>
                    </h5><hr>
                </div>
                <div class="margin-top margin-top-lg text-muted text-center" data-bind="visible: perCollectionConfigurations().length === 0">
                        <i class="icon-lg icon-empty-set"></i>
                        <h3>No collection specific configuration has been defined.</h3>
                </div>
                <div data-bind="foreach: perCollectionConfigurations">
                    <div class="panel panel-state revisions-item panel-hover" data-bind="css: { active: $data === $root.currentBackingItem() }, template: { name: 'revisions-config-item-template' }">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4" data-bind="requiredAccess: 'ReadWrite'">
            <div class="flex-header">
                <span class="has-disable-reason" data-bind="attr: { 'data-original-title': defaultDocumentConfiguration() ? 'Default document configuration has been created' : '' }">
                    <button class="btn btn-info" data-bind="click: createDefaultConfiguration, disable: defaultDocumentConfiguration()" 
                            title="Create a default revision configuration for all (non-conflicting) documents">
                        <i class="icon-settings"></i>
                        <span>Create document defaults</span>
                    </button>
                </span>
                <button class="btn btn-default" data-bind="click: addCollectionSpecificConfiguration" 
                        title="Create a revision configuration for a specific collection">
                    <i class="icon-plus"></i>
                    <span>Add a collection specific configuration</span>
                </button>
            </div>
            <div class="pick-item-to-edit" data-bind="visible: !currentlyEditedItem()">
                <div class="padding absolute-center">
                    <h2 class="text-center text-muted">Add new <br />or edit existing one</h2>
                </div>
            </div>
            <div data-bind="with: currentlyEditedItem">
                <div class="panel padding edit-panel">
                    <div class="flex-horizontal">
                        <h3 data-bind="text: isDefault() ? 'Default Document Revisions' : (isConflicts() ? 'Default Conflict Revisions' : 'Collection')" class="margin-right"></h3>
                        <div class="dropdown btn-group flex-grow" data-bind="validationElement: collection, visible: canChangeName">
                            <input class="form-control dropdown-toggle" placeholder="Select collection" data-toggle="dropdown" data-bind="textInput: collection, attr: { id: 'collectionNameInput' }" />
                            <span class="caret dropdown-toggle" data-toggle="dropdown"></span>
                            <ul class="dropdown-menu" role="menu" style="display: none;" data-bind="autoComplete: '#' + 'collectionNameInput', foreach: $root.createCollectionNameAutocompleter($data)">
                                <li role="presentation" data-bind="click: $parent.collection.bind($parent, $data)">
                                    <a role="menuitem" tabindex="-1" href="#">
                                        <span data-bind="text: $data"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="toggle toggle-primary">
                        <input id="purge" class="styled" type="checkbox" data-bind="checked: purgeOnDelete">
                        <label for="purge">
                            Purge on delete
                        </label>
                    </div>
                    <div class="toggle toggle-primary">
                        <input id="limitRevisions" class="styled" type="checkbox" data-bind="checked: limitRevisions">
                        <label for="limitRevisions">
                            Limit # of revisions
                        </label>
                    </div>
                    <div class="toggle-margin" data-bind="collapse: limitRevisions, validationElement: minimumRevisionsToKeep">
                        <small>Minimum revisions to keep</small>
                        <input type="number" min="0" class="form-control" placeholder="0" data-bind="numericInput: minimumRevisionsToKeep" />
                    </div>
                    <div class="toggle toggle-primary">
                        <input id="limitRevisionsByAge" class="styled" type="checkbox" data-bind="checked: limitRevisionsByAge">
                        <label for="limitRevisionsByAge">
                            Limit # of revisions by age
                        </label>
                    </div>
                    <div id="limitRevisionsParametersByAge" class="toggle-margin collapse" data-bind="collapse: limitRevisionsByAge, validationElement: minimumRevisionAgeToKeep">
                        <small>Minimum retention time</small>
                        <input type="text" class="form-control" data-bind="durationPicker: minimumRevisionAgeToKeep, durationPickerOptions: { showDays: true, showSeconds: true }" />
                    </div>
                    <div class="bg-info padding padding-sm small flex-horizontal margin-top" data-bind="visible: humaneRetentionDescription">
                        <div class="flex-start"><i class="icon-info"></i></div>
                        <div data-bind="html: humaneRetentionDescription"></div>
                    </div>
                    <div class="text-right margin-top">
                        <button class="btn btn-success" data-bind="click: $root.applyChanges"><i class="icon-check"></i><span>OK</span></button>
                        <button class="btn btn-default" data-bind="click: $root.exitEditMode"><i class="icon-cancel"></i><span>Cancel</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/html" id="revisions-config-item-template">
    <div class="state" data-bind="attr: { 'data-state-text': disabled() ? 'disabled' : 'enabled' }, css: { 'state-success': !disabled(), 'state-warning': disabled() }"></div>
    <div class="padding padding-sm flex-horizontal">
        <div class="checkbox" data-bind="requiredAccess: 'ReadWrite'">
            <input type="checkbox" class="styled" data-bind="checked: $root.selectedItems, checkedValue: $data">
            <label></label>
        </div>
        <div class="name flex-horizontal flex-grow">
            <h3 data-bind="attr: { title: name }">
                <span data-bind="text: name"></span>
            </h3>
        </div>
        <div class="flex-grow">
            <ul class="properties">
                <li data-bind="visible: purgeOnDelete"><i class="icon-empty-set"></i><span>Purge on delete</span></li>
                <li data-bind="visible: limitRevisions"><i class="icon-documents"></i><span>Minimum revisions to keep: <span data-bind="text: minimumRevisionsToKeep"></span></span></li>
                <li data-bind="visible: limitRevisionsByAge"><i class="icon-clock"></i><span>Minimum retention time: <span data-bind="text: $root.formattedDurationObservable(minimumRevisionAgeToKeep)"></span></span></li>
            </ul>
        </div>
        <div class="actions-container">
            <div class="actions">
                <i class="icon-info text-info margin-right margin-right-sm conflict-defaults-info" data-placement="left" data-bind="visible: isConflicts()"></i>
                <i class="icon-info text-info margin-right margin-right-sm document-defaults-info" data-placement="left" data-bind="visible: isDefault()"></i>
                <button class="btn btn-default" data-bind="visible: !disabled(), click: $root.disableConfiguration, requiredAccess: 'ReadWrite', requiredAccessOptions: { strategy: 'disable' }"
                        title="Click to disable this revision configuration">
                    <i class="icon-stop"></i><span>Disable</span>
                </button>
                <button class="btn btn-success" data-bind="visible: disabled, click: $root.enableConfiguration, requiredAccess: 'ReadWrite', requiredAccessOptions: { strategy: 'disable' }"
                        title="Click to enable this revision configuration">
                    <i class="icon-play"></i><span>Enable</span>
                </button>
                <button class="btn btn-default" data-bind="click: $root.editItem, requiredAccess: 'ReadWrite'" title="Edit this revision configuration">
                    <i class="icon-edit"></i>
                </button>
                <button class="btn btn-danger" data-bind="click: $root.deleteItem, style: { visibility: isConflicts() ? 'hidden' : 'visible' }, requiredAccess: 'ReadWrite'"
                        title="Delete this revision configuration">
                    <i class="icon-trash"></i>
                </button>
            </div>
        </div>
    </div>
</script>
