<div class="content-container studio-configuration">
    <form class="flex-form" data-bind="submit: saveConfiguration" novalidate>
        <div class="content-margin">
            <div class="toolbar no-margin">
                <button type="submit" class="btn btn-primary"
                        data-bind="disable: spinners.save() || !$root.dirtyFlag().isDirty(), css: { 'btn-spinner': spinners.save }, requiredAccess: 'DatabaseAdmin'">
                    <i class="icon-save"></i><span>Save</span>
                </button>
            </div>
            <div class="row flex-row">
                <div class="col-xs-12 col-lg-6 flex-vertical">
                    <div class="margin-bottom margin-bottom-xs flex-horizontal">
                        <div class="flex-separator"></div>
                        <small title="Navigate to the server-wide Studio Configuration View">
                            <a target="_blank" data-bind="attr: { href: serverWideStudioConfigurationUrl }, visible: canNavigateToServerSettings">
                                <i class="icon-link"></i>Go to Server-Wide Studio Configuration View
                            </a>
                        </small>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group margin-top margin-bottom">
                                <label class="control-label">Environment</label>
                                <div style="position: relative">
                                    <button class="btn btn-block dropdown-toggle" type="button" data-toggle="dropdown"
                                            data-bind="requiredAccess: 'DatabaseAdmin', requiredAccessOptions: { strategy: 'disable' }">
                                        <span data-bind="text: model.environment"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" data-bind="foreach: $root.constructor.environments">
                                        <li><a href="#" data-bind="text: $data, click: $parent.model.environment.bind($parent.model.environment, $data)"></a></li>
                                    </ul>
                                    <span class="help-block" data-bind="validationMessage: model.environment"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group margin-left-lg">
                                <div class="toggle margin-top disable-auto-index margin-left-lg" data-placement="right" data-toggle="tooltip" data-animation="true">
                                    <input id="disableAutoIndex" type="checkbox" data-bind="checked: model.disableAutoIndexCreation" />
                                    <label for="disableAutoIndex">Disable creating new Auto-Indexes</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
