<section class="content-margin versioning">

    <form class="versioning-settings-form flex-vertical absolute-fill" role="form" data-bind="submit: saveChanges">
        <div class="toolbar flex-header">
            <button type="submit" class="btn btn-primary" title="Save Changes" data-bind="enable: isSaveEnabled, css: { 'btn-spinner': spinners.save() }">
                <i class="icon-save"></i> <span>Save</span>
            </button>

            <span class="has-disable-reason" data-bind="attr: { 'data-original-title': versioningEnabled() ? '' : 'Enable versioning first' }">
                <button type="button" class="btn btn-default" data-bind="click: createNewVersioning, enable: versioningEnabled" title="Add collection specific collection configuration">
                    <i class="icon-plus"></i> <span>Add configuration</span>
                </button>
            </span>
        </div>

        <div class="flex-grow scroll">

            <div class="panel panel-info">
                <div class="padding padding-sm">
                    <div class="versioning-item">
                        <div class="versioning-enable">
                            <div class="toggle">
                                <input id="enableVersioning" class="styled" type="checkbox" data-bind="checked: versioningEnabled">
                                <label for="enableVersioning">
                                    Enable
                                </label>
                            </div>
                        </div>
                        <div class="versioning-purge">
                            <div class="toggle">
                                <input id="purgeOnDelete" class="styled" type="checkbox" data-bind="enable: versioningEnabled, checked: defaultVersioning().purgeOnDelete">
                                <label for="purgeOnDelete">
                                    Purge on delete
                                </label>
                            </div>
                        </div>
                        <div class="versioning-revisions">
                            <div class="input-group">
                                <span class="input-group-addon">Max revisions</span>
                                <input type="number" class="form-control" placeholder="0" data-bind="enable: versioningEnabled, numericValue: defaultVersioning().maxRevisions, valueUpdate: 'afterkeydown'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" data-bind="visible: versionings().length == 0">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                    <i class="icon-xl icon-empty-set text-muted"></i>
                    <h2 class="text-center">No collection specific configuration have been created.</h2>
                </div>
            </div>

            <div data-bind="foreach: versionings, visible: versioningEnabled">
                <div class="panel panel-default">
                    <div class="padding padding-sm">
                        <div class="versioning-item">
                            <div class="versioning-enable">
                                <div class="dropdown" data-bind="validationElement: collection">
                                    <input class="form-control dropdown-toggle" placeholder="Select collection" data-toggle="dropdown" data-bind="textInput: collection, attr: { id: 'collectionName' + $index(), }" />
                                    <span class="caret dropdown-toggle" data-toggle="dropdown"></span>
                                    <ul class="dropdown-menu" role="menu" style="display: none;" data-bind="autoComplete: '#' + 'collectionName' + $index(), foreach: $root.createCollectionNameAutocompleter($data)">
                                        <li role="presentation" data-bind="click: $parent.collection.bind($parent, $data)">
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <span data-bind="text: $data"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="versioning-purge">
                                <div class="toggle">
                                    <input class="styled" type="checkbox" data-bind="checked: purgeOnDelete, attr: { id : 'collectionPurge' + $index() }">
                                    <label data-bind="attr: { for: 'collectionPurge' + $index() }">
                                        Purge on delete
                                    </label>
                                </div>
                            </div>
                            <div class="versioning-revisions">
                                <div class="input-group">
                                    <span class="input-group-addon">Max revisions</span>
                                    <input type="number" class="form-control" placeholder="0" data-bind="numericValue: maxRevisions, valueUpdate: 'afterkeyup', enable: !isDefault()">
                                </div>
                            </div>
                            <div class="flex-separator"></div>
                            <div class="versioning-remove">
                                <button class="btn btn-danger" data-bind="click: $root.removeVersioning, visible: !isDefault()" title="Remove versioning configuration for this collection">
                                    <i class="icon-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
