@use "Content/scss/colors";

.split-view {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;

    .split-view-body {
        flex-grow: 1;
        min-width: 0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .split-view-panel {
        height: 100%;
        display: flex;
        flex-direction: column;
        border-left: 1px solid colors.$border-color-light-var;
        background-color: colors.$panel-bg-1-var;
        transition: border-left-color 0.2s ease-in-out;

        &.is-dragging {
            border-left-color: colors.$border-color-var;
        }
    }
}
