@use "Content/scss/colors";
@use "Content/scss/sizes";

//TODO move to utils?
.popover {
    &.rounded {
        background-color: transparent;
        border: none;
        border-radius: sizes.$gutter-xs;
        box-shadow: 0 2px 10px 2px colors.$black;
        padding: 0;

        .popover-content {
            border-radius: sizes.$gutter-xs;
            padding: 0;
            overflow: hidden;
        }
    }
}

.indexes {
    .sticky-header {
        position: sticky;
        top: 0;
        margin: sizes.$gutter*-1;
        margin-bottom: 0;
        padding: sizes.$gutter;
        background-color: rgba(colors.$body-bg, .9);
        z-index: 1000;
        backdrop-filter: blur(2px);
    }

    h2 {
        margin-top: sizes.$gutter-sm;
        margin-bottom: sizes.$gutter-xs;
    }

    .indexes-list {
        .index-name {
            margin: 0;
            flex-grow: 1;
            margin-right: sizes.$gutter;
        }

        .index-properties {
            .properties-value {
                margin-right: sizes.$gutter-sm;

                .dropdown-toggle {
                    color: colors.$color-4;
                }
            }
        }
        
        .index-sidebyside {
            border-left: 31px solid #d2923d;
        }
        
        .sidebyside-actions {
            .panel {
                margin-bottom: 0;
            }
        }
    }
}
