@use 'sass:math';
@use "Content/scss/variables";
@use "Content/scss/colors";
@use "Content/scss/sizes";

.popover {
    &.rounded {
        background-color: transparent;
        border: none;
        border-radius: sizes.$gutter-xs;
        box-shadow: 0 2px 10px 2px colors.$black;
        padding: 0;

        .popover-content {
            border-radius: sizes.$gutter-xs;
            padding: 0;
            overflow: hidden;
        }
    }
}

.index-tooltip {
    background-color: colors.$gray-700;
    border-radius: sizes.$gutter-xs;
    display: grid;
    grid-template-columns: auto auto;
    z-index: 1000;    
    
    .index-location {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: sizes.$gutter-xs sizes.$gutter-xs;
        margin-right: 1px;
        background-color: colors.$gray-600;
        border-top-left-radius: sizes.$gutter-xs;
        width: 135px;

        & > div:first-of-type {
            font-size: 36px;
            margin-bottom: sizes.$gutter-sm;
        }

        .shard-id, .node-id {
            font-size: 26px;
            font-weight: bold;
            color: colors.$white;
            text-align: center;
            line-height: 1.3em;

            .small-label {
                line-height: 1.4em;
            }

            img {
                width: 1.4em;
            }
        }
    }

    .index-details {
        line-height: 1em;
        border-top-right-radius: sizes.$gutter-xs;
        background-color: colors.$gray-600;
        display: flex;
        flex-direction: column;

        .details-item {
            padding: sizes.$gutter-xs sizes.$gutter-sm;
            font-size: 12px;
            flex-grow: 1;
            display: flex;
            align-items: center;

            & + .details-item {
                border-top: 1px solid colors.$gray-700;
            }

            i {
                margin-right: sizes.$gutter-xxs;
            }

            &.status.updating {
                color: colors.$progress-color;
            }
        }
    }

    .collection-name, .collection-progress {
        padding: sizes.$gutter-xs sizes.$gutter-sm;
    }

    .collection-name {
        font-size: 12px;
        text-align: center;
    }

    .collection-progress {
        display: flex;

        .progress-item {
            font-size: 9px;
            text-transform: uppercase;
            letter-spacing: .15em;

            .progress-percentage {
                font-size: 11px;
            }

            .progress {
                margin-top: 0;
                height: 3px;
                margin-bottom: 0;

                .progress-bar {
                    background-color: colors.$progress-color;
                }
            }

            & + .progress-item {
                margin-left: sizes.$gutter-xs;
            }
        }
    }
}
.indexes {

    .sticky-header {
        position: sticky;
        top: 0;
        margin: sizes.$gutter*-1;
        margin-bottom: 0;
        padding: sizes.$gutter;
        background-color: rgba(colors.$body-bg, .9);
        z-index: 1000;
        backdrop-filter: blur(2px);
    }

    h2 {
        margin-top: sizes.$gutter-sm;
        margin-bottom: sizes.$gutter-xs;
    }

    .indexes-list {
        .index-item {
            background-color: colors.$gray-900;

            & + .index-item {
                margin-top: sizes.$gutter;
            }

            &.index-sidebyside {
                border-left: 31px solid #d2923d;
            }

            .index-header {
                background-color: colors.$gray-800;
                padding: sizes.$gutter-sm;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .index-select {
                    width: sizes.$gutter;
                    height: sizes.$gutter;
                    margin-right: sizes.$gutter-sm;

                    .checkbox {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        position: relative;

                        input.styled {
                            margin: 0 !important;
                            top: 0;
                            width: 100%;
                            height: 100%;
                        }

                        label {
                            position: absolute;
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            top: 0;

                            &::before {
                                width: 100%;
                                height: 100%;
                                left: 0;
                                top: 0;
                                margin-left: 0;
                            }

                            &:after {
                                display: inline;
                                position: relative;
                                width: auto;
                                height: auto;
                                left: auto;
                                top: auto;
                                margin-left: 0;
                                padding-left: 0;
                                padding-top: 0;
                                font-size: 17px;
                            }
                        }
                    }
                }

                .index-name {
                    margin: 0;
                    flex-grow: 1;
                    margin-right: sizes.$gutter;
                }

                .index-properties {
                    .properties-value {
                        margin-right: sizes.$gutter-sm;

                        .dropdown-toggle {
                            color: colors.$color-4;
                        }
                    }
                }

                .actions {
                }
            }

            .index-details {
                padding: sizes.$gutter-xs math.div(sizes.$gutter, 2);
                padding-left: sizes.$gutter-md;
                display: flex;
                border-bottom: 1px solid variables.$hr-border;

                .index-detail-item {
                    padding: sizes.$gutter-xs math.div(sizes.$gutter, 2);
                    display: flex;
                    align-items: center;

                    & > i {
                        margin-right: sizes.$gutter-xxs;
                    }

                    .value {
                        margin-left: sizes.$gutter-xxs;
                        font-weight: bold;
                        color: colors.$white;
                    }
                }
            }
        }

        .sidebyside-actions {
            .panel {
                margin-bottom: 0;
            }
        }
    }
}
