<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id='INSTALLFOLDER'>

			<Component Id="NLog.Ignored.Config.File" Guid="F755CB6F-D081-4357-8D0C-2A4FCDF04CDC">
				<File Id='NLog.Ignored.config' Name='NLog.Ignored.config' DiskId='1' Source='$(var.SolutionDir)\DefaultConfigs\NLog.Ignored.config' KeyPath='yes' />
			</Component>
			
		</DirectoryRef>
	</Fragment>
</Wix>