.backups {
    .manual-backups {
        flex-basis: 0;
        flex-grow: 1;
        overflow: auto;
    }

    .node {
        i + span {
            white-space: nowrap;
            margin-left: 0;
            font-weight: bold;
            font-size: 18px;
            position: relative;
            top: 1px;
        }
    }
}
