.editDocument {

    .documentId {
        font-weight: 300;
        font-size: 25px;
        margin-bottom: 8px;

        .fav-object {
            position: relative;
            top: -5px;
            width: 50%;
        }

        @obj-name-placeholder-color: darken(@gray,10%);

        input.obj-name {
            display:block;
            width:100%;
            line-height:@line-height-computed;
            background-color:transparent;
            padding:4px ;
            border:1px solid @input-border;

            &::-webkit-input-placeholder {
               color: @obj-name-placeholder-color;
            }

            &:-moz-placeholder { 
               color: @obj-name-placeholder-color;  
            }

            &::-moz-placeholder {
               color: @obj-name-placeholder-color;
            }

            &:-ms-input-placeholder {  
               color: @obj-name-placeholder-color; 
            }

            &::placeholder {
                color: @obj-name-placeholder-color;                
            }
        }

        .span.obj-name {
            display:inline-block;
            padding:3px;
        }

        /*
        #obj-name {

            .edit-inline {
                border: 1px solid @gray-dark;
                margin: -1px;

                &:focus {
                    border-color: @brand-primary;
                }
            }

            .btn.edit-button {
                margin-left: 12px;

                .text::before {
                    content: 'Change ID';
                }
            }

            &.edit {
                .btn.edit-button {
                    display: none;
                }
            }
        }*/
    }

    .btn-tabs {
        .doc-related {
            color:#9466d5;
        }
        .doc-collection {
            color:#50b068;;
        }
        .doc-recent {
            color: #198fd1;
        }

        .doc-starred {
            color:#cfa125;
        }
    }
}
