.rename-actions {
    display:none;
}

.show-rename {
    .backdrop {
        .backdrop.show;
    }

    overflow:hidden;

    .rename-show {
        display:none;
    }

    .rename-actions {
        display:table-cell;
    }

    .rename-widget {
        position:relative;
        z-index: @zindex-modal;
    }
}

.edit-index {

    .panel-info {
        background-color: fadeout(@brand-info-dark,60%);
    }

    @media (min-width:@screen-xl) {
        .index-name {
            order:1;
        }
        .index-properties {
            order:2;
        }

        .index-actions {
            order:3;
        }
    }
}
