.indexes {

    .align-checkboxes {
        margin-left: 20px;
        position: relative;
        top: -2px;
    }

    .vertical-divider {
        position: relative;
        @media (min-width:@screen-sm) and (max-width:@screen-lg-max) {
            margin-left: 20px;
        }

        @media (min-width:@screen-xl) {
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left:0;
                border-left: 1px solid @gray-dark;
            }
        }
    }

    #toggleIndexing {
        .enable-indexing {
            display: none;
        }

        &.disable {
            .disable-indexing {
                display: none;
            }

            .enable-indexing {
                display: inline-block;
            }
        }
    }

    .inline-block {
        display: inline-block;
    }

    .panel {
        padding-left: 30px;
        position: relative;

        &:hover {
            background-color: lighten(@gray-darker, 3%);
            transition: background-color .15s ease;
        }

        .row {
            display: flex;
            flex-wrap: wrap;

            @media (min-width:@screen-sm) {
                .actions {
                    .vcenter;
                    width: 100%;
                    padding: 0 15px;
                }
            }

            @media (min-width:@screen-sm) and (max-width:@screen-lg-max) {
                .info-container {
                    order: 1;
                }

                .properties-container {
                    order: 3;
                }

                .actions-container {
                    order: 2;
                }
            }

            .col-flex {
                padding: 0 15px;
            }
        }

        .index-name, .index-type {
            margin-left: 30px;
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .index-name {
            margin-top: 2px;
        }

        .index-type {
            font-style: italic;
            font-size: 14px;
        }

        .state {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 30px;

            &:before {
                color: @gray-lighter;
                font-size: 12px;
                letter-spacing: .5pt;
                display: block;
                width: 80px;
                text-align: center;
                height: 50px;
                -moz-transform: scale(1) rotate(-90deg) translateX(-15%) translateY(-22%) skewX(0deg) skewY(0deg);
                -webkit-transform: scale(1) rotate(-90deg) translateX(-15%) translateY(-22%) skewX(0deg) skewY(0deg);
                -o-transform: scale(1) rotate(-90deg) translateX(-15%) translateY(-22%) skewX(0deg) skewY(0deg);
                -ms-transform: scale(1) rotate(-90deg) translateX(-15%) translateY(-22%) skewX(0deg) skewY(0deg);
                transform: scale(1) rotate(-90deg) translateX(-15%) translateY(-22%) skewX(0deg) skewY(0deg);
                position: absolute;
                top: 0;
                left: 0;
                transform-orgin: bottom left 0;
            }

            &.state-error {
                background-color: @brand-danger-dark;

                &:before {
                    content: 'ERROR';
                }
            }

            &.state-faulty {
                background-color: @brand-danger-dark;

                &:before {
                    content: 'FAULTY';
                }
            }

            &.state-abandoned {
                background-color: @brand-info-dark;

                &:before {
                    content: 'ABANDONED';
                }
            }

            &.state-normal {
                background-color: @brand-success-dark;

                &:before {
                    content: 'NORMAL';
                }
            }

            &.state-disabled {
                background-color: @brand-warning-dark;

                &:before {
                    content: 'DISABLED';
                }
            }
        }

        .checkbox {
            position: relative;
            margin: 0;
            top: -8px;
            float: left;
        }
    }

    .properies-value, .properies-label {
        display: inline-block;
        .btn-sm;
        width: 140px;

        &.value-only {
            width: auto;
        }

        .caret {
            top: 8px;
        }

        [class^="icon-"], [class*=" icon-"] {
            color: @brand-info;

            & + span {
                margin-left: 9px;
                color: @brand-info;
            }
        }
    }

    .properties-container {
        display:flex;
        flex-wrap:wrap;
    }

    .properties-item {
        @media (min-width:@screen-xl) {
            width:50%;

            &:nth-of-type(1) {
                order:2;
            }
            &:nth-of-type(2) {
                order:4;
            }
            &:nth-of-type(3) {
                order:1;
            }
            &:nth-of-type(4) {
                order:3;
            }
        }

        &.text-success {
            [class^="icon-"], [class*=" icon-"] {
                color: inherit;

                & + span {
                    margin-left: 9px;
                    color: inherit;
                }
            }
        }
    }

    .properies-label {
        width: 70px;
    }
}
