.footer-item {
    .license {
        border: none;
        color: var(--bs-white);

        &.enterprise {
            background-color: var(--license-enterprise);
        }

        &.enterprise-ai {
            background: linear-gradient(135.89deg, #388EE9 0%, #7B51FF 85.4%);
        }

        &.community {
            background-color: var(--license-community);
        }

        &.professional {
            background-color: var(--license-professional);
        }

        &.developer {
            color: var(--bs-dark);
            background-color: var(--license-developer);
        }

        &.no-background {
            background-color: @gray-600; // Default footer background color
        }


        &-status {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            animation: pulse 2s infinite;

            &.valid {
                background-color: @btn-success-bg;
            }

            &.invalid, &.no-license {
                background-color: @btn-danger-bg;
            }

            &.expired {
                background-color: @btn-warning-bg;
            }
        }
    }
    
    .support {
        &.no-support, &.partial-support {
            background-color: @btn-warning-bg;
            border-color: @btn-warning-border;
            color: @brand-warning-light;
        }
        
        &.production-support, &.professional-support {
            background-color: @btn-success-bg;
            border-color: @btn-success-border;
            color: @brand-success-light;
        }
    }
}
