.metricsContainer {
    position: relative;
}

.metricsContainer canvas, .metricsContainer svg {
    position: absolute;
    top: 0;
    left: 0;
}
.brush .extent {
    fill-opacity: .3;
    stroke: @brand-primary;
    fill: @brand-primary;
    shape-rendering: crispEdges;
}

rect.pane {
    fill: none;
    pointer-events: all;
}

.metricsContainer { 
    .tooltip {
        box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.45);
        position: absolute;
        text-align: left;
        background: #2c3333;
        color: #a9adad;
        border: 0px;
        padding:8px 16px;
        border-radius: 2px;
        pointer-events: none;
        opacity:1;
    }
}

.replication-stats {
    .color-definitions {
        .axis {
            color: #546175;
        }
        .gaps {
            color: #ca1c59;
        }
        .brushChartColor {
            color: #37404b;
        }
        .brushChartStrokeColor {
            color: #008cc9;
        }
        .trackBackground {
            color: #2c343a; 
        }
        .separatorLine {
            color: rgba(44, 52, 58, 0.65);
        }
        .trackNameBg {
            color: rgba(57, 67, 79, 0.95);
        }
        .trackNameFg {
            color: #98a7b7;
        }
        .trackDirectionText {
            color: #baa50b;
        }
        .openedTrackArrow {
            color: #ca1c59;
        }
        .closedTrackArrow {
            color: #98a7b7;
        }
        .collectionNameTextColor {
            color: #2c343a;
        }
        .itemWithError {
            color: #98041b;
        }
        
        .tracks {
            .replication {
                color: #0b4971;
            }
            .networkRead {
                color: #046293;
            }
            .networkWrite {
                color: #046293;
            }
            .storageRead {
                color: #66418c;
            }
            .storageWrite {
                color: #66418c;
            }
            .networkDocumentRead {
                color: #0077b5;
            }
            .networkAttachmentRead {
                color: #008cc9;
            }
            .networkTombstoneRead {
                color: #34b3e4;
            }
            .storageDocumentRead {
                color: #0077b5;
            }
            .storageTombstoneRead {
                color: #34b3e4;
            }
            .storageAttachmentRead {
                color: #008cc9;
            }
            .storageCounterRead {
                color: #27b5c9;
            }
        }
    }   
}

.io-stats {
    .main-colors {
        .color-definitions {
            .axis {
                color: #546175; 
            }
            .gaps {
                color: #ca1c59;
            }
            .trackBackground {
                color: #2c343a;
            }
            .trackNameBg {
                color: rgba(57, 67, 79, 0.8);
            }
            .trackNameFg {
                color: #98a7b7;
            }
            .openedTrackArrow {
                color: #ca1c59;
            }
            .closedTrackArrow {
                color: #98a7b7;
            }
            .text {
                color: black;
            }
        }
    }
    
    .event-colors {
        .color-definitions {
            .compression {
                .low {
                    color: #cc23a6;
                }
                .high {
                    color: #5f076f;
                }
            }
            .dataFlush {
                .low {
                    color: #4be3ff;
                }
                .high {
                    color: #0c2c7e;
                }
            }
            .dataSync {
                .low {
                    color: #ffb956;
                }
                .high {
                    color: #cb3900;
                }
            }
            .journalWrite {
                .low {
                    color: #baff4d;
                }
                .high {
                    color: #1e4c0a;
                }
            }
        }
    }
}

@legend-container-width: 200px;
@legend-arrow-border: 6px;
@legend-arrow-color: @color-1;

.arrow-down {
  position: absolute;
  top: 20px; 
  width: 0; 
  height: 0; 
  border-left: @legend-arrow-border solid transparent;
  border-right: @legend-arrow-border solid transparent;
  border-top: @legend-arrow-border solid @legend-arrow-color;
}

.legend-container {
  position: relative;
  width: @legend-container-width;
  float: left;
}

.legend-start-range {
  position: absolute;
  top: 0;
  left: -3px; /* Position inside containing element, the distance from left edge of legend-container */
}

.legend-end-range {
  position: absolute;
  top: 0;
  right: 33px; /* Position inside containing element, the distance from right edge of legend-container */
}

.legend-container img {
  margin-top: 20px;
}

.legend-container div {
  font-size: 12px;
  text-align: center;

  &.legend-title {     
      width: @legend-container-width - 50px;
  }
}
