.metricsContainer {
    position: relative;
}

.metricsContainer canvas, .metricsContainer svg {
    position: absolute;
    top: 0;
    left: 0;
}
.brush .extent {
    fill-opacity: .3;
    stroke: #ca1c59;
    fill: #ca1c59;
    shape-rendering: crispEdges;
}

rect.pane {
    fill: none;
    pointer-events: all;
}

.metricsContainer { 
    .tooltip {
        box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.45);
        position: absolute;
        text-align: left;
        background: #2c3333;
        color: #a9adad;
        border: 0px;
        padding:8px 16px;
        border-radius: 2px;
        pointer-events: none;
        opacity:1;
    }
}

.arrow_down {
  position: absolute;
  top: 20px; 
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #f00;
}

.legend_container {
  position: relative;
  width: 200px;
  float: left;
}

.legend_start_range {
  position: absolute;
  top: 0;
  left: -20px;
  right: 180px;
}

.legend_end_range {
  position: absolute;
  top: 0;
  left: 50px;
  right: -50px;
}

.legend_container img {
  margin-top: 20px;
}

.legend_container div {
  font-size: 12px;
  text-align: center;

  &.legend_title {
      width: 150px;
  }
}            

