.manage-ongoing-tasks {
    .align-checkboxes {
        margin-left: 37px;
    }

    .checkbox {
        margin-right: 0 !important;
        white-space: nowrap;
    }

    .destination-item {
        .checkbox {
            align-self: flex-start;
            margin: 0;
            padding-top: 2px;
        }

        h5 {
            margin-bottom: 3px;
            opacity: .5;
        }

        h4 {
            margin: 0;
        }

        .destination {
            margin-right: @grid-gutter-width/2;
        }
    }
}
