.manage-ongoing-tasks {
    .align-checkboxes {
        margin-left: 37px;
    }

    .node {
        i+span {
            margin-left: 0;
            font-weight: bold;
            font-size: 18px;
            position: relative;
            top:1px;
        }
    }
}
