@controls-width: 130px;

.patch-settings {
    width: @controls-width;
}

.patch-container {
    position: relative;
    display: flex;

    .patch-main {
        width:100%;

    }
    .patch-controls, .query-controls, .test-controls {
        margin-left:@line-height-computed/2;
        flex-basis: @controls-width;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .flex-separator {
            flex-grow: 100;
        }

        .statistics, .test-close {
            align-self: flex-end;
        }
    }

    .test-controls {
        display: none;
    }

    .test-container {
        display: none;
        .slidein-style;
        padding: @grid-gutter-width/2;


        background-color: @gray-darker;
        width: 100%;
        position: absolute;
        top: 100%;
        margin-top:@grid-gutter-width/2;
    }
}

.show-test {

    .backdrop {
        .backdrop.show;
    }

    .patch-title {
        position: relative;
        z-index: 1049;
    }

    .patch-controls {
        display: none;
    }

    .test-controls {
        display: flex;
        position: relative;
        z-index: 1050;
    }

    .patch-source {
        border-color: @brand-primary;
        background-color: @gray-base;
        position: relative;
        z-index: 1051;
        .shadow-style;
    }

    #test-container {
        z-index: 1052;
        position: relative;
        //display: block;
        .shadow-style;
        margin-top: @grid-gutter-width/2;
        margin-bottom: @grid-gutter-width;
    }
}

.results-info {
    small::after {
        content: " and"
    }

    small:last-child:after {
        content: "";
    }
}

.patch-results {
    border: 1px solid @gray-darker;
    /*
    position: absolute;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    */

    tbody {
        overflow-y: auto;
    }

    td, th {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    th {
        &:hover {
            background-color: @gray-darker;
            cursor: pointer;
            span {
                text-decoration: underline;
            }
        }
    }
}
