@controls-width: 130px;

.query-settings {
    width: @controls-width;
}

.query-save {
    .form-control {
        margin-right: -30px;
        opacity: 0;
        transition: opacity .2s cubic-bezier(0, 0.5, 0.5, 1), margin .2s cubic-bezier(0, 0.5, 0.5, 0.99);
    }

    &.active .form-control {
        opacity: 1;
        margin-right: 0px;
    }
}

.query-container {
    display: flex;

    .query-error {
        display: none;

        .help-block {
            margin-bottom: 0;
        }
    }

    .query-main {
        width: 100%;
        position: relative;
    }

    .query-controls {
        margin-top: 83px;
        margin-left: @line-height-computed/2;
        flex-basis: @controls-width;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .flex-separator {
            flex-grow: 100;
        }

        .statistics {
            align-self: flex-end;
        }
    }
}

#queryContainer {
    .virtual-grid {
        .cell {
            &.action-cell {
                text-align: center;

                .btn {
                    font-size: 20px;
                }
            }
        }
    }
    
    svg {
        .levelName {
            fill: @text-emphasis;
            text-anchor: middle;
            font-weight: bold;
            font-size: 28px;
        }
        
        .duration {
            fill: @text-color;
            font-size: 20px;
            text-anchor: middle;
        }
    }
    
    .color-def (@innerName, @color) {
        path {
            &.@{innerName} {
                fill: @color;
            }
        }
        .item-rect {
            &.@{innerName} {
                background-color: @color;
            }
        }
    }
    
    .timings {
        path {
            fill: @gray;
        }

        .item-rect {
            background-color: @gray;
        }
        
        .color-def(~'optimizer', @color-5-3);
        .color-def(~'query', @color-1);
        .color-def(~'retriever', @color-1-2);
        .color-def(~'projection', @color-2);
        .color-def(~'javaScript', @color-2-2);
        .color-def(~'load', @color-3);
        .color-def(~'storage', @color-3-2);
        .color-def(~'lucene', @color-4);
        .color-def(~'includes', @color-4-2);
        .color-def(~'fill', @color-5);
        .color-def(~'gather', @color-5-2);
        .color-def(~'highlightings', @color-1-1);
        .color-def(~'setup', @color-1-3);
        .color-def(~'explanations', @color-2-1);
        .color-def(~'staleness', @color-2-3);
    }
}

.results-error {
    position: absolute;
    bottom: 0;
    width: 100%;
    .help-block {
        margin-bottom: 0;
    }
    z-index: 1000;
}

.show-add-filter {
    .query-error {
        position: absolute;
        bottom: 100%;
        width: 100%;
        display: block;
        z-index: @zindex-modal;
    }

    .backdrop {
        .backdrop.show;
    }

    .query-title, .run-query, .query-editor {
        position: relative;
        z-index: @zindex-modal;
    }

    .run-query {
        margin-top: 10px;
    }

    .query-source {        
        background-color: @gray-base;
        position: relative;
        z-index: @zindex-modal;
        margin-bottom: 0;
        .shadow-style;
    }

    .add-filter {
        z-index: @zindex-modal;
        display: block;
        .shadow-style;
    }
}

.results-info {
    small::after {
        content: " and"
    }

    small:last-child:after {
        content: "";
    }
}

.query-results-container {
    min-height: 500px;

    .js-time-series-graph-container > div {
        overflow-x: hidden;
    }

    .graph-container {
        overflow: hidden;
        padding: 0;

        .node-name {
            text-anchor: middle;
            pointer-events: none;
            font-size: 12px;
        }

        .node {
            .lock-icon {
                font-size: 10px;
                text-anchor: middle;
                opacity: 0;
                transition: opacity 0.3s;
            }

            &.locked {
                .lock-icon {
                    opacity: 0.4;
                    fill: white;
                }
            }
        }

        .node-bg {
            cursor: pointer;
            stroke: black;
            stroke-opacity: 0.4;

            &.color-1 {
                fill: @color-1;
                stroke: darken(@color-1, 10%);
            }

            &.color-2 {
                fill: @color-1-2;
                stroke: darken(@color-1-2, 10%);
            }

            &.color-3 {
                fill: @color-2;
                stroke: darken(@color-2, 10%);
            }

            &.color-4 {
                fill: @color-2-2;
                stroke: darken(@color-2-2, 10%);
            }

            &.color-5 {
                fill: @color-3;
                stroke: darken(@color-3, 10%);
            }

            &.color-6 {
                fill: @color-3;
                stroke: darken(@color-3-3, 10%);
            }

            &.color-7 {
                fill: @color-4;
                stroke: darken(@color-4, 10%);
            }

            &.color-8 {
                fill: @color-4-2;
                stroke: darken(@color-4-2, 10%);
            }

            &.color-9 {
                fill: @color-5;
                stroke: darken(@color-5, 10%);
            }

            &.color-10 {
                fill: @color-5-2;
                stroke: darken(@color-5-2, 10%);
            }
        }

        .edges {
            path {
                stroke-width: 2px;
                stroke: @text-color;
                fill: @text-color;
            }

            .edgePath {
                fill: none;
                stroke: none;
            }

            .edgeLabel {
                text-anchor: middle;
                fill: @text-color;
            }
        }
    }
}

.query-results {
    border: 1px solid @gray-darker;
    /*
    position: absolute;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    */

    tbody {
        overflow-y: auto;
    }

    td, th {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    th {
        &:hover {
            background-color: @gray-darker;
            cursor: pointer;
            span {
                text-decoration: underline;
            }
        }
    }
}

.js-timings-container {

    .toggle {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .from-cache {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    #container {
        background-color: pink;
        fill: hotpink;

        .levelName {
            color: @text-emphasis;
        }

        .duration {
            color: @text-color;
        }
    }

    .legend {
        position: absolute;
        top: 40px;
        left: 0;

        .item-rect {
            width: 12px;
            height: 12px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
        }

        .legend-item {
            padding-left: 20px;

            .name {
                display: inline-block;
                width: 200px;
            }

            .duration {
                display: inline-block;
                text-align: right;
                width: 85px;
            }

            .legend-item {
                .name {
                    width: 180px;
                }

                .legend-item {
                    .name {
                        width: 160px;
                    }

                    .legend-item {
                        .name {
                            width: 140px;
                        }
                    }
                }
            }
        }
    }
}

.tabs-menu {
    .tooltip-inner {
        min-width: 100%;
        max-width: 350px;
        word-wrap: break-word;
    }
    
    .document-id {
        font-weight: 700;
    }
}
