.queryPlan {
    .overlay {
        fill: none;
        pointer-events: all;
    }
    .execution-type-icon {
        fill: white;
        font-size: 38px;
        alignment-baseline: central;
    }
    
    .direction-type-icon {
        fill: @color-green-success; 
        font-size: 24px;
        alignment-baseline: central;
    }
    
    .order-type-icon {
        fill: @color-green-success; 
        font-size: 24px;
        alignment-baseline: central;
    }

    .nodeContainer {
        fill: #1e1f2b; // TODO: replace with variables
    }

    .header {
        fill: #353742; // TODO: replace with variables 
    }

    .link {
        fill:none;
        stroke-width:2;
        stroke-miterlimit: 10;
        vector-effect: non-scaling-stroke;

        &.level-0 {
            stroke: @color-2;
        }
        
        &.level-1 {
            stroke: @color-3;
        }

        &.level-2 {
            stroke: @color-3-2;
        }

        &.level-3 {
            stroke: @color-4;
        }

        &.level-4 {
            stroke: @color-4-2;
        }

        &.level-5 {
            stroke: @color-5;
        }

        &.level-6 {
            stroke: @color-5-2;
        }

        &.level-7 {
            stroke: @color-1;
        }
    }
    
    .parameter {
        cursor: default; 
        fill-opacity: 1;
        transition: fill-opacity .2s ease;
        
        fill: @text-color;
        font-size: 16px;
        alignment-baseline: middle;
    }
    
    .title {
        cursor: default;
        font-size: 20px;
        fill: @text-color;
    }
}
