.setup-shell {
    height: auto;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    #applicationHost {
        background: #22252b;
        background: -moz-linear-gradient(to top, rgb(255, 13, 95) 0, rgba(202,28,89,1) 30px, rgb(161, 31, 76) 70px, rgba(34,37,43,1) 190px);
        background: -webkit-linear-gradient(to top, rgb(255, 13, 95) 0, rgba(202,28,89,1) 30px, rgb(161, 31, 76) 70px, rgba(34,37,43,1) 190px);
        background: linear-gradient(to top, rgb(255, 13, 95) 0, rgba(202,28,89,1) 30px, rgb(161, 31, 76) 70px, rgba(34,37,43,1) 190px);
        padding-bottom: 60px;
    }

    #applicationHost, #page-host {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .content-container {
        overflow-y: visible;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .container {
        max-width: 1100px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .btn-icon {
        min-height: 210px;
        display: block;
        width: 100%;
    }

    .icon-xl {
        margin-top: @grid-gutter-width/2;
        padding-top: @grid-gutter-width;
        padding-bottom: @grid-gutter-width/2;

        &:before {
            font-size: 80px
        }
    }

    .icon-xl + .lead {
        margin-bottom: @grid-gutter-width/2;
        white-space: initial;
        font-size: 18px;
    }

    .list {
        margin-top: @grid-gutter-width/2;
        list-style: none;
        padding: 0;
        font-size: 13px;

        .icon-plus {
            color: @brand-success;
        }

        .icon-minus {
            color: @brand-warning;
        }
    }

    footer.status-footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;

        .footer-item > div {
            padding: @grid-gutter-width/8 @grid-gutter-width/2;
        }
    }
}
