.setup-shell {
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: #22252b;
    background: -moz-linear-gradient(to top, rgb(255, 13, 95) 0, rgba(202,28,89,1) 30px, rgb(161, 31, 76) 70px, rgba(34,37,43,1) 190px);
    background: -webkit-linear-gradient(to top, rgb(255, 13, 95) 0, rgba(202,28,89,1) 30px, rgb(161, 31, 76) 70px, rgba(34,37,43,1) 190px);
    background: linear-gradient(to top, rgb(255, 13, 95) 0, rgba(202,28,89,1) 30px, rgb(161, 31, 76) 70px, rgba(34,37,43,1) 190px);

    #applicationHost, #page-host {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .content-container {
        overflow-y: visible;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .container {
        max-width: 1100px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .btn-block {
        min-height: 170px;
    }

    .list {
        margin-top: @grid-gutter-width/2;
        list-style: none;
        padding: 0;
        font-size: 13px;

        .icon-plus {
            color: @brand-success;
        }

        .icon-minus {
            color: @brand-warning;
        }
    }
}
