@chart-documents-color: #66418c;
@chart-index-color: #14717b;
@chart-indexes-color: #219aa0;
@chart-subscriptions-color: #d1711b;
@chart-configuration-color: #c73774;
@chart-free-color: @gray-darker;
@chart-buffers-color: #435d78;
@chart-data-color: #8d6cab;
@chart-tables-color: #7cb82f;
@chart-table_data-color: #4dcb80;
@chart-table-color: #e69c41;
@chart-tree-color: #af1923;
@chart-trees-color: #dd5143;
@chart-jurnal-color: #046293;
@chart-jurnals-color: #008cc9;
@chart-structure-color: #80ced0;

#storage-report {

    .chart-tooltip {
        box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.45);
        position: absolute;
        text-align: center;
        background: @gray-darker;
        color: @text-color;
        border: 0px;
        padding: 8px 16px;
        border-radius: 2px;
        pointer-events: none;
        opacity: 1;
        z-index: @zindex-tooltip;
    }


    #storage-report-container {
        position: relative;
        transition:background .2s ease;

        &.processing {
            pointer-events:none;
            .global-spinner;  
            background:fadeout(@gray-darker,50%);          

            &:before {
                .vcenter;
                margin-right:-22px;
                margin-top:-22px;
            }

            .chart {
                opacity:.1;
            }
        }
    }


    .chart {
        transition: opacity .2s ease;
        width: 100%;
        height: 40vh;
        font-size: 12px;
    }

    rect.parent {
        cursor: pointer;
        fill: steelblue;
    }

    .free text {
        fill: white;
    }

    .cell {
        &.documents {
            fill: @chart-documents-color;

            &:hover {
                fill: lighten(@chart-documents-color,5%);
            }
        }

        &.index {
            fill: @chart-index-color;

            &:hover {
                fill: lighten(@chart-index-color,5%);
            }
        }

        &.subscriptions {
            fill: @chart-subscriptions-color;

            &:hover {
                fill: lighten(@chart-subscriptions-color,5%);
            }
        }

        &.configuration {
            fill: @chart-configuration-color;

            &:hover {
                fill: lighten(@chart-configuration-color,5%);
            }
        }

        &.free {
            fill: @chart-free-color;

            &:hover {
                fill: lighten(@chart-free-color,5%);
            }
        }

        &.buffers {
            fill: @chart-buffers-color;

            &:hover {
                fill: lighten(@chart-buffers-color,5%);
            }
        }

        &.data {
            fill: @chart-data-color;

            &:hover {
                fill: lighten(@chart-data-color,5%);
            }
        }

        &.tables {
            fill: @chart-tables-color;

            &:hover {
                fill: lighten(@chart-tables-color,5%);
            }
        }

        &.table_data {
            fill: @chart-table_data-color;

            &:hover {
                fill: lighten(@chart-table_data-color,5%);
            }
        }

        &.table {
            fill: @chart-table-color;

            &:hover {
                fill: lighten(@chart-table-color,5%);
            }
        }

        &.tree {
            fill: @chart-tree-color;

            &:hover {
                fill: lighten(@chart-tree-color,5%);
            }
        }

        &.trees {
            fill: @chart-trees-color;

            &:hover {
                fill: lighten(@chart-trees-color,5%);
            }
        }

        &.journal {
            fill: @chart-jurnal-color;

            &:hover {
                fill: lighten(@chart-jurnal-color,5%);
            }
        }

        &.journals {
            fill: @chart-jurnals-color;

            &:hover {
                fill: lighten(@chart-jurnals-color,5%);
            }
        }

        &.indexes {
            fill: @chart-indexes-color;

            &:hover {
                fill: lighten(@chart-indexes-color,5%);
            }
        }

        &.structure {
            fill: @chart-structure-color;

            &:hover {
                fill: lighten(@chart-structure-color,5%);
            }
        }

        rect {
            fill-opacity: 1;
            stroke: transparent;
            stroke-linejoin: miter;
        }

        text {
            font-weight: bold;
            fill: @gray-lighter;
            pointer-events: none;
            font-size: 12px;
        }

        &:hover {
            rect {
            }

            text {
                fill: @gray-lighter;
            }
        }
    }

    .current-path {
        a {
            padding: 2px 10px;
            background-color: @brand-primary;
            color:@gray-lighter;
            display: inline-block;
            font-size: 12px;            
            margin-bottom:0;
            width:auto;
            text-shadow: 0 0 1px rgba(0,0,0,.3), 0 0 5px rgba(0,0,0,.5);
            small {
                display:block;
                margin-bottom: -6px;
                color:@gray-lighter;
                opacity:.8;
                font-weight:bold;
                text-transform:uppercase;
                font-size:11px;
            }

            span {
                display:block;                
            }

            &.documents {
                background-color: @chart-documents-color;

                &:hover {
                    background-color: lighten(@chart-documents-color,5%);
                }
            }

            &.index {
                background-color: @chart-index-color;

                &:hover {
                    background-color: lighten(@chart-index-color,5%);
                }
            }

            &.subscriptions {
                background-color: @chart-subscriptions-color;

                &:hover {
                    background-color: lighten(@chart-subscriptions-color,5%);
                }
            }

            &.configuration {
                background-color: @chart-configuration-color;

                &:hover {
                    background-color: lighten(@chart-configuration-color,5%);
                }
            }

            &.free {
                background-color: @chart-free-color;

                &:hover {
                    background-color: lighten(@chart-free-color,5%);
                }
            }

            &.buffers {
                background-color: @chart-buffers-color;

                &:hover {
                    background-color: lighten(@chart-buffers-color,5%);
                }
            }

            &.data {
                background-color: @chart-data-color;

                &:hover {
                    background-color: lighten(@chart-data-color,5%);
                }
            }

            &.tables {
                background-color: @chart-tables-color;

                &:hover {
                    background-color: lighten(@chart-tables-color,5%);
                }
            }

            &.table_data {
                background-color: @chart-table_data-color;

                &:hover {
                    background-color: lighten(@chart-table_data-color,5%);
                }
            }

            &.table {
                background-color: @chart-table-color;

                &:hover {
                    background-color: lighten(@chart-table-color,5%);
                }
            }

            &.tree {
                background-color: @chart-tree-color;

                &:hover {
                    background-color: lighten(@chart-tree-color,5%);
                }
            }

            &.trees {
                background-color: @chart-trees-color;

                &:hover {
                    background-color: lighten(@chart-trees-color,5%);
                }
            }

            &.journal {
                background-color: @chart-jurnal-color;

                &:hover {
                    background-color: lighten(@chart-jurnal-color,5%);
                }
            }

            &.journals {
                background-color: @chart-jurnals-color;

                &:hover {
                    background-color: lighten(@chart-jurnals-color,5%);
                }
            }

            &.indexes {
                background-color: @chart-indexes-color;

                &:hover {
                    background-color: lighten(@chart-indexes-color,5%);
                }
            }

            &.structure {
                background-color: @chart-structure-color;

                &:hover {
                    background-color: lighten(@chart-structure-color,5%);
                }
            }
        }

        i {
            font-size: 22px;
            color: @gray-dark;
            width: 20px;
            display: inline-block;
            position:relative;
            top:-1px;
            margin-left: -4px;
        }
    }
}
