#chooseThemeModal {
    .theme {
        width: 33%;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .theme-dark {
        background-image: url(../img/dark-theme.png);
    }
    
    .theme-blue {
        background-image: url(../img/blue-theme.png);
    }
    
    .theme-light {
        background-image: url(../img/light-theme.png);
    }
}
