.time-series-details {
    overflow: hidden;
    
    svg {
        font: 10px sans-serif;
    }

    .line {
        stroke-width: 2;
        fill: none;
        clip-path: url(#clip);

        &.color-1 {
            stroke: #f75e71;
        }
        &.color-2 {
            stroke: #f38861;
        }
        &.color-3 {
            stroke: #f0ae5e;
        }
        &.color-4 {
            stroke: #edcd51;
        }
        &.color-5 {
            stroke: #7bd85d;
        }
        &.color-6 {
            stroke: #37c4ac;
        }
        &.color-7 {
            stroke: #2f9ef3;
        }
        &.color-8 {
            stroke: #6972ee;
        }
        &.color-9 {
            stroke: #9457b5;
        }
        &.color-10 {
            stroke: #d45598;
        }
    }
    
    .area {
        stroke: none;
        fill-opacity: 0.4;
        clip-path: url(#clip);

        &.color-10 {
            stroke: #f75e71;
        }
        &.color-9 {
            stroke: #f38861;
        }
        &.color-8 {
            stroke: #f0ae5e;
        }
        &.color-7 {
            stroke: #edcd51;
        }
        &.color-6 {
            stroke: #7bd85d;
        }
        &.color-5 {
            stroke: #37c4ac;
        }
        &.color-4 {
            stroke: #2f9ef3;
        }
        &.color-3 {
            stroke: #6972ee;
        }
        &.color-2 {
            stroke: #9457b5;
        }
        &.color-1 {
            stroke: #d45598;
        }
    }
    
    .grid-x, .grid-y {
        line {
            stroke: @layout-border;
        }
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .brush .extent {
        shape-rendering: crispEdges;
        clip-path: url(#clip);
    }
    
    .axis {
        .domain {
            stroke: @text-color;
        }
        
        .tick {
            text {
                fill: @text-color;
            }
            line {
                stroke: @text-color;
            }
        }
    }

    rect.pane {
        cursor: move;
        fill: none;
        pointer-events: all;
    }
}
