.edit-time-series {    
    .document-header {
        margin-bottom: 8px;
        
        .dropdown-toggle {
            min-width: 120px;
        }
    }
    
    .documentId {
        font-size: 25px;
    }
    
    .utc-info-container {
        &:before {
            content: 'All dates are in UTC';
            top: 0;
            right: 0;
            position: absolute;
            background-color: @panel-info-bg;
            font-size: 12px;
            color: @panel-info-text;
            padding: 2px 5px;
            transform: translateY(-100%);
        }
    }
}

.fit-dialog-content {
    width: fit-content;
}

.edit-time-series-entry {
    
    table {
        td {
            width: 200px;
             
            &.delete-column {
                width: 100px;
            }
        }

        thead {
            tr {
                th {
                    padding: 2px;
                    border-top: none;
                    border-bottom-width: 0px;
                    color: @text-emphasis;
                }

                td {
                    padding: 2px;
                    border-top: none;
                }
            }
        }

        tbody {
            tr {
                th, td {
                    padding: 2px;
                    border-top: none;
                }
            }
        }

        .name-value {
            width: 80px;
            max-width: 200px;
            overflow-x: auto;
            vertical-align: inherit;
            color: @text-emphasis;
        }

        .form-control {
            color: @rollup-data-color;
        }
    }
    
    .aggregation-name {
        width: 200px;
        text-align: right;
    }
}
