.visualizer {
    .nav-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;

        &.left {
            left: 5px;
        }

        &.right {
            right: 5px;
        }
    }

    ol {
        padding-left: 20px;
    }
}

#visualizerContainer {
    position: relative;
    
    canvas, svg {
        position: absolute;
        top: 0;
        left: 0;
    }

    rect.pane {
        fill: none;
        pointer-events: all;
    }
}
