html
{
	padding: 0px;
	margin: 0px;
}

body
{
	background-color: #124578;
	font-size: 12px;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	color: #564b47;
	padding: 0px;
	margin: 0px;
}

h1, h2
{
	margin: 0;
	padding: 10px 0;
}

h3, p 
{
	margin: 0;
	padding:0 ;
}

div#header 
{
	background: #081d31 url(../images/header_bg.png) repeat-x;
	height:100px;
	width: 100%;
	overflow:hidden;
	min-width: 1000px;
}

div#logo 
{
	float:left;
	margin:20px 0 0 25px;
}

div#nav
{
	float:right;
	margin: 40px 20px 0 0;
}

div#nav li
{
	display: inline;
	list-style-type: none;
	padding-right:10px;
}

div#nav a
{
	text-decoration: none;
	background-color: #E8E9ED;
	padding: 6px 10px;
	color: #000;
	-moz-border-radius: 4px; -webkit-border-radius: 4px;
}

div#nav a.nav_active 
{
	background-color: #444;
	color: #fff;
	border: 1px solid #aaa;
}

#ajaxSuccess 
{
	display: none;
	padding: 20px;
	margin: 0;
	background-color: #00C91E;
	color: #fff;
	font-size: 18px;
}
#ajaxError 
{
	display: none;
	padding: 20px;
	margin: 0;
	background-color: #F73B3B;
	color: #fff;
	font-size: 18px;
}
#ajaxSuccess a, #ajaxError a { color: #ccc; }

div#footer
{
	background: #124578 url(../images/footer_bg.png) repeat-x;
	height:158px;
	width: 100%;
	padding-top:20px;
	color: #fff;
}

div#footer a
{
	text-decoration: none;
	color: #aaa;
}

#body
{
	background-color: #fff;
}

#content
{
	margin: 0px 250px 0px 40px;
	padding: 20px 20px 40px 20px;
}

#right
{
	position: absolute;
	right: 0px;
	width: 210px;
	padding: 20px;
	color: #564b47;
	margin: 0px;	
}

blockquote 
{
	border-left: 3px solid #aaa;
	padding:10px 0px 10px 10px;
	margin: 20px 0px 20px 20px;
	background-color: #eee;
}


div.clear
{
	clear: both;
}

.sideBarListBox 
{
	border: 4px solid #071c31;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	color : #fff;
	margin-bottom:20px;
	padding: 20px;
	background-color: #82b5cd;
	background-image: -moz-linear-gradient(top, #97C4DA, #136189);
	background: -webkit-gradient(linear, left top, left bottom, from(#97C4DA), to(#136189));	
}

.sideBarListBox h3
{
	color: #071c31;
}

.sideBarListBox a
{
	text-decoration:none;
	color: #ddd;
	font-weight:bold;
}


.sideBarListBox ul { margin: 0; padding: 0; }

.sideBarListBox li
{
	list-style-type: none;
	padding:10px 0;
	border-bottom: 1px dotted #fff;
}

.searchListWrapper
{
	width: 100%;
	border: 1px solid #EBE8D9;
}

.searchListItem
{
	padding: 5px 10px;
}

.searchListItem:hover
{
	cursor: pointer;
}

.searchListItem.alternate
{
	background-color: #eee;
}

.indexPreview { padding: 0px 20px 20px 20px; }
.indexPreview h2 { background-color: #071C31; color: #fff; font-size: 18px; padding:10px 20px; margin: 0 0 10px -20px; width: 100%; }

.jsonViewWrapper h2 { background-color: #071C31; color: #fff; font-size: 18px; padding:10px 10px; margin: 0 0 10px 0; }
.jsonViewWrapper h3 { margin: 10px; }