.jsonObjectView
{
	margin-left: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-left: 1px dotted #154574;
}
.jsonObjectMemberView
{
}
.arrayNameView
{
	background-color: #154574;
	color: #FFF;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	cursor: pointer;
	position: relative;
}
.memberNameView
{
	background-color: #91C1D6;
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
	padding: 3px;
}
.memberValueView
{
	display: block;
	padding: 3px;
}
