<div class="conflicts-page">
    <div class="row">
        <div class="col-md-12">
            <div id="conflictsGrid" data-bind="widget: {
                kind: 'virtualTable', itemsSource: currentConflictsPagedItems,
                selectedIndices: selectedDocumentIndices, gridSelector: '#conflictsGrid',
                showCheckboxes: false, useContextMenu: false,
                customColumns: currentColumns,
                noResultsMessage: 'No conflicts found'
            }"></div>
        </div>
    </div>
</div>

<script type="text/html" id="versions-template">
    <span data-bind="foreach: { data: $data, as: 'version' }">
        <a href="#" data-bind="attr: { href: $root.getUrlForConflict(version), title: 'Document Id: ' + version.id + ' Server Id: ' + $root.getServerUrlForVersion(version) }">
            <span data-bind="  text: ($index() + 1) + $root.getTextForVersion(version)"></span>
        </a>
    </span>
</script>