<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Local" connectionString="DataDir = ~\Data"/>
		<add name="Server" connectionString="Url = http://localhost:8079"/>
		<add name="Secure" connectionString="Url = http://localhost:8079;user=beam;password=up"/>

		<add name="SqlExpress" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=Raven.Tests;Integrated Security=SSPI;Connection Timeout=1" />
		<add name="LocalHost" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Raven.Tests;Integrated Security=SSPI;Connection Timeout=1" />

	</connectionStrings>
</configuration>