<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Local" connectionString="DataDir = ~\Data"/>
		<add name="Server" connectionString="Url = http://localhost:8079"/>
		<add name="Secure" connectionString="Url = http://localhost:8079;user=beam;password=up"/>
	</connectionStrings>
</configuration>