<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.NRefactory" version="5.2.0" targetFramework="net40" />
  <package id="log4net" version="2.0.0" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.5.3" targetFramework="net40" />
  <package id="NBuilder" version="3.0.1.1" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB.Client" version="2.5.2851" targetFramework="net45" />
  <package id="RavenDB.Client.Authorization" version="2.5.2851" targetFramework="net45" />
  <package id="RavenDB.Database" version="2.5.2851" targetFramework="net45" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net40" />
  <package id="System.Spatial" version="5.6.1" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="2.0.0.0" targetFramework="net45" />
</packages>