<div class="flex-vertical absolute-fill content-margin admin-logs">
    <div class="form-inline flex-horizontal flex-wrap gap-4">
        <div class="flex-horizontal">
            <div class="btn-group-label" data-label="Log on this view" role="group">
                <button class="btn btn-primary" data-bind="click: pauseLogs, visible: liveClient">
                    <i class="icon-pause"></i> <span>Pause</span>
                </button>
                <button class="btn btn-primary" data-bind="click: resumeLogs, visible: !liveClient()">
                    <i class="icon-play"></i> <span>Resume</span>
                </button>
                <button class="btn btn-default" data-bind="click: exportToFile">
                    <i class="icon-export"></i><span>Export</span>
                </button>
                <div class="btn-group dropdown-menu-right">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-bind="click: onOpenOptions">
                        <i class="icon-settings"></i><span>Options</span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu colselect-dropdown slidein-style" data-bind="dropdownPanel: true">
                        <div class="dropdown-extended" data-bind="with: editedConfiguration">
                            <div data-bind="validationOptions: { insertMessages: false }, validationElement: maxEntries" class="flex-vertical">
                                <label class="small-label">Max Log Entries</label>
                                <input class="form-control input-sm full-width" type="number" min="0" data-bind="numericInput: maxEntries" />
                                <span class="help-block" data-bind="validationMessage: maxEntries"></span>
                            </div>
                            <label class="small-label margin-top-sm">Log filters</label>
                            <div class="flex-horizontal margin-bottom margin-bottom-sm">
                                <div class="dropdown">
                                    <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                        <span data-bind="text: $root.editedHeaderName()"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" data-bind="click: _.partial($root.editedHeaderName, 'Source')">Source</a></li>
                                        <li><a href="#" data-bind="click: _.partial($root.editedHeaderName, 'Logger')">Logger</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group flex-grow">
                                    <input type="text" class="form-control input-sm full-width"
                                        data-bind="textInput: $root.editedHeaderValue, attr: { 'placeholder': $root.headerValuePlaceholder }">
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-default" data-bind="click: $root.includeFilter"><i class="icon-plus"></i> <span>Include</span></button>
                                    <button class="btn btn-sm btn-default" data-bind="click: $root.excludeFilter"><i class="icon-minus"></i> <span>Exclude</span></button>
                                </div>
                            </div>
                            <div class="flex-grow">
                                <ul class="column-list scroll" data-bind="foreach: entries">
                                    <li>
                                        <div class="column-name flex-center">
                                            <div class="padding padding-xs" data-bind="text: headerName() + ': ' + headerValue()"></div>
                                        </div>
                                        <div class="flex-center">
                                            <div class="padding padding-xs" data-bind="css: { 'text-success': mode() === 'include', 'text-warning': mode() === 'exclude' }">
                                                <i data-bind="css: { 'icon-plus': mode() === 'include', 'icon-minus': mode() === 'exclude' }"></i>
                                                <span data-bind="text: mode"></span>
                                            </div>
                                        </div>
                                        <a href="#" class="column-remove" data-bind="click: $root.removeConfigurationEntry"><i class="icon-trash"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-horizontal margin-top margin-top-sm">
                                <div class="flex-separator"></div>
                                <button class="btn btn-success btn-sm close-panel" data-bind="click: $root.applyConfiguration, enable: $root.enableApply"><i class="icon-save"></i> <span>Apply</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <input class="form-control margin-right margin-right-sm" placeholder="Filter server messages" data-bind="textInput: filter">
                <div class="checkbox no-padding-left">
                    <input class="styled" id="onlyErrors" type="checkbox" data-bind="checked: onlyErrors">
                    <label for="onlyErrors"><small>Show errors only</small></label>
                </div>
            </div>
        </div>
        <div class="flex-horizontal">
            <div class="btn-group-label" data-label="Logs on disk" role="group">
                <div class="btn-group dropdown-menu-right">
                    <button class="btn btn-info dropdown-toggle" id="js-settings-btn" type="button" data-toggle="dropdown" data-bind="click: onOpenSettings">
                        <i class="icon-config"></i><span>Settings</span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu colselect-dropdown slidein-style" data-bind="dropdownPanel: true">
                        <div class="dropdown-extended padding" data-bind="with: onDiskConfiguration" id="settingsContainer">
                            <form class="d-flex gap-3 flex-vertical" role="form">
                                <div class="flex-vertical">
                                    <label class="small-label margin-bottom-xxs">Logs Path</label>
                                    <p class="word-break m-0" id="adminLogsPath" data-bind="text: fullPath"></p>
                                </div>
                                <div class="flex-vertical">
                                    <label class="small-label margin-bottom-xxs">Log Mode</label>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" title="Set logs mode" id="selectedLogMode">
                                            <span data-bind="text: selectedLogMode"></span>&nbsp;&nbsp;
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <!-- ko foreach: possibleLogModes -->
                                            <li class="flex-horizontal">
                                                <a class="flex-grow" href="#" data-bind="text: $data, click: _.partial($root.setAdminLogMode, $data)"></a>
                                            </li>
                                            <!-- /ko -->
                                            <li class="divider"></li>
                                            <li><a data-bind="click: _.partial($root.setAdminLogMode, 'None')" href="#">None</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="flex-horizontal gap-3">
                                    <div class="flex-vertical">
                                        <label class="small-label">Retention Time</label>
                                        <p class="m-0" data-bind="text: retentionTimeText"></p>
                                    </div>
                                    <div class="flex-vertical">
                                        <label class="small-label">Retention Size</label>
                                        <p class="m-0" data-bind="text: retentionSizeText"></p>
                                    </div>
                                </div>
                                <div class="flex-horizontal gap-3">
                                    <div class="flex-vertical">
                                        <label class="small-label">Traffic Watch Log</label>
                                        <div>
                                            <button type="button" class="btn btn-default btn-sm close-panel margin-right-sm" id="js-traffic-watch-config" data-bind="click: $root.configureTrafficWatch">
                                                <i class="icon-settings"></i>
                                                <span>Configure</span>
                                            </button>
                                            <span class="text-success" data-bind="visible: $root.trafficWatchEnabled()">Active</span>
                                            <span class="text-default" data-bind="visible: !$root.trafficWatchEnabled()">Disabled</span>
                                        </div>
                                    </div>
                                    <div class="flex-vertical">
                                        <label class="small-label">Microsoft logs</label>
                                        <div>
                                            <button type="button" class="btn btn-default btn-sm close-panel margin-right-sm" data-bind="click: $root.configureMicrosoftLogs">
                                                <i class="icon-settings"></i>
                                                <span>Configure</span>
                                            </button>
                                            <span class="text-success" data-bind="visible: $root.isMicrosoftLogsEnabled()">Active</span>
                                            <span class="text-default" data-bind="visible: !$root.isMicrosoftLogsEnabled()">Disabled</span>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="small-label">Event Listener</label>
                                        <div>
                                            <button type="button" class="btn btn-default btn-sm close-panel margin-right-sm" data-bind="click: $root.configureEventListener">
                                                <i class="icon-settings"></i>
                                                <span>Configure</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-horizontal">
                                    <div class="flex-grow"></div>
                                    <button class="btn btn-success btn-sm close-panel margin-top-sm"><span>Close</span></button>
                                </div>
                        
                            </form>
                        </div>
                    </div>
                </div>
                <div class="btn-group dropdown-menu-right" id="downloadLogs">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" data-bind="click: onOpenDownload">
                        <i class="icon-export"></i><span>Download Logs</span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu slidein-style" data-bind="dropdownPanel: true">
                        <div class="dropdown-extended">
                            <form class="flex-form" autocomplete="off">
                                <h4>Specify logs date range</h4>
                                <div class="margin-top margin-bottom-lg">
                                    <div class="form-group flex-grow flex-vertical">
                                        <label for="startDate" class="small-label">Start Date</label>
                                        <div class="d-flex justify-content-between w-100">
                                            <div class="checkbox no-padding-left">
                                                <input id="useMinStartDate" class="styled" type="checkbox" data-bind="checked: useMinStartDate">
                                                <label for="useMinStartDate">
                                                    <span class="margin-left-xs">Use minimum</span>
                                                </label>
                                            </div>
                                            <code class="form-control-static" data-bind="text: dateFormattedAsUtc(startDate()), visible: !useMinStartDate()"></code>
                                        </div>
                                        <div class="input-group margin-top margin-top-sm w-100" data-bind="visible: !useMinStartDate(), validationElement: startDate">
                                            <input type="text" class="form-control" id="startDate" placeholder="Start date"
                                                data-bind="datePicker: startDate, datepickerOptions: datePickerOptions" />
                                            <div class="input-group-addon">(local)</div>
                                            <span class="help-block" data-bind="validationMessage: startDate"></span>
                                        </div>
                                    </div>
                                    <div class="form-group margin-top flex-grow flex-vertical">
                                        <label for="endDate" class="small-label">End Date</label>
                                        <div class="d-flex justify-content-between w-100">
                                            <div class="checkbox no-padding-left">
                                                <input id="useMinEndDate" class="styled" type="checkbox" data-bind="checked: useMaxEndDate">
                                                <label for="useMinEndDate">
                                                    <span class="margin-left-xs">Use maximum</span>
                                                </label>
                                            </div>
                                            <code class="form-control-static" data-bind="text: dateFormattedAsUtc(endDate()), visible: !useMaxEndDate()"></code>
                                        </div>
                                        <div class="input-group margin-top margin-top-sm w-100" data-bind="visible: !useMaxEndDate(), validationElement: endDate">
                                            <input type="text" class="form-control" id="endDate" placeholder="End date"
                                                data-bind="datePicker: endDate, datepickerOptions: datePickerOptions" />
                                            <div class="input-group-addon">(local)</div>
                                            <span class="help-block" data-bind="validationMessage: endDate"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-horizontal margin-top-sm margin-bottom-sm margin-right-sm">
                                    <div class="flex-separator"></div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm margin-right-xs close-panel" title="Click to close dropdown">
                                            <span>Close</span>
                                        </button>
                                        <button class="btn btn-success btn-sm close-panel" title="Click to download log files" data-bind="click: onDownloadLogs">
                                            <span>Download</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <small class="margin-left margin-left-sm">
                    <label>Log Level:</label>
                    <strong data-bind="text: onDiskConfiguration().selectedLogMode"></strong>
                    <small class="text-warning bg-warning margin-left margin-left-sm padding padding-sm" data-bind="visible: onDiskConfiguration().selectedLogMode() === 'None'">
                        <i class="icon-warning"></i>
                        <span>No log messages are being written to disk</span>
                    </small>
                </small>
            </div>
        </div>
    </div>
    <div class="flex-horizontal flex-noshrink">
        <div class="flex-separator"></div>
        <div class="btn-group">
            <button class="btn btn-sm btn-info btn-checkable" data-bind="click: toggleTail, css: { active: tailEnabled }">
                <i class="icon-logs"></i> <span>Monitoring (tail -f)</span>
            </button>
            <button class="btn btn-sm btn-danger" data-bind="click: clear">
                <i class="icon-cancel"></i><span>Clear</span>
            </button>
        </div>
    </div>
    <div class="log-list flex-grow scroll" data-bind="event: { mousedown: _.partial(updateMouseStatus, true), mouseup: _.partial(updateMouseStatus, false) }">
        <list-view params="controller: listController, emptyTemplate: 'empty-admin-logs-template', itemHeightProvider: itemHeightProvider, itemHtmlProvider: itemHtmlProvider"></list-view>
    </div>

    <div class="help-block bg-warning text-warning" data-bind="visible: !isConnectedToWebSocket()">
        <span data-bind="visible: isPauseLogs"><i class="icon-warning"></i><span>Admin log is paused</span></span>
        <span data-bind="visible: !isPauseLogs()"><i class="btn-spinner"></i><span class="margin-left">Trying to Connect</span></span>
    </div>
    <div class="has-error" data-bind="visible: isBufferFull">
        <div class="help-block">
            <i class="icon-danger"></i><span>Log buffer is full. Either increase buffer size in 'Options' panel or <a href="#" data-bind="click: clear">clear all entries.</a></span>
        </div>
    </div>

</div>

<script type="text/html" id="empty-admin-logs-template">
    No log entries for now.
</script>

<script type="text/html" id="admin-log-item-template"><pre class="item"></pre></script>

<div class="hidden">
    <form method="get" download target="hidden-form" id="downloadLogsForm">
        <input type="hidden" name="from" />
        <input type="hidden" name="to" />
    </form>
</div>
