<div class="modal-dialog modal-lg" role="document" id="adminLogsSettings">
    <div class="modal-content" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: cancel" aria-hidden="true">
                <i class="icon-cancel"></i>
            </button>
            <h4 class="modal-title">Admin Log Files Settings on Disk</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-3 control-label">Log Files Path:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" data-bind="text: fullPath"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Retention Time:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" data-bind="text: retentionTimeText"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Retention Size:</label>
                    <div class="col-md-9">
                        <p class="form-control-static" data-bind="text: retentionSizeText"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Log Mode:</label>
                    <div class="col-md-9">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Set logs mode" id="selectedLogMode">
                                <span data-bind="text: selectedMode"></span>&nbsp;&nbsp;
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <!-- ko foreach: possibleLogModes -->
                                <li class="flex-horizontal">
                                    <a class="flex-grow" href="#" data-bind="text: $data, click: _.partial($root.setAdminLogMode, $data)"></a>
                                </li>
                                <!-- /ko -->
                                <li class="divider"></li>
                                <li><a data-bind="click: _.partial($root.setAdminLogMode, 'None')" href="#">None</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bind="click: cancel">Close</button>
        </div>
    </div>
</div>
