<div class="flex-vertical absolute-fill content-margin admin-logs">
    <div class="flex-horizontal flex-noshrink">
        <div>
            <button class="btn btn-primary" data-bind="click: pauseLogs, visible: liveClient">
                <i class="icon-pause"></i> <span>Pause</span>
            </button>
            <button class="btn btn-primary" data-bind="click: resumeLogs, visible: !liveClient()">
                <i class="icon-play"></i> <span>Resume</span>
            </button>
            <button class="btn btn-default" data-bind="click: exportToFile">
                <i class="icon-export"></i><span>Export</span>
            </button>
        </div>
        <div>
            <input class="form-control" placeholder="Filter" data-bind="textInput: filter">
        </div>
        <div class="checkbox">
            <input class="styled" id="onlyErrors" type="checkbox" data-bind="checked: onlyErrors">
            <label for="onlyErrors">Only errors</label>
        </div>
    </div>
    <div class="flex-horizontal flex-noshrink">
        <div class="flex-separator"></div>
        <div class="btn-group dropdown-right">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-bind="click: onOpenOptions">
                <i class="icon-settings"></i><span>Options</span>
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu colselect-dropdown slidein-style" data-bind="dropdownPanel: true">
                <div class="columns-list-container flex-vertical" data-bind="with: editedConfiguration">
                    <div data-bind="validationOptions: { insertMessages: false }, validationElement: maxEntries"> 
                        <div class="form-group">
                            <h4 class="control-label pull-left">Max Log Entries</h4>
                            <div class="flex-grow">
                                <input class="form-control input-sm" type="number" data-bind="numericInput: maxEntries" />
                            </div>
                            <span class="help-block" data-bind="validationMessage: maxEntries"></span>
                        </div>                                                
                    </div>                                   
                    <h4>Log source filters</h4>
                    <div class="flex-horizontal margin-bottom margin-bottom-sm">
                        <div class="btn-group flex-grow">
                            <input type="text" placeholder="Source name" class="form-control input-sm" data-toggle="dropdown" data-bind="textInput: $root.editedSourceName">
                            <span class="caret"></span>
                            <ul class="dropdown-menu">
                                <li><a href="#">Raven/Server</a></li>
                            </ul>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-default" data-bind="click: $root.includeSource"><i class="icon-plus"></i> <span>Include</span></button>
                            <button class="btn btn-sm btn-default" data-bind="click: $root.excludeSource"><i class="icon-minus"></i> <span>Exclude</span></button>
                        </div>
                    </div>
                    <div class="flex-grow">
                        <ul class="column-list scroll" data-bind="foreach: entries">
                            <li>
                                <div class="column-name flex-center">
                                    <div class="padding padding-xs" data-bind="text: logSource"></div>
                                </div>
                                <div class="flex-center">
                                    <div class="padding padding-xs" data-bind="css: { 'text-success': mode() === 'include', 'text-warning': mode() === 'exclude' }">
                                        <i data-bind="css: { 'icon-plus': mode() === 'include', 'icon-minus': mode() === 'exclude' }"></i>
                                        <span data-bind="text: mode"></span>
                                    </div>
                                </div>
                                <a href="#" class="column-remove" data-bind="click: $root.removeConfigurationEntry"><i class="icon-trash"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-horizontal margin-top margin-top-sm">
                        <div class="flex-separator"></div>
                        <button class="btn btn-success btn-sm close-panel" data-bind="click: $root.applyConfiguration, enable: $root.enableApply"><i class="icon-save"></i> <span>Apply</span></button>
                    </div>
                 </div>
            </div>
        </div>
        <button class="btn btn-sm btn-info btn-checkable" data-bind="click: toggleTail, css: { active: tailEnabled }">
            <i class="icon-logs"></i> <span>Monitoring (tail -f)</span>
        </button>
        <button class="btn btn-sm btn-danger" data-bind="click: clear">
            <i class="icon-cancel"></i><span>Clear</span>
        </button>
    </div>
    <div class="log-list flex-grow scroll">
        <list-view params="controller: listController, emptyTemplate: 'empty-admin-logs-template', itemHeightProvider: itemHeightProvider, itemHtmlProvider: itemHtmlProvider"></list-view>
        <div class="has-error results-error" data-bind="visible: isBufferFull">
            <div class="help-block">
                <i class="icon-danger"></i><span>Log buffer is full. Either increase buffer size in 'Options' panel or <a href="#" data-bind="click: clear">clear all entries.</a></span>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="empty-admin-logs-template">
    No log entries for now.
</script> 

<script type="text/html" id="admin-log-item-template"><pre class="item">This is test!</pre></script> 
