<div id="admin-js-console-container" class="content-margin">
    <div class="toolbar">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-9 col-lg-offset-2 col-lg-10 flex-horizontal">
                <div class="bg-warning inline-block padding padding-xs small"><i class="icon-warning"></i>&nbsp;
                    WARNING! Unless you know what you are doing, executing the admin script <strong>might crash your server!</strong>
                </div>
                <div class="flex-separator"></div>
                <div class="dropdown dropdown-right loadpatch" data-bind="template: { name: 'predefined-scripts-dialog' }">
                </div>
            </div>
        </div>

    </div>
    <div class="row margin-bottom">
        <div class="col-sm-3 col-lg-2">
            <h3 class="pull-left-sm">Script target</h3>
        </div>
        <div class="col-sm-9 col-lg-10">
            <div class="panel padding margin-bottom">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <label class="control-label col-sm-4 col-lg-3 col-xl-2">Type</label>
                            <div class="col-sm-8 col-lg-9 col-xl-10">
                                <div class="dropdown btn-block">
                                    <button class="btn btn-block dropdown-toggle text-left" type="button" data-toggle="dropdown">
                                        <span data-bind="text: model().patchOption"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" data-bind="foreach: $root.constructor.allPatchOptions">
                                        <li><a href="#" data-bind="text: $data, click: _.partial($parent.usePatchOption, $data)"></a></li>
                                    </ul>
                                </div>
                                <div class="bg-info padding padding-xs small">
                                    <span data-bind="visible: model().patchOption() === 'Server'">
                                        Accessible within the script under <strong>server</strong> variable
                                    </span>
                                    <span data-bind="visible: model().patchOption() === 'Database'">
                                        Accessible within the script under <strong>database</strong> variable
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row" data-bind="visible: model().patchOption() === 'Database'">
                            <label class="control-label col-sm-4 col-lg-3 col-xl-2">Database</label>

                            <div class="col-sm-8 col-lg-9 col-xl-10" data-bind="validationElement: model().selectedDatabase">
                                <div class="dropdown btn-block">
                                    <button class="btn btn-block dropdown-toggle text-left" type="button" data-toggle="dropdown">
                                        <span data-bind="text: model().selectedDatabase() || 'Select database...'"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" data-bind="foreach: databaseNames">
                                        <li><a href="#" data-bind="text: $data, click: _.partial($parent.useDatabase, $data)"></a></li>
                                    </ul>
                                </div>
                                <span class="help-block" data-bind="validationMessage: model().selectedDatabase"></span>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="row form-horizontal margin-bottom">
        <div class="col-sm-3 col-lg-2">
            <h3>Script</h3>
        </div>
        <div class="col-sm-9 col-lg-10">
            <div class="patch-container">
                <div class="patch-main">
                    <pre class="form-control" data-bind="aceEditor: { code: model().script, lang:'ace/mode/javascript', completer: completer }, validationOptions: { errorsAsTitle: false }, validationElement: model().script" style="height: 160px;"></pre>

                    <div data-bind="validationOptions: { errorsAsTitle: false }, validationElement: model().script">
                        <div class="help-block" data-bind="validationMessage: model().script"></div>
                    </div>
                </div>
                <div class="patch-controls">
                    <button class="btn btn-primary btn-block btn-lg text-center"
                            data-bind="click: runScript, css: { 'btn-spinner': spinners.execute }, disable: spinners.execute">
                        <i class="icon-play2 icon-lg"></i><br />
                        <small class="kbd"><kbd>ctrl</kbd> <strong>+</strong> <kbd>enter</kbd></small>
                    </button>
                    <div class="flex-separator"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row form-horizontal">
        <div class="col-sm-3 col-lg-2">
            <h3>Results</h3>
        </div>
        <div class="col-sm-9 col-lg-10">
            <pre class="form-control patch-source" data-bind="aceEditor: { code: executionResult, lang:'ace/mode/javascript', readOnly: true }" style="height: 260px;"></pre>
        </div>
    </div>
</div>

<script type="text/html" id="predefined-scripts-dialog">
    <!-- TODO: Bring this back for RTM - see issue 7588 -->
    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownLoadPatch" data-toggle="dropdown">
        <i class="icon-patch"></i> <span>Load predefined script</span>
        <span class="caret"></span>
    </button>-->
    <div class="dropdown-menu slidein-style" aria-labelledby="dropdownLoadPatch" data-bind="dropdownPanel: true">
        <div class="loadpatch-dropdown flex-vertical" data-bind="css: { 'show-preview': previewItem() }">
            <div class="flex-grow loadpatch-container">
                <div class="patch-preview-container flex-vertical">
                    <div class="flex-header">
                        <h3>
                            Script preview
                        </h3>
                    </div>
                    <div class="flex-grow flex-vertical scroll">
                        <div class="bg-info padding padding-sm">
                            <div class="row">
                                <div class="col-xs-12">
                                    script name: &nbsp;<strong data-bind="text: previewItem() ? previewItem().name : ''"></strong>
                                </div>
                            </div>
                        </div>
                        <div class="pre-container">
                            <pre>
<code data-bind="html: previewCode"></code>
</pre>
                        </div>
                    </div>
                </div>
                <div class="patch-list-container flex-vertical">
                    <div class="flex-header">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3>Select script</h3>
                            </div>
                            <div class="col-xs-6">
                                <input type="search" class="form-control input-sm patch-filter" data-bind="textInput: filters.searchText" placeholder="filter">
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow scroll">
                        <ul class="patch-list" data-bind="foreach: $root.filteredScripts">
                            <li data-bind="css: { selected: $data === $parent.previewItem() }">
                                <a href="#" class="patch-link" data-bind="click: $parent.previewScript">
                                    <span class="name" data-bind="text: name"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-footer">
                <div class="text-right">
                    <button class="btn btn-success btn-sm close-panel" data-bind="click: useScript, enable: previewItem()">Load</button>
                </div>
            </div>
        </div>
    </div>
</script>
