<br/>
<div class="settings-container row admin-settings-container">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <!-- ko foreach: router.navigationModel -->
            <li data-bind="css: { active: isActive(), disabled: !enabled }">
                <a data-bind="attr: { href: hash }, text: title"></a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="col-md-10" data-bind="router: { cacheViews: false }">

    </div>
</div>
