<div data-bind="visible: isForbidden" class="text-center">
    <h4 class="page-header text-info">You are not authorized to view this page!</h4>
</div>

<div data-bind="visible: isForbidden() == false">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#backupDb" aria-controls="backupDb" role="tab" data-toggle="tab">Database</a></li>
            <li role="presentation"><a href="#backupFs" aria-controls="backupFs" role="tab" data-toggle="tab">File System</a></li>
            <li role="presentation" data-bind="visible: $root.has40Features"><a href="#backupCs" aria-controls="backupCs" role="tab" data-toggle="tab">Counter Storage</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="backupDb">
                <form class="form-horizontal" role="form" data-bind="submit: startDbBackup">
                    <div class="panel panel-default" data-bind="with: dbBackupOptions">
                        <div class="panel-heading">
                            <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
                            <button type="submit" class="btn btn-primary" data-bind="disable: isBusy">
                                <i class="fa fa-cloud-upload fa-fw" data-bind="visible: !isBusy()"></i>
                                <i class="fa fa-spinner fa-spin fa-fw" data-bind="visible: isBusy"></i>
                                <span>Start Database Backup</span>
                            </button>
                            <button type="button" class="btn btn-default" data-bind="visible: isBusy, css: { 'active': keepDown }, click: function () { this.toggleKeepDown() }">KeepDown</button>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="databaseName" class="col-sm-2 control-label">Database to backup</label>
                                <div class="col-sm-5">
                                    <input tabindex="2" autocomplete="off" required type="text" name="databaseName" class="form-control" id="databaseName" data-bind="textInput: resourceName, customValidity: nameCustomValidityError" placeholder="Database name to backup">
                                    <ul class="dropdown-menu scrollable-resource-menu" role="menu" style="display: none;" data-bind="autoComplete: '#databaseName', foreach: searchResults">
                                        <li role="presentation" data-bind="click: $parent.resourceName.bind($parent, $data)">
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <span class="text" data-bind="text: $data"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-sm-2 control-label">Location</label>
                                <div class="col-sm-5">
                                    <input type="text" required class="form-control" id="location" data-bind="value: backupLocation, valueUpdate: 'afterkeydown'" placeholder="C:&#92;path-to-your-backup-folder">
                                </div>
                            </div>
                            <div class="form-group" data-bind="visible: displaySameDriveWarning">
                                <div class="col-sm-5 col-sm-offset-2 text-warning">
                                    <i class="fa fa-warning"></i> Backup to database drive is not suggested.
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-5">
                                    <div class="checkbox">
                                        <input type="checkbox" data-bind="checked: incremental" class="styled" id="incrementalDb">
                                        <label for="incrementalDb">Incremental</label>
                                    </div>
                                </div>
                            </div>
                            <div class="bs-code-output" data-title="Log" data-bind="visible: backupStatusMessages().length, dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer', bottomMargin: '10px' }">
                                <pre>
<!-- ko foreach: backupStatusMessages --><div data-bind="css: { 'text-danger': Severity === 'Error' }, text: '[' + Timestamp + ']\t' + Severity + ':\t' + Message"></div><!-- /ko -->
</pre>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div role="tabpanel" class="tab-pane" id="backupFs">
                <form class="form-horizontal" role="form" data-bind="submit: startFsBackup">
                    <div class="panel panel-default" data-bind="with: fsBackupOptions">
                        <div class="panel-heading">
                            <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
                            <button type="submit" class="btn btn-primary" data-bind="disable: isBusy">
                                <i class="fa fa-cloud-upload fa-fw" data-bind="visible: !isBusy()"></i>
                                <i class="fa fa-spinner fa-spin fa-fw" data-bind="visible: isBusy"></i>
                                <span>Start File System Backup</span>
                            </button>
                            <button type="button" class="btn btn-default" data-bind="visible: isBusy, css: { 'active': keepDown }, click: function () { this.toggleKeepDown() }">KeepDown</button>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="filesystemName" class="col-sm-2 control-label">File System to backup</label>
                                <div class="col-sm-5">
                                    <input tabindex="2" autocomplete="off" required type="text" name="filesystemName" class="form-control" id="filesystemName" data-bind="textInput: resourceName, customValidity: nameCustomValidityError" placeholder="Filesystem name to backup">
                                    <ul class="dropdown-menu scrollable-resource-menu" role="menu" style="display: none;" data-bind="autoComplete: '#filesystemName', foreach: searchResults">
                                        <li role="presentation" data-bind="click: $parent.resourceName.bind($parent, $data)">
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <span class="text" data-bind="text: $data"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-sm-2 control-label">Location</label>
                                <div class="col-sm-5">
                                    <input type="text" required class="form-control" id="Text1" data-bind="value: backupLocation, valueUpdate: 'afterkeydown'" placeholder="C:&#92;path-to-your-backup-folder">
                                </div>
                            </div>
                            <div class="form-group" data-bind="visible: displaySameDriveWarning">
                                <div class="col-sm-5 col-sm-offset-2 text-warning">
                                    <i class="fa fa-warning"></i> Backup to filesystem drive is not suggested.
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-5">
                                    <div class="checkbox">
                                        <input type="checkbox" data-bind="checked: incremental" class="styled"  id="incrementalFs">
                                        <label for="incrementalFs">Incremental</label>
                                    </div>
                                </div>
                            </div>
                            <div class="bs-code-output" data-title="Log" data-bind="visible: backupStatusMessages().length, dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer', bottomMargin: '10px' }">
                                <pre>
<!-- ko foreach: backupStatusMessages --><div data-bind="css: { 'text-danger': Severity === 'Error' }, text: '[' + Timestamp + ']\t' + Severity + ':\t' + Message"></div><!-- /ko -->
</pre>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div role="tabpanel" class="tab-pane" id="backupCs">
                <form class="form-horizontal" role="form" data-bind="submit: startCsBackup">
                    <div class="panel panel-default" data-bind="with: csBackupOptions">
                        <div class="panel-heading">
                            <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
                            <button type="submit" class="btn btn-primary" data-bind="disable: isBusy">
                                <i class="fa fa-cloud-upload fa-fw" data-bind="visible: !isBusy()"></i>
                                <i class="fa fa-spinner fa-spin fa-fw" data-bind="visible: isBusy"></i>
                                <span>Start Counter Storage Backup</span>
                            </button>
                            <button type="button" class="btn btn-default" data-bind="visible: isBusy, css: { 'active': keepDown }, click: function () { this.toggleKeepDown() }">KeepDown</button>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="countersstoragename" class="col-sm-2 control-label">Counter Storage to backup</label>
                                <div class="col-sm-5">
                                    <input tabindex="2" autocomplete="off" required type="text" name="countersstoragename" class="form-control" id="countersstoragename" data-bind="textInput: resourceName, customValidity: nameCustomValidityError" placeholder="Filesystem name to backup">
                                    <ul class="dropdown-menu scrollable-resource-menu" role="menu" style="display: none;" data-bind="autoComplete: '#countersstoragename', foreach: searchResults">
                                        <li role="presentation" data-bind="click: $parent.resourceName.bind($parent, $data)">
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <span class="text" data-bind="text: $data"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-sm-2 control-label">Location</label>
                                <div class="col-sm-5">
                                    <input type="text" required class="form-control" data-bind="value: backupLocation, valueUpdate: 'afterkeydown'" placeholder="C:&#92;path-to-your-backup-folder">
                                </div>
                            </div>
                            <div class="form-group" data-bind="visible: displaySameDriveWarning">
                                <div class="col-sm-5 col-sm-offset-2 text-warning">
                                    <i class="fa fa-warning"></i> Backup to counter storage drive is not suggested.
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-5">
                                    <div class="checkbox">
                                        <input type="checkbox" data-bind="checked: incremental" class="styled" id="incrementalCs">
                                        <label for="incrementalCs">Incremental</label>
                                    </div>
                                </div>
                            </div>
                            <div class="bs-code-output" data-title="Log" data-bind="visible: backupStatusMessages().length, dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer', bottomMargin: '10px' }">
                                <pre>
<!-- ko foreach: backupStatusMessages --><div data-bind="css: { 'text-danger': Severity === 'Error' }, text: '[' + Timestamp + ']\t' + Severity + ':\t' + Message"></div><!-- /ko -->
</pre>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>