<div class="content-container">
    <form class="flex-form" data-bind="submit: saveConfiguration" novalidate>
        <div class="content-margin">
            <div class="toolbar">
                <button type="submit" class="btn btn-primary" data-bind="enable: isSaveEnabled, css: { 'btn-spinner': spinners.save }">
                    <i class="icon-save"></i> <span>Save</span>
                </button>
            </div>
            <div class="row margin-top margin-top-lg">
                <div class="col-sm-12 col-lg-6">
                    <div class="panel padding-sm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <input id="checkboxSeparator" type="checkbox"
                                           data-bind="checked: model.isDefined, checkedValue: 'identityPartsSeparator'" />
                                    <label for="checkboxSeparator">
                                        Identity parts separator
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5" data-bind="validationElement: model.identityPartsSeparator">
                                <input class="form-control" type="text"
                                       data-bind="textInput: model.identityPartsSeparator, enable: _.includes(model.isDefined(), 'identityPartsSeparator'), 
                                                  attr: { placeholder: model.separatorPlaceHolder }" />
                            </div>
                        </div>
                    </div>
                    <div class="panel padding-sm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <input id="checkboxMaxRequests" type="checkbox"
                                           data-bind="checked: model.isDefined, checkedValue: 'maxNumberOfRequestsPerSession'" />
                                    <label for="checkboxMaxRequests">
                                        Maximum number of requests per session
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5" data-bind="validationElement: model.maxNumberOfRequestsPerSession">
                                <input class="form-control" type="number" min="0"
                                       data-bind="numericInput: model.maxNumberOfRequestsPerSession, enable: _.includes(model.isDefined(), 'maxNumberOfRequestsPerSession'), 
                                                  attr: { placeholder: model.requestsNumberPlaceHolder }" />
                            </div>
                        </div>
                    </div>
                    <div class="panel padding-sm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <input id="checkboxUseSessionContext" type="checkbox"
                                           data-bind="checked: model.isDefined, checkedValue: 'useSessionContextForLoadBehavior'" />
                                    <label for="checkboxUseSessionContext">
                                        Use Session Context for Load Balancing
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5" data-bind="validationElement: model.loadBalanceContextSeed, validationOptions: { insertMessages: false }">
                                <div class="flex-horizontal">
                                    <div class="toggle">
                                        <input id="toggleSeed" type="checkbox" 
                                               data-bind="checked: model.setLoadBalanceSeed, enable: _.includes(model.isDefined(), 'useSessionContextForLoadBehavior')">
                                        <label for="toggleSeed">
                                            Seed
                                        </label>
                                    </div>
                                    <input class="form-control margin-left" type="number" min="0" placeholder="Enter seed number"
                                           data-bind="numericInput: model.loadBalanceContextSeed, enable: model.setLoadBalanceSeed" />
                                </div>
                                <div class="help-block" data-bind="validationMessage: model.loadBalanceContextSeed"></div>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <input id="checkboxReadBalance" type="checkbox"
                                           data-bind="checked: model.isDefined, checkedValue: 'readBalanceBehavior'" />
                                    <label for="checkboxReadBalance">
                                        Read balance behavior
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="dropdown flex-vertical">
                                    <button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                                            data-bind="enable: !_.includes(model.isDefined() , 'useSessionContextForLoadBehavior') && _.includes(model.isDefined() , 'readBalanceBehavior')">
                                        <span data-bind="text: model.readBalanceBehaviorLabel"></span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" data-bind="foreach: model.constructor.readModes">
                                        <li><a href="#" data-bind="text: label, click: _.partial($root.setReadMode, value)"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
