<div class="cluster flex-vertical absolute-fill content-margin">
    <div class="row flex-row flex-grow flex-stretch-items">
        <div class="col-sm-12 col-lg-6 flex-vertical">

            <div class="flex-header flex-horizontal">
                <button data-bind="click: addNode, enable: canAddNodes" class="btn btn-primary"><i class="icon-plus"></i> <span>Add Node to cluster</span></button>
                <div class="flex-separator"></div>
                <div data-bind="if: licenseSummary">
                    License limits: <strong data-bind="text: licenseSummary"></strong>
                </div>
                <div>Term: <span data-bind="text: topology().currentTerm"></span></div>
            </div>

            <div class="scroll flex-grow" data-bind="foreach: topology().nodes">
                <div class="panel destination-item">
                    <div data-bind="attr: { 'data-state-text': createStateObservable($root.topology), class: 'state ' + createStateClassObservable($root.topology)() } "></div>
                    <div class="padding destination-info">
                        <div class="info-container">
                            <div class="flex-horizontal">
                                <div class="node flex-grow">
                                    <h5>TAG</h5>
                                    <div class="flex-horizontal">
                                        <div>
                                            <h3>
                                                <a class="destination-name" data-bind="attr: { href: serverUrl }" target="_blank">
                                                    <i data-bind="attr : { class: $root.topology().nodeTag() === tag() ? 'icon-home' : 'icon-cluster-node' }"></i>
                                                    <span data-bind="text: 'Node ' + tag()"></span>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="node-type">
                                    <h5>TYPE</h5>
                                    <h3 data-bind="visible: $root.topology().leader() === tag()">
                                        <i title="Leader" class="icon-node-leader"></i> <span>Leader</span>
                                    </h3>
                                    <h3 data-bind="visible: $root.topology().leader() !== tag()">
                                        <i data-bind="attr: { class: cssIcon, title: type }" ></i> <span data-bind="text: type"></span>
                                    </h3>
                                </div>
                            </div>
                            <div class="address">
                                <h5>ADDRESS</h5>
                                <a target="_blank" data-bind="attr: { href: serverUrl }"><small data-bind="text: serverUrl"></small></a>
                            </div>
                            <div data-bind="if: utilizedCores">
                                <span>Cores: </span>
                                <strong data-bind="text: utilizedCores, css: cssCores"></strong><span data-bind="if: numberOfCores() && utilizedCores() != -1">
                                    / <strong class="text-success" data-bind="text: numberOfCores"></strong>
                                </span>
                                <span data-bind="if: installedMemoryInGb">
                                    , &nbsp;Memory:  
                                    <span style="color: whitesmoke"><span data-bind="text: utilizedMemoryInGb"></span>GB</span>
                                    <span data-bind="if: installedMemoryInGb() && installedMemoryInGb() != -1">
                                        / <span style="color: whitesmoke"><span data-bind="text: installedMemory"></span>GB</span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="flex-separator"></div>
                        <div class="actions-container">
                            <div class="actions">
                                <button class="btn btn-default" title="Promote watcher to become member/promotable" 
                                        data-bind="click: _.partial($parent.promote, $data), css: { 'btn-spinner': _.includes($root.spinners.promote(), tag()) }, disable: _.includes($root.spinners.promote(), tag()), visible: createCanBePromotedObservable($root.topology)" >
                                    <i class="icon-promote"></i> <span>Promote</span>
                                </button>
                                <button class="btn btn-default" title="Demote cluster node to watcher" 
                                        data-bind="click: _.partial($parent.demote, $data), css: { 'btn-spinner': _.includes($root.spinners.demote(), tag()) }, disable: _.includes($root.spinners.demote(), tag()), visible: createCanBeDemotedObservable($root.topology)" >
                                    <i class="icon-demote"></i> <span>Demote</span>
                                </button>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span>Operations</span>
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" data-bind="click: _.partial($parent.assignCores, $data)">
                                                <i class="icon-waiting"></i>
                                                <span>Re-assign cores</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-bind="click: _.partial($parent.stepDown, $data), visible: $root.topology().leader() === tag(), css: { 'btn-spinner': $root.spinners.stepdown }, disable: $root.spinners.stepdown">
                                                <i class="icon-stepdown"></i> <span>Step down</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-bind="click: _.partial($parent.forceTimeout, $data), css: { 'btn-spinner': $root.spinners.forceTimeout() }, disable: $root.spinners.forceTimeout()">
                                                <i class="icon-waiting"></i>
                                                <span>Force timeout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                               
                                <button class="btn btn-danger" 
                                        data-bind="click: _.partial($parent.deleteNode, $data), enable: $root.canDeleteNodes() && !_.includes($root.spinners.delete(), tag()), css: { 'btn-spinner': _.includes($root.spinners.delete(), tag()) }" 
                                        title="Remove node from cluster">
                                    <i class="icon-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-addon" data-bind="visible: errorDetailsShort">
                        <div class="padding bg-danger small">
                            <div data-bind="text: errorDetailsShort"></div>
                            <div>
                                <a href="#" data-bind="click: _.partial($root.showErrorDetails, tag())">show details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 flex-vertical">
            <div class="flex-horizontal flex-header">
                <div></div><h3>Cluster topology</h3>
                <div class="flex-separator"></div>
                <!-- TODO
                <div class="btn-group dropdown-right">
                    <button class="btn btn-default dropdown-toggle" disabled="disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="icon-export"></i><span>Download topology</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">.zip</a></li>
                    </ul>
                </div> -->
            </div>
            <div class="panel flex-grow" id="clusterGraphContainer" data-bind="css: { graphHidden: !$root.showConnectivity() }">
                <div class="absolute-center" data-bind="visible: !$root.showConnectivity()">
                    Go to <a target="_blank" href="#" data-bind="attr: { href: $root.leaderUrl }">Leader</a> node to see connectivity status.
                </div>
            </div>
            <div class="legend">
                <div class="row">
                    <div class="col-sm-8">
                        <h5>Node type</h5>
                        <div class="row">
                            <div class="col-xs-6">
                                <div><i class="icon-crown"></i> <span>Leader</span></div>
                            </div>
                            <div class="col-xs-6">
                                <div><i class="icon-cluster-member"></i> <span>Member</span></div>
                                <div><i class="icon-cluster-watcher"></i> <span>Watcher</span></div>
                                <div><i class="icon-cluster-promotable"></i> <span>Promotable</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h5>Connection status</h5>
                        <div><i class="icon-arrow text-success"></i> <span>ACTIVE CONNECTION</span></div>
                        <div><i class="icon-arrow-dashed text-danger"></i> <span>BROKEN CONNECTION</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
