<div class="cluster flex-vertical absolute-fill content-margin">
    <div class="row flex-row flex-grow flex-stretch-items">
        <div class="col-sm-12 col-lg-6 flex-vertical">

            <div class="flex-header">
                <button data-bind="click: addNode, enable: canAddNodes" class="btn btn-primary"><i class="icon-plus"></i> <span>Add Node to cluster</span></button>
            </div>

            <div class="scroll flex-grow" data-bind="foreach: topology().nodes">
                <div class="panel destination-item">
                    <div data-bind="attr: { 'data-state-text': createStateObservable($root.topology), class: 'state ' + createStateClassObservable($root.topology)() } "></div>
                    <div class="padding padding-sm destination-info">
                        <div class="info-container">
                            <div class="flex-horizontal">
                                <div class="node flex-grow">
                                    <h5>TAG</h5>
                                    <div class="flex-horizontal">
                                        <div>
                                            <h3>
                                                <a class="destination-name" data-bind="attr: { href: serverUrl }, css: { 'btn-spinner' : !$root.topology().leader() && tag() !== '?' }" target="_blank">
                                                    <i data-bind="attr : { class: $root.topology().nodeTag() === tag() ? 'icon-home' : 'icon-cluster-node' }"></i>
                                                    <span data-bind="text: 'Node ' + tag()"></span>
                                                </a>
                                            </h3>
                                        </div>
                                        <div data-bind="visible: $root.topology().leader() === tag()">
                                            <i class="icon-crown text-warning" title="Leader"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="node-type">
                                    <h5>TYPE</h5>
                                    <h3><i data-bind="attr: { class: cssIcon, title: type }" ></i> <span data-bind="text: type"></span></h3>
                                </div>
                            </div>
                            <div class="address">
                                <h5>ADDRESS</h5>
                                <a target="_blank" data-bind="attr: { href: serverUrl }"><small data-bind="text: serverUrl"></small></a>
                            </div>
                            <div class="text-danger" data-bind="text: errorDetails">
                                
                            </div>
                        </div>
                        <div class="flex-separator"></div>
                        <div class="actions-container">
                            <div class="actions">
                                <button class="btn btn-default" title="Promote watcher to become member/promotable" 
                                        data-bind="click: _.partial($parent.promote, $data), css: { 'btn-spinner': _.includes($root.spinners.promote(), tag()) }, disable: _.includes($root.spinners.promote(), tag()), visible: createCanBePromotedObservable($root.topology)" >
                                    <i class="icon-arrow-filled-up"></i> <span>Promote</span>
                                </button>
                                <button class="btn btn-default" title="Demote cluster node to watcher" 
                                        data-bind="click: _.partial($parent.demote, $data), css: { 'btn-spinner': _.includes($root.spinners.demote(), tag()) }, disable: _.includes($root.spinners.demote(), tag()), visible: createCanBeDemotedObservable($root.topology)" >
                                    <i class="icon-arrow-filled-down"></i> <span>Demote</span>
                                </button>
                                <button class="btn btn-default" 
                                        data-bind="click: _.partial($parent.stepDown, $data), visible: $root.topology().leader() === tag(), css: { 'btn-spinner': $root.spinners.stepdown }, disable: $root.spinners.stepdown">
                                    <i class="icon-stepdown"></i> <span>Step down</span>
                                </button>
                                <button class="btn btn-default"   title="Force stop waiting for leader"
                                        data-bind="click: _.partial($parent.forceTimeout, $data), css: { 'btn-spinner': $root.spinners.forceTimeout() }, disable: $root.spinners.forceTimeout(), visible: $root.topology().nodeTag() === tag()" >
                                    <i class="icon-waiting"></i>
                                </button>
                                <button class="btn btn-danger" 
                                        data-bind="click: _.partial($parent.deleteNode, $data), enable: $root.canDeleteNodes() && !_.includes($root.spinners.delete(), tag()), css: { 'btn-spinner': _.includes($root.spinners.delete(), tag()) }" 
                                        title="Remove node from cluster">
                                    <i class="icon-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 flex-vertical">
            <div class="flex-horizontal flex-header">
                <div></div><h3>Cluster topology</h3>
                <div class="flex-separator"></div>
                <div class="btn-group dropdown-right">
                    <button class="btn btn-default dropdown-toggle btn-upcoming" disabled="disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="icon-export"></i><span>Download topology</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">.zip</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel flex-grow" id="clusterGraphContainer" data-bind="css: { graphHidden: !$root.showConnectivity() }">
                <div class="absolute-center" data-bind="visible: !$root.showConnectivity()">
                    Go to <a target="_blank" href="#" data-bind="attr: { href: $root.leaderUrl }">Leader</a> node to see connectivity status.
                </div>
            </div>
            <div class="legend">
                <div class="row">
                    <div class="col-sm-8">
                        <h5>Node type</h5>
                        <div class="row">
                            <div class="col-xs-6">
                                <div><i class="icon-crown"></i> <span>Leader</span></div>
                            </div>
                            <div class="col-xs-6">
                                <div><i class="icon-cluster-member"></i> <span>Member</span></div>
                                <div><i class="icon-cluster-watcher"></i> <span>Watcher</span></div>
                                <div><i class="icon-cluster-promotable"></i> <span>Promotable</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h5>Connection status</h5>
                        <div><i class="icon-arrow text-success"></i> <span>ACTIVE CONNECTION</span></div>
                        <div><i class="icon-arrow-dashed text-danger"></i> <span>BROKEN CONNECTION</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
