<div class="cluster flex-vertical absolute-fill content-margin">
    <div class="row flex-row flex-grow">
        <div class="col-sm-12 col-lg-6 flex-vertical">

            <div class="flex-header">
                <button data-bind="click: addAnotherServerToCluster" class="btn btn-primary"><i class="icon-plus"></i> <span>Add Node to cluster</span></button>
            </div>

            <div class="scroll flex-grow" data-bind="foreach: topology().nodes">
                <div class="panel destination-item">
                    <div data-state-text="active" class="state state-success"></div>
                    <div class="padding padding-sm destination-info">
                        <div class="info-container">
                            <div class="flex-horizontal">
                                <div class="node flex-grow">
                                    <h5>TAG</h5>
                                    <div class="flex-horizontal">
                                        <div>
                                            <h3>
                                                <a class="destination-name" data-bind="attr: { href: serverUrl }" target="_blank">
                                                    <i data-bind="attr : { class: $root.topology().nodeTag() === tag() ? 'icon-home' : 'icon-dbgroup' }"></i>
                                                    <span data-bind="text: 'Node ' + tag()"></span>
                                                </a>
                                            </h3>
                                        </div>
                                        <div data-bind="visible: $root.topology().leader() === tag()">
                                            <i class="icon-crown text-warning" title="Leader"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="node-type">
                                    <h5>TYPE</h5>
                                    <h3><i data-bind="attr: { class: cssIcon }" ></i> <span data-bind="text: type"></span></h3>
                                </div>
                            </div>
                            <div class="address">
                                <h5>ADDRESS</h5>
                                <a target="_blank" data-bind="attr: { href: serverUrl }"><small data-bind="text: serverUrl"></small></a>
                            </div>
                        </div>
                        <div class="flex-separator"></div>
                        <div class="actions-container">
                            <div class="actions">
                                <!-- TODO 
                                <button class="btn btn-default"><i class="icon-arrow-filled-up"></i> <span>Promote</span></button>
                                <button class="btn btn-default"><i class="icon-arrow-filled-down"></i> <span>Demote</span></button>
                                    <button class="btn btn-default"><i class="icon-stepdown"></i> <span>Step down</span></button>
                                    -->
                                <button class="btn btn-danger" data-bind="click: _.partial($parent.deleteNode, $data), enable: $root.canDeleteNodes"><i class="icon-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 flex-vertical">
            <div class="flex-horizontal flex-header">
                <div></div><h3>DB group topology<i class="icon-info text-info"></i></h3>
                <div class="flex-separator"></div>
                <div class="btn-group dropdown-right">
                    <button class="btn btn-default dropdown-toggle btn-upcoming" disabled="disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="icon-export"></i><span>Download topology</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">.zip</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel flex-grow">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                        <br /><br /><br />
                        <i class="icon-xl icon-hammer-driver text-warning"></i>
                        <h2 class="text-center text-warning">
                            Graph is under development
                        </h2>
                    </div>
                </div>
            </div>
            <div class="legend">
                <div class="row">
                    <div class="col-sm-8">
                        <h5>Node type</h5>
                        <div class="row">
                            <div class="col-xs-6">
                                <div><i class="icon-circle-filled text-info"></i> <span>CLUSTER NODE</span></div>
                                <div><i class="icon-circle-filled text-warning"></i> <span>CLUSTER LEADER</span></div>
                            </div>
                            <div class="col-xs-6">
                                <div><i class="icon-member"></i> <span>Member</span></div>
                                <div><i class="icon-watcher"></i> <span>Watcher</span></div>
                                <div><i class="icon-promotable"></i> <span>Promotable</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h5>Connection status</h5>
                        <div><i class="icon-arrow text-success"></i> <span>ACTIVE CONNECTION</span></div>
                        <div><i class="icon-arrow-dashed text-warning"></i> <span>DISABLED CONNECTION</span></div>
                        <div><i class="icon-arrow-dashed text-danger"></i> <span>BROKEN CONNECTION</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
