<div class="modal-dialog modal-lg prevent-close" role="document">
    <div class="modal-content" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: close" aria-hidden="true">
                <i class="icon-cancel"></i>
            </button>
            <h4 class="modal-title">Configure Microsoft Logs</h4>
        </div>
        <div class="modal-body">
            
            <div class="margin-left">
                <div class="toggle">
                    <input id="enableAdminLogsMicrosoft" type="checkbox" data-bind="checked: isEnabled">
                    <label for="enableAdminLogsMicrosoft">Enable Microsoft logs</label>
                </div>
            </div>

            <div data-bind="collapse: isEnabled">
                <div>
                    <pre class="form-control margin-top" data-bind="aceEditor: { code: code, fullScreenNotAllowed: true }" style="height: 250px;">
                    </pre>
                    <div data-bind="validationElement: code">
                        <div class="help-block" data-bind="validationMessage: code"></div>
                    </div>
                </div>

                <div class="margin-left margin-top">
                    <div class="toggle">
                        <input id="persistAdminLogsMicrosoft" type="checkbox" data-bind="checked: persist">
                        <label for="persistAdminLogsMicrosoft">Save this configuration in <code>settings.json</code> and <code>settings.logs.microsoft.json</code></label>
                    </div>
                    <div class="bg-info padding padding-xs margin-bottom" data-bind="visible: !persist()">
                        <i class="icon-info"></i> <span>Above logs settings will reset after a server restart</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click: close">
                Cancel
            </button>
            <button type="button" class="btn btn-primary" data-bind="click: save">
                <i class="icon-save"></i>
                <span>Save</span>
            </button>
        </div>
    </div>
</div>
