<div data-bind="visible: !settingsAccess.canReadOrWrite()" class="text-center">
    <h4 class="page-header text-info">You are not authorized to view this page!</h4>
</div>
<div class="panel panel-default panel-wo-margin" id="disk-io-viewer" data-bind="visible: settingsAccess.canReadOrWrite">
    <div class="panel-heading panel-info">
        <a target="_blank" data-bind="attr: { href: $root.currentHelpLink }, visible: $root.currentHelpLink" class="global_help_link"><i class="fa fa-question-circle fa-2x"></i></a>
        <span class="text-height-fix">Disk IO Viewer</span>
    </div>
    <div class="panel-body">
        <div class="text-center" data-bind="visible: performanceRuns().length == 0">
            <h3 class="text-info">There are no results to display. <small>Use Raven.Monitor.exe to generate Disk IO Performance report. </small></h3>
        </div>

        <div class="form-inline">
            <div class="form-group" data-bind="visible: performanceRuns().length > 0">
                <label>Report:</label>
                <div class="input-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span data-bind="text: currentPeformanceRunLabel">Select</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" data-bind="foreach: performanceRuns">
                        <li><a href="#" data-bind="click: $root.switchReport.bind($root), text: displayName"></a></li>
                    </ul>
                </div>

                <button data-bind="click: deleteReport, visible: currentPerformanceRun()" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>

            </div>

            <div class="form-group padd-left-10" data-bind="visible: perDbReports().length > 0">
                <label>Database:</label>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span data-bind="text: currentDbReportLabel"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" data-bind="foreach: perDbReports">
                        <li><a href="#" data-bind="click: $root.switchDatabase.bind($root), text: Name"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center" data-bind="visible: emptyReport">
            <h3 class="text-info">
                <i class="fa fa-warning"></i>  This report does not contain any data.
            </h3>
        </div>
        <div data-bind="if: showChart()" id="diskMonitorContainer" class="with-3d-shadow with-transitions">
            <svg height="300" data-bind="dynamicHeight: { resizeTrigger: window.ravenStudioWindowHeight(), target: 'footer', container: '#disk-io-viewer' }"></svg>
        </div>
    </div>
</div>
