<form class="content-margin edit-backup" data-bind="with: editedTask" autocomplete="off">
    <div class="toolbar" data-bind="with: $root">
        <button type="submit" class="btn btn-primary"
                data-bind="click: saveBackupSettings, disable: spinners.save() || !dirtyFlag().isDirty(), css: { 'btn-spinner': spinners.save }">
            <i class="icon-save"></i><span>Save</span>
        </button>
        <button data-bind="click: cancelOperation" class="btn btn-default" title="Return to the Server-Wide Tasks view">
            <i class="icon-cancel"></i><span>Cancel</span>
        </button>
    </div>
    <div class="panel">
        <div class="padding">
            <strong><h3 data-bind="text: $parent.isAddingNewBackupTask() ? `New Server-Wide Backup Task` : `Edit Server-Wide Backup Task`"></h3></strong>
            <div class="row margin-bottom" data-bind="validationElement: name">
                <label class="control-label col-sm-4 col-lg-2">Task Name</label>
                <div class="col-sm-4">
                    <input data-bind="textInput: name" id="taskName" type="text" class="form-control" placeholder="Enter a name for the Server-Wide Backup Task"/>
                </div>
            </div>
            <div class="row margin-bottom" data-bind="validationElement: backupType">
                <label class="control-label col-sm-4 col-lg-2">Backup Type <i class="required"></i> <small><i class="backup-info icon-info text-info"></i></small></label>
                <div class="col-sm-4" data-bind="validationOptions: { insertMessages: false }">
                    <div class="dropdown btn-block">
                        <button class="btn btn-block dropdown-toggle text-left" type="button" data-toggle="dropdown">
                            <span data-bind="text: backupType() || 'Select backup type..'"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" data-bind="foreach: backupOptions">
                            <li><a href="#" data-bind="text: $data, click: $parent.useBackupType.bind($parent, $data)"></a></li>
                        </ul>
                    </div>
                    <span class="help-block" data-bind="validationMessage: backupType"></span>
                </div>
            </div>
            <div class="row margin-bottom" data-bind="visible: isSnapshot, with: snapshot">
                <label class="control-label col-sm-4 col-lg-2">Compression</label>
                <div class="col-sm-4">
                    <div class="dropdown btn-block">
                        <button class="btn btn-block dropdown-toggle text-left" type="button" data-toggle="dropdown">
                            <span data-bind="text: compressionLevel"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" data-bind="foreach: compressionLevelOptions">
                            <li><a href="#" data-bind="text: $data, click: $parent.useCompression.bind($parent, $data)"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom margin-bottom-sm">
                <div class="col-sm-offset-4 col-lg-offset-2 col-sm-4">
                    <div class="toggle">
                        <div class="responsible-node">
                            <input id="responsibleNode" type="checkbox" data-bind="checked: manualChooseMentor">
                            <label for="responsibleNode">Set preferred responsible node</label>
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="validationElement: mentorNode, collapse: manualChooseMentor">
                <div class="row margin-bottom">
                    <label class="control-label col-sm-4 col-lg-2">Responsible Node</label>
                    <div class="col-sm-4">
                        <div class="dropdown btn-block margin-bottom margin-bottom-sm">
                            <button class="btn btn-block dropdown-toggle text-left" data-toggle="dropdown">
                                <span data-bind="text: mentorNode() ? 'Node ' + mentorNode() : 'Select preferred responsible node'"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" data-bind="foreach: $root.possibleMentors">
                                <li><a href="#" data-bind="text: 'Node ' + $data, click: $parent.mentorNode.bind($parent.mentorNode, $data)"></a></li>
                            </ul>
                            <span class="help-block" data-bind="validationMessage: mentorNode"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="with: excludeInfo">
                <div class="row margin-bottom margin-bottom-xs">
                    <div class="col-sm-offset-4 col-lg-offset-2 col-sm-4">
                        <div class="toggle">
                            <div data-placement="right" data-toggle="tooltip" title="Select databases to exclude from the server-wide backup" data-animation="true">
                                <input id="excludeDatabase" type="checkbox" data-bind="checked: exclude">
                                <label for="excludeDatabase">Exclude databases</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom margin-bottom-xs">
                    <div class="col-sm-offset-4 col-lg-offset-2 col-sm-4" data-bind="collapse: exclude">
                        <div class="flex-horizontal">
                            <div class="flex-grow">
                                <div class="dropdown btn-block flex-grow" data-bind="validationElement: databasesToExclude">
                                    <input class="form-control dropdown-toggle" placeholder="Select (or enter) a database to exclude" data-toggle="dropdown" autocomplete="off"
                                           data-bind="textInput: inputDatabaseToExclude, attr: { id: 'databaseNameInput' }" />
                                    <span class="caret dropdown-toggle" data-toggle="dropdown"></span>
                                    <ul class="dropdown-menu" role="menu" style="display: none;"
                                        data-bind="autoComplete: '#databaseNameInput', foreach: createDatabaseNameAutocompleter()">
                                        <li role="presentation" data-bind="click: $parent.addWithBlink.bind($parent, $data)">
                                            <a role="menuitem" tabindex="-1" href="#">
                                                <span data-bind="text: $data"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <span class="help-block" data-bind="validationMessage: databasesToExclude"></span>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-info" data-bind="click: addDatabase, enable: inputDatabaseToExclude() && canAddDatabase()">
                                    <i class="icon-plus"></i><span>Add Database</span>
                                </button>
                            </div>
                        </div>
                        <div data-bind="visible: databasesToExclude() && databasesToExclude().length" class="margin-top">
                            <label><strong>Excluded Databases:</strong></label>
                            <ul class="well collection-list" data-bind="foreach: databasesToExclude">
                                <li>
                                    <div class="name" data-bind="text: $data"></div>
                                    <a title="Remove database" href="#" data-bind="click: $parent.removeDatabase.bind($parent, $data)"><i class="icon-trash"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="margin-bottom margin-bottom-xs">Schedule</h3>
    <div class="panel">
        <div class="padding">
            <div class="row margin-bottom" data-bind="validationElement: fullBackupFrequency">
                <label class="control-label col-xs-12 col-sm-4 col-lg-2">Full</label>
                <div class="col-xs-6 col-sm-4">
                    <div class="toggle" data-bind="validationOptions: { insertMessages: false }">
                        <input id="fullBackupToggle" type="checkbox" data-bind="checked: fullBackupEnabled">
                        <label for="fullBackupToggle">Enable full backup</label>
                    </div>
                    <div data-bind="compose: $root.fullBackupCronEditor, visible: fullBackupEnabled"></div>
                </div>
            </div>
            <div class="row margin-bottom" data-bind="validationElement: incrementalBackupFrequency">
                <label class="control-label col-xs-12 col-sm-4 col-lg-2">Incremental</label>
                <div class="col-xs-6 col-sm-4">
                    <div class="toggle" data-bind="validationOptions: { insertMessages: false }">
                        <input id="incrementalBackupToggle" type="checkbox" data-bind="checked: incrementalBackupEnabled">
                        <label for="incrementalBackupToggle">Enable incremental backup</label>
                    </div>
                    <div data-bind="validationElement: incrementalBackupEnabled">
                        <div class="help-block" data-bind="validationMessage: incrementalBackupEnabled"></div>
                    </div>
                    <div data-bind="compose: $root.incrementalBackupCronEditor, visible: incrementalBackupEnabled"></div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="margin-bottom margin-bottom-xs">Retention Policy</h3>
    <div class="panel" data-bind="with: retentionPolicy">
        <div class="padding">
            <div class="toggle">
                <input id="limit-backups-by-age" type="checkbox" data-bind="checked: retentionPolicyEnabled">
                <label for="limit-backups-by-age">Limit # of backups by age</label>
            </div>
            <div class="row collapse" data-bind="collapse: retentionPolicyEnabled">
                <div class="col-sm-8 col-lg-6 margin-top margin-bottom">
                    <div class="row" data-bind="validationElement: minimumBackupAgeToKeep">
                        <label class="control-label col-xs-12 col-sm-6 col-lg-4">
                            Minimum retention time <small><i class="backup-age-info icon-info text-info"></i></small>
                        </label>
                        <div class="col-xs-12 col-sm-6 col-lg-8">
                            <input type="text" class="form-control" data-bind="durationPicker: minimumBackupAgeToKeep, durationPickerOptions: { showDays: true }" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-4">
                            <span data-bind="validationElement: minimumBackupAgeToKeep">
                                <span class="help-block" data-bind="validationMessage: minimumBackupAgeToKeep"></span>
                            </span>
                        </div>
                    </div>
                    <div class="row" data-bind="if: !minimumBackupAgeToKeep.error()">
                        <div class="col-sm-offset-2">
                            <div class="bg-info padding padding-sm small margin-top">
                                <i class="icon-info"></i><span data-bind="html: humaneRetentionDescription"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="margin-bottom margin-bottom-xs">Encryption</h3>
    <div class="panel" data-bind="with: encryptionSettings" data-bind="validationElement: enabled">
        <div class="padding">
            <div class="flex-horizontal" data-bind="validationElement: enabled">
                <div class="toggle margin-right" data-bind="validationOptions: { insertMessages: false }">
                    <input id="toggle-encryption" type="checkbox" data-bind="checked: enabled">
                    <label for="toggle-encryption">Encrypt backup</label>
                </div>
                <span class="help-block" data-bind="validationMessage: enabled"></span>
                <small data-bind="visible: $root.editedTask().backupType() === 'Snapshot' && enabled()"><i class="serverwide-snapshot-encryption-info icon-info text-info"></i></small>
            </div>
            <div data-bind="collapse: needExplicitConsent">
                <div class="flex-horizontal" data-bind="validationElement: allowUnencryptedBackupForEncryptedDatabase">
                    <div class="toggle margin-right" data-bind="validationOptions: { insertMessages: false }">
                        <input id="toggle-unencrypted-backup" type="checkbox" data-bind="checked: allowUnencryptedBackupForEncryptedDatabase">
                        <label for="toggle-unencrypted-backup">Allow unencrypted backup for encrypted database</label>
                    </div>
                    <span class="help-block" data-bind="validationMessage: allowUnencryptedBackupForEncryptedDatabase"></span>
                </div>
            </div>
            <div data-bind="collapse: showOriginalKeySection">
                <div class="row">
                    <label class="control-label col-sm-4 col-lg-2">Current Encryption Key</label>
                    <div class="col-sm-4">
                        <input type="text" data-bind="textInput: originalKey" class="form-control margin-bottom" disabled title="This key is currently in use"/>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-4 col-sm-offset-4 col-lg-offset-2">
                        <div class="toggle margin-bottom">
                            <input id="toggleChangeKey" type="checkbox" data-bind="checked: changeKeyRequest">
                            <label for="toggleChangeKey">Change encryption key</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-addon padding padding-lg" data-bind="collapse: showProvidedKeySection">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div>
                            <h3 data-bind="visible: !changeKeyRequest()">Encryption Key Configuration</h3>
                            <h3 data-bind="visible: changeKeyRequest">Select New Encryption Key</h3>
                        </div>
                        <hr />
                        <div data-bind="with: encryptionSection">
                            <div data-bind="compose: 'resources/setupEncryptionKey.html'"></div>
                        </div>
                        <div class="bg-warning padding padding-sm small flex-horizontal">
                            <div>
                                <i class="icon-warning"></i>
                            </div>
                            <div>
                                <span>
                                    The encryption key defined in this section will be used only if the database being backed up is <strong>Not encrypted</strong>.<br>
                                    If the database backed up is <strong>encrypted</strong> then the backup will use the database key itself.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="compose: 'partial/backupDestinations.html'"></div>
</form>

<script type="text/html" id="test-connection-results-template">
    <div data-bind="with: testConnectionResult">
        <div data-bind="compose: 'partial/backupDestinationTestCredentialsResults.html'"></div>
    </div>
</script>
