<!-- TODO: remove -->
<div class="content-margin" id="infoPackageSection">
    <div class="row">
        <div class="col-lg-8 col-xl-6">
            <div class="panel padding padding-lg">
                <img alt="info package" src="../../../Content/img/info_package.svg" class="img-responsive img-center" width="210" />
                <h2 class="text-center margin-top">Create Debug Package</h2>
                <p class="description text-center">Generate a comprehensive package of diagnostic information to aid in troubleshooting and resolving issues.</p>
                <ul class="info-package-items margin-top margin-bottom-sm">
                    <li class="item">
                        <i class="icon-replication"></i>
                        <span>Replication</span>
                    </li>
                    <li class="item">
                        <i class="icon-stats"></i>
                        <span>Performance</span>
                    </li>
                    <li class="item">
                        <i class="icon-io-test"></i>
                        <span>I/O</span>
                    </li>
                    <li class="item">
                        <i class="icon-storage"></i>
                        <span>Storage</span>
                    </li>
                    <li class="item">
                        <i class="icon-memory"></i>
                        <span>Memory</span>
                    </li>
                    <li class="item">
                        <i class="icon-other"></i>
                        <span>and more</span>
                    </li>
                </ul>
                <div class="checkbox-list-group d-flex flex-grow flex-vertical justify-content-center margin-bottom">
                    <div class="checkbox-list d-flex flex-vertical justify-content-center align-items-center">
                        <small>Select data types</small>
                        <div class="well d-flex flex-vertical align-items-start" data-bind="validationOptions: { insertMessages: false }">
                            <div class="checkbox margin-bottom-sm">
                                <input id="serverWide" class="styled" type="checkbox" value="ServerWide" data-bind="checked: model.types">
                                <label for="serverWide">
                                    Server
                                </label>
                            </div>
                            <div class="checkbox margin-bottom-sm">
                                <input id="databases" class="styled" type="checkbox" value="Databases" data-bind="checked: model.types">
                                <label for="databases">
                                    Databases
                                </label>
                            </div>
                            <div class="checkbox">
                                <input id="logFile" class="styled" type="checkbox" value="LogFile" data-bind="checked: model.types">
                                <label for="logFile">
                                    Logs
                                </label>
                            </div>
                        </div>
                        <div data-bind="validationElement: model.types">
                            <div class="help-block" data-bind="validationMessage: model.types"></div>
                        </div>
                    </div>
                    <div class="checkbox-list d-flex flex-vertical justify-content-center align-items-center" data-bind="visible: model.types().includes('Databases')">
                        <small>Databases</small>
                        <div class="well">
                            <div class="toggle">
                                <input id="toggleDatabases" type="checkbox" data-bind="checked: model.allDatabases">
                                <label for="toggleDatabases">Select all</label>
                            </div>
                            <div data-bind="foreach: databaseNames, visible: !model.allDatabases()" class="d-flex flex-vertical w-100 databases-checkbox-list">
                                <div class="checkbox margin-bottom-sm" data-bind="validationOptions: { insertMessages: false }">
                                    <input class="styled" type="checkbox"
                                        data-bind="attr: { id: 'database_info_' + $index() }, value: $data, checked: $root.model.databases" />
                                    <label class="break-spaces" data-bind="attr: { for: 'database_info_' + $index() }, text: $data">
                                    </label>
                                </div>
                            </div>
                            <div data-bind="validationElement: model.databases">
                                <div class="help-block" data-bind="validationMessage: model.databases"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center create-package">
                    <label class="margin-right">Create package for</label>
                    <div class="flex-grow">
                        <div class="d-flex flex-grow dropup">
                            <button class="btn dropdown-toggle text-left d-flex align-items-center justify-content-between flex-grow" type="button" data-toggle="dropdown">
                                <span data-bind="visible: !model.scope()">Select...</span>
                                <span data-bind="visible: model.scope() === 'currentServer'">Current server only</span>
                                <span data-bind="visible: model.scope() === 'entireCluster'">Entire cluster</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-bind="click: _.partial(model.scope, 'currentServer')">Current server only</a></li>
                                <li><a href="#" data-bind="click: _.partial(model.scope, 'entireCluster')">Entire cluster</a></li>
                            </ul>

                        </div>
                        <div data-bind="validationElement: model.scope">
                            <div class="help-block" data-bind="validationMessage: model.scope"></div>
                        </div>
                    </div>
                    
                    <button class="btn btn-primary"
                            data-bind="click: downloadPackage, disable: spinners.inProgress, css: { 'btn-spinner': spinners.inProgress }">
                        <i class="icon-default"></i> <span>Download</span>
                    </button>
                </div>
                
                <div class="row text-center margin-top" data-bind="visible: spinners.inProgress">
                    <button class="btn btn-default" data-bind="css: { 'btn-spinner': spinners.abort }, click: abortCreatePackage">
                        <i class="icon-cancel"></i><span>Abort</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <form method="get" download target="hidden-form" id="downloadInfoPackageForm">
            
        </form>
    </div>
</div>
