<section id="infoPackageSection">
    
    <div class="content-margin">
        <button class="btn btn-default" data-bind="click: downloadServerWidePackage">Download server wide info package</button>
        <button class="btn btn-default" data-bind="click: downloadClusterWidePackage">Download cluster wide info package</button>

        <div class="alert alert-warning">TODO: L&amp;F and write what's inside the package </div>

        <div class="hidden">
            <form method="get" download target="hidden-form" id="downloadInfoPackageForm"></form>
        </div>
    </div>
  

</section>
