<div data-bind="visible: isForbidden" class="text-center">
    <h4 class="page-header text-info">You are not authorized to view this page!</h4>
</div>

<form class="form-horizontal" role="form" data-bind="submit: startPerformanceTest, visible: isForbidden() == false">
    <div class="panel panel-default">
        <div class="panel-heading panel-info">
            <button type="submit" title="IO Test" class="btn btn-primary" data-bind="disable: isBusy">
                <i class="fa fa-gears fa-fw"></i>
                <span>Test Disk Performance</span>
            </button>
            <button class="btn btn-danger" data-bind="click: killTask, visible: isBusy"><i class="fa fa-bolt fa-fw"></i> Cancel test</button>
        </div>
        <div class="panel-body">
            <div>
                <div class="form-group" data-bind="visible: isBusy">
                    <label for="path" class="col-sm-2 control-label">Current status:</label>
                    <div class="col-sm-5 text-height-fix" data-bind="text: currentStatus"></div>
                </div>
                <div class="form-group">
                    <label for="path" class="col-sm-2 control-label">Temporary dir location</label>
                    <div class="col-sm-5">
                        <input data-bind="value: ioTestRequest.path, disable: isBusy" type="text" required class="form-control" id="path" placeholder="C:&#92;temp&#92;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fileSize" class="col-sm-2 control-label">File size</label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input data-bind="value: fileSizeMb, disable: isBusy" type="number" required class="form-control" id="fileSize" placeholder="1024">
                            <span class="input-group-addon">MB</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="testType" class="col-sm-2 control-label">Test Type</label>
                    <div class="col-sm-10">
                        <div class="btn-group" data-bind="with: ioTestRequest">
                            <button id="testType" type="button" data-bind="disable: $root.isBusy" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span data-bind="visible: testType() === 'generic'">Simple</span>
                                <span data-bind="visible: testType() === 'batch'">Batch</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-bind="click: testType.bind(testType, 'generic')">Simple</a></li>
                                <li><a href="#" data-bind="click: testType.bind(testType, 'batch')">Batch</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-bind="visible: ioTestRequest.testType() == 'generic'">
                    <div class="form-group">
                        <label for="operationType" class="col-sm-2 control-label">Operation Type</label>
                        <div class="col-sm-10">
                            <div class="btn-group" data-bind="with: ioTestRequest">
                                <button id="operationType" type="button" data-bind="disable: $root.isBusy" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span data-bind="visible: operationType() === 'Read'">Read</span>
                                    <span data-bind="visible: operationType() === 'Write'">Write</span>
                                    <span data-bind="visible: operationType() === 'Mix'">Read and write</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" data-bind="click: operationType.bind(operationType, 'Read')">Read</a></li>
                                    <li><a href="#" data-bind="click: operationType.bind(operationType, 'Write')">Write</a></li>
                                    <li><a href="#" data-bind="click: operationType.bind(operationType, 'Mix')">Read and write</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="operationType" class="col-sm-2 control-label">Buffering</label>
                        <div class="col-sm-10">
                            <div class="btn-group" data-bind="with: ioTestRequest">
                                <button id="bufferingType" type="button" data-bind="disable: $root.isBusy" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span data-bind="visible: bufferingType() === 'None'">None</span>
                                    <span data-bind="visible: bufferingType() === 'ReadAndWrite'">Read and write</span>
                                    <span data-bind="visible: bufferingType() === 'Read'">Read</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" data-bind="click: bufferingType.bind(operationType, 'None')">None</a></li>
                                    <li><a href="#" data-bind="click: bufferingType.bind(operationType, 'ReadAndWrite')">Read and write</a></li>
                                    <li><a href="#" data-bind="click: bufferingType.bind(operationType, 'Read')">Read</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sequential" class="col-sm-2 control-label">Sequential</label>
                        <div class="col-sm-10">
                            <div class="btn-group" data-bind="with: ioTestRequest">
                                <button id="sequential" type="button" data-bind="disable: $root.isBusy" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span data-bind="visible: sequential()">Yes</span>
                                    <span data-bind="visible: sequential() == false">No</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" data-bind="click: sequential.bind(sequential, true)">Yes</a></li>
                                    <li><a href="#" data-bind="click: sequential.bind(sequential, false)">No</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="threadCount" class="col-sm-2 control-label">Thread count</label>
                        <div class="col-sm-5">
                            <input data-bind="value: ioTestRequest.threadCount, disable: isBusy" type="number" required class="form-control" id="threadCount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="timeToRunInSeconds" class="col-sm-2 control-label">Time to run</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input data-bind="value: ioTestRequest.timeToRunInSeconds, disable: isBusy" type="number" required class="form-control" id="timeToRunInSeconds">
                                <span class="input-group-addon">sec</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="chunkSize" class="col-sm-2 control-label">Chunk size</label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input data-bind="value: chunkSizeKb, disable: isBusy, customValidity: chunkSizeCustomValidityError" type="number" required class="form-control" id="chunkSize">
                                <span class="input-group-addon">KB</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-bind="visible: ioTestRequest.testType() == 'batch'">
                    <div class="form-group">
                        <label for="numberOfDocuments" class="col-sm-2 control-label">Number of documents</label>
                        <div class="col-sm-5">
                            <input data-bind="value: ioTestRequest.numberOfDocuments, disable: isBusy" type="number" required class="form-control" id="numberOfDocuments">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sizeOfDocuments" class="col-sm-2 control-label">Size of documents</label>
                        <div class="col-sm-5">
                            <input data-bind="value: ioTestRequest.sizeOfDocuments, disable: isBusy" type="number" required class="form-control" id="sizeOfDocuments">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numberOfDocumentsInBatch" class="col-sm-2 control-label">Number of documents<br/>in batch</label>
                        <div class="col-sm-5">
                            <input data-bind="value: ioTestRequest.numberOfDocumentsInBatch, disable: isBusy" type="number" required class="form-control" id="numberOfDocumentsInBatch">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="waitBetweenBatches" class="col-sm-2 control-label">Wait between batches (ms)</label>
                        <div class="col-sm-5">
                            <input data-bind="value: ioTestRequest.waitBetweenBatches, disable: isBusy" type="number" required max="100" min="0" class="form-control" id="waitBetweenBatches">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div data-bind="with: testResult">
        <div class="panel panel-default" >
            <div class="panel-heading panel-info">
                Disk Performance Test Results
            </div>
            <div class="panel-body">
                <!-- ko if:hasReads -->
                <table class="table-condensed table-striped table-hover table">
                    <tr>
                        <th>Total read:</th>
                        <th>Test time:</th>
                        <th>Avg read:</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td data-bind="text: totalRead"></td>
                        <td data-bind="text: testTime"></td>
                        <td data-bind="text: avgRead"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th>Read latency min</th>
                        <th>Read latency mean</th>
                        <th>Read latency stdev</th>
                        <th>Read latency max</th>
                    </tr>
                    <tr>
                        <td data-bind="text: readLatencyMin"></td>
                        <td data-bind="text: readLatencyMean"></td>
                        <td data-bind="text: readLatencyStdev"></td>
                        <td data-bind="text: readLatencyMax"></td>
                    </tr>
                </table>
                <!-- /ko -->
                <!-- ko if:hasWrites -->
                <table class="table-condensed table-striped table-hover table">
                    <tr>
                        <th>Total write:</th>
                        <th>Test time:</th>
                        <th>Avg write:</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td data-bind="text: totalWrite"></td>
                        <td data-bind="text: testTime"></td>
                        <td data-bind="text: avgWrite"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th>Write latency min</th>
                        <th>Write latency mean</th>
                        <th>Write latency stdev</th>
                        <th>Write latency max</th>
                    </tr>
                    <tr>
                        <td data-bind="text: writeLatencyMin"></td>
                        <td data-bind="text: writeLatencyMean"></td>
                        <td data-bind="text: writeLatencyStdev"></td>
                        <td data-bind="text: writeLatencyMax"></td>
                    </tr>
                </table>
                <!-- /ko -->
                <!-- ko if:hasReads -->
                <table  class="table-condensed table-striped table-hover table">
                    <tr>
                        <th data-bind="attr: { colspan: readPercentiles().length } ">Read latency percentiles</th>
                    </tr>
                    <tr data-bind="foreach: readPercentiles">
                        <td data-bind="text: key"></td>
                    </tr>
                    <tr data-bind="foreach: readPercentiles">
                        <td data-bind="text: value"></td>
                    </tr>
                </table>
                <!-- /ko -->
                <!-- ko if:hasWrites -->
                <table  class="table-condensed table-striped table-hover table">
                    <tr>
                        <th data-bind="attr: { colspan: writePercentiles().length } ">Write latency percentiles</th>
                    </tr>
                    <tr data-bind="foreach: writePercentiles">
                        <td data-bind="text: key"></td>
                    </tr>
                    <tr data-bind="foreach: writePercentiles">
                        <td data-bind="text: value"></td>
                    </tr>
                </table>
                <!-- /ko -->
                
                <h4>Disk throughput</h4>
                <div id="overTimeThroughputContainer" class="with-3d-shadow with-transitions">
                    <svg height="400"></svg>
                </div>
                
                <h4>Disk latency</h4>
                <div id="overTimeLatencyContainer" class="with-3d-shadow with-transitions">
                    <svg height="400"></svg>
                </div>
            </div> 
        </div>
    </div>
</form>
