<div class="content-container">
    <form class="flex-form" data-bind="submit: saveConfiguration" novalidate>
        <div class="content-margin">
            <div class="toolbar">
                <button type="submit" class="btn btn-primary" data-bind="disable: spinners.save, css: { 'btn-spinner': spinners.save }">
                    <i class="icon-save"></i> <span>Save</span>
                </button>
            </div>
            <div class="row flex-row">
                <div class="col-xs-12 col-lg-6 flex-vertical">
                    <div class="panel">
                        <div class="panel-body">
                            <h3>Studio Configuration</h3>
                            <div class="form-group">
                                <div>
                                    <label class="control-label">Environment</label>
                                </div>
                                <div style="position: relative">
                                    <button class="btn btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                                        <span data-bind="text: model.environment"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" data-bind="foreach: $root.constructor.environments">
                                        <li><a href="#" data-bind="text: $data, click: $parent.model.environment.bind($parent.model.environment, $data)"></a></li>
                                    </ul>
                                    <span class="help-block" data-bind="validationMessage: model.environment"></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div>
                                    <label class="control-label">
                                        Default replication factor
                                    </label>
                                </div>
                                <input class="form-control" type="number" min="0"
                                       data-bind="numericInput: model.replicationFactor" placeholder="Cluster size (default)" />
                            </div>
                            
                            <div class="form-group" data-bind="with: model">
                                <label class="control-label">&nbsp; </label>
                                <div class="toggle">
                                    <input id="sendUsageStats" type="checkbox" class="styled" data-bind="checked: sendUsageStats">
                                    <label for="sendUsageStats">Help us improve Studio, by gathering anonymous usage statistics</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
