<div class="flex-vertical absolute-fill content-margin traffic-watch">
    <div class="flex-horizontal flex-noshrink">
        <div>
            <button class="btn btn-primary" data-bind="click: pause, visible: liveClient">
                <i class="icon-pause"></i> <span>Pause</span>
            </button>
            <button class="btn btn-primary" data-bind="click: resume, visible: !liveClient()">
                <i class="icon-play"></i> <span>Resume</span>
            </button>
            <button class="btn btn-default" data-bind="click: exportToFile">
                <i class="icon-export"></i><span>Export</span>
            </button>
        </div>
        <div>
            <input class="form-control" placeholder="Filter" data-bind="textInput: filter">
        </div>
        <div class="flex-end text-muted">
            <div class="text-center"><small>Requests:</small></div>
            <div class="text-center">
                <small><strong data-bind="text: stats.count"></strong></small>
            </div>
        </div>
        <div class="flex-end text-muted">
            <div class="text-center"><small>Minimum duration:</small></div>
            <div class="text-center">
                <small><strong data-bind="text: stats.min"></strong></small>
            </div>
        </div>
        <div class="flex-end text-muted" data-toggle="tooltip" title="Average request duration (excluding web sockets)" data-placement="right" >
            <div class="text-center"><small>Average duration:</small></div>
            <div class="text-center">
                <small><strong data-bind="text: stats.avg"></strong></small>
            </div>
        </div>
        <div class="flex-end text-muted">
            <div class="text-center"><small>Maximum duration:</small></div>
            <div class="text-center">
                <small><strong data-bind="text: stats.max"></strong></small>
            </div>
        </div>
    </div>
    <div class="flex-horizontal flex-noshrink">
        <div class="flex-separator"></div>
    <div class="btn-group dropdown-right">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                title="Choose visible types">
            <i class="icon-table"></i><span>Display</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu slidein-style" role="menu" data-bind="dropdownPanel: true">
            <div class="columns-list-container flex-vertical">
                <div class="flex-header">
                    <div class="checkbox">
                        <input type="checkbox" id="select_all" class="styled" data-bind="checked: isSelectAllChecked, event: { change: toggleSelectAll }">
                        <label for="select_all">
                            Select All
                        </label>
                    </div>
                </div>
                <div class="flex-grow">
                    <ul class="column-list scroll" data-bind="foreach: filteredTypeData">
                        <li>
                            <div class="column-name">
                                <div class="checkbox">
                                    <input class="styled" type="checkbox" data-bind="checked: isChecked(), attr: { id: 'typeId_' + propertyName }, event: { change: $parent.filterOnClick.bind($parent, $data) }">
                                    <label data-bind="text: propertyName, attr: { for: 'typeId_' + propertyName }"></label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </ul>
    </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-info btn-checkable" data-bind="click: toggleTail, css: { active: tailEnabled }">
                <i class="icon-logs"></i> <span>Monitoring (tail -f)</span>
            </button>

            <button class="btn btn-sm btn-danger" data-bind="click: clear">
                <i class="icon-cancel"></i><span>Clear</span>
            </button>
        </div>
    </div>

    <div class="flex-grow">
        <div class="has-error results-error" data-bind="visible: isBufferFull">
            <div class="help-block">
                <i class="icon-danger"></i><span> The log buffer is full. <a href="#" data-bind="click: clear">Clear all entries.</a></span>
            </div>
        </div>
        <div class="scroll-stretch">
            <div class="panel-body">
                <virtual-grid class="resizable" params="controller: gridController, emptyTemplate: 'empty-traffic-watch-template'"></virtual-grid>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="empty-traffic-watch-template">
    No entries for now.
</script>

<div class="tooltip json-preview lg js-traffic-watch-tooltip" style="opacity: 0">
</div>
