<div id="notification-center" data-bind="css: { 'show-notifications': notificationCenter.showNotifications() }, with: notificationCenter">
    <div class="padding" data-bind="visible: noNewNotifications">
        <i class="icon-xl icon-empty-set text-muted"></i>
        <h2 class="text-center">No new notifications</h2>
    </div>
    
    <div data-bind="foreach: allNotifications">
        <div data-bind="template: { name: type + '-template' }"></div>
    </div>
</div>

<script type="text/html" id="OperationChanged-template">
    <div data-bind="attr: { class: 'panel ' + cssClass() }">
        <div class="panel-body">
            <div data-bind="if: isCompleted()">
                <h3 data-bind="text: title"></h3>
                <div class="time" data-bind="text: displayDate().format('LLL')"></div>
                <p data-bind="text: message"></p>
                <p data-bind="visible: isCanceled" class="text-warning">The operation was cancelled.</p>

                <div class="text-right">
                    <button data-bind="visible: hasDetails(), click: _.partial($parent.openDetails, $data)"
                            class="btn btn-sm">
                        <i class="icon-details"></i>
                        <span>Details</span>
                    </button>
                    <button class="btn btn-sm" data-bind="click: _.partial($parent.dismiss, $data), enable: !_.includes($parent.spinners.dismiss(), id), css: { 'btn-spinner': _.includes($parent.spinners.dismiss(), id) }">
                        <i class="icon-cancel"></i>
                        <span>Dismiss</span>
                    </button>
                </div>
            </div>

            <div data-bind="if: !isCompleted()">
                <h3>
                    <span class="global-spinner spinner-xs"></span>
                    <span data-bind="text: title"></span>
                </h3>
                <div class="time" data-bind="text: displayDate().format('LLL')"></div>
                <p data-bind="text: message"></p>

                <div class="progress" data-bind="visible: isPercentageProgress(), if: isPercentageProgress()">
                    <div class="progress-bar" role="progressbar"
                         data-bind="style: {  width: percentageProgress() + '%' }, attr: { 'aria-valuenow': progress().Processed, 'aria-valuemax': progress().Total }" aria-valuemin="0">
                        <span class="sr-only" data-bind="text: percentageProgress() + '%'"></span>
                    </div>
                </div>

                <div class="text-right">
                    <button data-bind="visible: hasDetails(), click: _.partial($parent.openDetails, $data)"
                            class="btn btn-sm">
                        <i class="icon-details"></i>
                        <span>Details</span>
                    </button>
                    <button class="btn btn-sm btn-danger" data-bind="click: _.partial($parent.killOperation, $data), visible: killable(), enable: !_.includes($parent.spinners.kill(), id), css: { 'btn-spinner': _.includes($parent.spinners.kill(), id) }">
                        <i class="icon-cancel"></i>
                        <span>Kill</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="AlertRaised-template">
    <div data-bind="attr: { class: 'panel ' + cssClass() }">
        <div class="panel-body">
            <h3 class="text-warning" data-bind="text: title"></h3>
            <div class="time" data-bind="text: displayDate().format('LLL')"></div>
            <p data-bind="text: message"></p>
            <div class="text-right">
                <button data-bind="visible: hasDetails(), click: _.partial($parent.openDetails, $data)"
                        class="btn btn-sm">
                    <i class="icon-details"></i>
                    <span>Details</span>
                </button>

                <div class="dropdown" data-bind="visible: canBePostponed">
                    <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-bind="enable: !_.includes($parent.spinners.postpone(), id), css: { 'btn-spinner': _.includes($parent.spinners.postpone(), id) }">
                        <span>Postpone</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" data-bind="foreach: $parent.constructor.postponeOptions">
                        <li><a href="#" data-bind="text: label, click: _.partial($parents[1].postpone, $parent, value)"></a></li>
                    </ul>
                </div>

                <button class="btn btn-sm" data-bind="click: _.partial($parent.dismiss, $data), enable: !_.includes($parent.spinners.dismiss(), id), css: { 'btn-spinner': _.includes($parent.spinners.dismiss(), id) }">
                    <i class="icon-cancel"></i>
                    <span>Dismiss</span>
                </button>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="RecentError-template">
    <div data-bind="attr: { class: 'panel ' + cssClass() }">
        <div class="panel-body">
            <h3 class="text-warning" data-bind="text: title"></h3>
            <div class="time" data-bind="text: displayDate().format('LLL')"></div>
            <p data-bind="text: message"></p>
            <div class="text-right">
                <button data-bind="visible: hasDetails(), click: _.partial($parent.openDetails, $data)"
                        class="btn btn-sm">
                    Details
                </button>

                <button class="btn btn-sm" data-bind="click: _.partial($parent.dismiss, $data)">
                    <i class="icon-cancel"></i>
                    <span>Dismiss</span>
                </button>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="PerformanceHint-template">
    <div data-bind="attr: { class: 'panel ' + cssClass() }">
        <div class="panel-body">
            <h3 class="text-warning" data-bind="text: title"></h3>
            <div class="time" data-bind="text: displayDate().format('LLL')"></div>
            <p data-bind="text: message"></p>
            
            <div class="checkbox">
                <input data-bind="attr: { id: 'dont-show-' + id }, checked: dontShowAgain" class="styled" type="checkbox">
                <label data-bind="attr: { for: 'dont-show-' + id }">
                    Don't show again
                </label>
            </div>

            <div class="text-right">
                <button data-bind="visible: hasDetails(), click: _.partial($parent.openDetails, $data)"
                        class="btn btn-sm">
                    Details
                </button>

                <button class="btn btn-sm" data-bind="click: _.partial($parent.dismiss, $data)">
                    <i class="icon-cancel"></i>
                    <span>Dismiss</span>
                </button>
            </div>
        </div>
    </div>
</script>
