.keyword-pill {
    &.is-visible {
        animation: slideIn 0.3s ease-in-out;
    }

    &.is-hidden {
        animation: slideOut 0.3s ease-in-out;
    }

    @keyframes slideIn {
        0% {
            transform: translateY(20px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slideOut {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-20px);
            opacity: 0;
        }
    }
}
