<div id="typesConfigurationPage">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" accesskey="n" data-bind="click: newType" title="Create a new type (Alt+N)">
                    <i class="fa fa-plus"></i> New Type
                </button>
            </div>
            <div class="btn-group" data-bind="visible: hasAnyTypesSelected">
                <button type="button" class="btn btn-default" data-bind="click: changeType, enable: canChangeType" title="Change Type Value">
                    <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: deleteSelectedTypes, attr: { title: selectedTypesIndices().length == 1 ? 'Delete Type' : 'Delete Types' }">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
            <div class="btn-group">
                <div id="loadingIndicator" data-bind="visible: showLoadingIndicatorThrottled">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>
        </div>

        <div id="typesGrid" data-bind="widget: { kind: 'virtualTable', itemsSource: typesList, selectedIndices: selectedTypesIndices, gridSelector: '#typesGrid', rowsAreLoading: showLoadingIndicator, contextMenuOptions: ['ChangeValue', 'Delete'], showIds: false, noResultsMessage: 'No types were found!', viewType: viewType }"></div>
    </div>
</div>