*.html
*.less
*.css
*.js
*.json

bin/
obj/

languageService/

typescript/main.ts
typescript/commands/**/*.ts
typescript/common/**/*.ts
typescript/models/**/*.ts
typescript/durandalPlugins/**/*.ts
typescript/transitions/**/*.ts
typescript/overrides/**/*.ts
typescript/viewmodels/**/*.ts
typescript/widgets/**/*.ts
typings/

wwwroot/App
wwwroot/Content/ace
wwwroot/Content/img
wwwroot/Content/css/fonts/icomoon.template.css.hbs
wwwroot/Content/rbush
wwwroot/dist
wwwroot/icons

# autogen
typescript/configuration.ts 
typescript/endpoints.ts
typescript/icons.ts

aceBuild
