*.html
*.less
*.css
*.js
*.json

bin/
obj/

languageService/

typescript/main.ts
typescript/commands
typescript/common
typescript/models
typescript/durandalPlugins
typescript/transitions
typescript/overrides
typescript/viewmodels
typescript/widgets
typings/

wwwroot/App
wwwroot/Content/ace
wwwroot/Content/img
wwwroot/Content/css/fonts/icomoon.template.css.hbs
wwwroot/Content/rbush
wwwroot/dist
wwwroot/icons

# autogen
typescript/configuration.ts 
typescript/endpoints.ts
typescript/icons.ts

aceBuild
