<div class="modal-dialog modal-lg cmp-xchg-warnings" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: cancel" aria-hidden="true">
                <i class="icon-cancel"></i>
            </button>
            <h4 class="modal-title">Compare Exchange warnings</h4>
        </div>
        <div class="modal-body">
            <div class="margin-top margin-top-lg">
                The following detected warnings might affect the Compare Exchange data:
            </div>
            <div class="margin-top margin-top-lg" data-bind="visible: valueWarnings().length">
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Location in Value</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: valueWarnings">
                        <tr>
                            <td nowrap="nowrap">
                                <a href="#" class="text-warning" data-bind="click: _.partial($root.goToValue, $data)" title="Click to go to warning">
                                    <i class="icon-warning text-warning"></i>
                                    <span data-bind="text: $root.warningLocation($data)"></span>
                                </a>
                            </td>
                            <td>
                                <span class="description" data-bind="text: text"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="margin-top margin-top-lg" data-bind="visible: metadataWarnings().length">
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Location in Metadata</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: metadataWarnings">
                        <tr>
                            <td nowrap="nowrap">
                                <a href="#" class="text-warning" data-bind="click: _.partial($root.goToMetadata, $data)" title="Click to go to warning">
                                    <i class="icon-warning text-warning"></i>
                                    <span data-bind="text: $root.warningLocation($data)"></span>
                                </a>
                            </td>
                            <td>
                                <span class="description" data-bind="text: text"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bind="click: cancel">Cancel</button>
            <button type="button" class="btn btn-primary" data-bind="click: confirm">Save anyway</button>
        </div>
    </div>
</div>
