<div class="documents content-margin">
    <div class="flex-window stretch">
        <div class="flex-window-head">
            <div class="clearfix">
       
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-bind="click: newDocument">
                    <i class="icon-plus"></i>
                    <span>New document</span>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="enable: inSpecificCollection">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" data-bind="click: newDocumentInCollection.bind($root)"><i class="icon-plus"></i> <span>New document in current collection</span></a></li>
                </ul>               
            </div>

                <div class="btn-group-label" data-bind="css: { active: selectedItemsCount }" data-label="Selection" role="group">
                    <button type="button" class="btn btn-danger" data-bind="click: deleteSelected, css: { 'btn-spinner': spinners.delete() }, enable: deleteEnabled">
                        <span class="icon-trash"></span> <span>Delete</span>
                    </button>
                    <div class="btn-group has-disable-reason" data-bind="attr: { 'data-original-title': copyDisabledReason().reason }">
                        <button type="button" class="btn" data-bind="disable: copyDisabledReason().disabled || spinners.copy(), click: copySelectedDocs, css: { 'btn-spinner': spinners.copy() }">
                            <span class="icon-copy"></span> <span>Copy</span>
                        </button>
                        <button type="button" class="btn dropdown-toggle" disabled="disabled" data-toggle="dropdown" data-bind="disable: copyDisabledReason().disabled">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-bind="click: copySelectedDocIds">Copy IDs</a></li>
                        </ul>
                    </div>
                    <!-- TODO
                    <div class="btn-group">
                        <button type="button" class="btn" disabled="disabled" data-toggle="button">
                            <span class="icon-export"></span> <span>Export</span>
                        </button>
                    </div>-->
                </div>
            </div>

            <div class="clearfix">
                <div class="pull-right">
                    
                    <div class="btn-group" data-bind="visible: canExportAsCsv">
                        <button type="button" class="btn btn-default btn-sm" data-bind="click: exportCsv" title="Exports collection to CSV file (visible columns only)">
                            <i class="icon-csv-export"></i>
                            <span>Export CSV</span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-bind="click: exportCsvFull"><i class="icon-csv-export"></i> <span>Export full documents as a CSV file.</span></a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown-right">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            data-bind="css: { active: columnsSelector.customLayout }, attr: { title: columnsSelector.customLayout() ? 'Using custom columns and its order' : 'Choose visible columns' } ">
                            <i class="icon-table"></i><span>Display</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu colselect-dropdown slidein-style" role="menu" data-bind="dropdownPanel: true">
                            <div data-bind="compose: $root.columnsSelector"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-window-scroll">
            <div class="has-error results-error" data-bind="visible: dataChanged()">
                <div class="help-block">
                    <i class="icon-danger"></i><span>The data has changed. Your results may contain duplicates or non-current entries. <a href="#" data-bind="click: refresh">Refresh</a></span>
                </div>
            </div>
            <div class="scroll-stretch">
                <div class="panel-body">
                    <virtual-grid class="resizable documents-grid" params="controller: gridController, emptyTemplate: 'empty-collection-template'"></virtual-grid>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <form method="post" download target="hidden-form" id="exportCsvForm">
            <input type="hidden" name="ExportOptions"/>
        </form>
    </div>
</div>

<script type="text/html" id="empty-collection-template">
    <div data-bind="text: $root.currentCollection().isAllDocuments ? 'There are no documents in the database' : 'Collection is empty'">
    </div>
</script>
<div class="tooltip json-preview js-documents-preview" style="opacity: 0">
    <pre><code></code></pre>
</div>
