<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <CustomAction Id="CheckPortAvailability" Return="check" Execute="immediate" BinaryKey="Raven.Setup.CustomActions.CA.dll" DllEntry="CheckPortAvailability" />
    
    <Property Id="PORT_AVAILABILITY" />
      
    <UI>
      <Dialog Id="ServiceSettings" Width="370" Height="270" Title="[ProductName] Setup">
          <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back" />
          <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
              <Condition Action="disable">SERVICE_NAME = "" OR SERVICE_PORT = ""</Condition>
              <Condition Action="enable"><![CDATA[SERVICE_NAME <> "" AND SERVICE_PORT <> ""]]></Condition>
          </Control>
          <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel" />
          <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
          <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
              <Text>Please provide settings or leave default ones</Text>
          </Control>
          <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
          <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
              <Text>{\WixUI_Font_Title}Service settings</Text>
          </Control>
          <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
          <Control Type="Text" Id="nameLabel" Width="60" Height="17" X="45" Y="90">
              <Text>Service name:</Text>
          </Control>
          <Control Type="Text" Id="portLabel" Width="60" Height="17" X="45" Y="112">
              <Text>Port:</Text>
          </Control>
          <Control Type="Edit" Id="ServiceName" Width="172" Height="15" X="109" Y="88" Property="SERVICE_NAME" Text="{60}" />
          <Control Type="Edit" Id="Port" Width="50" Height="15" X="109" Y="109" Property="SERVICE_PORT" Text="{6}" />
          <Control Type="PushButton" Id="checkPort" Width="75" Height="17" X="165" Y="108">
              <Text>Check availability</Text>
          </Control>
          <Control Type="Text" Id="portInfo" Width="104" Height="17" X="248" Y="112" Property="PORT_AVAILABILITY" Text="[PORT_AVAILABILITY]" />
      </Dialog>
     </UI>
	</Fragment>
</Wix>