<div class="modal-dialog" role="document">
    <div class="modal-content neo-modal">
        <div class="modal-body text-center">
            <img src="../../../../Content/img/sharding/shard.png" alt="Shard" class="img-responsive margin-center" style="width: 70px" />
            <h2 class="text-capitalize">Select Shard</h2>
            <p>
                This view can display data only for a single shard.<br>
                Select a shard to view:
            </p>
            <div class="flex-horizontal flex-content-center margin-top-lg">
                <div class="btn-group">
                    <button type="button" class="btn btn-default set-size dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon-shard text-info"></i> <span data-bind="text: $root.form.shard().shardName"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" data-bind="foreach: shards">
                        <li><a href="#" data-bind="click: _.partial($root.changeShard, $data)"><i class="icon-shard"></i> <span data-bind="text: shardName"></span></a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default set-size dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon-node text-success"></i> <span>Node</span> <span data-bind="text: $root.form.node"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" data-bind="foreach: shardNodes">
                        <li>
                            <a href="#" data-bind="click: _.partial($root.changeNodeTag, $data)">
                                <i class="icon-node"></i> Node <span data-bind="text: $data"></span>
                                <i class="icon-link" data-bind="visible: $data !== $root.currentNode()"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <button class="btn btn-info" data-bind="click: shardSelected">
                        View <i class="icon-arrow-thin-right margin-left-sm"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
