<ul class="breadcrumb">
    <li>
        <h3>
            <a href="#resources">
                Databases
            </a>
        </h3>
    </li>
    <li data-bind="with: activeDatabase">
        <a data-bind="text: name, attr: { href: $parent.appUrls.documents }"></a>
    </li>
    <li class="active">
        <a data-bind="attr: { href: appUrls.indexes }">Indexes</a>
    </li>
    <li class="active">
        <span>Merge Suggestions</span>
    </li>
</ul>

<div id="index-merge-suggestions" class="panel-group">
    <div class="panel index-group panel-default">
        <div class="panel-heading">
            <h4 class="panel-title text-info">Suggestions</h4>
        </div>
        <div class="panel-body" data-bind="visible: suggestions().length == 0">
            <h3 class="text-info text-center"> No merge suggestions availiable.</h3>
        </div>

        <div class="panel-group panel-body" id="accordion" data-bind="foreach: suggestions, visible: suggestions().length > 0">
            <div data-bind="if: $data.isSurpassingIndex()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-bind="text: 'Surpassing index: ' + surpassingIndex, attr: { href: '#collapse' + $index() }"></a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" data-bind="attr: { id: 'collapse' + $index() }">
                        <div class="panel-body">
                            <div>Indexes to delete:</div>
                            <ul data-bind="foreach: canDelete">
                                <li data-bind="text: $data"></li>
                            </ul>
                            <button data-bind="click: $root.deleteIndexes.bind($root, $index())" class="btn btn-primary">Delete indexes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="ifnot: $data.isSurpassingIndex()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" data-bind="text: 'Merge Suggestion for ' + collection, attr: { href: '#collapse' + $index() }"></a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" data-bind="attr: { id: 'collapse' + $index() }">
                        <div class="panel-body">
                            <div>Indexes to merge:</div>
                            <ul data-bind="foreach: canMerge">
                                <li data-bind="text: $data"></li>
                            </ul>

                            <a class="btn btn-primary" href="#" data-bind="attr: { id: id, href: $root.mergedIndexUrl(id()) }, click: $root.saveMergedIndex.bind($root, id(), $data)" title="Navigate to Save Merged Index"><i class="fa fa-external-link"></i> Show Merged Index</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel index-group panel-default">
        <div class="panel-heading">
            <h4 class="panel-title text-info">
                <a href="#collapseUnmergable" data-toggle="collapse">Unmergable (<span data-bind="text: unmergables().length"></span>)</a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="collapseUnmergable">
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Index name</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: unmergables">
                        <tr>
                            <td data-bind="text: indexName"></td>
                            <td data-bind="text: reason"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel index-group panel-default" data-bind="visible: idleOrAbandonedIndexes().length > 0">
        <div class="panel-heading">
            <div class="pull-right indexGroup-actions-container">
                <button class="btn btn-danger btn-sm" data-bind="click: deleteAllIdleOrAbandoned" title="Delete all idle or abandoned indexes">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
            <h4 class="panel-title text-info">Idle or Abandoned</h4>
        </div>
        <div class="panel-body">
            <ul data-bind="foreach: idleOrAbandonedIndexes">
                <li>
                    <span class="index-name" data-bind="text: Name"></span>
                    <span>: </span>
                    <span data-bind="text: Priority"></span>
                    <button class="btn btn-danger btn-sm" data-bind="click: $root.deleteIndex.bind($root, Name)" title="Delete index">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel index-group panel-default" data-bind="visible: notUsedForLastWeek().length > 0">
        <div class="panel-heading">
            <div class="pull-right indexGroup-actions-container">
                <button class="btn btn-danger btn-sm" data-bind="click: deleteAllNotUsedForWeek" title="Delete all indexes not used within last week">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
            <h4 class="panel-title text-info">Not used for over a week.</h4>
        </div>
        <div class="panel-body">
            <ul data-bind="foreach: notUsedForLastWeek">
                <li>
                    <span class="index-name" data-bind="text: Name"></span>
                    <span>: </span>
                    <span data-bind="text: LastQueryTimestampText"></span>
                    <button class="btn btn-danger btn-sm" data-bind="click: $root.deleteIndex.bind($root, Name)" title="Delete index">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
