name: Studio conventions

on:
  push:
    branches:
        - v7.0

  pull_request:
    branches:
        - v7.0
jobs:
  conventions:
    name: Studio Conventions
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json

    - name: Install dependencies
      run: dotnet restore

    - name: Build dotnet
      run: dotnet build

    - name: Install npm dependencies
      run: npm install
      working-directory: ./src/Raven.Studio
  
    - name: Restore Studio
      run: npm run restore
      working-directory: ./src/Raven.Studio

    - name: Lint Studio
      if: always()
      run: npm run lint
      working-directory: ./src/Raven.Studio

    - name: Prettier Studio
      if: always()
      run: |
        branch=${GITHUB_BASE_REF:-$GITHUB_REF_NAME}

        [[ ${branch:1:1} -lt 6 ]] && echo "skipping prettier for ravendb versions below 6.0" && exit 0

        npm run prettier
      working-directory: ./src/Raven.Studio
