<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlExpress"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Test;Integrated Security=SSPI;Connection Timeout=1"
         />
    <add name="LocalHost"
        providerName="System.Data.SqlClient"
        connectionString="Data Source=localhost;Initial Catalog=Test;Integrated Security=SSPI;Connection Timeout=1"
         />
  </connectionStrings>
</configuration>